Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @alyonurchick1, @linturaven

fix(bookmark-tabs): fix empty tabs render problem
  src/components/Badge/Badge.css
  src/components/BookmarkTabs/BookmarkTabs.tsx
  src/components/StepsCanary/Steps.css
  src/components/StepsCanary/StepsItem/StepsItem.css
  src/components/StepsCanary/__stand__/Steps.variants.css
Owners: @linturaven, @gizeasy

docs: fix docs typos
  src/components/Attachment/__stand__/Attachment.use.stand.mdx
  src/components/BookmarkTabs/__stand__/BookmarkTabs.dev.stand.mdx
  src/components/Combobox/__stand__/Combobox.dev.stand.mdx
  src/components/ComboboxDeprecated/__stand__/Combobox.dev.stand.mdx
  src/components/ContextMenu/__stand__/ContextMenu.dev.stand.mdx
  src/components/File/__stand__/File.dev.stand.mdx
  src/components/Slider/__stand__/Slider.dev.stand.mdx
  src/components/Tabs/__stand__/Tabs.dev.stand.mdx
  src/hocs/withTooltip/__stand__/withTooltip.stand.mdx
  src/hooks/useBreakpoints/__stand__/useBreakpoints.stand.mdx
  src/hooks/useBreakpointsDeprecated/__stand__/useBreakpoints.stand.mdx
  src/hooks/useChoiceGroup/__stand__/useChoiceGroup.stand.tsx
  src/hooks/useHideElementsInLine/__stand__/useHideElementsInLine.stand.mdx
  src/hooks/useResizableContent/__stand__/useResizableContent.stand.mdx
Owners: @alyonurchick1, @gizeasy

test(Attachment, FieldComponents): add tests
  .github/workflows/deploy.yml
  .github/workflows/tests.yml
  .husky/pre-push
  __mocks__/IconMock.tsx
  cspell.json
  package.json
  src/components/Attachment/__tests__/Attachment.test.tsx
  src/components/Button/__tests__/Button.test.tsx
  src/components/DateTime/__tests__/DateTime_type_date.test.tsx
  src/components/DragNDropField/DragNDropFieldTooltip/DragNDropFieldTooltip.tsx
  src/components/FieldComponents/FieldArrayValueInlineControl/__tests__/FieldArrayValueInlineControl.test.tsx
  src/components/FieldComponents/FieldArrayValueItem/FieldArrayValueItem.tsx
  src/components/FieldComponents/FieldArrayValueItem/__tests__/FieldArrayValueItem.test.tsx
  src/components/FieldComponents/FieldButton/__tests__/FieldButton.test.tsx
  src/components/FieldComponents/FieldCaption/__tests__/FieldCaption.test.tsx
  src/components/FieldComponents/FieldClearButton/__tests__/FieldClearButton.test.tsx
  src/components/FieldComponents/FieldControlLayout/__tests__/FieldControlLayout.test.tsx
  src/components/FieldComponents/FieldControlLayout/__tests__/FieldControlLayoutHelpers.test.ts
  src/components/FieldComponents/FieldCounter/FieldCounter.tsx
  src/components/FieldComponents/FieldCounter/__tests__/FieldCounter.test.tsx
  src/components/FieldComponents/FieldInput/__tests__/FieldInput.test.tsx
  src/components/FieldComponents/FieldLabel/FieldLabel.tsx
  src/components/FieldComponents/FieldLabel/__tests__/FieldLabel.test.tsx
  src/components/FieldComponents/FieldLabel/helpers.ts
  src/components/FieldComponents/FieldToggleVisiblePasswordButton/FieldToggleVisiblePasswordButton.tsx
  src/components/FieldComponents/FieldToggleVisiblePasswordButton/__tests__/FieldToggleVisiblePasswordButton.test.tsx
  src/components/FieldComponents/FieldWrapper/FieldWrapper.tsx
  src/components/FieldComponents/FieldWrapper/__tests__/FieldWrapper.test.tsx
  src/components/FieldComponents/FieldWrapper/helpers.ts
  src/components/FieldComponents/FieldWrapper/types.ts
  tsconfig.json
  yarn.lock
Owners: @gizeasy

test(Attachment, FieldComponents): add tests (#3910)
  .github/workflows/deploy.yml
  .github/workflows/tests.yml
  .husky/pre-push
  __mocks__/IconMock.tsx
  cspell.json
  package.json
  src/components/Attachment/__tests__/Attachment.test.tsx
  src/components/Button/__tests__/Button.test.tsx
  src/components/DateTime/__tests__/DateTime_type_date.test.tsx
  src/components/DragNDropField/DragNDropFieldTooltip/DragNDropFieldTooltip.tsx
  src/components/FieldComponents/FieldArrayValueInlineControl/__tests__/FieldArrayValueInlineControl.test.tsx
  src/components/FieldComponents/FieldArrayValueItem/FieldArrayValueItem.tsx
  src/components/FieldComponents/FieldArrayValueItem/__tests__/FieldArrayValueItem.test.tsx
  src/components/FieldComponents/FieldButton/__tests__/FieldButton.test.tsx
  src/components/FieldComponents/FieldCaption/__tests__/FieldCaption.test.tsx
  src/components/FieldComponents/FieldClearButton/__tests__/FieldClearButton.test.tsx
  src/components/FieldComponents/FieldControlLayout/__tests__/FieldControlLayout.test.tsx
  src/components/FieldComponents/FieldControlLayout/__tests__/FieldControlLayoutHelpers.test.ts
  src/components/FieldComponents/FieldCounter/FieldCounter.tsx
  src/components/FieldComponents/FieldCounter/__tests__/FieldCounter.test.tsx
  src/components/FieldComponents/FieldInput/__tests__/FieldInput.test.tsx
  src/components/FieldComponents/FieldLabel/FieldLabel.tsx
  src/components/FieldComponents/FieldLabel/__tests__/FieldLabel.test.tsx
  src/components/FieldComponents/FieldLabel/helpers.ts
  src/components/FieldComponents/FieldToggleVisiblePasswordButton/FieldToggleVisiblePasswordButton.tsx
  src/components/FieldComponents/FieldToggleVisiblePasswordButton/__tests__/FieldToggleVisiblePasswordButton.test.tsx
  src/components/FieldComponents/FieldWrapper/FieldWrapper.tsx
  src/components/FieldComponents/FieldWrapper/__tests__/FieldWrapper.test.tsx
  src/components/FieldComponents/FieldWrapper/helpers.ts
  src/components/FieldComponents/FieldWrapper/types.ts
  tsconfig.json
  yarn.lock
Owners: @gizeasy

fix(Tabs): default getItemKey us getItemLabel
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/helpers.tsx
Owners: @gizeasy

feat(Tabs, BookmarkTabs): add getItemKey for Tabs, fix empty tabs render problem for BookmarkTabs
  cspell.json
  src/components/Badge/Badge.css
  src/components/BookmarkTabs/BookmarkTabs.tsx
  src/components/StepsCanary/Steps.css
  src/components/StepsCanary/StepsItem/StepsItem.css
  src/components/StepsCanary/__stand__/Steps.variants.css
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/TabsFitModeDropdownWrapper/TabsFitModeDropdownWrapper.tsx
  src/components/Tabs/TabsMoreItems/TabsMoreItems.tsx
  src/components/Tabs/__stand__/Tabs.dev.stand.mdx
  src/components/Tabs/helpers.tsx
  src/components/Tabs/types.ts
Owners: @gizeasy, @linturaven, @alyonurchick1

docs: fix docs typos (#3902)
  src/components/Attachment/__stand__/Attachment.use.stand.mdx
  src/components/BookmarkTabs/__stand__/BookmarkTabs.dev.stand.mdx
  src/components/Combobox/__stand__/Combobox.dev.stand.mdx
  src/components/ComboboxDeprecated/__stand__/Combobox.dev.stand.mdx
  src/components/ContextMenu/__stand__/ContextMenu.dev.stand.mdx
  src/components/File/__stand__/File.dev.stand.mdx
  src/components/Slider/__stand__/Slider.dev.stand.mdx
  src/components/Tabs/__stand__/Tabs.dev.stand.mdx
  src/hocs/withTooltip/__stand__/withTooltip.stand.mdx
  src/hooks/useBreakpoints/__stand__/useBreakpoints.stand.mdx
  src/hooks/useBreakpointsDeprecated/__stand__/useBreakpoints.stand.mdx
  src/hooks/useChoiceGroup/__stand__/useChoiceGroup.stand.tsx
  src/hooks/useHideElementsInLine/__stand__/useHideElementsInLine.stand.mdx
  src/hooks/useResizableContent/__stand__/useResizableContent.stand.mdx
Owners: @alyonurchick1, @gizeasy

test(AutoComplete): add tests
  cspell.json
  src/components/AutoCompleteCanary/AutoComplete.tsx
  src/components/AutoCompleteCanary/AutoCompleteTypeText/AutoCompleteTypeText.tsx
  src/components/AutoCompleteCanary/AutoCompleteTypeTextArray/AutoCompleteTypeTextArray.tsx
  src/components/AutoCompleteCanary/__stand__/AutoComplete.variants.tsx
  src/components/AutoCompleteCanary/__tests__/AutoComplite.test.tsx
  src/components/AutoCompleteCanary/types.ts
  src/components/AutoCompleteCanary/useAutoComplete.ts
  src/components/TextFieldCanary/TextFieldTypeTextArray/TextFieldTypeTextArray.tsx
Owners: @gizeasy

test(AutoComplete): add tests (#3913)
  cspell.json
  src/components/AutoCompleteCanary/AutoComplete.tsx
  src/components/AutoCompleteCanary/AutoCompleteTypeText/AutoCompleteTypeText.tsx
  src/components/AutoCompleteCanary/AutoCompleteTypeTextArray/AutoCompleteTypeTextArray.tsx
  src/components/AutoCompleteCanary/__stand__/AutoComplete.variants.tsx
  src/components/AutoCompleteCanary/__tests__/AutoComplite.test.tsx
  src/components/AutoCompleteCanary/types.ts
  src/components/AutoCompleteCanary/useAutoComplete.ts
  src/components/TextFieldCanary/TextFieldTypeTextArray/TextFieldTypeTextArray.tsx
Owners: @gizeasy

test(Avatar): add tests
  src/components/Avatar/Avatar.tsx
  src/components/Avatar/__tests__/Avatar.test.tsx
  src/components/Avatar/helpers.ts
Owners: @gizeasy

docs: replace informers
  src/components/AttachmentDeprecated/__stand__/Attachment.dev.stand.mdx
  src/components/AutoComplete/__stand__/AutoComplete.dev.stand.mdx
  src/components/AutoCompleteCanary/__stand__/AutoComplete.dev.stand.mdx
  src/components/AutoCompleteCanary/__stand__/AutoComplete.stand.mdx
  src/components/AutoCompleteCanary/__stand__/AutoComplete.use.stand.mdx
  src/components/Avatar/__stand__/Avatar.dev.stand.mdx
  src/components/Avatar/__stand__/Avatar.stand.mdx
  src/components/AvatarGroup/__stand__/AvatarGroup.dev.stand.mdx
  src/components/Badge/__stand__/Badge.dev.stand.mdx
  src/components/Badge/__stand__/Badge.stand.mdx
  src/components/BookmarkTabs/__stand__/BookmarkTabs.dev.stand.mdx
  src/components/Button/__stand__/Button.dev.stand.mdx
  src/components/Card/__stand__/Card.stand.mdx
  src/components/Chips/__stand__/Chips.dev.stand.mdx
  src/components/ChoiceGroup/__stand__/ChoiceGroup.dev.stand.mdx
  src/components/Combobox/__stand__/Combobox.dev.stand.mdx
  src/components/ComboboxDeprecated/__stand__/Combobox.dev.stand.mdx
  src/components/DatePicker/__stand__/DatePicker.dev.stand.mdx
  src/components/DateTime/__stand__/DateTime.dev.stand.mdx
  src/components/DragNDropFieldCanary/__stand__/DragNDropField.dev.stand.mdx
  src/components/File/__stand__/File.stand.mdx
  src/components/Informer/__stand__/Informer.dev.stand.mdx
  src/components/Radio/__stand__/Radio.stand.mdx
  src/components/Responses/__stand__/Responses.stand.mdx
  src/components/Select/__stand__/Select.dev.stand.mdx
  src/components/SelectDeprecated/__stand__/Select.dev.stand.mdx
  src/components/Skeleton/__stand__/Skeleton.use.stand.mdx
  src/components/Slider/__stand__/Slider.dev.stand.mdx
  src/components/Spoiler/__stand__/Spoiler.dev.stand.mdx
  src/components/Steps/__stand__/Steps.dev.stand.mdx
  src/components/Switch/__stand__/Switch.use.stand.mdx
  src/components/Table/__stand__/Table.dev.stand.mdx
  src/components/Table/__stand__/Table.stand.mdx
  src/components/Tabs/__stand__/Tabs.dev.stand.mdx
  src/components/Text/__stand__/Text.dev.stand.mdx
  src/components/TextDeprecated/__stand__/Text.dev.stand.mdx
  src/components/TextField/__stand__/TextField.dev.stand.mdx
  src/components/Theme/__stand__/Theme.dev.stand.mdx
  src/components/UserSelect/__stand__/UserSelect.dev.stand.mdx
  src/components/UserSelectDeprecated/__stand__/UserSelect.dev.stand.mdx
Owners: @alyonurchick1

ssss
  .husky/pre-push
  package.json
  src/components/FieldComponents/FieldArrayValueInlineControl/FieldArrayValueInlineControl.tsx
  src/components/FieldComponents/FieldArrayValueInlineControl/__tests__/FieldArrayValueInlineControl.test.tsx
  src/components/FieldComponents/FieldToggleVisiblePasswordButton/FieldToggleVisiblePasswordButton.tsx
  src/components/SelectCanary/SelectDropdown/SelectDropdown.tsx
  src/components/SelectCanary/SelectMultiple/SelectMultiple.tsx
  src/components/SelectCanary/SelectRenderItem/SelectRenderItem.tsx
  src/components/SelectCanary/SelectSingle/SelectSingle.tsx
  src/components/SelectCanary/__stand__/Select.dev.stand.mdx
  src/components/SelectCanary/__stand__/Select.variants.tsx
  src/components/SelectCanary/__stand__/examples/SelectExampleSelectAll/SelectExampleSelectAll.tsx
  src/components/SelectCanary/defaultProps.ts
  src/components/SelectCanary/useSelect/useSelect.ts
  src/components/TextFieldCanary/TextFieldTypeTextArray/TextFieldTypeTextArray.tsx
  src/components/TextFieldCanary/__stand__/TextField.variants.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleMask/TextFieldExampleMask.tsx
  src/hooks/useForkRef/useForkRef.ts
  src/hooks/useRefs/useRefs.ts
  src/stand/standPageDecoration.tsx
  src/utils/getGroups.ts
  src/utils/state/usePickAtom/usePickAtom.ts
Owners: @gizeasy, @alyonurchick1

доработка
  src/components/AvatarGroup/__stand__/AvatarGroup.dev.stand.mdx
  src/docs/start/start.stand.mdx
  src/hooks/useChoiceGroupIndexed/__stand__/useChoiceGroupIndexed.stand.mdx
  src/hooks/useComponentBreakpointsDeprecated/__stand__/useComponentBreakpoints.stand.mdx
  src/hooks/useResizableContent/__stand__/useResizableContent.stand.mdx
Owners: @alyonurchick1

ddd
  src/components/SelectCanary/SelectDropdown/SelectDropdown.tsx
  src/components/SelectCanary/SelectGroupLabel/SelectGroupLabel.tsx
  src/components/SelectCanary/SelectMultiple/SelectMultiple.tsx
  src/components/SelectCanary/useSelect/useSelect.ts
  src/hooks/useRefs/useRefs.ts
  src/stand/standPageDecoration.tsx
  src/utils/state/useCreateAtom/useCreateAtom.ts
Owners: @gizeasy

fix(Transition): fixed findDOMNode is not a function in react 19
  src/components/ContextMenu/ContextMenuWrapper/ContextMenuWrapper.tsx
Owners: @gizeasy

fix(Transition): fixed findDOMNode is not a function in react 19 (#3922)
  src/components/ContextMenu/ContextMenuWrapper/ContextMenuWrapper.tsx
Owners: @gizeasy

release: 5.18.0
  package.json
Owners: @gizeasy

changelog: 5.18.0
  CHANGELOG.md
Owners: @alyonurchick1

fix(Attachment): fixes attachment actions key
  src/components/Attachment/Attachment.tsx
Owners: @gizeasy

fix(Attachment): fixes attachment actions key (#3923)
  src/components/Attachment/Attachment.tsx
Owners: @gizeasy

ss
  package.json
  src/components/FieldComponents/FieldArrayValueInlineControl/FieldArrayValueInlineControl.css
  src/components/FieldComponents/FieldControlLayout/FieldControlLayout.css
  src/components/SelectCanary/SelectDropdown/SelectDropdown.tsx
  src/components/SelectCanary/SelectGroupLabel/SelectGroupLabel.tsx
  src/components/SelectCanary/SelectItemAll/SelectItemAll.tsx
  src/components/SelectCanary/SelectMultiple/SelectMultiple.tsx
  src/components/SelectCanary/SelectPopover/SelectPopover.tsx
  src/components/SelectCanary/SelectRenderItem/SelectRenderItem.tsx
  src/components/SelectCanary/SelectSingle/SelectSingle.tsx
  src/components/SelectCanary/__stand__/Select.dev.stand.mdx
  src/components/SelectCanary/__stand__/Select.variants.tsx
  src/components/SelectCanary/__stand__/examples/SelectExampleCreate/SelectExampleCreate.tsx
  src/components/SelectCanary/__stand__/examples/SelectExampleDropdownOpen/SelectExampleDropdownOpen.tsx
  src/components/SelectCanary/__stand__/examples/SelectExampleIsLoading/SelectExampleIsLoading.tsx
  src/components/SelectCanary/__stand__/examples/SelectExampleOpenByFocus/SelectExampleOpenByFocus.tsx
  src/components/SelectCanary/__stand__/examples/SelectExampleRenderItem/SelectExampleRenderItem.css
  src/components/SelectCanary/__stand__/examples/SelectExampleRenderItem/SelectExampleRenderItem.tsx
  src/components/SelectCanary/__stand__/examples/SelectExampleRenderValue/SelectExampleRenderValue.tsx
  src/components/SelectCanary/__stand__/examples/SelectExampleVirtualScroll/SelectExampleVirtualScroll.tsx
  src/components/SelectCanary/index.ts
  src/components/SelectCanary/types.ts
  src/components/SelectCanary/useSearch/useSearch.ts
  src/components/SelectCanary/useSelect/useSelect.ts
  src/hooks/useVirtualScroll/useVirtualScroll.ts
  src/utils/getGroups.ts
  src/utils/state/useCreateAtom/useCreateAtom.ts
  src/utils/state/withCtx/withCtx.tsx
  yarn.lock
Owners: @gizeasy, @linturaven, @alyonurchick1

dddd
  src/components/SelectCanary/SelectControlLayout/SelectControlLayout.tsx
  src/components/SelectCanary/SelectDropdown/SelectDropdown.tsx
  src/components/SelectCanary/SelectSingle/SelectSingle.tsx
  src/components/SelectCanary/SelectSingle/__test__/SelectSingle.test.tsx
  src/components/SelectCanary/__stand__/Select.dev.stand.mdx
  src/components/SelectCanary/__stand__/examples/SelectExampleOpenByFocus/SelectExampleOpenByFocus.tsx
  src/components/SelectCanary/types.ts
  src/components/SelectCanary/useSelect/useSelect.ts
Owners: @gizeasy, @alyonurchick1

fix:(Table) исправление ререндеров при скролле
  src/components/Table/Table.tsx
Owners: @gizeasy

eee
  src/components/SelectCanary/SelectSingle/SelectSingle.tsx
  src/components/SelectCanary/SelectSingle/__test__/SelectSingle.test.tsx
  src/components/SelectCanary/useSelect/useSelect.ts
  src/utils/object/objectWithDefault.ts
Owners: @gizeasy

Update SelectSingle.test.tsx
  src/components/SelectCanary/SelectSingle/__test__/SelectSingle.test.tsx
Owners: @gizeasy

sss
  package.json
  src/components/FieldComponents/FieldControlLayout/FieldControlLayout.tsx
  src/components/ListCanary/ListLoader/ListLoader.tsx
  src/components/SelectCanary/SelectControlLayout/SelectControlLayout.css
  src/components/SelectCanary/SelectControlLayout/cnSelectControlLayout.ts
  src/components/SelectCanary/SelectDropdown/SelectDropdown.tsx
  src/components/SelectCanary/SelectInput/SelectInput.css
  src/components/SelectCanary/SelectInput/cnSelectInput.ts
  src/components/SelectCanary/SelectItem/SelectItem.css
  src/components/SelectCanary/SelectItem/SelectItem.tsx
  src/components/SelectCanary/SelectItemAll/SelectItemAll.css
  src/components/SelectCanary/SelectItemAll/SelectItemAll.tsx
  src/components/SelectCanary/SelectLoader/SelectLoader.css
  src/components/SelectCanary/SelectLoader/SelectLoader.tsx
  src/components/SelectCanary/SelectMultiple/SelectMultiple.tsx
  src/components/SelectCanary/SelectMultiple/__test__/SelectMultiple.test.tsx
  src/components/SelectCanary/SelectSingle/SelectSingle.tsx
  src/components/SelectCanary/__stand__/Select.dev.stand.mdx
  src/components/SelectCanary/__stand__/Select.variants.tsx
  src/components/SelectCanary/useSelect/useSelect.ts
  tsconfig.json
  yarn.lock
Owners: @gizeasy, @linturaven, @alyonurchick1

sss
  package.json
  src/components/AutoComplete/AutoComplete.tsx
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleOnDropAccepted/DragNDropFieldExampleOnDropAccepted.tsx
  src/components/SelectCanary/SelectMultiple/SelectMultiple.tsx
  src/components/Slider/useSliderStationing.ts
  src/components/TextFieldCanary/TextFieldCanary.tsx
  src/components/TextFieldCanary/TextFieldTypeNumber/TextFieldTypeNumber.tsx
  src/components/ThemeToggler/__stand__/examples/ThemeTogglerExampleGetters/ThemeTogglerExampleGetters.tsx
  tsconfig.json
  yarn.lock
Owners: @gizeasy

sss
  package.json
  src/components/AutoCompleteCanary/__stand__/AutoComplete.variants.tsx
  src/components/SelectCanary/SelectDropdown/SelectDropdown.tsx
  src/components/SelectCanary/SelectItemAll/SelectItemAll.tsx
  src/components/SelectCanary/SelectMultiple/SelectMultiple.tsx
  src/components/SelectCanary/SelectMultiple/__test__/SelectMultiple.test.tsx
  src/components/SelectCanary/SelectSingle/SelectSingle.tsx
  src/components/SelectCanary/defaultProps.ts
  src/components/SelectCanary/types.ts
  src/utils/object/objectWithDefault.ts
  yarn.lock
Owners: @gizeasy

dd
  src/components/Button/__stand__/examples/ButtonExampleBasic/ButtonExampleBasic.tsx
  src/components/SelectCanary/useSelect/useSelect.ts
Owners: @gizeasy

chore: fixed build and lint
  .github/workflows/deploy.yml
  .husky/pre-commit
  .husky/pre-push
  src/components/FieldComponents/FieldArrayValueInlineControl/FieldArrayValueInlineControl.css
  src/components/FieldComponents/FieldArrayValueItem/FieldArrayValueItem.css
  src/components/FieldComponents/FieldControlLayout/FieldControlLayout.css
  src/components/SelectCanary/SelectControlLayout/SelectControlLayout.css
  src/components/SelectCanary/SelectCreateButton/SelectCreateButton.css
  src/components/SelectCanary/SelectDropdown/SelectDropdown.css
  src/components/SelectCanary/SelectInput/SelectInput.css
  src/components/SelectCanary/SelectLoader/SelectLoader.css
  src/components/SelectCanary/SelectMultiple/SelectMultiple.css
  src/components/SelectCanary/__stand__/examples/SelectExampleOpenByFocus/SelectExampleOpenByFocus.tsx
  src/components/TextFieldCanary/TextFieldTypeTextArray/TextFieldTypeTextArray.css
  src/stand/standPageDecoration.tsx
Owners: @gizeasy, @linturaven

release: 5.19.0
  package.json
Owners: @gizeasy

changelog: 5.19.0
  CHANGELOG.md
Owners: @alyonurchick1

chore: fixed build
  package.json
  scripts/copy.js
  tsconfig.json
  yarn.lock
Owners: @gizeasy

feat(Tooltip): adds container prop
  src/components/Tooltip/Tooltip.tsx
  src/components/Tooltip/__stand__/Tooltip.dev.stand.mdx
  src/components/Tooltip/types.ts
Owners: @gizeasy, @alyonurchick1

feat(Tooltip): adds container prop (#3930)
  src/components/Tooltip/Tooltip.tsx
  src/components/Tooltip/__stand__/Tooltip.dev.stand.mdx
  src/components/Tooltip/types.ts
Owners: @gizeasy, @alyonurchick1

fix(Select, Combobox): fixed unfocus in firefox
  src/components/Avatar/__tests__/Avatar.test.tsx
  src/components/Breadcrumbs/__tests__/Breadcrumbs.test.tsx
  src/components/FieldComponents/FieldArrayValueInlineControl/FieldArrayValueInlineControl.css
  src/components/FieldComponents/FieldArrayValueInlineControl/FieldArrayValueInlineControl.tsx
  src/components/Popover/Popover.tsx
  src/components/SelectCanary/SelectDropdown/SelectDropdown.tsx
  src/components/SelectCanary/SelectInput/SelectInput.css
  src/components/SelectCanary/SelectInput/SelectInput.tsx
  src/components/SelectCanary/SelectMultiple/SelectMultiple.css
  src/components/SelectCanary/SelectMultiple/SelectMultiple.tsx
  src/components/SelectCanary/SelectMultipleValue/SelectMultipleValue.css
  src/components/SelectCanary/SelectMultipleValue/SelectMultipleValue.tsx
  src/components/SelectCanary/SelectMultipleValue/index.ts
  src/components/SelectCanary/SelectSingle/SelectSingle.tsx
  src/components/SelectCanary/useSelect/useSelect.ts
  src/components/SelectComponents/useSelect/useSelect.ts
  src/utils/state/useSendToAtom/useSendToAtom.ts
Owners: @gizeasy, @linturaven

eqwwerwer
  src/components/EventInterceptor/propsHandlers/useButtonEventHandler.tsx
Owners: @gizeasy

fix(Select, Combobox): fixed unfocus in firefox (#3939)
  src/components/Avatar/__tests__/Avatar.test.tsx
  src/components/Breadcrumbs/__tests__/Breadcrumbs.test.tsx
  src/components/FieldComponents/FieldArrayValueInlineControl/FieldArrayValueInlineControl.css
  src/components/FieldComponents/FieldArrayValueInlineControl/FieldArrayValueInlineControl.tsx
  src/components/Popover/Popover.tsx
  src/components/SelectCanary/SelectDropdown/SelectDropdown.tsx
  src/components/SelectCanary/SelectInput/SelectInput.css
  src/components/SelectCanary/SelectInput/SelectInput.tsx
  src/components/SelectCanary/SelectMultiple/SelectMultiple.css
  src/components/SelectCanary/SelectMultiple/SelectMultiple.tsx
  src/components/SelectCanary/SelectMultipleValue/SelectMultipleValue.css
  src/components/SelectCanary/SelectMultipleValue/SelectMultipleValue.tsx
  src/components/SelectCanary/SelectMultipleValue/index.ts
  src/components/SelectCanary/SelectSingle/SelectSingle.tsx
  src/components/SelectCanary/useSelect/useSelect.ts
  src/components/SelectComponents/useSelect/useSelect.ts
  src/utils/state/useSendToAtom/useSendToAtom.ts
Owners: @gizeasy, @linturaven

release: 5.20.0
  package.json
Owners: @gizeasy

changelog: 5.20.0
  CHANGELOG.md
Owners: @alyonurchick1

.github/CODEOWNERS:

* @gizeasy
*.md @alyonurchick1
*.mdx @alyonurchick1
*.css @linturaven
