Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @alyonurchick1, @linturaven

.github/CODEOWNERS:

* @gizeasy
*.md @alyonurchick1
*.mdx @alyonurchick1
*.css @linturaven

docs(Informer): review
  src/components/Informer/__stand__/Informer.dev.stand.mdx
  src/components/Informer/__stand__/examples/InformerExampleSize/InformerExampleSize.tsx
  src/components/Informer/__stand__/examples/InformerExampleStatus/InformerExampleStatus.tsx
  src/components/Informer/__stand__/examples/InformerExampleView/InformerExampleView.tsx
Owners: @alyonurchick1, @gizeasy

feat(SnackBarTimer): add progress
  src/components/SnackBar/SnackBar.tsx
  src/components/SnackBar/SnackBarActionButton/SnackBarActionButton.tsx
  src/components/SnackBar/SnackBarActionButton/index.ts
  src/components/SnackBar/SnackBarItem/SnackBarItem.css
  src/components/SnackBar/SnackBarItem/SnackBarItem.tsx
  src/components/SnackBar/SnackBarItem/index.ts
  src/components/SnackBar/SnackBarLine/index.ts
  src/components/SnackBar/SnackBarProgress/SnackBarProgress.css
  src/components/SnackBar/SnackBarProgress/SnackBarProgress.tsx
  src/components/SnackBar/SnackBarProgress/index.ts
  src/components/SnackBar/SnackBarTimer/SnackBarTimer.tsx
  src/components/SnackBar/SnackBarTimer/index.ts
  src/components/SnackBar/__stand__/SnackBar.dev.stand.mdx
  src/components/SnackBar/__stand__/SnackBar.variants.tsx
  src/components/SnackBar/__stand__/examples/SnackBarExampleAdaptive/SnackBarExampleAdaptive.tsx
  src/components/SnackBar/__stand__/examples/SnackBarExampleGetItemProgress/SnackBarExampleGetItemProgress.tsx
  src/components/SnackBar/__stand__/examples/SnackBarExampleProgress/SnackBarExampleProgress.tsx
  src/components/SnackBar/helper.ts
  src/components/SnackBar/types.ts
Owners: @gizeasy, @linturaven, @alyonurchick1

fix
  src/components/SnackBar/__tests__/SnackBar.test.tsx
Owners: @gizeasy

Update SnackBar.dev.stand.mdx
  src/components/SnackBar/__stand__/SnackBar.dev.stand.mdx
Owners: @alyonurchick1

Update Informer.css
  src/components/Informer/Informer.css
Owners: @linturaven

Update Informer.dev.stand.mdx
  src/components/Informer/__stand__/Informer.dev.stand.mdx
Owners: @alyonurchick1

fix
  src/components/Badge/Badge.tsx
  src/components/Badge/maps.ts
Owners: @gizeasy

feat(Informer): add _view_outline (#3791)
  src/components/Informer/Informer.css
  src/components/Informer/Informer.tsx
  src/components/Informer/__stand__/Informer.dev.stand.mdx
  src/components/Informer/__stand__/examples/InformerExampleSize/InformerExampleSize.tsx
  src/components/Informer/__stand__/examples/InformerExampleStatus/InformerExampleStatus.tsx
  src/components/Informer/__stand__/examples/InformerExampleType/InformerExampleType.tsx
  src/components/Informer/__stand__/examples/InformerExampleView/InformerExampleView.tsx
  src/components/Informer/__tests__/Informer.test.tsx
Owners: @linturaven, @gizeasy, @alyonurchick1

docs(TextField): remove wrapper from stand (#3793)
  src/components/TextFieldCanary/__stand__/TextField.variants.tsx
Owners: @gizeasy

Update SnackBar.dev.stand.mdx
  src/components/SnackBar/__stand__/SnackBar.dev.stand.mdx
Owners: @alyonurchick1

release: 5.13.0
  package.json
Owners: @gizeasy

changelog: 5.13.0
  CHANGELOG.md
Owners: @alyonurchick1

feat(popover): add container property
  src/components/Popover/Popover.tsx
Owners: @gizeasy

docs(popover): update stand documentation
  src/components/Popover/__stand__/Popover.dev.stand.mdx
Owners: @alyonurchick1

feat(popover): add container property (#3812)
  src/components/Popover/Popover.tsx
  src/components/Popover/__stand__/Popover.dev.stand.mdx
Owners: @gizeasy, @alyonurchick1

feat(Badge): add _view_pinted and _status_disabled (#3792)
  src/components/Badge/Badge.css
  src/components/Badge/Badge.tsx
  src/components/Badge/__stand__/Badge.dev.stand.mdx
  src/components/Badge/__stand__/Badge.variants.tsx
  src/components/Badge/__stand__/examples/BadgeExampleStatus/BadgeExampleStatus.tsx
  src/components/Badge/__tests__/Badge.test.tsx
  src/components/Badge/cn.ts
  src/components/Badge/guardStatus.ts
  src/components/Badge/index.ts
  src/components/Badge/maps.ts
  src/components/Badge/types.ts
  src/components/BadgeGroup/BadgeGroup.tsx
  src/components/BadgeGroup/__stand__/BadgeGroup.dev.stand.mdx
  src/components/BadgeGroup/__stand__/examples/BadgeGroupExampleBasic/BadgeGroupExampleBasic.tsx
  src/components/BadgeGroup/__stand__/examples/BadgeGroupExampleFitMode/BadgeGroupExampleFitMode.tsx
  src/components/BadgeGroup/__stand__/examples/BadgeGroupExampleForm/BadgeGroupExampleForm.tsx
  src/components/BadgeGroup/__stand__/examples/BadgeGroupExampleItems/BadgeGroupExampleItems.tsx
  src/components/BadgeGroup/__stand__/examples/BadgeGroupExampleSize/BadgeGroupExampleSize.tsx
  src/components/BadgeGroup/types.ts
  src/components/Chips/__stand__/Chips.dev.stand.mdx
  src/components/Chips/__stand__/examples/ChipsChoiceExample/ChipsChoiceExample.tsx
  src/components/Chips/__stand__/examples/ChipsSimpleExample/ChipsSimpleExample.tsx
  src/components/Chips/types.ts
Owners: @linturaven, @gizeasy, @alyonurchick1

feat(SnackBar): add progress (#3796)
  src/components/SnackBar/SnackBar.tsx
  src/components/SnackBar/SnackBarActionButton/SnackBarActionButton.tsx
  src/components/SnackBar/SnackBarActionButton/index.ts
  src/components/SnackBar/SnackBarItem/SnackBarItem.css
  src/components/SnackBar/SnackBarItem/SnackBarItem.tsx
  src/components/SnackBar/SnackBarItem/index.ts
  src/components/SnackBar/SnackBarLine/index.ts
  src/components/SnackBar/SnackBarProgress/SnackBarProgress.css
  src/components/SnackBar/SnackBarProgress/SnackBarProgress.tsx
  src/components/SnackBar/SnackBarProgress/index.ts
  src/components/SnackBar/SnackBarTimer/SnackBarTimer.tsx
  src/components/SnackBar/SnackBarTimer/index.ts
  src/components/SnackBar/__stand__/SnackBar.dev.stand.mdx
  src/components/SnackBar/__stand__/SnackBar.variants.tsx
  src/components/SnackBar/__stand__/examples/SnackBarExampleAdaptive/SnackBarExampleAdaptive.tsx
  src/components/SnackBar/__stand__/examples/SnackBarExampleGetItemProgress/SnackBarExampleGetItemProgress.tsx
  src/components/SnackBar/__stand__/examples/SnackBarExampleProgress/SnackBarExampleProgress.tsx
  src/components/SnackBar/__tests__/SnackBar.test.tsx
  src/components/SnackBar/helper.ts
  src/components/SnackBar/types.ts
Owners: @gizeasy, @linturaven, @alyonurchick1

fix(FieldComponents): fixed import
  src/components/FieldComponents/FieldComponents.ts
  src/components/FieldComponents/index.ts
Owners: @gizeasy

fix(FieldComponents): fixed import (#3817)
  src/components/FieldComponents/FieldComponents.ts
  src/components/FieldComponents/index.ts
Owners: @gizeasy

release: 5.14.0
  package.json
Owners: @gizeasy

changelog: 5.14.0
  CHANGELOG.md
Owners: @alyonurchick1

fix(TextFieldCanary): fixed import
  src/components/TextFieldCanary/TextFieldCanary.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleAutoFocus/TextFieldExampleAutoFocus.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleForm/TextFieldExampleForm.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleIncrementButtons/TextFieldExampleIncrementButtons.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleMask/TextFieldExampleMask.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleResize/TextFieldExampleResize.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleSize/TextFieldExampleSize.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleStatus/TextFieldExampleStatus.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleStepArray/TextFieldExampleStepArray.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleText copy/TextFieldExampleTextArrayPreParsing.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleText/TextFieldExampleText.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleType/TextFieldExampleType.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleView/TextFieldExampleView.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleWithClearButton/TextFieldExampleWithClearButton.tsx
  src/components/TextFieldCanary/index.ts
Owners: @gizeasy

fix(TextFieldCanary): fixed import (#3819)
  src/components/TextFieldCanary/TextFieldCanary.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleAutoFocus/TextFieldExampleAutoFocus.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleForm/TextFieldExampleForm.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleIncrementButtons/TextFieldExampleIncrementButtons.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleMask/TextFieldExampleMask.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleResize/TextFieldExampleResize.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleSize/TextFieldExampleSize.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleStatus/TextFieldExampleStatus.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleStepArray/TextFieldExampleStepArray.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleText copy/TextFieldExampleTextArrayPreParsing.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleText/TextFieldExampleText.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleType/TextFieldExampleType.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleView/TextFieldExampleView.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleWithClearButton/TextFieldExampleWithClearButton.tsx
  src/components/TextFieldCanary/index.ts
Owners: @gizeasy

feat(TextField): add wheel event handler for input[type="number"]
  src/components/TextField/TextField.tsx
  src/components/TextField/__tests__/TextField.test.tsx
  yarn.lock
Owners: @gizeasy

feat(StepsStep): add wrapper to step index
  src/components/Steps/StepsStep/StepsStep.tsx
Owners: @gizeasy

refactor(StepsStep): rename className of step
  src/components/Steps/StepsStep/StepsStep.tsx
Owners: @gizeasy

fix(useSlider): fix value changing after click with disabled prop
  src/components/Slider/useSlider/useSlider.ts
Owners: @gizeasy

fix(Slider): fix value changing after click with disabled prop (#3822)
  src/components/Slider/useSlider/useSlider.ts
Owners: @gizeasy

fix(StepsStep): fix pr remark
  src/components/Steps/StepsStep/StepsStep.tsx
  src/components/Steps/__tests__/Steps.test.tsx
Owners: @gizeasy

feat(TextField): add default handler for `wheel` event in number input
  src/components/TextField/TextField.tsx
  src/components/TextField/__tests__/TextField.test.tsx
  src/components/TextFieldCanary/TextFieldTypeNumber/TextFieldTypeNumber.tsx
Owners: @gizeasy

feat(StepsStep): add wrapper to step index (#3821)
  src/components/Steps/StepsStep/StepsStep.tsx
  src/components/Steps/__tests__/Steps.test.tsx
Owners: @gizeasy

fix(TextFieldCanary): types and proxy to controls
  src/components/FieldComponents/FieldArrayValueInlineControl/FieldArrayValueInlineControl.tsx
  src/components/FieldComponents/FieldArrayValueInlineControl/types.ts
  src/components/TextFieldCanary/TextFieldTypeNumber/TextFieldTypeNumber.tsx
  src/components/TextFieldCanary/TextFieldTypePassword/TextFieldTypePassword.tsx
  src/components/TextFieldCanary/TextFieldTypeText/TextFieldTypeText.tsx
  src/components/TextFieldCanary/TextFieldTypeTextArea/TextFieldTypeTextArea.tsx
  src/components/TextFieldCanary/TextFieldTypeTextArray/TextFieldTypeTextArray.tsx
  src/components/TextFieldCanary/types.ts
Owners: @gizeasy

feat(TextField): add wheel event handler for input[type="number"] (#3820)
  src/components/FieldComponents/FieldArrayValueInlineControl/FieldArrayValueInlineControl.tsx
  src/components/FieldComponents/FieldArrayValueInlineControl/types.ts
  src/components/TextField/TextField.tsx
  src/components/TextField/__tests__/TextField.test.tsx
  src/components/TextFieldCanary/TextFieldTypeNumber/TextFieldTypeNumber.tsx
  src/components/TextFieldCanary/TextFieldTypePassword/TextFieldTypePassword.tsx
  src/components/TextFieldCanary/TextFieldTypeText/TextFieldTypeText.tsx
  src/components/TextFieldCanary/TextFieldTypeTextArea/TextFieldTypeTextArea.tsx
  src/components/TextFieldCanary/TextFieldTypeTextArray/TextFieldTypeTextArray.tsx
  src/components/TextFieldCanary/types.ts
  yarn.lock
Owners: @gizeasy

feat(Combobox): add prop `searchDebounceDelay` to Combobox
  src/components/Combobox/Combobox.tsx
  src/components/Combobox/helpers.ts
  src/components/SelectComponents/useSelect/useSelect.ts
Owners: @gizeasy

feat(AutoComplete): add prop `searchDebounceDelay` to AutoComplete
  src/components/AutoComplete/AutoComplete.tsx
  src/components/AutoComplete/types.ts
Owners: @gizeasy

fix(AutoComplete): add `searchValue` sync with prop `value`
  src/components/AutoComplete/AutoComplete.tsx
Owners: @gizeasy

s
  src/components/Text/__stand__/Text.dev.stand.mdx
  src/components/Text/__stand__/examples/TextExampleHeightLine/TextExampleLineHeight.tsx
Owners: @alyonurchick1, @gizeasy

return components
  src/hooks/useBreakpointsDepricated/index.ts
  src/hooks/useBreakpointsDepricated/useBreakpointsDepricated.ts
  src/hooks/useComponentBreakpointsDepricated/index.ts
  src/hooks/useComponentBreakpointsDepricated/useComponentBreakpointsDepricated.ts
  src/hooks/useHideElementsInLineDepricated/index.ts
  src/hooks/useHideElementsInLineDepricated/useHideElementsInLineDepricated.ts
  src/hooks/useKeysDepricated/index.ts
  src/hooks/useKeysDepricated/useKeysDepricated.ts
Owners: @gizeasy

docs(switch): update onChange docs for Switch
  src/components/Switch/__stand__/Switch.dev.stand.mdx
Owners: @alyonurchick1

правка слов
  cspell.json
  src/components/AutoCompleteCanary/__stand__/AutoComplete.stand.tsx
  src/components/Chips/__stand__/examples/ChipsWithContextMenuExample/ChipsWithContextMenuExample.tsx
Owners: @gizeasy
