Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

.github/CODEOWNERS:

* @gizeasy @N1MBER 
*.md @arhayka @kolebayev
*.mdx @arhayka @kolebayev
*.css @kolebayev

fix(DatePicker): fix bug with dropdown viability on tab click
  src/components/DatePicker/DatePickerDropdown/DatePickerDropdown.tsx
  src/components/DatePicker/DatePickerTypeDate/DatePickerTypeDate.tsx
  src/components/DatePicker/DatePickerTypeDateRange/DatePickerTypeDateRange.tsx
  src/components/DatePicker/DatePickerTypeDateTime/DatePickerTypeDateTime.tsx
  src/components/DatePicker/DatePickerTypeDateTimeRange/DatePickerTypeDateTimeRange.tsx
  src/components/DatePicker/DatePickerTypeMonth/DatePickerTypeMonth.tsx
  src/components/DatePicker/DatePickerTypeMonthRange/DatePickerTypeMonthRange.tsx
  src/components/DatePicker/DatePickerTypeTime/DatePickerTypeTime.tsx
  src/components/DatePicker/DatePickerTypeYear/DatePickerTypeYear.tsx
  src/components/DatePicker/DatePickerTypeYearRange/DatePickerTypeYearRange.tsx
  src/components/DatePicker/useDropdownVisible.tsx
Owners: @gizeasy, @N1MBER

feat(useIMask): add new hook for imask
  src/components/DatePicker/DatePickerFieldTypeDate/DatePickerFieldTypeDate.tsx
  src/components/DatePicker/DatePickerFieldTypeDate/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeDateTime/DatePickerFieldTypeDateTime.tsx
  src/components/DatePicker/DatePickerFieldTypeDateTime/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeMonth/DatePickerFieldTypeMonth.tsx
  src/components/DatePicker/DatePickerFieldTypeMonth/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeTime/DatePickerFieldTypeTime.tsx
  src/components/DatePicker/DatePickerFieldTypeTime/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeYear/DatePickerFieldTypeYear.tsx
  src/components/DatePicker/DatePickerFieldTypeYear/helpers.ts
  src/components/TextField/__stand__/TextField.dev.stand.mdx
  src/components/TextField/__stand__/examples/TextFieldExampleMask/TextFieldExampleMask.tsx
  src/components/TextField/index.ts
  src/components/TextField/useIMask.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

release: 4.10.0
  package.json
Owners: @gizeasy, @N1MBER

changelog: 4.10.0
  CHANGELOG.md
Owners: @arhayka, @kolebayev

fix(TextField): fix bug with scroll on disabled textarea
  src/components/TextField/TextField.css
Owners: @kolebayev

feat(Selects): add searchValue prop
  src/components/Combobox/Combobox.tsx
  src/components/Combobox/__stand__/Combobox.dev.stand.mdx
  src/components/Combobox/helpers.ts
  src/components/UserSelect/UserSelect.tsx
  src/components/UserSelect/__stand__/UserSelect.dev.stand.mdx
  src/components/UserSelect/helpers.ts
  src/hooks/useSelect/useSelect.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

feat(ProgressStepBar): rewrite line rendering and fix bug with hidden outline
  src/components/ProgressStepBar/ProgressStepBar.css
  src/components/ProgressStepBar/ProgressStepBar.tsx
  src/components/ProgressStepBar/ProgressStepBarItem/ProgressStepBarItem.css
  src/components/ProgressStepBar/ProgressStepBarItem/ProgressStepBarItem.tsx
  src/components/ProgressStepBar/ProgressStepBarLine/ProgressStepBarLine.css
  src/components/ProgressStepBar/ProgressStepBarLine/ProgressStepBarLine.tsx
  src/components/ProgressStepBar/helpers.ts
Owners: @kolebayev, @gizeasy, @N1MBER

fix(Selects): fix logic of choicing disabled items
  src/components/Combobox/Combobox.tsx
  src/components/SelectComponents/SelectItem/SelectItem.tsx
  src/components/SelectComponents/SelectValueTag/SelectValueTag.css
  src/components/SelectComponents/SelectValueTag/SelectValueTag.tsx
  src/components/UserSelect/UserSelect.tsx
  src/components/UserSelect/UserSelectItem/UserSelectItem.css
  src/components/UserSelect/UserSelectValue/UserSelectValue.css
  src/components/UserSelect/UserSelectValue/UserSelectValue.tsx
  src/hooks/useSelect/useSelect.ts
Owners: @gizeasy, @N1MBER, @kolebayev

fix(EventInterceptor): fix logic of select handler
  src/components/EventInterceptor/propsHandlers/useSelectEventsHandler.tsx
Owners: @gizeasy, @N1MBER

fix(TextField): fix bug with scroll on disabled textarea (#2897)
  src/components/TextField/TextField.css
Owners: @kolebayev

feat(Selects): add searchValue prop (#2898)
  src/components/Combobox/Combobox.tsx
  src/components/Combobox/__stand__/Combobox.dev.stand.mdx
  src/components/Combobox/helpers.ts
  src/components/UserSelect/UserSelect.tsx
  src/components/UserSelect/__stand__/UserSelect.dev.stand.mdx
  src/components/UserSelect/helpers.ts
  src/hooks/useSelect/useSelect.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

fix(Selects): fix logic of choicing disabled items (#2901)
  src/components/Combobox/Combobox.tsx
  src/components/SelectComponents/SelectItem/SelectItem.tsx
  src/components/SelectComponents/SelectValueTag/SelectValueTag.css
  src/components/SelectComponents/SelectValueTag/SelectValueTag.tsx
  src/components/UserSelect/UserSelect.tsx
  src/components/UserSelect/UserSelectItem/UserSelectItem.css
  src/components/UserSelect/UserSelectValue/UserSelectValue.css
  src/components/UserSelect/UserSelectValue/UserSelectValue.tsx
  src/hooks/useSelect/useSelect.ts
Owners: @gizeasy, @N1MBER, @kolebayev

fix(useIMask): changed onChange type
  src/components/DatePicker/DatePickerFieldTypeDate/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeDateTime/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeMonth/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeTime/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeYear/helpers.ts
  src/components/TextField/__stand__/TextField.dev.stand.mdx
  src/components/TextField/__stand__/examples/TextFieldExampleMask/TextFieldExampleMask.tsx
  src/components/TextField/useIMask.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

fix(useSelectEventsHandler): fix tests
  src/components/EventInterceptor/propsHandlers/__tests__/useSelectEventsHandler.test.tsx
Owners: @gizeasy, @N1MBER

fix(ProgressStepBar): fix stylelint convertation
  src/components/ProgressStepBar/ProgressStepBar.css
Owners: @kolebayev

docs(TextField): add documentation for useIMask
  src/components/TextField/__stand__/TextField.dev.stand.mdx
  src/components/TextField/__stand__/examples/TextFieldExampleMask/TextFieldExampleMask.tsx
  src/components/TextField/useIMask.ts
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(TextField): add styles to mask example
  src/components/TextField/__stand__/examples/TextFieldExampleMask/TextFieldExampleMask.css
  src/components/TextField/__stand__/examples/TextFieldExampleMask/TextFieldExampleMask.tsx
Owners: @kolebayev, @gizeasy, @N1MBER

docs(TextField): add examples with imask usage (#2890)
  src/components/DatePicker/DatePickerFieldTypeDate/DatePickerFieldTypeDate.tsx
  src/components/DatePicker/DatePickerFieldTypeDate/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeDateTime/DatePickerFieldTypeDateTime.tsx
  src/components/DatePicker/DatePickerFieldTypeDateTime/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeMonth/DatePickerFieldTypeMonth.tsx
  src/components/DatePicker/DatePickerFieldTypeMonth/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeTime/DatePickerFieldTypeTime.tsx
  src/components/DatePicker/DatePickerFieldTypeTime/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeYear/DatePickerFieldTypeYear.tsx
  src/components/DatePicker/DatePickerFieldTypeYear/helpers.ts
  src/components/TextField/__stand__/TextField.dev.stand.mdx
  src/components/TextField/__stand__/examples/TextFieldExampleMask/TextFieldExampleMask.css
  src/components/TextField/__stand__/examples/TextFieldExampleMask/TextFieldExampleMask.tsx
  src/components/TextField/index.ts
  src/components/TextField/useIMask.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

fix(ProgressStepBar): add padding to items
  src/components/ProgressStepBar/ProgressStepBar.css
  src/components/ProgressStepBar/ProgressStepBar.tsx
  src/components/ProgressStepBar/ProgressStepBarItem/ProgressStepBarItem.tsx
  src/components/ProgressStepBar/helpers.ts
Owners: @kolebayev, @gizeasy, @N1MBER

docs(ChoiceGroup): update link to sandbox
  src/components/ChoiceGroup/__stand__/ChoiceGroup.stand.tsx
Owners: @gizeasy, @N1MBER

feat(Tabs): add new getters
  src/components/ListCanary/ListItem/ListItem.tsx
  src/components/ListCanary/ListItemGrid/ListItemGrid.tsx
  src/components/ListCanary/types.ts
  src/components/Tabs/FitModeDropdownWrapper/TabsFitModeDropdownWrapper.tsx
  src/components/Tabs/MoreItems/TabsMoreItems.css
  src/components/Tabs/MoreItems/TabsMoreItems.tsx
  src/components/Tabs/Tab/TabsTab.css
  src/components/Tabs/Tab/TabsTab.tsx
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/__stand__/Tabs.dev.stand.mdx
  src/components/Tabs/__stand__/Tabs.variants.css
  src/components/Tabs/__stand__/Tabs.variants.tsx
  src/components/Tabs/__stand__/examples/TabsExample/TabsExample.tsx
  src/components/Tabs/__stand__/examples/TabsExampleDisabled/TabsExampleDisabled.tsx
  src/components/Tabs/__stand__/examples/TabsExampleIcon/TabsExampleIcon.tsx
  src/components/Tabs/__stand__/examples/TabsExampleLinePosition/TabsExampleLinePosition.tsx
  src/components/Tabs/__stand__/examples/TabsExampleSide/TabsExampleSide.tsx
  src/components/Tabs/__tests__/Tabs.test.tsx
  src/components/Tabs/helpers.tsx
  src/components/Tabs/types.ts
  src/hooks/useForkRef/useForkRef.tsx
Owners: @gizeasy, @N1MBER, @kolebayev, @arhayka

feat(ProgressStepBar): rewrite line rendering and fix bug with hidden outline (#2900)
  src/components/ProgressStepBar/ProgressStepBar.css
  src/components/ProgressStepBar/ProgressStepBar.tsx
  src/components/ProgressStepBar/ProgressStepBarItem/ProgressStepBarItem.css
  src/components/ProgressStepBar/ProgressStepBarItem/ProgressStepBarItem.tsx
  src/components/ProgressStepBar/ProgressStepBarLine/ProgressStepBarLine.css
  src/components/ProgressStepBar/ProgressStepBarLine/ProgressStepBarLine.tsx
  src/components/ProgressStepBar/helpers.ts
Owners: @kolebayev, @gizeasy, @N1MBER

docs(ChoiceGroup): update link to sandbox (#2910)
  src/components/ChoiceGroup/__stand__/ChoiceGroup.stand.tsx
Owners: @gizeasy, @N1MBER

release: 4.11.0
  package.json
Owners: @gizeasy, @N1MBER

changelog: 4.11.0
  CHANGELOG.md
Owners: @arhayka, @kolebayev

fix
  src/components/Tabs/FitModeDropdownWrapper/TabsFitModeDropdownWrapper.css
  src/components/Tabs/FitModeDropdownWrapper/TabsFitModeDropdownWrapper.tsx
  src/components/Tabs/FitModeDropdownWrapper/__tests__/useFittingItems.ts
  src/components/Tabs/FitModeDropdownWrapper/useFittingItems.ts
  src/components/Tabs/Tab/TabsTab.tsx
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/__stand__/Tabs.dev.stand.mdx
  src/components/Tabs/__stand__/examples/TabsExampleRenderItem/TabsExampleRenderItem.tsx
  src/hooks/useRefs/useRefs.ts
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

draft
  src/components/TooltipCanary/Tooltip.css
  src/components/TooltipCanary/TooltipCanary.tsx
  src/components/TooltipCanary/__stand__/Tooltip.dev.stand.mdx
  src/components/TooltipCanary/__stand__/Tooltip.image.svg
  src/components/TooltipCanary/__stand__/Tooltip.stand.mdx
  src/components/TooltipCanary/__stand__/Tooltip.stand.tsx
  src/components/TooltipCanary/__stand__/Tooltip.variants.tsx
  src/components/TooltipCanary/__stand__/examples/TooltipPosition/TooltipPosition.css
  src/components/TooltipCanary/__stand__/examples/TooltipPosition/TooltipPosition.tsx
  src/components/TooltipCanary/helpers.ts
  src/components/TooltipCanary/index.ts
  src/components/TooltipCanary/types.ts
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

fix(DatePicker): fix bug with dropdown viability on tab click (#2893)
  src/components/DatePicker/DatePickerDropdown/DatePickerDropdown.tsx
  src/components/DatePicker/DatePickerTypeDate/DatePickerTypeDate.tsx
  src/components/DatePicker/DatePickerTypeDateRange/DatePickerTypeDateRange.tsx
  src/components/DatePicker/DatePickerTypeDateTime/DatePickerTypeDateTime.tsx
  src/components/DatePicker/DatePickerTypeDateTimeRange/DatePickerTypeDateTimeRange.tsx
  src/components/DatePicker/DatePickerTypeMonth/DatePickerTypeMonth.tsx
  src/components/DatePicker/DatePickerTypeMonthRange/DatePickerTypeMonthRange.tsx
  src/components/DatePicker/DatePickerTypeTime/DatePickerTypeTime.tsx
  src/components/DatePicker/DatePickerTypeYear/DatePickerTypeYear.tsx
  src/components/DatePicker/DatePickerTypeYearRange/DatePickerTypeYearRange.tsx
  src/components/DatePicker/useDropdownVisible.tsx
Owners: @gizeasy, @N1MBER

docs(Table): add accent on id in row
  src/components/Table/__stand__/Table.dev.stand.mdx
Owners: @arhayka, @kolebayev

feat(Combobox): add xs size
  src/components/Combobox/__stand__/Combobox.variants.tsx
  src/components/Combobox/helpers.ts
  src/components/SelectComponents/Select.css
  src/components/SelectComponents/SelectValueTag/SelectValueTag.tsx
  src/components/TagBase/TagBase.css
Owners: @gizeasy, @N1MBER, @kolebayev

fix(EventInterceptor): fix logic of select handler (#2903)
  src/components/EventInterceptor/propsHandlers/__tests__/useSelectEventsHandler.test.tsx
  src/components/EventInterceptor/propsHandlers/useSelectEventsHandler.tsx
Owners: @gizeasy, @N1MBER

feat(Tabs): add new getters (#2911)
  src/components/ListCanary/ListItem/ListItem.tsx
  src/components/ListCanary/ListItemGrid/ListItemGrid.tsx
  src/components/ListCanary/types.ts
  src/components/Tabs/FitModeDropdownWrapper/TabsFitModeDropdownWrapper.css
  src/components/Tabs/FitModeDropdownWrapper/TabsFitModeDropdownWrapper.tsx
  src/components/Tabs/FitModeDropdownWrapper/__tests__/useFittingItems.ts
  src/components/Tabs/FitModeDropdownWrapper/useFittingItems.ts
  src/components/Tabs/MoreItems/TabsMoreItems.css
  src/components/Tabs/MoreItems/TabsMoreItems.tsx
  src/components/Tabs/Tab/TabsTab.css
  src/components/Tabs/Tab/TabsTab.tsx
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/__stand__/Tabs.dev.stand.mdx
  src/components/Tabs/__stand__/Tabs.variants.css
  src/components/Tabs/__stand__/Tabs.variants.tsx
  src/components/Tabs/__stand__/examples/TabsExample/TabsExample.tsx
  src/components/Tabs/__stand__/examples/TabsExampleDisabled/TabsExampleDisabled.tsx
  src/components/Tabs/__stand__/examples/TabsExampleIcon/TabsExampleIcon.tsx
  src/components/Tabs/__stand__/examples/TabsExampleLinePosition/TabsExampleLinePosition.tsx
  src/components/Tabs/__stand__/examples/TabsExampleRenderItem/TabsExampleRenderItem.tsx
  src/components/Tabs/__stand__/examples/TabsExampleSide/TabsExampleSide.tsx
  src/components/Tabs/__tests__/Tabs.test.tsx
  src/components/Tabs/helpers.tsx
  src/components/Tabs/types.ts
  src/hooks/useForkRef/useForkRef.tsx
  src/hooks/useRefs/useRefs.ts
Owners: @gizeasy, @N1MBER, @kolebayev, @arhayka

feat(Combobox): add xs size (#2916)
  src/components/Combobox/__stand__/Combobox.variants.tsx
  src/components/Combobox/helpers.ts
  src/components/SelectComponents/Select.css
  src/components/SelectComponents/SelectValueTag/SelectValueTag.tsx
  src/components/TagBase/TagBase.css
Owners: @gizeasy, @N1MBER, @kolebayev

feat(Slider): add `'input'` for `rightSide`
  src/components/Slider/Slider.tsx
  src/components/Slider/SliderInput/SliderInput.tsx
  src/components/Slider/__stand__/Slider.dev.stand.mdx
  src/components/Slider/__stand__/Slider.variants.tsx
  src/components/Slider/__stand__/examples/SliderExampleContent/SliderExampleContent.tsx
  src/components/Slider/__stand__/examples/SliderExampleRange/SliderExampleRange.tsx
  src/components/Slider/helper.ts
  src/components/Slider/useSlider/useSlider.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

feat(Slider): add `'input'` for `rightSide` (#2924)
  src/components/Slider/Slider.tsx
  src/components/Slider/SliderInput/SliderInput.tsx
  src/components/Slider/__stand__/Slider.dev.stand.mdx
  src/components/Slider/__stand__/Slider.variants.tsx
  src/components/Slider/__stand__/examples/SliderExampleContent/SliderExampleContent.tsx
  src/components/Slider/__stand__/examples/SliderExampleRange/SliderExampleRange.tsx
  src/components/Slider/helper.ts
  src/components/Slider/useSlider/useSlider.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

feat(Slider): add `'input'` for `rightSide` (#2924)
  src/components/Slider/Slider.tsx
  src/components/Slider/SliderInput/SliderInput.tsx
  src/components/Slider/__stand__/Slider.dev.stand.mdx
  src/components/Slider/__stand__/Slider.variants.tsx
  src/components/Slider/__stand__/examples/SliderExampleContent/SliderExampleContent.tsx
  src/components/Slider/__stand__/examples/SliderExampleRange/SliderExampleRange.tsx
  src/components/Slider/helper.ts
  src/components/Slider/useSlider/useSlider.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

docs(Table): add accent on id in row (#2915)
  src/components/Table/__stand__/Table.dev.stand.mdx
Owners: @arhayka, @kolebayev
