Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @N1MBER, @BagenovA, @linturaven

.github/CODEOWNERS:

* @gizeasy @N1MBER 
*.md @BagenovA
*.mdx @BagenovA
*.css @linturaven

fix(ProgressStepBar): fix refs problem (#3247)
  src/components/ProgressStepBar/ProgressStepBar.tsx
  src/components/ProgressStepBar/helpers.ts
Owners: @gizeasy, @N1MBER

feat(Loader): rewrite styles and layout (#3239)
  src/components/LoaderCanary/Loader.css
  src/components/LoaderCanary/LoaderCanary.tsx
  src/components/LoaderCanary/__stand__/Loader.dev.stand.mdx
  src/components/LoaderCanary/__stand__/Loader.image.svg
  src/components/LoaderCanary/__stand__/Loader.stand.mdx
  src/components/LoaderCanary/__stand__/Loader.stand.tsx
  src/components/LoaderCanary/__stand__/Loader.variants.tsx
  src/components/LoaderCanary/__stand__/examples/LoaderExampleSize/LoaderExampleSize.tsx
  src/components/LoaderCanary/__tests__/Loader.test.tsx
  src/components/LoaderCanary/index.ts
  src/components/LoaderCanary/types.ts
Owners: @linturaven, @gizeasy, @N1MBER, @BagenovA

feat(Chips): add components Chips, ChipsItem, ChipsChoice
  src/components/BadgeGroup/BadgeGroup.tsx
  src/components/BadgeGroup/helper.ts
  src/components/ChipsCanary/Chips.css
  src/components/ChipsCanary/ChipsCanary.tsx
  src/components/ChipsCanary/ChipsChoice/ChipsChoice.tsx
  src/components/ChipsCanary/ChipsChoice/index.ts
  src/components/ChipsCanary/ChipsChoice/types.ts
  src/components/ChipsCanary/ChipsItem/ChipsItem.css
  src/components/ChipsCanary/ChipsItem/ChipsItem.tsx
  src/components/ChipsCanary/ChipsItem/index.ts
  src/components/ChipsCanary/__mocks__/mock.data.ts
  src/components/ChipsCanary/__stand__/Chips.dev.stand.mdx
  src/components/ChipsCanary/__stand__/Chips.stand.mdx
  src/components/ChipsCanary/__stand__/Chips.stand.tsx
  src/components/ChipsCanary/__stand__/Chips.variants.tsx
  src/components/ChipsCanary/__stand__/examples/ChipsWithContextMenuExample/ChipsWithContextMenuExample.tsx
  src/components/ChipsCanary/__stand__/variants/ChipsChoiseVariants.tsx
  src/components/ChipsCanary/__stand__/variants/ChipsItemVariant.tsx
  src/components/ChipsCanary/__stand__/variants/ChipsVariants.tsx
  src/components/ChipsCanary/helpers.ts
  src/components/ChipsCanary/index.ts
  src/components/ChipsCanary/types.ts
  src/hooks/useChoiceGroup/useChoiceGroup.tsx
  src/hooks/useGlobalKeys/useGlobalKeys.ts
  src/hooks/useKeysCanary/index.ts
  src/hooks/useKeysCanary/useKeysCanary.ts
  src/utils/stand.ts
Owners: @gizeasy, @N1MBER, @linturaven, @BagenovA

feat(DatePicker): add new props: dropdownOpen, onDropdownOpen, ignoreOutsideClicksRefs (#3238)
  src/components/DatePicker/DatePickerFieldTypeDateRange/DatePickerFieldTypeDateRange.tsx
  src/components/DatePicker/DatePickerFieldTypeDateRange/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeDateTimeRange/DatePickerFieldTypeDateTimeRange.tsx
  src/components/DatePicker/DatePickerFieldTypeDateTimeRange/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeMonthRange/DatePickerFieldTypeMonthRange.tsx
  src/components/DatePicker/DatePickerFieldTypeMonthRange/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeYearRange/DatePickerFieldTypeYearRange.tsx
  src/components/DatePicker/DatePickerFieldTypeYearRange/helpers.ts
  src/components/DatePicker/DatePickerTypeDate/DatePickerTypeDate.tsx
  src/components/DatePicker/DatePickerTypeDateRange/DatePickerTypeDateRange.tsx
  src/components/DatePicker/DatePickerTypeDateTime/DatePickerTypeDateTime.tsx
  src/components/DatePicker/DatePickerTypeDateTimeRange/DatePickerTypeDateTimeRange.tsx
  src/components/DatePicker/DatePickerTypeMonth/DatePickerTypeMonth.tsx
  src/components/DatePicker/DatePickerTypeMonthRange/DatePickerTypeMonthRange.tsx
  src/components/DatePicker/DatePickerTypeTime/DatePickerTypeTime.tsx
  src/components/DatePicker/DatePickerTypeYear/DatePickerTypeYear.tsx
  src/components/DatePicker/DatePickerTypeYearRange/DatePickerTypeYearRange.tsx
  src/components/DatePicker/__stand__/DatePicker.dev.stand.mdx
  src/components/DatePicker/__stand__/examples/DatePickerExampleDropdownOpen/DatePickerExampleDropdownOpen.tsx
  src/components/DatePicker/__tests__/helpers.ts
  src/components/DatePicker/types.ts
  src/components/DatePicker/useCalendarVisible.ts
  src/hooks/useKeysRef/index.ts
  src/hooks/useKeysRef/useKeysRef.ts
Owners: @gizeasy, @N1MBER, @BagenovA

feat(Badge): add counter mod (#3240)
  src/components/Badge/Badge.css
  src/components/Badge/Badge.tsx
  src/components/Badge/__stand__/Badge.variants.tsx
Owners: @linturaven, @gizeasy, @N1MBER

release: 4.27.0
  package.json
Owners: @gizeasy, @N1MBER

changelog: 4.27.0
  CHANGELOG.md
Owners: @BagenovA

fix(DatePciker): fix keyboard events
  src/components/DatePicker/DatePickerTypeDate/DatePickerTypeDate.tsx
  src/components/DatePicker/DatePickerTypeDateRange/DatePickerTypeDateRange.tsx
  src/components/DatePicker/DatePickerTypeDateTime/DatePickerTypeDateTime.tsx
  src/components/DatePicker/DatePickerTypeDateTimeRange/DatePickerTypeDateTimeRange.tsx
  src/components/DatePicker/DatePickerTypeMonth/DatePickerTypeMonth.tsx
  src/components/DatePicker/DatePickerTypeMonthRange/DatePickerTypeMonthRange.tsx
  src/components/DatePicker/DatePickerTypeTime/DatePickerTypeTime.tsx
  src/components/DatePicker/DatePickerTypeYear/DatePickerTypeYear.tsx
  src/components/DatePicker/DatePickerTypeYearRange/DatePickerTypeYearRange.tsx
  src/components/DatePicker/useCalendarVisible.ts
  src/hooks/useKeysRef/useKeysRef.ts
Owners: @gizeasy, @N1MBER

fix
  src/components/ChipsCanary/ChipsCanary.tsx
  src/components/ChipsCanary/ChipsChoice/ChipsChoice.tsx
  src/components/ChipsCanary/ChipsItem/ChipsItem.tsx
  src/components/ChipsCanary/__stand__/variants/ChipsVariants.tsx
  src/components/ChipsCanary/types.ts
  src/hooks/useKeysCanary/useKeysCanary.ts
Owners: @gizeasy, @N1MBER

fix(Button): fix disabled mode
  src/components/Button/Button.css
  src/components/Button/Button.tsx
Owners: @linturaven, @gizeasy, @N1MBER

feat(MixScrollBar): added new mixin
  src/components/ListCanary/ListBox/ListBox.tsx
  src/components/ListCanary/__stand__/List.variants.tsx
  src/components/Modal/Modal.tsx
  src/components/ProgressStepBar/ProgressStepBar.tsx
  src/components/SelectComponents/SelectDropdown/SelectDropdown.tsx
  src/components/SelectComponentsCanary/SelectDropdown/SelectDropdown.tsx
  src/components/Sidebar/Sidebar.tsx
  src/components/SnackBar/__stand__/SnackBar.variants.tsx
  src/components/SnackBar/__stand__/examples/SnackBarExampleTimer/SnackBarExampleTimer.tsx
  src/components/Table/Table.tsx
  src/components/Table/TextFilter/TableTextFilter.tsx
  src/components/Theme/Theme.css
  src/hooks/useVirtualScrollCanary/__stand__/examples/useVirtualScrollExample/useVirtualScrollExample.tsx
  src/mixs/MixScrollBar/MixScrollBar.css
  src/mixs/MixScrollBar/MixScrollBar.ts
  src/mixs/MixScrollBar/__stand__/MixScrollBar.stand.mdx
  src/mixs/MixScrollBar/__stand__/MixScrollBar.stand.tsx
  src/mixs/MixScrollBar/__stand__/examples/MixScrollBarExample/MixScrollBarExample.css
  src/mixs/MixScrollBar/__stand__/examples/MixScrollBarExample/MixScrollBarExample.tsx
  src/mixs/MixScrollBar/index.ts
Owners: @gizeasy, @N1MBER, @linturaven, @BagenovA

fix Example
  src/components/ChipsCanary/ChipsCanary.tsx
  src/components/ChipsCanary/ChipsItem/ChipsItem.tsx
  src/components/ChipsCanary/__stand__/examples/ChipsWithContextMenuExample/ChipsWithContextMenuExample.css
  src/components/ChipsCanary/__stand__/examples/ChipsWithContextMenuExample/ChipsWithContextMenuExample.tsx
  src/components/ChipsCanary/types.ts
Owners: @gizeasy, @N1MBER, @linturaven

feat(ComboboxCanary): added new prop allSelectedAllLabel
  src/components/ComboboxCanary/ComboboxCanary.tsx
  src/components/ComboboxCanary/__stand__/Combobox.dev.stand.mdx
  src/components/ComboboxCanary/__stand__/Combobox.variants.tsx
  src/components/ComboboxCanary/__stand__/examples/ComboboxExampleSelectAll/ComboboxExampleSelectAll.tsx
  src/components/ComboboxCanary/helpers.ts
  src/components/SelectComponentsCanary/Select.css
  src/components/SelectComponentsCanary/useSelect/useSelect.ts
Owners: @gizeasy, @N1MBER, @BagenovA, @linturaven

feat(BookmarkTabs): add tab navigation to close button
  src/components/BookmarkTabsCanary/BookmarkTabsTab/BookmarkTabsTab.tsx
  src/components/BookmarkTabsCanary/types.ts
Owners: @gizeasy, @N1MBER

doc
  src/components/ChipsCanary/__stand__/Chips.dev.stand.mdx
  src/components/ChipsCanary/__stand__/Chips.stand.tsx
  src/components/ChipsCanary/__stand__/examples/ChipsSimpleExample/ChipsSimpleExample.tsx
  src/components/ChipsCanary/__stand__/examples/ChipsWithContextMenuExample copy 2/ChipsWithContextMenuExample.css
  src/components/ChipsCanary/__stand__/examples/ChipsWithContextMenuExample copy 2/ChipsWithContextMenuExample.tsx
  src/components/ChipsCanary/__stand__/examples/ChipsWithContextMenuExample copy/ChipsWithContextMenuExample.css
  src/components/ChipsCanary/__stand__/examples/ChipsWithContextMenuExample copy/ChipsWithContextMenuExample.tsx
  src/components/ChipsCanary/types.ts
  src/hooks/useKeysCanary/useKeysCanary.ts
  src/hooks/useKeysRef/useKeysRef.ts
Owners: @BagenovA, @gizeasy, @N1MBER, @linturaven

fix(TextField): move RefAttributes in TextFieldProps type
  src/components/TextField/types.ts
Owners: @gizeasy, @N1MBER

feat(ContextMenu): add keyboard navigation
  src/components/ContextMenu/ContextMenuLevel/ContextMenuLevel.tsx
  src/components/ContextMenu/ContextMenuLevels/ContextMenuLevels.tsx
  src/components/ContextMenu/types.ts
  src/components/ContextMenu/useMenuNavigation.ts
  src/components/ListCanary/ListItem/ListItem.css
Owners: @gizeasy, @N1MBER, @linturaven

feat(ComboboxCanary): added new prop allSelectedAllLabel (#3255)
  src/components/ComboboxCanary/ComboboxCanary.tsx
  src/components/ComboboxCanary/__stand__/Combobox.dev.stand.mdx
  src/components/ComboboxCanary/__stand__/Combobox.variants.tsx
  src/components/ComboboxCanary/__stand__/examples/ComboboxExampleSelectAll/ComboboxExampleSelectAll.tsx
  src/components/ComboboxCanary/helpers.ts
  src/components/SelectComponentsCanary/Select.css
  src/components/SelectComponentsCanary/useSelect/useSelect.ts
Owners: @gizeasy, @N1MBER, @BagenovA, @linturaven

fix(DatePciker): fix keyboard events (#3251)
  src/components/DatePicker/DatePickerTypeDate/DatePickerTypeDate.tsx
  src/components/DatePicker/DatePickerTypeDateRange/DatePickerTypeDateRange.tsx
  src/components/DatePicker/DatePickerTypeDateTime/DatePickerTypeDateTime.tsx
  src/components/DatePicker/DatePickerTypeDateTimeRange/DatePickerTypeDateTimeRange.tsx
  src/components/DatePicker/DatePickerTypeMonth/DatePickerTypeMonth.tsx
  src/components/DatePicker/DatePickerTypeMonthRange/DatePickerTypeMonthRange.tsx
  src/components/DatePicker/DatePickerTypeTime/DatePickerTypeTime.tsx
  src/components/DatePicker/DatePickerTypeYear/DatePickerTypeYear.tsx
  src/components/DatePicker/DatePickerTypeYearRange/DatePickerTypeYearRange.tsx
  src/components/DatePicker/useCalendarVisible.ts
  src/hooks/useKeysRef/useKeysRef.ts
Owners: @gizeasy, @N1MBER

fix typo
  src/components/Table/__stand__/Table.dev.stand.mdx
Owners: @BagenovA

fix(Button): fix className
  src/components/Button/Button.tsx
Owners: @gizeasy, @N1MBER

feat(ChoiceGroup, CheckboxGroup): added props getItemAttributes and getItemRef
  src/components/CheckboxGroup/CheckboxGroup.tsx
  src/components/CheckboxGroup/__stand__/CheckboxGroup.dev.stand.mdx
  src/components/CheckboxGroup/helper.ts
  src/components/CheckboxGroup/types.ts
  src/components/ChoiceGroup/ChoiceGroup.tsx
  src/components/ChoiceGroup/Item/ChoiceGroup-Item.tsx
  src/components/ChoiceGroup/__stand__/ChoiceGroup.dev.stand.mdx
  src/components/ChoiceGroup/helper.ts
  src/components/ChoiceGroup/types.ts
Owners: @gizeasy, @N1MBER, @BagenovA

docs(Switch): fix example
  src/components/Switch/__stand__/Switch.dev.stand.mdx
Owners: @BagenovA

add docs
  src/components/ChipsCanary/ChipsItem/ChipsItem.tsx
  src/components/ChipsCanary/__stand__/Chips.dev.stand.mdx
  src/components/ChipsCanary/__stand__/examples/ChipsChoiceExample/ChipsChoiceExample.tsx
  src/components/ChipsCanary/__stand__/examples/ChipsInteractiveExample/ChipsInteractiveExample.tsx
  src/components/ChipsCanary/__stand__/examples/ChipsSimpleExample/ChipsSimpleExample.tsx
  src/components/ChipsCanary/__stand__/examples/ChipsSizeExample/ChipsSizeExample.tsx
  src/components/ChipsCanary/__stand__/examples/ChipsWithContextMenuExample copy 2/ChipsWithContextMenuExample.css
  src/components/ChipsCanary/__stand__/examples/ChipsWithContextMenuExample copy 2/ChipsWithContextMenuExample.tsx
  src/components/ChipsCanary/__stand__/examples/ChipsWithContextMenuExample copy/ChipsWithContextMenuExample.css
  src/components/ChipsCanary/__stand__/examples/ChipsWithContextMenuExample copy/ChipsWithContextMenuExample.tsx
  src/components/ChipsCanary/types.ts
Owners: @gizeasy, @N1MBER, @BagenovA, @linturaven

add docs
  src/components/ChipsCanary/__mocks__/mock.data.ts
  src/hooks/useKeysRef/useKeysRef.ts
Owners: @gizeasy, @N1MBER

fix(TextField): move RefAttributes in TextFieldProps type (#3258)
  src/components/TextField/types.ts
Owners: @gizeasy, @N1MBER

docs(Table): fix typo (#3260)
  src/components/Table/__stand__/Table.dev.stand.mdx
Owners: @BagenovA

feat(ChoiceGroup, CheckboxGroup): added props getItemAttributes and getItemRef (#3263)
  src/components/CheckboxGroup/CheckboxGroup.tsx
  src/components/CheckboxGroup/__stand__/CheckboxGroup.dev.stand.mdx
  src/components/CheckboxGroup/helper.ts
  src/components/CheckboxGroup/types.ts
  src/components/ChoiceGroup/ChoiceGroup.tsx
  src/components/ChoiceGroup/Item/ChoiceGroup-Item.tsx
  src/components/ChoiceGroup/__stand__/ChoiceGroup.dev.stand.mdx
  src/components/ChoiceGroup/helper.ts
  src/components/ChoiceGroup/types.ts
Owners: @gizeasy, @N1MBER, @BagenovA

docs(Switch): fix example (#3264)
  src/components/Switch/__stand__/Switch.dev.stand.mdx
Owners: @BagenovA

fix
  src/components/ChipsCanary/__stand__/Chips.dev.stand.mdx
  src/components/ChipsCanary/__stand__/Chips.variants.tsx
  src/components/ChipsCanary/__stand__/variants/ChipsChoiceVariants.tsx
  src/components/ChoiceGroup/__stand__/ChoiceGroup.dev.stand.mdx
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleSomeDisabled/ChoiceGroupExampleSomeDisabled.tsx
  src/components/ChoiceGroupDeprecated/__stand__/ChoiceGroup.dev.stand.mdx
  src/components/ChoiceGroupDeprecated/__stand__/examples/ChoiceGroupExampleSomeDisabled/ChoiceGroupExampleSomeDisabled.tsx
Owners: @BagenovA, @gizeasy, @N1MBER

fix(Button): fix icon styles
  src/components/Button/Button.css
Owners: @linturaven

fix(Button): fix icon styles (#3269)
  src/components/Button/Button.css
Owners: @linturaven

Update ChipsItem.css
  src/components/ChipsCanary/ChipsItem/ChipsItem.css
Owners: @linturaven

feat(Chips): add components Chips, ChipsItem, ChipsChoice (#3266)
  src/components/BadgeGroup/BadgeGroup.tsx
  src/components/BadgeGroup/helper.ts
  src/components/ChipsCanary/Chips.css
  src/components/ChipsCanary/ChipsCanary.tsx
  src/components/ChipsCanary/ChipsChoice/ChipsChoice.tsx
  src/components/ChipsCanary/ChipsChoice/index.ts
  src/components/ChipsCanary/ChipsChoice/types.ts
  src/components/ChipsCanary/ChipsItem/ChipsItem.css
  src/components/ChipsCanary/ChipsItem/ChipsItem.tsx
  src/components/ChipsCanary/ChipsItem/index.ts
  src/components/ChipsCanary/__mocks__/mock.data.ts
  src/components/ChipsCanary/__stand__/Chips.dev.stand.mdx
  src/components/ChipsCanary/__stand__/Chips.stand.mdx
  src/components/ChipsCanary/__stand__/Chips.stand.tsx
  src/components/ChipsCanary/__stand__/Chips.variants.tsx
  src/components/ChipsCanary/__stand__/examples/ChipsChoiceExample/ChipsChoiceExample.tsx
  src/components/ChipsCanary/__stand__/examples/ChipsInteractiveExample/ChipsInteractiveExample.tsx
  src/components/ChipsCanary/__stand__/examples/ChipsSimpleExample/ChipsSimpleExample.tsx
  src/components/ChipsCanary/__stand__/examples/ChipsSizeExample/ChipsSizeExample.tsx
  src/components/ChipsCanary/__stand__/examples/ChipsWithContextMenuExample/ChipsWithContextMenuExample.css
  src/components/ChipsCanary/__stand__/examples/ChipsWithContextMenuExample/ChipsWithContextMenuExample.tsx
  src/components/ChipsCanary/__stand__/variants/ChipsChoiceVariants.tsx
  src/components/ChipsCanary/__stand__/variants/ChipsItemVariant.tsx
  src/components/ChipsCanary/__stand__/variants/ChipsVariants.tsx
  src/components/ChipsCanary/helpers.ts
  src/components/ChipsCanary/index.ts
  src/components/ChipsCanary/types.ts
  src/components/ChoiceGroup/__stand__/ChoiceGroup.dev.stand.mdx
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleSomeDisabled/ChoiceGroupExampleSomeDisabled.tsx
  src/components/ChoiceGroupDeprecated/__stand__/ChoiceGroup.dev.stand.mdx
  src/components/ChoiceGroupDeprecated/__stand__/examples/ChoiceGroupExampleSomeDisabled/ChoiceGroupExampleSomeDisabled.tsx
  src/hooks/useChoiceGroup/useChoiceGroup.tsx
  src/hooks/useGlobalKeys/useGlobalKeys.ts
  src/hooks/useKeysCanary/index.ts
  src/hooks/useKeysCanary/useKeysCanary.ts
  src/hooks/useKeysRef/useKeysRef.ts
  src/utils/stand.ts
Owners: @gizeasy, @N1MBER, @linturaven, @BagenovA

feat(Button): added new prop
  src/components/Button/Button.tsx
Owners: @gizeasy, @N1MBER

fix(ContextMenu): fix navigation bugs
  src/components/ContextMenu/ContextMenuLevel/ContextMenuLevel.css
  src/components/ContextMenu/ContextMenuLevel/ContextMenuLevel.tsx
  src/components/ContextMenu/useMenuNavigation.ts
  src/components/ListCanary/ListItem/ListItem.css
Owners: @linturaven, @gizeasy, @N1MBER

fix(Bookmarks): fix keyboard navigation
  src/components/BookmarkTabsCanary/BookmarkTabsTab/BookmarkTabsTab.tsx
Owners: @gizeasy, @N1MBER

release: 4.28.0
  package.json
Owners: @gizeasy, @N1MBER

changelog: 4.28.0
  CHANGELOG.md
Owners: @BagenovA

fix(BookmarkTabs): fix keyboard navigation
  src/components/BookmarkTabsCanary/BookmarkTabsTab/BookmarkTabsTab.tsx
  src/components/BookmarkTabsCanary/types.ts
Owners: @gizeasy, @N1MBER
