Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

.github/CODEOWNERS:

* @gizeasy @N1MBER 
*.md @arhayka @kolebayev
*.mdx @arhayka @kolebayev
*.css @kolebayev

fix(Table): fix getCellWrap
  src/components/Table/Table.tsx
  src/components/Table/helpers.ts
Owners: @gizeasy, @N1MBER

fix(Table): fix tests
  src/components/Table/__tests__/helpers.test.ts
Owners: @gizeasy, @N1MBER

fix
  src/components/ListCanary/ListCanary.tsx
  src/components/ListCanary/ListGroupLabel/ListGroupLabel.css
  src/components/ListCanary/ListGroupLabel/ListGroupLabel.tsx
  src/components/ListCanary/ListItem/ListItem.css
  src/components/ListCanary/ListItem/ListItem.tsx
  src/components/ListCanary/ListItemGrid/ListItemGrid.css
  src/components/ListCanary/ListItemGrid/ListItemGrid.tsx
  src/components/ListCanary/ListItemGrid/index.ts
  src/components/ListCanary/__stand__/List.variants.css
  src/components/ListCanary/__stand__/List.variants.tsx
  src/components/ListCanary/helper.ts
Owners: @gizeasy, @N1MBER, @kolebayev

release: 4.7.0
  package.json
Owners: @gizeasy, @N1MBER

changelog: 4.7.0
  CHANGELOG.md
Owners: @arhayka, @kolebayev

fix(List): fixed list
  src/components/ListCanary/List.css
  src/components/ListCanary/ListAddItem/ListAddItem.css
  src/components/ListCanary/ListAddItem/ListAddItem.tsx
  src/components/ListCanary/ListAddItem/index.ts
  src/components/ListCanary/ListCanary.tsx
  src/components/ListCanary/ListDivider/ListDivider.css
  src/components/ListCanary/ListDivider/ListDivider.tsx
  src/components/ListCanary/ListDivider/index.ts
  src/components/ListCanary/ListGroupLabel/ListGroupLabel.css
  src/components/ListCanary/ListGroupLabel/ListGroupLabel.tsx
  src/components/ListCanary/ListGroupLabel/index.ts
  src/components/ListCanary/ListItem/ListItem.css
  src/components/ListCanary/ListItem/ListItem.tsx
  src/components/ListCanary/ListItem/index.ts
  src/components/ListCanary/ListLoader/index.ts
  src/components/ListCanary/__stand__/List.variants.tsx
  src/components/ListCanary/index.ts
  src/components/ListCanary/maps.ts
  src/components/ListCanary/types.ts
  src/mixs/MixSpace/MixSpace.tsx
  src/mixs/MixSpace/__stand__/MixSpace.stand.mdx
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

docs(Table): add description for getCellWrap
  src/components/Table/Table.tsx
  src/components/Table/__stand__/Table.dev.stand.mdx
  src/components/Table/__tests__/helpers.test.ts
  src/components/Table/helpers.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

fix
  src/components/ContextMenu/ContextMenuLevel/ContextMenuLevel.tsx
  src/components/ContextMenu/__stand__/ContextMenu.variants.tsx
  src/components/ListCanary/ListAddItem/ListAddItem.css
  src/components/ListCanary/ListAddItem/ListAddItem.tsx
  src/components/ListCanary/ListCanary.tsx
  src/components/ListCanary/ListDivider/ListDivider.tsx
  src/components/ListCanary/ListGroupLabel/ListGroupLabel.tsx
  src/components/ListCanary/ListItem/ListItem.tsx
  src/components/ListCanary/ListLoader/ListLoader.css
  src/components/ListCanary/ListLoader/ListLoader.tsx
  src/components/ListCanary/__stand__/List.dev.stand.mdx
  src/components/ListCanary/__stand__/List.variants.tsx
  src/components/ListCanary/__stand__/examples/ListExampleIndent/ListExampleIndent.tsx
  src/components/ListCanary/__stand__/examples/ListExampleInnerOffset/ListExampleInnerOffset.tsx
  src/components/ListCanary/__stand__/examples/ListExampleSpace/ListExampleSpace.tsx
  src/components/ListCanary/types.ts
Owners: @gizeasy, @N1MBER, @kolebayev, @arhayka

docs(Table): update docs for getCellWrap
  src/components/Table/__stand__/Table.dev.stand.mdx
Owners: @arhayka, @kolebayev

fix: f
  src/components/Combobox/__tests__/Combobox.test.tsx
  src/components/ContextMenu/ContextMenuLevel/ContextMenuLevel.tsx
  src/components/EventInterceptor/propsHandlers/__tests__/useSelectEventsHandler.test.tsx
  src/components/ListCanary/ListAddItem/ListAddItem.css
  src/components/ListCanary/ListAddItem/ListAddItem.tsx
  src/components/ListCanary/ListItem/ListItem.tsx
  src/components/ListCanary/ListItemGrid/ListItemGrid.tsx
  src/components/ListCanary/ListLoader/ListLoader.tsx
  src/components/ListCanary/__stand__/List.dev.stand.mdx
  src/components/ListCanary/__stand__/List.variants.tsx
  src/components/ListCanary/index.ts
  src/components/ListCanary/maps.ts
  src/components/ListCanary/types.ts
  src/components/Select/__tests__/Select.test.tsx
  src/components/SelectComponents/SelectCreateButton/SelectCreateButton.css
  src/components/SelectComponents/SelectCreateButton/SelectCreateButton.tsx
  src/components/SelectComponents/SelectDropdown/SelectDropdown.css
  src/components/SelectComponents/SelectDropdown/SelectDropdown.tsx
  src/components/SelectComponents/SelectGroupLabel/SelectGroupLabel.css
  src/components/SelectComponents/SelectGroupLabel/SelectGroupLabel.tsx
  src/components/SelectComponents/SelectItem/SelectItem.css
  src/components/SelectComponents/SelectItem/SelectItem.tsx
  src/components/SelectComponents/__tests__/SelectCreateButton.test.tsx
  src/components/SelectComponents/__tests__/SelectDropdown.test.tsx
  src/components/SelectComponents/helpers.ts
  src/components/UserSelect/UserSelectItem/UserSelectItem.css
  src/components/UserSelect/UserSelectItem/UserSelectItem.tsx
  src/components/UserSelect/__tests__/UserSelect.test.tsx
Owners: @gizeasy, @N1MBER, @kolebayev, @arhayka

docs(Table): add description for getCellWrap
  src/components/Table/__stand__/Table.dev.stand.mdx
Owners: @arhayka, @kolebayev

f
  src/components/ListCanary/__stand__/List.dev.stand.mdx
Owners: @arhayka, @kolebayev

release: 4.7.1
  package.json
Owners: @gizeasy, @N1MBER

changelog: 4.7.1
  CHANGELOG.md
Owners: @arhayka, @kolebayev

chore(deps): update @consta/icons and @consta/stand
  package.json
  yarn.lock
Owners: @gizeasy, @N1MBER

feat(ContextMenu): mobile view added
  src/components/ContextMenu/ContextMenu.css
  src/components/ContextMenu/ContextMenu.tsx
  src/components/ContextMenu/ContextMenuLevel/ContextMenuLevel.css
  src/components/ContextMenu/ContextMenuLevel/ContextMenuLevel.tsx
  src/components/ContextMenu/ContextMenuLevelWrapper/ContextMenuLevelWrapper.css
  src/components/ContextMenu/ContextMenuLevelWrapper/ContextMenuLevelWrapper.tsx
  src/components/ContextMenu/ContextMenuLevelWrapper/index.ts
  src/components/ContextMenu/ContextMenuLevels/ContextMenuLevels.tsx
  src/components/ContextMenu/ContextMenuLevels/useSize.ts
  src/components/ContextMenu/ContextMenuWrapper/ContextMenuWrapper.css
  src/components/ContextMenu/ContextMenuWrapper/ContextMenuWrapper.tsx
  src/components/ContextMenu/ContextMenuWrapper/index.ts
  src/components/ContextMenu/__stand__/ContextMenu.dev.stand.mdx
  src/components/ContextMenu/__stand__/ContextMenu.variants.tsx
  src/components/ContextMenu/__stand__/examples/ContextMenuExampleMobile/ContextMenuExampleMobile.tsx
  src/components/ContextMenu/helpers.ts
  src/components/ContextMenu/types.ts
  src/components/ContextMenuDeprecated/ContextMenuDivider/ContextMenuDivider.css
  src/components/ContextMenuDeprecated/ContextMenuDivider/ContextMenuDivider.tsx
  src/components/ContextMenuDeprecated/ContextMenuGroupHeader/ContextMenuGroupHeader.css
  src/components/ContextMenuDeprecated/ContextMenuGroupHeader/ContextMenuGroupHeader.tsx
  src/components/ContextMenuDeprecated/ContextMenuLevel/ContextMenuLevel.css
  src/components/ContextMenuDeprecated/ContextMenuLevel/ContextMenuLevel.tsx
  src/components/ListCanary/ListItem/ListItem.css
  src/hooks/useComponentSize/useComponentSize.tsx
  src/mixs/MixPopoverAnimate/MixPopoverAnimate.css
  src/mixs/MixPopoverAnimate/__stand__/MixPopoverAnimate.stand.mdx
  src/mixs/MixPopoverAnimate/__stand__/examples/MixPopoverAnimateExample/MixPopoverAnimateExample.tsx
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

feat(ContextMenu): mobile view added (#2872)
  src/components/ContextMenu/ContextMenu.css
  src/components/ContextMenu/ContextMenu.tsx
  src/components/ContextMenu/ContextMenuLevel/ContextMenuLevel.css
  src/components/ContextMenu/ContextMenuLevel/ContextMenuLevel.tsx
  src/components/ContextMenu/ContextMenuLevelWrapper/ContextMenuLevelWrapper.css
  src/components/ContextMenu/ContextMenuLevelWrapper/ContextMenuLevelWrapper.tsx
  src/components/ContextMenu/ContextMenuLevelWrapper/index.ts
  src/components/ContextMenu/ContextMenuLevels/ContextMenuLevels.tsx
  src/components/ContextMenu/ContextMenuLevels/useSize.ts
  src/components/ContextMenu/ContextMenuWrapper/ContextMenuWrapper.css
  src/components/ContextMenu/ContextMenuWrapper/ContextMenuWrapper.tsx
  src/components/ContextMenu/ContextMenuWrapper/index.ts
  src/components/ContextMenu/__stand__/ContextMenu.dev.stand.mdx
  src/components/ContextMenu/__stand__/ContextMenu.variants.tsx
  src/components/ContextMenu/__stand__/examples/ContextMenuExampleMobile/ContextMenuExampleMobile.tsx
  src/components/ContextMenu/helpers.ts
  src/components/ContextMenu/types.ts
  src/components/ContextMenuDeprecated/ContextMenuDivider/ContextMenuDivider.css
  src/components/ContextMenuDeprecated/ContextMenuDivider/ContextMenuDivider.tsx
  src/components/ContextMenuDeprecated/ContextMenuGroupHeader/ContextMenuGroupHeader.css
  src/components/ContextMenuDeprecated/ContextMenuGroupHeader/ContextMenuGroupHeader.tsx
  src/components/ContextMenuDeprecated/ContextMenuLevel/ContextMenuLevel.css
  src/components/ContextMenuDeprecated/ContextMenuLevel/ContextMenuLevel.tsx
  src/components/ListCanary/ListItem/ListItem.css
  src/hooks/useComponentSize/useComponentSize.tsx
  src/mixs/MixPopoverAnimate/MixPopoverAnimate.css
  src/mixs/MixPopoverAnimate/__stand__/MixPopoverAnimate.stand.mdx
  src/mixs/MixPopoverAnimate/__stand__/examples/MixPopoverAnimateExample/MixPopoverAnimateExample.tsx
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

release: 4.8.0
  package.json
Owners: @gizeasy, @N1MBER

changelog: 4.8.0
  CHANGELOG.md
Owners: @arhayka, @kolebayev

chore(deps): update @consta/stand
  package.json
  yarn.lock
Owners: @gizeasy, @N1MBER

docs(sandbox): add links to sandbox for a few components and hooks
  src/components/AutoCompleteCanary/__stand__/AutoComplete.stand.tsx
  src/components/ListCanary/__stand__/List.stand.tsx
  src/hooks/useChoiceGroupIndexed/__stand__/useChoiceGroupIndexed.stand.tsx
  src/hooks/useComponentBreakpoints/__stand__/useComponentBreakpoints.stand.tsx
Owners: @gizeasy, @N1MBER

fix(Table): fix bug with excluding in calculations previous state
  src/components/Table/Table.tsx
Owners: @gizeasy, @N1MBER

refactor(Breadcrumbs): useElements used useHideElementsInLineCanary
  src/components/Breadcrumbs/BreadcrumbsFitModeDropdown/BreadcrumbsFitModeDropdown.tsx
  src/components/Breadcrumbs/useElements.ts
  src/hooks/useHideElementsInLineCanary/useHideElementsInLineCanary.ts
Owners: @gizeasy, @N1MBER

feat(AvatarGroup): add visibleCount='auto'
  src/components/AvatarGroup/AvatarGroup.css
  src/components/AvatarGroup/AvatarGroup.tsx
  src/components/AvatarGroup/__stand__/AvatarGroup.dev.stand.mdx
  src/components/AvatarGroup/__stand__/AvatarGroup.stand.mdx
  src/components/AvatarGroup/__stand__/AvatarGroup.variants.tsx
  src/components/AvatarGroup/__stand__/examples/AvatarGroupExampleCount/AvatarGroupExampleCount.tsx
  src/components/AvatarGroup/types.ts
  src/hooks/useHideElementsInLineCanary/__stand__/examples/ExampleUseHideElementsInLine/ExampleUseHideElementsInLine.css
  src/hooks/useHideElementsInLineCanary/__stand__/examples/ExampleUseHideElementsInLine/ExampleUseHideElementsInLine.tsx
  src/hooks/useHideElementsInLineCanary/__stand__/useHideElementsInLine.stand.mdx
  src/hooks/useHideElementsInLineCanary/__stand__/useHideElementsInLine.stand.tsx
  src/hooks/useHideElementsInLineCanary/helpers/getHiddenCount.ts
  src/hooks/useHideElementsInLineCanary/index.ts
  src/hooks/useHideElementsInLineCanary/useHideElementsInLineCanary.ts
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

feat(Attachment): add prop size
  src/components/Attachment/Attachment.css
  src/components/Attachment/Attachment.tsx
  src/components/Attachment/__stand__/Attachment.dev.stand.mdx
  src/components/Attachment/__stand__/Attachment.variants.tsx
  src/components/Attachment/__stand__/examples/AttachmentExampleSize/AttachmentExampleSize.tsx
  src/components/Attachment/index.ts
  src/components/Attachment/types.ts
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

feat(Switch): add new size
  src/components/Switch/Switch.css
  src/components/Switch/Switch.tsx
  src/components/Switch/__stand__/Switch.dev.stand.mdx
  src/components/Switch/__stand__/Switch.variants.tsx
  src/components/Switch/__stand__/examples/SwitchExampleSize/SwitchExampleSize.tsx
  src/components/Switch/index.ts
  src/components/Switch/types.ts
  src/components/Theme/__stand__/examples/ThemeExampleRoot/ThemeExampleRoot.tsx
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

docs(sandbox): add links to sandbox for a few components and hooks (#2876)
  src/components/AutoCompleteCanary/__stand__/AutoComplete.stand.tsx
  src/components/ListCanary/__stand__/List.stand.tsx
  src/hooks/useChoiceGroupIndexed/__stand__/useChoiceGroupIndexed.stand.tsx
  src/hooks/useComponentBreakpoints/__stand__/useComponentBreakpoints.stand.tsx
Owners: @gizeasy, @N1MBER

fix(Table): fix bug with excluding in calculations previous state (#2877)
  src/components/Table/Table.tsx
Owners: @gizeasy, @N1MBER

feat(Attachment): add prop size (#2882)
  src/components/Attachment/Attachment.css
  src/components/Attachment/Attachment.tsx
  src/components/Attachment/__stand__/Attachment.dev.stand.mdx
  src/components/Attachment/__stand__/Attachment.variants.tsx
  src/components/Attachment/__stand__/examples/AttachmentExampleSize/AttachmentExampleSize.tsx
  src/components/Attachment/index.ts
  src/components/Attachment/types.ts
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

fix: fix
  src/components/AvatarGroup/AvatarGroup.tsx
  src/hooks/useHideElementsInLineCanary/useHideElementsInLineCanary.ts
Owners: @gizeasy, @N1MBER

feat(AvatarGroup): add visibleCount='auto' (#2881)
  src/components/AvatarGroup/AvatarGroup.css
  src/components/AvatarGroup/AvatarGroup.tsx
  src/components/AvatarGroup/__stand__/AvatarGroup.dev.stand.mdx
  src/components/AvatarGroup/__stand__/AvatarGroup.stand.mdx
  src/components/AvatarGroup/__stand__/AvatarGroup.variants.tsx
  src/components/AvatarGroup/__stand__/examples/AvatarGroupExampleCount/AvatarGroupExampleCount.tsx
  src/components/AvatarGroup/types.ts
  src/components/Breadcrumbs/BreadcrumbsFitModeDropdown/BreadcrumbsFitModeDropdown.tsx
  src/components/Breadcrumbs/useElements.ts
  src/hooks/useHideElementsInLineCanary/__stand__/examples/ExampleUseHideElementsInLine/ExampleUseHideElementsInLine.css
  src/hooks/useHideElementsInLineCanary/__stand__/examples/ExampleUseHideElementsInLine/ExampleUseHideElementsInLine.tsx
  src/hooks/useHideElementsInLineCanary/__stand__/useHideElementsInLine.stand.mdx
  src/hooks/useHideElementsInLineCanary/__stand__/useHideElementsInLine.stand.tsx
  src/hooks/useHideElementsInLineCanary/helpers/getHiddenCount.ts
  src/hooks/useHideElementsInLineCanary/index.ts
  src/hooks/useHideElementsInLineCanary/useHideElementsInLineCanary.ts
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

release: 4.9.0
  package.json
Owners: @gizeasy, @N1MBER

changelog: 4.9.0
  CHANGELOG.md
Owners: @arhayka, @kolebayev

feat(Avatar): add monochrome
  __mocks__/fileMock.js
  jest.config.js
  src/components/Avatar/Avatar.css
  src/components/Avatar/Avatar.tsx
  src/components/Avatar/__mocks__/image.jpeg
  src/components/Avatar/__stand__/Avatar.dev.stand.mdx
  src/components/Avatar/__stand__/Avatar.variants.tsx
  src/components/Avatar/__stand__/examples/AvatarExampleForm/AvatarExampleForm.tsx
  src/components/Avatar/__stand__/examples/AvatarExampleImage/AvatarExampleImage.tsx
  src/components/Avatar/__stand__/examples/AvatarExampleMonochrome/AvatarExampleMonochrome.tsx
  src/components/Avatar/__stand__/examples/AvatarExampleSize/AvatarExampleSize.tsx
  src/components/AvatarGroup/AvatarGroup.css
  src/components/AvatarGroup/AvatarGroup.tsx
  src/components/AvatarGroup/__mocks__/image.jpeg
  src/components/AvatarGroup/__mocks__/image2.png
  src/components/AvatarGroup/__mocks__/mock.data.ts
  src/components/AvatarGroup/__stand__/AvatarGroup.dev.stand.mdx
  src/components/AvatarGroup/__stand__/AvatarGroup.variants.tsx
  src/components/AvatarGroup/types.ts
Owners: @gizeasy, @N1MBER, @kolebayev, @arhayka

feat(SwitchGroup): add new sizes
  src/components/SwitchGroup/SwitchGroup.css
  src/components/SwitchGroup/SwitchGroup.tsx
  src/components/SwitchGroup/__stand__/SwitchGroup.variants.tsx
  src/components/SwitchGroup/types.ts
Owners: @kolebayev, @gizeasy, @N1MBER

feat(MixFocus): add vars
  src/mixs/MixFocus/MixFocus.css
Owners: @kolebayev

feat(MixFocus): add vars (#2889)
  src/mixs/MixFocus/MixFocus.css
Owners: @kolebayev

feat(Switch): add new size (#2884)
  src/components/Switch/Switch.css
  src/components/Switch/Switch.tsx
  src/components/Switch/__stand__/Switch.dev.stand.mdx
  src/components/Switch/__stand__/Switch.variants.tsx
  src/components/Switch/__stand__/examples/SwitchExampleSize/SwitchExampleSize.tsx
  src/components/Switch/index.ts
  src/components/Switch/types.ts
  src/components/SwitchGroup/SwitchGroup.css
  src/components/SwitchGroup/SwitchGroup.tsx
  src/components/SwitchGroup/__stand__/SwitchGroup.variants.tsx
  src/components/SwitchGroup/types.ts
  src/components/Theme/__stand__/examples/ThemeExampleRoot/ThemeExampleRoot.tsx
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

feat(Avatar): add monochrome (#2885)
  __mocks__/fileMock.js
  jest.config.js
  src/components/Avatar/Avatar.css
  src/components/Avatar/Avatar.tsx
  src/components/Avatar/__mocks__/image.jpeg
  src/components/Avatar/__stand__/Avatar.dev.stand.mdx
  src/components/Avatar/__stand__/Avatar.variants.tsx
  src/components/Avatar/__stand__/examples/AvatarExampleForm/AvatarExampleForm.tsx
  src/components/Avatar/__stand__/examples/AvatarExampleImage/AvatarExampleImage.tsx
  src/components/Avatar/__stand__/examples/AvatarExampleMonochrome/AvatarExampleMonochrome.tsx
  src/components/Avatar/__stand__/examples/AvatarExampleSize/AvatarExampleSize.tsx
  src/components/AvatarGroup/AvatarGroup.css
  src/components/AvatarGroup/AvatarGroup.tsx
  src/components/AvatarGroup/__mocks__/image.jpeg
  src/components/AvatarGroup/__mocks__/image2.png
  src/components/AvatarGroup/__mocks__/mock.data.ts
  src/components/AvatarGroup/__stand__/AvatarGroup.dev.stand.mdx
  src/components/AvatarGroup/__stand__/AvatarGroup.variants.tsx
  src/components/AvatarGroup/types.ts
Owners: @gizeasy, @N1MBER, @kolebayev, @arhayka

docs(TextField): add examples with imask usage
  src/components/TextField/__stand__/TextField.dev.stand.mdx
  src/components/TextField/__stand__/examples/TextFieldExampleMask/TextFieldExampleMask.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER
