Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @N1MBER, @BagenovA, @linturaven

.github/CODEOWNERS:

* @gizeasy @N1MBER 
*.md @BagenovA
*.mdx @BagenovA
*.css @linturaven

Update package.json
  package.json
Owners: @gizeasy, @N1MBER

release: 5.0.0
  package.json
Owners: @gizeasy, @N1MBER

changelog: 5.0.0
  CHANGELOG.md
Owners: @BagenovA

fix(Selects): fixed classNames
  src/components/Select/__stand__/Select.variants.css
  src/components/Select/__stand__/Select.variants.tsx
  src/components/SelectComponents/SelectCreateButton/SelectCreateButton.tsx
  src/components/SelectComponents/SelectDropdown/SelectDropdown.tsx
  src/components/SelectComponents/SelectItem/SelectItem.tsx
  src/components/SelectComponents/SelectItemAll/SelectItemAll.tsx
  src/components/SelectComponents/SelectItemAll/index.ts
  src/components/SelectComponents/SelectLoader/SelectLoader.tsx
  src/components/SelectComponents/SelectValueTag/SelectValueTag.tsx
  src/components/UserSelect/UserSelectItem/UserSelectItem.css
  src/components/UserSelect/UserSelectItem/UserSelectItem.tsx
  src/components/UserSelect/UserSelectValue/UserSelectValue.css
  src/components/UserSelect/UserSelectValue/UserSelectValue.tsx
  src/components/UserSelect/__stand__/UserSelect.variants.css
  src/components/UserSelect/__stand__/UserSelect.variants.tsx
Owners: @linturaven, @gizeasy, @N1MBER

fix(Selects): fixed classNames (#3425)
  src/components/Select/__stand__/Select.variants.css
  src/components/Select/__stand__/Select.variants.tsx
  src/components/SelectComponents/SelectCreateButton/SelectCreateButton.tsx
  src/components/SelectComponents/SelectDropdown/SelectDropdown.tsx
  src/components/SelectComponents/SelectItem/SelectItem.tsx
  src/components/SelectComponents/SelectItemAll/SelectItemAll.tsx
  src/components/SelectComponents/SelectItemAll/index.ts
  src/components/SelectComponents/SelectLoader/SelectLoader.tsx
  src/components/SelectComponents/SelectValueTag/SelectValueTag.tsx
  src/components/UserSelect/UserSelectItem/UserSelectItem.css
  src/components/UserSelect/UserSelectItem/UserSelectItem.tsx
  src/components/UserSelect/UserSelectValue/UserSelectValue.css
  src/components/UserSelect/UserSelectValue/UserSelectValue.tsx
  src/components/UserSelect/__stand__/UserSelect.variants.css
  src/components/UserSelect/__stand__/UserSelect.variants.tsx
Owners: @linturaven, @gizeasy, @N1MBER

release: 5.0.1
  package.json
Owners: @gizeasy, @N1MBER

changelog: 5.0.1
  CHANGELOG.md
Owners: @BagenovA

fix(Checkbox): add onChangeDefault
  package.json
  src/components/Checkbox/Checkbox.tsx
  src/components/SelectComponents/SelectItem/SelectItem.tsx
  yarn.lock
Owners: @gizeasy, @N1MBER

fix(Checkbox): add onChangeDefault (#3428)
  package.json
  src/components/Checkbox/Checkbox.tsx
  src/components/SelectComponents/SelectItem/SelectItem.tsx
  yarn.lock
Owners: @gizeasy, @N1MBER

fix(Radio): add onChangeDefault
  src/components/Radio/Radio.tsx
Owners: @gizeasy, @N1MBER

fix(Switch): add onChangeDefault
  src/components/Switch/Switch.tsx
  src/components/Switch/types.ts
Owners: @gizeasy, @N1MBER

release: 5.0.2
  package.json
Owners: @gizeasy, @N1MBER

changelog: 5.0.2
  CHANGELOG.md
Owners: @BagenovA

fix(TextField): fixed rightSide and clearButton
  package.json
  src/components/TextField/TextField.css
  src/components/TextField/TextField.tsx
  src/components/TextField/__stand__/TextField.variants.tsx
  src/components/TextField/helpers.ts
  src/components/TextField/types.ts
  yarn.lock
Owners: @gizeasy, @N1MBER, @linturaven

fix(Cobobox): fixed align ClearButton
  src/components/SelectComponents/Select.css
Owners: @linturaven

fix docs
  src/components/TextField/TextField.css
  src/components/TextField/TextField.tsx
  src/components/TextField/__stand__/TextField.variants.tsx
Owners: @linturaven, @gizeasy, @N1MBER

fix(EventInterceptor): fix Checkbox events handler
  src/components/EventInterceptor/propsHandlers/useCheckboxEventsHandler.tsx
Owners: @gizeasy, @N1MBER

fix(EventInterceptor): fix Checkbox events handler (#3451)
  src/components/EventInterceptor/propsHandlers/useCheckboxEventsHandler.tsx
Owners: @gizeasy, @N1MBER

fix(TextField): fixed rightSide and clearButton (#3440)
  package.json
  src/components/TextField/TextField.css
  src/components/TextField/TextField.tsx
  src/components/TextField/__stand__/TextField.variants.tsx
  src/components/TextField/helpers.ts
  src/components/TextField/types.ts
  yarn.lock
Owners: @gizeasy, @N1MBER, @linturaven

fix(Cobobox): fixed align ClearButton (#3442)
  src/components/SelectComponents/Select.css
Owners: @linturaven

release: 5.0.3
  package.json
Owners: @gizeasy, @N1MBER

changelog: 5.0.3
  CHANGELOG.md
Owners: @BagenovA

chore(deps): update
  package.json
  yarn.lock
Owners: @gizeasy, @N1MBER

docs(AutoComplete): fix
  .huskyrc
Owners: @gizeasy, @N1MBER

docs: fix
  package.json
  yarn.lock
Owners: @gizeasy, @N1MBER

test if you are in a pipe or in a terminal
  .husky/prepare-commit-msg
  src/components/AutoComplete/__stand__/AutoComplete.stand.mdx
Owners: @gizeasy, @N1MBER, @BagenovA

chore(husky): fixed prepare-commit-msg for os windows
  .husky/prepare-commit-msg
Owners: @gizeasy, @N1MBER

chore(deps): fixed install-peers-cli for os windows
  .github/workflows/deploy.yml
  .github/workflows/tests.yml
  package.json
  yarn.lock
Owners: @gizeasy, @N1MBER

chore(deps): fixed install-peers-cli for os windows (#3475)
  .github/workflows/deploy.yml
  .github/workflows/tests.yml
  package.json
  yarn.lock
Owners: @gizeasy, @N1MBER

docs(Chips): edit description (#3412)
  src/components/Chips/__stand__/Chips.stand.tsx
Owners: @gizeasy, @N1MBER

fix(Combobox): multiple options
  src/components/Combobox/__stand__/Combobox.dev.stand.mdx
Owners: @BagenovA

fix(FieldLabel): fix icon position
  src/components/FieldLabel/FieldLabel.tsx
Owners: @gizeasy, @N1MBER

fix(Combobox): multiple options (#3490)
  src/components/Combobox/__stand__/Combobox.dev.stand.mdx
Owners: @BagenovA

fix(FieldLabel): fix icon position (#3492)
  src/components/FieldLabel/FieldLabel.tsx
Owners: @gizeasy, @N1MBER

feat(Tabs): make scroll buttons optional
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/TabsFitModeScrollWrapper/TabsFitModeScrollWrapper.tsx
  src/components/Tabs/__stand__/Tabs.variants.tsx
  src/components/Tabs/types.ts
Owners: @gizeasy, @N1MBER

fix(Tabs): fix scrollbar
  src/components/Tabs/Tabs.tsx
Owners: @gizeasy, @N1MBER

fix(Pagination): fix generate array
  src/components/Pagination/Pagination.css
  src/components/Pagination/Pagination.tsx
  src/components/Pagination/PaginationBase/PaginationBase.css
  src/components/Pagination/PaginationBase/PaginationBase.tsx
  src/components/Pagination/PaginationBase/index.ts
  src/components/Pagination/PaginationItem/PaginationItem.css
  src/components/Pagination/PaginationItem/PaginationItem.tsx
  src/components/Pagination/PaginationList/PaginationList.css
  src/components/Pagination/PaginationList/PaginationList.tsx
  src/components/Pagination/PaginationNumberInput/PaginationNumberInput.tsx
  src/components/Pagination/PaginationSizeCalculateHelper/PaginationSizeCalculateHelper.css
  src/components/Pagination/PaginationSizeCalculateHelper/PaginationSizeCalculateHelper.tsx
  src/components/Pagination/PaginationSizeCalculateHelper/index.ts
  src/components/Pagination/__stand__/Pagination.dev.stand.mdx
  src/components/Pagination/__stand__/Pagination.variants.css
  src/components/Pagination/__stand__/Pagination.variants.tsx
  src/components/Pagination/__stand__/examples/PaginationBaseExample/PaginationBaseExample.tsx
  src/components/Pagination/__stand__/examples/PaginationBaseExampleCustom/PaginationBaseExampleCustom.tsx
  src/components/Pagination/helpers.ts
  src/components/Pagination/index.ts
  src/components/Pagination/types.ts
  src/components/Pagination/usePaginationItems.tsx
  src/components/Pagination/usePaginationKeys.tsx
Owners: @linturaven, @gizeasy, @N1MBER, @BagenovA

fix(TextField): global styles for tags removed
  src/components/TextField/TextField.css
Owners: @linturaven

fix(DatePicker): typo corrected
  src/components/DatePicker/__stand__/DatePicker.dev.stand.mdx
  src/components/DatePicker/__stand__/examples/DatePickerExampleOnError/DatePickerExampleOnError.tsx
Owners: @BagenovA, @gizeasy, @N1MBER

fix(DatePicker): fix clearButton
  src/components/TextField/TextField.tsx
Owners: @gizeasy, @N1MBER
