Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @alyonurchick1, @linturaven

fix
  src/components/Attachment/__stand__/Attachment.dev.stand.mdx
  src/components/AutoComplete/__stand__/AutoComplete.dev.stand.mdx
  src/components/Avatar/__stand__/Avatar.dev.stand.mdx
  src/components/Badge/__stand__/Badge.dev.stand.mdx
Owners: @alyonurchick1

Update Avatar.dev.stand.mdx
  src/components/Avatar/__stand__/Avatar.dev.stand.mdx
Owners: @alyonurchick1

FIX
  src/components/BookmarkTabs/__stand__/BookmarkTabs.dev.stand.mdx
  src/components/Breadcrumbs/__stand__/Breadcrumbs.dev.stand.mdx
Owners: @alyonurchick1

Update BookmarkTabs.dev.stand.mdx
  src/components/BookmarkTabs/__stand__/BookmarkTabs.dev.stand.mdx
Owners: @alyonurchick1

Update Attachment.dev.stand.mdx
  src/components/Attachment/__stand__/Attachment.dev.stand.mdx
Owners: @alyonurchick1

Update Badge.dev.stand.mdx
  src/components/Badge/__stand__/Badge.dev.stand.mdx
Owners: @alyonurchick1

ggg
  package.json
  yarn.lock
Owners: @gizeasy

ggg
  src/components/BookmarkTabs/__stand__/BookmarkTabs.dev.stand.mdx
Owners: @alyonurchick1

Update cspell.json
  cspell.json
Owners: @gizeasy

docs: implementation of editorial policy (#3970)
  cspell.json
  package.json
  src/components/Attachment/__stand__/Attachment.dev.stand.mdx
  src/components/AutoComplete/__stand__/AutoComplete.dev.stand.mdx
  src/components/Avatar/__stand__/Avatar.dev.stand.mdx
  src/components/AvatarGroup/__stand__/AvatarGroup.dev.stand.mdx
  src/components/Badge/__stand__/Badge.dev.stand.mdx
  src/components/BookmarkTabs/__stand__/BookmarkTabs.dev.stand.mdx
  src/components/Breadcrumbs/__stand__/Breadcrumbs.dev.stand.mdx
  yarn.lock
Owners: @gizeasy, @alyonurchick1

feat(PortalWithTheme): added type React.RefObject<HTMLElement> for container
  src/components/Modal/Modal.tsx
  src/components/Popover/Popover.tsx
  src/components/PortalWithTheme/PortalWithTheme.tsx
  src/components/PortalWithTheme/PortalWithThemeConsumer/PortalWithThemeConsumer.tsx
  src/components/PortalWithTheme/PortalWithThemeConsumer/index.ts
  src/components/Sidebar/Sidebar.tsx
Owners: @gizeasy

feat(PortalWithTheme): added type React.RefObject<HTMLElement> for container (#3973)
  src/components/Modal/Modal.tsx
  src/components/Popover/Popover.tsx
  src/components/PortalWithTheme/PortalWithTheme.tsx
  src/components/PortalWithTheme/PortalWithThemeConsumer/PortalWithThemeConsumer.tsx
  src/components/PortalWithTheme/PortalWithThemeConsumer/index.ts
  src/components/Sidebar/Sidebar.tsx
Owners: @gizeasy

release: 5.23.0
  package.json
Owners: @gizeasy

changelog: 5.23.0
  CHANGELOG.md
Owners: @alyonurchick1

Update AutoComplete.dev.stand.mdx
  src/components/AutoCompleteCanary/__stand__/AutoComplete.dev.stand.mdx
Owners: @alyonurchick1

Update AutoComplete.dev.stand.mdx
  src/components/AutoComplete/__stand__/AutoComplete.dev.stand.mdx
Owners: @alyonurchick1

fix avatar
  src/components/Avatar/__stand__/Avatar.dev.stand.mdx
  src/components/AvatarGroup/__stand__/AvatarGroup.dev.stand.mdx
Owners: @alyonurchick1

Update Badge.dev.stand.mdx
  src/components/Badge/__stand__/Badge.dev.stand.mdx
Owners: @alyonurchick1

Update BadgeGroup.dev.stand.mdx
  src/components/BadgeGroup/__stand__/BadgeGroup.dev.stand.mdx
Owners: @alyonurchick1

Update Button.dev.stand.mdx
  src/components/Button/__stand__/Button.dev.stand.mdx
Owners: @alyonurchick1

Update Card.dev.stand.mdx
  src/components/Card/__stand__/Card.dev.stand.mdx
Owners: @alyonurchick1

docs (Badge): update Badge.dev.stand.mdx (#3976)
  src/components/Badge/__stand__/Badge.dev.stand.mdx
Owners: @alyonurchick1

docs(AvatarGroup): update docs(#3977)
  src/components/Avatar/__stand__/Avatar.dev.stand.mdx
  src/components/AvatarGroup/__stand__/AvatarGroup.dev.stand.mdx
Owners: @alyonurchick1

docs(AutoComplete): update docs(#3978)
  src/components/AutoComplete/__stand__/AutoComplete.dev.stand.mdx
Owners: @alyonurchick1

fix(AutoCompliteCanary): fixed example
  src/components/AutoCompleteCanary/__stand__/AutoComplete.variants.css
  src/components/AutoCompleteCanary/__stand__/AutoComplete.variants.tsx
Owners: @linturaven, @gizeasy

docs(AutoComplete Canary): implementation of editorial policy (#3979)
  src/components/AutoCompleteCanary/__stand__/AutoComplete.dev.stand.mdx
  src/components/AutoCompleteCanary/__stand__/AutoComplete.variants.css
  src/components/AutoCompleteCanary/__stand__/AutoComplete.variants.tsx
Owners: @alyonurchick1, @linturaven, @gizeasy

Update BadgeGroup.dev.stand.mdx
  src/components/BadgeGroup/__stand__/BadgeGroup.dev.stand.mdx
Owners: @alyonurchick1

docs(BadgeGroup): implementation of editorial policy (#3980)
  src/components/BadgeGroup/__stand__/BadgeGroup.dev.stand.mdx
Owners: @alyonurchick1

docs(Button): implementation of editorial policy (#3984)
  src/components/Button/__stand__/Button.dev.stand.mdx
Owners: @alyonurchick1

docs(Card): implementation of editorial policy (#3986)
  src/components/Card/__stand__/Card.dev.stand.mdx
Owners: @alyonurchick1

fix(DatePicker): fixed caption space
  src/components/DatePicker/DatePickerMixRangeField/DatePickerMixRangeField.css
Owners: @linturaven

chore: update compute-scroll-into-view
  package.json
  src/utils/scrollIntoView.ts
  yarn.lock
Owners: @gizeasy

chore: update compute-scroll-into-view (#3989)
  package.json
  src/utils/scrollIntoView.ts
  yarn.lock
Owners: @gizeasy

release: 5.24.0
  package.json
Owners: @gizeasy

changelog: 5.24.0
  CHANGELOG.md
Owners: @alyonurchick1

chore: update deps
  package.json
  yarn.lock
Owners: @gizeasy

Update Checkbox.dev.stand.mdx
  src/components/Checkbox/__stand__/Checkbox.dev.stand.mdx
Owners: @alyonurchick1

docs (CheckboxGroup): implementation of editorial policy
  src/components/CheckboxGroup/__stand__/CheckboxGroup.dev.stand.mdx
Owners: @alyonurchick1

docs (ChoiceGroup): implementation of editorial policy
  src/components/ChoiceGroup/__stand__/ChoiceGroup.dev.stand.mdx
Owners: @alyonurchick1

docs (Collapse): implementation of editorial policy
  src/components/Collapse/__stand__/Collapse.dev.stand.mdx
Owners: @alyonurchick1

.github/CODEOWNERS:

* @gizeasy
*.md @alyonurchick1
*.mdx @alyonurchick1
*.css @linturaven
