Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

.github/CODEOWNERS:

* @gizeasy @N1MBER 
*.md @arhayka @kolebayev
*.mdx @arhayka @kolebayev
*.css @kolebayev

release: 4.4.0
  package.json
Owners: @gizeasy, @N1MBER

changelog: 4.4.0
  CHANGELOG.md
Owners: @arhayka, @kolebayev

fix(useComponentBreakpoints, useBreakpoints): fixed types
  package.json
  src/hooks/useBreakpoints/mapping.ts
  src/hooks/useBreakpoints/types.ts
  src/hooks/useBreakpoints/useBreakpoints.ts
  src/hooks/useComponentBreakpoints/useComponentBreakpoints.ts
Owners: @gizeasy, @N1MBER

fix(Table): fix border on multi level header
  src/components/Table/Header/TableHeader.tsx
  src/components/Table/__mock__/data.mock.tsx
  src/components/Table/helpers.ts
Owners: @gizeasy, @N1MBER

docs(ustBreakpoints): edit doc
  src/hooks/useBreakpoints/__stand__/useBreakpoints.stand.mdx
  src/hooks/useComponentBreakpoints/__stand__/useComponentBreakpoints.stand.mdx
Owners: @arhayka, @kolebayev

docs(checkbox): add s and xs size in doc
  src/components/Checkbox/__stand__/Checkbox.dev.stand.mdx
Owners: @arhayka, @kolebayev

docs: add how to use tab
  src/components/Attachment/__stand__/Attachment.dev.stand.mdx
  src/components/Attachment/__stand__/Attachment.use.stand.mdx
  src/components/Badge/__stand__/Badge.stand.mdx
  src/components/Badge/__stand__/Badge.use.stand.mdx
  src/components/Button/__stand__/Button.dev.stand.mdx
  src/components/Button/__stand__/Button.stand.mdx
  src/components/Button/__stand__/Button.use.stand.mdx
  src/components/Button/__stand__/examples/ButtonExampleName/ButtonExampleName.tsx
  src/components/Card/__stand__/Card.dev.stand.mdx
  src/components/CheckboxGroup/__stand__/CheckboxGroup.stand.mdx
  src/components/CheckboxGroup/__stand__/CheckboxGroup.use.stand.mdx
  src/components/ChoiceGroup/__stand__/ChoiceGroup.stand.mdx
  src/components/ChoiceGroup/__stand__/ChoiceGroup.use.stand.mdx
  src/components/DatePicker/__stand__/DatePicker.dev.stand.mdx
  src/components/DatePicker/__stand__/DatePicker.stand.mdx
  src/components/FieldGroup/__stand__/FieldGroup.dev.stand.mdx
  src/components/Header/__stand__/Header.dev.stand.mdx
  src/components/Informer/__stand__/Informer.stand.mdx
  src/components/Informer/__stand__/Informer.use.stand.mdx
  src/components/ProgressStepBar/__stand__/ProgressStepBar.stand.mdx
  src/components/ProgressStepBar/__stand__/ProgressStepBar.use.stand.mdx
  src/components/RadioGroup/__stand__/RadioGroup.stand.mdx
  src/components/RadioGroup/__stand__/RadioGroup.use.stand.mdx
  src/components/RadioGroupDeprecated/__stand__/RadioGroupDeprecated.stand.mdx
  src/components/RadioGroupDeprecated/__stand__/RadioGroupDeprecated.use.stand.mdx
  src/components/Skeleton/__stand__/Skeleton.dev.stand.mdx
  src/components/Skeleton/__stand__/Skeleton.use.stand.mdx
  src/components/Tag/__stand__/Tag.dev.stand.mdx
  src/components/ThemeToggler/__stand__/ThemeToggler.dev.stand.mdx
  src/components/Tooltip/__stand__/Tooltip.dev.stand.mdx
  src/components/User/__stand__/User.dev.stand.mdx
  src/components/User/__stand__/examples/UserExampleSize/UserExampleSize.tsx
  src/stand/standConfig.ts
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(ustBreakpoints): edit doc (#2798)
  src/hooks/useBreakpoints/__stand__/useBreakpoints.stand.mdx
  src/hooks/useComponentBreakpoints/__stand__/useComponentBreakpoints.stand.mdx
Owners: @arhayka, @kolebayev

dd
  src/uiKit/components/DocsDecorator/DocsDecorator.tsx
  src/uiKit/whitepaper/whitepaper.ts
Owners: @gizeasy, @N1MBER

docs: add how to use tab (#2799)
  src/components/Attachment/__stand__/Attachment.dev.stand.mdx
  src/components/Attachment/__stand__/Attachment.use.stand.mdx
  src/components/Badge/__stand__/Badge.stand.mdx
  src/components/Badge/__stand__/Badge.use.stand.mdx
  src/components/Button/__stand__/Button.dev.stand.mdx
  src/components/Button/__stand__/Button.stand.mdx
  src/components/Button/__stand__/Button.use.stand.mdx
  src/components/Button/__stand__/examples/ButtonExampleName/ButtonExampleName.tsx
  src/components/Card/__stand__/Card.dev.stand.mdx
  src/components/CheckboxGroup/__stand__/CheckboxGroup.stand.mdx
  src/components/CheckboxGroup/__stand__/CheckboxGroup.use.stand.mdx
  src/components/ChoiceGroup/__stand__/ChoiceGroup.stand.mdx
  src/components/ChoiceGroup/__stand__/ChoiceGroup.use.stand.mdx
  src/components/DatePicker/__stand__/DatePicker.dev.stand.mdx
  src/components/DatePicker/__stand__/DatePicker.stand.mdx
  src/components/FieldGroup/__stand__/FieldGroup.dev.stand.mdx
  src/components/Header/__stand__/Header.dev.stand.mdx
  src/components/Informer/__stand__/Informer.stand.mdx
  src/components/Informer/__stand__/Informer.use.stand.mdx
  src/components/ProgressStepBar/__stand__/ProgressStepBar.stand.mdx
  src/components/ProgressStepBar/__stand__/ProgressStepBar.use.stand.mdx
  src/components/RadioGroup/__stand__/RadioGroup.stand.mdx
  src/components/RadioGroup/__stand__/RadioGroup.use.stand.mdx
  src/components/RadioGroupDeprecated/__stand__/RadioGroupDeprecated.stand.mdx
  src/components/RadioGroupDeprecated/__stand__/RadioGroupDeprecated.use.stand.mdx
  src/components/Skeleton/__stand__/Skeleton.dev.stand.mdx
  src/components/Skeleton/__stand__/Skeleton.use.stand.mdx
  src/components/Tag/__stand__/Tag.dev.stand.mdx
  src/components/ThemeToggler/__stand__/ThemeToggler.dev.stand.mdx
  src/components/Tooltip/__stand__/Tooltip.dev.stand.mdx
  src/components/User/__stand__/User.dev.stand.mdx
  src/components/User/__stand__/examples/UserExampleSize/UserExampleSize.tsx
  src/stand/standConfig.ts
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

feat(Checkbox): add 's' and 'xs' size (#2790)
  src/components/Checkbox/Checkbox.css
  src/components/Checkbox/Checkbox.tsx
  src/components/Checkbox/__stand__/Checkbox.dev.stand.mdx
  src/components/Checkbox/__stand__/examples/CheckboxExampleSize/CheckboxExampleSize.tsx
  src/components/Theme/_control/Theme_control_gpnDefault.css
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

feat(CheckboxGroup): add s and xs sizes
  src/components/CheckboxGroup/CheckboxGroup.css
  src/components/CheckboxGroup/types.ts
Owners: @kolebayev, @gizeasy, @N1MBER

fix(Table): fix border on multi level header (#2797)
  src/components/Table/Header/TableHeader.tsx
  src/components/Table/__mock__/data.mock.tsx
  src/components/Table/helpers.ts
Owners: @gizeasy, @N1MBER

feat(CheckboxGroup): add s and xs sizes (#2800)
  src/components/CheckboxGroup/CheckboxGroup.css
  src/components/CheckboxGroup/types.ts
Owners: @kolebayev, @gizeasy, @N1MBER

docs(Theme): edit docs about fonts
  src/components/Theme/__stand__/Theme.dev.stand.mdx
  src/components/Theme/_font/Theme_font_gpnDefault.css
  src/uiKit/whitepaper/whitepaper.css
Owners: @arhayka, @kolebayev

release: 4.5.0
  package.json
  yarn.lock
Owners: @gizeasy, @N1MBER

changelog: 4.5.0
  CHANGELOG.md
Owners: @arhayka, @kolebayev

fix(Skeleton): fixed style
  src/components/Skeleton/Skeleton.css
  src/components/Skeleton/SkeletonBrick/SkeletonBrick.tsx
  src/components/Skeleton/SkeletonCircle/SkeletonCircle.tsx
  src/components/Skeleton/SkeletonText/SkeletonText.tsx
Owners: @kolebayev, @gizeasy, @N1MBER

docs: add how to use tab
  src/components/Switch/__stand__/Switch.stand.mdx
  src/components/Switch/__stand__/Switch.use.stand.mdx
  src/components/Tabs/__stand__/Tabs.stand.mdx
  src/components/Tabs/__stand__/Tabs.use.stand.mdx
Owners: @arhayka, @kolebayev

fix(Table): fix bug with incorrect row spans on nested rows
  src/components/Table/Table.tsx
Owners: @gizeasy, @N1MBER

fix(Skeleton): fixed style (#2802)
  src/components/Skeleton/Skeleton.css
  src/components/Skeleton/SkeletonBrick/SkeletonBrick.tsx
  src/components/Skeleton/SkeletonCircle/SkeletonCircle.tsx
  src/components/Skeleton/SkeletonText/SkeletonText.tsx
Owners: @kolebayev, @gizeasy, @N1MBER

docs: add how to use tab (#2803)
  src/components/Switch/__stand__/Switch.stand.mdx
  src/components/Switch/__stand__/Switch.use.stand.mdx
  src/components/Tabs/__stand__/Tabs.stand.mdx
  src/components/Tabs/__stand__/Tabs.use.stand.mdx
Owners: @arhayka, @kolebayev

fix(Table): make a nested rows mergable witout parent row (#2795)
  src/components/Table/Table.tsx
Owners: @gizeasy, @N1MBER

fix(Snackbar, UserSelect): rewrite CssTransition to Transition
  src/components/SnackBar/SnackBar.css
  src/components/SnackBar/SnackBar.tsx
  src/components/UserSelect/UserSelectItem/UserSelectItem.css
  src/components/UserSelect/UserSelectItem/UserSelectItem.tsx
Owners: @kolebayev, @gizeasy, @N1MBER

release: 4.5.1
  package.json
Owners: @gizeasy, @N1MBER

changelog: 4.5.1
  CHANGELOG.md
Owners: @arhayka, @kolebayev

fix(UserSelectItem): fix arrow animation
  src/components/UserSelect/UserSelectItem/UserSelectItem.css
Owners: @kolebayev

feat(ListCanary): add new component
  src/components/ListCanary/List.css
  src/components/ListCanary/ListAddItem/ListAddItem.css
  src/components/ListCanary/ListAddItem/ListAddItem.tsx
  src/components/ListCanary/ListAddItem/index.tsx
  src/components/ListCanary/ListCanary.tsx
  src/components/ListCanary/ListGroupLabel/ListGroupLabel.css
  src/components/ListCanary/ListGroupLabel/ListGroupLabel.tsx
  src/components/ListCanary/ListGroupLabel/index.tsx
  src/components/ListCanary/ListItem/ListItem.css
  src/components/ListCanary/ListItem/ListItem.tsx
  src/components/ListCanary/ListItem/index.tsx
  src/components/ListCanary/ListLoader/ListLoader.css
  src/components/ListCanary/ListLoader/ListLoader.tsx
  src/components/ListCanary/ListLoader/index.tsx
  src/components/ListCanary/__mocks__/mock.data.tsx
  src/components/ListCanary/__stand__/List.dev.stand.mdx
  src/components/ListCanary/__stand__/List.stand.mdx
  src/components/ListCanary/__stand__/List.stand.tsx
  src/components/ListCanary/__stand__/List.variants.tsx
  src/components/ListCanary/__stand__/examples/ListExampleBasic/ListExampleBasic.tsx
  src/components/ListCanary/__stand__/examples/ListExampleCustomTypes/ListExampleCustomTypes.tsx
  src/components/ListCanary/__stand__/examples/ListExampleDisabled/ListExampleDisabled.tsx
  src/components/ListCanary/__stand__/examples/ListExampleDisabledItem/ListExampleDisabledItem.tsx
  src/components/ListCanary/__stand__/examples/ListExampleForm/ListExampleForm.css
  src/components/ListCanary/__stand__/examples/ListExampleForm/ListExampleForm.tsx
  src/components/ListCanary/__stand__/examples/ListExampleGroups/ListExampleGroups.tsx
  src/components/ListCanary/__stand__/examples/ListExampleItems/ListExampleItems.tsx
  src/components/ListCanary/__stand__/examples/ListExampleLoading/ListExampleLoading.tsx
  src/components/ListCanary/__stand__/examples/ListExampleMultiple/ListExampleMultiple.tsx
  src/components/ListCanary/__stand__/examples/ListExampleRenderItem/ListExampleRenderItem.css
  src/components/ListCanary/__stand__/examples/ListExampleRenderItem/ListExampleRenderItem.tsx
  src/components/ListCanary/__stand__/examples/ListExampleSize/ListExampleSize.css
  src/components/ListCanary/__stand__/examples/ListExampleSize/ListExampleSize.tsx
  src/components/ListCanary/helper.ts
  src/components/ListCanary/index.tsx
  src/components/ListCanary/types.ts
  src/mixs/MixList/MixList.css
  src/mixs/MixList/MixList.tsx
  src/mixs/MixList/index.tsx
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

feat(DatePicker): add prop dropdownClassName
  src/components/DatePicker/DatePickerTypeDate/DatePickerTypeDate.tsx
  src/components/DatePicker/DatePickerTypeDateRange/DatePickerTypeDateRange.tsx
  src/components/DatePicker/DatePickerTypeDateTime/DatePickerTypeDateTime.tsx
  src/components/DatePicker/DatePickerTypeDateTimeRange/DatePickerTypeDateTimeRange.tsx
  src/components/DatePicker/DatePickerTypeMonth/DatePickerTypeMonth.tsx
  src/components/DatePicker/DatePickerTypeMonthRange/DatePickerTypeMonthRange.tsx
  src/components/DatePicker/DatePickerTypeTime/DatePickerTypeTime.tsx
  src/components/DatePicker/DatePickerTypeYear/DatePickerTypeYear.tsx
  src/components/DatePicker/DatePickerTypeYearRange/DatePickerTypeYearRange.tsx
  src/components/DatePicker/__stand__/DatePicker.dev.stand.mdx
  src/components/DatePicker/types.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

feat(DatePicker): add prop dropdownClassName (#2810)
  src/components/DatePicker/DatePickerTypeDate/DatePickerTypeDate.tsx
  src/components/DatePicker/DatePickerTypeDateRange/DatePickerTypeDateRange.tsx
  src/components/DatePicker/DatePickerTypeDateTime/DatePickerTypeDateTime.tsx
  src/components/DatePicker/DatePickerTypeDateTimeRange/DatePickerTypeDateTimeRange.tsx
  src/components/DatePicker/DatePickerTypeMonth/DatePickerTypeMonth.tsx
  src/components/DatePicker/DatePickerTypeMonthRange/DatePickerTypeMonthRange.tsx
  src/components/DatePicker/DatePickerTypeTime/DatePickerTypeTime.tsx
  src/components/DatePicker/DatePickerTypeYear/DatePickerTypeYear.tsx
  src/components/DatePicker/DatePickerTypeYearRange/DatePickerTypeYearRange.tsx
  src/components/DatePicker/__stand__/DatePicker.dev.stand.mdx
  src/components/DatePicker/types.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

release: 4.6.0
  package.json
Owners: @gizeasy, @N1MBER

changelog: 4.6.0
  CHANGELOG.md
Owners: @arhayka, @kolebayev

docs(useComponentSize): add documentation for useComponentSize hook and also add sandbox for it
  src/hooks/useComponentSize/__stand__/useComponentSize.stand.mdx
  src/hooks/useComponentSize/__stand__/useComponentSize.stand.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

release: 4.6.1
  package.json
Owners: @gizeasy, @N1MBER

changelog: 4.6.1
  CHANGELOG.md
Owners: @arhayka, @kolebayev

fix(List): rewrite list
  src/components/ListCanary/List.css
  src/components/ListCanary/ListCanary.tsx
  src/components/ListCanary/ListWrapper/ListWrapper.tsx
  src/components/ListCanary/ListWrapper/index.tsx
  src/components/ListCanary/MixList/MixList.css
  src/components/ListCanary/MixList/MixList.tsx
  src/components/ListCanary/MixList/index.tsx
  src/components/ListCanary/__stand__/List.variants.css
  src/components/ListCanary/__stand__/List.variants.tsx
  src/components/ListCanary/index.tsx
  src/components/ListCanary/types.ts
Owners: @kolebayev, @gizeasy, @N1MBER

docs(Icons): rewrite links and make icons doc deprecated
  src/components/Attachment/__stand__/Attachment.dev.stand.mdx
  src/components/Badge/__stand__/Badge.dev.stand.mdx
  src/components/Button/__stand__/Button.dev.stand.mdx
  src/components/Collapse/__stand__/Collapse.dev.stand.mdx
  src/components/Header/__stand__/Header.dev.stand.mdx
  src/components/Informer/__stand__/Informer.dev.stand.mdx
  src/components/Slider/__stand__/Slider.dev.stand.mdx
  src/components/SnackBar/__stand__/SnackBar.dev.stand.mdx
  src/components/Tag/__stand__/Tag.dev.stand.mdx
  src/docs/addIcons/__stand__/addIcons.stand.mdx
  src/icons/Icon/__stand__/Icon.dev.stand.mdx
  src/icons/Icon/__stand__/Icon.stand.mdx
  src/icons/Icon/__stand__/Icon.stand.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

fix(icons): rewrite imports
  src/components/Collapse/types.ts
  src/components/ListCanary/types.ts
Owners: @gizeasy, @N1MBER

docs(useComponentSize): rewrite doc
  src/hooks/useComponentSize/__stand__/useComponentSize.stand.mdx
Owners: @arhayka, @kolebayev

fix(Table): fix ciolumn width detecting
  src/components/Table/Table.tsx
Owners: @gizeasy, @N1MBER
