Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @alyonurchick1, @linturaven

.github/CODEOWNERS:

* @gizeasy
*.md @alyonurchick1
*.mdx @alyonurchick1
*.css @linturaven

ddd
  src/components/FieldComponents/FieldArrayValueInlineControl/FieldArrayValueInlineControl.tsx
  src/components/FieldComponents/FieldArrayValueInlineControl/types.ts
  src/components/FieldComponents/FieldArrayValueItem/FieldArrayValueItem.css
  src/components/FieldComponents/FieldArrayValueItem/FieldArrayValueItem.tsx
  src/components/TextFieldCanary/TextField.tsx
  src/components/TextFieldCanary/TextFieldTypeTextArray/TextFieldTypeTextArray.tsx
  src/components/TextFieldCanary/__stand__/TextField.dev.stand.mdx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleMask/TextFieldExampleMask.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleRenderValueItem/TextFieldExampleRenderValueItem.css
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleRenderValueItem/TextFieldExampleRenderValueItem.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleText/TextFieldExampleText.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleType/TextFieldExampleType.tsx
  src/components/TextFieldCanary/types.ts
Owners: @gizeasy, @linturaven, @alyonurchick1

dddd
  src/components/FieldComponents/FieldArrayValueInlineControl/FieldArrayValueInlineControl.tsx
  src/components/TextFieldCanary/TextFieldTypeNumber/TextFieldTypeNumber.tsx
  src/components/TextFieldCanary/TextFieldTypePassword/TextFieldTypePassword.tsx
  src/components/TextFieldCanary/TextFieldTypeText/TextFieldTypeText.tsx
  src/components/TextFieldCanary/TextFieldTypeTextArea/TextFieldTypeTextArea.tsx
  src/components/TextFieldCanary/TextFieldTypeTextArray/TextFieldTypeTextArray.tsx
  src/components/TextFieldCanary/__stand__/TextField.dev.stand.mdx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleMask/TextFieldExampleMask.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleTextArrayPreParsing/TextFieldExampleTextArrayPreParsing.tsx
  src/components/TextFieldCanary/types.ts
  src/components/TextFieldCanary/useTextField.ts
Owners: @gizeasy, @alyonurchick1

feat(TextField): add canary component
  .husky/pre-commit
  .husky/pre-push
  src/components/FieldGroup/getForm.ts
  src/components/TextFieldCanary/TextFieldTypeTextArray/TextFieldTypeTextArray.tsx
  src/components/TextFieldCanary/__mocks__/variants.ts
  src/components/TextFieldCanary/__stand__/TextField.dev.stand.mdx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleCaption/TextFieldExampleCaption.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleLabel/TextFieldExampleLabel.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleMask/TextFieldExampleMask.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleRequired/TextFieldExampleRequired.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleText copy/TextFieldExampleTextArrayPreParsing.tsx
  src/components/TextFieldCanary/types.ts
  src/hooks/useKeysRef/useKeysRef.ts
Owners: @gizeasy, @alyonurchick1

feat(Text): add _weight_extralight and _weight_extrabold (#3766)
  src/components/Text/Text.css
  src/components/Text/Text.tsx
  src/components/Theme/_size/Theme_size_gpnDefault.css
Owners: @linturaven, @gizeasy

Update TextField.dev.stand.mdx
  src/components/TextFieldCanary/__stand__/TextField.dev.stand.mdx
Owners: @alyonurchick1

fix(TextField): remove helpers
  src/components/TextFieldCanary/helpers.ts
Owners: @gizeasy

Update TextField.dev.stand.mdx
  src/components/TextFieldCanary/__stand__/TextField.dev.stand.mdx
Owners: @alyonurchick1

Update TextField.stand.mdx
  src/components/TextFieldCanary/__stand__/TextField.stand.mdx
Owners: @alyonurchick1

Update TextField.dev.stand.mdx
  src/components/TextFieldCanary/__stand__/TextField.dev.stand.mdx
Owners: @alyonurchick1

fix(FieldComponents): fixed
  src/components/FieldComponents/FieldArrayValueInlineControl/FieldArrayValueInlineControl.css
  src/components/FieldComponents/FieldInput/FieldInput.css
  src/components/FieldComponents/FieldLabel/FieldLabel.tsx
  src/components/FieldComponents/FieldWrapper/FieldWrapper.css
  src/components/FieldComponents/FieldWrapper/FieldWrapper.tsx
  src/components/FieldComponents/__stand__/FieldComponents.stand.mdx
  src/components/TextFieldCanary/__stand__/TextField.variants.tsx
  src/mixs/MixHitSlop/MixHitSlop.css
  src/mixs/MixScrollBar/MixScrollBar.css
Owners: @linturaven, @gizeasy, @alyonurchick1

fix(FieldComponents): fixed css
  src/components/FieldComponents/FieldArrayValueItem/FieldArrayValueItem.css
  src/components/FieldComponents/FieldButton/FieldButton.css
  src/components/FieldComponents/FieldButtonStyleReset/FieldButtonStyleReset.css
  src/components/FieldComponents/FieldControlLayout/FieldControlLayout.css
  src/components/FieldComponents/FieldCounter/FieldCounter.css
  src/components/FieldComponents/__stand__/examples/FieldCounterExampleSimple/FieldCounterExampleSimple.css
  src/components/TextField/TextField.css
  src/components/TextFieldCanary/TextFieldTypeNumber/TextFieldTypeNumber.css
  src/components/TextFieldCanary/TextFieldTypeTextArea/TextFieldTypeTextArea.css
  src/components/TextFieldCanary/TextFieldTypeTextArray/TextFieldTypeTextArray.css
Owners: @linturaven

Update MixHitSlop.css
  src/mixs/MixHitSlop/MixHitSlop.css
Owners: @linturaven

fixed types
  src/components/DragNDropField/getErrorsList.ts
  src/components/DragNDropFieldCanary/types.ts
Owners: @gizeasy

Update index.ts
  src/components/TextFieldCanary/index.ts
Owners: @gizeasy

release: 5.10.0
  package.json
  src/components/TextFieldCanary/__stand__/TextField.stand.tsx
Owners: @gizeasy

changelog: 5.10.0
  CHANGELOG.md
Owners: @alyonurchick1

fix(Picture): remove console.log
  src/components/Picture/Picture.tsx
Owners: @gizeasy

sss
  .husky/pre-commit
  .husky/pre-push
  src/components/AutoCompleteCanary/AutoComplete.tsx
  src/components/AutoCompleteCanary/__mocks__/data.mock.ts
  src/components/AutoCompleteCanary/__stand__/AutoComplete.dev.stand.mdx
  src/components/AutoCompleteCanary/__stand__/AutoComplete.image.svg
  src/components/AutoCompleteCanary/__stand__/AutoComplete.stand.mdx
  src/components/AutoCompleteCanary/__stand__/AutoComplete.stand.tsx
  src/components/AutoCompleteCanary/__stand__/AutoComplete.use.stand.mdx
  src/components/AutoCompleteCanary/__stand__/AutoComplete.variants.css
  src/components/AutoCompleteCanary/__stand__/AutoComplete.variants.tsx
  src/components/AutoCompleteCanary/__stand__/examples/AutoCompleteExampleBasic/AutoCompleteExampleBasic.tsx
  src/components/AutoCompleteCanary/__stand__/examples/AutoCompleteExampleDisabled/AutoCompleteExampleDisabled.tsx
  src/components/AutoCompleteCanary/__stand__/examples/AutoCompleteExampleDropdownOpen/AutoCompleteExampleDropdownOpen.tsx
  src/components/AutoCompleteCanary/__stand__/examples/AutoCompleteExampleForm/AutoCompleteExampleForm.tsx
  src/components/AutoCompleteCanary/__stand__/examples/AutoCompleteExampleGroups/AutoCompleteExampleGroups.tsx
  src/components/AutoCompleteCanary/__stand__/examples/AutoCompleteExampleIsLoading/AutoCompleteExampleIsLoading.tsx
  src/components/AutoCompleteCanary/__stand__/examples/AutoCompleteExampleItems/AutoCompleteExampleItems.tsx
  src/components/AutoCompleteCanary/__stand__/examples/AutoCompleteExampleLabel/AutoCompleteExampleLabel.tsx
  src/components/AutoCompleteCanary/__stand__/examples/AutoCompleteExamplePlaceholder/AutoCompleteExamplePlaceholder.tsx
  src/components/AutoCompleteCanary/__stand__/examples/AutoCompleteExampleRenderItem/AutoCompleteExampleRenderItem.css
  src/components/AutoCompleteCanary/__stand__/examples/AutoCompleteExampleRenderItem/AutoCompleteExampleRenderItem.tsx
  src/components/AutoCompleteCanary/__stand__/examples/AutoCompleteExampleSize/AutoCompleteExampleSize.tsx
  src/components/AutoCompleteCanary/__stand__/examples/AutoCompleteExampleStatus/AutoCompleteExampleStatus.tsx
  src/components/AutoCompleteCanary/__stand__/examples/AutoCompleteExampleType/AutoCompleteExampleType.tsx
  src/components/AutoCompleteCanary/__stand__/examples/AutoCompleteExampleView/AutoCompleteExampleView.tsx
  src/components/AutoCompleteCanary/__stand__/examples/AutoCompleteExampleVirtualScroll/AutoCompleteExampleVirtualScroll.tsx
  src/components/AutoCompleteCanary/__stand__/images/Autocomplete_example_01.jpg
  src/components/AutoCompleteCanary/__stand__/images/Autocomplete_example_02.jpg
  src/components/AutoCompleteCanary/__stand__/images/Autocomplete_example_03.jpg
  src/components/AutoCompleteCanary/__stand__/images/data_input.image.png
  src/components/AutoCompleteCanary/__stand__/images/data_search.image.png
  src/components/AutoCompleteCanary/__stand__/images/start_example.image.png
  src/components/AutoCompleteCanary/helpers.ts
  src/components/AutoCompleteCanary/index.ts
  src/components/AutoCompleteCanary/types.ts
  src/components/AutoCompleteCanary/useAutoComplete.ts
  src/components/FieldComponents/FieldArrayValueInlineControl/FieldArrayValueInlineControl.tsx
  src/components/FieldComponents/FieldArrayValueInlineControl/types.ts
  src/components/TextFieldCanary/TextFieldTypeTextArray/TextFieldTypeTextArray.tsx
Owners: @gizeasy, @alyonurchick1, @linturaven

ddd
  src/components/AutoCompleteCanary/AutoComplete.tsx
  src/components/AutoCompleteCanary/AutoCompleteTypeText/AutoCompleteTypeText.tsx
  src/components/AutoCompleteCanary/AutoCompleteTypeText/index.ts
  src/components/AutoCompleteCanary/AutoCompleteTypeTextArray/AutoCompleteTypeTextArray.tsx
  src/components/AutoCompleteCanary/AutoCompleteTypeTextArray/index.ts
  src/components/AutoCompleteCanary/__mocks__/data.mock.ts
  src/components/AutoCompleteCanary/__stand__/AutoComplete.variants.css
  src/components/AutoCompleteCanary/__stand__/AutoComplete.variants.tsx
  src/components/AutoCompleteCanary/helpers.ts
  src/components/AutoCompleteCanary/index.ts
  src/components/AutoCompleteCanary/types.ts
  src/components/AutoCompleteCanary/useAutoComplete.ts
  src/components/AutoCompleteCanary/useRenderItemDefault.tsx
  src/components/SelectComponents/types.ts
  src/components/SelectComponents/useSelect/helpers.ts
  src/components/SelectComponents/useSelect/useSelect.ts
  src/components/TextFieldCanary/TextField.tsx
  src/components/TextFieldCanary/TextFieldTypeText/TextFieldTypeText.tsx
  src/components/TextFieldCanary/TextFieldTypeTextArray/TextFieldTypeTextArray.tsx
  src/components/TextFieldCanary/types.ts
Owners: @gizeasy, @linturaven

Update TextField.stand.tsx
  src/components/TextFieldCanary/__stand__/TextField.stand.tsx
Owners: @gizeasy

fix(Picture): remove console.log (#3775)
  src/components/Picture/Picture.tsx
Owners: @gizeasy

feat(Table): mark us deprecated
  src/components/Table/__stand__/Table.dev.stand.mdx
  src/components/Table/__stand__/Table.stand.mdx
  src/components/Table/__stand__/Table.stand.tsx
  src/components/Table/__stand__/Table.use.stand.mdx
Owners: @alyonurchick1, @gizeasy

chore: update deps
  yarn.lock
Owners: @gizeasy

chore: update deps (#3783)
  yarn.lock
Owners: @gizeasy

fix(ProgressStepBar): add validate activeStepIndex
  src/components/ProgressStepBar/ProgressStepBar.tsx
  src/components/ProgressStepBar/helpers.ts
  src/hooks/useScrollElements/useScrollElements.tsx
Owners: @gizeasy

feat(Table): mark us deprecated (#3782)
  src/components/Table/__stand__/Table.dev.stand.mdx
  src/components/Table/__stand__/Table.stand.mdx
  src/components/Table/__stand__/Table.stand.tsx
  src/components/Table/__stand__/Table.use.stand.mdx
Owners: @alyonurchick1, @gizeasy

fix(ProgressStepBar): add validate activeStepIndex (#3784)
  src/components/ProgressStepBar/ProgressStepBar.tsx
  src/components/ProgressStepBar/helpers.ts
  src/hooks/useScrollElements/useScrollElements.tsx
Owners: @gizeasy

release: 5.11.0
  CHANGELOG.md
  package.json
Owners: @alyonurchick1, @gizeasy

Update AutoComplete.dev.stand.mdx
  src/components/AutoCompleteCanary/__stand__/AutoComplete.dev.stand.mdx
Owners: @alyonurchick1

feat(DatePicker): add disableDates
  src/components/DatePicker/DatePickerDropdown/DatePickerDropdown.tsx
  src/components/DatePicker/DatePickerTypeDate/DatePickerTypeDate.tsx
  src/components/DatePicker/DatePickerTypeDateRange/DatePickerTypeDateRange.tsx
  src/components/DatePicker/DatePickerTypeDateTime/DatePickerTypeDateTime.tsx
  src/components/DatePicker/DatePickerTypeDateTimeRange/DatePickerTypeDateTimeRange.tsx
  src/components/DatePicker/DatePickerTypeMonth/DatePickerTypeMonth.tsx
  src/components/DatePicker/DatePickerTypeMonthRange/DatePickerTypeMonthRange.tsx
  src/components/DatePicker/DatePickerTypeTime/DatePickerTypeTime.tsx
  src/components/DatePicker/DatePickerTypeYear/DatePickerTypeYear.tsx
  src/components/DatePicker/DatePickerTypeYearRange/DatePickerTypeYearRange.tsx
  src/components/DatePicker/__stand__/DatePicker.dev.stand.mdx
  src/components/DatePicker/__stand__/examples/DatePickerExampleDisableDates/DatePickerExampleDisableDates.tsx
  src/components/DatePicker/__stand__/examples/DatePickerExampleType/DatePickerExampleType.tsx
  src/components/DatePicker/types.ts
Owners: @gizeasy, @alyonurchick1

Update DatePicker.dev.stand.mdx
  src/components/DatePicker/__stand__/DatePicker.dev.stand.mdx
Owners: @alyonurchick1

fix(AutoComplete): fixed docs
  src/components/AutoCompleteCanary/__stand__/AutoComplete.dev.stand.mdx
Owners: @alyonurchick1

feat(DatePicker): add disableDates (#3788)
  src/components/DatePicker/DatePickerDropdown/DatePickerDropdown.tsx
  src/components/DatePicker/DatePickerTypeDate/DatePickerTypeDate.tsx
  src/components/DatePicker/DatePickerTypeDateRange/DatePickerTypeDateRange.tsx
  src/components/DatePicker/DatePickerTypeDateTime/DatePickerTypeDateTime.tsx
  src/components/DatePicker/DatePickerTypeDateTimeRange/DatePickerTypeDateTimeRange.tsx
  src/components/DatePicker/DatePickerTypeMonth/DatePickerTypeMonth.tsx
  src/components/DatePicker/DatePickerTypeMonthRange/DatePickerTypeMonthRange.tsx
  src/components/DatePicker/DatePickerTypeTime/DatePickerTypeTime.tsx
  src/components/DatePicker/DatePickerTypeYear/DatePickerTypeYear.tsx
  src/components/DatePicker/DatePickerTypeYearRange/DatePickerTypeYearRange.tsx
  src/components/DatePicker/__stand__/DatePicker.dev.stand.mdx
  src/components/DatePicker/__stand__/examples/DatePickerExampleDisableDates/DatePickerExampleDisableDates.tsx
  src/components/DatePicker/__stand__/examples/DatePickerExampleType/DatePickerExampleType.tsx
  src/components/DatePicker/types.ts
Owners: @gizeasy, @alyonurchick1

release: 5.12.0
  package.json
Owners: @gizeasy

changelog: 5.12.0
  CHANGELOG.md
Owners: @alyonurchick1

feat(Informer): add _view_outline
  src/components/Informer/Informer.css
  src/components/Informer/Informer.tsx
  src/components/Informer/__stand__/Informer.dev.stand.mdx
  src/components/Informer/__stand__/examples/InformerExampleStatus/InformerExampleStatus.tsx
  src/components/Informer/__stand__/examples/InformerExampleView/InformerExampleView.tsx
  src/components/Informer/__tests__/Informer.test.tsx
Owners: @linturaven, @gizeasy, @alyonurchick1

feat(Badge): add _view_pinted and _status_disabled
  src/components/Badge/Badge.css
  src/components/Badge/Badge.tsx
  src/components/Badge/__stand__/Badge.dev.stand.mdx
  src/components/Badge/__stand__/Badge.variants.tsx
  src/components/Badge/__stand__/examples/BadgeExampleStatus/BadgeExampleStatus.tsx
  src/components/Badge/__tests__/Badge.test.tsx
  src/components/Badge/cn.ts
  src/components/Badge/guardStatus.ts
  src/components/Badge/index.ts
  src/components/Badge/maps.ts
  src/components/Badge/types.ts
  src/components/BadgeGroup/BadgeGroup.tsx
  src/components/BadgeGroup/__stand__/BadgeGroup.dev.stand.mdx
  src/components/BadgeGroup/__stand__/examples/BadgeGroupExampleBasic/BadgeGroupExampleBasic.tsx
  src/components/BadgeGroup/__stand__/examples/BadgeGroupExampleFitMode/BadgeGroupExampleFitMode.tsx
  src/components/BadgeGroup/__stand__/examples/BadgeGroupExampleForm/BadgeGroupExampleForm.tsx
  src/components/BadgeGroup/__stand__/examples/BadgeGroupExampleItems/BadgeGroupExampleItems.tsx
  src/components/BadgeGroup/__stand__/examples/BadgeGroupExampleSize/BadgeGroupExampleSize.tsx
  src/components/BadgeGroup/types.ts
  src/components/Chips/__stand__/Chips.dev.stand.mdx
  src/components/Chips/__stand__/examples/ChipsChoiceExample/ChipsChoiceExample.tsx
  src/components/Chips/__stand__/examples/ChipsSimpleExample/ChipsSimpleExample.tsx
  src/components/Chips/types.ts
Owners: @linturaven, @gizeasy, @alyonurchick1

Update Badge.test.tsx
  src/components/Badge/__tests__/Badge.test.tsx
Owners: @gizeasy

docs(TextField): remove wrapper from stand
  src/components/TextFieldCanary/__stand__/TextField.variants.tsx
Owners: @gizeasy

feat(Informer): add _view_outline
  src/components/Informer/Informer.css
  src/components/Informer/Informer.tsx
  src/components/Informer/__stand__/Informer.dev.stand.mdx
  src/components/Informer/__stand__/examples/InformerExampleStatus/InformerExampleStatus.tsx
  src/components/Informer/__stand__/examples/InformerExampleView/InformerExampleView.tsx
  src/components/Informer/__tests__/Informer.test.tsx
Owners: @linturaven, @gizeasy, @alyonurchick1
