Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

.github/CODEOWNERS:

* @gizeasy @N1MBER 
*.md @arhayka @kolebayev
*.mdx @arhayka @kolebayev
*.css @kolebayev

docs(Layout): fix border on layout examples (#2705)
  src/components/Layout/__stand__/Layout.variants.css
  src/components/Layout/__stand__/examples/LayoutExampleAnchor/LayoutExampleAnchor.css
  src/components/Layout/__stand__/examples/LayoutExampleBasic/LayoutExampleBasic.css
  src/components/Layout/__stand__/examples/LayoutExampleDirection/LayoutExampleDirection.css
  src/components/Layout/__stand__/examples/LayoutExampleDirection/LayoutExampleDirection.tsx
  src/components/Layout/__stand__/examples/LayoutExampleFixed/LayoutExampleFixed.css
  src/components/Layout/__stand__/examples/LayoutExampleRowFixed/LayoutExampleRowFixed.css
Owners: @kolebayev, @gizeasy, @N1MBER

fix(variants): remove filefield variants and fix header varinat
  src/components/FileField/__stand__/FileField.variants.tsx
  src/components/Header/__stand__/Header.variants.tsx
Owners: @gizeasy, @N1MBER

fix(ContextMenu): fixed reposition
  src/components/ContextMenu/ContextMenuLevels/ContextMenuLevels.tsx
  src/components/ContextMenu/types.ts
Owners: @gizeasy, @N1MBER

fix(ContextMenu): fixed reposition (#2706)
  src/components/ContextMenu/ContextMenuLevels/ContextMenuLevels.tsx
  src/components/ContextMenu/types.ts
Owners: @gizeasy, @N1MBER

docs(AutoComplete): edit docs
  src/components/AutoComplete/__stand__/AutoComplete.dev.stand.mdx
  src/components/AutoComplete/__stand__/AutoComplete.stand.mdx
  src/components/AutoComplete/__stand__/AutoComplete.stand.tsx
  src/components/AutoComplete/__stand__/examples/AutoCompleteExampleForm/AutoCompleteExampleForm.tsx
  src/components/AutoComplete/__stand__/examples/AutoCompleteExampleGroups/AutoCompleteExampleGroups.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(TableComparison): write how to choose table
  src/docs/tableComparison/tableComparison.stand.mdx
  src/docs/tableComparison/tableComparison.stand.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

feat(Variants): add missing variants for components (#2676)
  src/components/DragNDropField/__stand__/DragNDropField.variants.tsx
  src/components/DragNDropField/__stand__/DragNDropFieldVariants.css
  src/components/Grid/__stand__/Grid.variants.tsx
  src/components/Grid/__stand__/GridVariants.css
  src/components/Header/__stand__/Header.variants.tsx
  src/components/Header/__stand__/HeaderVariants.css
  src/components/Table/__stand__/Table.variants.tsx
  src/components/Table/__stand__/TableVariants.css
  src/components/Table/__stand__/variants/TableVariantBasic/TableVariantBasic.tsx
  src/components/Table/__stand__/variants/TableVariantCustomRows/TableVariantCustomRows.tsx
  src/components/Table/__stand__/variants/TableVariantSortByData/TableVariantSortByData.tsx
  src/components/Table/__stand__/variants/TableVariantWithActiveRowContent/TableVariantWithActiveRowContent.tsx
  src/components/Table/__stand__/variants/TableVariantWithBagde/TableVariantWithBagde.tsx
  src/components/Table/__stand__/variants/TableVariantWithBigData/TableVariantWithBigData.tsx
  src/components/Table/__stand__/variants/TableVariantWithCheckboxHeader/TableVariantWithCheckboxHeader.tsx
  src/components/Table/__stand__/variants/TableVariantWithCollapcingRows/TableVariantWithCollapcingRows.tsx
  src/components/Table/__stand__/variants/TableVariantWithCustomFilters/TableVariantWithCustomFilters.tsx
  src/components/Table/__stand__/variants/TableVariantWithCustomRowsPlaceholder/TableVariantWithCustomRowsPlaceholder.tsx
  src/components/Table/__stand__/variants/TableVariantWithCustomTagLabelFunction/TableVariantWithCustomTagLabelFunction.tsx
  src/components/Table/__stand__/variants/TableVariantWithGetAdditionalClassName/TableVariantWithGetAdditionalClassName.tsx
  src/components/Table/__stand__/variants/TableVariantWithHandleCellClickExample/TableVariantWithHandleCellClickExample.tsx
  src/components/Table/__stand__/variants/TableVariantWithHiddenColumn/TableVariantWithHiddenColumn.tsx
  src/components/Table/__stand__/variants/TableVariantWithIcon/TableVariantWithIcon.tsx
  src/components/Table/__stand__/variants/TableVariantWithMergedByCustomCallbackCells/TableVariantWithMergedByCustomCallbackCells.tsx
  src/components/Table/__stand__/variants/TableVariantWithMergedCells/TableVariantWithMergedCells.tsx
  src/components/Table/__stand__/variants/TableVariantWithMultiLevelHeaders/TableVariantWithMultiLevelHeaders.tsx
  src/components/Table/__stand__/variants/TableVariantWithOnRowHover/TableVariantWithOnRowHover.tsx
  src/components/Table/__stand__/variants/TableVariantWithRowActions/TableVariantWithRowActions.tsx
  src/components/Table/__stand__/variants/TableVariantWithStickyColumn/TableVariantWithStickyColumn.tsx
  src/components/Table/__stand__/variants/TableVariantWithStickyHeader/TableVariantWithStickyHeader.tsx
  src/components/Table/__stand__/variants/useVariants/useVariants.ts
Owners: @gizeasy, @N1MBER, @kolebayev

fix(AutoComplete): fix bugs
  src/components/AutoCompleteCanary/AutoCompleteCanary.tsx
  src/components/AutoCompleteCanary/__stand__/AutoComplete.dev.stand.mdx
  src/components/AutoCompleteCanary/types.ts
  src/components/AutoCompleteCanary/useAutoComplete.ts
  src/utils/bem.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

fix(AutoComplete): fix isOpen flag
  src/components/AutoCompleteCanary/useAutoComplete.ts
Owners: @gizeasy, @N1MBER

docs(tableComparison): fix link
  src/docs/tableComparison/tableComparison.stand.mdx
Owners: @arhayka, @kolebayev

feat(AutoComplete): add new Component (#2693)
  src/components/AutoCompleteCanary/AutoCompleteCanary.tsx
  src/components/AutoCompleteCanary/__mocks__/data.mock.ts
  src/components/AutoCompleteCanary/__stand__/AutoComplete.dev.stand.mdx
  src/components/AutoCompleteCanary/__stand__/AutoComplete.stand.mdx
  src/components/AutoCompleteCanary/__stand__/AutoComplete.stand.tsx
  src/components/AutoCompleteCanary/__stand__/AutoComplete.variants.css
  src/components/AutoCompleteCanary/__stand__/AutoComplete.variants.tsx
  src/components/AutoCompleteCanary/__stand__/examples/AutoCompleteExampleBasic/AutoCompleteExampleBasic.tsx
  src/components/AutoCompleteCanary/__stand__/examples/AutoCompleteExampleDisabled/AutoCompleteExampleDisabled.tsx
  src/components/AutoCompleteCanary/__stand__/examples/AutoCompleteExampleForm/AutoCompleteExampleForm.tsx
  src/components/AutoCompleteCanary/__stand__/examples/AutoCompleteExampleGroups/AutoCompleteExampleGroups.tsx
  src/components/AutoCompleteCanary/__stand__/examples/AutoCompleteExampleItems/AutoCompleteExampleItems.tsx
  src/components/AutoCompleteCanary/__stand__/examples/AutoCompleteExampleLabel/AutoCompleteExampleLabel.tsx
  src/components/AutoCompleteCanary/__stand__/examples/AutoCompleteExamplePlaceholder/AutoCompleteExamplePlaceholder.tsx
  src/components/AutoCompleteCanary/__stand__/examples/AutoCompleteExampleRenderItem/AutoCompleteExampleRenderItem.css
  src/components/AutoCompleteCanary/__stand__/examples/AutoCompleteExampleRenderItem/AutoCompleteExampleRenderItem.tsx
  src/components/AutoCompleteCanary/__stand__/examples/AutoCompleteExampleSize/AutoCompleteExampleSize.tsx
  src/components/AutoCompleteCanary/__stand__/examples/AutoCompleteExampleStatus/AutoCompleteExampleStatus.tsx
  src/components/AutoCompleteCanary/__stand__/examples/AutoCompleteExampleType/AutoCompleteExampleType.tsx
  src/components/AutoCompleteCanary/__stand__/examples/AutoCompleteExampleView/AutoCompleteExampleView.tsx
  src/components/AutoCompleteCanary/helpers.ts
  src/components/AutoCompleteCanary/types.ts
  src/components/AutoCompleteCanary/useAutoComplete.ts
  src/hooks/useSelect/useSelect.ts
  src/utils/bem.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

Update tableComparison.stand.mdx
  src/docs/tableComparison/tableComparison.stand.mdx
Owners: @arhayka, @kolebayev

docs(TableComparison): write how to choose table (#2710)
  src/docs/tableComparison/components/AboutData/AboutData.css
  src/docs/tableComparison/components/AboutData/AboutData.tsx
  src/docs/tableComparison/tableComparison.stand.mdx
  src/docs/tableComparison/tableComparison.stand.tsx
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

release: 4.2.0
  clone.sh
  package.json
Owners: @gizeasy, @N1MBER

changelog: 4.2.0
  CHANGELOG.md
Owners: @arhayka, @kolebayev

fix(selects): select, Combobox, UserSelect fixed dropdown
  package.json
  src/components/Combobox/Combobox.tsx
  src/components/Select/Select.tsx
  src/components/UserSelect/UserSelect.tsx
  yarn.lock
Owners: @gizeasy, @N1MBER

release: 4.2.1
  package.json
Owners: @gizeasy, @N1MBER

changelog: 4.2.1
  CHANGELOG.md
Owners: @arhayka, @kolebayev

feat(Icons): update types for usage icons from @consta/icons
  src/components/Collapse/CollapseIcon/CollapseIcon.tsx
  src/icons/Icon/Icon.tsx
Owners: @gizeasy, @N1MBER

feat(Icons): remove color prop
  src/components/Collapse/CollapseIcon/CollapseIcon.tsx
  src/icons/Icon/Icon.tsx
Owners: @gizeasy, @N1MBER

feat(Icons): update types for usage icons from @consta/icons (#2726)
  src/icons/Icon/Icon.tsx
Owners: @gizeasy, @N1MBER

release: 4.2.2
  package.json
Owners: @gizeasy, @N1MBER

changelog: 4.2.2
  CHANGELOG.md
Owners: @arhayka, @kolebayev

Update yarn.lock
  yarn.lock
Owners: @gizeasy, @N1MBER

feat(SnackBar): add prop form
  src/components/SnackBar/SnackBar.tsx
  src/components/SnackBar/SnackBarItem/SnackBarItem.css
  src/components/SnackBar/SnackBarItem/SnackBarItem.tsx
  src/components/SnackBar/__stand__/SnackBar.dev.stand.mdx
  src/components/SnackBar/__stand__/SnackBar.variants.tsx
  src/components/SnackBar/__stand__/examples/SnackBarExampleForm/SnackBarExampleForm.tsx
  src/components/SnackBar/types.ts
Owners: @gizeasy, @N1MBER, @kolebayev, @arhayka

fix(Table): fix 'level' accessor
  src/components/Table/Table.tsx
  src/components/Table/helpers.ts
Owners: @gizeasy, @N1MBER

feat(Collapse): rewrite label from string to ReactNode
  src/components/Collapse/Collapse.tsx
  src/components/Collapse/CollapseIcon/CollapseIcon.tsx
  src/components/Collapse/__stand__/Collapse.dev.stand.mdx
  src/components/Collapse/__stand__/examples/CollapseExampleLabel/CollapseExampleLabel.css
  src/components/Collapse/__stand__/examples/CollapseExampleLabel/CollapseExampleLabel.tsx
  src/components/Collapse/types.ts
  src/components/CollapseGroup/helpers.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

docs(review): add images
  src/components/RadioGroupDeprecated/__stand__/RadioGroupDeprecated.image.svg
  src/components/StepsDeprecated/__stand__/StepsDeprecated.image.svg
  src/components/SwitchGroupDeprecated/__stand__/SwitchGroupDeprecated.image.svg
  src/components/TabsDeprecated/__stand__/TabsDeprecated.image.svg
  src/icons/Icon/__stand__/icon.image.svg
Owners: @gizeasy, @N1MBER

fix(ProgressLine): fix bug of line width with gaps
  src/components/ProgressLine/ProgressLine.css
  src/components/ProgressLine/__stand__/ProgressLine.variants.tsx
Owners: @kolebayev, @gizeasy, @N1MBER

fix(useChoiceGroup): fix bug with false type variable
  src/hooks/useChoiceGroup/useChoiceGroup.tsx
Owners: @gizeasy, @N1MBER

fix(Text): fix quotes in the examples
  src/components/Text/__stand__/examples/TextExampleAlign/TextExampleAlign.tsx
  src/components/Text/__stand__/examples/TextExampleLineheight/TextExampleLineheight.tsx
  src/components/Text/__stand__/examples/TextExampleSize/TextExampleSize.tsx
  src/components/Text/__stand__/examples/TextExampleSpacing/TextExampleSpacing.tsx
  src/components/Text/__stand__/examples/TextExampleView/TextExampleView.tsx
  src/components/Text/__stand__/examples/TextExampleWeight/TextExampleWeight.tsx
Owners: @gizeasy, @N1MBER

fix(DateTime): fix pading for date-time view
  src/components/DateTime/DateTimeTypeDateTime/DateTimeTypeDateTime.css
  src/components/DateTime/DateTimeTypeTime/DateTimeTypeTime.css
Owners: @kolebayev

feat(useChoiceGroup): add tests for useChoiceGroup
  src/hooks/useChoiceGroup/__tests__/useChoiceGroup.test.tsx
Owners: @gizeasy, @N1MBER

fix(Combobox): Fixed combobox multiple logic closes #2749
  src/components/Combobox/Combobox.tsx
  src/components/SelectComponents/SelectItem/SelectItem.tsx
Owners: @gizeasy, @N1MBER

fix(Combobox): #2 Changed example to display multiple item.disabled logic closes #2749
  src/components/Combobox/__stand__/examples/ComboboxExampleMultiple/ComboboxExampleMultiple.tsx
Owners: @gizeasy, @N1MBER

fix(Text): fix quotes in the examples (#2747)
  src/components/Text/__stand__/examples/TextExampleAlign/TextExampleAlign.tsx
  src/components/Text/__stand__/examples/TextExampleLineheight/TextExampleLineheight.tsx
  src/components/Text/__stand__/examples/TextExampleSize/TextExampleSize.tsx
  src/components/Text/__stand__/examples/TextExampleSpacing/TextExampleSpacing.tsx
  src/components/Text/__stand__/examples/TextExampleView/TextExampleView.tsx
  src/components/Text/__stand__/examples/TextExampleWeight/TextExampleWeight.tsx
Owners: @gizeasy, @N1MBER

fix(useChoiceGroup): fix bug with false type variable (#2746)
  src/hooks/useChoiceGroup/__tests__/useChoiceGroup.test.tsx
  src/hooks/useChoiceGroup/useChoiceGroup.tsx
Owners: @gizeasy, @N1MBER

docs(review): add images (#2735)
  src/components/RadioGroupDeprecated/__stand__/RadioGroupDeprecated.image.svg
  src/components/StepsDeprecated/__stand__/StepsDeprecated.image.svg
  src/components/SwitchGroupDeprecated/__stand__/SwitchGroupDeprecated.image.svg
  src/components/TabsDeprecated/__stand__/TabsDeprecated.image.svg
  src/icons/Icon/__stand__/icon.image.svg
Owners: @gizeasy, @N1MBER

fix(Table): fix 'level' accessor (#2732)
  src/components/Table/Table.tsx
  src/components/Table/helpers.ts
Owners: @gizeasy, @N1MBER

feat(SnackBar): add prop form (#2730)
  src/components/SnackBar/SnackBar.tsx
  src/components/SnackBar/SnackBarItem/SnackBarItem.css
  src/components/SnackBar/SnackBarItem/SnackBarItem.tsx
  src/components/SnackBar/__stand__/SnackBar.dev.stand.mdx
  src/components/SnackBar/__stand__/SnackBar.variants.tsx
  src/components/SnackBar/__stand__/examples/SnackBarExampleForm/SnackBarExampleForm.tsx
  src/components/SnackBar/types.ts
Owners: @gizeasy, @N1MBER, @kolebayev, @arhayka
