Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

feat(FieldGroup): add FieldGroup
  src/components/Button/Button.tsx
  src/components/Combobox/Combobox.tsx
  src/components/Combobox/helpers.ts
  src/components/DatePickerCanary/helpers.ts
  src/components/FieldGroup/FieldGroup.css
  src/components/FieldGroup/FieldGroup.tsx
  src/components/FieldGroup/__mocks__/data.mock.ts
  src/components/FieldGroup/__stories__/FieldGroup.docs.mdx
  src/components/FieldGroup/__stories__/FieldGroup.stories.tsx
  src/components/FieldGroup/__stories__/examples/FieldGroupExample/FieldGroupExample.tsx
  src/components/FieldGroup/getForm.ts
  src/components/FieldGroup/types.ts
  src/components/Select/Select.tsx
  src/components/Select/helpers.ts
  src/components/SelectComponents/helpers.ts
  src/components/UserSelect/UserSelect.tsx
  src/components/UserSelect/helpers.ts
Owners: @gizeasy, @N1MBER, @kolebayev, @arhayka

fix(Sidebar): fixed rootClassName
  src/components/Sidebar/Sidebar.tsx
Owners: @gizeasy, @N1MBER

fix(Sidebar): fixed rootClassName (#2387)
  src/components/Sidebar/Sidebar.tsx
Owners: @gizeasy, @N1MBER

fix(DateTime): fixed multiplicity
  src/components/DateTimeCanary/DateTimeTypeTime/helpers.ts
Owners: @gizeasy, @N1MBER

fix(ProgressLine): rename and removes a few props
  src/components/ProgressLine/ProgressLine.css
  src/components/ProgressLine/ProgressLine.tsx
  src/components/ProgressLine/__stories__/ProgressLine.docs.mdx
  src/components/ProgressLine/__stories__/ProgressLine.stories.tsx
  src/components/ProgressLine/__stories__/examples/ProgressLineExampleMode/ProgressLineExampleMode.tsx
  src/components/ProgressLine/types.ts
  src/components/ProgressSpin/ProgressSpin.tsx
  src/components/ProgressSpin/__stories__/ProgressSpin.docs.mdx
  src/components/ProgressSpin/__stories__/ProgressSpin.stories.tsx
  src/components/ProgressSpin/__stories__/examples/ProgressSpinExampleProgress/ProgressSpinExampleProgress.tsx
  src/components/ProgressSpin/__stories__/examples/ProgressSpinExampleSize/ProgressSpinExampleSize.tsx
  src/components/ProgressSpin/__tests__/ProgressSpin.test.tsx
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

fix(DateTime): fixed multiplicity (#2389)
  src/components/DateTimeCanary/DateTimeTypeTime/helpers.ts
Owners: @gizeasy, @N1MBER

fix(ProgressLine): fix mistakes
  src/components/ProgressLine/ProgressLine.tsx
Owners: @gizeasy, @N1MBER

release(3.25.0):
  package.json
Owners: @gizeasy, @N1MBER

changelog(3.25.0):
  CHANGELOG.md
Owners: @arhayka, @kolebayev

feat(StandPage): add main elements (#3)
  src/exportFuctions/createRoutes.ts
  src/exportFuctions/prepareStands.ts
  src/exportTypes/index.ts
  src/pages/StandPage/StandPage.css
  src/pages/StandPage/StandPage.tsx
  src/pages/StandPage/StandPageFigma/StandPageFigma.css
  src/pages/StandPage/StandPageFigma/StandPageFigma.tsx
  src/pages/StandPage/StandPageFigma/index.ts
  src/pages/StandPage/StandPageFooter/StandPageFooter.css
  src/pages/StandPage/StandPageFooter/StandPageFooter.tsx
  src/pages/StandPage/StandPageFooter/index.ts
  src/pages/StandPage/StandPageHeader/StandPageHeader.css
  src/pages/StandPage/StandPageHeader/StandPageHeader.tsx
  src/pages/StandPage/StandPageHeader/index.ts
  src/pages/StandPage/StandPageInformer/StandPageInformer.css
  src/pages/StandPage/StandPageInformer/StandPageInformer.tsx
  src/pages/StandPage/StandPageInformer/index.ts
  src/pages/StandPage/StandPageNavigation/StandPageNavigation.tsx
  src/pages/StandPage/StandPageNavigation/index.ts
  src/pages/StandPage/StandPageSandbox/StandPageSandbox.css
  src/pages/StandPage/StandPageSandbox/StandPageSandbox.tsx
  src/pages/StandPage/StandPageSandbox/index.ts
  src/pages/StandPage/helpers.ts
Owners: @gizeasy, @N1MBER, @kolebayev

fix(ProgressLine): add style prop and replaced other props
  src/components/ProgressLine/ProgressLine.tsx
Owners: @gizeasy, @N1MBER

feat(TextField): add onKey events for input
  src/components/TextField/TextField.tsx
  src/components/TextField/types.ts
Owners: @gizeasy, @N1MBER

feat(TextField): add prop withNumberArrows
  src/components/TextField/TextField.tsx
  src/components/TextField/__stories__/TextField.docs.mdx
  src/components/TextField/types.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

fix(User): fix word wrap
  src/components/User/User.css
Owners: @kolebayev

feat(Slider): add click on slider and also fix bugs with tracking
  src/components/SliderCanary/SliderCanary.tsx
  src/components/SliderCanary/SliderLine/SliderLine.css
  src/components/SliderCanary/SliderPoint/SliderPoint.css
  src/components/SliderCanary/useSlider/helper.ts
  src/components/SliderCanary/useSlider/useSlider.ts
  src/components/SliderCanary/useSliderStationing.ts
Owners: @gizeasy, @N1MBER, @kolebayev

chore(storybook): add automatisation for publish stand
  .github/workflows/publish-stand.yaml
  builder/copyPackageJsonForStoryBook.js
Owners: @gizeasy, @N1MBER

fix:
  src/components/ProgressLine/ProgressLine.css
  src/components/ProgressLine/ProgressLine.tsx
Owners: @kolebayev, @gizeasy, @N1MBER

refactor(TextField): rename withNumberArrows prop to incrementButtons
  src/components/TextField/TextField.tsx
  src/components/TextField/__stories__/TextField.docs.mdx
  src/components/TextField/types.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

feat(ProgressLine): add ProgressLine component (#2383)
  src/components/ProgressLine/ProgressLine.css
  src/components/ProgressLine/ProgressLine.tsx
  src/components/ProgressLine/__stories__/ProgressLine.docs.mdx
  src/components/ProgressLine/__stories__/ProgressLine.stories.tsx
  src/components/ProgressLine/__stories__/examples/ProgressLineExampleMode/ProgressLineExampleMode.tsx
  src/components/ProgressLine/__stories__/examples/ProgressLineExampleSize/ProgressLineExampleSize.tsx
  src/components/ProgressLine/types.ts
  src/components/ProgressSpin/ProgressSpin.tsx
  src/components/ProgressSpin/__stories__/ProgressSpin.docs.mdx
  src/components/ProgressSpin/__stories__/ProgressSpin.stories.tsx
  src/components/ProgressSpin/__stories__/examples/ProgressSpinExampleProgress/ProgressSpinExampleProgress.tsx
  src/components/ProgressSpin/__stories__/examples/ProgressSpinExampleSize/ProgressSpinExampleSize.tsx
  src/components/ProgressSpin/__tests__/ProgressSpin.test.tsx
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

fix(User): fix word wrap (#2395)
  src/components/User/User.css
Owners: @kolebayev

feat(TextField): add onKey events for input and add incrementButtons (#2394)
  src/components/TextField/TextField.tsx
  src/components/TextField/__stories__/TextField.docs.mdx
  src/components/TextField/types.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

fix(Slider): fix troubles with icon and container props
  src/components/SliderCanary/SliderCanary.tsx
Owners: @gizeasy, @N1MBER

docs(FieldGroup): edit docs
  src/components/FieldGroup/__stories__/FieldGroup.docs.mdx
  src/components/FieldGroup/__stories__/examples/FieldGroupExampleForm/FieldGroupExampleForm.tsx
  src/components/FieldGroup/__stories__/examples/FieldGroupExampleSize/FieldGroupExampleSize.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

fix(Slider): fix work of slider on a big and small values (#2382)
  src/components/SliderCanary/SliderCanary.tsx
  src/components/SliderCanary/SliderLine/SliderLine.css
  src/components/SliderCanary/SliderPoint/SliderPoint.css
  src/components/SliderCanary/useSlider/helper.ts
  src/components/SliderCanary/useSlider/useSlider.ts
  src/components/SliderCanary/useSliderStationing.ts
Owners: @gizeasy, @N1MBER, @kolebayev

fix(TextField): fixed disabled
  src/components/TextField/TextField.tsx
Owners: @gizeasy, @N1MBER

fix(TextField): fixed disabled (#2409)
  src/components/TextField/TextField.tsx
Owners: @gizeasy, @N1MBER

release(3.26.0):
  package.json
Owners: @gizeasy, @N1MBER

changelog(3.26.0):
  CHANGELOG.md
Owners: @arhayka, @kolebayev

docs(DragNDropFiel): edit locale descriptoin
  src/components/DragNDropField/__stories__/DragNDropField.docs.mdx
Owners: @arhayka, @kolebayev

docs(DatePicker): add withClearButton description
  src/components/DatePickerCanary/__stories__/DatePicker.docs.mdx
  src/components/DatePickerCanary/__stories__/examples/DatePickerExampleWithClearButton/DatePickerExampleWithClearButton.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(review): add ProgressLine and FieldGroup
  src/components/CheckboxGroup/__stories__/CheckboxGroup.docs.mdx
  src/components/ChoiceGroup/__stories__/ChoiceGroup.docs.mdx
  src/components/FieldGroup/__stories__/FieldGroup.docs.mdx
  src/components/ProgressLine/__stories__/ProgressLine.docs.mdx
  src/components/RadioGroup/__stories__/RadioGroup.docs.mdx
  src/components/Steps/__stories__/Steps.docs.mdx
  src/components/SwitchGroup/__stories__/SwitchGroup.docs.mdx
  src/components/Tabs/__stories__/Tabs.docs.mdx
  src/uiKit/components/ComponentsGridWithData/data/data.ts
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

feat(MixCard): add border prop to mixin
  src/components/Card/Card.tsx
  src/components/Card/__stories__/Card.docs.mdx
  src/components/Card/__stories__/Card.stories.tsx
  src/components/Card/__stories__/examples/CardExampleBorder/CardExampleBorder.tsx
  src/mixs/MixCard/MixCard.css
  src/mixs/MixCard/MixCard.tsx
  src/mixs/MixCard/__stories__/MixCard.stories.mdx
  src/mixs/MixCard/__stories__/examples/MixCardExampleBorder/MixCardExampleBorder.css
  src/mixs/MixCard/__stories__/examples/MixCardExampleBorder/MixCardExampleBorder.tsx
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

Update publish-stand.yaml
  .github/workflows/publish-stand.yaml
Owners: @gizeasy, @N1MBER

Update publish-stand.yaml
  .github/workflows/publish-stand.yaml
Owners: @gizeasy, @N1MBER

chore(storybook): add automatisation for publish stand (#2398)
  .github/workflows/publish-stand.yaml
  builder/copyPackageJsonForStoryBook.js
Owners: @gizeasy, @N1MBER

add MdxMenu
  index.ts
  src/App.tsx
  src/componets/DocLayout/DocLayout.css
  src/componets/DocLayout/DocLayout.tsx
  src/componets/MdxMenu/MdxMenu.tsx
  src/componets/MdxMenu/index.ts
  src/containers/RightMenu/RightMenu.tsx
  src/containers/RightMenu/index.ts
  src/exportAtoms/lib/index.ts
  src/index.tsx
  src/modules/menuMdx/index.ts
  yarn.lock
Owners: @gizeasy, @N1MBER, @kolebayev

docs(TextField): add docs for increamentButton, withClearButton and type=password
  src/components/TextField/__stories__/TextField.docs.mdx
  src/components/TextField/__stories__/TextField.stories.tsx
  src/components/TextField/__stories__/examples/TextFieldExampleIncrementButtons/TextFieldExampleIncrementButtons.tsx
  src/components/TextField/__stories__/examples/TextFieldExampleType/TextFieldExampleType.tsx
  src/components/TextField/__stories__/examples/TextFieldExampleWithClearButton/TextFieldExampleWithClearButton.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(ProgressLine): edit docs
  src/components/ProgressLine/__stories__/ProgressLine.docs.mdx
  src/components/ProgressLine/__stories__/examples/ProgressLineExampleMode/ProgressLineExampleMode.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

feat(MixCard): add border prop to mixin (#2416)
  src/components/Card/Card.tsx
  src/components/Card/__stories__/Card.docs.mdx
  src/components/Card/__stories__/Card.stories.tsx
  src/components/Card/__stories__/examples/CardExampleBorder/CardExampleBorder.tsx
  src/mixs/MixCard/MixCard.css
  src/mixs/MixCard/MixCard.tsx
  src/mixs/MixCard/__stories__/MixCard.stories.mdx
  src/mixs/MixCard/__stories__/examples/MixCardExampleBorder/MixCardExampleBorder.css
  src/mixs/MixCard/__stories__/examples/MixCardExampleBorder/MixCardExampleBorder.tsx
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

docs(FieldGroup): edit docs (#2412)
  src/components/FieldGroup/__stories__/FieldGroup.docs.mdx
  src/components/FieldGroup/__stories__/examples/FieldGroupExampleForm/FieldGroupExampleForm.tsx
  src/components/FieldGroup/__stories__/examples/FieldGroupExampleSize/FieldGroupExampleSize.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

.github/CODEOWNERS:

* @gizeasy @N1MBER 
*.md @arhayka @kolebayev
*.mdx @arhayka @kolebayev
*.css @kolebayev
