Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

feat(SelectItem): added break-word
  src/components/SelectComponents/SelectItem/SelectItem.css
Owners: @kolebayev

feat(SelectItem): added break-word (#2233)
  src/components/SelectComponents/SelectItem/SelectItem.css
Owners: @kolebayev

fix(useBreakpoints): fixed EventListener
  src/hooks/useBreakpoints/useBreakpoints.ts
Owners: @gizeasy, @N1MBER

fix(useBreakpoints): fixed EventListener (#2234)
  src/hooks/useBreakpoints/useBreakpoints.ts
Owners: @gizeasy, @N1MBER

feat(DatePicker): edit api (#2230)
  src/components/DatePickerCanary/DatePickerCanary.tsx
  src/components/DatePickerCanary/DatePickerDropdown/DatePickerDropdown.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeDate/DatePickerFieldTypeDate.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeDate/helpers.ts
  src/components/DatePickerCanary/DatePickerFieldTypeDateRange/DatePickerFieldTypeDateRange.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeDateRange/helpers.ts
  src/components/DatePickerCanary/DatePickerFieldTypeDateTime/DatePickerFieldTypeDateTime.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeDateTime/helpers.ts
  src/components/DatePickerCanary/DatePickerFieldTypeDateTimeRange/DatePickerFieldTypeDateTimeRange.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeDateTimeRange/helpers.ts
  src/components/DatePickerCanary/DatePickerFieldTypeTime/DatePickerFieldTypeTime.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeTime/helpers.ts
  src/components/DatePickerCanary/DatePickerTypeDate/DatePickerTypeDate.tsx
  src/components/DatePickerCanary/DatePickerTypeDateRange/DatePickerTypeDateRange.tsx
  src/components/DatePickerCanary/DatePickerTypeDateTime/DatePickerTypeDateTime.tsx
  src/components/DatePickerCanary/DatePickerTypeDateTimeRange/DatePickerTypeDateTimeRange.tsx
  src/components/DatePickerCanary/DatePickerTypeTime/DatePickerTypeTime.tsx
  src/components/DatePickerCanary/__stories__/DatePicker.docs.mdx
  src/components/DatePickerCanary/__stories__/DatePicker.stories.tsx
  src/components/DatePickerCanary/helpers.ts
  src/components/DatePickerCanary/types.ts
  src/hooks/useForkRef/useForkRef.tsx
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

fix(Table): fix lazyload
  src/components/Table/Table.tsx
Owners: @gizeasy, @N1MBER

feat(DatePicker): edit api (#2230)
  src/components/DatePickerCanary/DatePickerCanary.tsx
  src/components/DatePickerCanary/DatePickerDropdown/DatePickerDropdown.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeDate/DatePickerFieldTypeDate.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeDate/helpers.ts
  src/components/DatePickerCanary/DatePickerFieldTypeDateRange/DatePickerFieldTypeDateRange.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeDateRange/helpers.ts
  src/components/DatePickerCanary/DatePickerFieldTypeDateTime/DatePickerFieldTypeDateTime.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeDateTime/helpers.ts
  src/components/DatePickerCanary/DatePickerFieldTypeDateTimeRange/DatePickerFieldTypeDateTimeRange.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeDateTimeRange/helpers.ts
  src/components/DatePickerCanary/DatePickerFieldTypeTime/DatePickerFieldTypeTime.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeTime/helpers.ts
  src/components/DatePickerCanary/DatePickerTypeDate/DatePickerTypeDate.tsx
  src/components/DatePickerCanary/DatePickerTypeDateRange/DatePickerTypeDateRange.tsx
  src/components/DatePickerCanary/DatePickerTypeDateTime/DatePickerTypeDateTime.tsx
  src/components/DatePickerCanary/DatePickerTypeDateTimeRange/DatePickerTypeDateTimeRange.tsx
  src/components/DatePickerCanary/DatePickerTypeTime/DatePickerTypeTime.tsx
  src/components/DatePickerCanary/__stories__/DatePicker.docs.mdx
  src/components/DatePickerCanary/__stories__/DatePicker.stories.tsx
  src/components/DatePickerCanary/helpers.ts
  src/components/DatePickerCanary/types.ts
  src/hooks/useForkRef/useForkRef.tsx
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

docs(common): add SVG parameters to create icon docs
  docs/common/developers/createIcons.stories.mdx
  docs/common/icons/icons.stories.mdx
Owners: @arhayka, @kolebayev

docs(Responses): add adaptive section
  src/components/Responses/__stories__/Responses.docs.mdx
  src/components/Responses/__stories__/examples/ResponsesExample/ResponsesExample.tsx
  src/components/ResponsesExit/ResponsesExit.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(global): remove gpn
  README.md
  docs/common/about/about.stories.mdx
  docs/common/about/principles.stories.mdx
  docs/common/developers/docs.stories.mdx
  docs/common/sla/sla.stories.mdx
  src/components/Text/__stories__/Text.docs.mdx
  src/components/Text/__stories__/examples/TextExampleAlign/TextExampleAlign.tsx
  src/components/Text/__stories__/examples/TextExampleDecoration/TextExampleDecoration.tsx
  src/components/Text/__stories__/examples/TextExampleLabelAndData/TextExampleLabelAndData.tsx
  src/components/Text/__stories__/examples/TextExampleLineheight/TextExampleLineheight.tsx
  src/components/Text/__stories__/examples/TextExampleSize/TextExampleSize.tsx
  src/components/Text/__stories__/examples/TextExampleSpacing/TextExampleSpacing.tsx
  src/components/Text/__stories__/examples/TextExampleStyle/TextExampleStyle.tsx
  src/components/Text/__stories__/examples/TextExampleTransform/TextExampleTransform.tsx
  src/components/Text/__stories__/examples/TextExampleView/TextExampleView.tsx
  src/components/Text/__stories__/examples/TextExampleWeight/TextExampleWeight.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

chore(deploy): fix
  .github/workflows/deploy.yml
Owners: @gizeasy, @N1MBER

dd
  .github/workflows/deploy.yml
Owners: @gizeasy, @N1MBER

fsdf
  .github/workflows/deploy.yml
Owners: @gizeasy, @N1MBER

dd
  .github/workflows/deploy.yml
Owners: @gizeasy, @N1MBER

dd
  .github/workflows/deploy.yml
Owners: @gizeasy, @N1MBER

Update deploy.yml
  .github/workflows/deploy.yml
Owners: @gizeasy, @N1MBER

Update deploy.yml
  .github/workflows/deploy.yml
Owners: @gizeasy, @N1MBER

chore(deploy): edit config (#2247)
  .github/workflows/deploy.yml
Owners: @gizeasy, @N1MBER

docs(Grid): add adaptive section (#2222)
  src/components/Grid/__stories__/Grid.docs.mdx
Owners: @arhayka, @kolebayev

docs(Layout): add adaptive section (#2224)
  src/components/LayoutCanary/__stories__/Layout.docs.mdx
Owners: @arhayka, @kolebayev

docs(Pagination): add adattive section (#2225)
  src/components/Pagination/__stories__/Pagination.docs.mdx
  src/components/Pagination/__stories__/examples/PaginationExample/PaginationExample.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

fix(Table): fix lazyload (#2236)
  src/components/Table/Table.tsx
Owners: @gizeasy, @N1MBER

docs(Responses): add adaptive section (#2239)
  src/components/Responses/__stories__/Responses.docs.mdx
  src/components/Responses/__stories__/examples/ResponsesExample/ResponsesExample.tsx
  src/components/ResponsesExit/ResponsesExit.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(global): remove gpn (#2245)
  README.md
  docs/common/about/about.stories.mdx
  docs/common/about/principles.stories.mdx
  docs/common/developers/docs.stories.mdx
  docs/common/sla/sla.stories.mdx
  src/components/Text/__stories__/Text.docs.mdx
  src/components/Text/__stories__/examples/TextExampleAlign/TextExampleAlign.tsx
  src/components/Text/__stories__/examples/TextExampleDecoration/TextExampleDecoration.tsx
  src/components/Text/__stories__/examples/TextExampleLabelAndData/TextExampleLabelAndData.tsx
  src/components/Text/__stories__/examples/TextExampleLineheight/TextExampleLineheight.tsx
  src/components/Text/__stories__/examples/TextExampleSize/TextExampleSize.tsx
  src/components/Text/__stories__/examples/TextExampleSpacing/TextExampleSpacing.tsx
  src/components/Text/__stories__/examples/TextExampleStyle/TextExampleStyle.tsx
  src/components/Text/__stories__/examples/TextExampleTransform/TextExampleTransform.tsx
  src/components/Text/__stories__/examples/TextExampleView/TextExampleView.tsx
  src/components/Text/__stories__/examples/TextExampleWeight/TextExampleWeight.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

release(3.20.0):
  package.json
Owners: @gizeasy, @N1MBER

changelog(3.20.0):
  CHANGELOG.md
Owners: @arhayka, @kolebayev

docs(common): fix after review
  docs/common/developers/createIcons.stories.mdx
  docs/common/icons/icons.stories.mdx
Owners: @arhayka, @kolebayev

docs(DatePicker): add docs for type Range fields
  src/components/DatePickerCanary/__stories__/DatePicker.docs.mdx
  src/components/DatePickerCanary/__stories__/examples/DatePickerExampleTwoFields/DatePickerExampleTwoFields.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

feat(DatePicker): add types year and year-range
  src/components/DatePickerCanary/DatePickerCanary.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeYear/DatePickerFieldTypeYear.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeYear/helpers.ts
  src/components/DatePickerCanary/DatePickerFieldTypeYearRange/DatePickerFieldTypeYearRange.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeYearRange/helpers.ts
  src/components/DatePickerCanary/DatePickerTypeYear/DatePickerTypeYear.tsx
  src/components/DatePickerCanary/DatePickerTypeYearRange/DatePickerTypeYearRange.tsx
  src/components/DatePickerCanary/__stories__/DatePicker.docs.mdx
  src/components/DatePickerCanary/__tests__/DatePicker_type_year.test.tsx
  src/components/DatePickerCanary/__tests__/DatePicker_type_yearRange.test.tsx
  src/components/DatePickerCanary/helpers.ts
  src/components/DatePickerCanary/types.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

docs(common): add SVG parameters to create icon docs (#2237)
  docs/common/developers/createIcons.stories.mdx
  docs/common/icons/icons.stories.mdx
Owners: @arhayka, @kolebayev

docs(DatePicker): add docs for type Range fields (#2253)
  src/components/DatePickerCanary/__stories__/DatePicker.docs.mdx
  src/components/DatePickerCanary/__stories__/examples/DatePickerExampleTwoFields/DatePickerExampleTwoFields.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

fix(DatePickerTypeYear): fix bug with switch date on slider calendar
  src/components/DatePickerCanary/DatePickerFieldTypeYear/DatePickerFieldTypeYear.tsx
  src/components/DatePickerCanary/DatePickerTypeYear/DatePickerTypeYear.tsx
  src/components/DatePickerCanary/DatePickerTypeYearRange/DatePickerTypeYearRange.tsx
Owners: @gizeasy, @N1MBER

fix(DatePickerTypeYear): fix bug with import
  src/components/DatePickerCanary/DatePickerTypeYear/DatePickerTypeYear.tsx
Owners: @gizeasy, @N1MBER

docs(Combobox): verify examples
  src/components/Combobox/__stories__/Combobox.docs.mdx
Owners: @arhayka, @kolebayev

fix(TableSelectedOptionsList): add ellipsis to filter list
  src/components/Table/SelectedOptionsList/TableSelectedOptionsList.css
Owners: @kolebayev

docs(DatePicker): add docs & examples for type year
  src/components/DatePickerCanary/__stories__/DatePicker.docs.mdx
  src/components/DatePickerCanary/__stories__/examples/DatePickerExampleType/DatePickerExampleType.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(Snackbar): add adaptive section
  src/components/SnackBar/__stories__/SnackBar.docs.mdx
  src/components/SnackBar/__stories__/examples/SnackBarExampleAdaptive/SnackBarExampleAdaptive.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

feat(DatePicker): add types year and year-range (#2254)
  src/components/DatePickerCanary/DatePickerCanary.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeYear/DatePickerFieldTypeYear.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeYear/helpers.ts
  src/components/DatePickerCanary/DatePickerFieldTypeYearRange/DatePickerFieldTypeYearRange.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeYearRange/helpers.ts
  src/components/DatePickerCanary/DatePickerTypeYear/DatePickerTypeYear.tsx
  src/components/DatePickerCanary/DatePickerTypeYearRange/DatePickerTypeYearRange.tsx
  src/components/DatePickerCanary/__stories__/DatePicker.docs.mdx
  src/components/DatePickerCanary/__stories__/DatePicker.stories.tsx
  src/components/DatePickerCanary/__stories__/examples/DatePickerExampleType/DatePickerExampleType.tsx
  src/components/DatePickerCanary/__tests__/DatePicker_type_year.test.tsx
  src/components/DatePickerCanary/__tests__/DatePicker_type_yearRange.test.tsx
  src/components/DatePickerCanary/helpers.ts
  src/components/DatePickerCanary/types.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

docs(Combobox): verify examples (#2256)
  src/components/Combobox/__stories__/Combobox.docs.mdx
Owners: @arhayka, @kolebayev

fix(TableSelectedOptionsList): add ellipsis to filter list (#2257)
  src/components/Table/SelectedOptionsList/TableSelectedOptionsList.css
Owners: @kolebayev

.github/CODEOWNERS:

* @gizeasy @N1MBER 
*.md @arhayka @kolebayev
*.mdx @arhayka @kolebayev
*.css @kolebayev
