Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @alyonurchick1, @linturaven

.github/CODEOWNERS:

* @gizeasy
*.md @alyonurchick1
*.mdx @alyonurchick1
*.css @linturaven

Revert "Update cspell.json"
  cspell.json
Owners: @gizeasy

Update cspell.json
  cspell.json
Owners: @gizeasy

docs(TextFieldCanary): implementation of editorial policy
  src/components/TextFieldCanary/__stand__/TextField.dev.stand.mdx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleText/TextFieldExampleText.tsx
Owners: @alyonurchick1, @gizeasy

docs
  .husky/pre-commit
  .husky/pre-push
  src/components/ContextMenu/types.ts
  src/components/FlatSelect/FlatSelectItemAll/FlatSelectItemAll.tsx
  src/components/FlatSelect/__stand__/FlatSelect.dev.stand.mdx
  src/components/FlatSelect/__stand__/examples/FlatSelectExampleIsOpen/FlatSelectExampleIsOpen.tsx
  src/components/FlatSelect/__stand__/examples/FlatSelectExampleLoading/FlatSelectExampleLoading.tsx
  src/components/FlatSelect/__stand__/examples/FlatSelectExampleRenderItem/FlatSelectExampleRenderItem.tsx
  src/components/FlatSelect/__stand__/examples/FlatSelectExampleSelectAll/FlatSelectExampleSelectAll.tsx
  src/components/FlatSelect/types.ts
  src/components/FlatSelect/useFlatSelect/useFlatSelect.tsx
  src/components/ThemeToggler/types.ts
  src/components/Tooltip/types.ts
  src/components/TooltipDeprecated/TooltipDeprecated.tsx
Owners: @gizeasy, @alyonurchick1

docs(Theme): implementation of editorial policy
  src/components/Theme/__stand__/Theme.dev.stand.mdx
Owners: @alyonurchick1

Update cspell.json
  cspell.json
Owners: @gizeasy

Update cspell.json
  cspell.json
Owners: @gizeasy

fix
  src/components/FlatSelect/FlatSelect.tsx
  src/components/FlatSelect/FlatSelectItemAll/FlatSelectItemAll.tsx
  src/components/FlatSelect/FlatSelectList/FlatSelectList.tsx
  src/components/FlatSelect/__stand__/FlatSelect.dev.stand.mdx
  src/components/FlatSelect/__stand__/FlatSelect.stand.mdx
  src/components/FlatSelect/__stand__/examples/FlatSelectExampleGroups/FlatSelectExampleGroups.tsx
  src/components/FlatSelect/__tests__/FlatSelect.test.tsx__
  src/components/FlatSelect/useFlatSelect/useFlatSelect.tsx
Owners: @gizeasy, @alyonurchick1

test
  src/components/FieldComponents/FieldButton/FieldButton.tsx
  src/components/FieldComponents/FieldClearButton/FieldClearButton.tsx
  src/components/FlatSelect/FlatSelect.tsx
  src/components/FlatSelect/__stand__/FlatSelect.variants.tsx
  src/components/FlatSelect/__tests__/FlatSelect.test.tsx
  src/components/FlatSelect/__tests__/FlatSelect.test.tsx__
  src/components/FlatSelect/useFlatSelect/useFlatSelect.tsx
  src/utils/state/withCtx/withCtx.tsx
Owners: @gizeasy

fix(github actions): fix duplicate typecheck in github actions, add lint job
  .github/workflows/tests.yml
Owners: @gizeasy

docs(ThemeToggler): implementation of editorial policy
  src/components/ThemeToggler/__stand__/ThemeToggler.dev.stand.mdx
Owners: @alyonurchick1

test
  src/components/FlatSelect/FlatSelect.tsx
  src/components/FlatSelect/FlatSelectCreateButton/FlatSelectCreateButton.css
  src/components/FlatSelect/FlatSelectCreateButton/FlatSelectCreateButton.tsx
  src/components/FlatSelect/FlatSelectItemAll/FlatSelectItemAll.tsx
  src/components/FlatSelect/FlatSelectList/FlatSelectList.tsx
  src/components/FlatSelect/__stand__/FlatSelect.variants.tsx
  src/components/FlatSelect/__tests__/FlatSelect.test.tsx
  src/components/FlatSelect/useFlatSelect/useFlatSelect.tsx
  src/components/ListCanary/types.ts
Owners: @gizeasy, @linturaven

test
  src/components/FlatSelect/FlatSelect.css
  src/components/FlatSelect/FlatSelectFooter/FlatSelectFooter.css
  src/components/FlatSelect/FlatSelectLoader/FlatSelectLoader.css
  src/components/FlatSelect/FlatSelectRoot/FlatSelectRoot.css
  src/components/FlatSelect/__stand__/examples/FlatSelectExampleFooter/FlatSelectExampleFooter.css
  src/components/ListCanary/ListBox/ListBox.css
  src/components/Theme/_shadow/Theme_shadow_gpnDefault.css
Owners: @linturaven

docs(Timer): implementation of editorial policy
  src/components/Timer/__stand__/Timer.dev.stand.mdx
Owners: @alyonurchick1

docs(Tooltip): implementation of editorial policy
  src/components/Tooltip/__stand__/Tooltip.dev.stand.mdx
Owners: @alyonurchick1

docs(User): implementation of editorial policy
  src/components/User/__stand__/User.dev.stand.mdx
Owners: @alyonurchick1

fix(Combobox): fix combobox clear button visibility with selectAll and multiple (#4062)
  src/components/Combobox/Combobox.tsx
  src/components/Combobox/__tests__/Combobox.test.tsx
Owners: @gizeasy

test(Slider/Sidebar/Modal): adds tests for Slider and Sidebar, fixes commented test in Modal (#4064)
  jest.config.js
  src/components/Modal/__tests__/Modal.test.tsx
  src/components/Sidebar/Sidebar.tsx
  src/components/Sidebar/__tests__/Sidebar.test.tsx
  src/components/Slider/__tests__/Slider.test.tsx
  src/components/Slider/__tests__/SliderInput.test.tsx
  src/components/Slider/__tests__/SliderLine.test.tsx
  src/components/Slider/__tests__/SliderPoint.test.tsx
Owners: @gizeasy

fix(github actions): fix duplicate typecheck in github actions, add lint job (#4071)
  .github/workflows/tests.yml
Owners: @gizeasy

docs(Tag): implementation of editorial policy (#4065)
  cspell.json
  src/components/Tag/__stand__/Tag.dev.stand.mdx
Owners: @gizeasy, @alyonurchick1

docs (Text): implementation of editorial policy (#4066)
  cspell.json
  src/components/Text/__stand__/Text.dev.stand.mdx
Owners: @gizeasy, @alyonurchick1

docs(TextField): implementation of editorial policy (#4067)
  src/components/TextField/__stand__/TextField.dev.stand.mdx
  src/components/TextField/__stand__/examples/TextFieldExampleCaption/TextFieldExampleCaption.tsx
  src/components/TextField/__stand__/examples/TextFieldExampleLabel/TextFieldExampleLabel.tsx
  src/components/TextField/__stand__/examples/TextFieldExampleText/TextFieldExampleText.tsx
Owners: @alyonurchick1, @gizeasy

Update TextField.dev.stand.mdx
  src/components/TextFieldCanary/__stand__/TextField.dev.stand.mdx
Owners: @alyonurchick1

docs(Theme): implementation of editorial policy (#4070)
  cspell.json
  src/components/Theme/__stand__/Theme.dev.stand.mdx
Owners: @gizeasy, @alyonurchick1

docs(Timer): implementation of editorial policy (#4073)
  src/components/Timer/__stand__/Timer.dev.stand.mdx
Owners: @alyonurchick1

docs(Tooltip): implementation of editorial policy (#4075)
  src/components/Tooltip/__stand__/Tooltip.dev.stand.mdx
Owners: @alyonurchick1

docs(User): implementation of editorial policy (#4076)
  src/components/User/__stand__/User.dev.stand.mdx
Owners: @alyonurchick1

Update ThemeToggler.dev.stand.mdx
  src/components/ThemeToggler/__stand__/ThemeToggler.dev.stand.mdx
Owners: @alyonurchick1

Update TextField.dev.stand.mdx
  src/components/TextFieldCanary/__stand__/TextField.dev.stand.mdx
Owners: @alyonurchick1

Update FlatSelect.dev.stand.mdx
  src/components/FlatSelect/__stand__/FlatSelect.dev.stand.mdx
Owners: @alyonurchick1

Update FlatSelect.dev.stand.mdx
  src/components/FlatSelect/__stand__/FlatSelect.dev.stand.mdx
Owners: @alyonurchick1

Update FlatSelect.stand.tsx
  src/components/FlatSelect/__stand__/FlatSelect.stand.tsx
Owners: @gizeasy

fix desc
  cspell.json
  src/components/FlatSelect/__stand__/FlatSelect.stand.tsx
Owners: @gizeasy

test(Pagination): added tests for <Pagination /> component
  src/components/Pagination/PaginationArrow/PaginationArrow.tsx
  src/components/Pagination/__tests__/Pagination.test.tsx
Owners: @gizeasy

test(BookmarkTabs): added tests for <BookmarkTabs /> component
  src/components/BookmarkTabs/__tests__/BookmarkTabs.test.tsx
  src/components/BookmarkTabs/__tests__/BookmarkTabs.test.tsx__
Owners: @gizeasy

fix(ContextMenu): remove unused ref
  src/components/ContextMenu/ContextMenu.tsx
  src/components/ContextMenu/ContextMenuLevels/ContextMenuLevels.tsx
Owners: @gizeasy

docs: return complex props
  src/components/AutoCompleteCanary/__stand__/AutoComplete.dev.stand.mdx
  src/components/BadgeGroup/__stand__/BadgeGroup.dev.stand.mdx
  src/components/Breadcrumbs/__stand__/Breadcrumbs.dev.stand.mdx
  src/components/CheckboxGroup/__stand__/CheckboxGroup.dev.stand.mdx
  src/components/ChoiceGroup/__stand__/ChoiceGroup.dev.stand.mdx
  src/components/CollapseGroup/__stand__/CollapseGroup.dev.stand.mdx
  src/components/Combobox/__stand__/Combobox.dev.stand.mdx
  src/components/ContextMenu/__stand__/ContextMenu.dev.stand.mdx
  src/components/DatePicker/__stand__/DatePicker.dev.stand.mdx
  src/components/DateTime/__stand__/DateTime.dev.stand.mdx
  src/components/DragNDropField/__stand__/DragNDropField.dev.stand.mdx
  src/components/Grid/__stand__/Grid.dev.stand.mdx
  src/components/ListCanary/__stand__/List.dev.stand.mdx
  src/components/Pagination/__stand__/Pagination.dev.stand.mdx
  src/components/Picture/__stand__/Picture.dev.stand.mdx
  src/components/Popover/__stand__/Popover.dev.stand.mdx
  src/components/ProgressStepBar/__stand__/ProgressStepBar.dev.stand.mdx
  src/components/RadioGroup/__stand__/RadioGroup.dev.stand.mdx
  src/components/Select/__stand__/Select.dev.stand.mdx
  src/components/SelectCanary/__stand__/Select.dev.stand.mdx
  src/components/Slider/__stand__/Slider.dev.stand.mdx
  src/components/SnackBar/__stand__/SnackBar.dev.stand.mdx
  src/components/Steps/__stand__/Steps.dev.stand.mdx
  src/components/StepsCanary/__stand__/Steps.dev.stand.mdx
  src/components/SwitchGroup/__stand__/SwitchGroup.dev.stand.mdx
  src/components/Tabs/__stand__/Tabs.dev.stand.mdx
  src/components/TextField/__stand__/TextField.dev.stand.mdx
Owners: @alyonurchick1

chore(eslint): remove unused eslint-plugin-id-match
  .eslintrc.js
  package.json
  yarn.lock
Owners: @gizeasy

Update Modal.use.stand.mdx
  src/components/Modal/__stand__/Modal.use.stand.mdx
Owners: @alyonurchick1

docs(TextFieldCanary): implementation of editorial policy (#4068)
  src/components/TextFieldCanary/__stand__/TextField.dev.stand.mdx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleText/TextFieldExampleText.tsx
Owners: @alyonurchick1, @gizeasy
