Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @alyonurchick1, @linturaven

.github/CODEOWNERS:

* @gizeasy
*.md @alyonurchick1
*.mdx @alyonurchick1
*.css @linturaven

test(DatePickerFieldTypeDateTimeRange): basic rendering and refs
  src/components/DatePicker/__tests__/DatePicker_field_type_dateTimeRange.test.tsx
Owners: @gizeasy

test(DatePickerDropdown): cover rendering and multiplicity props
  src/components/DatePicker/__tests__/DatePicker_dropdown.test.tsx
Owners: @gizeasy

test(DatePickerTypeDateTime): multiplicity propagation and props
  src/components/DatePicker/__tests__/DatePicker_type_dateTimeProps.test.tsx
Owners: @gizeasy

test(DatePickerTypeTime): multiplicity propagation and props
  src/components/DatePicker/__tests__/DatePicker_type_time.test.tsx
Owners: @gizeasy

chore(DatePicker/tests): reorganize test files into component-specific folders
  src/components/DatePicker/__tests__/DatePickerDropdown/DatePicker_dropdown.test.tsx
  src/components/DatePicker/__tests__/DatePickerFieldTypeDateTime/DatePicker_field_type_dateTime.test.tsx
  src/components/DatePicker/__tests__/DatePickerFieldTypeDateTime/DatePicker_field_type_dateTime_helpers.test.tsx
  src/components/DatePicker/__tests__/DatePickerFieldTypeDateTimeRange/DatePicker_field_type_dateTimeRange.test.tsx
  src/components/DatePicker/__tests__/DatePickerFieldTypeTime/DatePicker_field_type_time.test.tsx
  src/components/DatePicker/__tests__/DatePickerFieldTypeTime/DatePicker_field_type_time_helpers.test.tsx
  src/components/DatePicker/__tests__/DatePickerTypeDate/DatePicker_type_date.test.tsx
  src/components/DatePicker/__tests__/DatePickerTypeDateRange/DatePicker_type_dateRange.test.tsx
  src/components/DatePicker/__tests__/DatePickerTypeDateTime/DatePicker_type_dateTime.test.tsx
  src/components/DatePicker/__tests__/DatePickerTypeDateTime/DatePicker_type_dateTime_props.test.tsx
  src/components/DatePicker/__tests__/DatePickerTypeDateTimeRange/DatePicker_type_dateTimeRange.test.tsx
  src/components/DatePicker/__tests__/DatePickerTypeMonth/DatePicker_type_month.test.tsx
  src/components/DatePicker/__tests__/DatePickerTypeMonthRange/DatePicker_type_monthRange.test.tsx
  src/components/DatePicker/__tests__/DatePickerTypeTime/DatePicker_type_time.test.tsx
  src/components/DatePicker/__tests__/DatePickerTypeYear/DatePicker_type_year.test.tsx
  src/components/DatePicker/__tests__/DatePickerTypeYearRange/DatePicker_type_yearRange.test.tsx
Owners: @gizeasy

fix(DateTime/tests): update import paths for mocks after test folder restructuring
  src/components/DatePicker/__tests__/DatePickerTypeDateTime/DatePicker_type_dateTime_props.test.tsx
  src/components/DatePicker/__tests__/DatePickerTypeTime/DatePicker_type_time.test.tsx
Owners: @gizeasy

fix(DateTime/tests): corrected cspell error by fixing 'проп' word
  src/components/DatePicker/__tests__/DatePickerDropdown/DatePicker_dropdown.test.tsx
Owners: @gizeasy

feat(DatePicker): add timeOptions prop for time types and mark multiplicity props as deprecated
  src/components/DatePicker/types.ts
Owners: @gizeasy

feat(DatePicker): add getTimeOptionsByFormat as replacement for deprecated getMultiplicityTime
  src/components/DatePicker/helpers.ts
Owners: @gizeasy

feat(DatePicker): add support for timeOptions prop
  src/components/DatePicker/DatePicker.tsx
Owners: @gizeasy

feat(DatePickerTypeTime): add support for timeOptions prop
  src/components/DatePicker/DatePickerTypeTime/DatePickerTypeTime.tsx
Owners: @gizeasy

feat(DatePickerTypeDateTime): add support for timeOptions prop
  src/components/DatePicker/DatePickerTypeDateTime/DatePickerTypeDateTime.tsx
Owners: @gizeasy

feat(DatePickerDropdown): add support for timeOptions prop
  src/components/DatePicker/DatePickerDropdown/DatePickerDropdown.tsx
Owners: @gizeasy

feat(DatePicker): add getTimeMaskBlocks for unified IMask time configuration
  src/components/DatePicker/helpers.ts
Owners: @gizeasy

feat(DatePicker): add support for timeOptions prop
  src/components/DatePicker/DatePickerFieldTypeTime/helpers.ts
Owners: @gizeasy

feat(DatePicker): add support for timeOptions prop
  src/components/DatePicker/DatePickerFieldTypeDateTime/helpers.ts
Owners: @gizeasy

feat(DatePickerFieldTypeTime): add support for timeOptions prop
  src/components/DatePicker/DatePickerFieldTypeTime/DatePickerFieldTypeTime.tsx
Owners: @gizeasy

feat(DatePickerFieldTypeDateTime): add support for timeOptions prop
  src/components/DatePicker/DatePickerFieldTypeDateTime/DatePickerFieldTypeDateTime.tsx
Owners: @gizeasy

feat(DatePickerFieldTypeDateTimeRange): add support for timeOptions prop
  src/components/DatePicker/DatePickerFieldTypeDateTimeRange/helpers.ts
Owners: @gizeasy

feat(DatePickerFieldTypeDateTimeRange): add support for timeOptions prop
  src/components/DatePicker/DatePickerFieldTypeDateTimeRange/DatePickerFieldTypeDateTimeRange.tsx
Owners: @gizeasy

feat(DatePickerTypeDateTimeRange): add support for timeOptions prop
  src/components/DatePicker/DatePickerTypeDateTimeRange/DatePickerTypeDateTimeRange.tsx
Owners: @gizeasy

fix(DatePickerTypeDateTimeRange): correct destructuring of multiplicity props
  src/components/DatePicker/DatePickerTypeDateTimeRange/DatePickerTypeDateTimeRange.tsx
Owners: @gizeasy

test(DatePicker): add unit tests for getTimeOptionsByFormat and getTimeMaskBlocks
  src/components/DatePicker/__tests__/DatePicker_helpers.test.tsx
Owners: @gizeasy

test(DatePickerDropdown): add unit tests for timeOptions prop
  src/components/DatePicker/__tests__/DatePickerDropdown/DatePicker_dropdown.test.tsx
Owners: @gizeasy

test(DatePickerTypeTime): add unit tests for timeOptions prop
  src/components/DatePicker/__tests__/DatePickerTypeTime/DatePicker_type_time.test.tsx
Owners: @gizeasy

test(DatePickerTypeDateTime): add unit tests for timeOptions prop
  src/components/DatePicker/__tests__/DatePickerTypeDateTime/DatePicker_type_dateTime_unit.test.tsx
Owners: @gizeasy

test(DatePickerFieldTypeTime): add unit tests for IMask configuration with timeOptions and multiplicity
  src/components/DatePicker/__tests__/DatePickerFieldTypeTime/DatePicker_field_type_time_helpers.test.tsx
Owners: @gizeasy

test(DatePickerFieldTypeDateTimeRange): add unit tests for timeOptions and multiplicity props
  src/components/DatePicker/__tests__/DatePickerFieldTypeDateTimeRange/DatePicker_field_type_dateTimeRange_unit.test.tsx
Owners: @gizeasy

test(DatePickerTypeDateTimeRange): add unit test for timeOptions, multiplicity and other props
  src/components/DatePicker/__tests__/DatePickerTypeDateTimeRange/DatePicker_type_dateTimeRange_unit.test.tsx
Owners: @gizeasy

test(DatePickerFieldTypeDateTime): add unit tests for IMask configuration with timeOptions and multiplicity
  src/components/DatePicker/__tests__/DatePickerFieldTypeDateTime/DatePicker_field_type_dateTime_helpers.test.tsx
Owners: @gizeasy

feat(DatePicker): add interactive example for timeOptions prop
  src/components/DatePicker/__stand__/examples/DatePickerExampleTimeOptions/DatePickerExampleTimeOptions.tsx
Owners: @gizeasy

docs(DatePicker): document timeOptions prop with examples
  src/components/DatePicker/__stand__/DatePicker.dev.stand.mdx
Owners: @alyonurchick1

fix(DatePicker/tests): unknown words
  src/components/DatePicker/__tests__/DatePickerTypeDateTimeRange/DatePicker_type_dateTimeRange_unit.test.tsx
  src/components/DatePicker/__tests__/DatePickerTypeTime/DatePicker_type_time.test.tsx
Owners: @gizeasy

test(ProgressLine): add tests
  src/components/ProgressLine/__tests__/ProgressLine.test.tsx
Owners: @gizeasy

test(Steps): add missing ref testcase
  src/components/Steps/__tests__/Steps.test.tsx
Owners: @gizeasy

test(ProgressSpin): add missing ref testcase
  src/components/ProgressSpin/__tests__/ProgressSpin.test.tsx
Owners: @gizeasy

test(SnackBar): add missing ref testcase
  src/components/SnackBar/__tests__/SnackBar.test.tsx
Owners: @gizeasy

test(Spoiler): add missing ref testcase
  src/components/Spoiler/__tests__/Spoiler.test.tsx
Owners: @gizeasy

docs(DatePicker): update DatePickerMulti example
  src/components/DatePicker/__stand__/DatePicker.dev.stand.mdx
  src/components/DatePicker/__stand__/examples/DatePickerExampleMulti/DatePickerExampleMulti.tsx
Owners: @alyonurchick1, @gizeasy

docs(DatePicker): update DatePickerTimeOptions example
  src/components/DatePicker/__stand__/DatePicker.dev.stand.mdx
  src/components/DatePicker/__stand__/examples/DatePickerExampleTimeOptions/DatePickerExampleTimeOptions.tsx
Owners: @alyonurchick1, @gizeasy
