Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @alyonurchick1, @linturaven

Update cspell.json
  cspell.json
Owners: @gizeasy

docs (StepsCanary): implementation of editorial policy
  src/components/StepsCanary/__stand__/Steps.dev.stand.mdx
Owners: @alyonurchick1

docs (Switch): implementation of editorial policy
  src/components/Switch/__stand__/Switch.dev.stand.mdx
Owners: @alyonurchick1

docs (SwitchGroup): implementation of editorial policy
  src/components/SwitchGroup/__stand__/SwitchGroup.dev.stand.mdx
Owners: @alyonurchick1

docs (Tabs): implementation of editorial policy
  cspell.json
  src/components/Tabs/__stand__/Tabs.dev.stand.mdx
Owners: @gizeasy, @alyonurchick1

docs (RadioGroup): implementation of editorial policy (#4042)
  src/components/RadioGroup/__stand__/RadioGroup.dev.stand.mdx
Owners: @alyonurchick1

docs (Radio): implementation of editorial policy (#4043)
  src/components/Radio/__stand__/Radio.dev.stand.mdx
Owners: @alyonurchick1

docs (Select): implementation of editorial policy (#4046)
  src/components/Select/__stand__/Select.dev.stand.mdx
Owners: @alyonurchick1

docs(Responses): implementation of editorial policy (#4045)
  src/components/Responses/__stand__/Responses.dev.stand.mdx
Owners: @alyonurchick1

docs(ProgressStepBar): implementation of editorial policy (#4039)
  src/components/ProgressStepBar/__stand__/ProgressStepBar.dev.stand.mdx
Owners: @alyonurchick1

docs(SelectCanary): implementation of editorial policy (#4047)
  src/components/SelectCanary/__stand__/Select.dev.stand.mdx
  src/components/SelectCanary/__stand__/Select.stand.mdx
Owners: @alyonurchick1

docs(Sidebar): implementation of editorial policy (#4049)
  cspell.json
  src/components/Sidebar/__stand__/Sidebar.dev.stand.mdx
Owners: @gizeasy, @alyonurchick1

docs(Slider): implementation of editorial policy (#4050)
  src/components/Slider/__stand__/Slider.dev.stand.mdx
Owners: @alyonurchick1

docs(SnackBar): implementation of editorial policy (#4051)
  src/components/SnackBar/__stand__/SnackBar.dev.stand.mdx
Owners: @alyonurchick1

docs(Spoiler): implementation of editorial policy (#4053)
  src/components/Spoiler/__stand__/Spoiler.dev.stand.mdx
Owners: @alyonurchick1

Update Steps.dev.stand.mdx
  src/components/Steps/__stand__/Steps.dev.stand.mdx
Owners: @alyonurchick1

docs(StepsCanary): implementation of editorial policy (#4056)
  src/components/StepsCanary/__stand__/Steps.dev.stand.mdx
Owners: @alyonurchick1

docs(Steps): implementation of editorial policy (#4055)
  cspell.json
  src/components/Steps/__stand__/Steps.dev.stand.mdx
  src/components/Steps/__stand__/Steps.stand.tsx
Owners: @gizeasy, @alyonurchick1

docs(Switch): implementation of editorial policy (#4057)
  src/components/Switch/__stand__/Switch.dev.stand.mdx
Owners: @alyonurchick1

update examples
  src/components/SwitchGroup/__stand__/examples/SwitchGroupExampleDirection/SwitchGroupExampleDirection.tsx
  src/components/SwitchGroup/__stand__/examples/SwitchGroupExampleSize/SwitchGroupExampleSize.tsx
  src/components/SwitchGroup/__stand__/examples/SwitchGroupExampleView/SwitchGroupExampleView.tsx
Owners: @gizeasy

Update TabsExampleLinePosition.tsx
  src/components/Tabs/__stand__/examples/TabsExampleLinePosition/TabsExampleLinePosition.tsx
Owners: @gizeasy

fix(ProgressStepBar): fix line width for 2 steps (#4054)
  src/components/ProgressStepBar/ProgressStepBarItem/ProgressStepBarItem.tsx
  src/components/ProgressStepBar/__tests__/ProgressStepBar.test.tsx
  src/components/ProgressStepBar/__tests__/ProgressStepBarItem.test.tsx
  src/components/ProgressStepBar/helpers.ts
Owners: @gizeasy

docs (SwitchGroup): implementation of editorial policy (#4058)
  src/components/SwitchGroup/__stand__/SwitchGroup.dev.stand.mdx
  src/components/SwitchGroup/__stand__/examples/SwitchGroupExampleDirection/SwitchGroupExampleDirection.tsx
  src/components/SwitchGroup/__stand__/examples/SwitchGroupExampleSize/SwitchGroupExampleSize.tsx
  src/components/SwitchGroup/__stand__/examples/SwitchGroupExampleView/SwitchGroupExampleView.tsx
Owners: @alyonurchick1, @gizeasy

docs(Tabs): implementation of editorial policy (#4059)
  cspell.json
  src/components/Tabs/__stand__/Tabs.dev.stand.mdx
  src/components/Tabs/__stand__/examples/TabsExampleLinePosition/TabsExampleLinePosition.tsx
Owners: @gizeasy, @alyonurchick1

release: 5.25.1
  package.json
Owners: @gizeasy

changelog: 5.25.1
  CHANGELOG.md
Owners: @alyonurchick1

fix(Combobox): fix combobox clear button visibility with selectAll and multiple
  src/components/Combobox/Combobox.tsx
  src/components/Combobox/__tests__/Combobox.test.tsx
Owners: @gizeasy

ваквапв
  src/components/FlatSelect/FlatSelect.tsx
  src/components/FlatSelect/FlatSelectList/FlatSelectList.tsx
  src/components/FlatSelect/FlatSelectRenderItem/FlatSelectRenderItem.tsx
  src/components/FlatSelect/FlatSelectRoot/FlatSelectRoot.tsx
  src/components/FlatSelect/__stand__/FlatSelect.dev.stand.mdx
  src/components/FlatSelect/__stand__/FlatSelect.variants.tsx
  src/components/FlatSelect/types.ts
  src/components/FlatSelect/useFlatSelect/useFlatSelect.tsx
  src/utils/state/useClickOutsideAtom/index.ts
  src/utils/state/useClickOutsideAtom/useClickOutside.tsx
  src/utils/state/useElementAtomEventListener/index.ts
  src/utils/state/useElementAtomEventListener/useElementAtomEventListener.ts
  src/utils/state/useKeysAtom/index.ts
  src/utils/state/useKeysAtom/useKeysAtom.ts
  src/utils/state/useRefAtom/useRefAtom.ts
Owners: @gizeasy, @alyonurchick1

doc
  src/components/FlatSelect/__stand__/FlatSelect.dev.stand.mdx
  src/components/FlatSelect/__stand__/examples/FlatSelectExampleClearButton/FlatSelectExampleClearButton.tsx
  src/components/FlatSelect/__stand__/examples/FlatSelectExampleDisabledItem/FlatSelectExampleDisabledItem.tsx
  src/components/FlatSelect/__stand__/examples/FlatSelectExampleGroups/FlatSelectExampleGroups.tsx
  src/components/FlatSelect/__stand__/examples/FlatSelectExampleInput/FlatSelectExampleInput.tsx
  src/components/FlatSelect/__stand__/examples/FlatSelectExampleItems/FlatSelectExampleItems.tsx
  src/components/FlatSelect/__stand__/examples/FlatSelectExampleMultiple/FlatSelectExampleMultiple.tsx
  src/components/FlatSelect/types.ts
Owners: @alyonurchick1, @gizeasy

fix(Combobox): fix combobox clear button visibility with selectAll and multiple
  src/components/Combobox/Combobox.tsx
  src/components/Combobox/__tests__/Combobox.test.tsx
Owners: @gizeasy

asdasd
  src/components/FlatSelect/FlatSelect.tsx
  src/components/FlatSelect/FlatSelectControlLayout/FlatSelectControlLayout.tsx
  src/components/FlatSelect/FlatSelectFooter/FlatSelectFooter.tsx
  src/components/FlatSelect/__stand__/FlatSelect.dev.stand.mdx
  src/components/FlatSelect/__stand__/examples/FlatSelectExampleAnchor/FlatSelectExampleAnchor.tsx
  src/components/FlatSelect/__stand__/examples/FlatSelectExampleBorder/FlatSelectExampleBorder.tsx
  src/components/FlatSelect/__stand__/examples/FlatSelectExampleCreate/FlatSelectExampleCreate.tsx
  src/components/FlatSelect/__stand__/examples/FlatSelectExampleDisabled/FlatSelectExampleDisabled.tsx
  src/components/FlatSelect/__stand__/examples/FlatSelectExampleFooter/FlatSelectExampleFooter.css
  src/components/FlatSelect/__stand__/examples/FlatSelectExampleFooter/FlatSelectExampleFooter.tsx
  src/components/FlatSelect/__stand__/examples/FlatSelectExampleForm/FlatSelectExampleForm.tsx
  src/components/FlatSelect/__stand__/examples/FlatSelectExampleIcon/FlatSelectExampleIcon.tsx
  src/components/FlatSelect/__stand__/examples/FlatSelectExampleSize/FlatSelectExampleSize.tsx
  src/components/FlatSelect/__stand__/examples/FlatSelectExampleView/FlatSelectExampleView.tsx
  src/components/FlatSelect/__stand__/examples/FlatSelectExampleVirtualScroll/FlatSelectExampleVirtualScroll.css
  src/components/FlatSelect/__stand__/examples/FlatSelectExampleVirtualScroll/FlatSelectExampleVirtualScroll.tsx
  src/components/FlatSelect/defaultProps.ts
  src/components/FlatSelect/types.ts
Owners: @gizeasy, @alyonurchick1, @linturaven

docs(Tag): implementation of editorial policy
  src/components/Tag/__stand__/Tag.dev.stand.mdx
Owners: @alyonurchick1

docs (Text): implementation of editorial policy
  src/components/Text/__stand__/Text.dev.stand.mdx
Owners: @alyonurchick1

test(Slider/Sidebar/Modal): adds tests for Slider and Sidebar, fixes commented test in Modal
  jest.config.js
  src/components/Modal/__tests__/Modal.test.tsx
  src/components/Sidebar/Sidebar.tsx
  src/components/Sidebar/__tests__/Sidebar.test.tsx
  src/components/Slider/__tests__/Slider.test.tsx
  src/components/Slider/__tests__/SliderInput.test.tsx
  src/components/Slider/__tests__/SliderLine.test.tsx
  src/components/Slider/__tests__/SliderPoint.test.tsx
Owners: @gizeasy

docs(TextField): implementation of editorial policy
  src/components/TextField/__stand__/TextField.dev.stand.mdx
  src/components/TextField/__stand__/examples/TextFieldExampleCaption/TextFieldExampleCaption.tsx
  src/components/TextField/__stand__/examples/TextFieldExampleLabel/TextFieldExampleLabel.tsx
  src/components/TextField/__stand__/examples/TextFieldExampleText/TextFieldExampleText.tsx
Owners: @alyonurchick1, @gizeasy

docs (Text): implementation of editorial policy
  src/components/Text/__stand__/Text.dev.stand.mdx
Owners: @alyonurchick1

Revert "docs (Text): implementation of editorial policy"
  src/components/Text/__stand__/Text.dev.stand.mdx
Owners: @alyonurchick1

Update cspell.json
  cspell.json
Owners: @gizeasy

Update cspell.json
  cspell.json
Owners: @gizeasy

Update cspell.json
  cspell.json
Owners: @gizeasy

.github/CODEOWNERS:

* @gizeasy
*.md @alyonurchick1
*.mdx @alyonurchick1
*.css @linturaven
