Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @alyonurchick1, @linturaven

.github/CODEOWNERS:

* @gizeasy
*.md @alyonurchick1
*.mdx @alyonurchick1
*.css @linturaven

docs: removed unnecessary properties (#4108)
  src/components/ListCanary/__stand__/List.dev.stand.mdx
  src/components/Popover/__stand__/Popover.dev.stand.mdx
  src/components/Tooltip/__stand__/Tooltip.dev.stand.mdx
Owners: @alyonurchick1

release: 5.27.0
  package.json
Owners: @gizeasy

changelog: 5.27.0
  CHANGELOG.md
Owners: @alyonurchick1

sdfsdef
  .husky/pre-commit
  .husky/pre-push
  src/components/Notification/NotificationItem/NotificationItem.css
  src/components/Notification/NotificationItem/NotificationItem.tsx
  src/components/Notification/NotificationItem/types.ts
  src/components/Notification/NotificationItemFooter/NotificationItemFooter.css
  src/components/Notification/NotificationItemFooter/NotificationItemFooter.tsx
  src/components/Notification/NotificationItemFooter/helpers.ts
  src/components/Notification/NotificationItemFooter/types.ts
  src/components/Notification/NotificationList/NotificationList.tsx
  src/components/Notification/__stand__/Notification.variants.css
  src/components/Notification/__stand__/Notification.variants.tsx
Owners: @gizeasy, @linturaven

feat: finish NotificationItem
  src/components/Notification/NotificationActions/NotificationActions.tsx
  src/components/Notification/NotificationItem/NotificationItem.css
  src/components/Notification/NotificationItem/NotificationItem.tsx
  src/components/Notification/NotificationItem/types.ts
  src/components/Notification/__stand__/Notification.variants.tsx
Owners: @gizeasy, @linturaven

fix(Slider): exclude slider container from tab sequence
  src/components/Slider/Slider.tsx
Owners: @gizeasy

fix(Slider): prevent event blocking for Tab key by moving preventDefault after key validation
  src/components/Slider/useSlider/useSlider.ts
Owners: @gizeasy

fix(Slider): tab navigation (#4109)
  src/components/Slider/Slider.tsx
  src/components/Slider/useSlider/useSlider.ts
Owners: @gizeasy

fix(Modal): fixed zIndex prop
  src/components/Modal/Modal.tsx
Owners: @gizeasy

fix(Modal): fixed zIndex prop (#4110)
  src/components/Modal/Modal.tsx
Owners: @gizeasy

release: 5.27.1
  package.json
Owners: @gizeasy

changelog: 5.27.1
  CHANGELOG.md
Owners: @alyonurchick1

test(Picture): add tests
  src/components/Picture/__tests__/Picture.test.tsx
Owners: @gizeasy

sss
  src/components/Chips/ChipsChoice/ChipsChoice.tsx
  src/components/Notification/NotificationActions/NotificationActions.tsx
  src/components/Notification/NotificationActions/types.ts
  src/components/Notification/NotificationGroup/NotificationGroup.css
  src/components/Notification/NotificationGroup/NotificationGroup.tsx
  src/components/Notification/NotificationGroup/index.ts
  src/components/Notification/NotificationGroup/types.ts
  src/components/Notification/NotificationItem/NotificationItem.tsx
  src/components/Notification/__stand__/Notification.variants.css
  src/components/Notification/__stand__/Notification.variants.tsx
  src/components/Notification/index.ts
Owners: @gizeasy, @linturaven

feat(DateTime): add TimeOptions and TimeUnitOptions types and mark multiplicity props as deprecated
  src/components/DateTime/helpers/types.ts
Owners: @gizeasy

feat(DateTime): implement getTimeNumbers helper function
  src/components/DateTime/helpers/getTimeNumbers.ts
  src/components/DateTime/helpers/index.ts
Owners: @gizeasy

refactor(DateTime): remove unused multiplicity props from date components
  src/components/DateTime/DateTimeTypeDate/DateTimeTypeDate.tsx
  src/components/DateTime/DateTimeTypeMonth/DateTimeTypeMonth.tsx
  src/components/DateTime/DateTimeTypeYear/DateTimeTypeYear.tsx
Owners: @gizeasy

feat(DateTimeTypeTime): implement timeOptions support in time picker
  src/components/DateTime/DateTimeTypeTime/helpers.ts
Owners: @gizeasy

feat(DateTimeTypeDateTime): integrate timeOptions in date-time component
  src/components/DateTime/DateTimeTypeDateTime/DateTimeTypeDateTime.tsx
Owners: @gizeasy

feat(DateTimeTypeTime): integrate timeOptions
  src/components/DateTime/DateTimeTypeTime/DateTimeTypeTime.tsx
Owners: @gizeasy

test(DateTime): add tests for getTimeNumbers helper
  src/components/DateTime/__tests__/DateTime_type_dateTime.test.tsx
Owners: @gizeasy

docs(DateTime): add interactive examples for timeOptions
  src/components/DateTime/__stand__/examples/DateTimeExampleTimeOptions/DateTimeExampleTimeOptions.tsx
Owners: @gizeasy

docs(DateTime): update documentation for new timeOptions prop
  src/components/DateTime/__stand__/DateTime.dev.stand.mdx
Owners: @alyonurchick1

test(DateTime): add test for custom timeOptions priority over multiplicity
  src/components/DateTime/__tests__/DateTime_type_dateTime.test.tsx
Owners: @gizeasy

asd
  src/components/FlatSelect/defaultProps.ts
  src/components/Notification/Notification.tsx
  src/components/Notification/NotificationGroup/NotificationGroup.css
  src/components/Notification/NotificationGroup/NotificationGroup.tsx
  src/components/Notification/NotificationList/NotificationList.tsx
  src/components/Notification/NotificationList/helpers.ts
  src/components/Notification/NotificationList/types.ts
  src/components/Notification/NotificationRoot/NotificationRoot.css
  src/components/Notification/NotificationRoot/NotificationRoot.tsx
  src/components/Notification/NotificationRoot/index.ts
  src/components/Notification/__mocks__/data.mock.ts
  src/components/Notification/__stand__/Notification.variants.tsx
  src/components/Notification/types.ts
  src/utils/object/keys.ts
Owners: @gizeasy, @linturaven

fix(DateTime): restrict time-related props to time types only
  src/components/DateTime/helpers/types.ts
Owners: @gizeasy

refactor(DateTime): make getTimeNumbers options optional and simplify handling
  src/components/DateTime/helpers/getTimeNumbers.ts
Owners: @gizeasy

refactor(DateTime): mark multiplicity* props in useTimeItems as deprecated
  src/components/DateTime/DateTimeTypeTime/helpers.ts
Owners: @gizeasy

docs(DateTime): update MdxInformer to use inline code for deprecated multiplicity* props
  src/components/DateTime/__stand__/DateTime.dev.stand.mdx
Owners: @alyonurchick1

test(DragNDropFieldCanary): add tests
  src/components/DragNDropFieldCanary/DragNDropFieldInformer/DragNDropFieldInformer.tsx
  src/components/DragNDropFieldCanary/__tests__/DragNDropFieldCanary.test.tsx
  src/components/DragNDropFieldCanary/__tests__/DragNDropFieldInformer.test.tsx
  src/components/DragNDropFieldCanary/__tests__/formatFileSize.test.ts
  src/components/DragNDropFieldCanary/__tests__/getErrorsList.test.ts
  src/components/DragNDropFieldCanary/types.ts
Owners: @gizeasy

test(Grid): add tests
  src/components/Grid/__tests__/Grid.test.tsx
  src/components/Grid/__tests__/GridItem.test.tsx
Owners: @gizeasy

fix(DateTime): fix timeOptions validation for empty arrays
  src/components/DateTime/helpers/getTimeNumbers.ts
Owners: @gizeasy

ввв
  src/components/Notification/Notification.tsx
  src/components/Notification/NotificationList/NotificationList.tsx
  src/components/Notification/NotificationList/helpers.ts
  src/components/Notification/NotificationList/types.ts
  src/components/Notification/__mocks__/data.mock.ts
  src/components/Notification/__stand__/Notification.variants.css
  src/components/Notification/__stand__/Notification.variants.tsx
Owners: @gizeasy, @linturaven

test(Picture/Grid/DragNDropFieldCanary): add tests (#4111)
  src/components/DragNDropFieldCanary/DragNDropFieldInformer/DragNDropFieldInformer.tsx
  src/components/DragNDropFieldCanary/__tests__/DragNDropFieldCanary.test.tsx
  src/components/DragNDropFieldCanary/__tests__/DragNDropFieldInformer.test.tsx
  src/components/DragNDropFieldCanary/__tests__/formatFileSize.test.ts
  src/components/DragNDropFieldCanary/__tests__/getErrorsList.test.ts
  src/components/DragNDropFieldCanary/types.ts
  src/components/Grid/__tests__/Grid.test.tsx
  src/components/Grid/__tests__/GridItem.test.tsx
  src/components/Picture/__tests__/Picture.test.tsx
Owners: @gizeasy

fix(DateTime): correct multiplicity calculation based on format
  src/components/DatePicker/helpers.ts
Owners: @gizeasy

test(DatePicker/helpers): getMultiplicityTime and getTimeEnum
  src/components/DatePicker/__tests__/DatePicker_helpers.test.tsx
Owners: @gizeasy

test(DatePickerFieldTypeTime/helpers): validate masks and multiplicity
  src/components/DatePicker/__tests__/DatePicker_field_type_time_helpers.test.tsx
Owners: @gizeasy

test(DatePickerFieldTypeDateTime/helpers): validate masks and multiplicity
  src/components/DatePicker/__tests__/DatePicker_field_type_dateTime_helpers.test.tsx
Owners: @gizeasy

test(DatePickerFieldTypeTime): basic rendering and refs
  src/components/DatePicker/__tests__/DatePicker_field_type_time.test.tsx
Owners: @gizeasy

test(DatePickerFieldTypeDateTime): basic rendering and refs
  src/components/DatePicker/__tests__/DatePicker_field_type_dateTime.test.tsx
Owners: @gizeasy
