Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @alyonurchick1, @linturaven

fix(withTooltip): fixed types(#3684)
  src/hocs/withTooltip/withTooltip.tsx
Owners: @gizeasy

release: 5.6.1
  package.json
Owners: @gizeasy

changelog: 5.6.1
  CHANGELOG.md
Owners: @alyonurchick1

update
  src/components/ContextMenu/__stand__/ContextMenu.use.stand.mdx
  src/components/ContextMenu/__stand__/images/hide.image.svg
  src/components/ContextMenu/__stand__/images/plug.image.png
Owners: @alyonurchick1, @gizeasy

update
  src/components/Tag/__stand__/Tag.use.stand.mdx
  src/components/Tag/__stand__/images/when_blog.image.png
  src/components/Tag/__stand__/images/when_tasks.image.png
Owners: @alyonurchick1, @gizeasy

docs(List): how-to-use
  src/components/ListCanary/__stand__/List.use.stand.mdx
  src/components/ListCanary/__stand__/images/color_example.image.png
Owners: @alyonurchick1, @gizeasy

update
  src/components/ListCanary/__stand__/List.use.stand.mdx
  src/components/ListCanary/__stand__/images/color_example.image.png
  src/components/ListCanary/__stand__/images/plug.image.png
Owners: @alyonurchick1, @gizeasy

docs(Chips: how-to-use
  src/components/Chips/__stand__/Chips.dev.stand.mdx
  src/components/Chips/__stand__/Chips.stand.tsx
  src/components/Chips/__stand__/Chips.use.stand.mdx
  src/components/Chips/__stand__/images/catalog.image.png
  src/components/Chips/__stand__/images/choice.image.png
  src/components/Chips/__stand__/images/start_example.image.png
  src/components/Chips/__stand__/images/status.image.png
Owners: @alyonurchick1, @gizeasy

docs(SnackBar): how-to-use
  src/components/SnackBar/__stand__/SnackBar.use.stand.mdx
  src/components/SnackBar/__stand__/images/start_example.image.png
  src/components/SnackBar/__stand__/images/system_message.image.png
  src/components/SnackBar/__stand__/images/system_response.image.png
Owners: @alyonurchick1, @gizeasy

Update SnackBar.use.stand.mdx
  src/components/SnackBar/__stand__/SnackBar.use.stand.mdx
Owners: @alyonurchick1

fix(chips): fix callback condition
  src/components/Chips/Chips.tsx
Owners: @gizeasy

test(chips): add test for fixed bug
  src/components/Chips/__tests__/Chips.test.tsx
Owners: @gizeasy

docs(Select): how-to-use
  src/components/Select/__stand__/Select.use.stand.mdx
  src/components/Select/__stand__/images/filter.image.png
  src/components/Select/__stand__/images/form.image.png
  src/components/Select/__stand__/images/server.image.png
  src/components/Select/__stand__/images/start_example.image.png
Owners: @alyonurchick1, @gizeasy

fix(auto-complete): hide dropdown on select
  src/components/AutoComplete/useAutoComplete.ts
Owners: @gizeasy

test(auto-complete): add test for AutoComplete dropdown
  src/components/AutoComplete/__tests__/AutoComplete.test.tsx
Owners: @gizeasy

fix((table-filter): apply visible checked filter
  src/components/Table/TextFilter/TableTextFilter.tsx
Owners: @gizeasy

test(table-filter): add test to edge cases
  src/components/Table/__tests__/Table.test.tsx
Owners: @gizeasy

fix(Chips): callback fix (#3709)
  src/components/Chips/Chips.tsx
  src/components/Chips/__tests__/Chips.test.tsx
Owners: @gizeasy

fix(TableTextFilter): Apply filter based on visible and checked elements (#3712)
  src/components/Table/TextFilter/TableTextFilter.tsx
  src/components/Table/__tests__/Table.test.tsx
Owners: @gizeasy

docs(Informer): fixed status examples
  src/components/Informer/Informer.css
  src/components/Informer/Informer.tsx
  src/components/Informer/__stand__/examples/InformerExampleType/InformerExampleType.tsx
Owners: @linturaven, @gizeasy

feat(Popover, Tooltip): add viewport
  src/components/Popover/Popover.tsx
  src/components/Popover/__stand__/Popover.dev.stand.mdx
  src/components/Popover/__stand__/examples/PopoverExample/PopoverExample.tsx
  src/components/Popover/__stand__/examples/PopoverViewportExample/PopoverViewportExample.css
  src/components/Popover/__stand__/examples/PopoverViewportExample/PopoverViewportExample.tsx
  src/components/Popover/helpers.ts
  src/components/Popover/usePopoverReposition.ts
  src/components/Tooltip/Tooltip.tsx
  src/components/Tooltip/__stand__/Tooltip.dev.stand.mdx
  src/components/Tooltip/__stand__/examples/TooltipViewportExample/TooltipViewportExample.css
  src/components/Tooltip/__stand__/examples/TooltipViewportExample/TooltipViewportExample.tsx
  src/components/Tooltip/types.ts
Owners: @gizeasy, @alyonurchick1, @linturaven

docs(BookmarkTabs): how-to-use
  src/components/BookmarkTabs/__stand__/BookmarkTabs.use.stand.mdx
  src/components/BookmarkTabs/__stand__/images/graphics.image.png
  src/components/BookmarkTabs/__stand__/images/mdi.image.png
  src/components/BookmarkTabs/__stand__/images/start_example.image.png
  src/components/BookmarkTabs/__stand__/images/table.image.png
Owners: @alyonurchick1, @gizeasy

docs(AutoComplete): how-to-use
  src/components/AutoComplete/__stand__/AutoComplete.use.stand.mdx
  src/components/AutoComplete/__stand__/images/data_input.image.png
  src/components/AutoComplete/__stand__/images/data_search.image.png
  src/components/AutoComplete/__stand__/images/start_example.image.png
Owners: @alyonurchick1, @gizeasy

docs(Informer): fixed status examples (#3714)
  src/components/Informer/Informer.css
  src/components/Informer/Informer.tsx
  src/components/Informer/__stand__/examples/InformerExampleType/InformerExampleType.tsx
Owners: @linturaven, @gizeasy

doc(Popover, Tooltip): review
  src/components/Popover/__stand__/Popover.dev.stand.mdx
  src/components/Tooltip/__stand__/Tooltip.dev.stand.mdx
Owners: @alyonurchick1

feat(Popover, Tooltip): add viewport (#3719)
  src/components/Popover/Popover.tsx
  src/components/Popover/__stand__/Popover.dev.stand.mdx
  src/components/Popover/__stand__/examples/PopoverExample/PopoverExample.tsx
  src/components/Popover/__stand__/examples/PopoverViewportExample/PopoverViewportExample.css
  src/components/Popover/__stand__/examples/PopoverViewportExample/PopoverViewportExample.tsx
  src/components/Popover/helpers.ts
  src/components/Popover/usePopoverReposition.ts
  src/components/Tooltip/Tooltip.tsx
  src/components/Tooltip/__stand__/Tooltip.dev.stand.mdx
  src/components/Tooltip/__stand__/examples/TooltipViewportExample/TooltipViewportExample.css
  src/components/Tooltip/__stand__/examples/TooltipViewportExample/TooltipViewportExample.tsx
  src/components/Tooltip/types.ts
Owners: @gizeasy, @alyonurchick1, @linturaven

delete figma and git
  src/components/BookmarkTabs/__stand__/BookmarkTabs.dev.stand.mdx
  src/components/Table/__stand__/Table.dev.stand.mdx
  src/components/Table/__stand__/Table.use.stand.mdx
  src/components/TextField/__stand__/TextField.dev.stand.mdx
  src/components/Theme/__stand__/Theme.dev.stand.mdx
  src/components/UserSelect/__stand__/UserSelect.dev.stand.mdx
  src/components/UserSelectDeprecated/__stand__/UserSelect.dev.stand.mdx
  src/docs/start/start.stand.mdx
  src/hooks/useChoiceGroup/__stand__/useChoiceGroup.stand.mdx
  src/hooks/useChoiceGroupIndexed/__stand__/useChoiceGroupIndexed.stand.mdx
  src/hooks/useClickOutside/__stand__/useClickOutside.stand.mdx
  src/hooks/useGlobalKeys/__stand__/useGlobalKeys.stand.mdx
  src/hooks/useHideElementsInLine/__stand__/useHideElementsInLine.stand.mdx
  src/hooks/useHideElementsInLineDepricated/__stand__/useHideElementsInLine.stand.mdx
  src/hooks/useThemeVars/__stand__/useThemeVars.stand.mdx
Owners: @alyonurchick1

Update AutoComplete.use.stand.mdx
  src/components/AutoComplete/__stand__/AutoComplete.use.stand.mdx
Owners: @alyonurchick1

update images
  src/components/SnackBar/__stand__/SnackBar.use.stand.mdx
  src/components/SnackBar/__stand__/images/start_example.image.png
  src/components/SnackBar/__stand__/images/system_message.image.png
  src/components/SnackBar/__stand__/images/system_message1.image.png
  src/components/SnackBar/__stand__/images/system_message2.image.png
  src/components/SnackBar/__stand__/images/system_response.image.png
  src/components/SnackBar/__stand__/images/system_response1.image.png
  src/components/SnackBar/__stand__/images/system_response2.image.png
Owners: @alyonurchick1, @gizeasy

update
  src/components/Chips/__stand__/Chips.use.stand.mdx
  src/components/Chips/__stand__/images/catalog.image.png
  src/components/Chips/__stand__/images/choice.image.png
  src/components/Chips/__stand__/images/music.image.png
  src/components/Chips/__stand__/images/start_example.image.png
  src/components/Chips/__stand__/images/status.image.png
Owners: @alyonurchick1, @gizeasy

Update Chips.use.stand.mdx
  src/components/Chips/__stand__/Chips.use.stand.mdx
Owners: @alyonurchick1

Update BookmarkTabs.use.stand.mdx
  src/components/BookmarkTabs/__stand__/BookmarkTabs.use.stand.mdx
Owners: @alyonurchick1

Update Select.use.stand.mdx
  src/components/Select/__stand__/Select.use.stand.mdx
Owners: @alyonurchick1

release: 5.7.0
  package.json
Owners: @gizeasy

changelog: 5.7.0
  CHANGELOG.md
Owners: @alyonurchick1

update
  src/components/ContextMenu/__stand__/ContextMenu.use.stand.mdx
  src/components/ContextMenu/__stand__/images/graphics.image.png
  src/components/ContextMenu/__stand__/images/mail.image.png
  src/components/ContextMenu/__stand__/images/profile.image.png
  src/components/ContextMenu/__stand__/images/start_example.image.png
  src/components/ContextMenu/__stand__/images/table.image.png
  src/components/ContextMenu/__stand__/images/table_click.image.png
  src/components/ContextMenu/__stand__/images/text.image.png
  src/components/ContextMenu/__stand__/images/view.image.png
Owners: @alyonurchick1, @gizeasy

update
  src/components/ListCanary/__stand__/List.use.stand.mdx
  src/components/ListCanary/__stand__/images/contact.image.png
  src/components/ListCanary/__stand__/images/just_list.image.png
  src/components/ListCanary/__stand__/images/order.image.png
  src/components/ListCanary/__stand__/images/start_example.image.png
Owners: @alyonurchick1, @gizeasy

Update List.use.stand.mdx
  src/components/ListCanary/__stand__/List.use.stand.mdx
Owners: @alyonurchick1

update
  src/components/Tag/__stand__/Tag.use.stand.mdx
  src/components/Tag/__stand__/images/blog.image.png
  src/components/Tag/__stand__/images/book.image.png
  src/components/Tag/__stand__/images/chips.image.png
  src/components/Tag/__stand__/images/film.image.png
  src/components/Tag/__stand__/images/group.image.svg
  src/components/Tag/__stand__/images/pc.image.png
  src/components/Tag/__stand__/images/start_example.image.png
  src/components/Tag/__stand__/images/tasks.image.png
  src/components/Tag/__stand__/images/when_blog.image.png
  src/components/Tag/__stand__/images/when_tasks.image.png
Owners: @alyonurchick1, @gizeasy

update
  src/components/Combobox/__stand__/Combobox.use.stand.mdx
  src/components/Combobox/__stand__/images/plug.image.png
Owners: @alyonurchick1, @gizeasy

.github/CODEOWNERS:

* @gizeasy
*.md @alyonurchick1
*.mdx @alyonurchick1
*.css @linturaven
