Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @alyonurchick1, @linturaven

docs (CollapseGroup): implementation of editorial policy
  src/components/CollapseGroup/__stand__/CollapseGroup.dev.stand.mdx
Owners: @alyonurchick1

docs (Combobox): implementation of editorial policy
  src/components/Combobox/__stand__/Combobox.dev.stand.mdx
Owners: @alyonurchick1

docs (ContextMenu): implementation of editorial policy
  src/components/ContextMenu/__stand__/ContextMenu.dev.stand.mdx
  src/stand/standConfig.ts
Owners: @alyonurchick1, @gizeasy

docs (DatePicker): implementation of editorial policy
  src/components/DatePicker/__stand__/DatePicker.dev.stand.mdx
Owners: @alyonurchick1

docs (DateTime): implementation of editorial policy
  src/components/DateTime/__stand__/DateTime.dev.stand.mdx
Owners: @alyonurchick1

docs (DragNDropField): implementation of editorial policy
  src/components/DragNDropField/__stand__/DragNDropField.dev.stand.mdx
Owners: @alyonurchick1

docs (DragNDropFieldCanary): implementation of editorial policy
  src/components/DragNDropFieldCanary/__stand__/DragNDropField.dev.stand.mdx
Owners: @alyonurchick1

docs (FieldGroup): implementation of editorial policy
  src/components/FieldGroup/__stand__/FieldGroup.dev.stand.mdx
Owners: @alyonurchick1

Update cspell.json
  cspell.json
Owners: @gizeasy

Update cspell.json
  cspell.json
Owners: @gizeasy

docs (File): implementation of editorial policy
  src/components/File/__stand__/File.dev.stand.mdx
Owners: @alyonurchick1

docs (FileField): implementation of editorial policy
  src/components/FileField/__stand__/FileField.dev.stand.mdx
Owners: @alyonurchick1

docs (Grid): implementation of editorial policy
  src/components/Grid/__stand__/Grid.dev.stand.mdx
Owners: @alyonurchick1

fix(ContextMenu): fixed outside clicks
  src/components/ContextMenu/ContextMenuLevels/ContextMenuLevels.tsx
  src/utils/setRef.ts
Owners: @gizeasy

fix(ContextMenu): fixed outside clicks (#4006)
  src/components/ContextMenu/ContextMenuLevels/ContextMenuLevels.tsx
  src/utils/setRef.ts
Owners: @gizeasy

fix(DatePicker): fixed caption space (#3988)
  src/components/DatePicker/DatePickerMixRangeField/DatePickerMixRangeField.css
Owners: @linturaven

Update CheckboxExampleAlign.tsx
  src/components/Checkbox/__stand__/examples/CheckboxExampleAlign/CheckboxExampleAlign.tsx
Owners: @gizeasy

ddd
  src/components/CheckboxGroup/CheckboxGroup.css
  src/components/CheckboxGroup/__stand__/CheckboxGroup.dev.stand.mdx
  src/components/CheckboxGroup/__stand__/examples/CheckboxGroupExampleAlign/CheckboxGroupExampleAlign.tsx
  src/components/CheckboxGroup/__stand__/examples/CheckboxGroupExampleDirection/CheckboxGroupExampleDirection.tsx
  src/components/CheckboxGroup/__stand__/examples/CheckboxGroupExampleSize/CheckboxGroupExampleSize.tsx
  src/components/CheckboxGroup/__stand__/examples/CheckboxGroupExampleView/CheckboxGroupExampleView.tsx
Owners: @linturaven, @alyonurchick1, @gizeasy

docs (Checkbox): implementation of editorial policy (#3990)
  src/components/Checkbox/__stand__/Checkbox.dev.stand.mdx
  src/components/Checkbox/__stand__/examples/CheckboxExampleAlign/CheckboxExampleAlign.tsx
Owners: @alyonurchick1, @gizeasy

docs (CheckboxGroup): implementation of editorial policy (#3991)
  src/components/CheckboxGroup/CheckboxGroup.css
  src/components/CheckboxGroup/__stand__/CheckboxGroup.dev.stand.mdx
  src/components/CheckboxGroup/__stand__/examples/CheckboxGroupExampleAlign/CheckboxGroupExampleAlign.tsx
  src/components/CheckboxGroup/__stand__/examples/CheckboxGroupExampleDirection/CheckboxGroupExampleDirection.tsx
  src/components/CheckboxGroup/__stand__/examples/CheckboxGroupExampleSize/CheckboxGroupExampleSize.tsx
  src/components/CheckboxGroup/__stand__/examples/CheckboxGroupExampleView/CheckboxGroupExampleView.tsx
Owners: @linturaven, @alyonurchick1, @gizeasy

fix
  src/components/ChoiceGroup/__stand__/ChoiceGroup.dev.stand.mdx
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleAdaptive/ChoiceGroupExampleAdaptive.tsx
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleForm/ChoiceGroupExampleForm.tsx
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleIcon/ChoiceGroupExampleIcon.tsx
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleSize/ChoiceGroupExampleSize.tsx
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleView/ChoiceGroupExampleView.tsx
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleWidth/ChoiceGroupExampleWidth.tsx
Owners: @alyonurchick1, @gizeasy

docs (ChoiceGroup): implementation of editorial policy (#3992)
  src/components/ChoiceGroup/__stand__/ChoiceGroup.dev.stand.mdx
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleAdaptive/ChoiceGroupExampleAdaptive.tsx
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleForm/ChoiceGroupExampleForm.tsx
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleIcon/ChoiceGroupExampleIcon.tsx
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleSize/ChoiceGroupExampleSize.tsx
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleView/ChoiceGroupExampleView.tsx
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleWidth/ChoiceGroupExampleWidth.tsx
Owners: @alyonurchick1, @gizeasy

docs (Collapse): implementation of editorial policy (#3993)
  src/components/Collapse/__stand__/Collapse.dev.stand.mdx
Owners: @alyonurchick1

docs (CollapseGroup): implementation of editorial policy (#3996)
  src/components/CollapseGroup/__stand__/CollapseGroup.dev.stand.mdx
Owners: @alyonurchick1

docs (Combobox): implementation of editorial policy (#3997)
  cspell.json
  src/components/Combobox/__stand__/Combobox.dev.stand.mdx
Owners: @gizeasy, @alyonurchick1

docs (DatePicker): implementation of editorial policy (#3999)
  src/components/DatePicker/__stand__/DatePicker.dev.stand.mdx
Owners: @alyonurchick1

docs (ContextMenu): implementation of editorial policy (#3998)
  src/components/ContextMenu/__stand__/ContextMenu.dev.stand.mdx
  src/stand/standConfig.ts
Owners: @alyonurchick1, @gizeasy

docs (DateTime): implementation of editorial policy (#4000)
  src/components/DateTime/__stand__/DateTime.dev.stand.mdx
Owners: @alyonurchick1

docs (DragNDropField): implementation of editorial policy (#4001)
  src/components/DragNDropField/__stand__/DragNDropField.dev.stand.mdx
Owners: @alyonurchick1

docs (DragNDropFieldCanary): implementation of editorial policy (#4002)
  cspell.json
  src/components/DragNDropFieldCanary/__stand__/DragNDropField.dev.stand.mdx
Owners: @gizeasy, @alyonurchick1

docs (FieldGroup): implementation of editorial policy (#4003)
  src/components/FieldGroup/__stand__/FieldGroup.dev.stand.mdx
Owners: @alyonurchick1

docs (File): implementation of editorial policy (#4004)
  src/components/File/__stand__/File.dev.stand.mdx
Owners: @alyonurchick1

docs (FileField): implementation of editorial policy (#4005)
  src/components/FileField/__stand__/FileField.dev.stand.mdx
  src/components/Grid/__stand__/Grid.dev.stand.mdx
Owners: @alyonurchick1

release: 5.24.1
  package.json
Owners: @gizeasy

changelog: 5.24.1
  CHANGELOG.md
Owners: @alyonurchick1

fix(DatePicker): fixes DatePicker disableDates on the right side
  src/components/DatePicker/__stand__/DatePicker.variants.tsx
  src/components/DatePicker/__tests__/DatePicker_type_dateRange.test.tsx
  src/components/DatePicker/__tests__/DatePicker_type_dateTime.test.tsx
  src/components/DatePicker/__tests__/helpers.ts
  src/components/DateTime/DateTimeTypeDate/DateTimeTypeDate.tsx
Owners: @gizeasy

fix(DatePicker): fixes disableDates for type='date'
  src/components/DatePicker/DatePickerTypeDate/DatePickerTypeDate.tsx
  src/components/DatePicker/__tests__/DatePicker_type_date.test.tsx
Owners: @gizeasy

docs (Informer): implementation of editorial policy
  src/components/Informer/__stand__/Informer.dev.stand.mdx
Owners: @alyonurchick1

docs (Layout): implementation of editorial policy
  src/components/Layout/__stand__/Layout.dev.stand.mdx
Owners: @alyonurchick1

docs (List): implementation of editorial policy
  src/components/ListCanary/__stand__/List.dev.stand.mdx
Owners: @alyonurchick1

.github/CODEOWNERS:

* @gizeasy
*.md @alyonurchick1
*.mdx @alyonurchick1
*.css @linturaven
