Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @alyonurchick1, @linturaven

.github/CODEOWNERS:

* @gizeasy
*.md @alyonurchick1
*.mdx @alyonurchick1
*.css @linturaven

Update Chips.use.stand.mdx
  src/components/Chips/__stand__/Chips.use.stand.mdx
Owners: @alyonurchick1

Update BookmarkTabs.use.stand.mdx
  src/components/BookmarkTabs/__stand__/BookmarkTabs.use.stand.mdx
Owners: @alyonurchick1

Update Combobox.use.stand.mdx
  src/components/Combobox/__stand__/Combobox.use.stand.mdx
Owners: @alyonurchick1

Update Tag.use.stand.mdx
  src/components/Tag/__stand__/Tag.use.stand.mdx
Owners: @alyonurchick1

docs(UserSelect): adit example for create
  src/components/SelectComponents/useSelect/useSelect.ts
  src/components/UserSelect/__stand__/UserSelect.dev.stand.mdx
  src/components/UserSelect/__stand__/examples/UserSelectExampleMailInput/UserSelectExampleMailInput.tsx
  src/components/UserSelect/helpers.ts
Owners: @gizeasy, @alyonurchick1

docs(Combobox): add example: opening by focus
  src/components/Combobox/__stand__/Combobox.dev.stand.mdx
  src/components/Combobox/__stand__/examples/ComboboxExampleOpenByFocus/ComboboxExampleOpenByFocus.tsx
Owners: @alyonurchick1, @gizeasy

refactor(DatePicker): add dropdownRef props (#3393)
  src/components/DatePicker/DatePickerTypeDate/DatePickerTypeDate.tsx
  src/components/DatePicker/DatePickerTypeDateRange/DatePickerTypeDateRange.tsx
  src/components/DatePicker/DatePickerTypeDateTime/DatePickerTypeDateTime.tsx
  src/components/DatePicker/DatePickerTypeDateTimeRange/DatePickerTypeDateTimeRange.tsx
  src/components/DatePicker/DatePickerTypeMonth/DatePickerTypeMonth.tsx
  src/components/DatePicker/DatePickerTypeMonthRange/DatePickerTypeMonthRange.tsx
  src/components/DatePicker/DatePickerTypeTime/DatePickerTypeTime.tsx
  src/components/DatePicker/DatePickerTypeYear/DatePickerTypeYear.tsx
  src/components/DatePicker/DatePickerTypeYearRange/DatePickerTypeYearRange.tsx
  src/components/DatePicker/types.ts
Owners: @gizeasy

fix(AutoComplite): removed dependence on value
  src/components/AutoComplete/useAutoComplete.ts
Owners: @gizeasy

feat(DatePicker): add dropdownRef props (#3732)
  src/components/DatePicker/DatePickerTypeDate/DatePickerTypeDate.tsx
  src/components/DatePicker/DatePickerTypeDateRange/DatePickerTypeDateRange.tsx
  src/components/DatePicker/DatePickerTypeDateTime/DatePickerTypeDateTime.tsx
  src/components/DatePicker/DatePickerTypeDateTimeRange/DatePickerTypeDateTimeRange.tsx
  src/components/DatePicker/DatePickerTypeMonth/DatePickerTypeMonth.tsx
  src/components/DatePicker/DatePickerTypeMonthRange/DatePickerTypeMonthRange.tsx
  src/components/DatePicker/DatePickerTypeTime/DatePickerTypeTime.tsx
  src/components/DatePicker/DatePickerTypeYear/DatePickerTypeYear.tsx
  src/components/DatePicker/DatePickerTypeYearRange/DatePickerTypeYearRange.tsx
  src/components/DatePicker/types.ts
Owners: @gizeasy

fix(AutoComplite): removed dependence on value (#3735)
  src/components/AutoComplete/useAutoComplete.ts
Owners: @gizeasy

release: 5.8.0
  package.json
Owners: @gizeasy

changelog: 5.8.0
  CHANGELOG.md
Owners: @alyonurchick1

fix(DatePicker): fixed nulling of value
  src/components/DatePicker/helpers.ts
Owners: @gizeasy

fix(DatePicker): fixed nulling of value (#3736)
  src/components/DatePicker/helpers.ts
Owners: @gizeasy

release: 5.8.1
  package.json
Owners: @gizeasy

changelog: 5.8.1
  CHANGELOG.md
Owners: @alyonurchick1

fix(tabs): fix add tab from last selected
  src/components/Tabs/TabsFitModeDropdownWrapper/useFittingItems.ts
Owners: @gizeasy

fix(DatePicker): sync stringValue
  src/components/DatePicker/helpers.ts
Owners: @gizeasy

fix(DatePicker): sync stringValue (#3738)
  src/components/DatePicker/helpers.ts
Owners: @gizeasy

fix(withTooltip): typo
  src/hocs/withTooltip/withTooltip.tsx
Owners: @gizeasy

ddd
  src/components/Field/FieldControlLayout/helpers.ts
  src/components/Field/__mocks__/variants.ts
  src/components/Field/index.ts
  src/components/Field/renderSide.tsx
  src/components/Field/types.ts
  src/components/TextFieldCanary/TextFieldTypeText/TextFieldTypeText.tsx
  src/components/TextFieldCanary/TextFieldTypeText/index.ts
  src/components/TextFieldCanary/__mocks__/variants.ts
  src/components/TextFieldCanary/__stand__/TextField.dev.stand.mdx
  src/components/TextFieldCanary/__stand__/TextField.stand.mdx
  src/components/TextFieldCanary/__stand__/TextField.variants.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleCaption/TextFieldExampleCaption.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleForm/TextFieldExampleForm.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleIncrementButtons/TextFieldExampleIncrementButtons.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleLabel/TextFieldExampleLabel.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleMask/TextFieldExampleMask.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleRequired/TextFieldExampleRequired.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleSize/TextFieldExampleSize.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleStatus/TextFieldExampleStatus.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleStepArray/TextFieldExampleStepArray.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleText/TextFieldExampleText.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleType/TextFieldExampleType.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleView/TextFieldExampleView.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleWithClearButton/TextFieldExampleWithClearButton.tsx
  src/components/TextFieldCanary/types.ts
Owners: @gizeasy, @alyonurchick1

change images
  src/components/ContextMenu/__stand__/ContextMenu.use.stand.mdx
  src/components/ContextMenu/__stand__/images/ContextMenu_example_01.jpg
  src/components/ContextMenu/__stand__/images/ContextMenu_example_02.jpg
  src/components/ContextMenu/__stand__/images/ContextMenu_example_03.jpg
  src/components/ContextMenu/__stand__/images/ContextMenu_example_04.jpg
  src/components/ContextMenu/__stand__/images/ContextMenu_example_05.jpg
  src/components/ContextMenu/__stand__/images/ContextMenu_example_06.jpg
  src/components/ContextMenu/__stand__/images/ContextMenu_example_07.jpg
  src/components/ContextMenu/__stand__/images/ContextMenu_example_08.jpg
  src/components/ContextMenu/__stand__/images/graphics.image.png
  src/components/ContextMenu/__stand__/images/mail.image.png
  src/components/ContextMenu/__stand__/images/plug.image.png
  src/components/ContextMenu/__stand__/images/profile.image.png
  src/components/ContextMenu/__stand__/images/start_example.image.png
  src/components/ContextMenu/__stand__/images/table.image.png
  src/components/ContextMenu/__stand__/images/table_click.image.png
  src/components/ContextMenu/__stand__/images/text.image.png
  src/components/ContextMenu/__stand__/images/view.image.png
Owners: @alyonurchick1, @gizeasy

change images
  src/components/ContextMenu/__stand__/ContextMenu.use.stand.mdx
  src/components/ContextMenu/__stand__/images/ContextMenu_example_09.jpg
  src/components/ContextMenu/__stand__/images/ContextMenu_example_10.jpg
  src/components/ContextMenu/__stand__/images/ContextMenu_example_11.jpg
  src/components/ContextMenu/__stand__/images/Frame3.image.svg
  src/components/ContextMenu/__stand__/images/Group8.image.svg
  src/components/ContextMenu/__stand__/images/group.image.svg
  src/components/ContextMenu/__stand__/images/icons.image.svg
  src/components/ContextMenu/__stand__/images/submenu.image.svg
Owners: @alyonurchick1, @gizeasy

change images
  src/components/Tag/__stand__/Tag.use.stand.mdx
  src/components/Tag/__stand__/images/Tag_example_01.jpg
  src/components/Tag/__stand__/images/Tag_example_02.jpg
  src/components/Tag/__stand__/images/Tag_example_03.jpg
  src/components/Tag/__stand__/images/Tag_example_04.jpg
  src/components/Tag/__stand__/images/blog.image.png
  src/components/Tag/__stand__/images/pc.image.png
  src/components/Tag/__stand__/images/start_example.image.png
  src/components/Tag/__stand__/images/tasks.image.png
Owners: @alyonurchick1, @gizeasy

changes images
  src/components/ListCanary/__stand__/List.use.stand.mdx
  src/components/ListCanary/__stand__/images/List_example_01.jpg
  src/components/ListCanary/__stand__/images/List_example_02.jpg
  src/components/ListCanary/__stand__/images/List_example_03.jpg
  src/components/ListCanary/__stand__/images/List_example_04.jpg
  src/components/ListCanary/__stand__/images/contact.image.png
  src/components/ListCanary/__stand__/images/just_list.image.png
  src/components/ListCanary/__stand__/images/order.image.png
  src/components/ListCanary/__stand__/images/plug.image.png
  src/components/ListCanary/__stand__/images/start_example.image.png
Owners: @alyonurchick1, @gizeasy

change images
  src/components/Chips/__stand__/Chips.use.stand.mdx
  src/components/Chips/__stand__/images/ChipsItem_example_01.jpg
  src/components/Chips/__stand__/images/ChipsItem_example_02.jpg
  src/components/Chips/__stand__/images/ChipsItem_example_03.jpg
  src/components/Chips/__stand__/images/ChipsItem_example_04.jpg
  src/components/Chips/__stand__/images/ChipsItem_example_05.jpg
  src/components/Chips/__stand__/images/catalog.image.png
  src/components/Chips/__stand__/images/choice.image.png
  src/components/Chips/__stand__/images/music.image.png
  src/components/Chips/__stand__/images/start_example.image.png
  src/components/Chips/__stand__/images/status.image.png
Owners: @alyonurchick1, @gizeasy

change images
  src/components/SnackBar/__stand__/SnackBar.use.stand.mdx
  src/components/SnackBar/__stand__/images/Snackbar_example_01.jpg
  src/components/SnackBar/__stand__/images/Snackbar_example_02.jpg
  src/components/SnackBar/__stand__/images/Snackbar_example_03.jpg
  src/components/SnackBar/__stand__/images/Snackbar_example_04.jpg
  src/components/SnackBar/__stand__/images/Snackbar_example_05.jpg
  src/components/SnackBar/__stand__/images/start_example.image.png
  src/components/SnackBar/__stand__/images/system_message1.image.png
  src/components/SnackBar/__stand__/images/system_message2.image.png
  src/components/SnackBar/__stand__/images/system_response1.image.png
  src/components/SnackBar/__stand__/images/system_response2.image.png
Owners: @alyonurchick1, @gizeasy

changes images
  src/components/Select/__stand__/Select.use.stand.mdx
  src/components/Select/__stand__/images/Select_example_01.jpg
  src/components/Select/__stand__/images/Select_example_02.jpg
  src/components/Select/__stand__/images/Select_example_03.jpg
  src/components/Select/__stand__/images/Select_example_04.jpg
  src/components/Select/__stand__/images/filter.image.png
  src/components/Select/__stand__/images/form.image.png
  src/components/Select/__stand__/images/server.image.png
  src/components/Select/__stand__/images/start_example.image.png
Owners: @alyonurchick1, @gizeasy

change images
  src/components/BookmarkTabs/__stand__/BookmarkTabs.use.stand.mdx
  src/components/BookmarkTabs/__stand__/images/BookmarkTabs_example_01.jpg
  src/components/BookmarkTabs/__stand__/images/BookmarkTabs_example_02.jpg
  src/components/BookmarkTabs/__stand__/images/BookmarkTabs_example_03.jpg
  src/components/BookmarkTabs/__stand__/images/BookmarkTabs_example_04.jpg
  src/components/BookmarkTabs/__stand__/images/BookmarkTabs_example_05.jpg
  src/components/BookmarkTabs/__stand__/images/graphics.image.png
  src/components/BookmarkTabs/__stand__/images/mdi.image.png
  src/components/BookmarkTabs/__stand__/images/start_example.image.png
  src/components/BookmarkTabs/__stand__/images/table.image.png
Owners: @alyonurchick1, @gizeasy

changes images
  src/components/AutoComplete/__stand__/AutoComplete.use.stand.mdx
  src/components/AutoComplete/__stand__/images/Autocomplete_example_01.jpg
  src/components/AutoComplete/__stand__/images/Autocomplete_example_02.jpg
  src/components/AutoComplete/__stand__/images/Autocomplete_example_03.jpg
Owners: @alyonurchick1, @gizeasy

docs(ContextMenu): how-to-use (#3665)
  src/components/ContextMenu/__stand__/ContextMenu.use.stand.mdx
  src/components/ContextMenu/__stand__/images/ContextMenu_example_01.jpg
  src/components/ContextMenu/__stand__/images/ContextMenu_example_02.jpg
  src/components/ContextMenu/__stand__/images/ContextMenu_example_03.jpg
  src/components/ContextMenu/__stand__/images/ContextMenu_example_04.jpg
  src/components/ContextMenu/__stand__/images/ContextMenu_example_05.jpg
  src/components/ContextMenu/__stand__/images/ContextMenu_example_06.jpg
  src/components/ContextMenu/__stand__/images/ContextMenu_example_07.jpg
  src/components/ContextMenu/__stand__/images/ContextMenu_example_08.jpg
  src/components/ContextMenu/__stand__/images/ContextMenu_example_09.jpg
  src/components/ContextMenu/__stand__/images/ContextMenu_example_10.jpg
  src/components/ContextMenu/__stand__/images/ContextMenu_example_11.jpg
Owners: @alyonurchick1, @gizeasy

docs(Tag): how-to-use (#3674)
  src/components/Tag/__stand__/Tag.dev.stand.mdx
  src/components/Tag/__stand__/Tag.use.stand.mdx
  src/components/Tag/__stand__/images/Tag_example_01.jpg
  src/components/Tag/__stand__/images/Tag_example_02.jpg
  src/components/Tag/__stand__/images/Tag_example_03.jpg
  src/components/Tag/__stand__/images/Tag_example_04.jpg
Owners: @alyonurchick1, @gizeasy

docs(List): how-to-use (#3695)
  src/components/ListCanary/__stand__/List.use.stand.mdx
  src/components/ListCanary/__stand__/images/List_example_01.jpg
  src/components/ListCanary/__stand__/images/List_example_02.jpg
  src/components/ListCanary/__stand__/images/List_example_03.jpg
  src/components/ListCanary/__stand__/images/List_example_04.jpg
Owners: @alyonurchick1, @gizeasy

docs(Chips): how-to-use (#3701)
  src/components/Chips/__stand__/Chips.dev.stand.mdx
  src/components/Chips/__stand__/Chips.stand.tsx
  src/components/Chips/__stand__/Chips.use.stand.mdx
  src/components/Chips/__stand__/images/ChipsItem_example_01.jpg
  src/components/Chips/__stand__/images/ChipsItem_example_02.jpg
  src/components/Chips/__stand__/images/ChipsItem_example_03.jpg
  src/components/Chips/__stand__/images/ChipsItem_example_04.jpg
  src/components/Chips/__stand__/images/ChipsItem_example_05.jpg
Owners: @alyonurchick1, @gizeasy

docs(SnackBar): how-to-use (#3705)
  src/components/SnackBar/__stand__/SnackBar.use.stand.mdx
  src/components/SnackBar/__stand__/images/Snackbar_example_01.jpg
  src/components/SnackBar/__stand__/images/Snackbar_example_02.jpg
  src/components/SnackBar/__stand__/images/Snackbar_example_03.jpg
  src/components/SnackBar/__stand__/images/Snackbar_example_04.jpg
  src/components/SnackBar/__stand__/images/Snackbar_example_05.jpg
Owners: @alyonurchick1, @gizeasy

docs(BookmarkTabs): how-to-use (#3720)
  src/components/BookmarkTabs/__stand__/BookmarkTabs.use.stand.mdx
  src/components/BookmarkTabs/__stand__/images/BookmarkTabs_example_01.jpg
  src/components/BookmarkTabs/__stand__/images/BookmarkTabs_example_02.jpg
  src/components/BookmarkTabs/__stand__/images/BookmarkTabs_example_03.jpg
  src/components/BookmarkTabs/__stand__/images/BookmarkTabs_example_04.jpg
  src/components/BookmarkTabs/__stand__/images/BookmarkTabs_example_05.jpg
Owners: @alyonurchick1, @gizeasy

add images
  src/components/Combobox/__stand__/Combobox.use.stand.mdx
  src/components/Combobox/__stand__/images/Combobox_example_01.jpg
  src/components/Combobox/__stand__/images/Combobox_example_02.jpg
  src/components/Combobox/__stand__/images/Combobox_example_03.jpg
  src/components/Combobox/__stand__/images/Combobox_example_04.jpg
Owners: @alyonurchick1, @gizeasy

edit docs
  src/components/UserSelect/__stand__/UserSelect.dev.stand.mdx
  src/components/UserSelect/__stand__/examples/UserSelectExampleMailInput/UserSelectExampleMailInput.tsx
Owners: @alyonurchick1, @gizeasy

edit docs
  src/components/Combobox/__stand__/Combobox.dev.stand.mdx
  src/components/Combobox/__stand__/examples/ComboboxExampleOpenByFocus/ComboboxExampleOpenByFocus.tsx
Owners: @alyonurchick1, @gizeasy

docs(Combobox): how-to-use (#3725)
  src/components/Combobox/__stand__/Combobox.use.stand.mdx
  src/components/Combobox/__stand__/images/Combobox_example_01.jpg
  src/components/Combobox/__stand__/images/Combobox_example_02.jpg
  src/components/Combobox/__stand__/images/Combobox_example_03.jpg
  src/components/Combobox/__stand__/images/Combobox_example_04.jpg
  src/components/Combobox/__stand__/images/plug.image.png
Owners: @alyonurchick1, @gizeasy
