Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @N1MBER, @BagenovA, @linturaven

feat(Responses): added images reexports
  src/components/Responses/Responses.tsx
  src/components/Responses/createResponses.tsx
  src/components/Responses403/Responses403.tsx
  src/components/Responses403/index.ts
  src/components/Responses404/Responses404.tsx
  src/components/Responses404/index.ts
  src/components/Responses500/Responses500.tsx
  src/components/Responses500/index.ts
  src/components/Responses503/Responses503.tsx
  src/components/Responses503/index.ts
  src/components/ResponsesConnectionError/ResponsesConnectionError.tsx
  src/components/ResponsesConnectionError/index.ts
  src/components/ResponsesDeleted/ResponsesDeleted.tsx
  src/components/ResponsesDeleted/index.ts
  src/components/ResponsesEmptyBox/ResponsesEmptyBox.tsx
  src/components/ResponsesEmptyBox/index.ts
  src/components/ResponsesEmptyPockets/ResponsesEmptyPockets.tsx
  src/components/ResponsesEmptyPockets/index.ts
  src/components/ResponsesExit/ResponsesExit.tsx
  src/components/ResponsesNothingFound/ResponsesNothingFound.tsx
  src/components/ResponsesNothingFound/index.ts
  src/components/ResponsesSuccess/ResponsesSuccess.tsx
  src/components/ResponsesSuccess/index.ts
Owners: @gizeasy, @N1MBER

feat(withTooltip): add animate and refactor HOC
  src/hocs/withTooltip/withTooltip.tsx
  src/hooks/useDebounce/useDebounce.ts
  src/hooks/useMutableRef/useMutableRef.ts
Owners: @gizeasy, @N1MBER

Update withTooltip.test.tsx
  src/hocs/withTooltip/__tests__/withTooltip.test.tsx
Owners: @gizeasy, @N1MBER

feat(MixFlex): add new mixin (#3294)
  src/mixs/MixFlex/MixFlex.css
  src/mixs/MixFlex/MixFlex.ts
  src/mixs/MixFlex/__stand__/MixFlex.stand.mdx
  src/mixs/MixFlex/__stand__/MixFlex.stand.tsx
  src/mixs/MixFlex/__stand__/examples/MixFlexExample/MixFlexExample.css
  src/mixs/MixFlex/__stand__/examples/MixFlexExample/MixFlexExample.tsx
  src/mixs/MixFlex/index.ts
Owners: @linturaven, @gizeasy, @N1MBER, @BagenovA

fix(TextField): remove width prop (#3298)
  src/components/AutoCompleteCanary/AutoCompleteCanary.tsx
  src/components/AutoCompleteCanary/__stand__/AutoComplete.dev.stand.mdx
  src/components/DatePicker/DatePickerFieldTypeDate/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeDateRange/DatePickerFieldTypeDateRange.tsx
  src/components/DatePicker/DatePickerFieldTypeDateTime/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeDateTimeRange/DatePickerFieldTypeDateTimeRange.tsx
  src/components/DatePicker/DatePickerFieldTypeMonth/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeMonthRange/DatePickerFieldTypeMonthRange.tsx
  src/components/DatePicker/DatePickerFieldTypeTime/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeYear/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeYearRange/DatePickerFieldTypeYearRange.tsx
  src/components/DatePicker/__stand__/DatePicker.variants.tsx
  src/components/DatePicker/types.ts
  src/components/EventInterceptor/propsHandlers/useTextFieldEventsHandler.tsx
  src/components/Header/SearchBar/HeaderSearchBar.tsx
  src/components/Table/TextFilter/TableTextFilter.tsx
  src/components/TextField/TextField.css
  src/components/TextField/TextField.tsx
  src/components/TextField/__stand__/TextField.dev.stand.mdx
  src/components/TextField/__stand__/TextField.variants.tsx
  src/components/TextField/__stand__/examples/TextFieldExampleSize/TextFieldExampleSize.tsx
  src/components/TextField/__tests__/TextField.test.tsx
  src/components/TextField/types.ts
Owners: @gizeasy, @N1MBER, @BagenovA, @linturaven

feat(Picture): added a new canary component
  src/components/PictureCanary/PictureCanary.tsx
  src/components/PictureCanary/__mocks__/images/Dark/HeroImage_375_1x.jpg
  src/components/PictureCanary/__mocks__/images/Dark/HeroImage_375_2x.jpg
  src/components/PictureCanary/__mocks__/images/Dark/HeroImage_375_3x.jpg
  src/components/PictureCanary/__mocks__/images/Dark/HeroImage_720_1x.jpg
  src/components/PictureCanary/__mocks__/images/Dark/HeroImage_720_2x.jpg
  src/components/PictureCanary/__mocks__/images/Dark/HeroImage_720_3x.jpg
  src/components/PictureCanary/__mocks__/images/Default/HeroImage_375_1x.jpg
  src/components/PictureCanary/__mocks__/images/Default/HeroImage_375_2x.jpg
  src/components/PictureCanary/__mocks__/images/Default/HeroImage_375_3x.jpg
  src/components/PictureCanary/__mocks__/images/Default/HeroImage_720_1x.jpg
  src/components/PictureCanary/__mocks__/images/Default/HeroImage_720_2x.jpg
  src/components/PictureCanary/__mocks__/images/Default/HeroImage_720_3x.jpg
  src/components/PictureCanary/__mocks__/images/Display/HeroImage_375_1x.jpg
  src/components/PictureCanary/__mocks__/images/Display/HeroImage_375_2x.jpg
  src/components/PictureCanary/__mocks__/images/Display/HeroImage_375_3x.jpg
  src/components/PictureCanary/__mocks__/images/Display/HeroImage_720_1x.jpg
  src/components/PictureCanary/__mocks__/images/Display/HeroImage_720_2x.jpg
  src/components/PictureCanary/__mocks__/images/Display/HeroImage_720_3x.jpg
  src/components/PictureCanary/__stand__/Picture.dev.stand.mdx
  src/components/PictureCanary/__stand__/Picture.stand.mdx
  src/components/PictureCanary/__stand__/Picture.stand.tsx
  src/components/PictureCanary/__stand__/Picture.variants.tsx
  src/components/PictureCanary/__stand__/examples/PictureExample/PictureExample.tsx
  src/components/PictureCanary/__stand__/examples/PictureExampleGetImageSettings/PictureExampleGetImageSettings.tsx
  src/components/PictureCanary/__stand__/examples/PictureExampleResizeMode/PictureExampleResizeMode.css
  src/components/PictureCanary/__stand__/examples/PictureExampleResizeMode/PictureExampleResizeMode.tsx
  src/components/PictureCanary/helper.ts
  src/components/PictureCanary/index.ts
  src/components/PictureCanary/types.ts
  src/hooks/useBreakpointsCanary/__stand__/useBreakpoints.stand.mdx
  src/hooks/useBreakpointsCanary/__stand__/useBreakpoints.stand.tsx
  src/hooks/useBreakpointsCanary/addPrefix.ts
  src/hooks/useBreakpointsCanary/getLastPoint.ts
  src/hooks/useBreakpointsCanary/index.ts
  src/hooks/useBreakpointsCanary/mapping.ts
  src/hooks/useBreakpointsCanary/types.ts
  src/hooks/useBreakpointsCanary/useBreakpoints.ts
Owners: @gizeasy, @N1MBER, @BagenovA, @linturaven

fix(ContextMenu): fix
  src/components/ContextMenu/useMenuNavigation.ts
Owners: @gizeasy, @N1MBER

feat(Responses): added images reexports (#3308)
  src/components/Responses/Responses.tsx
  src/components/Responses/createResponses.tsx
  src/components/Responses403/Responses403.tsx
  src/components/Responses403/index.ts
  src/components/Responses404/Responses404.tsx
  src/components/Responses404/index.ts
  src/components/Responses500/Responses500.tsx
  src/components/Responses500/index.ts
  src/components/Responses503/Responses503.tsx
  src/components/Responses503/index.ts
  src/components/ResponsesConnectionError/ResponsesConnectionError.tsx
  src/components/ResponsesConnectionError/index.ts
  src/components/ResponsesDeleted/ResponsesDeleted.tsx
  src/components/ResponsesDeleted/index.ts
  src/components/ResponsesEmptyBox/ResponsesEmptyBox.tsx
  src/components/ResponsesEmptyBox/index.ts
  src/components/ResponsesEmptyPockets/ResponsesEmptyPockets.tsx
  src/components/ResponsesEmptyPockets/index.ts
  src/components/ResponsesExit/ResponsesExit.tsx
  src/components/ResponsesNothingFound/ResponsesNothingFound.tsx
  src/components/ResponsesNothingFound/index.ts
  src/components/ResponsesSuccess/ResponsesSuccess.tsx
  src/components/ResponsesSuccess/index.ts
Owners: @gizeasy, @N1MBER

feat(withTooltip): add animate and refactor HOC (#3310)
  src/hocs/withTooltip/__tests__/withTooltip.test.tsx
  src/hocs/withTooltip/withTooltip.tsx
  src/hooks/useDebounce/useDebounce.ts
  src/hooks/useMutableRef/useMutableRef.ts
Owners: @gizeasy, @N1MBER

fix(MixScrollBar): fix mistakes
  src/mixs/MixScrollBar/MixScrollBar.css
  src/mixs/MixScrollBar/MixScrollBar.ts
  src/mixs/MixScrollBar/__stand__/MixScrollBar.stand.mdx
  src/mixs/MixScrollBar/__stand__/examples/MixScrollBarExample/MixScrollBarExample.css
  src/mixs/MixScrollBar/__stand__/examples/MixScrollBarExample/MixScrollBarExample.tsx
  src/mixs/MixScrollBar/__stand__/examples/MixScrollBarExampleSize/MixScrollBarExampleSize.css
  src/mixs/MixScrollBar/__stand__/examples/MixScrollBarExampleSize/MixScrollBarExampleSize.tsx
Owners: @linturaven, @gizeasy, @N1MBER, @BagenovA

fix(ListCanary): fixed dafault color of list items in dark theme;
  src/components/ListCanary/ListItem/ListItem.tsx
Owners: @gizeasy, @N1MBER

feat(Grid): add deprecated
  src/components/GridDeprecated/Grid.css
  src/components/GridDeprecated/GridDeprecated.tsx
  src/components/GridDeprecated/GridItem/GridItem.css
  src/components/GridDeprecated/GridItem/GridItem.tsx
  src/components/GridDeprecated/__stand__/Grid.dev.stand.mdx
  src/components/GridDeprecated/__stand__/Grid.image.svg
  src/components/GridDeprecated/__stand__/Grid.stand.mdx
  src/components/GridDeprecated/__stand__/Grid.stand.tsx
  src/components/GridDeprecated/__stand__/Grid.variants.tsx
  src/components/GridDeprecated/__stand__/GridVariants.css
  src/components/GridDeprecated/__stand__/examples/GridExampleAlign/GridExampleAlign.css
  src/components/GridDeprecated/__stand__/examples/GridExampleAlign/GridExampleAlign.tsx
  src/components/GridDeprecated/__stand__/examples/GridExampleBreakpoints/GridExampleBreakpoints.css
  src/components/GridDeprecated/__stand__/examples/GridExampleBreakpoints/GridExampleBreakpoints.tsx
  src/components/GridDeprecated/__stand__/examples/GridExampleCols/GridExampleCols.css
  src/components/GridDeprecated/__stand__/examples/GridExampleCols/GridExampleCols.tsx
  src/components/GridDeprecated/__stand__/examples/GridExampleGap/GridExampleGap.css
  src/components/GridDeprecated/__stand__/examples/GridExampleGap/GridExampleGap.tsx
  src/components/GridDeprecated/__stand__/examples/GridItemExampleBreakpoints/GridItemExampleBreakpoints.css
  src/components/GridDeprecated/__stand__/examples/GridItemExampleBreakpoints/GridItemExampleBreakpoints.tsx
  src/components/GridDeprecated/__stand__/examples/GridItemExampleCol/GridItemExampleCol.css
  src/components/GridDeprecated/__stand__/examples/GridItemExampleCol/GridItemExampleCol.tsx
  src/components/GridDeprecated/__stand__/examples/GridItemExampleColStart/GridItemExampleColStart.css
  src/components/GridDeprecated/__stand__/examples/GridItemExampleColStart/GridItemExampleColStart.tsx
  src/components/GridDeprecated/__stand__/examples/GridItemExampleOrder/GridItemExampleOrder.css
  src/components/GridDeprecated/__stand__/examples/GridItemExampleOrder/GridItemExampleOrder.tsx
  src/components/GridDeprecated/__stand__/examples/GridItemExampleRow/GridItemExampleRow.css
  src/components/GridDeprecated/__stand__/examples/GridItemExampleRow/GridItemExampleRow.tsx
  src/components/GridDeprecated/__stand__/examples/GridItemExampleRowStart/GridItemExampleRowStart.css
  src/components/GridDeprecated/__stand__/examples/GridItemExampleRowStart/GridItemExampleRowStart.tsx
  src/components/GridDeprecated/__tests__/useBreakpoints.test.ts
  src/components/GridDeprecated/index.ts
  src/components/GridDeprecated/useBreakpoints.ts
Owners: @linturaven, @gizeasy, @N1MBER, @BagenovA

fix
  src/components/Grid/__stand__/Grid.variants.tsx
  src/components/Grid/__stand__/examples/GridExampleBreakpoints/GridExampleBreakpoints.tsx
Owners: @gizeasy, @N1MBER

docs(Slider): added description of the onAfterChange property
  src/components/Slider/__stand__/Slider.dev.stand.mdx
Owners: @BagenovA

docs(Slider): added description of the onAfterChange property (#3327)
  src/components/Slider/__stand__/Slider.dev.stand.mdx
Owners: @BagenovA

fix(List): fixed default color of list items in dark theme (#3324)
  src/components/ListCanary/ListItem/ListItem.tsx
Owners: @gizeasy, @N1MBER

feat(ContextMenu): add keyboard navigation (#3259)
  src/components/ContextMenu/ContextMenuLevel/ContextMenuLevel.css
  src/components/ContextMenu/ContextMenuLevel/ContextMenuLevel.tsx
  src/components/ContextMenu/ContextMenuLevelWrapper/ContextMenuLevelWrapper.tsx
  src/components/ContextMenu/ContextMenuLevels/ContextMenuLevels.tsx
  src/components/ContextMenu/__stand__/ContextMenu.dev.stand.mdx
  src/components/ContextMenu/__stand__/ContextMenu.variants.tsx
  src/components/ContextMenu/types.ts
  src/components/ContextMenu/useMenuNavigation.ts
Owners: @linturaven, @gizeasy, @N1MBER, @BagenovA

release: 4.31.0
  package.json
Owners: @gizeasy, @N1MBER

changelog: 4.31.0
  CHANGELOG.md
Owners: @BagenovA

feat(BookmarkTabs): rewrite hover and focus to highlitedIndex
  src/components/BookmarkTabsCanary/BookmarkTabsCanary.tsx
  src/components/BookmarkTabsCanary/BookmarkTabsTab/BookmarkTabsTab.css
  src/components/BookmarkTabsCanary/BookmarkTabsTab/BookmarkTabsTab.tsx
  src/components/BookmarkTabsCanary/__stand__/BookmarkTabs.dev.stand.mdx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleRenderItem/BookmarkTabsExampleRenderItem.tsx
  src/components/BookmarkTabsCanary/types.ts
Owners: @gizeasy, @N1MBER, @linturaven, @BagenovA

feat(TooltipCanary): added canary tooltip with animations
  src/components/TooltipCanary/Tooltip.css
  src/components/TooltipCanary/TooltipCanary.tsx
  src/components/TooltipCanary/__stand__/Tooltip.dev.stand.mdx
  src/components/TooltipCanary/__stand__/Tooltip.image.svg
  src/components/TooltipCanary/__stand__/Tooltip.stand.mdx
  src/components/TooltipCanary/__stand__/Tooltip.stand.tsx
  src/components/TooltipCanary/__stand__/Tooltip.variants.tsx
  src/components/TooltipCanary/__stand__/examples/TooltipPosition/TooltipPosition.css
  src/components/TooltipCanary/__stand__/examples/TooltipPosition/TooltipPosition.tsx
  src/components/TooltipCanary/index.ts
  src/components/TooltipCanary/types.ts
Owners: @linturaven, @gizeasy, @N1MBER, @BagenovA

fix(withTooltip): fixed types
  src/hocs/withTooltip/withTooltip.tsx
Owners: @gizeasy, @N1MBER

fix(withTooltip): fixed types (#3335)
  src/hocs/withTooltip/withTooltip.tsx
Owners: @gizeasy, @N1MBER

release: 4.31.1
  package.json
Owners: @gizeasy, @N1MBER

changelog: 4.31.1
  CHANGELOG.md
Owners: @BagenovA

chore(withTooltip): update tests
  src/hocs/withTooltip/__tests__/withTooltip.test.tsx
  src/hocs/withTooltip/withTooltip.tsx
Owners: @gizeasy, @N1MBER

chore(withTooltip): update tests (#3337)
  src/hocs/withTooltip/__tests__/withTooltip.test.tsx
  src/hocs/withTooltip/withTooltip.tsx
Owners: @gizeasy, @N1MBER

docs(MixScrollBar): fix docs
  src/mixs/MixScrollBar/__stand__/MixScrollBar.stand.mdx
Owners: @BagenovA

feat(MixScrollBar): added new mixin (#3254)
  src/components/ListCanary/ListBox/ListBox.tsx
  src/components/ListCanary/__stand__/List.variants.tsx
  src/components/Modal/Modal.tsx
  src/components/ProgressStepBar/ProgressStepBar.tsx
  src/components/SelectComponents/SelectDropdown/SelectDropdown.tsx
  src/components/SelectComponentsCanary/SelectDropdown/SelectDropdown.tsx
  src/components/Sidebar/Sidebar.tsx
  src/components/SnackBar/__stand__/SnackBar.variants.tsx
  src/components/SnackBar/__stand__/examples/SnackBarExampleTimer/SnackBarExampleTimer.tsx
  src/components/Table/Table.tsx
  src/components/Table/TextFilter/TableTextFilter.tsx
  src/components/Theme/Theme.css
  src/hooks/useVirtualScrollCanary/__stand__/examples/useVirtualScrollExample/useVirtualScrollExample.tsx
  src/mixs/MixScrollBar/MixScrollBar.css
  src/mixs/MixScrollBar/MixScrollBar.ts
  src/mixs/MixScrollBar/__stand__/MixScrollBar.stand.mdx
  src/mixs/MixScrollBar/__stand__/MixScrollBar.stand.tsx
  src/mixs/MixScrollBar/__stand__/examples/MixScrollBarExample/MixScrollBarExample.css
  src/mixs/MixScrollBar/__stand__/examples/MixScrollBarExample/MixScrollBarExample.tsx
  src/mixs/MixScrollBar/__stand__/examples/MixScrollBarExampleSize/MixScrollBarExampleSize.css
  src/mixs/MixScrollBar/__stand__/examples/MixScrollBarExampleSize/MixScrollBarExampleSize.tsx
  src/mixs/MixScrollBar/index.ts
Owners: @gizeasy, @N1MBER, @linturaven, @BagenovA

feat(BookmarkTabs): fix mistakes
  src/components/BookmarkTabsCanary/BookmarkTabsCanary.tsx
  src/components/BookmarkTabsCanary/BookmarkTabsTab/BookmarkTabsTab.tsx
  src/components/BookmarkTabsCanary/__stand__/BookmarkTabs.dev.stand.mdx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleRenderItem/BookmarkTabsExampleRenderItem.tsx
  src/components/BookmarkTabsCanary/types.ts
  src/components/BookmarkTabsCanary/useBookmarkTabs.ts
Owners: @gizeasy, @N1MBER, @BagenovA

docs(TooltipCanary): fix doc
  src/components/TooltipCanary/__stand__/Tooltip.dev.stand.mdx
Owners: @BagenovA

feat(Global): rename a part of props
  src/components/AutoCompleteCanary/__stand__/AutoComplete.dev.stand.mdx
  src/components/ComboboxCanary/ComboboxCanary.tsx
  src/components/ComboboxCanary/__stand__/Combobox.dev.stand.mdx
  src/components/ComboboxCanary/__tests__/Combobox.test.tsx
  src/components/ComboboxCanary/helpers.ts
  src/components/ProgressStepBar/ProgressStepBar.tsx
  src/components/ProgressStepBar/ProgressStepBarItem/ProgressStepBarItem.tsx
  src/components/ProgressStepBar/ProgressStepBarLine/ProgressStepBarLine.tsx
  src/components/ProgressStepBar/__stand__/ProgressStepBar.dev.stand.mdx
  src/components/ProgressStepBar/__stand__/ProgressStepBar.variants.tsx
  src/components/ProgressStepBar/helpers.ts
  src/components/SelectCanary/SelectCanary.tsx
  src/components/SelectCanary/__stand__/Select.dev.stand.mdx
  src/components/SelectCanary/helpers.ts
  src/components/Slider/Slider.tsx
  src/components/Slider/__stand__/Slider.dev.stand.mdx
  src/components/Slider/__stand__/Slider.variants.tsx
  src/components/Slider/helper.ts
  src/components/Slider/useSliderStationing.ts
  src/components/UserSelectCanary/UserSelectCanary.tsx
  src/components/UserSelectCanary/__stand__/UserSelect.dev.stand.mdx
  src/components/UserSelectCanary/__tests__/UserSelect.test.tsx
  src/components/UserSelectCanary/helpers.ts
Owners: @BagenovA, @gizeasy, @N1MBER

chore(deploy): edit config
  .github/workflows/deploy.yml
Owners: @gizeasy, @N1MBER

chore(deploy): edit config
  .github/workflows/deploy.yml
Owners: @gizeasy, @N1MBER

fix(Combobox): fix examples with search value
  src/components/Combobox/__stand__/Combobox.dev.stand.mdx
  src/components/Combobox/__stand__/examples/ComboboxExampleSearchValue/ComboboxExampleSearchValue.tsx
  src/components/ComboboxCanary/__stand__/Combobox.dev.stand.mdx
  src/components/ComboboxCanary/__stand__/examples/ComboboxExampleSearchValue/ComboboxExampleSearchValue.tsx
Owners: @BagenovA, @gizeasy, @N1MBER

feat(PaginationCanary): added new canary component
  src/components/PaginationCanary/Pagination.css
  src/components/PaginationCanary/PaginationArrow/PaginationArrow.css
  src/components/PaginationCanary/PaginationArrow/PaginationArrow.tsx
  src/components/PaginationCanary/PaginationArrow/index.ts
  src/components/PaginationCanary/PaginationBase/PaginationBase.css
  src/components/PaginationCanary/PaginationBase/PaginationBase.tsx
  src/components/PaginationCanary/PaginationBase/index.ts
  src/components/PaginationCanary/PaginationCanary.tsx
  src/components/PaginationCanary/PaginationItem/PaginationItem.css
  src/components/PaginationCanary/PaginationItem/PaginationItem.tsx
  src/components/PaginationCanary/PaginationItem/index.ts
  src/components/PaginationCanary/PaginationList/PaginationList.css
  src/components/PaginationCanary/PaginationList/PaginationList.tsx
  src/components/PaginationCanary/PaginationList/index.ts
  src/components/PaginationCanary/PaginationNumberInput/PaginationNumberInput.css
  src/components/PaginationCanary/PaginationNumberInput/PaginationNumberInput.tsx
  src/components/PaginationCanary/PaginationNumberInput/index.ts
  src/components/PaginationCanary/__stand__/Pagination.dev.stand.mdx
  src/components/PaginationCanary/__stand__/Pagination.image.svg
  src/components/PaginationCanary/__stand__/Pagination.stand.mdx
  src/components/PaginationCanary/__stand__/Pagination.stand.tsx
  src/components/PaginationCanary/__stand__/Pagination.variants.css
  src/components/PaginationCanary/__stand__/Pagination.variants.tsx
  src/components/PaginationCanary/__stand__/examples/PaginationBaseExample/PaginationBaseExample.tsx
  src/components/PaginationCanary/__stand__/examples/PaginationBaseExampleCustom/PaginationBaseExampleCustom.tsx
  src/components/PaginationCanary/__stand__/examples/PaginationExample/PaginationExample.tsx
  src/components/PaginationCanary/__stand__/examples/PaginationExampleAdaptivity/PaginationExampleAdaptivity.tsx
  src/components/PaginationCanary/__stand__/examples/PaginationExampleArrows/PaginationExampleArrows.tsx
  src/components/PaginationCanary/__stand__/examples/PaginationExampleFirstLastItem/PaginationExampleFirstLastItem.tsx
  src/components/PaginationCanary/__stand__/examples/PaginationExampleForm/PaginationExampleForm.tsx
  src/components/PaginationCanary/__stand__/examples/PaginationExampleHotKeys/PaginationExampleHotKeys.tsx
  src/components/PaginationCanary/__stand__/examples/PaginationExampleOuterMostArrows/PaginationExampleOuterMostArrows.tsx
  src/components/PaginationCanary/__stand__/examples/PaginationExampleSize/PaginationExampleSize.tsx
  src/components/PaginationCanary/__stand__/examples/PaginationExampleType/PaginationExampleType.tsx
  src/components/PaginationCanary/__stand__/examples/PaginationExampleVisibleCount/PaginationExampleVisibleCount.tsx
  src/components/PaginationCanary/helpers.ts
  src/components/PaginationCanary/index.ts
  src/components/PaginationCanary/types.ts
  src/components/PaginationCanary/usePaginationItems.tsx
  src/components/PaginationCanary/usePaginationKeys.tsx
Owners: @linturaven, @gizeasy, @N1MBER, @BagenovA

docs(PaginationCanary): fix documentation
  src/components/PaginationCanary/__stand__/Pagination.dev.stand.mdx
  src/components/PaginationCanary/__stand__/Pagination.stand.mdx
  src/components/PaginationCanary/__stand__/Pagination.stand.tsx
  src/components/PaginationCanary/helpers.ts
Owners: @BagenovA, @gizeasy, @N1MBER

fix(Theme): fix mistakes in dark theme colors
  src/components/Theme/_color/Theme_color_gpnDark.css
Owners: @linturaven

fix(Responses): fix discrepancies
  src/components/Responses/Responses.css
  src/components/Responses/Responses.tsx
  src/components/Responses403/Responses403.tsx
  src/components/Responses500/Responses500.tsx
  src/components/Responses503/Responses503.tsx
  src/components/ResponsesConnectionError/ResponsesConnectionError.tsx
  src/components/ResponsesDeleted/ResponsesDeleted.tsx
Owners: @linturaven, @gizeasy, @N1MBER

fix(Theme): fix mistakes in dark theme colors (#3362)
  src/components/Theme/_color/Theme_color_gpnDark.css
Owners: @linturaven

.github/CODEOWNERS:

* @gizeasy @N1MBER 
*.md @BagenovA
*.mdx @BagenovA
*.css @linturaven
