Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

.github/CODEOWNERS:

* @gizeasy @N1MBER 
*.md @arhayka @kolebayev
*.mdx @arhayka @kolebayev
*.css @kolebayev

test(theme): test bbk theme
  src/components/Theme/_color/Theme_color_gpnDark.css
  src/components/Theme/_color/Theme_color_gpnDefault.css
Owners: @kolebayev

fix
  src/components/Theme/_color/Theme_color_gpnDark.css
  src/components/Theme/_color/Theme_color_gpnDefault.css
Owners: @kolebayev

docs(custom): choicegroup_deprecated
  src/components/ChoiceGroupDeprecated/__stand__/ChoiceGroup.design.stand.mdx
  src/components/ChoiceGroupDeprecated/__stand__/ChoiceGroup.dev.stand.mdx
  src/components/ChoiceGroupDeprecated/__stand__/ChoiceGroup.image.svg
  src/components/ChoiceGroupDeprecated/__stand__/ChoiceGroup.stand.mdx
  src/components/ChoiceGroupDeprecated/__stand__/ChoiceGroup.stand.tsx
  src/components/ChoiceGroupDeprecated/__stand__/examples/ChoiceGroupExampleDisabled/ChoiceGroupExampleDisabled.tsx
  src/components/ChoiceGroupDeprecated/__stand__/examples/ChoiceGroupExampleForm/ChoiceGroupExampleForm.tsx
  src/components/ChoiceGroupDeprecated/__stand__/examples/ChoiceGroupExampleIcon/ChoiceGroupExampleIcon.tsx
  src/components/ChoiceGroupDeprecated/__stand__/examples/ChoiceGroupExampleMultiple/ChoiceGroupExampleMultiple.tsx
  src/components/ChoiceGroupDeprecated/__stand__/examples/ChoiceGroupExampleSize/ChoiceGroupExampleSize.tsx
  src/components/ChoiceGroupDeprecated/__stand__/examples/ChoiceGroupExampleSomeDisabled/ChoiseGroupExampleSomeDisabled.tsx
  src/components/ChoiceGroupDeprecated/__stand__/examples/ChoiceGroupExampleSwitch/ChoiceGroupExampleSwitch.tsx
  src/components/ChoiceGroupDeprecated/__stand__/examples/ChoiceGroupExampleText/ChoiceGroupExampleText.tsx
  src/components/ChoiceGroupDeprecated/__stand__/examples/ChoiceGroupExampleTextOverflow/ChoiceGroupExampleTextOverflow.tsx
  src/components/ChoiceGroupDeprecated/__stand__/examples/ChoiceGroupExampleView/ChoiceGroupExampleView.tsx
  src/components/ChoiceGroupDeprecated/__stand__/examples/ChoiceGroupExampleWidth/ChoiceGroupExampleWidth.tsx
  src/components/ChoiceGroupDeprecated/__stories__/examples/ChoiceGroupExampleAdaptive/ChoiceGroupExampleAdaptive.tsx
  src/components/ChoiceGroupDeprecated/__stories__/examples/ChoiceGroupExampleAdaptive/ChoiceGroupExampleAdaptiveScroll.css
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

chore(commitizen): update config
  package.json
  yarn.lock
Owners: @gizeasy, @N1MBER

docs(custom): chdeckboxgroup (#2544)
  src/components/CheckboxGroup/__stand__/CheckboxGroup.dev.stand.mdx
  src/components/CheckboxGroup/__stand__/CheckboxGroup.stand.mdx
Owners: @arhayka, @kolebayev

feat(stands): add group
  src/stand/standConfig.ts
Owners: @gizeasy, @N1MBER

feat(standconfig): add groups
  src/stand/standConfig.ts
Owners: @gizeasy, @N1MBER

Update useChoiceGroup.stand.tsx
  src/hooks/useChoiceGroup/__stand__/useChoiceGroup.stand.tsx
Owners: @gizeasy, @N1MBER

Update useChoiceGroupIndexed.stand.tsx
  src/hooks/useChoiceGroupIndexed/__stand__/useChoiceGroupIndexed.stand.tsx
Owners: @gizeasy, @N1MBER

Update useClickOutside.stand.tsx
  src/hooks/useClickOutside/__stand__/useClickOutside.stand.tsx
Owners: @gizeasy, @N1MBER

Update useDebounce.stand.tsx
  src/hooks/useDebounce/__stand__/useDebounce.stand.tsx
Owners: @gizeasy, @N1MBER

Update useForkRef.stand.tsx
  src/hooks/useForkRef/__stand__/useForkRef.stand.tsx
Owners: @gizeasy, @N1MBER

docs(custom): avatar
  src/components/AvatarGroup/__mocks__/mock.data.ts
  src/components/AvatarGroup/__stand__/AvatarGroup.design.stand.mdx
  src/components/AvatarGroup/__stand__/AvatarGroup.dev.stand.mdx
  src/components/AvatarGroup/__stand__/AvatarGroup.image.svg
  src/components/AvatarGroup/__stand__/AvatarGroup.stand.mdx
  src/components/AvatarGroup/__stand__/AvatarGroup.stand.tsx
  src/components/AvatarGroup/__stand__/examples/AvatarGroupExampleCount/AvatarGroupExampleCount.tsx
  src/components/AvatarGroup/__stand__/examples/AvatarGroupExampleForm/AvatarGroupExampleForm.tsx
  src/components/AvatarGroup/__stand__/examples/AvatarGroupExampleSize/AvatarGroupExampleSize.tsx
  src/components/AvatarGroup/helpers.ts
  src/components/AvatarGroup/types.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

Update useBreakpoints.stand.tsx
  src/hooks/useBreakpoints/__stand__/useBreakpoints.stand.tsx
Owners: @gizeasy, @N1MBER

Update useGlobalKeys.stand.tsx
  src/hooks/useGlobalKeys/__stand__/useGlobalKeys.stand.tsx
Owners: @gizeasy, @N1MBER

Update useHideElementsInLine.stand.tsx
  src/hooks/useHideElementsInLine/__stand__/useHideElementsInLine.stand.tsx
Owners: @gizeasy, @N1MBER

Update useRefs.stand.tsx
  src/hooks/useRefs/__stand__/useRefs.stand.tsx
Owners: @gizeasy, @N1MBER

Update useThemeVars.stand.tsx
  src/hooks/useThemeVars/__stand__/useThemeVars.stand.tsx
Owners: @gizeasy, @N1MBER

docs(custom): breadcrumbs_deprecated (#2556)
  src/components/BreadcrumbsDeprecated/__stand__/Breadcrumbs.design.stand.mdx
  src/components/BreadcrumbsDeprecated/__stand__/Breadcrumbs.dev.stand.mdx
  src/components/BreadcrumbsDeprecated/__stand__/Breadcrumbs.image.svg
  src/components/BreadcrumbsDeprecated/__stand__/Breadcrumbs.stand.mdx
  src/components/BreadcrumbsDeprecated/__stand__/Breadcrumbs.stand.tsx
  src/components/BreadcrumbsDeprecated/__stand__/examples/BreadcrumbsExample/BreadcrumbsExample.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): breadcrumbs (#2557)
  src/components/Breadcrumbs/__stand__/Breadcrumbs.design.stand.mdx
  src/components/Breadcrumbs/__stand__/Breadcrumbs.dev.stand.mdx
  src/components/Breadcrumbs/__stand__/Breadcrumbs.image.svg
  src/components/Breadcrumbs/__stand__/Breadcrumbs.stand.mdx
  src/components/Breadcrumbs/__stand__/Breadcrumbs.stand.tsx
  src/components/Breadcrumbs/__stand__/examples/BreadcrumbsExample/BreadcrumbsExample.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): choicegroup_deprecated (#2560)
  src/components/ChoiceGroupDeprecated/__stand__/ChoiceGroup.design.stand.mdx
  src/components/ChoiceGroupDeprecated/__stand__/ChoiceGroup.dev.stand.mdx
  src/components/ChoiceGroupDeprecated/__stand__/ChoiceGroup.image.svg
  src/components/ChoiceGroupDeprecated/__stand__/ChoiceGroup.stand.mdx
  src/components/ChoiceGroupDeprecated/__stand__/ChoiceGroup.stand.tsx
  src/components/ChoiceGroupDeprecated/__stand__/examples/ChoiceGroupExampleDisabled/ChoiceGroupExampleDisabled.tsx
  src/components/ChoiceGroupDeprecated/__stand__/examples/ChoiceGroupExampleForm/ChoiceGroupExampleForm.tsx
  src/components/ChoiceGroupDeprecated/__stand__/examples/ChoiceGroupExampleIcon/ChoiceGroupExampleIcon.tsx
  src/components/ChoiceGroupDeprecated/__stand__/examples/ChoiceGroupExampleMultiple/ChoiceGroupExampleMultiple.tsx
  src/components/ChoiceGroupDeprecated/__stand__/examples/ChoiceGroupExampleSize/ChoiceGroupExampleSize.tsx
  src/components/ChoiceGroupDeprecated/__stand__/examples/ChoiceGroupExampleSomeDisabled/ChoiseGroupExampleSomeDisabled.tsx
  src/components/ChoiceGroupDeprecated/__stand__/examples/ChoiceGroupExampleSwitch/ChoiceGroupExampleSwitch.tsx
  src/components/ChoiceGroupDeprecated/__stand__/examples/ChoiceGroupExampleText/ChoiceGroupExampleText.tsx
  src/components/ChoiceGroupDeprecated/__stand__/examples/ChoiceGroupExampleTextOverflow/ChoiceGroupExampleTextOverflow.tsx
  src/components/ChoiceGroupDeprecated/__stand__/examples/ChoiceGroupExampleView/ChoiceGroupExampleView.tsx
  src/components/ChoiceGroupDeprecated/__stand__/examples/ChoiceGroupExampleWidth/ChoiceGroupExampleWidth.tsx
  src/components/ChoiceGroupDeprecated/__stories__/examples/ChoiceGroupExampleAdaptive/ChoiceGroupExampleAdaptive.tsx
  src/components/ChoiceGroupDeprecated/__stories__/examples/ChoiceGroupExampleAdaptive/ChoiceGroupExampleAdaptiveScroll.css
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): avatar (#2561)
  src/components/AvatarGroup/__mocks__/mock.data.ts
  src/components/AvatarGroup/__stand__/AvatarGroup.design.stand.mdx
  src/components/AvatarGroup/__stand__/AvatarGroup.dev.stand.mdx
  src/components/AvatarGroup/__stand__/AvatarGroup.image.svg
  src/components/AvatarGroup/__stand__/AvatarGroup.stand.mdx
  src/components/AvatarGroup/__stand__/AvatarGroup.stand.tsx
  src/components/AvatarGroup/__stand__/examples/AvatarGroupExampleCount/AvatarGroupExampleCount.tsx
  src/components/AvatarGroup/__stand__/examples/AvatarGroupExampleForm/AvatarGroupExampleForm.tsx
  src/components/AvatarGroup/__stand__/examples/AvatarGroupExampleSize/AvatarGroupExampleSize.tsx
  src/components/AvatarGroup/helpers.ts
  src/components/AvatarGroup/types.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

fix(custom): layout
  src/components/Layout/__stand__/Layout.dev.stand.mdx
Owners: @arhayka, @kolebayev

fix(custom): layout
  src/components/Layout/__stand__/Layout.dev.stand.mdx
Owners: @arhayka, @kolebayev

fix(custom): layout
  src/components/Layout/__stand__/Layout.dev.stand.mdx
Owners: @arhayka, @kolebayev

chore(deps): update version stand
  package.json
  yarn.lock
Owners: @gizeasy, @N1MBER

docs: add docs for ContextMenuDeprecated
  src/components/ContextMenuDeprecated/__stand__/ContextMenu.design.stand.mdx
  src/components/ContextMenuDeprecated/__stand__/ContextMenu.dev.stand.mdx
  src/components/ContextMenuDeprecated/__stand__/ContextMenu.image.svg
  src/components/ContextMenuDeprecated/__stand__/ContextMenu.stand.mdx
  src/components/ContextMenuDeprecated/__stand__/ContextMenu.stand.tsx
  src/components/ContextMenuDeprecated/__stand__/examples/ContextMenuExampleGroups/ContextMenuExampleGroups.css
  src/components/ContextMenuDeprecated/__stand__/examples/ContextMenuExampleGroups/ContextMenuExampleGroups.tsx
  src/components/ContextMenuDeprecated/__stand__/examples/ContextMenuExampleOutsideClick/ContextMenuExampleOutsideClick.css
  src/components/ContextMenuDeprecated/__stand__/examples/ContextMenuExampleOutsideClick/ContextMenuExampleOutsideClick.tsx
  src/components/ContextMenuDeprecated/__stand__/examples/ContextMenuExampleSide/ContextMenuExampleSide.css
  src/components/ContextMenuDeprecated/__stand__/examples/ContextMenuExampleSide/ContextMenuExampleSide.tsx
  src/components/ContextMenuDeprecated/__stand__/examples/ContextMenuExampleSimple/ContextMenuExampleSimple.css
  src/components/ContextMenuDeprecated/__stand__/examples/ContextMenuExampleSimple/ContextMenuExampleSimple.tsx
  src/components/ContextMenuDeprecated/__stand__/examples/ContextMenuExampleSize/ContextMenuExampleSize.css
  src/components/ContextMenuDeprecated/__stand__/examples/ContextMenuExampleSize/ContextMenuExampleSize.tsx
  src/components/ContextMenuDeprecated/__stand__/examples/ContextMenuExampleSubMenu/ContextMenuExampleSubMenu.css
  src/components/ContextMenuDeprecated/__stand__/examples/ContextMenuExampleSubMenu/ContextMenuExampleSubMenu.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): withTooltip (#2545)
  src/hocs/withTooltip/__stand__/examples/WithTooltipExampleMode/WithTooltipExampleMode.tsx
  src/hocs/withTooltip/__stand__/examples/WithTooltipExampleProps/WithTooltipExampleProps.tsx
  src/hocs/withTooltip/__stand__/examples/WithTooltipExampleSize/WithTooltipExampleSize.tsx
  src/hocs/withTooltip/__stand__/examples/WithTooltipExampleText/WithTooltipExampleText.tsx
  src/hocs/withTooltip/__stand__/withTooltip.dev.stand.mdx
  src/hocs/withTooltip/__stand__/withTooltip.stand.mdx
  src/hocs/withTooltip/__stand__/withTooltip.stand.tsx
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

docs(custom): useChoiceGroup (#2546)
  src/hooks/useChoiceGroup/__stand__/useChocieGroup.stand.mdx
  src/hooks/useChoiceGroup/__stand__/useChoiceGroup.dev.stand.mdx
  src/hooks/useChoiceGroup/__stand__/useChoiceGroup.stand.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): useChoiceGroupIndexed (#2547)
  src/hooks/useChoiceGroupIndexed/__stand__/useChoiceGroupIndexed.dev.stand.mdx
  src/hooks/useChoiceGroupIndexed/__stand__/useChoiceGroupIndexed.stand.mdx
  src/hooks/useChoiceGroupIndexed/__stand__/useChoiceGroupIndexed.stand.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): useClickOutside (#2548)
  src/hooks/useClickOutside/__stand__/useClickOutside.dev.stand.mdx
  src/hooks/useClickOutside/__stand__/useClickOutside.stand.mdx
  src/hooks/useClickOutside/__stand__/useClickOutside.stand.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): useDebounce (#2549)
  src/hooks/useDebounce/__stand__/examples/UseDebounceExample/UseDebounceExample.css
  src/hooks/useDebounce/__stand__/examples/UseDebounceExample/UseDebounceExample.tsx
  src/hooks/useDebounce/__stand__/useDebounce.dev.stand.mdx
  src/hooks/useDebounce/__stand__/useDebounce.stand.mdx
  src/hooks/useDebounce/__stand__/useDebounce.stand.tsx
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

docs(custom): useForkRef (#2550)
  src/hooks/useForkRef/__stand__/useForkRef.dev.stand.mdx
  src/hooks/useForkRef/__stand__/useForkRef.stand.mdx
  src/hooks/useForkRef/__stand__/useForkRef.stand.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): useBreakpoints (#2551)
  src/hooks/useBreakpoints/__stand__/useBreakpoints.dev.stand.mdx
  src/hooks/useBreakpoints/__stand__/useBreakpoints.stand.mdx
  src/hooks/useBreakpoints/__stand__/useBreakpoints.stand.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): useHideElementsInLine (#2553)
  src/hooks/useHideElementsInLine/__stand__/examples/ExampleUseHideElementsInLine/ExampleUseHideElementsInLine.css
  src/hooks/useHideElementsInLine/__stand__/examples/ExampleUseHideElementsInLine/ExampleUseHideElementsInLine.tsx
  src/hooks/useHideElementsInLine/__stand__/useHideElementsInLine.dev.stand.mdx
  src/hooks/useHideElementsInLine/__stand__/useHideElementsInLine.stand.mdx
  src/hooks/useHideElementsInLine/__stand__/useHideElementsInLine.stand.tsx
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

docs(custom): useRefs (#2554)
  src/hooks/useRefs/__stand__/useRefs.dev.stand.mdx
  src/hooks/useRefs/__stand__/useRefs.stand.mdx
  src/hooks/useRefs/__stand__/useRefs.stand.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): useThemeVars (#2555)
  src/hooks/useThemeVars/__stand__/useThemeVars.dev.stand.mdx
  src/hooks/useThemeVars/__stand__/useThemeVars.stand.mdx
  src/hooks/useThemeVars/__stand__/useThemeVars.stand.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs: add docs for ContextMenuDeprecated (#2563)
  src/components/ContextMenuDeprecated/__stand__/ContextMenu.design.stand.mdx
  src/components/ContextMenuDeprecated/__stand__/ContextMenu.dev.stand.mdx
  src/components/ContextMenuDeprecated/__stand__/ContextMenu.image.svg
  src/components/ContextMenuDeprecated/__stand__/ContextMenu.stand.mdx
  src/components/ContextMenuDeprecated/__stand__/ContextMenu.stand.tsx
  src/components/ContextMenuDeprecated/__stand__/examples/ContextMenuExampleGroups/ContextMenuExampleGroups.css
  src/components/ContextMenuDeprecated/__stand__/examples/ContextMenuExampleGroups/ContextMenuExampleGroups.tsx
  src/components/ContextMenuDeprecated/__stand__/examples/ContextMenuExampleOutsideClick/ContextMenuExampleOutsideClick.css
  src/components/ContextMenuDeprecated/__stand__/examples/ContextMenuExampleOutsideClick/ContextMenuExampleOutsideClick.tsx
  src/components/ContextMenuDeprecated/__stand__/examples/ContextMenuExampleSide/ContextMenuExampleSide.css
  src/components/ContextMenuDeprecated/__stand__/examples/ContextMenuExampleSide/ContextMenuExampleSide.tsx
  src/components/ContextMenuDeprecated/__stand__/examples/ContextMenuExampleSimple/ContextMenuExampleSimple.css
  src/components/ContextMenuDeprecated/__stand__/examples/ContextMenuExampleSimple/ContextMenuExampleSimple.tsx
  src/components/ContextMenuDeprecated/__stand__/examples/ContextMenuExampleSize/ContextMenuExampleSize.css
  src/components/ContextMenuDeprecated/__stand__/examples/ContextMenuExampleSize/ContextMenuExampleSize.tsx
  src/components/ContextMenuDeprecated/__stand__/examples/ContextMenuExampleSubMenu/ContextMenuExampleSubMenu.css
  src/components/ContextMenuDeprecated/__stand__/examples/ContextMenuExampleSubMenu/ContextMenuExampleSubMenu.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

Update Layout.dev.stand.mdx
  src/components/Layout/__stand__/Layout.dev.stand.mdx
Owners: @arhayka, @kolebayev

docs(custom): useGlobalKeys (#2552)
  src/hooks/useGlobalKeys/__stand__/useGlobalKeys.dev.stand.mdx
  src/hooks/useGlobalKeys/__stand__/useGlobalKeys.stand.mdx
  src/hooks/useGlobalKeys/__stand__/useGlobalKeys.stand.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER
