Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

feat(StepsCanary): add new canary component
  src/components/Steps/__stories__/examples/ExampleStepsCompleted/ExampleStepsCompleted.tsx
  src/components/Steps/__stories__/examples/ExampleStepsDisabled/ExampleStepsDisabled.tsx
  src/components/Steps/__stories__/examples/ExampleStepsSize/ExampleStepsSize.tsx
  src/components/Steps/__stories__/examples/ExampleStepsSkipped/ExampleStepsSkipped.tsx
  src/components/StepsCanary/Steps.css
  src/components/StepsCanary/StepsCanary.tsx
  src/components/StepsCanary/StepsStep/StepsStep.css
  src/components/StepsCanary/StepsStep/StepsStep.tsx
  src/components/StepsCanary/__mocks__/mock.data.ts
  src/components/StepsCanary/__stories__/Steps.docs.mdx
  src/components/StepsCanary/__stories__/Steps.image.svg
  src/components/StepsCanary/__stories__/Steps.stories.css
  src/components/StepsCanary/__stories__/Steps.stories.tsx
  src/components/StepsCanary/__stories__/examples/ExampleStepsCompleted/ExampleStepsCompleted.tsx
  src/components/StepsCanary/__stories__/examples/ExampleStepsContent/ExampleStepsContent.tsx
  src/components/StepsCanary/__stories__/examples/ExampleStepsDisabled/ExampleStepsDisabled.tsx
  src/components/StepsCanary/__stories__/examples/ExampleStepsSize/ExampleStepsSize.tsx
  src/components/StepsCanary/__stories__/examples/ExampleStepsSkipped/ExampleStepsSkipped.tsx
  src/components/StepsCanary/__stories__/examples/ExampleStepsValue/ExampleStepsValue.tsx
  src/components/StepsCanary/__tests__/Steps.test.tsx
  src/components/StepsCanary/helper.ts
  src/components/StepsCanary/types.ts
Owners: @gizeasy, @N1MBER, @kolebayev, @arhayka

mdx
  helpers/prepareStands.js
  package.json
  src/App.tsx
  src/containers/AppTheme/AppTheme.css
  src/containers/AppTheme/AppTheme.tsx
  src/containers/AppTheme/index.ts
  src/exportAtoms/stands/stands.ts
  src/exportFuctions/createRoutes.ts
  src/exportFuctions/prepareStands.ts
  src/index.tsx
  src/modules/router/index.ts
  src/modules/stand/index.ts
  src/pages/LibPage/LibPage.tsx
  src/pages/LibPage/index.ts
  src/pages/StandPage/StandPage.tsx
  src/pages/StandPage/index.ts
  src/pages/StandPage/useStand.ts
  src/utils/bem/index.ts
  types.ts
  webpack.config.js
  yarn.lock
Owners: @gizeasy, @N1MBER, @kolebayev

fix(File): fixed file extensions
  src/components/File/File.tsx
  src/fileIcons/FileIcon/__stories__/FileIconsGallery/FileIconsGallery.tsx
  src/fileIcons/FileIconPpt/FileIconPpt.tsx
  src/fileIcons/FileIconPpt/FileIconPpt_size_m.svg
  src/fileIcons/FileIconPpt/FileIconPpt_size_m.tsx
  src/fileIcons/FileIconPpt/FileIconPpt_size_s.svg
  src/fileIcons/FileIconPpt/FileIconPpt_size_s.tsx
  src/fileIcons/FileIconPtt/FileIconPtt.tsx
  src/uiKit/components/ComponentsGridWithData/data/data.ts
Owners: @gizeasy, @N1MBER

Update FileIcon.css
  src/fileIcons/FileIcon/FileIcon.css
Owners: @kolebayev

fix(File): fixed file extensions (#2301)
  src/components/File/File.tsx
  src/fileIcons/FileIcon/FileIcon.css
  src/fileIcons/FileIcon/__stories__/FileIconsGallery/FileIconsGallery.tsx
  src/fileIcons/FileIconPpt/FileIconPpt.tsx
  src/fileIcons/FileIconPpt/FileIconPpt_size_m.svg
  src/fileIcons/FileIconPpt/FileIconPpt_size_m.tsx
  src/fileIcons/FileIconPpt/FileIconPpt_size_s.svg
  src/fileIcons/FileIconPpt/FileIconPpt_size_s.tsx
  src/fileIcons/FileIconPtt/FileIconPtt.tsx
  src/uiKit/components/ComponentsGridWithData/data/data.ts
Owners: @gizeasy, @N1MBER, @kolebayev

fix(Slider): fix detecting of active line (#2298)
  src/components/SliderCanary/useSliderStationing.ts
Owners: @gizeasy, @N1MBER

feat(Steps): add adaptive chapter
  src/components/Steps/__stories__/Steps.docs.mdx
  src/components/Steps/__stories__/examples/ExampleStepsAdaptive/ExampleStepsAdaptive.tsx
  src/components/StepsCanary/__stories__/Steps.docs.mdx
  src/components/StepsCanary/__stories__/examples/ExampleStepsAdaptive/ExampleStepsAdaptive.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

feat(StepsCanary): add new canary component (#2268)
  src/components/StepsCanary/Steps.css
  src/components/StepsCanary/StepsCanary.tsx
  src/components/StepsCanary/StepsStep/StepsStep.css
  src/components/StepsCanary/StepsStep/StepsStep.tsx
  src/components/StepsCanary/__mocks__/mock.data.ts
  src/components/StepsCanary/__stories__/Steps.docs.mdx
  src/components/StepsCanary/__stories__/Steps.image.svg
  src/components/StepsCanary/__stories__/Steps.stories.css
  src/components/StepsCanary/__stories__/Steps.stories.tsx
  src/components/StepsCanary/__stories__/examples/ExampleStepsAdaptive/ExampleStepsAdaptive.tsx
  src/components/StepsCanary/__stories__/examples/ExampleStepsCompleted/ExampleStepsCompleted.tsx
  src/components/StepsCanary/__stories__/examples/ExampleStepsContent/ExampleStepsContent.tsx
  src/components/StepsCanary/__stories__/examples/ExampleStepsDisabled/ExampleStepsDisabled.tsx
  src/components/StepsCanary/__stories__/examples/ExampleStepsSize/ExampleStepsSize.tsx
  src/components/StepsCanary/__stories__/examples/ExampleStepsSkipped/ExampleStepsSkipped.tsx
  src/components/StepsCanary/__stories__/examples/ExampleStepsValue/ExampleStepsValue.tsx
  src/components/StepsCanary/__tests__/Steps.test.tsx
  src/components/StepsCanary/helper.ts
  src/components/StepsCanary/types.ts
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

release(3.23.1):
  package.json
Owners: @gizeasy, @N1MBER

changelog(3.23.1):
  CHANGELOG.md
Owners: @arhayka, @kolebayev

feat(SwitchGroup): change getters to optional
  src/components/SwitchGroup/SwitchGroup.tsx
  src/components/SwitchGroup/__stories__/SwitchGroup.docs.mdx
  src/components/SwitchGroup/__stories__/SwitchGroup.stories.tsx
  src/components/SwitchGroup/__stories__/examples/SwitchGroupExampleDisabled/SwitchGroupExampleDisabled.tsx
  src/components/SwitchGroup/__stories__/examples/SwitchGroupExampleSize/SwitchGroupExampleSize.tsx
  src/components/SwitchGroup/helpers.ts
  src/components/SwitchGroup/types.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

feat(Tabs): change getters to optional parametrs
  src/components/Tabs/FitModeDropdownWrapper/TabsFitModeDropdownWrapper.tsx
  src/components/Tabs/FitModeDropdownWrapper/useFittingItems.ts
  src/components/Tabs/FitModeScrollWrapper/TabsFitModeScrollWrapper.tsx
  src/components/Tabs/FitModeScrollWrapper/__test__/helpers.test.ts
  src/components/Tabs/FitModeScrollWrapper/helpers.ts
  src/components/Tabs/Line/TabsLine.tsx
  src/components/Tabs/MoreItems/TabsMoreItems.tsx
  src/components/Tabs/Tab/TabsTab.tsx
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/__stories__/Tabs.docs.mdx
  src/components/Tabs/__stories__/Tabs.stories.tsx
  src/components/Tabs/__stories__/examples/TabsExampleIcon/TabsExampleIcon.tsx
  src/components/Tabs/helpers.ts
  src/components/Tabs/helpers.tsx
  src/components/Tabs/types.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

feat(Tabs): reexport types
  src/components/SwitchGroup/SwitchGroup.tsx
Owners: @gizeasy, @N1MBER

feat(CheckboxGroup): change getters to optional
  src/components/CheckboxGroup/CheckboxGroup.tsx
  src/components/CheckboxGroup/__stories__/CheckboxGroup.docs.mdx
  src/components/CheckboxGroup/helper.ts
  src/components/CheckboxGroup/types.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

feat(ChoiceGroup): change grtters to optional
  src/components/ChoiceGroup/ChoiceGroup.tsx
  src/components/ChoiceGroup/__stories__/ChoiceGroup.docs.mdx
  src/components/ChoiceGroup/helper.ts
  src/components/ChoiceGroup/types.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

feat(RadioGroup): change getters to optional
  src/components/RadioGroup/RadioGroup.tsx
  src/components/RadioGroup/__stories__/RadioGroup.docs.mdx
  src/components/RadioGroup/helper.ts
  src/components/RadioGroup/types.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

feat(DragNDropField): add property for custom messages and fix bug fith file size
  src/components/DragNDropField/DragNDropField.tsx
  src/components/DragNDropField/__stories__/DragNDropField.docs.mdx
  src/components/DragNDropField/__stories__/examples/DragNDropFieldExampleErrorMessages/DragNDropFieldExampleErrorMessages.tsx
  src/components/DragNDropField/getErrorsList.ts
  src/components/DragNDropField/types.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

test(DragNDropField): rewrite test
  src/components/DragNDropField/__tests__/getErrorsList.test.ts
  src/components/DragNDropField/getErrorsList.ts
Owners: @gizeasy, @N1MBER

refactor(DateTimePicker): refactor renderAdditionalControls
  src/components/DatePickerCanary/DatePickerAdditionalControls/DatePickerAdditionalControls.css
  src/components/DatePickerCanary/DatePickerAdditionalControls/DatePickerAdditionalControls.tsx
  src/components/DatePickerCanary/DatePickerDropdown/DatePickerDropdown.tsx
  src/components/DatePickerCanary/DatePickerTypeDate/DatePickerTypeDate.tsx
  src/components/DatePickerCanary/DatePickerTypeDateRange/DatePickerTypeDateRange.tsx
  src/components/DatePickerCanary/DatePickerTypeDateTime/DatePickerTypeDateTime.tsx
  src/components/DatePickerCanary/DatePickerTypeDateTimeRange/DatePickerTypeDateTimeRange.tsx
  src/components/DatePickerCanary/DatePickerTypeMonth/DatePickerTypeMonth.tsx
  src/components/DatePickerCanary/DatePickerTypeMonthRange/DatePickerTypeMonthRange.tsx
  src/components/DatePickerCanary/DatePickerTypeTime/DatePickerTypeTime.tsx
  src/components/DatePickerCanary/DatePickerTypeYear/DatePickerTypeYear.tsx
  src/components/DatePickerCanary/DatePickerTypeYearRange/DatePickerTypeYearRange.tsx
  src/components/DatePickerCanary/__stories__/DatePicker.docs.mdx
  src/components/DatePickerCanary/__stories__/examples/DatePickerExampleAdditionalControls/DatePickerExampleAdditionalControls.tsx
  src/components/DatePickerCanary/types.ts
  src/components/DateTimeCanary/DateTimeAdditionalControls/DateTimeAdditionalControls.css
  src/components/DateTimeCanary/DateTimeAdditionalControls/DateTimeAdditionalControls.tsx
  src/components/DateTimeCanary/DateTimeTypeDate/DateTimeTypeDate.tsx
  src/components/DateTimeCanary/DateTimeTypeDateTime/DateTimeTypeDateTime.tsx
  src/components/DateTimeCanary/DateTimeTypeMonth/DateTimeTypeMonth.tsx
  src/components/DateTimeCanary/DateTimeTypeTime/DateTimeTypeTime.tsx
  src/components/DateTimeCanary/DateTimeTypeYear/DateTimeTypeYear.tsx
  src/components/DateTimeCanary/__stories__/DateTime.docs.mdx
  src/components/DateTimeCanary/__stories__/DateTime.stories.tsx
  src/components/DateTimeCanary/helpers/types.ts
  src/utils/getByMap.tsx
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

refactor(DateTimePicker): refactor useCurrentVisibleDate
  src/components/DatePickerCanary/DatePickerAdditionalControls/DatePickerAdditionalControls.css
  src/components/DatePickerCanary/DatePickerTypeDate/DatePickerTypeDate.tsx
  src/components/DatePickerCanary/DatePickerTypeDateRange/DatePickerTypeDateRange.tsx
  src/components/DatePickerCanary/DatePickerTypeDateTime/DatePickerTypeDateTime.tsx
  src/components/DatePickerCanary/DatePickerTypeDateTimeRange/DatePickerTypeDateTimeRange.tsx
  src/components/DatePickerCanary/DatePickerTypeMonth/DatePickerTypeMonth.tsx
  src/components/DatePickerCanary/DatePickerTypeMonthRange/DatePickerTypeMonthRange.tsx
  src/components/DatePickerCanary/DatePickerTypeTime/DatePickerTypeTime.tsx
  src/components/DatePickerCanary/DatePickerTypeYear/DatePickerTypeYear.tsx
  src/components/DatePickerCanary/DatePickerTypeYearRange/DatePickerTypeYearRange.tsx
  src/components/DatePickerCanary/helpers.ts
  src/components/DatePickerCanary/useCurrentVisibleDate.tsx
  src/components/DateTimeCanary/helpers/useCurrentVisibleDate.ts
  src/uiKit/components/DocsDecorator/DocsDecorator.tsx
Owners: @kolebayev, @gizeasy, @N1MBER

feat(PortalMenu): add portal menu
  src/components/PortalMenu/PortalMenu.css
  src/components/PortalMenu/PortalMenu.tsx
  src/components/PortalMenu/PortalMenuNavigation/PortalMenuNavigation.tsx
  src/components/PortalMenu/PortalMenuNavigation/PortalMenuNavigationItem/PortalMenuNavigationItem.css
  src/components/PortalMenu/PortalMenuNavigation/PortalMenuNavigationItem/PortalMenuNavigationItem.tsx
  src/components/PortalMenu/PortalMenuPackage/PortalMenuPackage.css
  src/components/PortalMenu/PortalMenuPackage/PortalMenuPackage.tsx
  src/components/PortalMenu/PortalMenuPackage/PortalMenuPackageItem/PortalMenuPackageItem.css
  src/components/PortalMenu/PortalMenuPackage/PortalMenuPackageItem/PortalMenuPackageItem.tsx
  src/components/PortalMenu/__mocks__/mock.data.ts
  src/components/PortalMenu/__stories__/PortalMenu.stories.tsx
  src/components/PortalMenu/__stories__/PortalMenuStories.css
  src/components/PortalMenu/helper.ts
  src/components/PortalMenu/types.ts
Owners: @kolebayev, @gizeasy, @N1MBER

fix(DateTimePicker): fixed bugs
  src/components/DatePickerCanary/DatePickerTypeDateRange/DatePickerTypeDateRange.tsx
  src/components/DatePickerCanary/DatePickerTypeDateTimeRange/DatePickerTypeDateTimeRange.tsx
  src/components/DatePickerCanary/DatePickerTypeMonth/DatePickerTypeMonth.tsx
  src/components/DatePickerCanary/DatePickerTypeMonthRange/DatePickerTypeMonthRange.tsx
  src/components/DateTimeCanary/DateTimeSlider/DateTimeSlider.css
Owners: @gizeasy, @N1MBER, @kolebayev

fix(DatePicker): reder additional props
  src/components/DatePickerCanary/DatePickerDropdown/DatePickerDropdown.tsx
Owners: @gizeasy, @N1MBER

fix
  src/components/DatePickerCanary/DatePickerAdditionalControls/DatePickerAdditionalControls.css
  src/components/DatePickerCanary/DatePickerAdditionalControls/DatePickerAdditionalControls.tsx
  src/components/DatePickerCanary/DatePickerDropdown/DatePickerDropdown.tsx
  src/components/DatePickerCanary/__stories__/DatePicker.stories.tsx
  src/components/DatePickerCanary/__tests__/DatePicker.test.tsx
  src/components/DatePickerCanary/__tests__/helpers.ts
  src/components/DateTimeCanary/__tests__/DateTime.test.tsx
  src/components/DateTimeCanary/__tests__/helpers.ts
Owners: @kolebayev, @gizeasy, @N1MBER

refactor(DatePicker): refactor renderAdditionalControls and useCurrentVisibleDate (#2318)
  src/components/DatePickerCanary/DatePickerAdditionalControls/DatePickerAdditionalControls.css
  src/components/DatePickerCanary/DatePickerAdditionalControls/DatePickerAdditionalControls.tsx
  src/components/DatePickerCanary/DatePickerDropdown/DatePickerDropdown.tsx
  src/components/DatePickerCanary/DatePickerTypeDate/DatePickerTypeDate.tsx
  src/components/DatePickerCanary/DatePickerTypeDateRange/DatePickerTypeDateRange.tsx
  src/components/DatePickerCanary/DatePickerTypeDateTime/DatePickerTypeDateTime.tsx
  src/components/DatePickerCanary/DatePickerTypeDateTimeRange/DatePickerTypeDateTimeRange.tsx
  src/components/DatePickerCanary/DatePickerTypeMonth/DatePickerTypeMonth.tsx
  src/components/DatePickerCanary/DatePickerTypeMonthRange/DatePickerTypeMonthRange.tsx
  src/components/DatePickerCanary/DatePickerTypeTime/DatePickerTypeTime.tsx
  src/components/DatePickerCanary/DatePickerTypeYear/DatePickerTypeYear.tsx
  src/components/DatePickerCanary/DatePickerTypeYearRange/DatePickerTypeYearRange.tsx
  src/components/DatePickerCanary/__stories__/DatePicker.docs.mdx
  src/components/DatePickerCanary/__stories__/DatePicker.stories.tsx
  src/components/DatePickerCanary/__stories__/examples/DatePickerExampleAdditionalControls/DatePickerExampleAdditionalControls.tsx
  src/components/DatePickerCanary/__tests__/DatePicker.test.tsx
  src/components/DatePickerCanary/__tests__/helpers.ts
  src/components/DatePickerCanary/helpers.ts
  src/components/DatePickerCanary/types.ts
  src/components/DatePickerCanary/useCurrentVisibleDate.tsx
  src/components/DateTimeCanary/DateTimeAdditionalControls/DateTimeAdditionalControls.css
  src/components/DateTimeCanary/DateTimeAdditionalControls/DateTimeAdditionalControls.tsx
  src/components/DateTimeCanary/DateTimeSlider/DateTimeSlider.css
  src/components/DateTimeCanary/DateTimeTypeDate/DateTimeTypeDate.tsx
  src/components/DateTimeCanary/DateTimeTypeDateTime/DateTimeTypeDateTime.tsx
  src/components/DateTimeCanary/DateTimeTypeMonth/DateTimeTypeMonth.tsx
  src/components/DateTimeCanary/DateTimeTypeTime/DateTimeTypeTime.tsx
  src/components/DateTimeCanary/DateTimeTypeYear/DateTimeTypeYear.tsx
  src/components/DateTimeCanary/__stories__/DateTime.docs.mdx
  src/components/DateTimeCanary/__stories__/DateTime.stories.tsx
  src/components/DateTimeCanary/__tests__/DateTime.test.tsx
  src/components/DateTimeCanary/__tests__/helpers.ts
  src/components/DateTimeCanary/helpers/types.ts
  src/components/DateTimeCanary/helpers/useCurrentVisibleDate.ts
  src/uiKit/components/DocsDecorator/DocsDecorator.tsx
  src/utils/getByMap.tsx
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

fix(Popover): fixed calculate position
  src/components/Popover/Popover.css
  src/components/Popover/Popover.tsx
  src/components/Popover/__tests__/helpers.test.ts
  src/components/Popover/helpers.ts
Owners: @kolebayev, @gizeasy, @N1MBER

fix(getGroups): fixed calculate groups with groupId = 0
  src/utils/getGroups.ts
Owners: @gizeasy, @N1MBER

fix
  src/utils/getGroups.ts
Owners: @gizeasy, @N1MBER

fix(Popover): fixed calculate position (#2321)
  src/components/Popover/Popover.css
  src/components/Popover/Popover.tsx
  src/components/Popover/__tests__/helpers.test.ts
  src/components/Popover/helpers.ts
Owners: @kolebayev, @gizeasy, @N1MBER

feat(RadioGroupCanary): add RadioGroupCanary
  src/components/RadioGroup/RadioGroup.tsx
  src/components/RadioGroup/helper.ts
  src/components/RadioGroupCanary/RadioGroup.css
  src/components/RadioGroupCanary/RadioGroupCannary.tsx
  src/components/RadioGroupCanary/__mocks__/data.mock.ts
  src/components/RadioGroupCanary/__stories__/RadioGroup.docs.mdx
  src/components/RadioGroupCanary/__stories__/RadioGroup.image.svg
  src/components/RadioGroupCanary/__stories__/RadioGroup.stories.tsx
  src/components/RadioGroupCanary/__stories__/examples/RadioGroupExampleAlign/RadioGroupExampleAlign.tsx
  src/components/RadioGroupCanary/__stories__/examples/RadioGroupExampleDisabled/RadioGroupExampleDisabled.tsx
  src/components/RadioGroupCanary/__stories__/examples/RadioGroupExampleSize/RadioGroupExampleSize.tsx
  src/components/RadioGroupCanary/__stories__/examples/RadioGroupExampleUse/RadioGroupExampleUse.tsx
  src/components/RadioGroupCanary/__stories__/examples/RadioGroupExampleView/RadioGroupExampleView.tsx
  src/components/RadioGroupCanary/__tests__/RadioGroup.test.tsx
  src/components/RadioGroupCanary/helper.ts
  src/components/RadioGroupCanary/types.ts
Owners: @gizeasy, @N1MBER, @kolebayev, @arhayka

feat(ChoiceGroupCanary): add ChoiceGroupCanary
  src/components/ChoiceGroup/ChoiceGroup.tsx
  src/components/ChoiceGroup/helper.ts
  src/components/ChoiceGroupCanary/ChoiceGroup.css
  src/components/ChoiceGroupCanary/ChoiceGroupCanary.tsx
  src/components/ChoiceGroupCanary/Item/ChoiceGroup-Item.tsx
  src/components/ChoiceGroupCanary/__stories__/ChoiceGroup.docs.mdx
  src/components/ChoiceGroupCanary/__stories__/ChoiceGroup.image.svg
  src/components/ChoiceGroupCanary/__stories__/ChoiceGroup.stories.tsx
  src/components/ChoiceGroupCanary/__stories__/examples/ChoiceGroupExampleAdaptive/ChoiceGroupExampleAdaptive.tsx
  src/components/ChoiceGroupCanary/__stories__/examples/ChoiceGroupExampleAdaptive/ChoiceGroupExampleAdaptiveScroll.css
  src/components/ChoiceGroupCanary/__stories__/examples/ChoiceGroupExampleDisabled/ChoiceGroupExampleDisabled.tsx
  src/components/ChoiceGroupCanary/__stories__/examples/ChoiceGroupExampleForm/ChoiceGroupExampleForm.tsx
  src/components/ChoiceGroupCanary/__stories__/examples/ChoiceGroupExampleIcon/ChoiceGroupExampleIcon.tsx
  src/components/ChoiceGroupCanary/__stories__/examples/ChoiceGroupExampleMultiple/ChoiceGroupExampleMultiple.tsx
  src/components/ChoiceGroupCanary/__stories__/examples/ChoiceGroupExampleSize/ChoiceGroupExampleSize.tsx
  src/components/ChoiceGroupCanary/__stories__/examples/ChoiceGroupExampleSomeDisabled/ChoiseGroupExampleSomeDisabled.tsx
  src/components/ChoiceGroupCanary/__stories__/examples/ChoiceGroupExampleSwitch/ChoiceGroupExampleSwitch.tsx
  src/components/ChoiceGroupCanary/__stories__/examples/ChoiceGroupExampleText/ChoiceGroupExampleText.tsx
  src/components/ChoiceGroupCanary/__stories__/examples/ChoiceGroupExampleTextOverflow/ChoiceGroupExampleTextOverflow.tsx
  src/components/ChoiceGroupCanary/__stories__/examples/ChoiceGroupExampleView/ChoiceGroupExampleView.tsx
  src/components/ChoiceGroupCanary/__stories__/examples/ChoiceGroupExampleWidth/ChoiceGroupExampleWidth.tsx
  src/components/ChoiceGroupCanary/__tests__/ChoiceGroup.test.tsx
  src/components/ChoiceGroupCanary/helper.ts
  src/components/ChoiceGroupCanary/types.ts
Owners: @gizeasy, @N1MBER, @kolebayev, @arhayka

feat(TabsCanary): add TabsCanary
  src/components/Tabs/FitModeScrollWrapper/helpers.ts
  src/components/Tabs/MoreItems/TabsMoreItems.tsx
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/helpers.ts
  src/components/TabsCanary/FitModeDropdownWrapper/TabsFitModeDropdownWrapper.css
  src/components/TabsCanary/FitModeDropdownWrapper/TabsFitModeDropdownWrapper.tsx
  src/components/TabsCanary/FitModeDropdownWrapper/__tests__/useFittingItems.ts
  src/components/TabsCanary/FitModeDropdownWrapper/useFittingItems.ts
  src/components/TabsCanary/FitModeScrollWrapper/TabsFitModeScrollWrapper.css
  src/components/TabsCanary/FitModeScrollWrapper/TabsFitModeScrollWrapper.tsx
  src/components/TabsCanary/FitModeScrollWrapper/__test__/helpers.test.ts
  src/components/TabsCanary/Line/TabsLine.css
  src/components/TabsCanary/Line/TabsLine.tsx
  src/components/TabsCanary/MoreItems/TabsMoreItems.css
  src/components/TabsCanary/MoreItems/TabsMoreItems.tsx
  src/components/TabsCanary/Tab/TabsTab.css
  src/components/TabsCanary/Tab/TabsTab.tsx
  src/components/TabsCanary/Tabs.css
  src/components/TabsCanary/TabsCanary.tsx
  src/components/TabsCanary/__stories__/Tabs.docs.mdx
  src/components/TabsCanary/__stories__/Tabs.image.svg
  src/components/TabsCanary/__stories__/Tabs.stories.tsx
  src/components/TabsCanary/__stories__/examples/TabsExample/TabsExample.tsx
  src/components/TabsCanary/__stories__/examples/TabsExampleFitModeDropdown/TabsExampleFitModeDropdown.tsx
  src/components/TabsCanary/__stories__/examples/TabsExampleFitModeScroll/TabsExampleFitModeScroll.tsx
  src/components/TabsCanary/__stories__/examples/TabsExampleIcon/TabsExampleIcon.tsx
  src/components/TabsCanary/__stories__/examples/TabsExampleLinePosition/TabsExampleLinePosition.tsx
  src/components/TabsCanary/__stories__/examples/TabsExampleRenderItem/TabsExampleRenderItem.tsx
  src/components/TabsCanary/__stories__/examples/TabsExampleSize/TabsExampleSize.tsx
  src/components/TabsCanary/__stories__/examples/TabsExampleView/TabsExampleView.tsx
  src/components/TabsCanary/__tests__/Tabs.test.tsx
  src/components/TabsCanary/helpers.tsx
  src/components/TabsCanary/types.ts
Owners: @gizeasy, @N1MBER, @kolebayev, @arhayka

feat(SwitchGroupCanary): add SwitchGroupCanary
  src/components/SwitchGroup/SwitchGroup.tsx
  src/components/SwitchGroup/helpers.ts
  src/components/SwitchGroupCanary/SwitchGroup.css
  src/components/SwitchGroupCanary/SwitchGroupCanary.tsx
  src/components/SwitchGroupCanary/__stories__/SwitchGroup.docs.mdx
  src/components/SwitchGroupCanary/__stories__/SwitchGroup.image.svg
  src/components/SwitchGroupCanary/__stories__/SwitchGroup.stories.tsx
  src/components/SwitchGroupCanary/__stories__/examples/SwitchGroupExampleDirection/SwitchGroupExampleDirection.tsx
  src/components/SwitchGroupCanary/__stories__/examples/SwitchGroupExampleDisabled/SwitchGroupExampleDisabled.tsx
  src/components/SwitchGroupCanary/__stories__/examples/SwitchGroupExampleSize/SwitchGroupExampleSize.tsx
  src/components/SwitchGroupCanary/__stories__/examples/SwitchGroupExampleView/SwitchGroupExampleView.tsx
  src/components/SwitchGroupCanary/__tests__/SwitchGroup.test.tsx
  src/components/SwitchGroupCanary/helpers.ts
  src/components/SwitchGroupCanary/types.ts
Owners: @gizeasy, @N1MBER, @kolebayev, @arhayka

fix(PortalMenu): fix logic and types
  src/components/PortalMenu/PortalMenu.css
  src/components/PortalMenu/PortalMenu.tsx
  src/components/PortalMenu/PortalMenuItem/PortalMenuItem.css
  src/components/PortalMenu/PortalMenuItem/PortalMenuItem.tsx
  src/components/PortalMenu/PortalMenuNavigation/PortalMenuNavigation.tsx
  src/components/PortalMenu/PortalMenuNavigation/PortalMenuNavigationItem/PortalMenuNavigationItem.tsx
  src/components/PortalMenu/PortalMenuPackage/PortalMenuPackage.css
  src/components/PortalMenu/PortalMenuPackage/PortalMenuPackage.tsx
  src/components/PortalMenu/PortalMenuPackage/PortalMenuPackageItem/PortalMenuPackageItem.css
  src/components/PortalMenu/PortalMenuPackage/PortalMenuPackageItem/PortalMenuPackageItem.tsx
  src/components/PortalMenu/__mocks__/mock.data.tsx
  src/components/PortalMenu/__stories__/PortalMenu.stories.tsx
  src/components/PortalMenu/helper.ts
  src/components/PortalMenu/types.ts
Owners: @kolebayev, @gizeasy, @N1MBER

add tests to useKeys
  src/hooks/useKeys/__tests__/useKeys.test.tsx
Owners: @gizeasy, @N1MBER

feat:
  src/components/Select/__tests__/Select.test.tsx
  src/components/SelectComponents/SelectCreateButton/SelectCreateButton.tsx
  src/components/SelectComponents/SelectLoader/SelectLoader.tsx
  src/components/SelectComponents/__tests__/SelectCreateButton.test.tsx
  src/components/SelectComponents/__tests__/SelectDropdown.test.tsx
  src/components/SelectComponents/__tests__/SelectValueTag.test.tsx
Owners: @gizeasy, @N1MBER

feat(CheckboxGroupCanary): add CheckboxGroupCanary
  src/components/CheckboxGroup/CheckboxGroup.tsx
  src/components/CheckboxGroup/helper.ts
  src/components/CheckboxGroupCanary/CheckboxGroup.css
  src/components/CheckboxGroupCanary/CheckboxGroupCanary.tsx
  src/components/CheckboxGroupCanary/__mocks__/data.mock.ts
  src/components/CheckboxGroupCanary/__stories__/CheckboxGroup.docs.mdx
  src/components/CheckboxGroupCanary/__stories__/CheckboxGroup.image.svg
  src/components/CheckboxGroupCanary/__stories__/CheckboxGroup.stories.tsx
  src/components/CheckboxGroupCanary/__stories__/examples/CheckboxGroupExampleDirection/CheckboxGroupExampleDirection.tsx
  src/components/CheckboxGroupCanary/__stories__/examples/CheckboxGroupExampleDisabled/CheckboxGroupExampleDisabled.tsx
  src/components/CheckboxGroupCanary/__stories__/examples/CheckboxGroupExampleName/CheckboxGroupExampleName.tsx
  src/components/CheckboxGroupCanary/__stories__/examples/CheckboxGroupExampleSize/CheckboxGroupExampleSize.tsx
  src/components/CheckboxGroupCanary/__stories__/examples/CheckboxGroupExampleView/CheckboxGroupExampleView.tsx
  src/components/CheckboxGroupCanary/__tests__/CheckboxGroup.test.tsx
  src/components/CheckboxGroupCanary/helper.ts
  src/components/CheckboxGroupCanary/types.ts
Owners: @gizeasy, @N1MBER, @kolebayev, @arhayka

test(Table): add tests to Table
  src/components/Table/FilterTooltip/TableFilterTooltip.tsx
  src/components/Table/Header/TableHeader.tsx
  src/components/Table/RowsCollapse/TableRowsCollapse.tsx
  src/components/Table/Table.tsx
  src/components/Table/__mock__/data.mock.tsx
  src/components/Table/__tests__/Table.test.tsx
Owners: @gizeasy, @N1MBER

docs(ChoiceGroup): docs review for canary
  src/components/ChoiceGroupCanary/__stories__/ChoiceGroup.docs.mdx
Owners: @arhayka, @kolebayev

docs(RadioGroup): docs review
  src/components/RadioGroupCanary/__stories__/RadioGroup.docs.mdx
Owners: @arhayka, @kolebayev

.github/CODEOWNERS:

* @gizeasy @N1MBER 
*.md @arhayka @kolebayev
*.mdx @arhayka @kolebayev
*.css @kolebayev
