Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @alyonurchick1, @linturaven

.github/CODEOWNERS:

* @gizeasy
*.md @alyonurchick1
*.mdx @alyonurchick1
*.css @linturaven

docs(switch): update onChange docs for Switch (#3829)
  src/components/Switch/__stand__/Switch.dev.stand.mdx
Owners: @alyonurchick1

fix(Informer): fixed icon position
  src/components/Informer/Informer.css
Owners: @linturaven

fix(Informer): fixed icon position (#3831)
  src/components/Informer/Informer.css
Owners: @linturaven

release: 5.15.0
  package.json
Owners: @gizeasy

changelog: 5.15.0
  CHANGELOG.md
Owners: @alyonurchick1

feat(tag): add disabled prop
  src/components/Tag/Tag.tsx
  src/components/Tag/__stand__/Tag.dev.stand.mdx
  src/components/Tag/__stand__/Tag.variants.tsx
  src/components/Tag/__tests__/Tag.test.tsx
  src/components/TagBase/TagBase.css
  src/components/TagBase/TagBase.tsx
Owners: @gizeasy, @alyonurchick1, @linturaven

замена англицизмов
  cspell.json
  src/components/Attachment/__stand__/Attachment.dev.stand.mdx
  src/components/AttachmentDeprecated/__stand__/Attachment.dev.stand.mdx
  src/components/AutoComplete/__stand__/AutoComplete.dev.stand.mdx
  src/components/AutoCompleteCanary/__stand__/AutoComplete.dev.stand.mdx
  src/components/Button/__stand__/Button.dev.stand.mdx
  src/components/Card/__stand__/Card.dev.stand.mdx
  src/components/Checkbox/__stand__/Checkbox.dev.stand.mdx
  src/components/CheckboxDeprecated/__stand__/Checkbox.dev.stand.mdx
  src/components/ChoiceGroup/__tests__/ChoiceGroup.test.tsx
  src/components/Combobox/__stand__/Combobox.dev.stand.mdx
  src/components/ComboboxDeprecated/__stand__/Combobox.dev.stand.mdx
  src/components/DatePicker/__stand__/DatePicker.dev.stand.mdx
  src/components/DragNDropFieldCanary/__stand__/DragNDropField.dev.stand.mdx
  src/components/ListCanary/__stand__/List.dev.stand.mdx
  src/components/Loader/__stand__/Loader.dev.stand.mdx
  src/components/LoaderDeprecated/__stand__/Loader.dev.stand.mdx
  src/components/ProgressLine/__stand__/ProgressLine.stand.mdx
  src/components/Radio/__stand__/Radio.dev.stand.mdx
  src/components/Select/__stand__/Select.dev.stand.mdx
  src/components/SelectDeprecated/__stand__/Select.dev.stand.mdx
  src/components/Spoiler/__stand__/Spoiler.dev.stand.mdx
  src/components/Table/__stand__/Table.dev.stand.mdx
  src/components/Tabs/TabsFitModeDropdownWrapper/__tests__/useFittingItems.ts
  src/components/TextField/__tests__/TextField.test.tsx
  src/components/TextFieldCanary/__stand__/TextField.dev.stand.mdx
  src/components/Theme/__stand__/Theme.dev.stand.mdx
  src/components/Theme/_color/Theme_color_gpnDark.css
  src/components/Theme/_color/Theme_color_gpnDefault.css
  src/components/Theme/_color/Theme_color_gpnDisplay.css
  src/components/Theme/_control/Theme_control_gpnDefault.css
  src/components/UserSelect/__stand__/UserSelect.dev.stand.mdx
  src/components/UserSelectDeprecated/__stand__/UserSelect.dev.stand.mdx
  src/hooks/useGlobalKeys/__stand__/useGlobalKeys.stand.mdx
  src/hooks/useVirtualScroll/__stand__/useVirtualScroll.stand.mdx
  src/uiKit/components/ThemePreview/helpers.ts
Owners: @gizeasy, @alyonurchick1, @linturaven

замена англицизмов
  src/components/Badge/__stand__/Badge.stand.mdx
  src/components/Chips/__stand__/Chips.dev.stand.mdx
  src/components/DateTime/helpers/useCurrentVisibleDate.ts
  src/components/Modal/Modal.tsx
  src/components/Pagination/__stand__/Pagination.dev.stand.mdx
  src/components/Popover/Popover.tsx
  src/components/Table/Resizer/TableResizer.tsx
  src/components/Table/__tests__/Table.test.tsx
  src/components/Tabs/TabsFitModeScrollWrapper/__test__/helpers.test.ts
  src/components/Text/__stand__/Text.dev.stand.mdx
  src/components/TextDeprecated/__stand__/Text.dev.stand.mdx
  src/components/TextFieldCanary/__tests__/TextField.test.tsx__
  src/hocs/withTooltip/withTooltip.tsx
  src/hooks/useClickOutside/useClickOutside.tsx
Owners: @alyonurchick1, @gizeasy

feat(Attachment): add actions
  package.json
  src/components/Attachment/Attachment.css
  src/components/Attachment/Attachment.tsx
  src/components/Attachment/__stand__/Attachment.dev.stand.mdx
  src/components/Attachment/__stand__/Attachment.variants.css
  src/components/Attachment/__stand__/Attachment.variants.tsx
  src/components/Attachment/__stand__/examples/AttachmentExampleActions/AttachmentExampleActions.tsx
  src/components/Attachment/__stand__/examples/AttachmentExampleEvents/AttachmentExampleEvents.tsx
  src/components/Attachment/types.ts
  yarn.lock
Owners: @gizeasy, @linturaven, @alyonurchick1

Update ProgressLine.stand.mdx
  src/components/ProgressLine/__stand__/ProgressLine.stand.mdx
Owners: @alyonurchick1

check fixes
  package.json
  src/components/ProgressLine/__stand__/ProgressLine.stand.mdx
  src/components/Spoiler/__stand__/Spoiler.stand.mdx
  yarn.lock
Owners: @gizeasy, @alyonurchick1

feat(Loader): add _view_circle
  src/components/Button/Button.css
  src/components/Button/Button.tsx
  src/components/Loader/Loader.css
  src/components/Loader/Loader.tsx
  src/components/Loader/__stand__/Loader.dev.stand.mdx
  src/components/Loader/__stand__/Loader.variants.tsx
  src/components/Loader/__stand__/examples/LoaderExampleCustomColor/LoaderExampleCustomColor.css
  src/components/Loader/__stand__/examples/LoaderExampleCustomColor/LoaderExampleCustomColor.tsx
  src/components/Loader/__stand__/examples/LoaderExampleCustomSize/LoaderExampleCustomSize.css
  src/components/Loader/__stand__/examples/LoaderExampleCustomSize/LoaderExampleCustomSize.tsx
  src/components/Loader/__stand__/examples/LoaderExampleSize/LoaderExampleSize.tsx
  src/components/Loader/__tests__/Loader.test.tsx
  src/components/Loader/types.ts
Owners: @linturaven, @gizeasy, @alyonurchick1

docs(AutoComplete): add docs for `searchDebounceDelay` in `AutoComplete`
  src/components/AutoComplete/AutoComplete.tsx
  src/components/AutoComplete/__stand__/AutoComplete.dev.stand.mdx
  src/components/AutoComplete/__stand__/examples/AutoCompleteExampleDebounce/AutoCompleteExampleDebounce.tsx
Owners: @gizeasy, @alyonurchick1

feat(Tag): add disabled prop (#3841)
  src/components/Tag/Tag.tsx
  src/components/Tag/__stand__/Tag.dev.stand.mdx
  src/components/Tag/__stand__/Tag.variants.tsx
  src/components/Tag/__tests__/Tag.test.tsx
  src/components/TagBase/TagBase.css
  src/components/TagBase/TagBase.tsx
Owners: @gizeasy, @alyonurchick1, @linturaven

fix(DataPicker): fixed visited date
  src/components/DatePicker/DatePickerTypeDateRange/DatePickerTypeDateRange.tsx
  src/components/DatePicker/DatePickerTypeDateTime/DatePickerTypeDateTime.tsx
  src/components/DatePicker/DatePickerTypeDateTimeRange/DatePickerTypeDateTimeRange.tsx
  src/components/DatePicker/DatePickerTypeMonthRange/DatePickerTypeMonthRange.tsx
  src/components/DatePicker/DatePickerTypeYearRange/DatePickerTypeYearRange.tsx
  src/components/DatePicker/__stand__/DatePicker.variants.css
  src/components/DatePicker/__stand__/DatePicker.variants.tsx
  src/components/DatePicker/timeForMap.ts
  src/components/DateTime/helpers/useCurrentVisibleDate.ts
Owners: @gizeasy, @linturaven

fix(DataPicker): fixed visited date (#3850)
  src/components/DatePicker/DatePickerTypeDateRange/DatePickerTypeDateRange.tsx
  src/components/DatePicker/DatePickerTypeDateTime/DatePickerTypeDateTime.tsx
  src/components/DatePicker/DatePickerTypeDateTimeRange/DatePickerTypeDateTimeRange.tsx
  src/components/DatePicker/DatePickerTypeMonthRange/DatePickerTypeMonthRange.tsx
  src/components/DatePicker/DatePickerTypeYearRange/DatePickerTypeYearRange.tsx
  src/components/DatePicker/__stand__/DatePicker.variants.css
  src/components/DatePicker/__stand__/DatePicker.variants.tsx
  src/components/DatePicker/timeForMap.ts
  src/components/DateTime/helpers/useCurrentVisibleDate.ts
Owners: @gizeasy, @linturaven

chore(cspell): add --no-progress flag
  .github/workflows/tests.yml
Owners: @gizeasy

chore(cspell): add --no-progress flag (#3851)
  .github/workflows/tests.yml
Owners: @gizeasy

Update Loader.dev.stand.mdx
  src/components/Loader/__stand__/Loader.dev.stand.mdx
Owners: @alyonurchick1

Update Attachment.dev.stand.mdx
  src/components/Attachment/__stand__/Attachment.dev.stand.mdx
Owners: @alyonurchick1

Update Attachment.dev.stand.mdx
  src/components/Attachment/__stand__/Attachment.dev.stand.mdx
Owners: @alyonurchick1

update stand
  package.json
  yarn.lock
Owners: @gizeasy

feat(Loader): add _view_circle (#3849)
  package.json
  src/components/Button/Button.css
  src/components/Button/Button.tsx
  src/components/Loader/Loader.css
  src/components/Loader/Loader.tsx
  src/components/Loader/__stand__/Loader.dev.stand.mdx
  src/components/Loader/__stand__/Loader.variants.tsx
  src/components/Loader/__stand__/examples/LoaderExampleCustomColor/LoaderExampleCustomColor.css
  src/components/Loader/__stand__/examples/LoaderExampleCustomColor/LoaderExampleCustomColor.tsx
  src/components/Loader/__stand__/examples/LoaderExampleCustomSize/LoaderExampleCustomSize.css
  src/components/Loader/__stand__/examples/LoaderExampleCustomSize/LoaderExampleCustomSize.tsx
  src/components/Loader/__stand__/examples/LoaderExampleSize/LoaderExampleSize.tsx
  src/components/Loader/__tests__/Loader.test.tsx
  src/components/Loader/types.ts
  yarn.lock
Owners: @gizeasy, @linturaven, @alyonurchick1

feat(Attachment): add actions (#3846)
  src/components/Attachment/Attachment.css
  src/components/Attachment/Attachment.tsx
  src/components/Attachment/__stand__/Attachment.dev.stand.mdx
  src/components/Attachment/__stand__/Attachment.variants.css
  src/components/Attachment/__stand__/Attachment.variants.tsx
  src/components/Attachment/__stand__/examples/AttachmentExampleActions/AttachmentExampleActions.tsx
  src/components/Attachment/__stand__/examples/AttachmentExampleEvents/AttachmentExampleEvents.tsx
  src/components/Attachment/types.ts
Owners: @linturaven, @gizeasy, @alyonurchick1

test(Attachment): fix test
  src/components/Attachment/Attachment.tsx
  src/components/Attachment/__tests__/Attachment.test.tsx
Owners: @gizeasy

release: 5.16.0
  package.json
Owners: @gizeasy

changelog: 5.16.0
  CHANGELOG.md
Owners: @alyonurchick1

feat(Steps): new canary component
  .husky/pre-commit
  .husky/pre-push
  src/components/StepsCanary/Steps.css
  src/components/StepsCanary/StepsCanary.tsx
  src/components/StepsCanary/StepsItem/StepsItem.css
  src/components/StepsCanary/StepsItem/StepsItem.tsx
  src/components/StepsCanary/StepsItem/index.ts
  src/components/StepsCanary/__mocks__/mock.data.ts
  src/components/StepsCanary/__mocks__/props.mocks.ts
  src/components/StepsCanary/__stand__/Steps.dev.stand.mdx
  src/components/StepsCanary/__stand__/Steps.image.svg
  src/components/StepsCanary/__stand__/Steps.stand.mdx
  src/components/StepsCanary/__stand__/Steps.stand.tsx
  src/components/StepsCanary/__stand__/Steps.variants.css
  src/components/StepsCanary/__stand__/Steps.variants.tsx
  src/components/StepsCanary/__stand__/examples/ExampleStepsAdaptive/ExampleStepsAdaptive.tsx
  src/components/StepsCanary/__stand__/examples/ExampleStepsCompleted/ExampleStepsCompleted.tsx
  src/components/StepsCanary/__stand__/examples/ExampleStepsContent/ExampleStepsContent.tsx
  src/components/StepsCanary/__stand__/examples/ExampleStepsDisabled/ExampleStepsDisabled.tsx
  src/components/StepsCanary/__stand__/examples/ExampleStepsSize/ExampleStepsSize.tsx
  src/components/StepsCanary/__stand__/examples/ExampleStepsSkipped/ExampleStepsSkipped.tsx
  src/components/StepsCanary/__stand__/examples/ExampleStepsValue/ExampleStepsValue.tsx
  src/components/StepsCanary/__tests__/Steps.test.tsx
  src/components/StepsCanary/helper.ts
  src/components/StepsCanary/index.ts
  src/components/StepsCanary/types.ts
Owners: @gizeasy, @linturaven, @alyonurchick1

feat(Steps): new canary component
  .husky/pre-commit
  .husky/pre-push
  src/components/Badge/Badge.css
  src/components/StepsCanary/Steps.css
  src/components/StepsCanary/StepsCanary.tsx
  src/components/StepsCanary/StepsItem/StepsItem.css
  src/components/StepsCanary/StepsItem/StepsItem.tsx
  src/components/StepsCanary/StepsItem/index.ts
  src/components/StepsCanary/__mocks__/mock.data.ts
  src/components/StepsCanary/__mocks__/props.mocks.ts
  src/components/StepsCanary/__stand__/Steps.dev.stand.mdx
  src/components/StepsCanary/__stand__/Steps.image.svg
  src/components/StepsCanary/__stand__/Steps.stand.mdx
  src/components/StepsCanary/__stand__/Steps.stand.tsx
  src/components/StepsCanary/__stand__/Steps.variants.css
  src/components/StepsCanary/__stand__/Steps.variants.tsx
  src/components/StepsCanary/__stand__/examples/ExampleStepsAdaptive/ExampleStepsAdaptive.tsx
  src/components/StepsCanary/__stand__/examples/ExampleStepsCompleted/ExampleStepsCompleted.tsx
  src/components/StepsCanary/__stand__/examples/ExampleStepsContent/ExampleStepsContent.tsx
  src/components/StepsCanary/__stand__/examples/ExampleStepsDisabled/ExampleStepsDisabled.tsx
  src/components/StepsCanary/__stand__/examples/ExampleStepsSize/ExampleStepsSize.tsx
  src/components/StepsCanary/__stand__/examples/ExampleStepsSkipped/ExampleStepsSkipped.tsx
  src/components/StepsCanary/__stand__/examples/ExampleStepsValue/ExampleStepsValue.tsx
  src/components/StepsCanary/__tests__/Steps.test.tsx
  src/components/StepsCanary/helper.ts
  src/components/StepsCanary/index.ts
  src/components/StepsCanary/types.ts
Owners: @gizeasy, @linturaven, @alyonurchick1

ааа
  src/components/Badge/Badge.tsx
  src/components/StepsCanary/Steps.css
  src/components/StepsCanary/StepsCanary.tsx
  src/components/StepsCanary/StepsItem/StepsItem.css
  src/components/StepsCanary/StepsItem/StepsItem.tsx
  src/components/StepsCanary/__mocks__/mock.data.ts
  src/components/StepsCanary/__stand__/Steps.dev.stand.mdx
  src/components/StepsCanary/__stand__/Steps.stand.mdx
  src/components/StepsCanary/__stand__/Steps.variants.css
  src/components/StepsCanary/__stand__/Steps.variants.tsx
  src/components/StepsCanary/__stand__/examples/ExampleStepsAdaptive/ExampleStepsAdaptive.tsx
  src/components/StepsCanary/__stand__/examples/ExampleStepsCompleted/ExampleStepsCompleted.tsx
  src/components/StepsCanary/__stand__/examples/ExampleStepsDisabled/ExampleStepsDisabled.tsx
  src/components/StepsCanary/__stand__/examples/ExampleStepsIcon/ExampleStepsIcon.tsx
  src/components/StepsCanary/__stand__/examples/ExampleStepsSkipped/ExampleStepsSkipped.tsx
  src/components/StepsCanary/__stand__/examples/ExampleStepsStatus/ExampleStepsStatus.tsx
  src/components/StepsCanary/__stand__/examples/ExampleStepsWithNumber/ExampleStepsWithNumber.tsx
  src/components/StepsCanary/types.ts
  src/hooks/useScrollElements/useScrollElements.tsx
Owners: @gizeasy, @linturaven, @alyonurchick1

jjj
  src/components/StepsCanary/Steps.css
  src/components/StepsCanary/StepsCanary.tsx
  src/components/StepsCanary/__stand__/Steps.dev.stand.mdx
  src/components/StepsCanary/__stand__/Steps.variants.css
  src/components/StepsCanary/__stand__/Steps.variants.tsx
  src/components/StepsCanary/__stand__/examples/ExampleStepsAdaptive/ExampleStepsAdaptive.tsx
  src/components/StepsCanary/types.ts
Owners: @linturaven, @gizeasy, @alyonurchick1

feat(Steps): new canary component
  package.json
  src/components/Badge/Badge.css
  src/components/Badge/Badge.tsx
  src/components/StepsCanary/Steps.css
  src/components/StepsCanary/StepsCanary.tsx
  src/components/StepsCanary/StepsItem/StepsItem.css
  src/components/StepsCanary/StepsItem/StepsItem.tsx
  src/components/StepsCanary/StepsItem/index.ts
  src/components/StepsCanary/__mocks__/mock.data.ts
  src/components/StepsCanary/__mocks__/props.mocks.ts
  src/components/StepsCanary/__stand__/Steps.dev.stand.mdx
  src/components/StepsCanary/__stand__/Steps.image.svg
  src/components/StepsCanary/__stand__/Steps.stand.mdx
  src/components/StepsCanary/__stand__/Steps.stand.tsx
  src/components/StepsCanary/__stand__/Steps.variants.css
  src/components/StepsCanary/__stand__/Steps.variants.tsx
  src/components/StepsCanary/__stand__/examples/ExampleStepsAdaptive/ExampleStepsAdaptive.tsx
  src/components/StepsCanary/__stand__/examples/ExampleStepsContent/ExampleStepsContent.tsx
  src/components/StepsCanary/__stand__/examples/ExampleStepsDisabled/ExampleStepsDisabled.tsx
  src/components/StepsCanary/__stand__/examples/ExampleStepsIcon/ExampleStepsIcon.tsx
  src/components/StepsCanary/__stand__/examples/ExampleStepsSize/ExampleStepsSize.tsx
  src/components/StepsCanary/__stand__/examples/ExampleStepsStatus/ExampleStepsStatus.tsx
  src/components/StepsCanary/__stand__/examples/ExampleStepsValue/ExampleStepsValue.tsx
  src/components/StepsCanary/__stand__/examples/ExampleStepsWithNumber/ExampleStepsWithNumber.tsx
  src/components/StepsCanary/__tests__/Steps.test.tsx
  src/components/StepsCanary/helper.ts
  src/components/StepsCanary/index.ts
  src/components/StepsCanary/types.ts
  src/hooks/useScrollElements/useScrollElements.tsx
Owners: @gizeasy, @linturaven, @alyonurchick1

edit docs
  src/components/StepsCanary/__stand__/Steps.dev.stand.mdx
  src/components/StepsCanary/__stand__/Steps.stand.mdx
Owners: @alyonurchick1

add hover and focus effect
  src/components/StepsCanary/StepsItem/StepsItem.css
  src/components/StepsCanary/StepsItem/StepsItem.tsx
Owners: @linturaven, @gizeasy

optimization render
  src/components/StepsCanary/StepsItem/StepsItem.css
  src/components/StepsCanary/StepsItem/StepsItem.tsx
Owners: @linturaven, @gizeasy

feat(Steps): new canary component (#3861)
  src/components/Badge/Badge.css
  src/components/Badge/Badge.tsx
  src/components/StepsCanary/Steps.css
  src/components/StepsCanary/StepsCanary.tsx
  src/components/StepsCanary/StepsItem/StepsItem.css
  src/components/StepsCanary/StepsItem/StepsItem.tsx
  src/components/StepsCanary/StepsItem/index.ts
  src/components/StepsCanary/__mocks__/mock.data.ts
  src/components/StepsCanary/__mocks__/props.mocks.ts
  src/components/StepsCanary/__stand__/Steps.dev.stand.mdx
  src/components/StepsCanary/__stand__/Steps.image.svg
  src/components/StepsCanary/__stand__/Steps.stand.mdx
  src/components/StepsCanary/__stand__/Steps.stand.tsx
  src/components/StepsCanary/__stand__/Steps.variants.css
  src/components/StepsCanary/__stand__/Steps.variants.tsx
  src/components/StepsCanary/__stand__/examples/ExampleStepsAdaptive/ExampleStepsAdaptive.tsx
  src/components/StepsCanary/__stand__/examples/ExampleStepsContent/ExampleStepsContent.tsx
  src/components/StepsCanary/__stand__/examples/ExampleStepsDisabled/ExampleStepsDisabled.tsx
  src/components/StepsCanary/__stand__/examples/ExampleStepsIcon/ExampleStepsIcon.tsx
  src/components/StepsCanary/__stand__/examples/ExampleStepsSize/ExampleStepsSize.tsx
  src/components/StepsCanary/__stand__/examples/ExampleStepsStatus/ExampleStepsStatus.tsx
  src/components/StepsCanary/__stand__/examples/ExampleStepsValue/ExampleStepsValue.tsx
  src/components/StepsCanary/__stand__/examples/ExampleStepsWithNumber/ExampleStepsWithNumber.tsx
  src/components/StepsCanary/__tests__/Steps.test.tsx
  src/components/StepsCanary/helper.ts
  src/components/StepsCanary/index.ts
  src/components/StepsCanary/types.ts
  src/hooks/useScrollElements/useScrollElements.tsx
Owners: @linturaven, @gizeasy, @alyonurchick1

test(StepsCanary): edit tests
  package.json
  src/components/StepsCanary/StepsItem/StepsItem.tsx
  src/components/StepsCanary/__tests__/Steps.test.tsx
Owners: @gizeasy

release: 5.17.0
  package.json
Owners: @gizeasy

changelog: 5.17.0
  CHANGELOG.md
Owners: @alyonurchick1

feat(tabs): add same name tabs variant
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/TabsFitModeDropdownWrapper/TabsFitModeDropdownWrapper.tsx
  src/components/Tabs/TabsMoreItems/TabsMoreItems.tsx
  src/components/Tabs/__stand__/Tabs.dev.stand.mdx
  src/components/Tabs/helpers.tsx
  src/components/Tabs/types.ts
Owners: @gizeasy, @alyonurchick1
