Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @alyonurchick1, @linturaven

feat(DatePicker/helpers): add duplicateSingleDecadeValues utility for mask autocomplete prevention
  src/components/DatePicker/helpers.ts
Owners: @gizeasy

feat(DatePickerFieldTypeTime): memoize time mask blocks generation
  src/components/DatePicker/DatePickerFieldTypeTime/helpers.ts
Owners: @gizeasy

feat(DatePickerFieldTypeDateTime): memoize time mask blocks generation
  src/components/DatePicker/DatePickerFieldTypeDateTime/helpers.ts
Owners: @gizeasy

test(DatePicker/helpers): expand test coverage for time mask utilities
  src/components/DatePicker/__tests__/DatePicker_helpers.test.tsx
Owners: @gizeasy

test(DatePickerFieldTypeTime/helpers): add comprehensive tests for mask generation
  src/components/DatePicker/__tests__/DatePickerFieldTypeTime/DatePicker_field_type_time_helpers.test.tsx
Owners: @gizeasy

test(DatePickerFieldTypeDateTime): add comprehensive tests for mask generation
  src/components/DatePicker/__tests__/DatePickerFieldTypeDateTime/DatePicker_field_type_dateTime_helpers.test.tsx
Owners: @gizeasy

feat(DatePicker/helpers): simplify mask blocks configuration and remove complex logic
  src/components/DatePicker/helpers.ts
Owners: @gizeasy

feat(DatePickerFieldTypeTime): simplify mask blocks configuration
  src/components/DatePicker/DatePickerFieldTypeTime/helpers.ts
Owners: @gizeasy

feat(DatePickerFieldTypeDateTime): simplify mask blocks configuration
  src/components/DatePicker/DatePickerFieldTypeDateTime/helpers.ts
Owners: @gizeasy

test(DatePicker/helpers): update getMaskBlocks tests to match simplified implementation
  src/components/DatePicker/__tests__/DatePicker_helpers.test.tsx
Owners: @gizeasy

test(DatePickerFieldTypeTime/helpers): update mask configuration tests
  src/components/DatePicker/__tests__/DatePickerFieldTypeTime/DatePicker_field_type_time_helpers.test.tsx
Owners: @gizeasy

test(DatePickerFieldTypeDateTime/helpers): update mask configuration tests
  src/components/DatePicker/__tests__/DatePickerFieldTypeDateTime/DatePicker_field_type_dateTime_helpers.test.tsx
Owners: @gizeasy

docs(DatePickerExampleOnError): update error handling example to include invalidTimeByTimeOptions
  src/components/DatePicker/__stand__/examples/DatePickerExampleOnError/DatePickerExampleOnError.tsx
Owners: @gizeasy

docs(DatePicker): update documentation for timeOptions and error handling
  src/components/DatePicker/__stand__/DatePicker.dev.stand.mdx
Owners: @alyonurchick1

feat(DatePicker/helpers): refactor format adaptation logic and improve placeholder handling
  src/components/DatePicker/helpers.ts
Owners: @gizeasy

feat(DatePickerFieldTypeTime): update format adaptation and placeholder logic
  src/components/DatePicker/DatePickerFieldTypeTime/DatePickerFieldTypeTime.tsx
Owners: @gizeasy

feat(DatePickerFieldTypeDateTime): update format adaptation and placeholder logic
  src/components/DatePicker/DatePickerFieldTypeDateTime/DatePickerFieldTypeDateTime.tsx
Owners: @gizeasy

feat(DatePickerFieldTypeDate): update placeholder logic
  src/components/DatePicker/DatePickerFieldTypeDate/DatePickerFieldTypeDate.tsx
Owners: @gizeasy

feat(DatePickerFieldTypeMonth): update placeholder logic
  src/components/DatePicker/DatePickerFieldTypeMonth/DatePickerFieldTypeMonth.tsx
Owners: @gizeasy

feat(DatePickerFieldTypeYear): update placeholder logic
  src/components/DatePicker/DatePickerFieldTypeYear/DatePickerFieldTypeYear.tsx
Owners: @gizeasy

feat(DatePicker/helpers): remove unused placeholder default logic
  src/components/DatePicker/helpers.ts
Owners: @gizeasy

test(DatePicker/helpers): update adaptFormat and placeholder tests
  src/components/DatePicker/__tests__/DatePicker_helpers.test.tsx
Owners: @gizeasy

fix
  src/components/Notification/Notification/Notification.tsx
  src/components/Notification/NotificationCaption/NotificationCaption.tsx
  src/components/Notification/NotificationGroup/NotificationGroup.tsx
  src/components/Notification/NotificationGroup/index.ts
  src/components/Notification/NotificationHeader/index.ts
  src/components/Notification/NotificationItem/index.ts
  src/components/Notification/__stand__/Notification.dev.stand.mdx
  src/components/Notification/__stand__/examples/NotificationExampleGroups/NotificationExampleGroups.tsx
  src/components/Notification/__tests__/Notification.test.tsx
  src/components/Notification/__tests__/data.ts
Owners: @gizeasy, @alyonurchick1

add menu
  src/components/Notification/__stand__/Notification.dev.stand.mdx
Owners: @alyonurchick1

fix: add SidebarDeprecated and ModalDeprecated
  src/components/ModalDeprecated/ModalDeprecated.css
  src/components/ModalDeprecated/ModalDeprecated.tsx
  src/components/ModalDeprecated/__stand__/Modal.dev.stand.mdx
  src/components/ModalDeprecated/__stand__/Modal.image.svg
  src/components/ModalDeprecated/__stand__/Modal.stand.mdx
  src/components/ModalDeprecated/__stand__/Modal.stand.tsx
  src/components/ModalDeprecated/__stand__/Modal.variants.css
  src/components/ModalDeprecated/__stand__/Modal.variants.tsx
  src/components/ModalDeprecated/__stand__/examples/ModalExample/ModalExample.css
  src/components/ModalDeprecated/__stand__/examples/ModalExample/ModalExample.tsx
  src/components/ModalDeprecated/__stand__/examples/ModalExampleZIndex/ModalExampleZIndex.tsx
  src/components/ModalDeprecated/__tests__/Modal.test.tsx
  src/components/ModalDeprecated/index.ts
  src/components/SidebarDeprecated/SidebarDeprecated.css
  src/components/SidebarDeprecated/SidebarDeprecated.tsx
  src/components/SidebarDeprecated/__stand__/Sidebar.dev.stand.mdx
  src/components/SidebarDeprecated/__stand__/Sidebar.image.svg
  src/components/SidebarDeprecated/__stand__/Sidebar.stand.mdx
  src/components/SidebarDeprecated/__stand__/Sidebar.stand.tsx
  src/components/SidebarDeprecated/__stand__/Sidebar.variants.css
  src/components/SidebarDeprecated/__stand__/Sidebar.variants.tsx
  src/components/SidebarDeprecated/__stand__/examples/SidebarExample/SidebarExample.css
  src/components/SidebarDeprecated/__stand__/examples/SidebarExample/SidebarExample.tsx
  src/components/SidebarDeprecated/__tests__/Sidebar.test.tsx
  src/components/SidebarDeprecated/index.ts
Owners: @linturaven, @gizeasy, @alyonurchick1

docs(Badge): add missing `view=tinted` docs (#4120)
  src/components/Badge/__stand__/Badge.dev.stand.mdx
  src/components/Badge/__stand__/examples/BadgeExampleView/BadgeExampleView.tsx
Owners: @alyonurchick1, @gizeasy

fix: add SidebarDeprecated and ModalDeprecated (#4126)
  src/components/ModalDeprecated/ModalDeprecated.css
  src/components/ModalDeprecated/ModalDeprecated.tsx
  src/components/ModalDeprecated/__stand__/Modal.dev.stand.mdx
  src/components/ModalDeprecated/__stand__/Modal.image.svg
  src/components/ModalDeprecated/__stand__/Modal.stand.mdx
  src/components/ModalDeprecated/__stand__/Modal.stand.tsx
  src/components/ModalDeprecated/__stand__/Modal.variants.css
  src/components/ModalDeprecated/__stand__/Modal.variants.tsx
  src/components/ModalDeprecated/__stand__/examples/ModalExample/ModalExample.css
  src/components/ModalDeprecated/__stand__/examples/ModalExample/ModalExample.tsx
  src/components/ModalDeprecated/__stand__/examples/ModalExampleZIndex/ModalExampleZIndex.tsx
  src/components/ModalDeprecated/__tests__/Modal.test.tsx
  src/components/ModalDeprecated/index.ts
  src/components/SidebarDeprecated/SidebarDeprecated.css
  src/components/SidebarDeprecated/SidebarDeprecated.tsx
  src/components/SidebarDeprecated/__stand__/Sidebar.dev.stand.mdx
  src/components/SidebarDeprecated/__stand__/Sidebar.image.svg
  src/components/SidebarDeprecated/__stand__/Sidebar.stand.mdx
  src/components/SidebarDeprecated/__stand__/Sidebar.stand.tsx
  src/components/SidebarDeprecated/__stand__/Sidebar.variants.css
  src/components/SidebarDeprecated/__stand__/Sidebar.variants.tsx
  src/components/SidebarDeprecated/__stand__/examples/SidebarExample/SidebarExample.css
  src/components/SidebarDeprecated/__stand__/examples/SidebarExample/SidebarExample.tsx
  src/components/SidebarDeprecated/__tests__/Sidebar.test.tsx
  src/components/SidebarDeprecated/index.ts
Owners: @linturaven, @gizeasy, @alyonurchick1

release: 5.28.0
  package.json
Owners: @gizeasy

changelog: 5.28.0
  CHANGELOG.md
Owners: @alyonurchick1

docs(FieldGroup): fix typos in doc
  src/components/FieldGroup/__stand__/FieldGroup.dev.stand.mdx
  src/components/FieldGroup/__stand__/FieldGroup.variants.tsx
Owners: @alyonurchick1, @gizeasy

fix(Sidebar): fix type for ref
  src/components/Sidebar/__tests__/Sidebar.test.tsx
  src/components/Sidebar/types.ts
Owners: @gizeasy

fix(ContextMenu): fixed className
  src/components/ContextMenu/ContextMenuLevel/ContextMenuLevel.tsx
Owners: @gizeasy

docs(FieldGroup): fix typos in doc (#4128)
  src/components/FieldGroup/__stand__/FieldGroup.dev.stand.mdx
  src/components/FieldGroup/__stand__/FieldGroup.variants.tsx
Owners: @alyonurchick1, @gizeasy

fix(Sidebar): fix type for ref (#4132)
  src/components/Sidebar/__tests__/Sidebar.test.tsx
  src/components/Sidebar/types.ts
Owners: @gizeasy

fix(ContextMenu): fixed className (#4134)
  src/components/ContextMenu/ContextMenuLevel/ContextMenuLevel.tsx
Owners: @gizeasy

release: 5.28.1
  package.json
Owners: @gizeasy

changelog: 5.28.1
  CHANGELOG.md
Owners: @alyonurchick1

fix(TextFieldCanary): fixed minLenght
  src/components/FieldComponents/FieldArrayValueInlineControl/FieldArrayValueInlineControl.tsx
  src/components/FieldComponents/FieldArrayValueInlineControl/types.ts
  src/components/TextFieldCanary/TextFieldTypeNumber/TextFieldTypeNumber.tsx
  src/components/TextFieldCanary/TextFieldTypePassword/TextFieldTypePassword.tsx
  src/components/TextFieldCanary/TextFieldTypeText/TextFieldTypeText.tsx
  src/components/TextFieldCanary/TextFieldTypeTextArea/TextFieldTypeTextArea.tsx
  src/components/TextFieldCanary/TextFieldTypeTextArray/TextFieldTypeTextArray.tsx
  src/components/TextFieldCanary/types.ts
Owners: @gizeasy

fix(TextFieldCanary): fixed minLength (#4135)
  src/components/FieldComponents/FieldArrayValueInlineControl/FieldArrayValueInlineControl.tsx
  src/components/FieldComponents/FieldArrayValueInlineControl/types.ts
  src/components/TextFieldCanary/TextFieldTypeNumber/TextFieldTypeNumber.tsx
  src/components/TextFieldCanary/TextFieldTypePassword/TextFieldTypePassword.tsx
  src/components/TextFieldCanary/TextFieldTypeText/TextFieldTypeText.tsx
  src/components/TextFieldCanary/TextFieldTypeTextArea/TextFieldTypeTextArea.tsx
  src/components/TextFieldCanary/TextFieldTypeTextArray/TextFieldTypeTextArray.tsx
  src/components/TextFieldCanary/types.ts
Owners: @gizeasy

release: 5.28.2
  package.json
Owners: @gizeasy

.github/CODEOWNERS:

* @gizeasy
*.md @alyonurchick1
*.mdx @alyonurchick1
*.css @linturaven
