Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

.github/CODEOWNERS:

* @gizeasy @N1MBER 
*.md @arhayka @kolebayev
*.mdx @arhayka @kolebayev
*.css @kolebayev

feat(AvatarGroup): add component for avatar grouping (#2471)
  src/components/AvatarGroup/AvatarGroup.css
  src/components/AvatarGroup/AvatarGroup.tsx
  src/components/AvatarGroup/__mocks__/mock.data.ts
  src/components/AvatarGroup/__stories__/AvatarGroup.docs.mdx
  src/components/AvatarGroup/__stories__/AvatarGroup.image.svg
  src/components/AvatarGroup/__stories__/AvatarGroup.stories.tsx
  src/components/AvatarGroup/__stories__/examples/AvatarGroupExampleCount/AvatarGroupExampleCount.tsx
  src/components/AvatarGroup/__stories__/examples/AvatarGroupExampleForm/AvatarGroupExampleForm.tsx
  src/components/AvatarGroup/__stories__/examples/AvatarGroupExampleSize/AvatarGroupExampleSize.tsx
  src/components/AvatarGroup/__tests__/AvatarGroup.test.tsx
  src/components/AvatarGroup/helpers.ts
  src/components/AvatarGroup/types.ts
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

docs(review): added new images
  src/components/FieldGroup/__stories__/FieldGroup.image.svg
  src/components/ProgressLine/__stories__/ProgressLine.image.svg
  src/uiKit/components/ComponentsGridWithData/data/data.ts
  src/uiKit/components/ComponentsGridWithData/data/images/AvatarGroupImage.tsx
  src/uiKit/components/ComponentsGridWithData/data/images/FieldGroupImage.tsx
  src/uiKit/components/ComponentsGridWithData/data/images/ProgressLineImage.tsx
  src/uiKit/components/ComponentsGridWithData/data/imagesForAdditionalData/ReactBigCalendarImage.tsx
Owners: @gizeasy, @N1MBER

docs(review): added new images (#2479)
  src/components/FieldGroup/__stories__/FieldGroup.image.svg
  src/components/ProgressLine/__stories__/ProgressLine.image.svg
  src/uiKit/components/ComponentsGridWithData/data/data.ts
  src/uiKit/components/ComponentsGridWithData/data/images/AvatarGroupImage.tsx
  src/uiKit/components/ComponentsGridWithData/data/images/FieldGroupImage.tsx
  src/uiKit/components/ComponentsGridWithData/data/images/ProgressLineImage.tsx
  src/uiKit/components/ComponentsGridWithData/data/imagesForAdditionalData/ReactBigCalendarImage.tsx
Owners: @gizeasy, @N1MBER

release(3.28.0):
  package.json
  src/components/Collapse/CollapseIcon/CollapseIcon.css
  src/components/ProgressLine/ProgressLine.css
Owners: @gizeasy, @N1MBER, @kolebayev

changelog(3.28.0):
  CHANGELOG.md
Owners: @arhayka, @kolebayev

feat(Tabs): add xs size and fix colors
  src/components/Tabs/Line/TabsLine.css
  src/components/Tabs/Tab/TabsTab.css
  src/components/Tabs/Tab/TabsTab.tsx
  src/components/Tabs/Tabs.css
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/__stories__/Tabs.docs.mdx
  src/components/Tabs/__stories__/examples/TabsExampleSize/TabsExampleSize.tsx
  src/components/TabsCanary/Line/TabsLine.css
  src/components/TabsCanary/Tab/TabsTab.css
  src/components/TabsCanary/Tab/TabsTab.tsx
  src/components/TabsCanary/Tabs.css
  src/components/TabsCanary/__stories__/Tabs.docs.mdx
  src/components/TabsCanary/__stories__/examples/TabsExampleSize/TabsExampleSize.tsx
  src/components/TabsCanary/types.ts
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

chore(custom): add reexport script
  .eslintignore
  babel.config.js
  package.json
  scripts/generateReExports.js
  scripts/generateReExportsConfig.js
  scripts/helpers/componentsInfoBuild/index.js
  scripts/helpers/generateReExportsFonts/index.js
  scripts/helpers/index.js
  scripts/helpers/svgParse/index.js
  scripts/preBuild.js
  scripts/templates/FileIcon.js.template
  scripts/templates/FileIconsGallery.tsx.template
  scripts/templates/Icon.js.template
  scripts/templates/Icons.stories.tsx.template
  scripts/templates/ResponsesImage.tsx.template
  scripts/templates/componentsData.ts.template
  src/components/Attach/index.ts
  src/components/Attachment/index.ts
  src/components/Button/__stand__/Button.dev.stand.mdx
  tsconfig.json
  yarn.lock
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

docs(custom): attachemnt
  src/components/Attachment/__stand__/Attachment.design.stand.mdx
  src/components/Attachment/__stand__/Attachment.dev.stand.mdx
  src/components/Attachment/__stand__/Attachment.image.svg
  src/components/Attachment/__stand__/Attachment.stand.mdx
  src/components/Attachment/__stand__/Attachment.stand.tsx
  src/components/Attachment/__stand__/examples/AttachmentExampleAs/AttachmentExampleAs.css
  src/components/Attachment/__stand__/examples/AttachmentExampleAs/AttachmentExampleAs.tsx
  src/components/Attachment/__stand__/examples/AttachmentExampleBasics/AttachmentExampleBasics.css
  src/components/Attachment/__stand__/examples/AttachmentExampleBasics/AttachmentExampleBasics.tsx
  src/components/Attachment/__stand__/examples/AttachmentExampleDescription/AttachmentExampleDescription.css
  src/components/Attachment/__stand__/examples/AttachmentExampleDescription/AttachmentExampleDescription.tsx
  src/components/Attachment/__stand__/examples/AttachmentExampleError/AttachmentExampleError.css
  src/components/Attachment/__stand__/examples/AttachmentExampleError/AttachmentExampleError.tsx
  src/components/Attachment/__stand__/examples/AttachmentExampleEvents/AttachmentExampleEvents.css
  src/components/Attachment/__stand__/examples/AttachmentExampleEvents/AttachmentExampleEvents.tsx
  src/components/Attachment/__stand__/examples/AttachmentExampleIcon/AttachmentExampleIcon.css
  src/components/Attachment/__stand__/examples/AttachmentExampleIcon/AttachmentExampleIcon.tsx
  src/components/Attachment/__stand__/examples/AttachmentExampleLoading/AttachmentExampleLoading.css
  src/components/Attachment/__stand__/examples/AttachmentExampleLoading/AttachmentExampleLoading.tsx
  src/components/Attachment/__stand__/examples/AttachmentExampleName/AttachmentExampleName.css
  src/components/Attachment/__stand__/examples/AttachmentExampleName/AttachmentExampleName.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

update stand
  package.json
  yarn.lock
Owners: @gizeasy, @N1MBER

docs(custom): avatar
  src/components/Avatar/__stand__/Avatar.design.stand.mdx
  src/components/Avatar/__stand__/Avatar.dev.stand.mdx
  src/components/Avatar/__stand__/Avatar.image.svg
  src/components/Avatar/__stand__/Avatar.stand.mdx
  src/components/Avatar/__stand__/Avatar.stand.tsx
  src/components/Avatar/__stand__/examples/AvatarExampleForm/AvatarExampleForm.tsx
  src/components/Avatar/__stand__/examples/AvatarExampleImage/AvatarExampleImage.tsx
  src/components/Avatar/__stand__/examples/AvatarExampleSize/AvatarExampleSize.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): userSelect
  src/components/UserSelect/__stand__/UserSelect.design.stand.mdx
  src/components/UserSelect/__stand__/UserSelect.dev.stand.mdx
  src/components/UserSelect/__stand__/UserSelect.image.svg
  src/components/UserSelect/__stand__/UserSelect.stand.mdx
  src/components/UserSelect/__stand__/UserSelect.stand.tsx
  src/components/UserSelect/__stand__/examples/UserSelectExampleCaption/UserSelectExampleCaption.tsx
  src/components/UserSelect/__stand__/examples/UserSelectExampleCreate/UserSelectExampleCreate.tsx
  src/components/UserSelect/__stand__/examples/UserSelectExampleCustomTypes/UserSelectExampleCustomTypes.tsx
  src/components/UserSelect/__stand__/examples/UserSelectExampleDisabled/UserSelectExampleDisabled.tsx
  src/components/UserSelect/__stand__/examples/UserSelectExampleDisabledItem/UserSelectExampleDisabledItem.tsx
  src/components/UserSelect/__stand__/examples/UserSelectExampleForm/UserSelectExampleForm.tsx
  src/components/UserSelect/__stand__/examples/UserSelectExampleGroups/UserSelectExampleGroups.tsx
  src/components/UserSelect/__stand__/examples/UserSelectExampleItems/UserSelectExampleItems.tsx
  src/components/UserSelect/__stand__/examples/UserSelectExampleLabel/UserSelectExampleLabel.tsx
  src/components/UserSelect/__stand__/examples/UserSelectExampleMultiple/UserSelectExampleMultiple.tsx
  src/components/UserSelect/__stand__/examples/UserSelectExamplePlaceholder/UserSelectExamplePlaceholder.tsx
  src/components/UserSelect/__stand__/examples/UserSelectExampleRenderItem/UserSelectExampleRenderItem.css
  src/components/UserSelect/__stand__/examples/UserSelectExampleRenderItem/UserSelectExampleRenderItem.tsx
  src/components/UserSelect/__stand__/examples/UserSelectExampleRenderValue/UserSelectExampleRenderValue.css
  src/components/UserSelect/__stand__/examples/UserSelectExampleRenderValue/UserSelectExampleRenderValue.tsx
  src/components/UserSelect/__stand__/examples/UserSelectExampleSize/UserSelectExampleSize.tsx
  src/components/UserSelect/__stand__/examples/UserSelectExampleStatus/UserSelectExampleStatus.tsx
  src/components/UserSelect/__stand__/examples/UserSelectExampleView/UserSelectExampleView.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

feat(custom): User
  src/components/User/__stand__/User.design.stand.mdx
  src/components/User/__stand__/User.dev.stand.mdx
  src/components/User/__stand__/User.image.svg
  src/components/User/__stand__/User.stand.mdx
  src/components/User/__stand__/User.stand.tsx
  src/components/User/__stand__/examples/UserExampleArrow/UserExampleArrow.tsx
  src/components/User/__stand__/examples/UserExampleAvatar/UserExampleAvatar.tsx
  src/components/User/__stand__/examples/UserExampleName/UserExampleName.tsx
  src/components/User/__stand__/examples/UserExampleSize/UserExampleSize.tsx
  src/components/User/__stand__/examples/UserExampleStatus/UserExampleStatus.tsx
  src/components/User/__stand__/examples/UserExampleView/UserExampleView.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): add docs
  src/components/Button/__stand__/Button.dev.stand.mdx
  src/components/Button/__stand__/Button.stand.mdx
  src/components/Button/__stories__/examples/ButtonExampleAdaptive/ButtonExampleAdaptive.tsx
  src/components/Button/__stories__/examples/ButtonExampleBasic/ButtonExampleBasic.tsx
  src/components/Button/__stories__/examples/ButtonExampleForm/ButtonExampleForm.tsx
  src/components/Button/__stories__/examples/ButtonExampleIcon/ButtonExampleIcon.tsx
  src/components/Button/__stories__/examples/ButtonExampleLoading/ButtonExampleLoading.tsx
  src/components/Button/__stories__/examples/ButtonExampleName/ButtonExampleName.tsx
  src/components/Button/__stories__/examples/ButtonExampleSize/ButtonExampleSize.tsx
  src/components/Button/__stories__/examples/ButtonExampleView/ButtonExampleView.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): fix links
  src/components/Button/__stand__/Button.stand.mdx
Owners: @arhayka, @kolebayev

docs(custom): tooltip
  src/components/Tooltip/__stand__/Tooltip.design.stand.mdx
  src/components/Tooltip/__stand__/Tooltip.dev.stand.mdx
  src/components/Tooltip/__stand__/Tooltip.image.svg
  src/components/Tooltip/__stand__/Tooltip.stand.mdx
  src/components/Tooltip/__stand__/Tooltip.stand.tsx
  src/components/Tooltip/__stand__/examples/TooltipPosition/TooltipPosition.css
  src/components/Tooltip/__stand__/examples/TooltipPosition/TooltipPosition.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): timer
  src/components/Timer/__stand__/Timer.design.stand.mdx
  src/components/Timer/__stand__/Timer.dev.stand.mdx
  src/components/Timer/__stand__/Timer.image.svg
  src/components/Timer/__stand__/Timer.stand.mdx
  src/components/Timer/__stand__/Timer.stand.tsx
  src/components/Timer/__stand__/examples/TimerExampleProgress/TimerExampleProgress.tsx
  src/components/Timer/__stand__/examples/TimerExampleSeconds/TimerExampleSeconds.tsx
  src/components/Timer/__stand__/examples/TimerExampleSize/TimerExampleSize.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): themeToggler
  src/components/ThemeToggler/__stand__/ThemeToggler.design.stand.mdx
  src/components/ThemeToggler/__stand__/ThemeToggler.dev.stand.mdx
  src/components/ThemeToggler/__stand__/ThemeToggler.image.svg
  src/components/ThemeToggler/__stand__/ThemeToggler.stand.mdx
  src/components/ThemeToggler/__stand__/ThemeToggler.stand.tsx
  src/components/ThemeToggler/__stand__/examples/ThemeTogglerExampleDefault/ThemeTogglerExampleDefault.tsx
  src/components/ThemeToggler/__stand__/examples/ThemeTogglerExampleGetters/ThemeTogglerExampleGetters.tsx
  src/components/ThemeToggler/__stand__/examples/ThemeTogglerExampleQuantity/ThemeTogglerExampleQuantity.css
  src/components/ThemeToggler/__stand__/examples/ThemeTogglerExampleQuantity/ThemeTogglerExampleQuantity.tsx
  src/components/ThemeToggler/__stand__/examples/ThemeTogglerExampleSize/ThemeTogglerExampleSize.css
  src/components/ThemeToggler/__stand__/examples/ThemeTogglerExampleSize/ThemeTogglerExampleSize.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): theme
  src/components/Theme/__stand__/Theme.design.stand.mdx
  src/components/Theme/__stand__/Theme.dev.stand.mdx
  src/components/Theme/__stand__/Theme.image.svg
  src/components/Theme/__stand__/Theme.stand.mdx
  src/components/Theme/__stand__/Theme.stand.tsx
  src/components/Theme/__stand__/examples/ThemeExampleColors/ThemeExampleColors.css
  src/components/Theme/__stand__/examples/ThemeExampleColors/ThemeExampleColors.tsx
  src/components/Theme/__stand__/examples/ThemeExampleRoot/ThemeExampleRoot.css
  src/components/Theme/__stand__/examples/ThemeExampleRoot/ThemeExampleRoot.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): textField
  src/components/TextField/__stand__/TextField.design.stand.mdx
  src/components/TextField/__stand__/TextField.dev.stand.mdx
  src/components/TextField/__stand__/TextField.image.svg
  src/components/TextField/__stand__/TextField.stand.mdx
  src/components/TextField/__stand__/TextField.stand.tsx
  src/components/TextField/__stand__/examples/TextFieldExampleCaption/TextFieldExampleCaption.tsx
  src/components/TextField/__stand__/examples/TextFieldExampleFocus/TextFieldExampleFocus.tsx
  src/components/TextField/__stand__/examples/TextFieldExampleForm/TextFieldExampleForm.tsx
  src/components/TextField/__stand__/examples/TextFieldExampleLabel/TextFieldExampleLabel.css
  src/components/TextField/__stand__/examples/TextFieldExampleLabel/TextFieldExampleLabel.tsx
  src/components/TextField/__stand__/examples/TextFieldExampleRequired/TextFieldExampleRequired.tsx
  src/components/TextField/__stand__/examples/TextFieldExampleSize/TextFieldExampleSize.tsx
  src/components/TextField/__stand__/examples/TextFieldExampleStatus/TextFieldExampleStatus.tsx
  src/components/TextField/__stand__/examples/TextFieldExampleStepArray/TextFieldExampleStepArray.tsx
  src/components/TextField/__stand__/examples/TextFieldExampleText/TextFieldExampleText.tsx
  src/components/TextField/__stand__/examples/TextFieldExampleType/TextFieldExampleType.tsx
  src/components/TextField/__stand__/examples/TextFieldExampleView/TextFieldExampleView.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): add doc
  src/components/Badge/__stand__/Badge.design.stand.mdx
  src/components/Badge/__stand__/Badge.dev.stand.mdx
  src/components/Badge/__stand__/Badge.image.svg
  src/components/Badge/__stand__/Badge.stand.mdx
  src/components/Badge/__stand__/Badge.stand.tsx
  src/components/Badge/__stories__/examples/BadgeExampleAs/BadgeExampleAs.tsx
  src/components/Badge/__stories__/examples/BadgeExampleStatus/BadgeExampleStatus.tsx
  src/components/Badge/__stories__/examples/BadgeExampleUse/BadgeExampleUse.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): text
  src/components/Text/__stand__/Text.design.stand.mdx
  src/components/Text/__stand__/Text.dev.stand.mdx
  src/components/Text/__stand__/Text.image copy.svg
  src/components/Text/__stand__/Text.image.svg
  src/components/Text/__stand__/Text.stand.mdx
  src/components/Text/__stand__/Text.stand.tsx
  src/components/Text/__stand__/examples/TextExampleAlign/TextExampleAlign.tsx
  src/components/Text/__stand__/examples/TextExampleCombinedWeightAndStyle/TextExampleCombinedWeightAndStyle.tsx
  src/components/Text/__stand__/examples/TextExampleCursor/TextExampleCursor.tsx
  src/components/Text/__stand__/examples/TextExampleDecoration/TextExampleDecoration.tsx
  src/components/Text/__stand__/examples/TextExampleHeadingAndParagraph/TextExampleHeadingAndParagraph.tsx
  src/components/Text/__stand__/examples/TextExampleLabelAndData/TextExampleLabelAndData.tsx
  src/components/Text/__stand__/examples/TextExampleLineheight/TextExampleLineheight.tsx
  src/components/Text/__stand__/examples/TextExampleSize/TextExampleSize.tsx
  src/components/Text/__stand__/examples/TextExampleSpacing/TextExampleSpacing.tsx
  src/components/Text/__stand__/examples/TextExampleStyle/TextExampleStyle.tsx
  src/components/Text/__stand__/examples/TextExampleTransform/TextExampleTransform.tsx
  src/components/Text/__stand__/examples/TextExampleTruncate/TextExampleTruncate.tsx
  src/components/Text/__stand__/examples/TextExampleView/TextExampleView.tsx
  src/components/Text/__stand__/examples/TextExampleWeight/TextExampleWeight.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(components): tag
  src/components/Tag/__stand__/Tag.design.stand.mdx
  src/components/Tag/__stand__/Tag.dev.stand.mdx
  src/components/Tag/__stand__/Tag.image.svg
  src/components/Tag/__stand__/Tag.stand.mdx
  src/components/Tag/__stand__/Tag.stand.tsx
  src/components/Tag/__stand__/examples/TagExampleGroup/TagExampleGroup.tsx
  src/components/Tag/__stand__/examples/TagExampleIcon/TagExampleIcon.tsx
  src/components/Tag/__stand__/examples/TagExampleMode/TagExampleMode.tsx
  src/components/Tag/__stand__/examples/TagExampleSize/TagExampleSize.tsx
  src/components/Tag/__stand__/examples/TagExampleText/TagExampleText.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): tabs
  src/components/Tabs/__stand__/Tabs.design.stand.mdx
  src/components/Tabs/__stand__/Tabs.dev.stand.mdx
  src/components/Tabs/__stand__/Tabs.image.svg
  src/components/Tabs/__stand__/Tabs.stand.mdx
  src/components/Tabs/__stand__/Tabs.stand.tsx
  src/components/Tabs/__stand__/examples/TabsExample/TabsExample.tsx
  src/components/Tabs/__stand__/examples/TabsExampleFitModeDropdown/TabsExampleFitModeDropdown.tsx
  src/components/Tabs/__stand__/examples/TabsExampleFitModeScroll/TabsExampleFitModeScroll.tsx
  src/components/Tabs/__stand__/examples/TabsExampleIcon/TabsExampleIcon.tsx
  src/components/Tabs/__stand__/examples/TabsExampleLinePosition/TabsExampleLinePosition.tsx
  src/components/Tabs/__stand__/examples/TabsExampleRenderItem/TabsExampleRenderItem.tsx
  src/components/Tabs/__stand__/examples/TabsExampleSize/TabsExampleSize.tsx
  src/components/Tabs/__stand__/examples/TabsExampleView/TabsExampleView.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): add card
  src/components/Card/__stand__/Card.design.stand.mdx
  src/components/Card/__stand__/Card.dev.stand.mdx
  src/components/Card/__stand__/Card.image.svg
  src/components/Card/__stand__/Card.stand.mdx
  src/components/Card/__stand__/Card.stand.tsx
  src/components/Card/__stories__/examples/CardExample/CardExample.tsx
  src/components/Card/__stories__/examples/CardExampleBorder/CardExampleBorder.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): table
  src/components/Table/__stand__/Table.design.stand.mdx
  src/components/Table/__stand__/Table.dev.stand.mdx
  src/components/Table/__stand__/Table.image.svg
  src/components/Table/__stand__/Table.stand.mdx
  src/components/Table/__stand__/Table.stand.tsx
  src/components/Table/__stand__/examples/TableExampleAlign/TableExampleAlign.tsx
  src/components/Table/__stand__/examples/TableExampleBasic/TableExampleBasic.tsx
  src/components/Table/__stand__/examples/TableExampleBorder/TableExampleBorder.tsx
  src/components/Table/__stand__/examples/TableExampleFilter/TableExampleFilter.tsx
  src/components/Table/__stand__/examples/TableExampleIsResizable/TableExampleIsResizable.tsx
  src/components/Table/__stand__/examples/TableExampleMerge/TableExampleMerge.tsx
  src/components/Table/__stand__/examples/TableExampleOnSortBy/TableExampleOnSortBy.tsx
  src/components/Table/__stand__/examples/TableExampleRenderCell/TableExampleRenderCell.tsx
  src/components/Table/__stand__/examples/TableExampleSize/TableExampleSize.tsx
  src/components/Table/__stand__/examples/TableExampleSort/TableExampleSort.tsx
  src/components/Table/__stand__/examples/TableExampleZebraStriped/TableExampleZebraStriped.tsx
  src/components/Table/__stand__/examples/WithAdditionalClassName/WithAdditionalClassName.css
  src/components/Table/__stand__/examples/WithAdditionalClassName/WithAdditionalClassName.tsx
  src/components/Table/__stand__/examples/WithHandleCellClick.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): add docs
  src/components/Checkbox/__stand__/Checkbox.design.stand.mdx
  src/components/Checkbox/__stand__/Checkbox.dev.stand.mdx
  src/components/Checkbox/__stand__/Checkbox.image.svg
  src/components/Checkbox/__stand__/Checkbox.stand.mdx
  src/components/Checkbox/__stand__/Checkbox.stand.tsx
  src/components/Checkbox/__stories__/examples/CheckboxExampleAlign/CheckboxExampleAlign.tsx
  src/components/Checkbox/__stories__/examples/CheckboxExampleName/CheckboxExampleName.tsx
  src/components/Checkbox/__stories__/examples/CheckboxExampleSize/CheckboxExampleSize.tsx
  src/components/Checkbox/__stories__/examples/CheckboxExampleStatus/CheckboxExampleStatus.tsx
  src/components/Checkbox/__stories__/examples/CheckboxExampleView/CheckboxExampleView.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): checkboxgroup
  src/components/CheckboxGroup/__stand__/CheckboxGroup.design.stand.mdx
  src/components/CheckboxGroup/__stand__/CheckboxGroup.dev.stand.mdx
  src/components/CheckboxGroup/__stand__/CheckboxGroup.image.svg
  src/components/CheckboxGroup/__stand__/CheckboxGroup.stand.mdx
  src/components/CheckboxGroup/__stand__/CheckboxGroup.stand.tsx
  src/components/CheckboxGroup/__stories__/examples/CheckboxGroupExampleDirection/CheckboxGroupExampleDirection.tsx
  src/components/CheckboxGroup/__stories__/examples/CheckboxGroupExampleDisabled/CheckboxGroupExampleDisabled.tsx
  src/components/CheckboxGroup/__stories__/examples/CheckboxGroupExampleName/CheckboxGroupExampleName.tsx
  src/components/CheckboxGroup/__stories__/examples/CheckboxGroupExampleSize/CheckboxGroupExampleSize.tsx
  src/components/CheckboxGroup/__stories__/examples/CheckboxGroupExampleView/CheckboxGroupExampleView.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): choicegroup
  src/components/ChoiceGroup/__stand__/ChoiceGroup.design.stand.mdx
  src/components/ChoiceGroup/__stand__/ChoiceGroup.dev.stand.mdx
  src/components/ChoiceGroup/__stand__/ChoiceGroup.image.svg
  src/components/ChoiceGroup/__stand__/ChoiceGroup.stand.mdx
  src/components/ChoiceGroup/__stand__/ChoiceGroup.stand.tsx
  src/components/ChoiceGroup/__stories__/examples/ChoiceGroupExampleAdaptive/ChoiceGroupExampleAdaptive.tsx
  src/components/ChoiceGroup/__stories__/examples/ChoiceGroupExampleDisabled/ChoiceGroupExampleDisabled.tsx
  src/components/ChoiceGroup/__stories__/examples/ChoiceGroupExampleForm/ChoiceGroupExampleForm.tsx
  src/components/ChoiceGroup/__stories__/examples/ChoiceGroupExampleIcon/ChoiceGroupExampleIcon.tsx
  src/components/ChoiceGroup/__stories__/examples/ChoiceGroupExampleMultiple/ChoiceGroupExampleMultiple.tsx
  src/components/ChoiceGroup/__stories__/examples/ChoiceGroupExampleSize/ChoiceGroupExampleSize.tsx
  src/components/ChoiceGroup/__stories__/examples/ChoiceGroupExampleSomeDisabled/ChoiseGroupExampleSomeDisabled.tsx
  src/components/ChoiceGroup/__stories__/examples/ChoiceGroupExampleSwitch/ChoiceGroupExampleSwitch.tsx
  src/components/ChoiceGroup/__stories__/examples/ChoiceGroupExampleText/ChoiceGroupExampleText.tsx
  src/components/ChoiceGroup/__stories__/examples/ChoiceGroupExampleTextOverflow/ChoiceGroupExampleTextOverflow.tsx
  src/components/ChoiceGroup/__stories__/examples/ChoiceGroupExampleView/ChoiceGroupExampleView.tsx
  src/components/ChoiceGroup/__stories__/examples/ChoiceGroupExampleWidth/ChoiceGroupExampleWidth.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): attachemnt (#2483)
  src/components/Attachment/__stand__/Attachment.design.stand.mdx
  src/components/Attachment/__stand__/Attachment.dev.stand.mdx
  src/components/Attachment/__stand__/Attachment.image.svg
  src/components/Attachment/__stand__/Attachment.stand.mdx
  src/components/Attachment/__stand__/Attachment.stand.tsx
  src/components/Attachment/__stand__/examples/AttachmentExampleAs/AttachmentExampleAs.css
  src/components/Attachment/__stand__/examples/AttachmentExampleAs/AttachmentExampleAs.tsx
  src/components/Attachment/__stand__/examples/AttachmentExampleBasics/AttachmentExampleBasics.css
  src/components/Attachment/__stand__/examples/AttachmentExampleBasics/AttachmentExampleBasics.tsx
  src/components/Attachment/__stand__/examples/AttachmentExampleDescription/AttachmentExampleDescription.css
  src/components/Attachment/__stand__/examples/AttachmentExampleDescription/AttachmentExampleDescription.tsx
  src/components/Attachment/__stand__/examples/AttachmentExampleError/AttachmentExampleError.css
  src/components/Attachment/__stand__/examples/AttachmentExampleError/AttachmentExampleError.tsx
  src/components/Attachment/__stand__/examples/AttachmentExampleEvents/AttachmentExampleEvents.css
  src/components/Attachment/__stand__/examples/AttachmentExampleEvents/AttachmentExampleEvents.tsx
  src/components/Attachment/__stand__/examples/AttachmentExampleIcon/AttachmentExampleIcon.css
  src/components/Attachment/__stand__/examples/AttachmentExampleIcon/AttachmentExampleIcon.tsx
  src/components/Attachment/__stand__/examples/AttachmentExampleLoading/AttachmentExampleLoading.css
  src/components/Attachment/__stand__/examples/AttachmentExampleLoading/AttachmentExampleLoading.tsx
  src/components/Attachment/__stand__/examples/AttachmentExampleName/AttachmentExampleName.css
  src/components/Attachment/__stand__/examples/AttachmentExampleName/AttachmentExampleName.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): avatar (#2484)
  src/components/Avatar/__stand__/Avatar.design.stand.mdx
  src/components/Avatar/__stand__/Avatar.dev.stand.mdx
  src/components/Avatar/__stand__/Avatar.image.svg
  src/components/Avatar/__stand__/Avatar.stand.mdx
  src/components/Avatar/__stand__/Avatar.stand.tsx
  src/components/Avatar/__stand__/examples/AvatarExampleForm/AvatarExampleForm.tsx
  src/components/Avatar/__stand__/examples/AvatarExampleImage/AvatarExampleImage.tsx
  src/components/Avatar/__stand__/examples/AvatarExampleSize/AvatarExampleSize.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): userSelect (#2485)
  src/components/UserSelect/__stand__/UserSelect.design.stand.mdx
  src/components/UserSelect/__stand__/UserSelect.dev.stand.mdx
  src/components/UserSelect/__stand__/UserSelect.image.svg
  src/components/UserSelect/__stand__/UserSelect.stand.mdx
  src/components/UserSelect/__stand__/UserSelect.stand.tsx
  src/components/UserSelect/__stand__/examples/UserSelectExampleCaption/UserSelectExampleCaption.tsx
  src/components/UserSelect/__stand__/examples/UserSelectExampleCreate/UserSelectExampleCreate.tsx
  src/components/UserSelect/__stand__/examples/UserSelectExampleCustomTypes/UserSelectExampleCustomTypes.tsx
  src/components/UserSelect/__stand__/examples/UserSelectExampleDisabled/UserSelectExampleDisabled.tsx
  src/components/UserSelect/__stand__/examples/UserSelectExampleDisabledItem/UserSelectExampleDisabledItem.tsx
  src/components/UserSelect/__stand__/examples/UserSelectExampleForm/UserSelectExampleForm.tsx
  src/components/UserSelect/__stand__/examples/UserSelectExampleGroups/UserSelectExampleGroups.tsx
  src/components/UserSelect/__stand__/examples/UserSelectExampleItems/UserSelectExampleItems.tsx
  src/components/UserSelect/__stand__/examples/UserSelectExampleLabel/UserSelectExampleLabel.tsx
  src/components/UserSelect/__stand__/examples/UserSelectExampleMultiple/UserSelectExampleMultiple.tsx
  src/components/UserSelect/__stand__/examples/UserSelectExamplePlaceholder/UserSelectExamplePlaceholder.tsx
  src/components/UserSelect/__stand__/examples/UserSelectExampleRenderItem/UserSelectExampleRenderItem.css
  src/components/UserSelect/__stand__/examples/UserSelectExampleRenderItem/UserSelectExampleRenderItem.tsx
  src/components/UserSelect/__stand__/examples/UserSelectExampleRenderValue/UserSelectExampleRenderValue.css
  src/components/UserSelect/__stand__/examples/UserSelectExampleRenderValue/UserSelectExampleRenderValue.tsx
  src/components/UserSelect/__stand__/examples/UserSelectExampleSize/UserSelectExampleSize.tsx
  src/components/UserSelect/__stand__/examples/UserSelectExampleStatus/UserSelectExampleStatus.tsx
  src/components/UserSelect/__stand__/examples/UserSelectExampleView/UserSelectExampleView.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

feat(custom): User (#2486)
  src/components/User/__stand__/User.design.stand.mdx
  src/components/User/__stand__/User.dev.stand.mdx
  src/components/User/__stand__/User.image.svg
  src/components/User/__stand__/User.stand.mdx
  src/components/User/__stand__/User.stand.tsx
  src/components/User/__stand__/examples/UserExampleArrow/UserExampleArrow.tsx
  src/components/User/__stand__/examples/UserExampleAvatar/UserExampleAvatar.tsx
  src/components/User/__stand__/examples/UserExampleName/UserExampleName.tsx
  src/components/User/__stand__/examples/UserExampleSize/UserExampleSize.tsx
  src/components/User/__stand__/examples/UserExampleStatus/UserExampleStatus.tsx
  src/components/User/__stand__/examples/UserExampleView/UserExampleView.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): button (#2487)
  src/components/Button/__stand__/Button.dev.stand.mdx
  src/components/Button/__stand__/Button.stand.mdx
  src/components/Button/__stand__/examples/ButtonExampleAdaptive/ButtonExampleAdaptive.tsx
  src/components/Button/__stand__/examples/ButtonExampleForm/ButtonExampleForm.tsx
  src/components/Button/__stand__/examples/ButtonExampleIcon/ButtonExampleIcon.tsx
  src/components/Button/__stand__/examples/ButtonExampleLoading/ButtonExampleLoading.tsx
  src/components/Button/__stand__/examples/ButtonExampleName/ButtonExampleName.tsx
  src/components/Button/__stand__/examples/ButtonExampleSize/ButtonExampleSize.tsx
  src/components/Button/__stand__/examples/ButtonExampleView/ButtonExampleView.tsx
  src/components/Button/__stories__/examples/ButtonExampleBasic/ButtonExampleBasic.tsx
  src/components/Button/__stories__/examples/ButtonExampleView/ButtonExampleView.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): tooltip (#2488)
  src/components/Tooltip/__stand__/Tooltip.design.stand.mdx
  src/components/Tooltip/__stand__/Tooltip.dev.stand.mdx
  src/components/Tooltip/__stand__/Tooltip.image.svg
  src/components/Tooltip/__stand__/Tooltip.stand.mdx
  src/components/Tooltip/__stand__/Tooltip.stand.tsx
  src/components/Tooltip/__stand__/examples/TooltipPosition/TooltipPosition.css
  src/components/Tooltip/__stand__/examples/TooltipPosition/TooltipPosition.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): timer (#2489)
  src/components/Timer/__stand__/Timer.design.stand.mdx
  src/components/Timer/__stand__/Timer.dev.stand.mdx
  src/components/Timer/__stand__/Timer.image.svg
  src/components/Timer/__stand__/Timer.stand.mdx
  src/components/Timer/__stand__/Timer.stand.tsx
  src/components/Timer/__stand__/examples/TimerExampleProgress/TimerExampleProgress.tsx
  src/components/Timer/__stand__/examples/TimerExampleSeconds/TimerExampleSeconds.tsx
  src/components/Timer/__stand__/examples/TimerExampleSize/TimerExampleSize.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

dd
  babel.config.js
  src/components/ContextMenu/ContextMenuLevels/ContextMenuLevels.tsx
  src/components/ContextMenu/helpers.ts
  src/components/ContextMenu/types.ts
  src/components/ThemeToggler/ThemeToggler.tsx
  src/components/ThemeToggler/__stand__/examples/ThemeTogglerExampleDefault/ThemeTogglerExampleDefault.css
  src/components/ThemeToggler/__stand__/examples/ThemeTogglerExampleDefault/ThemeTogglerExampleDefault.tsx
  src/components/ThemeToggler/__stand__/examples/ThemeTogglerExampleGetters/ThemeTogglerExampleGetters.css
  src/components/ThemeToggler/__stand__/examples/ThemeTogglerExampleGetters/ThemeTogglerExampleGetters.tsx
  src/components/ThemeToggler/__tests__/ThemeToggler.test.tsx
Owners: @gizeasy, @N1MBER, @kolebayev

docs(custom): themeToggler (#2490)
  babel.config.js
  src/components/ContextMenu/ContextMenuLevels/ContextMenuLevels.tsx
  src/components/ContextMenu/helpers.ts
  src/components/ContextMenu/types.ts
  src/components/ThemeToggler/ThemeToggler.tsx
  src/components/ThemeToggler/__stand__/ThemeToggler.design.stand.mdx
  src/components/ThemeToggler/__stand__/ThemeToggler.dev.stand.mdx
  src/components/ThemeToggler/__stand__/ThemeToggler.image.svg
  src/components/ThemeToggler/__stand__/ThemeToggler.stand.mdx
  src/components/ThemeToggler/__stand__/ThemeToggler.stand.tsx
  src/components/ThemeToggler/__stand__/examples/ThemeTogglerExampleDefault/ThemeTogglerExampleDefault.css
  src/components/ThemeToggler/__stand__/examples/ThemeTogglerExampleDefault/ThemeTogglerExampleDefault.tsx
  src/components/ThemeToggler/__stand__/examples/ThemeTogglerExampleGetters/ThemeTogglerExampleGetters.css
  src/components/ThemeToggler/__stand__/examples/ThemeTogglerExampleGetters/ThemeTogglerExampleGetters.tsx
  src/components/ThemeToggler/__stand__/examples/ThemeTogglerExampleQuantity/ThemeTogglerExampleQuantity.css
  src/components/ThemeToggler/__stand__/examples/ThemeTogglerExampleQuantity/ThemeTogglerExampleQuantity.tsx
  src/components/ThemeToggler/__stand__/examples/ThemeTogglerExampleSize/ThemeTogglerExampleSize.css
  src/components/ThemeToggler/__stand__/examples/ThemeTogglerExampleSize/ThemeTogglerExampleSize.tsx
  src/components/ThemeToggler/__tests__/ThemeToggler.test.tsx
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

docs(custom): theme (#2491)
  src/components/Theme/__stand__/Theme.design.stand.mdx
  src/components/Theme/__stand__/Theme.dev.stand.mdx
  src/components/Theme/__stand__/Theme.image.svg
  src/components/Theme/__stand__/Theme.stand.mdx
  src/components/Theme/__stand__/Theme.stand.tsx
  src/components/Theme/__stand__/examples/ThemeExampleColors/ThemeExampleColors.css
  src/components/Theme/__stand__/examples/ThemeExampleColors/ThemeExampleColors.tsx
  src/components/Theme/__stand__/examples/ThemeExampleRoot/ThemeExampleRoot.css
  src/components/Theme/__stand__/examples/ThemeExampleRoot/ThemeExampleRoot.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): textField (#2492)
  src/components/TextField/__stand__/TextField.design.stand.mdx
  src/components/TextField/__stand__/TextField.dev.stand.mdx
  src/components/TextField/__stand__/TextField.image.svg
  src/components/TextField/__stand__/TextField.stand.mdx
  src/components/TextField/__stand__/TextField.stand.tsx
  src/components/TextField/__stand__/examples/TextFieldExampleCaption/TextFieldExampleCaption.tsx
  src/components/TextField/__stand__/examples/TextFieldExampleFocus/TextFieldExampleFocus.tsx
  src/components/TextField/__stand__/examples/TextFieldExampleForm/TextFieldExampleForm.tsx
  src/components/TextField/__stand__/examples/TextFieldExampleLabel/TextFieldExampleLabel.css
  src/components/TextField/__stand__/examples/TextFieldExampleLabel/TextFieldExampleLabel.tsx
  src/components/TextField/__stand__/examples/TextFieldExampleRequired/TextFieldExampleRequired.tsx
  src/components/TextField/__stand__/examples/TextFieldExampleSize/TextFieldExampleSize.tsx
  src/components/TextField/__stand__/examples/TextFieldExampleStatus/TextFieldExampleStatus.tsx
  src/components/TextField/__stand__/examples/TextFieldExampleStepArray/TextFieldExampleStepArray.tsx
  src/components/TextField/__stand__/examples/TextFieldExampleText/TextFieldExampleText.tsx
  src/components/TextField/__stand__/examples/TextFieldExampleType/TextFieldExampleType.tsx
  src/components/TextField/__stand__/examples/TextFieldExampleView/TextFieldExampleView.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): add doc (#2493)
  src/components/Badge/__stand__/Badge.design.stand.mdx
  src/components/Badge/__stand__/Badge.dev.stand.mdx
  src/components/Badge/__stand__/Badge.image.svg
  src/components/Badge/__stand__/Badge.stand.mdx
  src/components/Badge/__stand__/Badge.stand.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER
