Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

release(3.21.0):
  package.json
Owners: @gizeasy, @N1MBER

changelog(3.21.0):
  CHANGELOG.md
Owners: @arhayka, @kolebayev

fix(DatePicker): fixed multiplicity on DatePicker type='date-time-range'
  src/components/DatePickerCanary/DatePickerTypeDateTimeRange/DatePickerTypeDateTimeRange.tsx
  src/components/DatePickerCanary/__stories__/DatePicker.stories.tsx
Owners: @gizeasy, @N1MBER

fix(DatePicker): fixed multiplicity on DatePicker type='date-time-range' (#2264)
  src/components/DatePickerCanary/DatePickerTypeDateTimeRange/DatePickerTypeDateTimeRange.tsx
  src/components/DatePickerCanary/__stories__/DatePicker.stories.tsx
Owners: @gizeasy, @N1MBER

release(3.21.1):
  package.json
Owners: @gizeasy, @N1MBER

feat(DatePickerTypeMonth): add new modification for type month and moonth-range
  src/components/DatePickerCanary/DatePickerCanary.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeMonth/DatePickerFieldTypeMonth.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeMonth/helpers.ts
  src/components/DatePickerCanary/DatePickerFieldTypeMonthRange/DatePickerFieldTypeMonthRange.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeMonthRange/helpers.ts
  src/components/DatePickerCanary/DatePickerTypeMonth/DatePickerTypeMonth.tsx
  src/components/DatePickerCanary/DatePickerTypeMonthRange/DatePickerTypeMonthRange.tsx
  src/components/DatePickerCanary/__stories__/DatePicker.docs.mdx
  src/components/DatePickerCanary/__stories__/DatePicker.stories.tsx
  src/components/DatePickerCanary/__stories__/examples/DatePickerExampleType/DatePickerExampleType.tsx
  src/components/DatePickerCanary/helpers.ts
  src/components/DatePickerCanary/types.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

test(DatePickerTypeMonth): add tests form type month and month-range
  src/components/DatePickerCanary/__tests__/DatePicker_type_month.test.tsx
  src/components/DatePickerCanary/__tests__/DatePicker_type_monthRange.test.tsx
Owners: @gizeasy, @N1MBER

release(3.21.1):
  package.json
Owners: @gizeasy, @N1MBER

release(3.21.2):
  package.json
Owners: @gizeasy, @N1MBER

changelog(3.21.2):
  CHANGELOG.md
Owners: @arhayka, @kolebayev

docs(Steps): add adaptive
  src/components/Steps/__stories__/Steps.docs.mdx
  src/components/Steps/__stories__/examples/ExampleStepsAdaptive/ExampleStepsAdaptive.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

fix(Select): fix height on multiple mode
  src/components/Combobox/Combobox.tsx
  src/components/SelectComponents/Select.css
  src/components/SelectComponents/SelectContainer/SelectContainer.tsx
  src/components/UserSelect/UserSelect.tsx
Owners: @gizeasy, @N1MBER, @kolebayev

feat(Steps): getters are made optional
  src/components/Steps/Steps.tsx
  src/components/Steps/__mocks__/mock.data.ts
  src/components/Steps/__stories__/Steps.docs.mdx
  src/components/Steps/__stories__/Steps.stories.tsx
  src/components/Steps/__stories__/examples/ExampleStepsCompleted/ExampleStepsCompleted.tsx
  src/components/Steps/__stories__/examples/ExampleStepsContent/ExampleStepsContent.tsx
  src/components/Steps/__stories__/examples/ExampleStepsDisabled/ExampleStepsDisabled.tsx
  src/components/Steps/__stories__/examples/ExampleStepsSize/ExampleStepsSize.tsx
  src/components/Steps/__stories__/examples/ExampleStepsSkipped/ExampleStepsSkipped.tsx
  src/components/Steps/__stories__/examples/ExampleStepsValue/ExampleStepsValue.tsx
  src/components/Steps/helper.ts
  src/components/Steps/types.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

fix(Steps): fix bug with hidding status line
  src/components/Steps/Steps.css
Owners: @kolebayev

docs(ProgressStepBar): add adaptive section
  src/components/ProgressStepBarCanary/__stories__/ProgressStepBar.docs.mdx
  src/components/ProgressStepBarCanary/__stories__/examples/ProgressStepBarExampleAdaptive/ProgressStepBarExampleAdaptive.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(Header): fix typo in doc Heder —> Header
  src/components/Header/__stories__/Header.docs.mdx
Owners: @arhayka, @kolebayev

docs(SnackBar): edit afger review
  src/components/SnackBar/__stories__/SnackBar.docs.mdx
  src/components/SnackBar/__stories__/examples/SnackBarExampleAdaptive/SnackBarExampleAdaptive.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(Table): add adaptive section
  src/components/Table/__stories__/Table.docs.mdx
  src/components/Table/__stories__/examples/TableExampleAdaptive/TableExampleAdaptive.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(Snackbar): add adaptive section (#2261)
  src/components/SnackBar/__stories__/SnackBar.docs.mdx
  src/components/SnackBar/__stories__/examples/SnackBarExampleAdaptive/SnackBarExampleAdaptive.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(Steps): add adaptive (#2266)
  src/components/Steps/__stories__/Steps.docs.mdx
  src/components/Steps/__stories__/examples/ExampleStepsAdaptive/ExampleStepsAdaptive.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

feat(DatePickerTypeMonth): add new types month and month-range (#2265)
  src/components/DatePickerCanary/DatePickerCanary.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeMonth/DatePickerFieldTypeMonth.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeMonth/helpers.ts
  src/components/DatePickerCanary/DatePickerFieldTypeMonthRange/DatePickerFieldTypeMonthRange.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeMonthRange/helpers.ts
  src/components/DatePickerCanary/DatePickerTypeMonth/DatePickerTypeMonth.tsx
  src/components/DatePickerCanary/DatePickerTypeMonthRange/DatePickerTypeMonthRange.tsx
  src/components/DatePickerCanary/__stories__/DatePicker.docs.mdx
  src/components/DatePickerCanary/__stories__/examples/DatePickerExampleType/DatePickerExampleType.tsx
  src/components/DatePickerCanary/__tests__/DatePicker_type_month.test.tsx
  src/components/DatePickerCanary/__tests__/DatePicker_type_monthRange.test.tsx
  src/components/DatePickerCanary/helpers.ts
  src/components/DatePickerCanary/types.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

fix(Select): fix height on multiple mode (#2267)
  src/components/Combobox/Combobox.tsx
  src/components/SelectComponents/Select.css
  src/components/SelectComponents/SelectContainer/SelectContainer.tsx
  src/components/UserSelect/UserSelect.tsx
Owners: @gizeasy, @N1MBER, @kolebayev

docs(ProgressStepBar): add adaptive section (#2270)
  src/components/ProgressStepBarCanary/__stories__/ProgressStepBar.docs.mdx
  src/components/ProgressStepBarCanary/__stories__/examples/ProgressStepBarExampleAdaptive/ProgressStepBarExampleAdaptive.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(Header): fix typo in doc Heder —> Header (#2275)
  src/components/Header/__stories__/Header.docs.mdx
Owners: @arhayka, @kolebayev

docs(Table): add adaptive section (#2278)
  src/components/Table/__stories__/Table.docs.mdx
  src/components/Table/__stories__/examples/TableExampleAdaptive/TableExampleAdaptive.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

release(3.22.0):
  package.json
  src/components/SelectComponents/Select.css
Owners: @gizeasy, @N1MBER, @kolebayev

changelog(3.22.0):
  CHANGELOG.md
Owners: @arhayka, @kolebayev

docs(review): add MixPlot and agGridAdapter
  src/uiKit/components/ComponentsGridWithData/data/additionalData.ts
  src/uiKit/components/ComponentsGridWithData/data/data.ts
Owners: @gizeasy, @N1MBER

feat(fonts): add Inter
  builder/build.js
  builder/helpers/generateReExportsFonts/index.js
  builder/helpers/index.js
  docs/common/fonts.stories.mdx
  src/components/Theme/_font/Theme_font_gpnDefault.css
  src/components/Theme/_size/Theme_size_gpnDefault.css
  src/fonts/inter/Inter-Black.woff
  src/fonts/inter/Inter-Black.woff2
  src/fonts/inter/Inter-Bold.woff
  src/fonts/inter/Inter-Bold.woff2
  src/fonts/inter/Inter-ExtraBold.woff
  src/fonts/inter/Inter-ExtraBold.woff2
  src/fonts/inter/Inter-ExtraLight.woff
  src/fonts/inter/Inter-ExtraLight.woff2
  src/fonts/inter/Inter-Light.woff
  src/fonts/inter/Inter-Light.woff2
  src/fonts/inter/Inter-Medium.woff
  src/fonts/inter/Inter-Medium.woff2
  src/fonts/inter/Inter-Regular.woff
  src/fonts/inter/Inter-Regular.woff2
  src/fonts/inter/Inter-SemiBold.woff
  src/fonts/inter/Inter-SemiBold.woff2
  src/fonts/inter/Inter-Thin.woff
  src/fonts/inter/Inter-Thin.woff2
  src/fonts/inter/index.tsx
  src/fonts/inter/inter.css
  src/uiKit/components/StoryBookRootDecorator/StoryBookRootDecorator.tsx
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

feat(inter): docs revoew
  docs/common/fonts.stories.mdx
Owners: @arhayka, @kolebayev

docs(review): add MixPlot and agGridAdapter (#2289)
  src/uiKit/components/ComponentsGridWithData/data/additionalData.ts
  src/uiKit/components/ComponentsGridWithData/data/data.ts
Owners: @gizeasy, @N1MBER

feat(Inter): edit docs after review
  docs/common/fonts.stories.mdx
Owners: @arhayka, @kolebayev

feat(fonts): add Inter (#2290)
  builder/build.js
  builder/helpers/generateReExportsFonts/index.js
  builder/helpers/index.js
  docs/common/fonts.stories.mdx
  src/components/Theme/_font/Theme_font_gpnDefault.css
  src/components/Theme/_size/Theme_size_gpnDefault.css
  src/fonts/inter/Inter-Black.woff
  src/fonts/inter/Inter-Black.woff2
  src/fonts/inter/Inter-Bold.woff
  src/fonts/inter/Inter-Bold.woff2
  src/fonts/inter/Inter-ExtraBold.woff
  src/fonts/inter/Inter-ExtraBold.woff2
  src/fonts/inter/Inter-ExtraLight.woff
  src/fonts/inter/Inter-ExtraLight.woff2
  src/fonts/inter/Inter-Light.woff
  src/fonts/inter/Inter-Light.woff2
  src/fonts/inter/Inter-Medium.woff
  src/fonts/inter/Inter-Medium.woff2
  src/fonts/inter/Inter-Regular.woff
  src/fonts/inter/Inter-Regular.woff2
  src/fonts/inter/Inter-SemiBold.woff
  src/fonts/inter/Inter-SemiBold.woff2
  src/fonts/inter/Inter-Thin.woff
  src/fonts/inter/Inter-Thin.woff2
  src/fonts/inter/index.tsx
  src/fonts/inter/inter.css
  src/uiKit/components/StoryBookRootDecorator/StoryBookRootDecorator.tsx
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

release(3.23.0):
  package.json
Owners: @gizeasy, @N1MBER

changelog(3.23.0):
  CHANGELOG.md
Owners: @arhayka, @kolebayev

Add doc
  docs/common/newFont/components/images/font-replace-pic-1.png
  docs/common/newFont/components/newFontPictures.jsx
  docs/common/newFont/newFont.stories.mdx
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

Fix issues
  docs/common/newFont/newFont.stories.mdx
Owners: @arhayka, @kolebayev

Last fix I sware
  docs/common/newFont/newFont.stories.mdx
Owners: @arhayka, @kolebayev

docs(new font): new font instructions for designers (#2295)
  docs/common/newFont/components/images/font-replace-pic-1.png
  docs/common/newFont/components/newFontPictures.jsx
  docs/common/newFont/newFont.stories.mdx
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

fix(Slider): fix detecting of active line
  src/components/SliderCanary/useSliderStationing.ts
Owners: @gizeasy, @N1MBER

.github/CODEOWNERS:

* @gizeasy @N1MBER 
*.md @arhayka @kolebayev
*.mdx @arhayka @kolebayev
*.css @kolebayev
