Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @alyonurchick1, @linturaven

.github/CODEOWNERS:

* @gizeasy
*.md @alyonurchick1
*.mdx @alyonurchick1
*.css @linturaven

fix(AutoCompleteCanary): export fixed
  src/components/AutoCompleteCanary/AutoCompleteCanary.tsx
  src/components/AutoCompleteCanary/__stand__/AutoComplete.variants.tsx
  src/components/AutoCompleteCanary/__stand__/examples/AutoCompleteExampleGroups/AutoCompleteExampleGroups.tsx
  src/components/AutoCompleteCanary/__tests__/AutoComplite.test.tsx
  src/components/AutoCompleteCanary/index.ts
Owners: @gizeasy

docs (ProgressLine): implementation of editorial policy
  src/components/ProgressLine/__stand__/ProgressLine.dev.stand.mdx
Owners: @alyonurchick1

docs (ProgressSpin): implementation of editorial policy
  src/components/ProgressSpin/__stand__/ProgressSpin.dev.stand.mdx
Owners: @alyonurchick1

Update ProgressSpin.dev.stand.mdx
  src/components/ProgressSpin/__stand__/ProgressSpin.dev.stand.mdx
Owners: @alyonurchick1

docs (ProgressStepBar): implementation of editorial policy
  src/components/ProgressStepBar/__stand__/ProgressStepBar.dev.stand.mdx
Owners: @alyonurchick1

fix(AutoCompleteCanary): export fixed (#4034)
  src/components/AutoCompleteCanary/AutoCompleteCanary.tsx
  src/components/AutoCompleteCanary/__stand__/AutoComplete.variants.tsx
  src/components/AutoCompleteCanary/__stand__/examples/AutoCompleteExampleGroups/AutoCompleteExampleGroups.tsx
  src/components/AutoCompleteCanary/__tests__/AutoComplite.test.tsx
  src/components/AutoCompleteCanary/index.ts
Owners: @gizeasy

docs (ProgressSpin): implementation of editorial policy (#4038)
  src/components/ProgressSpin/__stand__/ProgressSpin.dev.stand.mdx
Owners: @alyonurchick1

feat(Button): added type="circle" for Loader
  src/components/Button/Button.tsx
Owners: @gizeasy

feat(Button): added type="circle" for Loader (#4041)
  src/components/Button/Button.tsx
Owners: @gizeasy

Update ProgressStepBar.dev.stand.mdx
  src/components/ProgressStepBar/__stand__/ProgressStepBar.dev.stand.mdx
Owners: @alyonurchick1

Update ProgressLine.dev.stand.mdx
  src/components/ProgressLine/__stand__/ProgressLine.dev.stand.mdx
Owners: @alyonurchick1

docs (Radio): implementation of editorial policy
  src/components/Radio/__stand__/Radio.dev.stand.mdx
Owners: @alyonurchick1

docs (RadioGroup): implementation of editorial policy
  src/components/RadioGroup/__stand__/RadioGroup.dev.stand.mdx
Owners: @alyonurchick1

Update RadioGroup.dev.stand.mdx
  src/components/RadioGroup/__stand__/RadioGroup.dev.stand.mdx
Owners: @alyonurchick1

docs (Responses): implementation of editorial policy
  src/components/Responses/__stand__/Responses.dev.stand.mdx
Owners: @alyonurchick1

docs (Select): implementation of editorial policy
  src/components/Select/__stand__/Select.dev.stand.mdx
Owners: @alyonurchick1

Update Select.dev.stand.mdx
  src/components/Select/__stand__/Select.dev.stand.mdx
Owners: @alyonurchick1

Update Select.dev.stand.mdx
  src/components/Select/__stand__/Select.dev.stand.mdx
Owners: @alyonurchick1

Update Select.dev.stand.mdx
  src/components/Select/__stand__/Select.dev.stand.mdx
Owners: @alyonurchick1

Update Select.dev.stand.mdx
  src/components/Select/__stand__/Select.dev.stand.mdx
Owners: @alyonurchick1

docs (Select Canary): implementation of editorial policy
  src/components/SelectCanary/__stand__/Select.dev.stand.mdx
  src/components/SelectCanary/__stand__/Select.stand.mdx
Owners: @alyonurchick1

docs (Sidebar): implementation of editorial policy
  src/components/Sidebar/__stand__/Sidebar.dev.stand.mdx
Owners: @alyonurchick1

docs (ProgressLine): implementation of editorial policy (#4037)
  src/components/ProgressLine/__stand__/ProgressLine.dev.stand.mdx
Owners: @alyonurchick1

Update cspell.json
  cspell.json
Owners: @gizeasy

docs (Slider): implementation of editorial policy
  src/components/Slider/__stand__/Slider.dev.stand.mdx
Owners: @alyonurchick1

docs (SnackBar): implementation of editorial policy
  src/components/SnackBar/__stand__/SnackBar.dev.stand.mdx
Owners: @alyonurchick1

Update Slider.dev.stand.mdx
  src/components/Slider/__stand__/Slider.dev.stand.mdx
Owners: @alyonurchick1

changelog: 5.25.0
  CHANGELOG.md
  package.json
  src/components/Banner/Banner.css
Owners: @alyonurchick1, @gizeasy, @linturaven

init
  .husky/pre-commit
  .husky/pre-push
  src/components/FlatSelect/FlatSelect.css
  src/components/FlatSelect/FlatSelect.tsx
  src/components/FlatSelect/FlatSelectControlLayout/FlatSelectControlLayout.tsx
  src/components/FlatSelect/FlatSelectControlLayout/index.ts
  src/components/FlatSelect/FlatSelectGroupLabel/FlatSelectGroupLabel.tsx
  src/components/FlatSelect/FlatSelectGroupLabel/index.ts
  src/components/FlatSelect/FlatSelectItem/FlatSelectItem.css
  src/components/FlatSelect/FlatSelectItem/FlatSelectItem.tsx
  src/components/FlatSelect/FlatSelectItem/index.ts
  src/components/FlatSelect/FlatSelectItemAll/FlatSelectItemAll.css
  src/components/FlatSelect/FlatSelectItemAll/FlatSelectItemAll.tsx
  src/components/FlatSelect/FlatSelectItemAll/index.ts
  src/components/FlatSelect/FlatSelectList/FlatSelectList.css
  src/components/FlatSelect/FlatSelectList/FlatSelectList.tsx
  src/components/FlatSelect/FlatSelectList/index.ts
  src/components/FlatSelect/FlatSelectLoader/FlatSelectLoader.css
  src/components/FlatSelect/FlatSelectLoader/FlatSelectLoader.tsx
  src/components/FlatSelect/FlatSelectLoader/index.ts
  src/components/FlatSelect/FlatSelectRenderItem/FlatSelectRenderItem.tsx
  src/components/FlatSelect/FlatSelectRenderItem/index.ts
  src/components/FlatSelect/__stand__/FlatSelect.dev.stand.mdx
  src/components/FlatSelect/__stand__/FlatSelect.stand.mdx
  src/components/FlatSelect/__stand__/FlatSelect.stand.tsx
  src/components/FlatSelect/__stand__/FlatSelect.variants.tsx
  src/components/FlatSelect/defaultProps.ts
  src/components/FlatSelect/helpers.ts
  src/components/FlatSelect/index.ts
  src/components/FlatSelect/types.ts
  src/components/FlatSelect/useFlatSelect/helpers.ts
  src/components/FlatSelect/useFlatSelect/index.ts
  src/components/FlatSelect/useFlatSelect/useFlatSelect.ts
  src/components/ListCanary/ListBox/ListBox.tsx
Owners: @gizeasy, @linturaven, @alyonurchick1

uuu
  src/components/FlatSelect/FlatSelect.css
  src/components/FlatSelect/FlatSelect.tsx
  src/components/FlatSelect/FlatSelectControlLayout/FlatSelectControlLayout.tsx
  src/components/FlatSelect/FlatSelectList/FlatSelectList.tsx
  src/components/FlatSelect/__stand__/FlatSelect.variants.tsx
  src/components/FlatSelect/useFlatSelect/useFlatSelect.ts
Owners: @linturaven, @gizeasy

docs (Spoiler): implementation of editorial policy
  src/components/Spoiler/__stand__/Spoiler.dev.stand.mdx
Owners: @alyonurchick1

Update ProgressStepBar.dev.stand.mdx
  src/components/ProgressStepBar/__stand__/ProgressStepBar.dev.stand.mdx
Owners: @alyonurchick1

Update RadioGroup.dev.stand.mdx
  src/components/RadioGroup/__stand__/RadioGroup.dev.stand.mdx
Owners: @alyonurchick1

Update Select.dev.stand.mdx
  src/components/Select/__stand__/Select.dev.stand.mdx
Owners: @alyonurchick1

Update Select.dev.stand.mdx
  src/components/SelectCanary/__stand__/Select.dev.stand.mdx
Owners: @alyonurchick1

Update Sidebar.dev.stand.mdx
  src/components/Sidebar/__stand__/Sidebar.dev.stand.mdx
Owners: @alyonurchick1

Update Slider.dev.stand.mdx
  src/components/Slider/__stand__/Slider.dev.stand.mdx
Owners: @alyonurchick1

Update SnackBar.dev.stand.mdx
  src/components/SnackBar/__stand__/SnackBar.dev.stand.mdx
Owners: @alyonurchick1

fix(ProgressStepBar): fix line width for 2 steps
  src/components/ProgressStepBar/ProgressStepBarItem/ProgressStepBarItem.tsx
  src/components/ProgressStepBar/__tests__/ProgressStepBar.test.tsx
  src/components/ProgressStepBar/__tests__/ProgressStepBarItem.test.tsx
  src/components/ProgressStepBar/helpers.ts
Owners: @gizeasy

docs (Steps): implementation of editorial policy
  src/components/Steps/__stand__/Steps.dev.stand.mdx
  src/components/Steps/__stand__/Steps.stand.tsx
Owners: @alyonurchick1, @gizeasy
