Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @N1MBER, @BagenovA, @linturaven

fix(TextField): fix clear button (#3199)
  package.json
  src/components/BadgeGroup/__stand__/BadgeGroup.variants.tsx
  src/components/ListCanary/__mocks__/mock.data.tsx
  src/components/SpoilerCanary/SpoilerButton/SpoilerButton.tsx
  src/components/TextField/TextField.css
  src/components/TextField/TextField.tsx
  yarn.lock
Owners: @gizeasy, @N1MBER, @linturaven

feat(Selects): add props for control dropdown open/close state (#3204)
  package.json
  src/components/AutoCompleteCanary/AutoCompleteCanary.tsx
  src/components/AutoCompleteCanary/__stand__/AutoComplete.dev.stand.mdx
  src/components/AutoCompleteCanary/__stand__/examples/AutoCompleteExampleDropdownOpen/AutoCompleteExampleDropdownOpen.tsx
  src/components/AutoCompleteCanary/types.ts
  src/components/AutoCompleteCanary/useAutoComplete.ts
  src/components/ComboboxCanary/ComboboxCanary.tsx
  src/components/ComboboxCanary/__stand__/Combobox.dev.stand.mdx
  src/components/ComboboxCanary/__stand__/examples/ComboboxExampleDropdownOpen/ComboboxExampleDropdownOpen.tsx
  src/components/ComboboxCanary/__stand__/examples/ComboboxExampleIsLoading/ComboboxExampleIsLoading.tsx
  src/components/ComboboxCanary/helpers.ts
  src/components/SelectCanary/SelectCanary.tsx
  src/components/SelectCanary/__stand__/Select.dev.stand.mdx
  src/components/SelectCanary/__stand__/examples/SelectExampleDropdownOpen/SelectExampleDropdownOpen.tsx
  src/components/SelectCanary/__stand__/examples/SelectExampleIsLoading/SelectExampleIsLoading.tsx
  src/components/SelectCanary/helpers.ts
  src/components/SelectComponentsCanary/useSelect/useSelect.ts
  src/components/UserSelectCanary/UserSelectCanary.tsx
  src/components/UserSelectCanary/__stand__/UserSelect.dev.stand.mdx
  src/components/UserSelectCanary/__stand__/examples/UserSelectExampleDropdownOpen/UserSelectExampleDropdownOpen.tsx
  src/components/UserSelectCanary/__stand__/examples/UserSelectExampleIsLoading/UserSelectExampleIsLoading.tsx
  src/components/UserSelectCanary/helpers.ts
  src/hooks/useFlag/useFlag.ts
  src/icons/createIcon/createIcon.tsx
  yarn.lock
Owners: @gizeasy, @N1MBER, @BagenovA

release: 4.25.0
  package.json
Owners: @gizeasy, @N1MBER

changelog: 4.25.0
  CHANGELOG.md
Owners: @BagenovA

feat(Controls): add formId field for form id
  src/components/AutoCompleteCanary/AutoCompleteCanary.tsx
  src/components/AutoCompleteCanary/__stand__/AutoComplete.dev.stand.mdx
  src/components/AutoCompleteCanary/types.ts
  src/components/Button/Button.tsx
  src/components/Button/__stand__/Button.dev.stand.mdx
  src/components/Checkbox/Checkbox.tsx
  src/components/Checkbox/__stand__/Checkbox.dev.stand.mdx
  src/components/DragNDropField/DragNDropField.tsx
  src/components/DragNDropField/__stand__/DragNDropField.dev.stand.mdx
  src/components/DragNDropField/types.ts
  src/components/Radio/Radio.tsx
  src/components/Radio/__stand__/Radio.dev.stand.mdx
  src/components/TextField/TextField.tsx
  src/components/TextField/__stand__/TextField.dev.stand.mdx
  src/components/TextField/types.ts
Owners: @gizeasy, @N1MBER, @BagenovA

feat(withDefaultProps): add new hoc
  src/hocs/withDefaultProps/__stand__/examples/WithDefaultPropsExample/WithDefaultPropsExample.tsx
  src/hocs/withDefaultProps/__stand__/withDefaultProps.stand.mdx
  src/hocs/withDefaultProps/__stand__/withDefaultProps.stand.tsx
  src/hocs/withDefaultProps/index.ts
  src/hocs/withDefaultProps/withDefaultProps.tsx
Owners: @gizeasy, @N1MBER, @BagenovA

feat(BookmarksTabs): add new component
  src/components/BookmarkTabsCanary/BookmarkTabs.css
  src/components/BookmarkTabsCanary/BookmarkTabs.tsx
  src/components/BookmarkTabsCanary/BookmarkTabsTab/BookmarkTabsTab.css
  src/components/BookmarkTabsCanary/BookmarkTabsTab/BookmarkTabsTab.tsx
  src/components/BookmarkTabsCanary/BookmarkTabsTab/index.ts
  src/components/BookmarkTabsCanary/__mocks__/mock.data.ts
  src/components/BookmarkTabsCanary/__stand__/BookmarkTabs.dev.stand.mdx
  src/components/BookmarkTabsCanary/__stand__/BookmarkTabs.stand.mdx
  src/components/BookmarkTabsCanary/__stand__/BookmarkTabs.stand.tsx
  src/components/BookmarkTabsCanary/__stand__/BookmarkTabs.variants.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExample/BookmarkTabsExample.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleAs/BookmarkTabsExampleAs.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleFitMode/BookmarkTabsExampleFitMode.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleFixed/BookmarkTabsExampleFixed.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleForm/BookmarkTabsExampleForm.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleIcon/BookmarkTabsExampleIcon.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleLabel/BookmarkTabsExampleLabel.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleOnCreate/BookmarkTabsExampleOnCreate.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleOnRemove/BookmarkTabsExampleOnRemove.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleRenderItem/BookmarkTabsExampleRenderItem.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleSize/BookmarkTabsExampleSize.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleView/BookmarkTabsExampleView.tsx
  src/components/BookmarkTabsCanary/helper.ts
  src/components/BookmarkTabsCanary/index.ts
  src/components/BookmarkTabsCanary/types.ts
  src/components/BookmarkTabsCanary/useBookmarkTabs.ts
Owners: @linturaven, @gizeasy, @N1MBER, @BagenovA

fix(BadgeGroup): fix icon
  src/components/BadgeGroup/__stand__/BadgeGroup.variants.tsx
Owners: @gizeasy, @N1MBER

fix(useBookmarkTabs): fix types
  src/components/BookmarkTabsCanary/useBookmarkTabs.ts
Owners: @gizeasy, @N1MBER

fix(Collapse): fix collapse height
  src/components/Collapse/Collapse.css
Owners: @linturaven

fix(TextField): fix value checking
  src/components/TextField/TextField.tsx
Owners: @gizeasy, @N1MBER

fix(TextField): fix value checking (#3228)
  src/components/TextField/TextField.tsx
Owners: @gizeasy, @N1MBER

fix(Collapse): fix collapse height (#3226)
  src/components/Collapse/Collapse.css
Owners: @linturaven

bugfix: fix Tab two times when enter own custom value
  src/components/AutoCompleteCanary/useAutoComplete.ts
Owners: @gizeasy, @N1MBER

fix(BookmarkTabs): fix
  src/components/BookmarkTabsCanary/BookmarkTabs.css
  src/components/BookmarkTabsCanary/BookmarkTabs.tsx
  src/components/BookmarkTabsCanary/BookmarkTabsTab/BookmarkTabsTab.css
  src/components/BookmarkTabsCanary/useBookmarkTabs.ts
Owners: @linturaven, @gizeasy, @N1MBER

fix(BookmarkTabs): fix
  src/components/BookmarkTabsCanary/BookmarkTabs.tsx
  src/components/BookmarkTabsCanary/BookmarkTabsTab/BookmarkTabsTab.css
  src/components/BookmarkTabsCanary/__stand__/BookmarkTabs.dev.stand.mdx
  src/components/BookmarkTabsCanary/__stand__/BookmarkTabs.variants.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleFitMode/BookmarkTabsExampleFitMode.tsx
  src/components/BookmarkTabsCanary/types.ts
  src/components/BookmarkTabsCanary/useBookmarkTabs.ts
Owners: @gizeasy, @N1MBER, @linturaven, @BagenovA

Update useAutoComplete.ts
  src/components/AutoCompleteCanary/useAutoComplete.ts
Owners: @gizeasy, @N1MBER

fix(useAutoComplete): fix Tab two times when enter own custom value (#3232)
  src/components/AutoCompleteCanary/useAutoComplete.ts
Owners: @gizeasy, @N1MBER

feat(BookmarkTabs): add new component (#3224)
  src/components/BookmarkTabsCanary/BookmarkTabs.css
  src/components/BookmarkTabsCanary/BookmarkTabs.tsx
  src/components/BookmarkTabsCanary/BookmarkTabsTab/BookmarkTabsTab.css
  src/components/BookmarkTabsCanary/BookmarkTabsTab/BookmarkTabsTab.tsx
  src/components/BookmarkTabsCanary/BookmarkTabsTab/index.ts
  src/components/BookmarkTabsCanary/__mocks__/mock.data.ts
  src/components/BookmarkTabsCanary/__stand__/BookmarkTabs.dev.stand.mdx
  src/components/BookmarkTabsCanary/__stand__/BookmarkTabs.stand.mdx
  src/components/BookmarkTabsCanary/__stand__/BookmarkTabs.stand.tsx
  src/components/BookmarkTabsCanary/__stand__/BookmarkTabs.variants.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExample/BookmarkTabsExample.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleAs/BookmarkTabsExampleAs.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleFitMode/BookmarkTabsExampleFitMode.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleFixed/BookmarkTabsExampleFixed.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleForm/BookmarkTabsExampleForm.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleIcon/BookmarkTabsExampleIcon.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleLabel/BookmarkTabsExampleLabel.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleOnCreate/BookmarkTabsExampleOnCreate.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleOnRemove/BookmarkTabsExampleOnRemove.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleRenderItem/BookmarkTabsExampleRenderItem.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleSize/BookmarkTabsExampleSize.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleView/BookmarkTabsExampleView.tsx
  src/components/BookmarkTabsCanary/helper.ts
  src/components/BookmarkTabsCanary/index.ts
  src/components/BookmarkTabsCanary/types.ts
  src/components/BookmarkTabsCanary/useBookmarkTabs.ts
Owners: @linturaven, @gizeasy, @N1MBER, @BagenovA

release: 4.26.0
  package.json
Owners: @gizeasy, @N1MBER

changelog: 4.26.0
  CHANGELOG.md
Owners: @BagenovA

fix(BookmarkTabs): reexport fix
  src/components/BookmarkTabsCanary/BookmarkTabs.css
  src/components/BookmarkTabsCanary/BookmarkTabsCanary.tsx
  src/components/BookmarkTabsCanary/BookmarkTabsTab/BookmarkTabsTab.css
  src/components/BookmarkTabsCanary/BookmarkTabsTab/BookmarkTabsTab.tsx
  src/components/BookmarkTabsCanary/__stand__/BookmarkTabs.variants.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExample/BookmarkTabsExample.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleAs/BookmarkTabsExampleAs.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleFitMode/BookmarkTabsExampleFitMode.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleFixed/BookmarkTabsExampleFixed.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleForm/BookmarkTabsExampleForm.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleIcon/BookmarkTabsExampleIcon.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleLabel/BookmarkTabsExampleLabel.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleOnCreate/BookmarkTabsExampleOnCreate.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleOnRemove/BookmarkTabsExampleOnRemove.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleSize/BookmarkTabsExampleSize.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleView/BookmarkTabsExampleView.tsx
  src/components/BookmarkTabsCanary/index.ts
Owners: @linturaven, @gizeasy, @N1MBER

fix(BookmarkTabs): reexport fix (#3237)
  src/components/BookmarkTabsCanary/BookmarkTabs.css
  src/components/BookmarkTabsCanary/BookmarkTabsCanary.tsx
  src/components/BookmarkTabsCanary/BookmarkTabsTab/BookmarkTabsTab.css
  src/components/BookmarkTabsCanary/BookmarkTabsTab/BookmarkTabsTab.tsx
  src/components/BookmarkTabsCanary/__stand__/BookmarkTabs.variants.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExample/BookmarkTabsExample.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleAs/BookmarkTabsExampleAs.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleFitMode/BookmarkTabsExampleFitMode.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleFixed/BookmarkTabsExampleFixed.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleForm/BookmarkTabsExampleForm.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleIcon/BookmarkTabsExampleIcon.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleLabel/BookmarkTabsExampleLabel.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleOnCreate/BookmarkTabsExampleOnCreate.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleOnRemove/BookmarkTabsExampleOnRemove.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleSize/BookmarkTabsExampleSize.tsx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleView/BookmarkTabsExampleView.tsx
  src/components/BookmarkTabsCanary/index.ts
Owners: @linturaven, @gizeasy, @N1MBER

release: 4.26.1
  package.json
Owners: @gizeasy, @N1MBER

feat(DatePicker): add new props: dropdownOpen, onDropdownOpen, ignoreOutsideClicksRefs
  src/components/DatePicker/DatePickerFieldTypeDateRange/DatePickerFieldTypeDateRange.tsx
  src/components/DatePicker/DatePickerFieldTypeDateRange/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeDateTimeRange/DatePickerFieldTypeDateTimeRange.tsx
  src/components/DatePicker/DatePickerFieldTypeDateTimeRange/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeMonthRange/DatePickerFieldTypeMonthRange.tsx
  src/components/DatePicker/DatePickerFieldTypeMonthRange/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeYearRange/DatePickerFieldTypeYearRange.tsx
  src/components/DatePicker/DatePickerFieldTypeYearRange/helpers.ts
  src/components/DatePicker/DatePickerTypeDate/DatePickerTypeDate.tsx
  src/components/DatePicker/DatePickerTypeDateRange/DatePickerTypeDateRange.tsx
  src/components/DatePicker/DatePickerTypeDateTime/DatePickerTypeDateTime.tsx
  src/components/DatePicker/DatePickerTypeDateTimeRange/DatePickerTypeDateTimeRange.tsx
  src/components/DatePicker/DatePickerTypeMonth/DatePickerTypeMonth.tsx
  src/components/DatePicker/DatePickerTypeMonthRange/DatePickerTypeMonthRange.tsx
  src/components/DatePicker/DatePickerTypeTime/DatePickerTypeTime.tsx
  src/components/DatePicker/DatePickerTypeYear/DatePickerTypeYear.tsx
  src/components/DatePicker/DatePickerTypeYearRange/DatePickerTypeYearRange.tsx
  src/components/DatePicker/__stand__/DatePicker.dev.stand.mdx
  src/components/DatePicker/__stand__/examples/DatePickerExampleDropdownOpen/DatePickerExampleDropdownOpen.tsx
  src/components/DatePicker/types.ts
  src/components/DatePicker/useCalendarVisible.ts
Owners: @gizeasy, @N1MBER, @BagenovA

changelog: 4.26.1
  CHANGELOG.md
Owners: @BagenovA

feat(Loader): rewrite styles and layout
  src/components/Loader/Loader.css
  src/components/Loader/Loader.tsx
Owners: @linturaven, @gizeasy, @N1MBER

feat(Badge): add counter mod
  src/components/Badge/Badge.css
  src/components/Badge/Badge.tsx
  src/components/Badge/__stand__/Badge.variants.tsx
Owners: @linturaven, @gizeasy, @N1MBER

feat(Loader): add new component
  src/components/Loader/Loader.css
  src/components/Loader/Loader.tsx
  src/components/LoaderCanary/Loader.css
  src/components/LoaderCanary/LoaderCanary.tsx
  src/components/LoaderCanary/__stand__/Loader.dev.stand.mdx
  src/components/LoaderCanary/__stand__/Loader.image.svg
  src/components/LoaderCanary/__stand__/Loader.stand.mdx
  src/components/LoaderCanary/__stand__/Loader.stand.tsx
  src/components/LoaderCanary/__stand__/Loader.variants.tsx
  src/components/LoaderCanary/__stand__/examples/LoaderExampleSize/LoaderExampleSize.css
  src/components/LoaderCanary/__stand__/examples/LoaderExampleSize/LoaderExampleSize.tsx
  src/components/LoaderCanary/__tests__/Loader.test.tsx
  src/components/LoaderCanary/index.ts
  src/components/LoaderCanary/types.ts
Owners: @linturaven, @gizeasy, @N1MBER, @BagenovA

feat(Slider): add new props: tooltipDirection & tooltipPossibleDirections
  src/components/Slider/Slider.tsx
  src/components/Slider/SliderPoint/SliderPoint.tsx
  src/components/Slider/__stand__/Slider.dev.stand.mdx
  src/components/Slider/helper.ts
Owners: @gizeasy, @N1MBER, @BagenovA

fix(ProgressStepBar): fix refs problem
  src/components/ProgressStepBar/ProgressStepBar.tsx
  src/components/ProgressStepBar/helpers.ts
Owners: @gizeasy, @N1MBER

feat(Slider): add new props: tooltipDirection & tooltipPossibleDirections (#3246)
  src/components/Slider/Slider.tsx
  src/components/Slider/SliderPoint/SliderPoint.tsx
  src/components/Slider/__stand__/Slider.dev.stand.mdx
  src/components/Slider/helper.ts
Owners: @gizeasy, @N1MBER, @BagenovA

fix(Loader): fix styles
  src/components/LoaderCanary/Loader.css
  src/components/LoaderCanary/LoaderCanary.tsx
  src/components/LoaderCanary/__stand__/examples/LoaderExampleSize/LoaderExampleSize.css
  src/components/LoaderCanary/__stand__/examples/LoaderExampleSize/LoaderExampleSize.tsx
Owners: @linturaven, @gizeasy, @N1MBER

fix(ProgressStepBar): fix calculate lines
  src/components/ProgressStepBar/helpers.ts
Owners: @gizeasy, @N1MBER

feat(DatePicker): add events on input keyboard events
  src/components/DatePicker/DatePickerTypeDate/DatePickerTypeDate.tsx
  src/components/DatePicker/DatePickerTypeDateRange/DatePickerTypeDateRange.tsx
  src/components/DatePicker/DatePickerTypeDateTime/DatePickerTypeDateTime.tsx
  src/components/DatePicker/DatePickerTypeDateTimeRange/DatePickerTypeDateTimeRange.tsx
  src/components/DatePicker/DatePickerTypeMonth/DatePickerTypeMonth.tsx
  src/components/DatePicker/DatePickerTypeMonthRange/DatePickerTypeMonthRange.tsx
  src/components/DatePicker/DatePickerTypeTime/DatePickerTypeTime.tsx
  src/components/DatePicker/DatePickerTypeYear/DatePickerTypeYear.tsx
  src/components/DatePicker/DatePickerTypeYearRange/DatePickerTypeYearRange.tsx
  src/components/DatePicker/__tests__/helpers.ts
  src/components/DatePicker/useCalendarVisible.ts
  src/hooks/useKeysRef/index.ts
  src/hooks/useKeysRef/useKeysRef.ts
Owners: @gizeasy, @N1MBER

fix(Loader): add paddings
  src/components/LoaderCanary/Loader.css
Owners: @linturaven

fix(ProgressStepBar): fix line on vertical view
  src/components/ProgressStepBar/helpers.ts
Owners: @gizeasy, @N1MBER

fix(DatePicker): fix docs and hook
  src/components/DatePicker/__stand__/DatePicker.dev.stand.mdx
  src/components/DatePicker/useCalendarVisible.ts
  src/hooks/useKeysRef/useKeysRef.ts
Owners: @BagenovA, @gizeasy, @N1MBER

feat(useKeysRef): add eventsType
  src/hooks/useKeysRef/useKeysRef.ts
Owners: @gizeasy, @N1MBER

feat(DatePicker): add open on value changing
  src/components/DatePicker/DatePickerTypeDate/DatePickerTypeDate.tsx
  src/components/DatePicker/DatePickerTypeDateRange/DatePickerTypeDateRange.tsx
  src/components/DatePicker/DatePickerTypeDateTime/DatePickerTypeDateTime.tsx
  src/components/DatePicker/DatePickerTypeDateTimeRange/DatePickerTypeDateTimeRange.tsx
  src/components/DatePicker/DatePickerTypeMonth/DatePickerTypeMonth.tsx
  src/components/DatePicker/DatePickerTypeMonthRange/DatePickerTypeMonthRange.tsx
  src/components/DatePicker/DatePickerTypeTime/DatePickerTypeTime.tsx
  src/components/DatePicker/DatePickerTypeYear/DatePickerTypeYear.tsx
  src/components/DatePicker/DatePickerTypeYearRange/DatePickerTypeYearRange.tsx
Owners: @gizeasy, @N1MBER

.github/CODEOWNERS:

* @gizeasy @N1MBER 
*.md @BagenovA
*.mdx @BagenovA
*.css @linturaven
