Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

.github/CODEOWNERS:

* @gizeasy @N1MBER 
*.md @arhayka @kolebayev
*.mdx @arhayka @kolebayev
*.css @kolebayev

test(ContextMenuCanary): add tests to ContextMenuCanary
  src/components/ContextMenuCanary/__tests__/ContextMenu.test.tsx
Owners: @gizeasy, @N1MBER

fix(SelectDropDown):
  src/components/SelectComponents/SelectDropdown/SelectDropdown.tsx
Owners: @gizeasy, @N1MBER

feat(cnMixPopoverAnimate): add animation to many components which use Popover component (#2109)
  src/components/ProgressStepBarCanary/ProgressStepBarItem/ProgressStepBarItem.tsx
  src/components/SelectComponents/SelectDropdown/SelectDropdown.css
  src/components/SelectComponents/SelectDropdown/SelectDropdown.tsx
  src/components/Table/FilterTooltip/TableFilterTooltip.tsx
  src/components/Tabs/MoreItems/TabsMoreItems.css
  src/components/Tabs/MoreItems/TabsMoreItems.tsx
Owners: @gizeasy, @N1MBER, @kolebayev

release(3.18.1):
  package.json
Owners: @gizeasy, @N1MBER

changelog(3.18.1):
  CHANGELOG.md
Owners: @arhayka, @kolebayev

Create deploy.yml
  .github/workflows/deploy.yml
Owners: @gizeasy, @N1MBER

chore(deploy): add deploy automatization
  .github/workflows/continuous-integration.yml
  .github/workflows/deploy.yml
Owners: @gizeasy, @N1MBER

Create delete_deploy.yml
  .github/workflows/delete_deploy.yml
Owners: @gizeasy, @N1MBER

Update delete_deploy.yml
  .github/workflows/delete_deploy.yml
Owners: @gizeasy, @N1MBER

Update delete_deploy.yml
  .github/workflows/delete_deploy.yml
Owners: @gizeasy, @N1MBER

chore(deploy): add deploy automatization
  .github/workflows/continuous-integration.yml
  .github/workflows/deploy.yml
Owners: @gizeasy, @N1MBER

chore(deploy): add deploy automatization (#2166)
  .github/workflows/continuous-integration.yml
  .github/workflows/deploy.yml
Owners: @gizeasy, @N1MBER

fix(Pagination): conditional rendering moved to the bottom
  src/components/Pagination/Pagination.tsx
Owners: @gizeasy, @N1MBER

fix(Pagination): conditional rendering moved to the bottom (#2167)
  src/components/Pagination/Pagination.tsx
Owners: @gizeasy, @N1MBER

test(ContextMenuCanary): add tests to ContextMenuCanary (#2086)
  src/components/ContextMenu/ContextMenuItem/ContextMenuItem.css
  src/components/ContextMenu/ContextMenuItem/ContextMenuItem.tsx
  src/components/ContextMenu/ContextMenuLevel/ContextMenuLevel.css
  src/components/ContextMenu/ContextMenuLevel/ContextMenuLevel.tsx
  src/components/ContextMenuCanary/__tests__/ContextMenu.test.tsx
Owners: @kolebayev, @gizeasy, @N1MBER

Revert "test(ContextMenuCanary): add tests to ContextMenuCanary (#2086)"
  src/components/ContextMenu/ContextMenuItem/ContextMenuItem.css
  src/components/ContextMenu/ContextMenuItem/ContextMenuItem.tsx
  src/components/ContextMenu/ContextMenuLevel/ContextMenuLevel.css
  src/components/ContextMenu/ContextMenuLevel/ContextMenuLevel.tsx
  src/components/ContextMenuCanary/__tests__/ContextMenu.test.tsx
Owners: @kolebayev, @gizeasy, @N1MBER

release(3.18.2):
  package.json
Owners: @gizeasy, @N1MBER

changelog(3.18.2):
  CHANGELOG.md
Owners: @arhayka, @kolebayev

fix(ContextMenuCanary): fix timeout on close inner levels
  src/components/ContextMenuCanary/ContextMenuLevel/ContextMenuLevel.tsx
  src/components/ContextMenuCanary/ContextMenuLevels/ContextMenuLevels.tsx
Owners: @gizeasy, @N1MBER

feat(DatePicker): added type time
  src/components/DatePickerCanary/DatePickerCanary.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeDate/helpers.ts
  src/components/DatePickerCanary/DatePickerFieldTypeDateTime/DatePickerFieldTypeDateTime.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeTime/DatePickerFieldTypeTime.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeTime/helpers.ts
  src/components/DatePickerCanary/DatePickerTypeDateTime/DatePickerTypeDateTime.tsx
  src/components/DatePickerCanary/DatePickerTypeTime/DatePickerTypeTime.tsx
  src/components/DatePickerCanary/__stories__/DatePicker.docs.mdx
  src/components/DatePickerCanary/__stories__/examples/DatePickerExampleType/DatePickerExampleType.tsx
  src/components/DatePickerCanary/helpers.ts
  src/components/DateTimeCanary/__stories__/examples/DateTimeExampleDateMin/DateTimeExampleDateMin.tsx
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

test(ContextMenuCanary): add tests to ContextMenuCanary
  src/components/ContextMenuCanary/__tests__/ContextMenu.test.tsx
Owners: @gizeasy, @N1MBER

test(ContextMenuCanary): add tests to ContextMenuCanary (#2175)
  src/components/ContextMenuCanary/__tests__/ContextMenu.test.tsx
Owners: @gizeasy, @N1MBER

chore(deploy): conditional comment on a pull request
  .github/workflows/deploy.yml
Owners: @gizeasy, @N1MBER

chore(deploy): conditional comment on a pull request (#2176)
  .github/workflows/deploy.yml
Owners: @gizeasy, @N1MBER

chore(deploy): edit public path
  .github/workflows/deploy.yml
  package.json
Owners: @gizeasy, @N1MBER

chore(deploy): edit public path (#2179)
  .github/workflows/deploy.yml
  package.json
Owners: @gizeasy, @N1MBER

fix(Pagination): remove usePropsHandler
  src/components/EventInterceptor/types.ts
  src/components/Pagination/Pagination.tsx
Owners: @gizeasy, @N1MBER

fix(ContextMenuCanary): fix timeout on close inner levels (#2173)
  src/components/ContextMenuCanary/ContextMenuLevel/ContextMenuLevel.tsx
  src/components/ContextMenuCanary/ContextMenuLevels/ContextMenuLevels.tsx
Owners: @gizeasy, @N1MBER

feat(Combobox): hide label for not found while items list is empty
  src/components/SelectComponents/SelectDropdown/SelectDropdown.tsx
Owners: @gizeasy, @N1MBER

docs(Button): add adaptive section
  src/components/Button/__stories__/Button.docs.mdx
  src/components/Button/__stories__/examples/ButtonExampleAdaptive/ButtonExampleAdaptive.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

feat(BreadcrumbsCanary): add inner submenu
  src/components/BreadcrumbsCanary/BreadcrumbsCanary.tsx
  src/components/BreadcrumbsCanary/BreadcrumbsFitModeDropdown/BreadcrumbsFitModeDropdown.tsx
  src/components/BreadcrumbsCanary/BreadcrumbsItem/BreadcrumbsItem.css
  src/components/BreadcrumbsCanary/BreadcrumbsItem/BreadcrumbsItem.tsx
  src/components/BreadcrumbsCanary/BreadcrumbsMore/BreadcrumbsMore.tsx
  src/components/BreadcrumbsCanary/__stories__/Breadcrumbs.docs.mdx
  src/components/BreadcrumbsCanary/__stories__/Breadcrumbs.stories.tsx
  src/components/BreadcrumbsCanary/__stories__/examples/BreadcrumbsExample/BreadcrumbsExample.tsx
  src/components/BreadcrumbsCanary/helpers.ts
  src/components/BreadcrumbsCanary/types.ts
Owners: @gizeasy, @N1MBER, @kolebayev, @arhayka

fix(BreadcrumbsCanary): fix position of ContextMenu
  src/components/BreadcrumbsCanary/BreadcrumbsItem/BreadcrumbsItem.tsx
Owners: @gizeasy, @N1MBER

docs(Card): add adaptive section
  src/components/Card/__stories__/Card.docs.mdx
  src/components/Card/__stories__/examples/CardExampleAdaptive/CardExampleAdaptive.tsx
  src/components/Card/__stories__/examples/CardExampleAdaptive/images/dashboard1280.png
  src/components/Card/__stories__/examples/CardExampleAdaptive/images/dashboard1440.png
  src/components/Card/__stories__/examples/CardExampleAdaptive/images/dashboard923.png
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(Button): add adaptive section (#2182)
  src/components/Button/__stories__/Button.docs.mdx
  src/components/Button/__stories__/examples/ButtonExampleAdaptive/ButtonExampleAdaptive.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(Card): add adaptive section (#2184)
  src/components/Card/__stories__/Card.docs.mdx
  src/components/Card/__stories__/examples/CardExampleAdaptive/CardExampleAdaptive.tsx
  src/components/Card/__stories__/examples/CardExampleAdaptive/images/dashboard1280.png
  src/components/Card/__stories__/examples/CardExampleAdaptive/images/dashboard1440.png
  src/components/Card/__stories__/examples/CardExampleAdaptive/images/dashboard923.png
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

feat(ContextMenuCanary): add prop types for offset from Popover
  src/components/BreadcrumbsCanary/BreadcrumbsItem/BreadcrumbsItem.tsx
  src/components/BreadcrumbsCanary/BreadcrumbsMore/BreadcrumbsMore.tsx
  src/components/ContextMenuCanary/__stories__/ContextMenu.docs.mdx
  src/components/ContextMenuCanary/types.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

fix deploy
  .github/workflows/deploy.yml
Owners: @gizeasy, @N1MBER

Revert "fix deploy"
  .github/workflows/deploy.yml
Owners: @gizeasy, @N1MBER

docs(ChoiceGroup): add adaptive section
  src/components/ChoiceGroup/__stories__/ChoiceGroup.docs.mdx
  src/components/ChoiceGroup/__stories__/examples/ChoiceGroupExampleAdaptive/ChoiceGroupExampleAdaptive.tsx
  src/components/ChoiceGroup/__stories__/examples/ChoiceGroupExampleAdaptive/images/choiceGroupAdaptive.png
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(ContextMenu): fix examples
  src/components/ContextMenuCanary/__stories__/ContextMenu.docs.mdx
  src/components/ContextMenuCanary/__stories__/examples/ContextMenuExampleOutsideClick/ContextMenuExampleOutsideClick.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER
