Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @alyonurchick1, @linturaven

.github/CODEOWNERS:

* @gizeasy
*.md @alyonurchick1
*.mdx @alyonurchick1
*.css @linturaven

fix(UserSelect): incorrect avatar size and label gap (#4149)
  src/components/UserSelect/UserSelectItem/UserSelectItem.css
  src/components/UserSelect/UserSelectItem/UserSelectItem.tsx
  src/components/UserSelect/UserSelectValue/UserSelectValue.css
  src/components/UserSelect/UserSelectValue/UserSelectValue.tsx
  src/components/UserSelect/helpers.ts
Owners: @linturaven, @gizeasy

fix(TextField): fixed errors in the console
  src/components/TextAreaAutoSize/TextAreaAutoSize.tsx
  src/components/TextFieldCanary/TextFieldCanary.tsx
  src/utils/object/clearUndefined.ts
  src/utils/object/index.ts
Owners: @gizeasy

release: 5.29.2
  package.json
Owners: @gizeasy

changelog: 5.29.2
  CHANGELOG.md
Owners: @alyonurchick1

feat(useBodyScrollFreeze): add hook
  src/hooks/useBodyScrollFreeze/useBodyScrollFreeze.ts
Owners: @gizeasy

feat(useBodyScrollFreeze): add BodyScrollFreeze class style
  src/hooks/useBodyScrollFreeze/useBodyScrollFreeze.css
Owners: @linturaven

feat(useBodyScrollFreeze): add index file
  src/hooks/useBodyScrollFreeze/index.ts
Owners: @gizeasy

test(useBodyScrollFreeze): add basic use cases
  src/hooks/useBodyScrollFreeze/__tests__/useBodyScrollFreeze.test.ts
Owners: @gizeasy

feat(useHover): add hook
  cspell.json
  src/hooks/useHover/__stand__/examples/UseHoverExample.tsx
  src/hooks/useHover/__stand__/useHover.stand.mdx
  src/hooks/useHover/__stand__/useHover.stand.tsx
  src/hooks/useHover/index.ts
  src/hooks/useHover/useHover.ts
Owners: @gizeasy, @alyonurchick1

refactor(useBodyScrollFreeze): rename props active to isActive
  src/hooks/useBodyScrollFreeze/__tests__/useBodyScrollFreeze.test.ts
  src/hooks/useBodyScrollFreeze/useBodyScrollFreeze.ts
Owners: @gizeasy

refactor(useBodyScrollFreeze): use object props
  src/hooks/useBodyScrollFreeze/__tests__/useBodyScrollFreeze.test.ts
  src/hooks/useBodyScrollFreeze/useBodyScrollFreeze.ts
Owners: @gizeasy

docs(useBodyScrollFreeze): add base documentation
  src/hooks/useBodyScrollFreeze/__stand__/useBodyScrollFreeze.stand.mdx
  src/hooks/useBodyScrollFreeze/__stand__/useBodyScrollFreeze.stand.ts
Owners: @alyonurchick1, @gizeasy

refactor(useBodyScrollFreeze): fix cspell error
  src/hooks/useBodyScrollFreeze/__stand__/useBodyScrollFreeze.stand.mdx
Owners: @alyonurchick1

refactor(useBodyScrollFreeze): add status and version
  src/hooks/useBodyScrollFreeze/__stand__/useBodyScrollFreeze.stand.ts
Owners: @gizeasy

test: add test
  src/hooks/useHover/__stand__/useHover.stand.mdx
  src/hooks/useHover/__tests__/useHover.test.tsx
  src/hooks/useHover/useHover.ts
Owners: @alyonurchick1, @gizeasy

feature(useBodyScrollFreeze): add body scroll freez hook (#4150)
  src/hooks/useBodyScrollFreeze/__stand__/useBodyScrollFreeze.stand.mdx
  src/hooks/useBodyScrollFreeze/__stand__/useBodyScrollFreeze.stand.ts
  src/hooks/useBodyScrollFreeze/__tests__/useBodyScrollFreeze.test.ts
  src/hooks/useBodyScrollFreeze/index.ts
  src/hooks/useBodyScrollFreeze/useBodyScrollFreeze.css
  src/hooks/useBodyScrollFreeze/useBodyScrollFreeze.ts
Owners: @alyonurchick1, @gizeasy, @linturaven

feat(useHover): add hook (#4151)
  cspell.json
  src/hooks/useHover/__stand__/examples/UseHoverExample.tsx
  src/hooks/useHover/__stand__/useHover.stand.mdx
  src/hooks/useHover/__stand__/useHover.stand.tsx
  src/hooks/useHover/__tests__/useHover.test.tsx
  src/hooks/useHover/index.ts
  src/hooks/useHover/useHover.ts
Owners: @gizeasy, @alyonurchick1

release: 5.30.0
  package.json
Owners: @gizeasy

changelog: 5.30.0
  CHANGELOG.md
Owners: @alyonurchick1

chore(deps): remove unused deprecated react-test-renderer (#4147)
  package.json
  yarn.lock
Owners: @gizeasy

chore(tests): remove `ts-jest`, keep `babel-jest` for tests
  jest.config.js
  package.json
  yarn.lock
Owners: @gizeasy

feat(Select): add dropdownContainer props
  src/components/Select/Select.tsx
  src/components/Select/__stand__/Select.dev.stand.mdx
  src/components/Select/__tests__/Select.test.tsx
  src/components/Select/helpers.ts
  src/components/SelectComponents/SelectDropdown/SelectDropdown.tsx
Owners: @gizeasy, @alyonurchick1

feat(SelectCanary): add dropdownContainer props
  src/components/SelectCanary/SelectDropdown/SelectDropdown.tsx
  src/components/SelectCanary/SelectMultiple/SelectMultiple.tsx
  src/components/SelectCanary/SelectMultiple/__test__/SelectMultiple.test.tsx
  src/components/SelectCanary/SelectPopover/SelectPopover.tsx
  src/components/SelectCanary/SelectSingle/SelectSingle.tsx
  src/components/SelectCanary/SelectSingle/__test__/SelectSingle.test.tsx
  src/components/SelectCanary/__stand__/Select.dev.stand.mdx
  src/components/SelectCanary/types.ts
Owners: @gizeasy, @alyonurchick1

feat(FlatSelect): add dropdownContainer props
  src/components/FlatSelect/FlatSelect.tsx
  src/components/FlatSelect/FlatSelectRoot/FlatSelectRoot.tsx
  src/components/FlatSelect/__stand__/FlatSelect.dev.stand.mdx
  src/components/FlatSelect/__tests__/FlatSelect.test.tsx
  src/components/FlatSelect/types.ts
Owners: @gizeasy, @alyonurchick1

feat(UserSelect): add dropdownContainer props
  src/components/UserSelect/UserSelect.tsx
  src/components/UserSelect/__stand__/UserSelect.dev.stand.mdx
  src/components/UserSelect/__tests__/UserSelect.test.tsx
  src/components/UserSelect/helpers.ts
Owners: @gizeasy, @alyonurchick1

feat(DatePicker): add dropdownContainer props
  src/components/DatePicker/DatePickerDropdown/DatePickerDropdown.tsx
  src/components/DatePicker/DatePickerTypeDate/DatePickerTypeDate.tsx
  src/components/DatePicker/DatePickerTypeDateRange/DatePickerTypeDateRange.tsx
  src/components/DatePicker/DatePickerTypeDateTime/DatePickerTypeDateTime.tsx
  src/components/DatePicker/DatePickerTypeDateTimeRange/DatePickerTypeDateTimeRange.tsx
  src/components/DatePicker/DatePickerTypeMonth/DatePickerTypeMonth.tsx
  src/components/DatePicker/DatePickerTypeMonthRange/DatePickerTypeMonthRange.tsx
  src/components/DatePicker/DatePickerTypeTime/DatePickerTypeTime.tsx
  src/components/DatePicker/DatePickerTypeYear/DatePickerTypeYear.tsx
  src/components/DatePicker/DatePickerTypeYearRange/DatePickerTypeYearRange.tsx
  src/components/DatePicker/__stand__/DatePicker.dev.stand.mdx
  src/components/DatePicker/__tests__/DatePicker.test.tsx
  src/components/DatePicker/types.ts
Owners: @gizeasy, @alyonurchick1

test(Select): update selectors for dropdownContainer tests
  src/components/Select/__tests__/Select.test.tsx
Owners: @gizeasy

feat(Combobox): add dropdownContainer props
  src/components/Combobox/Combobox.tsx
  src/components/Combobox/__stand__/Combobox.dev.stand.mdx
  src/components/Combobox/__tests__/Combobox.test.tsx
  src/components/Combobox/helpers.ts
Owners: @gizeasy, @alyonurchick1

feat(AutoComplete): add dropdownContainer props
  src/components/AutoComplete/AutoComplete.tsx
  src/components/AutoComplete/__stand__/AutoComplete.dev.stand.mdx
  src/components/AutoComplete/types.ts
Owners: @gizeasy, @alyonurchick1

feat(AutoCompleteCanary): add dropdownContainer props
  src/components/AutoCompleteCanary/AutoCompleteTypeText/AutoCompleteTypeText.tsx
  src/components/AutoCompleteCanary/AutoCompleteTypeTextArray/AutoCompleteTypeTextArray.tsx
  src/components/AutoCompleteCanary/__stand__/AutoComplete.dev.stand.mdx
  src/components/AutoCompleteCanary/__tests__/AutoComplete.test.tsx
  src/components/AutoCompleteCanary/types.ts
Owners: @gizeasy, @alyonurchick1

feat(ContextMenu): add dropdownContainer props
  src/components/ContextMenu/ContextMenuLevelWrapper/ContextMenuLevelWrapper.tsx
  src/components/ContextMenu/ContextMenuWrapper/ContextMenuWrapper.tsx
  src/components/ContextMenu/__stand__/ContextMenu.dev.stand.mdx
  src/components/ContextMenu/__tests__/ContextMenu.test.tsx
  src/components/ContextMenu/types.ts
Owners: @gizeasy, @alyonurchick1

test(ContextMenu): query by testid
  src/components/ContextMenu/ContextMenuLevelWrapper/ContextMenuLevelWrapper.tsx
  src/components/ContextMenu/ContextMenuWrapper/ContextMenuWrapper.tsx
  src/components/ContextMenu/__tests__/ContextMenu.test.tsx
Owners: @gizeasy

refactor(ContextMenu): rename dropdownContainer to container
  src/components/ContextMenu/ContextMenuLevelWrapper/ContextMenuLevelWrapper.tsx
  src/components/ContextMenu/ContextMenuWrapper/ContextMenuWrapper.tsx
  src/components/ContextMenu/__stand__/ContextMenu.dev.stand.mdx
  src/components/ContextMenu/__tests__/ContextMenu.test.tsx
  src/components/ContextMenu/types.ts
Owners: @gizeasy, @alyonurchick1

refactor(FlatSelect): rename dropdownContainer to container
  src/components/FlatSelect/FlatSelect.tsx
  src/components/FlatSelect/FlatSelectRoot/FlatSelectRoot.tsx
  src/components/FlatSelect/__stand__/FlatSelect.dev.stand.mdx
  src/components/FlatSelect/__tests__/FlatSelect.test.tsx
  src/components/FlatSelect/types.ts
Owners: @gizeasy, @alyonurchick1

refactor(SelectCanary): change dropdownCoptainer prop type
  src/components/SelectCanary/types.ts
Owners: @gizeasy

chore(CI): run linters in github actions without autofix
  package.json
Owners: @gizeasy

chore(tests): remove `ts-jest`, keep `babel-jest` for tests (#4153)
  jest.config.js
  package.json
  yarn.lock
Owners: @gizeasy

 chore: update consta/icons peerDep
  package.json
Owners: @gizeasy

 chore: update consta/icons peerDep
  yarn.lock
Owners: @gizeasy

feat(Theme): add Silkscreen-Regular font to theme
  src/components/Theme/_font/Silkscreen-Regular.woff
  src/components/Theme/_font/Silkscreen-Regular.woff2
  src/components/Theme/_font/Theme_font_gpnDefault.css
Owners: @gizeasy, @linturaven
