Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

.github/CODEOWNERS:

* @gizeasy @N1MBER 
*.md @arhayka @kolebayev
*.mdx @arhayka @kolebayev
*.css @kolebayev

changelog(3.26.4):
  CHANGELOG.md
Owners: @arhayka, @kolebayev

docs(common): update libraries lists and review
  docs/common/figma/components/FigmaData/FigmaData.tsx
  docs/common/figma/figma.stories.mdx
  docs/common/fonts.stories.mdx
  docs/common/repos/components/ReposData/ReposData.tsx
  src/icons/Icon/__stories__/Icons.stories.tsx
  src/uiKit/components/ComponentsGridWithData/data/additionalData.ts
  src/uiKit/components/ComponentsGridWithData/data/data.ts
  src/uiKit/components/ComponentsGridWithData/data/imagesForAdditionalData/MixPlotImage.tsx
  src/uiKit/components/ComponentsGridWithData/data/imagesForAdditionalData/ReactBigCalendarImage.tsx
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

fix(Collapse): fix bug with color of icon on dark theme
  src/components/Collapse/CollapseIcon/CollapseIcon.css
Owners: @kolebayev

feat(Badge): add xs size
  src/components/Badge/Badge.css
  src/components/Badge/Badge.tsx
  src/components/Badge/__stories__/Badge.docs.mdx
  src/components/Badge/__stories__/examples/BadgeExampleSize/BadgeExampleSize.tsx
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

fix(Steps): fix crush with using google translate
  src/components/Steps/StepsStep/StepsStep.tsx
  src/components/StepsCanary/StepsStep/StepsStep.tsx
Owners: @gizeasy, @N1MBER

docs(components): fix figma links
  src/components/Attachment/__stories__/Attachment.stories.tsx
  src/components/DatePickerCanary/__stories__/DatePicker.stories.tsx
  src/components/FieldGroup/__stories__/FieldGroup.stories.tsx
  src/components/ProgressLine/__stories__/ProgressLine.stories.tsx
  src/components/Skeleton/__stories__/Skeleton.stories.tsx
  src/components/Text/__stories__/Text.stories.tsx
  src/components/Tooltip/__stories__/Tooltip.stories.tsx
Owners: @gizeasy, @N1MBER

feat(Modal): add afterClose prop
  src/components/Modal/Modal.tsx
Owners: @gizeasy, @N1MBER

chore(build): config build
  README.md
  babel.config.js
  common.d.ts
  index.ts
  package.json
  scripts/config.js
  scripts/prepare-package-json.js
  scripts/standGenerate.js
  src/App.tsx
  src/containers/App/App.tsx
  src/containers/LibsPage/LibsPage.tsx
  src/containers/Pages/Pages.tsx
  src/containers/PortalMenu/helper.ts
  src/index.ts
  src/index.tsx
  src/modules/lib/index.ts
  src/modules/router/index.ts
  src/scripts/config.js
  src/scripts/prepareStands.js
  src/scripts/standGenerate.js
  tsconfig.build.json
  tsconfig.json
  webpack.config.js
  yarn.lock
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

test
  .github/workflows/deploy.yml
  .github/workflows/tests.yml
  .husky/pre-commit
Owners: @gizeasy, @N1MBER

Update package.json
  package.json
Owners: @gizeasy, @N1MBER

Update deploy.yml
  .github/workflows/deploy.yml
Owners: @gizeasy, @N1MBER

chore(deploy): config auto deploy
  .github/workflows/deploy.yml
  .github/workflows/tests.yml
  .husky/pre-commit
  package.json
Owners: @gizeasy, @N1MBER

docs(common): update libraries lists and review (#2451)
  docs/common/figma/components/FigmaData/FigmaData.tsx
  docs/common/figma/figma.stories.mdx
  docs/common/fonts.stories.mdx
  docs/common/repos/components/ReposData/ReposData.tsx
  src/icons/Icon/__stories__/Icons.stories.tsx
  src/uiKit/components/ComponentsGridWithData/data/additionalData.ts
  src/uiKit/components/ComponentsGridWithData/data/data.ts
  src/uiKit/components/ComponentsGridWithData/data/imagesForAdditionalData/MixPlotImage.tsx
  src/uiKit/components/ComponentsGridWithData/data/imagesForAdditionalData/ReactBigCalendarImage.tsx
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

fix(Collapse): fix bug with color of icon on dark theme (#2454)
  src/components/Collapse/CollapseIcon/CollapseIcon.css
Owners: @kolebayev

fix(Steps): fix crush with using google translate (#2458)
  src/components/Steps/StepsStep/StepsStep.tsx
  src/components/StepsCanary/StepsStep/StepsStep.tsx
Owners: @gizeasy, @N1MBER

docs(components): fix figma links (#2459)
  src/components/Attachment/__stories__/Attachment.stories.tsx
  src/components/DatePickerCanary/__stories__/DatePicker.stories.tsx
  src/components/FieldGroup/__stories__/FieldGroup.stories.tsx
  src/components/ProgressLine/__stories__/ProgressLine.stories.tsx
  src/components/Skeleton/__stories__/Skeleton.stories.tsx
  src/components/Text/__stories__/Text.stories.tsx
  src/components/Tooltip/__stories__/Tooltip.stories.tsx
Owners: @gizeasy, @N1MBER

feat(ProgressLine): add step modification
  src/components/ProgressLine/ProgressLine.css
  src/components/ProgressLine/ProgressLine.tsx
  src/components/ProgressLine/__stories__/ProgressLine.stories.tsx
  src/components/ProgressLine/helpers.ts
  src/components/ProgressLine/types.ts
Owners: @kolebayev, @gizeasy, @N1MBER

feat(ProgressLine): complete step modification
  src/components/ProgressLine/ProgressLine.tsx
  src/components/ProgressLine/__stories__/ProgressLine.docs.mdx
  src/components/ProgressLine/__stories__/ProgressLine.stories.tsx
  src/components/ProgressLine/__stories__/examples/ProgressLineExampleMode/ProgressLineExampleMode.tsx
  src/components/ProgressLine/types.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

docs(custom): add docs
  src/components/Button/__stand__/Button.design.stand.mdx
  src/components/Button/__stand__/Button.dev.stand.mdx
  src/components/Button/__stand__/Button.stand.mdx
  src/components/Button/__stand__/Button.stand.tsx
  src/components/Switch/__stand__/Switch.design.stand.mdx
  src/components/Switch/__stand__/Switch.dev.stand.mdx
  src/components/Switch/__stand__/Switch.stand.mdx
  src/components/Switch/__stand__/Switch.stand.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

refactor(Modal): update to onExited
  src/components/Modal/Modal.tsx
Owners: @gizeasy, @N1MBER

fix(Badge): fix minified mode
  src/components/Badge/Badge.css
Owners: @kolebayev

refactor(ProgressLine): change default mode
  src/components/ProgressLine/__stories__/ProgressLine.stories.tsx
Owners: @gizeasy, @N1MBER

Update Sidebar.tsx
  src/components/Sidebar/Sidebar.tsx
Owners: @gizeasy, @N1MBER

feat(Badge): add xs size (#2455)
  src/components/Badge/Badge.css
  src/components/Badge/Badge.tsx
  src/components/Badge/__stories__/Badge.docs.mdx
  src/components/Badge/__stories__/examples/BadgeExampleSize/BadgeExampleSize.tsx
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

feat(Modal): add afterClose prop (#2460)
  src/components/Modal/Modal.tsx
  src/components/Sidebar/Sidebar.tsx
Owners: @gizeasy, @N1MBER

feat(ProgressLine): add step modification (#2468)
  src/components/ProgressLine/ProgressLine.css
  src/components/ProgressLine/ProgressLine.tsx
  src/components/ProgressLine/__stories__/ProgressLine.docs.mdx
  src/components/ProgressLine/__stories__/ProgressLine.stories.tsx
  src/components/ProgressLine/__stories__/examples/ProgressLineExampleMode/ProgressLineExampleMode.tsx
  src/components/ProgressLine/helpers.ts
  src/components/ProgressLine/types.ts
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

release(3.27.0):
  package.json
Owners: @gizeasy, @N1MBER

changelog(3.27.0):
  CHANGELOG.md
Owners: @arhayka, @kolebayev

chore(custom): fix types
  .husky/pre-push
  package.json
  src/components/ContextMenuCanary/helper.ts
  src/components/ContextMenuCanary/types.ts
  src/components/DragNDropField/DragNDropField.tsx
  src/components/Modal/Modal.tsx
  src/components/Pagination/Pagination.tsx
  src/components/Popover/Popover.tsx
  src/components/PortalWithTheme/PortalWithThemeContext/PortalWithThemeContext.tsx
  src/components/Sidebar/Sidebar.tsx
  src/components/SliderCanary/SliderCanary.tsx
  src/components/Table/FilterContainer/TableFilterContainer.tsx
  src/components/Table/FilterTooltip/TableFilterTooltip.tsx
  src/components/Table/RowsCollapse/TableRowsCollapse.tsx
  src/components/Table/Table.tsx
  src/components/Table/__mock__/data.mock.tsx
  src/components/Tag/Tag.tsx
  src/components/ThemeToggler/ThemeToggler.tsx
  src/hocs/withTooltip/withTooltip.tsx
  src/hooks/useSelect/useSelect.ts
  src/hooks/useSelectDeprecated/useSelect.tsx
  src/uiKit/components/DocsDecorator/DocsDecorator.tsx
  src/uiKit/components/StoryBookRootDecorator/StoryBookRootDecorator.tsx
  src/utils/storybook.tsx
  tsconfig.json
  yarn.lock
Owners: @gizeasy, @N1MBER

jest
  jest.config.js
  jest.setup.ts
  package.json
  src/components/BasicSelectDeprecated/BasicSelectDeprecated.tsx
  src/components/BasicSelectDeprecated/__stories__/BasicSelect.docs.mdx
  src/components/BasicSelectDeprecated/__stories__/BasicSelect.stories.tsx__
  src/components/BasicSelectDeprecated/__stories__/examples/BasicSelectExampleForm/BasicSelectExampleForm.tsx
  src/components/BasicSelectDeprecated/__stories__/examples/BasicSelectExampleSize/BasicSelectExampleSize.tsx
  src/components/BasicSelectDeprecated/__stories__/examples/BasicSelectExampleText/BasicSelectExampleText.tsx
  src/components/BasicSelectDeprecated/__stories__/examples/BasicSelectExampleView/BasicSelectExampleView.tsx
  src/components/BasicSelectDeprecated/__tests__/BasicSelect.test.tsx
  src/components/Modal/__tests__/Modal.test.tsx
  src/hooks/useDebounce/useDebounce.ts
  src/hooks/useSelect/useSelect.ts
  yarn.lock
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

docs(custom): add docs (#2467)
  src/components/Button/__stand__/Button.design.stand.mdx
  src/components/Button/__stand__/Button.dev.stand.mdx
  src/components/Button/__stand__/Button.stand.mdx
  src/components/Button/__stand__/Button.stand.tsx
  src/components/Switch/__stand__/Switch.design.stand.mdx
  src/components/Switch/__stand__/Switch.dev.stand.mdx
  src/components/Switch/__stand__/Switch.stand.mdx
  src/components/Switch/__stand__/Switch.stand.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

feat(AvatarGroup): add component for avatar grrouping
  src/components/AvatarGroup/AvatarGroup.css
  src/components/AvatarGroup/AvatarGroup.tsx
  src/components/AvatarGroup/__mocks__/mock.data.ts
  src/components/AvatarGroup/__stories__/AvatarGroup.docs.mdx
  src/components/AvatarGroup/__stories__/AvatarGroup.image.svg
  src/components/AvatarGroup/__stories__/AvatarGroup.stories.tsx
  src/components/AvatarGroup/__stories__/examples/AvatarGroupExampleCount/AvatarGroupExampleCount.tsx
  src/components/AvatarGroup/__stories__/examples/AvatarGroupExampleForm/AvatarGroupExampleForm.tsx
  src/components/AvatarGroup/__stories__/examples/AvatarGroupExampleSize/AvatarGroupExampleSize.tsx
  src/components/AvatarGroup/helpers.ts
  src/components/AvatarGroup/types.ts
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

update consta/stand
  package.json
  yarn.lock
Owners: @gizeasy, @N1MBER

fix(AvatarGroup): fix margin
  src/components/AvatarGroup/AvatarGroup.css
  src/components/AvatarGroup/AvatarGroup.tsx
Owners: @kolebayev, @gizeasy, @N1MBER

test(AvatarGroup): add tests for component
  src/components/AvatarGroup/__tests__/AvatarGroup.test.tsx
Owners: @gizeasy, @N1MBER

build config
  .gitignore
  babel.config.js
  build.tsconfig.json
  common.d.ts
  package.json
  postcss.config.js
  scripts/prepare-package-json.js
  src/common.d.ts
  src/components/Button/__stand__/Button.image.svg
  src/components/Button/__stand__/Button.stand.tsx
  src/components/Button/__stand__/examples/ButtonExampleAdaptive/ButtonExampleAdaptive.tsx
  src/components/Button/__stand__/examples/ButtonExampleForm/ButtonExampleForm.tsx
  src/components/Button/__stand__/examples/ButtonExampleIcon/ButtonExampleIcon.tsx
  src/components/Button/__stand__/examples/ButtonExampleLoading/ButtonExampleLoading.tsx
  src/components/Button/__stand__/examples/ButtonExampleName/ButtonExampleName.tsx
  src/components/Button/__stand__/examples/ButtonExampleSize/ButtonExampleSize.tsx
  src/components/Button/__stand__/examples/ButtonExampleView/ButtonExampleView.tsx
  src/components/Grid/Grid.css
  src/components/SnackBar/__stories__/SnackBar.stories.css
  src/components/SnackBar/__stories__/examples/SnackBarExampleTimer/SnackBarExampleTimer.css
  tsconfig.build.json
  tsconfig.json
  yarn.lock
Owners: @gizeasy, @N1MBER, @kolebayev

fix(AvatarGroup): fix count on show more
  src/components/AvatarGroup/AvatarGroup.tsx
Owners: @gizeasy, @N1MBER

fix(AvatarGroup): fix props
  src/components/AvatarGroup/AvatarGroup.tsx
  src/components/AvatarGroup/__stories__/AvatarGroup.docs.mdx
  src/components/AvatarGroup/helpers.ts
  src/components/AvatarGroup/types.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

fix(AvatarGroup): fix outline
  src/components/AvatarGroup/AvatarGroup.css
Owners: @kolebayev

fix(AvatarGroup): fix tests
  src/components/AvatarGroup/__tests__/AvatarGroup.test.tsx
Owners: @gizeasy, @N1MBER
