Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tsvetta, @gizeasy, @nekitk, @miocene, @fooontic, @kolebayev, @arhayka

fix docs
  src/components/User/__stories__/User.mdx
Owners: @miocene, @fooontic, @kolebayev, @arhayka

docs(User): add docs for User (#326)
  src/components/User/__stories__/User.mdx
  src/components/User/__stories__/examples/UserExampleArrow/UserExampleArrow.tsx
  src/components/User/__stories__/examples/UserExampleAvatar/UserExampleAvatar.tsx
  src/components/User/__stories__/examples/UserExampleName/UserExampleName.tsx
  src/components/User/__stories__/examples/UserExampleSize/UserExampleSize.tsx
  src/components/User/__stories__/examples/UserExampleStatus/UserExampleStatus.tsx
  src/components/User/__stories__/examples/UserExampleView/UserExampleView.tsx
Owners: @miocene, @fooontic, @kolebayev, @arhayka, @tsvetta, @gizeasy, @nekitk

docs(Checkbox): edit docs for Checkbox (#345)
  src/components/Checkbox/__stories__/Checkbox.mdx
  src/components/Checkbox/__stories__/examples/CheckboxExampleName/CheckboxExampleName.tsx
  src/components/Checkbox/__stories__/examples/CheckboxExampleSize/CheckboxExampleSize.tsx
  src/components/Checkbox/__stories__/examples/CheckboxExampleStatus/CheckboxExampleStatus.tsx
Owners: @miocene, @fooontic, @kolebayev, @arhayka, @tsvetta, @gizeasy, @nekitk

Update Popover.mdx
  src/components/Popover/__stories__/Popover.mdx
Owners: @miocene, @fooontic, @kolebayev, @arhayka

Update Tabs.mdx
  src/components/Tabs/__stories__/Tabs.mdx
Owners: @miocene, @fooontic, @kolebayev, @arhayka

Update Tabs.mdx
  src/components/Tabs/__stories__/Tabs.mdx
Owners: @miocene, @fooontic, @kolebayev, @arhayka

Update Timer.mdx
  src/components/Timer/__stories__/Timer.mdx
Owners: @miocene, @fooontic, @kolebayev, @arhayka

docs(Tabs): add description and examples (#359)
  src/components/Tabs/__stories__/Tabs.mdx
  src/components/Tabs/__stories__/examples/TabsExampleIcon/TabsExampleIcon.tsx
Owners: @miocene, @fooontic, @kolebayev, @arhayka, @tsvetta, @gizeasy, @nekitk

fix docs
  src/components/ChoiceGroup/ChoiceGroup.tsx
  src/components/ChoiceGroup/__stories__/ChoiceGroup.mdx
  src/components/ChoiceGroup/__stories__/examples/ChoiceGroupExampleForm/ChoiceGroupExampleForm.tsx
  src/components/ChoiceGroup/__stories__/examples/ChoiceGroupExampleIcon/ChoiceGroupExampleIcon.tsx
  src/components/ChoiceGroup/__stories__/examples/ChoiceGroupExampleMultiple/ChoiceGroupExampleMultiple.tsx
  src/components/ChoiceGroup/__stories__/examples/ChoiceGroupExampleSize/ChoiceGroupExampleSize.tsx
  src/components/ChoiceGroup/__stories__/examples/ChoiceGroupExampleSwitch/ChoiceGroupExampleSwitch.tsx
  src/components/ChoiceGroup/__stories__/examples/ChoiceGroupExampleText/ChoiceGroupExampleText.tsx
  src/components/ChoiceGroup/__stories__/examples/ChoiceGroupExampleView/ChoiceGroupExampleView.tsx
Owners: @tsvetta, @gizeasy, @nekitk, @miocene, @fooontic, @kolebayev, @arhayka

fix docs
  src/components/ChoiceGroup/ChoiceGroup.tsx
  src/components/ChoiceGroup/__stories__/ChoiceGroup.mdx
  src/components/ChoiceGroup/__stories__/examples/ChoiceGroupExampleSwitch/ChoiceGroupExampleSwitch.tsx
Owners: @tsvetta, @gizeasy, @nekitk, @miocene, @fooontic, @kolebayev, @arhayka

docs(Timer): edit description, add examples (#361)
  src/components/Timer/__stories__/Timer.mdx
  src/components/Timer/__stories__/examples/TimerExampleProgress/TimerExampleProgress.tsx
  src/components/Timer/__stories__/examples/TimerExampleSeconds/TimerExampleSeconds.tsx
Owners: @miocene, @fooontic, @kolebayev, @arhayka, @tsvetta, @gizeasy, @nekitk

docs(ChoiceGroup): add docs and examples (#363)
  src/components/ChoiceGroup/__stories__/ChoiceGroup.mdx
  src/components/ChoiceGroup/__stories__/examples/ChoiceGroupExampleForm/ChoiceGroupExampleForm.tsx
  src/components/ChoiceGroup/__stories__/examples/ChoiceGroupExampleIcon/ChoiceGroupExampleIcon.tsx
  src/components/ChoiceGroup/__stories__/examples/ChoiceGroupExampleMultiple/ChoiceGroupExampleMultiple.tsx
  src/components/ChoiceGroup/__stories__/examples/ChoiceGroupExampleSize/ChoiceGroupExampleSize.tsx
  src/components/ChoiceGroup/__stories__/examples/ChoiceGroupExampleSwitch/ChoiceGroupExampleSwitch.tsx
  src/components/ChoiceGroup/__stories__/examples/ChoiceGroupExampleText/ChoiceGroupExampleText.tsx
  src/components/ChoiceGroup/__stories__/examples/ChoiceGroupExampleView/ChoiceGroupExampleView.tsx
Owners: @miocene, @fooontic, @kolebayev, @arhayka, @tsvetta, @gizeasy, @nekitk

docs(Popover): edit text and structure (#356)
  src/components/Popover/__stories__/Popover.mdx
  src/components/Popover/__stories__/Popover.stories.tsx
Owners: @miocene, @fooontic, @kolebayev, @arhayka, @tsvetta, @gizeasy, @nekitk

fix(ChoiceGroup): fix view secondary and round dividers (#367)
  src/components/ChoiceGroup/ChoiceGroup.css
Owners: @miocene, @fooontic, @kolebayev

docs(Common): add docs for Common (#365)
  docs/common/about.mdx
Owners: @miocene, @fooontic, @kolebayev, @arhayka

fix doc
  src/components/FileField/__stories__/FileField.mdx
  src/components/FileField/__stories__/examples/FileFieldExampleRenderProp/FileFieldExampleRenderProp.tsx
  src/components/FileField/__stories__/examples/FileFieldExampleWithoutRenderProp/FileFieldExampleWithoutRenderProp.tsx
Owners: @miocene, @fooontic, @kolebayev, @arhayka, @tsvetta, @gizeasy, @nekitk

docs fix
  src/components/Tooltip/__stories__/Tooltip.mdx
  src/components/Tooltip/__stories__/Tooltip.stories.tsx
Owners: @miocene, @fooontic, @kolebayev, @arhayka, @tsvetta, @gizeasy, @nekitk

docs(FileField): edit docs for FileField (#364)
  src/components/FileField/__stories__/FileField.mdx
  src/components/FileField/__stories__/examples/FileFieldExampleRenderProp/FileFieldExampleRenderProp.tsx
  src/components/FileField/__stories__/examples/FileFieldExampleWithoutRenderProp/FileFieldExampleWithoutRenderProp.tsx
Owners: @miocene, @fooontic, @kolebayev, @arhayka, @tsvetta, @gizeasy, @nekitk

docs(Tooltip): edit description and structure (#362)
  src/components/Tooltip/__stories__/Tooltip.mdx
  src/components/Tooltip/__stories__/Tooltip.stories.tsx
Owners: @miocene, @fooontic, @kolebayev, @arhayka, @tsvetta, @gizeasy, @nekitk

Update LICENSE
  LICENSE
Owners: @tsvetta, @gizeasy, @nekitk

chore(repository): moving to gazprom-neft/consta-uikit
  CHANGELOG.md
  README.md
  package.json
  src/components/Attach/__stories__/Attach.mdx
  src/components/Avatar/__stories__/Avatar.mdx
  src/components/Badge/__stories__/Badge.mdx
  src/components/BasicSelect/__stories__/BasicSelect.mdx
  src/components/Button/__stories__/Button.mdx
  src/components/Checkbox/__stories__/Checkbox.mdx
  src/components/ChoiceGroup/__stories__/ChoiceGroup.mdx
  src/components/File/__stories__/File.mdx
  src/components/FileField/__stories__/FileField.mdx
  src/components/Informer/__stories__/Informer.mdx
  src/components/Loader/__stories__/Loader.mdx
  src/components/ProgressSpin/__stories__/ProgressSpin.mdx
  src/components/Radio/__stories__/Radio.mdx
  src/components/SnackBar/__stories__/SnackBar.mdx
  src/components/Switch/__stories__/Switch.mdx
  src/components/Table/__stories__/Table.mdx
  src/components/Tabs/__stories__/Tabs.mdx
  src/components/Tag/__stories__/Tag.mdx
  src/components/Text/__stories__/Text.mdx
  src/components/TextField/__stories__/TextField.mdx
  src/components/Theme/__stories__/Theme.mdx
  src/components/Timer/__stories__/Timer.mdx
  src/components/User/__stories__/User.mdx
Owners: @miocene, @fooontic, @kolebayev, @arhayka, @tsvetta, @gizeasy, @nekitk

chore(repository): moving to gazprom-neft/consta-uikit (#373)
  CHANGELOG.md
  README.md
  package.json
  src/components/Attach/__stories__/Attach.mdx
  src/components/Avatar/__stories__/Avatar.mdx
  src/components/Badge/__stories__/Badge.mdx
  src/components/BasicSelect/__stories__/BasicSelect.mdx
  src/components/Button/__stories__/Button.mdx
  src/components/Checkbox/__stories__/Checkbox.mdx
  src/components/ChoiceGroup/__stories__/ChoiceGroup.mdx
  src/components/File/__stories__/File.mdx
  src/components/FileField/__stories__/FileField.mdx
  src/components/Informer/__stories__/Informer.mdx
  src/components/Loader/__stories__/Loader.mdx
  src/components/ProgressSpin/__stories__/ProgressSpin.mdx
  src/components/Radio/__stories__/Radio.mdx
  src/components/SnackBar/__stories__/SnackBar.mdx
  src/components/Switch/__stories__/Switch.mdx
  src/components/Table/__stories__/Table.mdx
  src/components/Tabs/__stories__/Tabs.mdx
  src/components/Tag/__stories__/Tag.mdx
  src/components/Text/__stories__/Text.mdx
  src/components/TextField/__stories__/TextField.mdx
  src/components/Theme/__stories__/Theme.mdx
  src/components/Timer/__stories__/Timer.mdx
  src/components/User/__stories__/User.mdx
Owners: @miocene, @fooontic, @kolebayev, @arhayka, @tsvetta, @gizeasy, @nekitk

release(1.8.0):
  package.json
Owners: @tsvetta, @gizeasy, @nekitk

changelog(1.8.0):
  CHANGELOG.md
Owners: @miocene, @fooontic, @kolebayev, @arhayka

fix(docs): fixed docs and links
  .github/pull_request_template.md
  README.md
  docs/common/about.mdx
  docs/common/developers/contributors.mdx
  docs/common/developers/review.mdx
  package.json
  public/index.html
  public/manifest.json
  src/components/BasicSelect/__stories__/BasicSelect.mdx
  src/components/Checkbox/__stories__/Checkbox.mdx
  src/components/ChoiceGroup/__stories__/ChoiceGroup.mdx
  src/components/FileField/__stories__/FileField.mdx
  src/components/Radio/__stories__/Radio.mdx
  src/components/SnackBar/__stories__/SnackBar.mdx
  src/components/Switch/__stories__/Switch.mdx
  src/components/Table/__stories__/Table.mdx
  src/components/Text/__stories__/Text.mdx
Owners: @miocene, @fooontic, @kolebayev, @arhayka, @tsvetta, @gizeasy, @nekitk

fix(docs): fixed docs and links (#376)
  .github/pull_request_template.md
  README.md
  docs/common/about.mdx
  docs/common/developers/contributors.mdx
  docs/common/developers/review.mdx
  package.json
  public/index.html
  public/manifest.json
  src/components/BasicSelect/__stories__/BasicSelect.mdx
  src/components/Checkbox/__stories__/Checkbox.mdx
  src/components/ChoiceGroup/__stories__/ChoiceGroup.mdx
  src/components/FileField/__stories__/FileField.mdx
  src/components/Radio/__stories__/Radio.mdx
  src/components/SnackBar/__stories__/SnackBar.mdx
  src/components/Switch/__stories__/Switch.mdx
  src/components/Table/__stories__/Table.mdx
  src/components/Text/__stories__/Text.mdx
Owners: @miocene, @fooontic, @kolebayev, @arhayka, @tsvetta, @gizeasy, @nekitk

release(1.8.1):
  package.json
Owners: @tsvetta, @gizeasy, @nekitk

changelog(1.8.1):
  CHANGELOG.md
Owners: @miocene, @fooontic, @kolebayev, @arhayka

feat(Modal): added Modal component, stories, docs
  src/components/Modal/Modal.css
  src/components/Modal/Modal.tsx
  src/components/Modal/__stories__/Modal.mdx
  src/components/Modal/__stories__/Modal.stories.css
  src/components/Modal/__stories__/Modal.stories.tsx
Owners: @miocene, @fooontic, @kolebayev, @tsvetta, @gizeasy, @nekitk, @arhayka

feat(Modal): added closeByClickOnOverlay prop, fixed jsx
  package.json
  src/components/Modal/Modal.css
  src/components/Modal/Modal.tsx
  src/components/Modal/__stories__/Modal.mdx
  src/components/Modal/__stories__/Modal.stories.tsx
Owners: @tsvetta, @gizeasy, @nekitk, @miocene, @fooontic, @kolebayev, @arhayka

feat(Modal): fixed version, resolve conflict package name
  package.json
Owners: @tsvetta, @gizeasy, @nekitk

Create gh-pages-deploy.yml
  .github/workflows/gh-pages-deploy.yml
Owners: @tsvetta, @gizeasy, @nekitk

поменял ссылки на сторибук
  README.md
  package.json
Owners: @miocene, @fooontic, @kolebayev, @arhayka, @tsvetta, @gizeasy, @nekitk

feat(Popover): add new positions
  src/components/Popover/Popover.tsx
  src/components/Popover/__tests__/helpers.test.ts
  src/components/Popover/helpers.ts
  src/components/Tooltip/Tooltip.css
Owners: @tsvetta, @gizeasy, @nekitk, @miocene, @fooontic, @kolebayev

chore(Storybook configs): fix storybook build on windows
  .storybook/main.js
Owners: @tsvetta, @gizeasy, @nekitk

chore(Storybook configs): fix storybook build on windows (#382)
  .storybook/main.js
Owners: @tsvetta, @gizeasy, @nekitk

feat(Modal): fixed css
  src/components/Modal/Modal.css
  src/components/Modal/Modal.tsx
  src/components/Modal/__stories__/Modal.stories.css
Owners: @miocene, @fooontic, @kolebayev, @tsvetta, @gizeasy, @nekitk

feat(Modal): prevented scrolling modal background
  src/components/Modal/Modal.tsx
Owners: @tsvetta, @gizeasy, @nekitk

feat(BasicSelect): add BasicSelect
  src/components/Select/BasicSelect/BasicSelect.tsx
  src/components/Select/BasicSelect/index.ts
  src/components/Select/__mocks__/ResizeObserver.ts
  src/components/Select/__stories__/BasicSelect.stories.tsx
  src/components/Select/__tests__/BasicSelect.test.tsx
  src/components/Select/__tests__/Container.test.tsx
  src/components/Select/cnSelect.ts
  src/components/Select/components/Container/Container.css
  src/components/Select/components/Container/Container.tsx
  src/components/Select/components/Container/index.ts
  src/components/Select/components/Dropdown/Dropdown.css
  src/components/Select/components/Dropdown/Dropdown.tsx
  src/components/Select/components/Dropdown/index.ts
  src/components/Select/hooks/use-select.tsx
  src/components/Select/hooks/utils.ts
  src/components/Select/index.ts
  src/components/Select/styles.css
  src/components/Select/types.ts
Owners: @tsvetta, @gizeasy, @nekitk, @miocene, @fooontic, @kolebayev

fix(basic-select): пофиксить стили, добавить документацию
  src/components/Select/BasicSelect/BasicSelect.tsx
  src/components/Select/__stories__/BasicSelect.mdx
  src/components/Select/__stories__/BasicSelect.stories.tsx
  src/components/Select/styles.css
Owners: @tsvetta, @gizeasy, @nekitk, @miocene, @fooontic, @kolebayev, @arhayka

.github/CODEOWNERS:

* @tsvetta @gizeasy @nekitk
*.md @miocene @fooontic @kolebayev @arhayka
*.mdx @miocene @fooontic @kolebayev @arhayka
*.css @miocene @fooontic @kolebayev
