Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

.github/CODEOWNERS:

* @gizeasy @N1MBER 
*.md @arhayka @kolebayev
*.mdx @arhayka @kolebayev
*.css @kolebayev

Fix mistakes
  src/typography/A/index.ts
  src/typography/Blockquote/index.ts
  src/typography/Br/index.ts
  src/typography/Code/Code.css
  src/typography/Code/index.ts
  src/typography/Em/index.ts
  src/typography/H1/index.ts
  src/typography/H2/index.ts
  src/typography/H3/index.ts
  src/typography/H4/index.ts
  src/typography/H5/index.ts
  src/typography/H6/index.ts
  src/typography/Hr/index.ts
  src/typography/Img/index.ts
  src/typography/Li/index.ts
  src/typography/Ol/index.ts
  src/typography/P/index.ts
  src/typography/Pre/index.ts
  src/typography/Strong/index.ts
  src/typography/Ul/index.ts
Owners: @gizeasy, @N1MBER, @kolebayev

Rewrite improts
  src/containers/MDXProvider/MDXProvider.tsx
Owners: @gizeasy, @N1MBER

release(3.24.2):
  package.json
Owners: @gizeasy, @N1MBER

changelog(3.24.2):
  CHANGELOG.md
Owners: @arhayka, @kolebayev

feat(TextField): add type password and resech
  package.json
  src/components/Combobox/helpers.ts
  src/components/SliderCanary/SliderInput/SliderInput.tsx
  src/components/TextField/TextField.css
  src/components/TextField/TextField.tsx
  src/components/TextField/__stories__/TextField.stories.tsx
  src/components/TextField/helpers.ts
  src/components/TextField/types.ts
  yarn.lock
Owners: @gizeasy, @N1MBER, @kolebayev

feat(TextField): add type password and resech (#2355)
  package.json
  src/components/Combobox/helpers.ts
  src/components/SliderCanary/SliderInput/SliderInput.tsx
  src/components/TextField/TextField.css
  src/components/TextField/TextField.tsx
  src/components/TextField/__stories__/TextField.stories.tsx
  src/components/TextField/helpers.ts
  src/components/TextField/types.ts
  yarn.lock
Owners: @gizeasy, @N1MBER, @kolebayev

fix(Table): add export SortByProps
  src/components/Table/Table.tsx
  src/components/Table/__stories__/Table.stories.tsx
  src/components/Table/__stories__/examples/TableExampleOnSortBy/TableExampleOnSortBy.tsx
  src/components/Table/filtering.ts
Owners: @gizeasy, @N1MBER

feat(DragNDropField): add disabled
  src/components/DragNDropField/DragNDropField.css
  src/components/DragNDropField/DragNDropField.tsx
  src/components/DragNDropField/DragNDropFieldContent/DragNDropFieldContent.css
  src/components/DragNDropField/DragNDropFieldContent/DragNDropFieldContent.tsx
  src/components/DragNDropField/__stories__/DragNDropField.stories.tsx
  src/components/DragNDropField/types.ts
Owners: @kolebayev, @gizeasy, @N1MBER

feat(Icon): Icon module exports default size prop constant;
  src/icons/Icon/Icon.tsx
Owners: @gizeasy, @N1MBER

Update DragNDropField.docs.mdx
  src/components/DragNDropField/__stories__/DragNDropField.docs.mdx
Owners: @arhayka, @kolebayev

docs(DragNDropField): edit docs for local
  src/components/DragNDropField/__stories__/DragNDropField.docs.mdx
Owners: @arhayka, @kolebayev

feat(DragNDropField): add disabled (#2358)
  src/components/DragNDropField/DragNDropField.css
  src/components/DragNDropField/DragNDropField.tsx
  src/components/DragNDropField/DragNDropFieldContent/DragNDropFieldContent.css
  src/components/DragNDropField/DragNDropFieldContent/DragNDropFieldContent.tsx
  src/components/DragNDropField/__stories__/DragNDropField.docs.mdx
  src/components/DragNDropField/__stories__/DragNDropField.stories.tsx
  src/components/DragNDropField/types.ts
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

refactor(DragNDropField): refactor locale
  src/components/DragNDropField/DragNDropField.tsx
  src/components/DragNDropField/__stories__/DragNDropField.docs.mdx
  src/components/DragNDropField/__stories__/DragNDropField.stories.tsx
  src/components/DragNDropField/getErrorsList.ts
  src/components/DragNDropField/locale.ts
  src/components/DragNDropField/types.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

docs(DragNDropField): edit docs for local (#2360)
  src/components/DragNDropField/__stories__/DragNDropField.docs.mdx
Owners: @arhayka, @kolebayev

fix(Table): add export SortByProps (#2356)
  src/components/Table/Table.tsx
  src/components/Table/__stories__/Table.stories.tsx
  src/components/Table/__stories__/examples/TableExampleOnSortBy/TableExampleOnSortBy.tsx
  src/components/Table/filtering.ts
Owners: @gizeasy, @N1MBER

fix
  src/components/DragNDropField/DragNDropFieldContent/DragNDropFieldContent.tsx
  src/components/DragNDropField/DragNDropFieldContent/formatFileRequirements.ts
  src/components/DragNDropField/locale.ts
  src/components/DragNDropField/types.ts
Owners: @gizeasy, @N1MBER

docs(Grid): edit example in doc
  src/components/Grid/__stories__/Grid.docs.mdx
Owners: @arhayka, @kolebayev

docs(Grid): fix bug in prev doc
  src/components/Grid/__stories__/Grid.docs.mdx
Owners: @arhayka, @kolebayev

feat(DatePicker): add withClearButton
  package.json
  src/components/DatePickerCanary/DatePickerFieldTypeDate/DatePickerFieldTypeDate.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeDate/helpers.ts
  src/components/DatePickerCanary/DatePickerFieldTypeDateRange/DatePickerFieldTypeDateRange.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeDateTime/DatePickerFieldTypeDateTime.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeDateTime/helpers.ts
  src/components/DatePickerCanary/DatePickerFieldTypeDateTimeRange/DatePickerFieldTypeDateTimeRange.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeMonth/DatePickerFieldTypeMonth.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeMonth/helpers.ts
  src/components/DatePickerCanary/DatePickerFieldTypeMonthRange/DatePickerFieldTypeMonthRange.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeMonthRange/helpers.ts
  src/components/DatePickerCanary/DatePickerFieldTypeTime/DatePickerFieldTypeTime.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeTime/helpers.ts
  src/components/DatePickerCanary/DatePickerFieldTypeYear/DatePickerFieldTypeYear.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeYear/helpers.ts
  src/components/DatePickerCanary/DatePickerFieldTypeYearRange/DatePickerFieldTypeYearRange.tsx
  src/components/DatePickerCanary/__stories__/DatePicker.stories.tsx
  src/components/DatePickerCanary/getChangeFnRange.ts
  src/components/DatePickerCanary/types.ts
  src/components/TextField/TextField.tsx
  yarn.lock
Owners: @gizeasy, @N1MBER

feat:
  src/components/DatePickerCanary/__stories__/DatePicker.stories.tsx
Owners: @gizeasy, @N1MBER

feat(Popover): fixed memory leak
  src/components/Popover/usePopoverReposition.ts
Owners: @gizeasy, @N1MBER

fix(fonts): fix export fonts
  builder/helpers/index.js
Owners: @gizeasy, @N1MBER

docs(Grid): edit example in doc (#2364)
  src/components/Grid/__stories__/Grid.docs.mdx
Owners: @arhayka, @kolebayev

fix
  src/components/DragNDropField/DragNDropField.tsx
  src/components/DragNDropField/DragNDropFieldContent/formatFileRequirements.ts
  src/components/DragNDropField/locale.ts
Owners: @gizeasy, @N1MBER

update tests
  src/components/DragNDropField/DragNDropFieldContent/__tests__/formatFileRequirements.ts
Owners: @gizeasy, @N1MBER

fix(fonts): fix export fonts (#2368)
  builder/helpers/index.js
Owners: @gizeasy, @N1MBER

feat(Popover): fixed memory leak (#2367)
  src/components/Popover/usePopoverReposition.ts
Owners: @gizeasy, @N1MBER

feat(DatePicker): add withClearButton (#2365)
  package.json
  src/components/DatePickerCanary/DatePickerFieldTypeDate/DatePickerFieldTypeDate.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeDate/helpers.ts
  src/components/DatePickerCanary/DatePickerFieldTypeDateRange/DatePickerFieldTypeDateRange.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeDateTime/DatePickerFieldTypeDateTime.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeDateTime/helpers.ts
  src/components/DatePickerCanary/DatePickerFieldTypeDateTimeRange/DatePickerFieldTypeDateTimeRange.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeMonth/DatePickerFieldTypeMonth.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeMonth/helpers.ts
  src/components/DatePickerCanary/DatePickerFieldTypeMonthRange/DatePickerFieldTypeMonthRange.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeMonthRange/helpers.ts
  src/components/DatePickerCanary/DatePickerFieldTypeTime/DatePickerFieldTypeTime.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeTime/helpers.ts
  src/components/DatePickerCanary/DatePickerFieldTypeYear/DatePickerFieldTypeYear.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeYear/helpers.ts
  src/components/DatePickerCanary/DatePickerFieldTypeYearRange/DatePickerFieldTypeYearRange.tsx
  src/components/DatePickerCanary/__stories__/DatePicker.stories.tsx
  src/components/DatePickerCanary/getChangeFnRange.ts
  src/components/DatePickerCanary/types.ts
  src/components/TextField/TextField.tsx
  yarn.lock
Owners: @gizeasy, @N1MBER

refactor(Popover): refactor
  src/components/Popover/Popover.css
  src/components/Popover/Popover.tsx
  src/components/Popover/helpers.ts
  src/components/Popover/usePopoverReposition.ts
  src/components/SelectComponents/SelectDropdown/SelectDropdown.tsx
  src/mixs/MixPopoverAnimate/MixPopoverAnimate.css
  src/mixs/MixPopoverAnimate/__stories__/examples/MixPopoverAnimateExample/MixPopoverAnimateExample.tsx
Owners: @kolebayev, @gizeasy, @N1MBER

fix
  src/components/Popover/Popover.css
  src/components/Popover/helpers.ts
Owners: @kolebayev, @gizeasy, @N1MBER

refactor(Popover): refactor (#2374)
  src/components/Popover/Popover.css
  src/components/Popover/Popover.tsx
  src/components/Popover/helpers.ts
  src/components/Popover/usePopoverReposition.ts
  src/components/SelectComponents/SelectDropdown/SelectDropdown.tsx
  src/mixs/MixPopoverAnimate/MixPopoverAnimate.css
  src/mixs/MixPopoverAnimate/__stories__/examples/MixPopoverAnimateExample/MixPopoverAnimateExample.tsx
Owners: @kolebayev, @gizeasy, @N1MBER

fix(TextField): fixed bugs
  src/components/TextField/TextField.tsx
  src/components/TextField/helpers.ts
Owners: @gizeasy, @N1MBER

release(3.24.3):
  package.json
Owners: @gizeasy, @N1MBER

changelog(3.24.3):
  CHANGELOG.md
Owners: @arhayka, @kolebayev

refactor(DragNDropField): refactor locale (#2361)
  src/components/DragNDropField/DragNDropField.tsx
  src/components/DragNDropField/DragNDropFieldContent/DragNDropFieldContent.tsx
  src/components/DragNDropField/DragNDropFieldContent/__tests__/formatFileRequirements.ts
  src/components/DragNDropField/DragNDropFieldContent/formatFileRequirements.ts
  src/components/DragNDropField/__stories__/DragNDropField.docs.mdx
  src/components/DragNDropField/__stories__/DragNDropField.stories.tsx
  src/components/DragNDropField/getErrorsList.ts
  src/components/DragNDropField/locale.ts
  src/components/DragNDropField/types.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

release(3.24.4):
  package.json
  yarn.lock
Owners: @gizeasy, @N1MBER

changelog(3.24.4):
  CHANGELOG.md
Owners: @arhayka, @kolebayev

*feat(StandPage): Add StandPage (#2)
  src/componets/Image/Image.css
  src/componets/PortalMenu/PortalMenu.tsx
  src/componets/PortalMenu/PortalMenuItem/PortalMenuItem.css
  src/componets/PortalMenu/PortalMenuItem/PortalMenuItem.tsx
  src/componets/PortalMenu/helper.ts
  src/componets/PortalMenu/types.ts
  src/exportAtoms/lib/index.ts
  src/exportAtoms/lib/lib.ts
  src/exportFuctions/createRoutes.ts
  src/exportFuctions/prepareStands.ts
  src/exportTypes/index.ts
  src/modules/lib/index.ts
  src/modules/router/index.ts
  src/modules/router/useIsActiveRouter.ts
  src/pages/LibPage/LibPage.tsx
  src/pages/LibPage/LibPageContent/LibPageContent.css
  src/pages/LibPage/LibPageContent/LibPageContent.tsx
  src/pages/LibPage/LibPageContent/LibPageContentCard/LibPageContentCard.css
  src/pages/LibPage/LibPageContent/LibPageContentCard/LibPageContentCard.tsx
  src/pages/LibPage/LibPageContent/LibPageContentCard/NoImage.tsx
  src/pages/LibPage/LibPageContent/LibPageContentCard/index.ts
  src/pages/LibPage/LibPageContent/index.ts
  src/pages/LibPage/LibPageMenu/LibPageMenu.css
  src/pages/LibPage/LibPageMenu/LibPageMenu.tsx
  src/pages/LibPage/LibPageMenu/index.ts
  src/pages/LibsPage/LibsPageMenu/LibsPageMenu.tsx
  src/pages/StandPage/StandPage.tsx
Owners: @kolebayev, @gizeasy, @N1MBER

fix(Slider): fix work of slider on a big and small values
  src/components/SliderCanary/SliderCanary.tsx
  src/components/SliderCanary/useSlider/helper.ts
  src/components/SliderCanary/useSlider/useSlider.ts
  src/components/SliderCanary/useSliderStationing.ts
Owners: @gizeasy, @N1MBER

feat(ProgressLine): add ProgressLine component
  src/components/ProgressLine/ProgressLine.css
  src/components/ProgressLine/ProgressLine.tsx
  src/components/ProgressLine/__stories__/ProgressLine.docs.mdx
  src/components/ProgressLine/__stories__/ProgressLine.stories.tsx
  src/components/ProgressLine/__stories__/examples/ProgressLineExampleMode/ProgressLineExampleMode.tsx
  src/components/ProgressLine/__stories__/examples/ProgressLineExampleSize/ProgressLineExampleSize.tsx
  src/components/ProgressLine/types.ts
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka
