Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @N1MBER, @BagenovA, @linturaven

.github/CODEOWNERS:

* @gizeasy @N1MBER 
*.md @BagenovA
*.mdx @BagenovA
*.css @linturaven

feat(AsTags): added new type and rewrited component props
  src/components/BadgeGroup/types.ts
  src/components/BookmarkTabsCanary/BookmarkTabsCanary.tsx
  src/components/BookmarkTabsCanary/types.ts
  src/components/ChipsCanary/types.ts
  src/components/ContextMenu/ContextMenuLevel/ContextMenuLevel.tsx
  src/components/ContextMenu/types.ts
  src/components/ContextMenuDeprecated/helpers.tsx
  src/components/FileField/FileField.tsx
  src/components/Header/Logo/HeaderLogo.tsx
  src/components/ListCanary/types.ts
  src/components/Sidebar/Sidebar.tsx
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/types.ts
  src/components/Tag/Tag.tsx
  src/utils/types/AsTags.ts
  src/utils/types/PropsWithAsAttributes.ts
  src/utils/types/PropsWithJsxAttributes.ts
Owners: @gizeasy, @N1MBER

feat(List): added reexport renderHeader
  src/components/ListCanary/ListCanary.tsx
  src/components/ListCanary/index.ts
  src/components/ListCanary/renderHeader.tsx
Owners: @gizeasy, @N1MBER

feat(ThemeToggler): added animate
  src/components/ThemeToggler/ThemeToggler.tsx
  src/components/ThemeToggler/helpers.ts
  src/components/ThemeToggler/types.ts
Owners: @gizeasy, @N1MBER

release: 4.28.1
  package.json
Owners: @gizeasy, @N1MBER

changelog: 4.28.1
  CHANGELOG.md
Owners: @BagenovA

feat(Tabs): rewrite adaptivity logic
  src/components/ListCanary/types.ts
  src/components/Tabs/FitModeDropdownWrapper/TabsFitModeDropdownWrapper.tsx
  src/components/Tabs/FitModeDropdownWrapper/__tests__/useFittingItems.ts
  src/components/Tabs/FitModeDropdownWrapper/useFittingItems.ts
  src/components/Tabs/FitModeScrollWrapper/TabsFitModeScrollWrapper.tsx
  src/components/Tabs/Line/TabsLine.tsx
  src/components/Tabs/Tab/TabsTab.tsx
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/types.ts
  src/components/Text/Text.tsx
Owners: @gizeasy, @N1MBER

feat(AsTags): added new type and rewrited component props (#3280)
  src/components/BadgeGroup/types.ts
  src/components/BookmarkTabsCanary/BookmarkTabsCanary.tsx
  src/components/BookmarkTabsCanary/types.ts
  src/components/ChipsCanary/types.ts
  src/components/ContextMenu/ContextMenuLevel/ContextMenuLevel.tsx
  src/components/ContextMenu/types.ts
  src/components/ContextMenuDeprecated/helpers.tsx
  src/components/FileField/FileField.tsx
  src/components/Header/Logo/HeaderLogo.tsx
  src/components/ListCanary/types.ts
  src/components/Sidebar/Sidebar.tsx
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/types.ts
  src/components/Tag/Tag.tsx
  src/utils/types/AsTags.ts
  src/utils/types/PropsWithAsAttributes.ts
  src/utils/types/PropsWithJsxAttributes.ts
Owners: @gizeasy, @N1MBER

fix(Button): fix disabled mode (#3253)
  src/components/Button/Button.css
  src/components/Button/Button.tsx
Owners: @linturaven, @gizeasy, @N1MBER

fix(BookmarkTabs): remove :has use
  src/components/BookmarkTabsCanary/BookmarkTabs.css
  src/components/BookmarkTabsCanary/BookmarkTabsCanary.tsx
  src/components/BookmarkTabsCanary/BookmarkTabsTab/BookmarkTabsTab.css
  src/components/BookmarkTabsCanary/BookmarkTabsTab/BookmarkTabsTab.tsx
  src/components/BookmarkTabsCanary/types.ts
Owners: @linturaven, @gizeasy, @N1MBER

fix(BookmarkTabs): fix event type
  src/components/BookmarkTabsCanary/types.ts
Owners: @gizeasy, @N1MBER

fix(Tabs): remove useless field and rewrite list item to tag
  src/components/ListCanary/ListItem/ListItem.tsx
  src/components/ListCanary/types.ts
  src/components/Tabs/Tab/TabsTab.tsx
  src/components/Text/Text.tsx
Owners: @gizeasy, @N1MBER

fix(BookmarkTabs): remove :has use (#3284)
  src/components/BookmarkTabsCanary/BookmarkTabs.css
  src/components/BookmarkTabsCanary/BookmarkTabsCanary.tsx
  src/components/BookmarkTabsCanary/BookmarkTabsTab/BookmarkTabsTab.css
  src/components/BookmarkTabsCanary/BookmarkTabsTab/BookmarkTabsTab.tsx
  src/components/BookmarkTabsCanary/types.ts
Owners: @linturaven, @gizeasy, @N1MBER

fix(ContextMenu): fix styles and logic
  src/components/ContextMenu/ContextMenuLevel/ContextMenuLevel.css
  src/components/ContextMenu/ContextMenuLevel/ContextMenuLevel.tsx
Owners: @linturaven, @gizeasy, @N1MBER

fix(ContextMenu): fix types
  src/components/ContextMenu/ContextMenuLevel/ContextMenuLevel.tsx
Owners: @gizeasy, @N1MBER

feat(Tabs): rewrite adaptivity logic (#3282)
  src/components/ListCanary/ListItem/ListItem.tsx
  src/components/Tabs/FitModeDropdownWrapper/TabsFitModeDropdownWrapper.tsx
  src/components/Tabs/FitModeDropdownWrapper/__tests__/useFittingItems.ts
  src/components/Tabs/FitModeDropdownWrapper/useFittingItems.ts
  src/components/Tabs/FitModeScrollWrapper/TabsFitModeScrollWrapper.tsx
  src/components/Tabs/Line/TabsLine.tsx
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/types.ts
Owners: @gizeasy, @N1MBER

release: 4.29.0
  package.json
Owners: @gizeasy, @N1MBER

changelog: 4.29.0
  CHANGELOG.md
Owners: @BagenovA

fix(ContextMenu): fix merge mistakes
  src/components/ContextMenu/ContextMenuLevel/ContextMenuLevel.tsx
Owners: @gizeasy, @N1MBER

fix(List): fixed render undefined in renderSlot
  src/components/ListCanary/ListItemGrid/ListItemGrid.tsx
Owners: @gizeasy, @N1MBER

fix(Text): remove type prop
  src/components/Text/Text.css
  src/components/Text/Text.tsx
  src/components/Text/__stand__/Text.variants.tsx
  src/components/Text/__stand__/examples/TextExampleCombinedWeightAndStyle/TextExampleCombinedWeightAndStyle.tsx
  src/components/Text/__stand__/examples/TextExampleHeadingAndParagraph/TextExampleHeadingAndParagraph.tsx
  src/components/Text/__stand__/examples/TextExampleLabelAndData/TextExampleLabelAndData.tsx
Owners: @linturaven, @gizeasy, @N1MBER

feat(BookmarkTabs): add tab navigation to close button (#3256)
  src/components/BookmarkTabsCanary/BookmarkTabsTab/BookmarkTabsTab.tsx
  src/components/BookmarkTabsCanary/types.ts
Owners: @gizeasy, @N1MBER

fix(List): fixed render undefined in renderSlot (#3289)
  src/components/ListCanary/ListItemGrid/ListItemGrid.tsx
Owners: @gizeasy, @N1MBER

release: 4.30.0
  package.json
Owners: @gizeasy, @N1MBER

changelog: 4.30.0
  CHANGELOG.md
Owners: @BagenovA

feat(MixFlex): add new mixin
  src/mixs/MixFlex/MixFlex.css
  src/mixs/MixFlex/MixFlex.ts
  src/mixs/MixFlex/__stand__/MixFlex.stand.mdx
  src/mixs/MixFlex/__stand__/MixFlex.stand.tsx
  src/mixs/MixFlex/__stand__/examples/MixFlexExample/MixFlexExample.css
  src/mixs/MixFlex/__stand__/examples/MixFlexExample/MixFlexExample.tsx
  src/mixs/MixFlex/index.ts
Owners: @linturaven, @gizeasy, @N1MBER, @BagenovA

fix(Button): property type set to all places
  src/components/BookmarkTabsCanary/BookmarkTabsCanary.tsx
  src/components/BookmarkTabsCanary/BookmarkTabsTab/BookmarkTabsTab.tsx
  src/components/ThemeToggler/ThemeToggler.tsx
Owners: @gizeasy, @N1MBER

docs(List): remove non exist field from documentation
  src/components/ListCanary/__stand__/List.dev.stand.mdx
Owners: @BagenovA

fix(Selects): fix render numbers value
  src/components/Combobox/Combobox.tsx
  src/components/ComboboxCanary/ComboboxCanary.tsx
  src/components/Select/Select.tsx
  src/components/SelectCanary/SelectCanary.tsx
  src/components/UserSelect/UserSelect.tsx
  src/components/UserSelectCanary/UserSelectCanary.tsx
Owners: @gizeasy, @N1MBER

fix(TextField): remove width prop
  src/components/AutoCompleteCanary/AutoCompleteCanary.tsx
  src/components/AutoCompleteCanary/__stand__/AutoComplete.dev.stand.mdx
  src/components/DatePicker/DatePickerFieldTypeDate/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeDateRange/DatePickerFieldTypeDateRange.tsx
  src/components/DatePicker/DatePickerFieldTypeDateTime/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeDateTimeRange/DatePickerFieldTypeDateTimeRange.tsx
  src/components/DatePicker/DatePickerFieldTypeMonth/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeMonthRange/DatePickerFieldTypeMonthRange.tsx
  src/components/DatePicker/DatePickerFieldTypeTime/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeYear/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeYearRange/DatePickerFieldTypeYearRange.tsx
  src/components/DatePicker/__stand__/DatePicker.variants.tsx
  src/components/DatePicker/types.ts
  src/components/EventInterceptor/propsHandlers/useTextFieldEventsHandler.tsx
  src/components/Header/SearchBar/HeaderSearchBar.tsx
  src/components/Table/TextFilter/TableTextFilter.tsx
  src/components/TextField/TextField.css
  src/components/TextField/TextField.tsx
  src/components/TextField/__stand__/TextField.dev.stand.mdx
  src/components/TextField/__stand__/TextField.variants.tsx
  src/components/TextField/__stand__/examples/TextFieldExampleSize/TextFieldExampleSize.tsx
  src/components/TextField/__tests__/TextField.test.tsx
  src/components/TextField/types.ts
Owners: @gizeasy, @N1MBER, @BagenovA, @linturaven

fix(Grid): fix styles and code
  src/components/Grid/Grid.css
  src/components/Grid/Grid.tsx
  src/components/Grid/GridItem/GridItem.css
  src/components/Grid/GridItem/GridItem.tsx
  src/components/Grid/GridItem/index.ts
  src/components/Grid/__stand__/Grid.variants.tsx
  src/components/Grid/__stand__/examples/GridExampleAlign/GridExampleAlign.tsx
  src/components/Grid/__stand__/examples/GridExampleBreakpoints/GridExampleBreakpoints.tsx
  src/components/Grid/__stand__/examples/GridExampleCols/GridExampleCols.tsx
  src/components/Grid/__stand__/examples/GridExampleGap/GridExampleGap.tsx
  src/components/Grid/__stand__/examples/GridItemExampleBreakpoints/GridItemExampleBreakpoints.tsx
  src/components/Grid/__stand__/examples/GridItemExampleCol/GridItemExampleCol.tsx
  src/components/Grid/__stand__/examples/GridItemExampleColStart/GridItemExampleColStart.tsx
  src/components/Grid/__stand__/examples/GridItemExampleOrder/GridItemExampleOrder.tsx
  src/components/Grid/__stand__/examples/GridItemExampleRow/GridItemExampleRow.tsx
  src/components/Grid/__stand__/examples/GridItemExampleRowStart/GridItemExampleRowStart.tsx
  src/components/Grid/index.ts
  src/components/Grid/types.ts
  src/components/Grid/useBreakpoints.ts
Owners: @linturaven, @gizeasy, @N1MBER

fix(List): fixed background on ListItem
  src/components/ListCanary/ListItem/ListItem.css
Owners: @linturaven

docs(List): remove non exist field from documentation (#3296)
  src/components/ListCanary/__stand__/List.dev.stand.mdx
Owners: @BagenovA

fix(Button): property type set to all places (#3295)
  src/components/BookmarkTabsCanary/BookmarkTabsCanary.tsx
  src/components/BookmarkTabsCanary/BookmarkTabsTab/BookmarkTabsTab.tsx
  src/components/ThemeToggler/ThemeToggler.tsx
Owners: @gizeasy, @N1MBER

fix(Selects): fix render numbers value (#3297)
  src/components/Combobox/Combobox.tsx
  src/components/ComboboxCanary/ComboboxCanary.tsx
  src/components/Select/Select.tsx
  src/components/SelectCanary/SelectCanary.tsx
  src/components/UserSelect/UserSelect.tsx
  src/components/UserSelectCanary/UserSelectCanary.tsx
Owners: @gizeasy, @N1MBER

fix(List): fixed background on ListItem (#3300)
  src/components/ListCanary/ListItem/ListItem.css
Owners: @linturaven

fix(ContextMenu): fix keyboard navigation on ismobile mode
  src/components/ContextMenu/ContextMenuLevel/ContextMenuLevel.tsx
  src/components/ContextMenu/ContextMenuLevelWrapper/ContextMenuLevelWrapper.tsx
  src/components/ContextMenu/__stand__/ContextMenu.dev.stand.mdx
  src/components/ContextMenu/__stand__/ContextMenu.variants.tsx
  src/components/ContextMenu/types.ts
  src/components/ContextMenu/useMenuNavigation.ts
Owners: @gizeasy, @N1MBER, @BagenovA

fix(MixFlex): fix docs
  src/mixs/MixFlex/__stand__/MixFlex.stand.mdx
  src/mixs/MixFlex/__stand__/MixFlex.stand.tsx
Owners: @BagenovA, @gizeasy, @N1MBER

release: 4.30.1
  package.json
Owners: @gizeasy, @N1MBER

changelog: 4.30.1
  CHANGELOG.md
Owners: @BagenovA

fix(ContextMenu): fix mobile navigation
  src/components/ContextMenu/ContextMenuLevel/ContextMenuLevel.tsx
  src/components/ContextMenu/useMenuNavigation.ts
Owners: @gizeasy, @N1MBER
