Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

.github/CODEOWNERS:

* @gizeasy @N1MBER 
*.md @arhayka @kolebayev
*.mdx @arhayka @kolebayev
*.css @kolebayev

add example
  src/components/ChoiceGroup/ChoiceGroup.css
  src/components/ChoiceGroup/ChoiceGroup.tsx
  src/components/ChoiceGroup/__stories__/ChoiceGroup.docs.mdx
  src/components/ChoiceGroup/__stories__/examples/ChoiceGroupExampleAdaptive/ChoiceGroupExampleAdaptive.tsx
  src/components/ChoiceGroup/__stories__/examples/ChoiceGroupExampleAdaptive/ChoiceGroupExampleAdaptiveScroll.css
  src/components/ChoiceGroup/__stories__/examples/ChoiceGroupExampleAdaptive/images/choiceGroupAdaptive.png
  src/components/ChoiceGroup/__stories__/examples/ChoiceGroupExampleTextOverflow/ChoiceGroupExampleTextOverflow.tsx
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

docs(ChoiceGroup): edit adaprive descriptions
  src/components/ChoiceGroup/__stories__/ChoiceGroup.docs.mdx
Owners: @arhayka, @kolebayev

feat(PortalWithTheme): zIndex processing added
  src/components/ContextMenuCanary/__stories__/ContextMenu.stories.tsx
  src/components/Modal/Modal.css
  src/components/Modal/Modal.tsx
  src/components/Modal/__stories__/Modal.docs.mdx
  src/components/Modal/__stories__/examples/ModalExampleZIndex/ModalExampleZIndex.tsx
  src/components/PortalWithTheme/PortalWithTheme.tsx
  src/components/PortalWithTheme/PortalWithThemeContext/PortalWithThemeContext.tsx
  src/components/Sidebar/Sidebar.css
  src/components/Sidebar/Sidebar.tsx
  src/components/Sidebar/__stories__/examples/SidebarExample/SidebarExample.tsx
  src/hooks/useClickOutside/__stories__/useClickOutside.stories.mdx
  src/hooks/useClickOutside/useClickOutside.tsx
Owners: @gizeasy, @N1MBER, @kolebayev, @arhayka

docs(Modal): edit text
  src/components/Modal/__stories__/Modal.docs.mdx
  src/components/Modal/__stories__/examples/ModalExampleZIndex/ModalExampleZIndex.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(ChocieGroup): edit doc after review
  src/components/ChoiceGroup/__stories__/ChoiceGroup.docs.mdx
Owners: @arhayka, @kolebayev

feat(PortalWithTheme): zIndex processing added (#2191)
  src/components/ContextMenuCanary/__stories__/ContextMenu.stories.tsx
  src/components/Modal/Modal.css
  src/components/Modal/Modal.tsx
  src/components/Modal/__stories__/Modal.docs.mdx
  src/components/Modal/__stories__/examples/ModalExampleZIndex/ModalExampleZIndex.tsx
  src/components/PortalWithTheme/PortalWithTheme.tsx
  src/components/PortalWithTheme/PortalWithThemeContext/PortalWithThemeContext.tsx
  src/components/Sidebar/Sidebar.css
  src/components/Sidebar/Sidebar.tsx
  src/components/Sidebar/__stories__/examples/SidebarExample/SidebarExample.tsx
  src/hooks/useClickOutside/__stories__/useClickOutside.stories.mdx
  src/hooks/useClickOutside/useClickOutside.tsx
Owners: @gizeasy, @N1MBER, @kolebayev, @arhayka

docs(ChoiceGroup): add adaptive section (#2186)
  src/components/ChoiceGroup/ChoiceGroup.css
  src/components/ChoiceGroup/ChoiceGroup.tsx
  src/components/ChoiceGroup/__stories__/ChoiceGroup.docs.mdx
  src/components/ChoiceGroup/__stories__/examples/ChoiceGroupExampleAdaptive/ChoiceGroupExampleAdaptive.tsx
  src/components/ChoiceGroup/__stories__/examples/ChoiceGroupExampleAdaptive/ChoiceGroupExampleAdaptiveScroll.css
  src/components/ChoiceGroup/__stories__/examples/ChoiceGroupExampleTextOverflow/ChoiceGroupExampleTextOverflow.tsx
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

docs(ContextMenu): fix examples (#2188)
  src/components/ContextMenuCanary/__stories__/ContextMenu.docs.mdx
  src/components/ContextMenuCanary/__stories__/examples/ContextMenuExampleOutsideClick/ContextMenuExampleOutsideClick.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

fix(BreadcrumbsCanary): rewrite logic of open context menu
  src/components/BreadcrumbsCanary/BreadcrumbsItem/BreadcrumbsItem.tsx
  src/components/BreadcrumbsCanary/__stories__/Breadcrumbs.stories.tsx
Owners: @gizeasy, @N1MBER

docs(Breadcrumbs): docs revew
  src/components/BreadcrumbsCanary/__stories__/Breadcrumbs.docs.mdx
Owners: @arhayka, @kolebayev

docs(DatePicker): docs review
  src/components/DatePickerCanary/__stories__/DatePicker.docs.mdx
Owners: @arhayka, @kolebayev

feat(DatePicker): added type time (#2174)
  src/components/DatePickerCanary/DatePickerCanary.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeDate/helpers.ts
  src/components/DatePickerCanary/DatePickerFieldTypeDateTime/DatePickerFieldTypeDateTime.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeTime/DatePickerFieldTypeTime.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeTime/helpers.ts
  src/components/DatePickerCanary/DatePickerTypeDateTime/DatePickerTypeDateTime.tsx
  src/components/DatePickerCanary/DatePickerTypeTime/DatePickerTypeTime.tsx
  src/components/DatePickerCanary/__stories__/DatePicker.docs.mdx
  src/components/DatePickerCanary/__stories__/examples/DatePickerExampleType/DatePickerExampleType.tsx
  src/components/DatePickerCanary/helpers.ts
  src/components/DateTimeCanary/__stories__/examples/DateTimeExampleDateMin/DateTimeExampleDateMin.tsx
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

feat(Combobox): hide label for not found while items list is empty (#2181)
  src/components/SelectComponents/SelectDropdown/SelectDropdown.tsx
Owners: @gizeasy, @N1MBER

docs(common): change links to vercel
  README.md
  docs/common/about/principles.stories.mdx
  docs/common/addComponent/addComponent.stories.mdx
  docs/common/developers/contributors-design.stories.mdx
  docs/common/developers/design.stories.mdx
  docs/common/developers/docs.stories.mdx
  docs/common/repos/components/ReposData/ReposData.tsx
  docs/common/sla/sla.stories.mdx
  docs/common/work/howToGo.stories.mdx
  docs/common/work/issues.stories.mdx
  src/icons/Icon/__stories__/Icons.stories.tsx
  src/icons/IconFacebook/IconFacebook_size_m.tsx
  src/icons/IconFacebook/IconFacebook_size_s.tsx
  src/icons/IconInstagram/IconInstagram_size_m.tsx
  src/icons/IconInstagram/IconInstagram_size_s.tsx
  src/icons/IconVkontakte/IconVkontakte_size_m.tsx
  src/icons/IconVkontakte/IconVkontakte_size_s.tsx
  src/icons/IconYandexDzen/IconYandexDzen_size_m.tsx
  src/icons/IconYandexDzen/IconYandexDzen_size_s.tsx
  src/icons/IconYoutube/IconYoutube_size_m.tsx
  src/icons/IconYoutube/IconYoutube_size_s.tsx
  src/uiKit/components/ComponentsGridWithData/data/additionalData.ts
  src/uiKit/components/ComponentsGridWithData/data/data.ts
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(common): change links to vercel (#2199)
  README.md
  docs/common/about/principles.stories.mdx
  docs/common/addComponent/addComponent.stories.mdx
  docs/common/developers/contributors-design.stories.mdx
  docs/common/developers/design.stories.mdx
  docs/common/developers/docs.stories.mdx
  docs/common/repos/components/ReposData/ReposData.tsx
  docs/common/sla/sla.stories.mdx
  docs/common/work/howToGo.stories.mdx
  docs/common/work/issues.stories.mdx
  src/icons/Icon/__stories__/Icons.stories.tsx
  src/icons/IconFacebook/IconFacebook_size_m.tsx
  src/icons/IconFacebook/IconFacebook_size_s.tsx
  src/icons/IconInstagram/IconInstagram_size_m.tsx
  src/icons/IconInstagram/IconInstagram_size_s.tsx
  src/icons/IconVkontakte/IconVkontakte_size_m.tsx
  src/icons/IconVkontakte/IconVkontakte_size_s.tsx
  src/icons/IconYandexDzen/IconYandexDzen_size_m.tsx
  src/icons/IconYandexDzen/IconYandexDzen_size_s.tsx
  src/icons/IconYoutube/IconYoutube_size_m.tsx
  src/icons/IconYoutube/IconYoutube_size_s.tsx
  src/uiKit/components/ComponentsGridWithData/data/additionalData.ts
  src/uiKit/components/ComponentsGridWithData/data/data.ts
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

release(3.18.3):
  package.json
Owners: @gizeasy, @N1MBER

changelog(3.18.3):
  CHANGELOG.md
Owners: @arhayka, @kolebayev

chore(storybook): chage publick url
  .storybook/manager.js
  package.json
Owners: @gizeasy, @N1MBER

chore(storybook): chage publick url (#2204)
  .storybook/manager.js
  package.json
Owners: @gizeasy, @N1MBER

docs(review): add gantt picture
  src/uiKit/components/ComponentsGridWithData/data/additionalData.ts
  src/uiKit/components/ComponentsGridWithData/data/data.ts
  src/uiKit/components/ComponentsGridWithData/data/imagesForAdditionalData/GanttImage.tsx
Owners: @gizeasy, @N1MBER

fix(Breadcrumbs): fix hover logic
  src/components/BreadcrumbsCanary/BreadcrumbsItem/BreadcrumbsItem.css
  src/components/BreadcrumbsCanary/BreadcrumbsItem/BreadcrumbsItem.tsx
Owners: @kolebayev, @gizeasy, @N1MBER

feat(BreadcrumbsCanary): add inner submenu (#2183)
  src/components/BreadcrumbsCanary/BreadcrumbsCanary.tsx
  src/components/BreadcrumbsCanary/BreadcrumbsFitModeDropdown/BreadcrumbsFitModeDropdown.tsx
  src/components/BreadcrumbsCanary/BreadcrumbsItem/BreadcrumbsItem.css
  src/components/BreadcrumbsCanary/BreadcrumbsItem/BreadcrumbsItem.tsx
  src/components/BreadcrumbsCanary/BreadcrumbsMore/BreadcrumbsMore.tsx
  src/components/BreadcrumbsCanary/__stories__/Breadcrumbs.docs.mdx
  src/components/BreadcrumbsCanary/__stories__/Breadcrumbs.stories.tsx
  src/components/BreadcrumbsCanary/__stories__/examples/BreadcrumbsExample/BreadcrumbsExample.tsx
  src/components/BreadcrumbsCanary/helpers.ts
  src/components/BreadcrumbsCanary/types.ts
  src/components/ContextMenuCanary/__stories__/ContextMenu.docs.mdx
  src/components/ContextMenuCanary/types.ts
Owners: @gizeasy, @N1MBER, @kolebayev, @arhayka

docs(review): add gantt picture (#2206)
  src/uiKit/components/ComponentsGridWithData/data/additionalData.ts
  src/uiKit/components/ComponentsGridWithData/data/data.ts
  src/uiKit/components/ComponentsGridWithData/data/imagesForAdditionalData/GanttImage.tsx
Owners: @gizeasy, @N1MBER

docs(DatePicker): add adaptive section
  src/components/DatePickerCanary/__stories__/DatePicker.docs.mdx
  src/components/DatePickerCanary/__stories__/examples/DatePickerExampleAdaptive/DatePickerExampleAdaptive.css
  src/components/DatePickerCanary/__stories__/examples/DatePickerExampleAdaptive/DatePickerExampleAdaptive.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

release(3.19.0):
  package.json
Owners: @gizeasy, @N1MBER

changelog(3.19.0):
  CHANGELOG.md
Owners: @arhayka, @kolebayev

changelog(3.19.0):
  CHANGELOG.md
  package.json
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

feat(DatePicker): edit api
  src/components/DatePickerCanary/DatePickerCanary.tsx
  src/components/DatePickerCanary/DatePickerDropdown/DatePickerDropdown.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeDate/DatePickerFieldTypeDate.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeDate/helpers.ts
  src/components/DatePickerCanary/DatePickerFieldTypeDateRange/DatePickerFieldTypeDateRange.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeDateRange/helpers.ts
  src/components/DatePickerCanary/DatePickerFieldTypeDateTime/DatePickerFieldTypeDateTime.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeDateTime/helpers.ts
  src/components/DatePickerCanary/DatePickerFieldTypeDateTimeRange/DatePickerFieldTypeDateTimeRange.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeDateTimeRange/helpers.ts
  src/components/DatePickerCanary/DatePickerFieldTypeTime/DatePickerFieldTypeTime.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeTime/helpers.ts
  src/components/DatePickerCanary/DatePickerTypeDate/DatePickerTypeDate.tsx
  src/components/DatePickerCanary/DatePickerTypeDateRange/DatePickerTypeDateRange.tsx
  src/components/DatePickerCanary/DatePickerTypeDateTime/DatePickerTypeDateTime.tsx
  src/components/DatePickerCanary/DatePickerTypeDateTimeRange/DatePickerTypeDateTimeRange.tsx
  src/components/DatePickerCanary/DatePickerTypeTime/DatePickerTypeTime.tsx
  src/components/DatePickerCanary/__stories__/DatePicker.docs.mdx
  src/components/DatePickerCanary/__stories__/DatePicker.stories.tsx
  src/components/DatePickerCanary/helpers.ts
  src/components/DatePickerCanary/types.ts
  src/hooks/useForkRef/useForkRef.tsx
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

docs(Grid): add adaptive section
  src/components/Grid/__stories__/Grid.docs.mdx
Owners: @arhayka, @kolebayev

docs(Layout): add adaptive section
  src/components/LayoutCanary/__stories__/Layout.docs.mdx
Owners: @arhayka, @kolebayev

docs(Pagination): add adattive section
  src/components/Pagination/__stories__/Pagination.docs.mdx
  src/components/Pagination/__stories__/examples/PaginationExample/PaginationExample.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs: change links to the landing
  README.md
  docs/common/about/about.stories.mdx
  docs/common/sla/sla.stories.mdx
  docs/common/work/issues.stories.mdx
Owners: @arhayka, @kolebayev

docs(global): replace url
  README.md
  docs/common/about/principles.stories.mdx
  docs/common/addComponent/addComponent.stories.mdx
  docs/common/developers/contributors-design.stories.mdx
  docs/common/developers/design.stories.mdx
  docs/common/developers/docs.stories.mdx
  docs/common/repos/components/ReposData/ReposData.tsx
  docs/common/sla/sla.stories.mdx
  docs/common/work/howToGo.stories.mdx
  package.json
  src/uiKit/components/ComponentsGridWithData/data/additionalData.ts
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(global): replace url (#2228)
  README.md
  docs/common/about/principles.stories.mdx
  docs/common/addComponent/addComponent.stories.mdx
  docs/common/developers/contributors-design.stories.mdx
  docs/common/developers/design.stories.mdx
  docs/common/developers/docs.stories.mdx
  docs/common/repos/components/ReposData/ReposData.tsx
  docs/common/sla/sla.stories.mdx
  docs/common/work/howToGo.stories.mdx
  package.json
  src/uiKit/components/ComponentsGridWithData/data/additionalData.ts
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs: fix url
  docs/common/sla/sla.stories.mdx
Owners: @arhayka, @kolebayev

docs: replace url
  docs/common/sla/sla.stories.mdx
Owners: @arhayka, @kolebayev

fix:
  src/components/DatePickerCanary/__stories__/DatePicker.stories.tsx
Owners: @gizeasy, @N1MBER

fix(SelectDropdown): fix bug with items index
  src/components/SelectComponents/SelectDropdown/SelectDropdown.tsx
Owners: @gizeasy, @N1MBER

fix(SelectDropdown): fix bug with items index (#2232)
  src/components/SelectComponents/SelectDropdown/SelectDropdown.tsx
Owners: @gizeasy, @N1MBER

docs(global): change links to the landing (#2226)
  README.md
  docs/common/about/about.stories.mdx
  docs/common/sla/sla.stories.mdx
  docs/common/work/issues.stories.mdx
Owners: @arhayka, @kolebayev
