Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @alyonurchick1, @linturaven

.github/CODEOWNERS:

* @gizeasy
*.md @alyonurchick1
*.mdx @alyonurchick1
*.css @linturaven

fix(Combobox): fix searchLabel and virtualScroll on React 19 (#4178)
  src/components/SelectComponents/SelectDropdown/SelectDropdown.tsx
  src/hooks/useVirtualScroll/helpers.ts
  src/utils/getGroups.ts
Owners: @gizeasy

release: 5.33.2
  package.json
Owners: @gizeasy

changelog: 5.33.2
  CHANGELOG.md
Owners: @alyonurchick1

fix: virtual scroll on react 19
  package.json
  src/components/FlatSelect/FlatSelectList/FlatSelectList.tsx
  src/components/SelectCanary/SelectDropdown/SelectDropdown.tsx
  src/components/SelectComponents/SelectDropdown/SelectDropdown.tsx
  src/hooks/useVirtualScroll/__stand__/examples/useVirtualScrollExample/useVirtualScrollExample.tsx
  src/hooks/useVirtualScroll/__stand__/useVirtualScroll.stand.mdx
  yarn.lock
Owners: @gizeasy, @alyonurchick1

fix: virtual scroll on react 19 (#4180)
  package.json
  src/components/FlatSelect/FlatSelectList/FlatSelectList.tsx
  src/components/SelectCanary/SelectDropdown/SelectDropdown.tsx
  src/components/SelectComponents/SelectDropdown/SelectDropdown.tsx
  src/hooks/useVirtualScroll/__stand__/examples/useVirtualScrollExample/useVirtualScrollExample.tsx
  src/hooks/useVirtualScroll/__stand__/useVirtualScroll.stand.mdx
  yarn.lock
Owners: @gizeasy, @alyonurchick1

release: 5.33.3
  package.json
Owners: @gizeasy

changelog: 5.33.3
  CHANGELOG.md
Owners: @alyonurchick1

fix(Sidebar): fix bugged animation when input with autofocus is used
  src/components/Sidebar/Sidebar.css
Owners: @linturaven

Update package.json
  package.json
Owners: @gizeasy

ss
  .eslintrc.js
  .github/workflows/pkgPrNew .yml
  .husky/pre-commit
  .husky/pre-push
  babel.config.js
  package.json
  src/components/BookmarkTabs/__tests__/BookmarkTabs.unit.tsx
  yarn.lock
Owners: @gizeasy

ss
  .github/workflows/pkgPrNew.yml
  .github/workflows/tests.yml
Owners: @gizeasy

Update tests.yml
  .github/workflows/tests.yml
Owners: @gizeasy

Update pkgPrNew.yml
  .github/workflows/pkgPrNew.yml
Owners: @gizeasy

s
  src/components/Notification/__tests__/NotificationActions.unit.tsx
  src/components/UserSelectDeprecated/__tests__/UserSelect.unit.tsx
Owners: @gizeasy

fix lint
  src/components/AttachmentDeprecated/__tests__/Attachment.unit.tsx
  src/components/Chips/__tests__/Chips.unit.tsx
  src/components/ContextMenu/ContextMenuLevels/ContextMenuLevels.tsx
  src/components/DateTime/__tests__/DateTime.unit.tsx
  src/components/DateTime/__tests__/getTimeNumbers.unit.tsx
  src/components/FieldComponents/FieldInput/FieldInput.tsx
  src/components/Modal/__stand__/Modal.variants.tsx
  src/components/Radio/__tests__/Radio.unit.tsx
  src/components/TagBase/__tests__/TagBase.unit.tsx
  src/components/TextField/__tests__/TextField.unit.tsx
  src/mixs/MixPopoverAnimate/MixPopoverAnimate.tsx
  src/utils/state/isTouch/isTouch.ts
  src/utils/state/useComputedSetAtom/useComputedSetAtom.ts
Owners: @gizeasy

Update cspell.json
  cspell.json
Owners: @gizeasy

fix(Sidebar): fix bugged animation when input with autofocus is used (#4181)
  src/components/Sidebar/Sidebar.css
Owners: @linturaven

Update package.json
  package.json
Owners: @gizeasy

Update package.json
  package.json
Owners: @gizeasy

Update package.json
  package.json
Owners: @gizeasy

Update package.json
  package.json
Owners: @gizeasy

Update UserSelect.unit.tsx
  src/components/UserSelectDeprecated/__tests__/UserSelect.unit.tsx
Owners: @gizeasy

add propAction
  package.json
  src/utils/state/index.ts
  src/utils/state/propAction/index.ts
  src/utils/state/propAction/propAction.ts
  src/utils/state/resizeObservedAtom/resizeObservedAtom.ts
Owners: @gizeasy

Update propAction.ts
  src/utils/state/propAction/propAction.ts
Owners: @gizeasy

Update propAction.ts
  src/utils/state/propAction/propAction.ts
Owners: @gizeasy

Update helpers.ts
  src/utils/state/virtualScrollEffect/helpers.ts
Owners: @gizeasy

fix virtualScroll
  src/components/FlatSelect/FlatSelectList/FlatSelectList.tsx
  src/components/SelectCanary/SelectDropdown/SelectDropdown.tsx
  src/utils/state/virtualScrollEffect/helpers.ts
  src/utils/state/virtualScrollEffect/virtualScrollEffect.ts
  yarn.lock
Owners: @gizeasy

Update vitest.ts
  src/utils/vitest.ts
Owners: @gizeasy

fix(TextField): pass inputMode to input element
  src/components/FieldComponents/FieldArrayValueInlineControl/FieldArrayValueInlineControl.tsx
  src/components/FieldComponents/FieldArrayValueInlineControl/types.ts
  src/components/TextField/TextField.tsx
  src/components/TextField/__tests__/TextField.test.tsx
  src/components/TextField/types.ts
  src/components/TextFieldCanary/TextFieldTypeNumber/TextFieldTypeNumber.tsx
  src/components/TextFieldCanary/TextFieldTypePassword/TextFieldTypePassword.tsx
  src/components/TextFieldCanary/TextFieldTypeText/TextFieldTypeText.tsx
  src/components/TextFieldCanary/TextFieldTypeTextArea/TextFieldTypeTextArea.tsx
  src/components/TextFieldCanary/TextFieldTypeTextArray/TextFieldTypeTextArray.tsx
  src/components/TextFieldCanary/__tests__/TextField.test.tsx
  src/components/TextFieldCanary/types.ts
Owners: @gizeasy

test(TextField): add extra test for type='textarea'
  src/components/TextField/__tests__/TextField.test.tsx
Owners: @gizeasy

test: add concurrent mode
  src/components/SelectCanary/SelectSingle/__tests__/SelectSingle.unit.tsx
  src/utils/vitest.ts
Owners: @gizeasy

dfgdfg
  package.json
  src/utils/state/resizeObservedAtom/resizeObservedAtom.ts
Owners: @gizeasy

fix(deps): add @reatom/framework as peer dependency
  package.json
Owners: @gizeasy

update vitest
  package.json
  src/components/Banner/__tests__/Banner.unit.tsx
  src/components/Breadcrumbs/__tests__/Breadcrumbs.unit.tsx
  src/components/DatePicker/__tests__/DatePickerTypeMonthRange/DatePicker_type_monthRange.unit.tsx
  src/components/DateTime/__tests__/DateTime_type_date.unit.tsx
  src/components/DateTime/__tests__/DateTime_type_dateTime.unit.tsx
  src/components/DateTime/__tests__/DateTime_type_month.unit.tsx
  src/components/DragNDropFieldCanary/__tests__/DragNDropFieldCanary.unit.tsx
  src/components/Notification/__tests__/NotificationActions.unit.tsx
  src/components/Popover/__tests__/Popover.unit.tsx
  src/components/SelectCanary/SelectMultiple/__tests__/SelectMultiple.unit.tsx
  src/components/SelectComponents/__tests__/SelectCreateButton.unit.tsx
  src/components/SelectComponents/__tests__/SelectDropdown.unit.tsx
  src/components/SelectComponentsDeprecated/__tests__/SelectCreateButton.unit.tsx
  src/components/SelectComponentsDeprecated/__tests__/SelectDropdown.unit.tsx
  src/components/Slider/__tests__/Slider.unit.tsx
  yarn.lock
Owners: @gizeasy

fix(SelectCanary): fix invisible placeholder with multiple={true}
  src/components/FieldComponents/FieldArrayValueInlineControl/FieldArrayValueInlineControl.css
Owners: @linturaven

disable hooks
  .husky/pre-commit
  .husky/pre-push
Owners: @gizeasy

fix
  .husky/pre-commit
  .husky/pre-push
  src/components/BadgeGroup/__tests__/BadgeGroup.unit.tsx
  src/components/Picture/__tests__/Picture.unit.tsx
  src/components/Theme/presets/presetGpnDark.ts
  src/components/Theme/presets/presetGpnDefault.ts
  src/components/Theme/presets/presetGpnDisplay.ts
  src/stand/standPageDecoration.tsx
Owners: @gizeasy

Update cspell.json
  cspell.json
Owners: @gizeasy

sss
  package.json
  src/components/Badge/Badge.tsx
  src/stand/standPageDecoration.tsx
  yarn.lock
Owners: @gizeasy

Update standPageDecoration.tsx
  src/stand/standPageDecoration.tsx
Owners: @gizeasy
