Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tsvetta, @gizeasy, @nekitk, @miocene, @fooontic, @kolebayev, @arhayka

docs(basic-select): обновить документацию
  src/components/Select/__stories__/BasicSelect.mdx
  src/components/Select/__stories__/BasicSelect.stories.tsx
Owners: @miocene, @fooontic, @kolebayev, @arhayka, @tsvetta, @gizeasy, @nekitk

fix(basic-select): переименовать компонент, удалить комментарии, пофиксить тест, изменить ФС
  src/components/BasicSelect/Container/Container.css
  src/components/BasicSelect/Container/Container.tsx
  src/components/BasicSelect/Container/index.ts
  src/components/BasicSelect/Dropdown/Dropdown.css
  src/components/BasicSelect/Dropdown/Dropdown.tsx
  src/components/BasicSelect/Dropdown/index.ts
  src/components/BasicSelect/__stories__/BasicSelect.mdx
  src/components/BasicSelect/__tests__/Container.test.tsx
  src/components/BasicSelect/cnSelect.ts
  src/components/BasicSelect/index.ts
  src/components/BasicSelect/styles.css
  src/components/BasicSelect/types.ts
  src/components/Select/BasicSelect/BasicSelect.tsx
  src/components/Select/BasicSelect/index.ts
  src/components/Select/__mocks__/ResizeObserver.ts
  src/components/Select/__stories__/BasicSelect.mdx
  src/components/Select/__stories__/BasicSelect.stories.tsx
  src/components/Select/__tests__/BasicSelect.test.tsx
  src/components/Select/hooks/use-select.tsx
  src/components/Select/hooks/utils.ts
Owners: @miocene, @fooontic, @kolebayev, @tsvetta, @gizeasy, @nekitk, @arhayka

fix(basic-select): исправить ширину компонента
  src/components/BasicSelect/Container/Container.css
  src/components/BasicSelect/styles.css
Owners: @miocene, @fooontic, @kolebayev

fix(basic-select): пофиксить тест Container
  src/components/BasicSelect/Container/Container.tsx
  src/components/BasicSelect/__tests__/Container.test.tsx
Owners: @tsvetta, @gizeasy, @nekitk

fix(basic-select): обновить типы, переименовать компонент
  src/components/BasicSelect/Container/Container.tsx
  src/components/BasicSelect/Container/index.ts
  src/components/BasicSelect/Dropdown/index.ts
  src/components/BasicSelect/SelectContainer/SelectContainer.css
  src/components/BasicSelect/SelectContainer/SelectContainer.tsx
  src/components/BasicSelect/__stories__/BasicSelect.stories.tsx
  src/components/BasicSelect/__tests__/Container.test.tsx
  src/components/BasicSelect/types.ts
Owners: @tsvetta, @gizeasy, @nekitk, @miocene, @fooontic, @kolebayev

refactor(basic-select): изменить структуру ФС
  src/components/BasicSelect/Dropdown/Dropdown.css
  src/components/BasicSelect/Dropdown/Dropdown.tsx
  src/components/BasicSelect/SelectContainer/SelectContainer.css
  src/components/BasicSelect/SelectContainer/SelectContainer.tsx
  src/components/BasicSelect/__stories__/BasicSelect.stories.tsx
  src/components/BasicSelect/__tests__/Container.test.tsx
  src/components/BasicSelect/cnSelect.ts
  src/components/BasicSelect/index.ts
  src/components/BasicSelect/styles.css
  src/components/BasicSelect/types.ts
Owners: @miocene, @fooontic, @kolebayev, @tsvetta, @gizeasy, @nekitk

init
  src/components/BasicSelect/BasicSelect.tsx
  src/components/MultiCombobox/MultiCombobox.tsx
  src/components/MultiCombobox/__stories__/MultiCombobox.mdx
  src/components/MultiCombobox/__stories__/MultiCombobox.stories.tsx
  src/components/MultiCombobox/cnSelect.ts
  src/components/MultiCombobox/index.ts
  src/components/SelectComponents/Container/Container.css
  src/components/SelectComponents/Container/Container.tsx
  src/components/SelectComponents/Dropdown/Dropdown.css
  src/components/SelectComponents/Dropdown/Dropdown.tsx
  src/components/SelectComponents/__tests__/Container.test.tsx
  src/components/SelectComponents/styles.css
  src/components/SelectComponents/types.ts
  src/hooks/useDebounce/useDebounce.tsx
  src/hooks/usePrevious/usePrevious.ts
  src/hooks/useSelect/useSelect.tsx
  src/utils/scrollIntoView.ts
Owners: @tsvetta, @gizeasy, @nekitk, @miocene, @fooontic, @kolebayev, @arhayka

добавить фильтрацию
  src/components/BasicSelect/BasicSelect.tsx
  src/components/Combobox/Combobox.tsx
  src/components/Combobox/__stories__/Combobox.mdx
  src/components/Combobox/__stories__/Combobox.stories.tsx
  src/components/MultiCombobox/cnSelect.ts
  src/components/MultiCombobox/index.ts
  src/components/SelectComponents/Container/Container.css
  src/components/SelectComponents/Container/Container.tsx
  src/components/SelectComponents/Dropdown/Dropdown.css
  src/components/SelectComponents/Dropdown/Dropdown.tsx
  src/components/SelectComponents/Select.css
  src/components/SelectComponents/SelectContainer/SelectContainer.tsx
  src/components/SelectComponents/styles.css
  src/components/SelectComponents/types.ts
  src/hooks/useSelect/useSelect.tsx
Owners: @tsvetta, @gizeasy, @nekitk, @miocene, @fooontic, @kolebayev, @arhayka

изменить control
  src/components/BasicSelect/BasicSelect.tsx
  src/components/Combobox/Combobox.tsx
  src/components/SelectComponents/Select.css
  src/hooks/useKeys/useKeys.tsx
  src/hooks/useSelect/useSelect.tsx
Owners: @tsvetta, @gizeasy, @nekitk, @miocene, @fooontic, @kolebayev

add create button
  src/components/Combobox/Combobox.tsx
  src/components/Combobox/__stories__/Combobox.stories.tsx
  src/components/SelectComponents/Select.css
  src/hooks/useSelect/useSelect.tsx
Owners: @tsvetta, @gizeasy, @nekitk, @miocene, @fooontic, @kolebayev

f
  src/components/Combobox/Combobox.tsx
  src/components/Combobox/__stories__/Combobox.stories.tsx
  src/components/SelectComponents/Select.css
  src/hooks/useSelect/useSelect.tsx
Owners: @tsvetta, @gizeasy, @nekitk, @miocene, @fooontic, @kolebayev

add flat list
  src/components/Combobox/Combobox.tsx
  src/components/Combobox/__stories__/Combobox.stories.tsx
  src/hooks/useSelect/useSelect.tsx
Owners: @tsvetta, @gizeasy, @nekitk

add type
  src/components/Combobox/Combobox.tsx
  src/components/Combobox/__stories__/Combobox.stories.tsx
Owners: @tsvetta, @gizeasy, @nekitk

update type in hook
  src/components/BasicSelect/BasicSelect.tsx
  src/components/Combobox/Combobox.tsx
  src/components/SelectComponents/types.ts
  src/hooks/useSelect/useSelect.tsx
Owners: @tsvetta, @gizeasy, @nekitk

update hook
  src/components/BasicSelect/BasicSelect.tsx
  src/components/Combobox/Combobox.tsx
  src/components/Combobox/__stories__/Combobox.mdx
  src/components/Combobox/__stories__/Combobox.stories.tsx
  src/components/SelectComponents/Select.css
  src/components/SelectComponents/SelectDropdown/SelectDropdown.css
  src/components/SelectComponents/types.ts
  src/hooks/useSelect/useSelect.tsx
Owners: @tsvetta, @gizeasy, @nekitk, @miocene, @fooontic, @kolebayev, @arhayka

docs(combobox): обновить документацию
  src/components/BasicSelect/BasicSelect.tsx
  src/components/BasicSelect/__stories__/BasicSelect.mdx
  src/components/Combobox/Combobox.tsx
  src/components/Combobox/__stories__/Combobox.mdx
  src/hooks/useSelect/useSelect.tsx
Owners: @tsvetta, @gizeasy, @nekitk, @miocene, @fooontic, @kolebayev, @arhayka

fix(combobox): исправить ошибку с типами в стори
  src/components/Combobox/__stories__/Combobox.stories.tsx
  src/components/SelectComponents/Select.css
  src/hooks/useSelect/useSelect.tsx
Owners: @tsvetta, @gizeasy, @nekitk, @miocene, @fooontic, @kolebayev

docs(combobox): исправить документацию
  src/components/BasicSelect/BasicSelect.tsx
  src/components/BasicSelect/__stories__/BasicSelect.mdx
  src/components/Combobox/Combobox.tsx
  src/components/Combobox/__stories__/Combobox.mdx
  src/components/SelectComponents/__tests__/SelectContainer.test.tsx
Owners: @tsvetta, @gizeasy, @nekitk, @miocene, @fooontic, @kolebayev, @arhayka

refactor(combobox): вынеси выпадающий блок в отдельный компонент
  src/components/BasicSelect/BasicSelect.tsx
  src/components/BasicSelect/__stories__/BasicSelect.mdx
  src/components/BasicSelect/__tests__/BasicSelect.test.tsx
  src/components/Combobox/Combobox.tsx
  src/components/Combobox/__stories__/Combobox.mdx
  src/components/Combobox/__stories__/Combobox.stories.tsx
  src/components/SelectComponents/SelectDropdown/SelectDropdown.tsx
  src/components/SelectComponents/SelectDropdownContainer/SelectDropdownContainer.css
  src/components/SelectComponents/SelectDropdownContainer/SelectDropdownContainer.tsx
  src/components/SelectComponents/__tests__/SelectContainer.test.tsx
  src/components/SelectComponents/cnSelect.ts
  src/components/SelectComponents/types.ts
  src/hooks/useSelect/useSelect.tsx
Owners: @tsvetta, @gizeasy, @nekitk, @miocene, @fooontic, @kolebayev, @arhayka

fix(basic-select): пофиксить тест
  src/components/BasicSelect/__tests__/BasicSelect.test.tsx
Owners: @tsvetta, @gizeasy, @nekitk

refactor(SelectComponents): исправить ошибку с key
  src/components/BasicSelect/__tests__/BasicSelect.test.tsx
  src/components/SelectComponents/SelectDropdown/SelectDropdown.tsx
Owners: @tsvetta, @gizeasy, @nekitk

docs(combobox): исправить документацию
  src/components/Combobox/__stories__/Combobox.mdx
  src/components/SelectComponents/__tests__/SelectContainer.test.tsx
Owners: @miocene, @fooontic, @kolebayev, @arhayka, @tsvetta, @gizeasy, @nekitk

fix(basic-select): переименовать компонент, удалить комментарии, пофиксить тест, изменить ФС
  src/components/BasicSelect/Container/Container.css
  src/components/BasicSelect/Container/Container.tsx
  src/components/BasicSelect/Container/index.ts
  src/components/BasicSelect/Dropdown/Dropdown.css
  src/components/BasicSelect/Dropdown/Dropdown.tsx
  src/components/BasicSelect/Dropdown/index.ts
  src/components/BasicSelect/__tests__/Container.test.tsx
  src/components/BasicSelect/cnSelect.ts
  src/components/BasicSelect/index.ts
  src/components/BasicSelect/styles.css
  src/components/BasicSelect/types.ts
Owners: @miocene, @fooontic, @kolebayev, @tsvetta, @gizeasy, @nekitk

feat(multicombobox):
  src/components/MultiCombobox/MultiCombobox.tsx
  src/components/MultiCombobox/__stories__/MultiCombobox.mdx
  src/components/MultiCombobox/__stories__/MultiCombobox.stories.tsx
  src/components/SelectComponents/Select.css
  src/components/SelectComponents/SelectContainer/SelectContainer.tsx
  src/hooks/useSelect/useSelect.tsx
Owners: @tsvetta, @gizeasy, @nekitk, @miocene, @fooontic, @kolebayev, @arhayka

refactor(multicombobox): вынести выпадающий блок в отельный компонент
  src/components/MultiCombobox/MultiCombobox.tsx
  src/components/MultiCombobox/SelectDropdown.tsx
  src/components/MultiCombobox/__stories__/MultiCombobox.mdx
  src/components/SelectComponents/Select.css
Owners: @tsvetta, @gizeasy, @nekitk, @miocene, @fooontic, @kolebayev, @arhayka

fix(multicombobox): обновить конфиг, элемент выпадающего списка
  src/components/BasicSelect/Container/Container.css
  src/components/BasicSelect/Container/Container.tsx
  src/components/BasicSelect/Container/index.ts
  src/components/BasicSelect/Dropdown/Dropdown.css
  src/components/BasicSelect/Dropdown/Dropdown.tsx
  src/components/BasicSelect/Dropdown/index.ts
  src/components/BasicSelect/__tests__/Container.test.tsx
  src/components/MultiCombobox/MultiCombobox.tsx
  src/components/MultiCombobox/SelectDropdown.tsx
  src/components/SelectComponents/SelectDropdown/SelectDropdown.tsx
Owners: @miocene, @fooontic, @kolebayev, @tsvetta, @gizeasy, @nekitk

refactor(multicombobox): удалить старые файлы
  src/components/BasicSelect/cnSelect.ts
  src/components/BasicSelect/styles.css
  src/components/SelectComponents/SelectDropdown/SelectDropdown.tsx
Owners: @tsvetta, @gizeasy, @nekitk, @miocene, @fooontic, @kolebayev

fix(whitepaper): whitepaper affected documentation styles, fixed text weight
  src/utils/whitepaper/whitepaper.css
Owners: @miocene, @fooontic, @kolebayev

feat(Modal): lint fix; removed useeffect for prevent scrolling modal background
  src/components/Modal/Modal.css
  src/components/Modal/Modal.tsx
  src/components/Modal/__stories__/Modal.stories.css
Owners: @miocene, @fooontic, @kolebayev, @tsvetta, @gizeasy, @nekitk

feat(Modal): added tests
  src/components/Modal/Modal.tsx
  src/components/Modal/__tests__/Modal.test.tsx
Owners: @tsvetta, @gizeasy, @nekitk

fix(ChoiceGroup): fix import in doc example
  src/components/ChoiceGroup/__stories__/ChoiceGroup.mdx
Owners: @miocene, @fooontic, @kolebayev, @arhayka

feat(Modal): fixed typo
  src/components/Modal/__stories__/Modal.stories.tsx
Owners: @tsvetta, @gizeasy, @nekitk

feat(Modal): added modal component
  package.json
Owners: @tsvetta, @gizeasy, @nekitk

docs(basic-select): обновить описание импорта
  src/components/BasicSelect/__stories__/BasicSelect.mdx
  src/components/Combobox/__stories__/Combobox.mdx
Owners: @miocene, @fooontic, @kolebayev, @arhayka

feat(BasicSelect): add BasicSelect (#349)
  src/components/BasicSelect/__stories__/BasicSelect.mdx
  src/components/BasicSelect/__tests__/BasicSelect.test.tsx
  src/components/Combobox/Combobox.tsx
  src/components/Combobox/__stories__/Combobox.mdx
  src/components/Combobox/__stories__/Combobox.stories.tsx
  src/components/SelectComponents/Select.css
  src/components/SelectComponents/SelectContainer/SelectContainer.tsx
  src/components/SelectComponents/SelectDropdown/SelectDropdown.tsx
  src/components/SelectComponents/SelectDropdownContainer/SelectDropdownContainer.css
  src/components/SelectComponents/SelectDropdownContainer/SelectDropdownContainer.tsx
  src/components/SelectComponents/__tests__/Container.test.tsx
  src/components/SelectComponents/cnSelect.ts
  src/components/SelectComponents/types.ts
  src/hooks/useDebounce/useDebounce.tsx
  src/hooks/useKeys/useKeys.tsx
  src/hooks/usePrevious/usePrevious.ts
  src/hooks/useSelect/useSelect.tsx
  src/utils/scrollIntoView.ts
Owners: @miocene, @fooontic, @kolebayev, @arhayka, @tsvetta, @gizeasy, @nekitk

feat(Tag): add mode info
  src/components/Tag/Tag.css
  src/components/Tag/Tag.tsx
  src/components/Tag/__stories__/Tag.stories.tsx
  src/components/Tag/__tests__/Tag.test.tsx
  src/components/TagBase/TagBase.css
  src/components/TagBase/TagBase.tsx
  src/components/TagBase/__tests__/TagBase.test.tsx
Owners: @miocene, @fooontic, @kolebayev, @tsvetta, @gizeasy, @nekitk

fix(multicombobox): исправить отображение выбранной опции
  src/components/BasicSelect/BasicSelect.tsx
  src/components/Combobox/Combobox.tsx
  src/components/MultiCombobox/MultiCombobox.tsx
  src/components/SelectComponents/SelectDropdown/SelectDropdown.tsx
Owners: @tsvetta, @gizeasy, @nekitk

fix(multicombobox): исправить типы
  src/components/Combobox/Combobox.tsx
  src/components/Combobox/__stories__/Combobox.stories.tsx
  src/components/SelectComponents/Select.css
  src/components/SelectComponents/SelectDropdown/SelectDropdown.tsx
Owners: @tsvetta, @gizeasy, @nekitk, @miocene, @fooontic, @kolebayev

chore(build): update build configs
  build.tsconfig.json
  builder/build.config.js
  builder/build.js
Owners: @tsvetta, @gizeasy, @nekitk

fix(Stories): fix types
  builder/templates/FileIconsGallery.tsx.template
  builder/templates/Icons.stories.tsx.template
  src/components/Attach/__stories__/Attach.stories.tsx
  src/components/Avatar/__stories__/Avatar.stories.tsx
  src/components/Badge/__stories__/Badge.stories.tsx
  src/components/BasicSelect/__stories__/BasicSelect.stories.tsx
  src/components/Button/__stories__/Button.stories.tsx
  src/components/Checkbox/__stories__/Checkbox.stories.tsx
  src/components/Checkbox/__stories__/examples/CheckboxExampleName/CheckboxExampleName.tsx
  src/components/ChoiceGroup/__stories__/ChoiceGroup.stories.tsx
  src/components/File/__stories__/File.stories.tsx
  src/components/FileField/__stories__/FileField.stories.tsx
  src/components/Header/__stories__/Header.stories.tsx
  src/components/Informer/__stories__/Informer.stories.tsx
  src/components/Loader/__stories__/Loader.stories.tsx
  src/components/Loader/__stories__/examples/LoaderExampleSize/LoaderExampleSize.tsx
  src/components/Popover/__stories__/Popover.stories.tsx
  src/components/ProgressSpin/__stories__/ProgressSpin.stories.tsx
  src/components/Radio/__stories__/Radio.stories.tsx
  src/components/SnackBar/__stories__/SnackBar.stories.tsx
  src/components/SnackBar/__stories__/examples/SnackBarExampleWithButtons/SnackBarExampleWithButtons.tsx
  src/components/Switch/__stories__/Switch.stories.tsx
  src/components/Table/__stories__/Table.stories.tsx
  src/components/Tabs/__stories__/Tabs.stories.tsx
  src/components/Tag/__stories__/Tag.stories.tsx
  src/components/Text/__stories__/Text.stories.tsx
  src/components/TextField/__stories__/TextField.stories.tsx
  src/components/TextField/__stories__/examples/TextFieldExampleForm/TextFieldExampleForm.tsx
  src/components/TextField/__stories__/examples/TextFieldExampleSize/TextFieldExampleSize.tsx
  src/components/TextField/__stories__/examples/TextFieldExampleStatus/TextFieldExampleStatus.tsx
  src/components/TextField/__stories__/examples/TextFieldExampleText/TextFieldExampleText.tsx
  src/components/TextField/__stories__/examples/TextFieldExampleView/TextFieldExampleView.tsx
  src/components/Theme/__stories__/Theme.stories.tsx
  src/components/Timer/__stories__/Timer.stories.tsx
  src/components/Tooltip/__stories__/Tooltip.stories.tsx
  src/components/User/__stories__/User.stories.tsx
  src/fileIcons/FileIcon/__stories__/FileIconsGallery/FileIconsGallery.tsx
  src/fileIcons/FileIcon/stories/FileIcons.stories.tsx
  src/icons/Icon/__stories__/Icons.stories.tsx
  tsconfig.json
Owners: @tsvetta, @gizeasy, @nekitk

.github/CODEOWNERS:

* @tsvetta @gizeasy @nekitk
*.md @miocene @fooontic @kolebayev @arhayka
*.mdx @miocene @fooontic @kolebayev @arhayka
*.css @miocene @fooontic @kolebayev
