Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

.github/CODEOWNERS:

* @gizeasy @N1MBER 
*.md @arhayka @kolebayev
*.mdx @arhayka @kolebayev
*.css @kolebayev

fix(getGroups): fixed calculate groups with groupId = 0 (#2322)
  src/utils/getGroups.ts
Owners: @gizeasy, @N1MBER

fix
  src/components/DragNDropField/DragNDropField.tsx
  src/components/DragNDropField/DragNDropFieldContent/formatFileRequirements.ts
  src/components/DragNDropField/getErrorsList.ts
  src/components/DragNDropField/locale.ts
  src/components/DragNDropField/types.ts
Owners: @gizeasy, @N1MBER

feat(TabsCanary): add TabsCanary (#2309)
  src/components/TabsCanary/FitModeDropdownWrapper/TabsFitModeDropdownWrapper.css
  src/components/TabsCanary/FitModeDropdownWrapper/TabsFitModeDropdownWrapper.tsx
  src/components/TabsCanary/FitModeDropdownWrapper/__tests__/useFittingItems.ts
  src/components/TabsCanary/FitModeDropdownWrapper/useFittingItems.ts
  src/components/TabsCanary/FitModeScrollWrapper/TabsFitModeScrollWrapper.css
  src/components/TabsCanary/FitModeScrollWrapper/TabsFitModeScrollWrapper.tsx
  src/components/TabsCanary/FitModeScrollWrapper/__test__/helpers.test.ts
  src/components/TabsCanary/Line/TabsLine.css
  src/components/TabsCanary/Line/TabsLine.tsx
  src/components/TabsCanary/MoreItems/TabsMoreItems.css
  src/components/TabsCanary/MoreItems/TabsMoreItems.tsx
  src/components/TabsCanary/Tab/TabsTab.css
  src/components/TabsCanary/Tab/TabsTab.tsx
  src/components/TabsCanary/Tabs.css
  src/components/TabsCanary/TabsCanary.tsx
  src/components/TabsCanary/__stories__/Tabs.docs.mdx
  src/components/TabsCanary/__stories__/Tabs.image.svg
  src/components/TabsCanary/__stories__/Tabs.stories.tsx
  src/components/TabsCanary/__stories__/examples/TabsExample/TabsExample.tsx
  src/components/TabsCanary/__stories__/examples/TabsExampleFitModeDropdown/TabsExampleFitModeDropdown.tsx
  src/components/TabsCanary/__stories__/examples/TabsExampleFitModeScroll/TabsExampleFitModeScroll.tsx
  src/components/TabsCanary/__stories__/examples/TabsExampleIcon/TabsExampleIcon.tsx
  src/components/TabsCanary/__stories__/examples/TabsExampleLinePosition/TabsExampleLinePosition.tsx
  src/components/TabsCanary/__stories__/examples/TabsExampleRenderItem/TabsExampleRenderItem.tsx
  src/components/TabsCanary/__stories__/examples/TabsExampleSize/TabsExampleSize.tsx
  src/components/TabsCanary/__stories__/examples/TabsExampleView/TabsExampleView.tsx
  src/components/TabsCanary/__tests__/Tabs.test.tsx
  src/components/TabsCanary/helpers.tsx
  src/components/TabsCanary/types.ts
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

feat(SwitchGroupCanary): add SwitchGroupCanary (#2310)
  src/components/SwitchGroupCanary/SwitchGroup.css
  src/components/SwitchGroupCanary/SwitchGroupCanary.tsx
  src/components/SwitchGroupCanary/__stories__/SwitchGroup.docs.mdx
  src/components/SwitchGroupCanary/__stories__/SwitchGroup.image.svg
  src/components/SwitchGroupCanary/__stories__/SwitchGroup.stories.tsx
  src/components/SwitchGroupCanary/__stories__/examples/SwitchGroupExampleDirection/SwitchGroupExampleDirection.tsx
  src/components/SwitchGroupCanary/__stories__/examples/SwitchGroupExampleDisabled/SwitchGroupExampleDisabled.tsx
  src/components/SwitchGroupCanary/__stories__/examples/SwitchGroupExampleSize/SwitchGroupExampleSize.tsx
  src/components/SwitchGroupCanary/__stories__/examples/SwitchGroupExampleView/SwitchGroupExampleView.tsx
  src/components/SwitchGroupCanary/__tests__/SwitchGroup.test.tsx
  src/components/SwitchGroupCanary/helpers.ts
  src/components/SwitchGroupCanary/types.ts
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

feat(CheckboxGroupCanary): add CheckboxGroupCanary (#2311)
  src/components/CheckboxGroupCanary/CheckboxGroup.css
  src/components/CheckboxGroupCanary/CheckboxGroupCanary.tsx
  src/components/CheckboxGroupCanary/__mocks__/data.mock.ts
  src/components/CheckboxGroupCanary/__stories__/CheckboxGroup.docs.mdx
  src/components/CheckboxGroupCanary/__stories__/CheckboxGroup.image.svg
  src/components/CheckboxGroupCanary/__stories__/CheckboxGroup.stories.tsx
  src/components/CheckboxGroupCanary/__stories__/examples/CheckboxGroupExampleDirection/CheckboxGroupExampleDirection.tsx
  src/components/CheckboxGroupCanary/__stories__/examples/CheckboxGroupExampleDisabled/CheckboxGroupExampleDisabled.tsx
  src/components/CheckboxGroupCanary/__stories__/examples/CheckboxGroupExampleName/CheckboxGroupExampleName.tsx
  src/components/CheckboxGroupCanary/__stories__/examples/CheckboxGroupExampleSize/CheckboxGroupExampleSize.tsx
  src/components/CheckboxGroupCanary/__stories__/examples/CheckboxGroupExampleView/CheckboxGroupExampleView.tsx
  src/components/CheckboxGroupCanary/__tests__/CheckboxGroup.test.tsx
  src/components/CheckboxGroupCanary/helper.ts
  src/components/CheckboxGroupCanary/types.ts
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

feat(ChoiceGroupCanary): add ChoiceGroupCanary (#2312)
  src/components/ChoiceGroupCanary/ChoiceGroup.css
  src/components/ChoiceGroupCanary/ChoiceGroupCanary.tsx
  src/components/ChoiceGroupCanary/Item/ChoiceGroup-Item.tsx
  src/components/ChoiceGroupCanary/__stories__/ChoiceGroup.docs.mdx
  src/components/ChoiceGroupCanary/__stories__/ChoiceGroup.image.svg
  src/components/ChoiceGroupCanary/__stories__/ChoiceGroup.stories.tsx
  src/components/ChoiceGroupCanary/__stories__/examples/ChoiceGroupExampleAdaptive/ChoiceGroupExampleAdaptive.tsx
  src/components/ChoiceGroupCanary/__stories__/examples/ChoiceGroupExampleAdaptive/ChoiceGroupExampleAdaptiveScroll.css
  src/components/ChoiceGroupCanary/__stories__/examples/ChoiceGroupExampleDisabled/ChoiceGroupExampleDisabled.tsx
  src/components/ChoiceGroupCanary/__stories__/examples/ChoiceGroupExampleForm/ChoiceGroupExampleForm.tsx
  src/components/ChoiceGroupCanary/__stories__/examples/ChoiceGroupExampleIcon/ChoiceGroupExampleIcon.tsx
  src/components/ChoiceGroupCanary/__stories__/examples/ChoiceGroupExampleMultiple/ChoiceGroupExampleMultiple.tsx
  src/components/ChoiceGroupCanary/__stories__/examples/ChoiceGroupExampleSize/ChoiceGroupExampleSize.tsx
  src/components/ChoiceGroupCanary/__stories__/examples/ChoiceGroupExampleSomeDisabled/ChoiseGroupExampleSomeDisabled.tsx
  src/components/ChoiceGroupCanary/__stories__/examples/ChoiceGroupExampleSwitch/ChoiceGroupExampleSwitch.tsx
  src/components/ChoiceGroupCanary/__stories__/examples/ChoiceGroupExampleText/ChoiceGroupExampleText.tsx
  src/components/ChoiceGroupCanary/__stories__/examples/ChoiceGroupExampleTextOverflow/ChoiceGroupExampleTextOverflow.tsx
  src/components/ChoiceGroupCanary/__stories__/examples/ChoiceGroupExampleView/ChoiceGroupExampleView.tsx
  src/components/ChoiceGroupCanary/__stories__/examples/ChoiceGroupExampleWidth/ChoiceGroupExampleWidth.tsx
  src/components/ChoiceGroupCanary/__tests__/ChoiceGroup.test.tsx
  src/components/ChoiceGroupCanary/helper.ts
  src/components/ChoiceGroupCanary/types.ts
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

feat(RadioGroupCanary): add RadioGroupCanary (#2313)
  src/components/RadioGroupCanary/RadioGroup.css
  src/components/RadioGroupCanary/RadioGroupCannary.tsx
  src/components/RadioGroupCanary/__mocks__/data.mock.ts
  src/components/RadioGroupCanary/__stories__/RadioGroup.docs.mdx
  src/components/RadioGroupCanary/__stories__/RadioGroup.image.svg
  src/components/RadioGroupCanary/__stories__/RadioGroup.stories.tsx
  src/components/RadioGroupCanary/__stories__/examples/RadioGroupExampleAlign/RadioGroupExampleAlign.tsx
  src/components/RadioGroupCanary/__stories__/examples/RadioGroupExampleDisabled/RadioGroupExampleDisabled.tsx
  src/components/RadioGroupCanary/__stories__/examples/RadioGroupExampleSize/RadioGroupExampleSize.tsx
  src/components/RadioGroupCanary/__stories__/examples/RadioGroupExampleUse/RadioGroupExampleUse.tsx
  src/components/RadioGroupCanary/__stories__/examples/RadioGroupExampleView/RadioGroupExampleView.tsx
  src/components/RadioGroupCanary/__tests__/RadioGroup.test.tsx
  src/components/RadioGroupCanary/helper.ts
  src/components/RadioGroupCanary/types.ts
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

release(3.24.0):
  package.json
Owners: @gizeasy, @N1MBER

changelog(3.24.0):
  CHANGELOG.md
Owners: @arhayka, @kolebayev

feat(components):
  src/components/DateTimeCanary/__tests__/DateTime_type_date.test.tsx
Owners: @gizeasy, @N1MBER

test(components):
  src/components/DateTimeCanary/__tests__/DateTime_type_year.test.tsx
Owners: @gizeasy, @N1MBER

fix(Popover): fixed change position
  src/components/ContextMenuCanary/ContextMenu.css
  src/components/ContextMenuCanary/ContextMenuCanary.tsx
  src/components/ContextMenuCanary/__stories__/ContextMenu.stories.tsx
  src/components/Popover/Popover.tsx
  src/components/Popover/usePopoverReposition.ts
Owners: @kolebayev, @gizeasy, @N1MBER

LibsPage
  index.ts
  package.json
  src/App.tsx
  src/componets/DocLayout/DocLayout.css
  src/componets/DocLayout/DocLayout.tsx
  src/componets/DocLayout/index.ts
  src/componets/Image/Image.css
  src/componets/Image/Image.tsx
  src/componets/Image/index.ts
  src/componets/Link/Link.tsx
  src/componets/Link/index.ts
  src/componets/PortalMenu/PortalMenu.css
  src/componets/PortalMenu/PortalMenu.tsx
  src/componets/PortalMenu/PortalMenuItem/PortalMenuItem.css
  src/componets/PortalMenu/PortalMenuItem/PortalMenuItem.tsx
  src/componets/PortalMenu/helper.ts
  src/componets/PortalMenu/index.ts
  src/componets/PortalMenu/types.ts
  src/containers/AppTheme/AppTheme.css
  src/exportAtoms/libs/libs.ts
  src/exportAtoms/stands/stands.ts
  src/exportFuctions/createConfig.ts
  src/exportFuctions/createRoutes.ts
  src/exportFuctions/prepareStands.ts
  src/exportTypes/index.ts
  src/index.tsx
  src/modules/menu/index.ts
  src/modules/stand/index.ts
  src/pages/LibsPage/LibsPage.tsx
  src/pages/LibsPage/LibsPageContent/LibsPageContent.tsx
  src/pages/LibsPage/LibsPageContent/index.ts
  src/pages/LibsPage/LibsPageMenu/LibsPageMenu.tsx
  src/pages/LibsPage/LibsPageMenu/index.ts
  src/pages/StandPage/useStand.ts
  src/utils/types/PropsWithAsAttributes.ts
  src/utils/types/PropsWithHTMLAttributes.ts
  src/utils/types/PropsWithJsxAttributes.ts
  templates/stands.ts.template
  webpack.config.js
  yarn.lock
Owners: @gizeasy, @N1MBER, @kolebayev

test(components):
  src/components/DateTimeCanary/__tests__/DateTime_type_date.test.tsx
  src/components/DateTimeCanary/__tests__/DateTime_type_time.test.tsx
  src/components/DateTimeCanary/__tests__/DateTime_type_year.test.tsx
  src/components/DateTimeCanary/__tests__/helpers.ts
Owners: @gizeasy, @N1MBER

add tests DateTime_type_month
  src/components/DateTimeCanary/__tests__/DateTime_type_month.test.tsx
Owners: @gizeasy, @N1MBER

test(components):
  src/components/DateTimeCanary/__tests__/DateTime.test.tsx
  src/components/DateTimeCanary/__tests__/DateTime_type_dateTime.test.tsx
  src/components/DateTimeCanary/__tests__/helpers.ts
Owners: @gizeasy, @N1MBER

test(components):
  src/components/DateTimeCanary/__tests__/DateTime.test.tsx
Owners: @gizeasy, @N1MBER

Lazy docs
  .gitignore
  config.js
  createStand/index.ts
  helpers/prepareStands.js
  src/App.tsx
  src/componets/ErrorBoundary/ErrorBoundary.tsx
  src/componets/ErrorBoundary/index.ts
  src/componets/LazyDocs/LazyDocs.tsx
  src/componets/LazyDocs/index.ts
  src/modules/stand/index.ts
  src/pages/StandPage/StandPage.tsx
  templates/App.tsx.template
  templates/lazydocs.tsx.template
  templates/stands.ts.template
Owners: @gizeasy, @N1MBER

Add mdx components
  src/componets/A/A.tsx
  src/componets/Blockquote/Blockquote.tsx
  src/componets/Br/Br.tsx
  src/componets/Code/Code.tsx
  src/componets/Em/Em.tsx
  src/componets/H1/H1.tsx
  src/componets/H2/H2.tsx
  src/componets/H3/H3.tsx
  src/componets/H4/H4.tsx
  src/componets/H5/H5.tsx
  src/componets/H6/H6.tsx
  src/componets/Hr/Hr.tsx
  src/componets/Img/Img.tsx
  src/componets/Li/Li.tsx
  src/componets/Ol/Ol.tsx
  src/componets/P/P.tsx
  src/componets/Pre/Pre.tsx
  src/componets/Strong/Strong.tsx
  src/componets/Ul/Ul.tsx
  src/containers/MDXProvider/MDXProvider.tsx
Owners: @gizeasy, @N1MBER

feat(mdx): add provider to laztload and update types
  src/componets/LazyDocs/LazyDocs.tsx
  src/containers/MDXProvider/MDXProvider.tsx
  src/containers/MDXProvider/index.tsx
Owners: @gizeasy, @N1MBER

fix(Popover): fixed change position (#2335)
  src/components/ContextMenuCanary/ContextMenu.css
  src/components/ContextMenuCanary/ContextMenuCanary.tsx
  src/components/ContextMenuCanary/__stories__/ContextMenu.stories.tsx
  src/components/Popover/Popover.tsx
  src/components/Popover/usePopoverReposition.ts
Owners: @kolebayev, @gizeasy, @N1MBER

test(components):
  src/components/DateTimeCanary/__tests__/DateTime_type_date.test.tsx
  src/components/DateTimeCanary/__tests__/DateTime_type_time.test.tsx
  src/components/DateTimeCanary/__tests__/DateTime_type_year.test.tsx
  src/components/DateTimeCanary/__tests__/helpers.ts
Owners: @gizeasy, @N1MBER

docs(Header): add links to other headers
  src/components/Header/__stories__/Header.docs.mdx
Owners: @arhayka, @kolebayev

test(components):
  src/components/DateTimeCanary/__tests__/DateTime.test.tsx
  src/components/DateTimeCanary/__tests__/DateTime_type_date.test.tsx
  src/components/DateTimeCanary/__tests__/DateTime_type_dateTime.test.tsx
  src/components/DateTimeCanary/__tests__/DateTime_type_month.test.tsx
  src/components/DateTimeCanary/__tests__/DateTime_type_time.test.tsx
  src/components/DateTimeCanary/__tests__/helpers.ts
Owners: @gizeasy, @N1MBER

docs(Table): add links to other tables
  src/components/Table/__stories__/Table.docs.mdx
Owners: @arhayka, @kolebayev

docs(Responses): add link to gpn-responses
  src/components/Responses/__stories__/Responses.docs.mdx
Owners: @arhayka, @kolebayev

test(Select): add tests to Select (#2329)
  src/components/Select/__tests__/Select.test.tsx
  src/components/SelectComponents/SelectCreateButton/SelectCreateButton.tsx
  src/components/SelectComponents/SelectLoader/SelectLoader.tsx
  src/components/SelectComponents/__tests__/SelectCreateButton.test.tsx
  src/components/SelectComponents/__tests__/SelectDropdown.test.tsx
  src/components/SelectComponents/__tests__/SelectValueTag.test.tsx
Owners: @gizeasy, @N1MBER

test(useKeys): add tests to useKeys (#2328)
  src/hooks/useKeys/__tests__/useKeys.test.tsx
Owners: @gizeasy, @N1MBER

test(DateTime): add tests to DateTime (#2337)
  src/components/DateTimeCanary/__tests__/DateTime.test.tsx
  src/components/DateTimeCanary/__tests__/DateTime_type_date.test.tsx
  src/components/DateTimeCanary/__tests__/DateTime_type_dateTime.test.tsx
  src/components/DateTimeCanary/__tests__/DateTime_type_month.test.tsx
  src/components/DateTimeCanary/__tests__/DateTime_type_time.test.tsx
  src/components/DateTimeCanary/__tests__/DateTime_type_year.test.tsx
  src/components/DateTimeCanary/__tests__/helpers.ts
Owners: @gizeasy, @N1MBER

docs(Header): add links to other headers (#2344)
  src/components/Header/__stories__/Header.docs.mdx
Owners: @arhayka, @kolebayev

docs(Table): add links to other tables (#2345)
  src/components/Table/__stories__/Table.docs.mdx
Owners: @arhayka, @kolebayev

docs(Responses): add link to gpn-responses (#2346)
  src/components/Responses/__stories__/Responses.docs.mdx
Owners: @arhayka, @kolebayev

test(Table): add tests to Table
  src/components/Table/FilterTooltip/TableFilterTooltip.tsx
  src/components/Table/__tests__/Table.test.tsx
Owners: @gizeasy, @N1MBER

test(Table): add tests to Table
  src/components/Table/Header/TableHeader.tsx
  src/components/Table/__tests__/Table.test.tsx
Owners: @gizeasy, @N1MBER

feat(DragNDropField): add locale
  src/components/DragNDropField/DragNDropField.tsx
  src/components/DragNDropField/DragNDropFieldContent/DragNDropFieldContent.tsx
  src/components/DragNDropField/DragNDropFieldContent/formatFileRequirements.ts
  src/components/DragNDropField/__stories__/DragNDropField.docs.mdx
  src/components/DragNDropField/__stories__/examples/DragNDropFieldExampleErrorMessages/DragNDropFieldExampleErrorMessages.tsx
  src/components/DragNDropField/__tests__/formatFileSize.test.ts
  src/components/DragNDropField/__tests__/getErrorsList.test.ts
  src/components/DragNDropField/formatFileSize.ts
  src/components/DragNDropField/getErrorsList.ts
  src/components/DragNDropField/locale.ts
  src/components/DragNDropField/types.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

feat(DragNDropField): add locale (#2314)
  src/components/DragNDropField/DragNDropField.tsx
  src/components/DragNDropField/DragNDropFieldContent/DragNDropFieldContent.tsx
  src/components/DragNDropField/DragNDropFieldContent/formatFileRequirements.ts
  src/components/DragNDropField/__stories__/DragNDropField.docs.mdx
  src/components/DragNDropField/__stories__/examples/DragNDropFieldExampleErrorMessages/DragNDropFieldExampleErrorMessages.tsx
  src/components/DragNDropField/__tests__/formatFileSize.test.ts
  src/components/DragNDropField/__tests__/getErrorsList.test.ts
  src/components/DragNDropField/formatFileSize.ts
  src/components/DragNDropField/getErrorsList.ts
  src/components/DragNDropField/locale.ts
  src/components/DragNDropField/types.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

test(Table): add tests to Table (#2330)
  src/components/Table/RowsCollapse/TableRowsCollapse.tsx
  src/components/Table/Table.tsx
  src/components/Table/__mock__/data.mock.tsx
  src/components/Table/__tests__/Table.test.tsx
Owners: @gizeasy, @N1MBER

release(3.24.1):
  package.json
Owners: @gizeasy, @N1MBER

changelog(3.24.1):
  CHANGELOG.md
Owners: @arhayka, @kolebayev

fix
  src/modules/libs/index.ts
  src/modules/router/index.ts
  src/modules/stands/index.ts
Owners: @gizeasy, @N1MBER
