Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @alyonurchick1, @linturaven

.github/CODEOWNERS:

* @gizeasy
*.md @alyonurchick1
*.mdx @alyonurchick1
*.css @linturaven

Revert "docs (List): implementation of editorial policy"
  src/components/ListCanary/__stand__/List.dev.stand.mdx
Owners: @alyonurchick1

Update List.dev.stand.mdx
  src/components/ListCanary/__stand__/List.dev.stand.mdx
Owners: @alyonurchick1

docs (Loader): implementation of editorial policy
  src/components/Loader/__stand__/Loader.dev.stand.mdx
Owners: @alyonurchick1

Update Loader.dev.stand.mdx
  src/components/Loader/__stand__/Loader.dev.stand.mdx
Owners: @alyonurchick1

docs (Modal): implementation of editorial policy
  src/components/Modal/__stand__/Modal.dev.stand.mdx
Owners: @alyonurchick1

Update cspell.json
  cspell.json
Owners: @gizeasy

docs (Pagination): implementation of editorial policy
  src/components/Pagination/__stand__/Pagination.dev.stand.mdx
Owners: @alyonurchick1

Update Pagination.dev.stand.mdx
  src/components/Pagination/__stand__/Pagination.dev.stand.mdx
Owners: @alyonurchick1

Update Pagination.dev.stand.mdx
  src/components/Pagination/__stand__/Pagination.dev.stand.mdx
Owners: @alyonurchick1

docs (Picture): implementation of editorial policy
  src/components/Picture/__stand__/Picture.dev.stand.mdx
Owners: @alyonurchick1

docs (Popover): implementation of editorial policy
  src/components/Popover/__stand__/Popover.dev.stand.mdx
Owners: @alyonurchick1

fix(TextFieldCanary): fixed calculate width
  src/components/FieldComponents/FieldArrayValueInlineControl/FieldArrayValueInlineControl.tsx
  src/components/FieldComponents/FieldControlLayout/FieldControlLayout.css
  src/components/TextFieldCanary/TextFieldTypeTextArray/TextFieldTypeTextArray.tsx
Owners: @gizeasy, @linturaven

docs(Tabs): fixed page
  src/components/Tabs/__stand__/Tabs.dev.stand.mdx
Owners: @alyonurchick1

test: add tests
  src/components/DatePicker/__tests__/DatePicker_type_dateTime.test.tsx
  src/components/DateTime/DateTimeTypeMonth/DateTimeTypeMonth.tsx
  src/components/DateTime/DateTimeTypeYear/DateTimeTypeYear.tsx
  src/components/DateTime/__tests__/DateTime_type_date.test.tsx
  src/components/DateTime/__tests__/DateTime_type_dateTime.test.tsx
  src/components/DateTime/__tests__/DateTime_type_month.test.tsx
  src/components/DateTime/__tests__/DateTime_type_year.test.tsx
  src/components/DateTime/__tests__/helpers.ts
Owners: @gizeasy

fix(DatePicker): исправления багов с disableDates в DatePicker (#4010)
  src/components/DatePicker/DatePickerTypeDate/DatePickerTypeDate.tsx
  src/components/DatePicker/__stand__/DatePicker.variants.tsx
  src/components/DatePicker/__tests__/DatePicker_type_date.test.tsx
  src/components/DatePicker/__tests__/DatePicker_type_dateRange.test.tsx
  src/components/DatePicker/__tests__/DatePicker_type_dateTime.test.tsx
  src/components/DatePicker/__tests__/helpers.ts
  src/components/DateTime/DateTimeTypeDate/DateTimeTypeDate.tsx
  src/components/DateTime/DateTimeTypeMonth/DateTimeTypeMonth.tsx
  src/components/DateTime/DateTimeTypeYear/DateTimeTypeYear.tsx
  src/components/DateTime/__tests__/DateTime_type_date.test.tsx
  src/components/DateTime/__tests__/DateTime_type_dateTime.test.tsx
  src/components/DateTime/__tests__/DateTime_type_month.test.tsx
  src/components/DateTime/__tests__/DateTime_type_year.test.tsx
  src/components/DateTime/__tests__/helpers.ts
Owners: @gizeasy

docs (Informer): implementation of editorial policy (#4011)
  src/components/Informer/__stand__/Informer.dev.stand.mdx
Owners: @alyonurchick1

docs (Layout): implementation of editorial policy (#4012)
  src/components/Layout/__stand__/Layout.dev.stand.mdx
Owners: @alyonurchick1

docs (List): implementation of editorial policy
  src/components/ListCanary/__stand__/List.dev.stand.mdx
Owners: @alyonurchick1

docs (Loader): implementation of editorial policy (#4014)
  src/components/Loader/__stand__/Loader.dev.stand.mdx
Owners: @alyonurchick1

docs (Modal): implementation of editorial policy (#4017)
  cspell.json
  src/components/Modal/__stand__/Modal.dev.stand.mdx
Owners: @gizeasy, @alyonurchick1

docs (Pagination): implementation of editorial policy (#4018)
  src/components/Pagination/__stand__/Pagination.dev.stand.mdx
Owners: @alyonurchick1

docs (Picture): implementation of editorial policy (#4019)
  src/components/Picture/__stand__/Picture.dev.stand.mdx
Owners: @alyonurchick1

docs (Popover): implementation of editorial policy (#4020)
  src/components/Popover/__stand__/Popover.dev.stand.mdx
Owners: @alyonurchick1

fix
  src/components/FieldComponents/FieldControlLayout/FieldControlLayout.css
  src/components/TextFieldCanary/TextFieldTypeTextArray/TextFieldTypeTextArray.css
Owners: @linturaven

docs(Tabs): fixed page (#4025)
  src/components/Tabs/__stand__/Tabs.dev.stand.mdx
Owners: @alyonurchick1

fix(TextFieldCanary): fixed calculate width (#4024)
  src/components/FieldComponents/FieldArrayValueInlineControl/FieldArrayValueInlineControl.tsx
  src/components/FieldComponents/FieldControlLayout/FieldControlLayout.css
  src/components/TextFieldCanary/TextFieldTypeTextArray/TextFieldTypeTextArray.css
  src/components/TextFieldCanary/TextFieldTypeTextArray/TextFieldTypeTextArray.tsx
Owners: @gizeasy, @linturaven

fix(Attachment): не передавать withAction, как пропс в html тег
  src/components/Attachment/Attachment.tsx
Owners: @gizeasy

feat(Banner): add component
  .husky/pre-push
  package.json
  src/components/Banner/Banner.css
  src/components/Banner/Banner.tsx
  src/components/Banner/__stand__/Banner.dev.stand.mdx
  src/components/Banner/__stand__/Banner.stand.mdx
  src/components/Banner/__stand__/Banner.stand.tsx
  src/components/Banner/__stand__/Banner.variants.tsx
  src/components/Banner/__stand__/BannerCustomBg.png
  src/components/Banner/__stand__/examples/BannerExampleContent/BannerExampleContent.tsx
  src/components/Banner/__stand__/examples/BannerExampleForm/BannerExampleForm.tsx
  src/components/Banner/__stand__/examples/BannerExampleIcon/BannerExampleIcon.tsx
  src/components/Banner/__stand__/examples/BannerExampleSize/BannerExampleSize.tsx
  src/components/Banner/__stand__/examples/BannerExampleView/BannerExampleView.tsx
  src/components/Banner/index.ts
  yarn.lock
Owners: @gizeasy, @linturaven, @alyonurchick1

Update Banner.variants.tsx
  src/components/Banner/__stand__/Banner.variants.tsx
Owners: @gizeasy

fix(Attachment): не передавать withAction, как пропс в html тег (#4026)
  src/components/Attachment/Attachment.tsx
Owners: @gizeasy

Update Banner.dev.stand.mdx
  src/components/Banner/__stand__/Banner.dev.stand.mdx
Owners: @alyonurchick1

update description
  src/components/Banner/__stand__/Banner.stand.mdx
  src/components/Banner/__stand__/Banner.stand.tsx
Owners: @alyonurchick1, @gizeasy

Update Banner.tsx
  src/components/Banner/Banner.tsx
Owners: @gizeasy

release: 5.24.2
  package.json
Owners: @gizeasy

changelog: 5.24.2
  CHANGELOG.md
Owners: @alyonurchick1

doc
  src/components/Banner/__stand__/Banner.dev.stand.mdx
  src/components/Banner/__stand__/Banner.stand.tsx
Owners: @alyonurchick1, @gizeasy

docs(Pagination): fixed examples
  src/components/Pagination/__stand__/examples/PaginationExample/PaginationExample.tsx
  src/components/Pagination/__stand__/examples/PaginationExampleArrows/PaginationExampleArrows.tsx
  src/components/Pagination/__stand__/examples/PaginationExampleFirstLastItem/PaginationExampleFirstLastItem.tsx
  src/components/Pagination/__stand__/examples/PaginationExampleForm/PaginationExampleForm.tsx
  src/components/Pagination/__stand__/examples/PaginationExampleHotKeys/PaginationExampleHotKeys.tsx
  src/components/Pagination/__stand__/examples/PaginationExampleOuterMostArrows/PaginationExampleOuterMostArrows.tsx
  src/components/Pagination/__stand__/examples/PaginationExampleSize/PaginationExampleSize.tsx
  src/components/Pagination/__stand__/examples/PaginationExampleType/PaginationExampleType.tsx
  src/components/Pagination/__stand__/examples/PaginationExampleVisibleCount/PaginationExampleVisibleCount.tsx
Owners: @gizeasy

Update cspell.json
  cspell.json
Owners: @gizeasy

feat(Banner): add component (#4028)
  .husky/pre-push
  cspell.json
  package.json
  src/components/Banner/Banner.css
  src/components/Banner/Banner.tsx
  src/components/Banner/__stand__/Banner.dev.stand.mdx
  src/components/Banner/__stand__/Banner.stand.mdx
  src/components/Banner/__stand__/Banner.stand.tsx
  src/components/Banner/__stand__/Banner.variants.tsx
  src/components/Banner/__stand__/BannerCustomBg.png
  src/components/Banner/__stand__/examples/BannerExampleContent/BannerExampleContent.tsx
  src/components/Banner/__stand__/examples/BannerExampleForm/BannerExampleForm.tsx
  src/components/Banner/__stand__/examples/BannerExampleIcon/BannerExampleIcon.tsx
  src/components/Banner/__stand__/examples/BannerExampleSize/BannerExampleSize.tsx
  src/components/Banner/__stand__/examples/BannerExampleView/BannerExampleView.tsx
  src/components/Banner/index.ts
  yarn.lock
Owners: @gizeasy, @linturaven, @alyonurchick1

docs(Pagination): fixed examples (#4033)
  src/components/Pagination/__stand__/examples/PaginationExample/PaginationExample.tsx
  src/components/Pagination/__stand__/examples/PaginationExampleArrows/PaginationExampleArrows.tsx
  src/components/Pagination/__stand__/examples/PaginationExampleFirstLastItem/PaginationExampleFirstLastItem.tsx
  src/components/Pagination/__stand__/examples/PaginationExampleForm/PaginationExampleForm.tsx
  src/components/Pagination/__stand__/examples/PaginationExampleHotKeys/PaginationExampleHotKeys.tsx
  src/components/Pagination/__stand__/examples/PaginationExampleOuterMostArrows/PaginationExampleOuterMostArrows.tsx
  src/components/Pagination/__stand__/examples/PaginationExampleSize/PaginationExampleSize.tsx
  src/components/Pagination/__stand__/examples/PaginationExampleType/PaginationExampleType.tsx
  src/components/Pagination/__stand__/examples/PaginationExampleVisibleCount/PaginationExampleVisibleCount.tsx
Owners: @gizeasy
