Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

feat(ProgressLine): rewrite logic of render and animation for steps line
  src/components/ProgressLine/ProgressLine.css
  src/components/ProgressLine/ProgressLine.tsx
  src/components/ProgressLine/helpers.ts
Owners: @kolebayev, @gizeasy, @N1MBER

fix(Collapse): fix render container of label
  src/components/Collapse/Collapse.tsx
Owners: @gizeasy, @N1MBER

fix(DateTime): fix gap on the time grid
  src/components/DateTime/DateTimeTypeTime/DateTimeTypeTime.css
Owners: @kolebayev

feat(docs): add new tab
  package.json
  scripts/config.js
  src/components/Attachment/__stand__/Attachment.use.stand.mdx
  src/stand/standConfig.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

Delete Attachment.use.stand.mdx
  src/components/Attachment/__stand__/Attachment.use.stand.mdx
Owners: @arhayka, @kolebayev

feat(docs): add new tab (#2758)
  package.json
  scripts/config.js
  src/stand/standConfig.ts
Owners: @gizeasy, @N1MBER

fix(DateTime): fix pading for date-time view (#2748)
  src/components/DateTime/DateTimeTypeDateTime/DateTimeTypeDateTime.css
  src/components/DateTime/DateTimeTypeTime/DateTimeTypeTime.css
Owners: @kolebayev

feat(Collapse): rewrite label from string to ReactNode (#2733)
  src/components/Collapse/Collapse.tsx
  src/components/Collapse/CollapseIcon/CollapseIcon.tsx
  src/components/Collapse/__stand__/Collapse.dev.stand.mdx
  src/components/Collapse/__stand__/examples/CollapseExampleLabel/CollapseExampleLabel.css
  src/components/Collapse/__stand__/examples/CollapseExampleLabel/CollapseExampleLabel.tsx
  src/components/Collapse/types.ts
  src/components/CollapseGroup/helpers.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

release: 4.3.0
  package.json
Owners: @gizeasy, @N1MBER

changelog: 4.3.0
  CHANGELOG.md
Owners: @arhayka, @kolebayev

fix(ProgressLine): fix line and rewrite it to mask
  src/components/ProgressLine/ProgressLine.css
  src/components/ProgressLine/ProgressLine.tsx
  src/components/ProgressLine/helpers.ts
  src/utils/generateMask.ts
Owners: @kolebayev, @gizeasy, @N1MBER

docs(autoComplete): add pic for review
  src/components/AutoCompleteCanary/__stand__/AutoComplete.image.svg
Owners: @gizeasy, @N1MBER

feat(Table): add colSpan for columns and also add variants with examples
  src/components/Table/Cell/TableCell.css
  src/components/Table/Table.tsx
  src/components/Table/__mock__/data.mock.tsx
  src/components/Table/__stand__/Table.dev.stand.mdx
  src/components/Table/__stand__/Table.variants.tsx
  src/components/Table/__stand__/examples/TableExampleRowSpan/TableExampleRowSpan.tsx
  src/components/Table/__stand__/variants/TableVariantWithColSpan/TableVariantWithColSpan.tsx
  src/components/Table/helpers.ts
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

fix(TextField): fix bug with type of value and condition for render icons
  src/components/TextField/TextField.tsx
  src/components/TextField/__stand__/TextField.dev.stand.mdx
  src/components/TextField/__stand__/TextField.variants.tsx
  src/components/TextField/__stand__/examples/TextFieldExampleIncrementButtons/TextFieldExampleIncrementButtons.tsx
  src/components/TextField/__stand__/examples/TextFieldExampleStepArray/TextFieldExampleStepArray.tsx
  src/components/TextField/__stand__/examples/TextFieldExampleType/TextFieldExampleType.tsx
  src/components/TextField/helpers.ts
  src/components/TextField/types.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

fix(Table): fix bug with closing collapse rows
  src/components/Table/RowsCollapse/TableRowsCollapse.tsx
Owners: @gizeasy, @N1MBER

fix
  src/components/ProgressLine/ProgressLine.css
  src/components/ProgressLine/ProgressLine.tsx
  src/components/ProgressLine/helpers.ts
Owners: @kolebayev, @gizeasy, @N1MBER

fix(ProgressLine): fix bug of line width with gaps
  src/components/ProgressLine/ProgressLine.css
  src/components/ProgressLine/ProgressLine.tsx
  src/components/ProgressLine/__stand__/ProgressLine.variants.tsx
  src/components/ProgressLine/helpers.ts
  src/utils/generateMask.ts
Owners: @kolebayev, @gizeasy, @N1MBER

docs(Table): edit links and doc about colSpan
  src/components/Table/__stand__/Table.dev.stand.mdx
  src/components/Table/__stand__/Table.variants.tsx
  src/components/Table/__stand__/variants/useVariants/useVariants.ts
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(autoComplete): add pic for review (#2765)
  src/components/AutoCompleteCanary/__stand__/AutoComplete.image.svg
Owners: @gizeasy, @N1MBER

feat(Table): add colSpan for columns and also add variants with examples (#2768)
  src/components/Table/Cell/TableCell.css
  src/components/Table/Table.tsx
  src/components/Table/__mock__/data.mock.tsx
  src/components/Table/__stand__/Table.dev.stand.mdx
  src/components/Table/__stand__/Table.variants.tsx
  src/components/Table/__stand__/examples/TableExampleRowSpan/TableExampleRowSpan.tsx
  src/components/Table/__stand__/variants/TableVariantWithColSpan/TableVariantWithColSpan.tsx
  src/components/Table/__stand__/variants/useVariants/useVariants.ts
  src/components/Table/helpers.ts
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

fix(ProgressStepBar): render line
  src/components/ProgressStepBar/ProgressStepBar.tsx
  src/components/ProgressStepBar/ProgressStepBarItem/ProgressStepBarItem.tsx
  src/components/ProgressStepBar/ProgressStepBarLine/ProgressStepBarLine.css
  src/components/ProgressStepBar/ProgressStepBarLine/ProgressStepBarLine.tsx
  src/components/ProgressStepBar/__stand__/ProgressStepBar.variants.tsx
  src/components/ProgressStepBar/helpers.ts
Owners: @gizeasy, @N1MBER, @kolebayev

fix(Table): fix bug with closing collapse rows (#2771)
  src/components/Table/RowsCollapse/TableRowsCollapse.tsx
  src/components/Table/Table.tsx
Owners: @gizeasy, @N1MBER

docs(AvatarGroup): fix image
  src/components/AvatarGroup/__stand__/AvatarGroup.image.svg
Owners: @gizeasy, @N1MBER

docs(AvatarGroup): fix image (#2776)
  src/components/AvatarGroup/__stand__/AvatarGroup.image.svg
Owners: @gizeasy, @N1MBER

chore(deps): update @consta/stand
  package.json
  yarn.lock
Owners: @gizeasy, @N1MBER

chore(deps): update @consta/stand (#2777)
  package.json
  yarn.lock
Owners: @gizeasy, @N1MBER

fix(Table): баг с закрытием коллапса в Table
  src/components/Table/Table.tsx
Owners: @gizeasy, @N1MBER

release: 4.3.1
  package.json
Owners: @gizeasy, @N1MBER

changelog: 4.3.1
  CHANGELOG.md
Owners: @arhayka, @kolebayev

fix(AutoComplete): fix size
  src/components/AutoCompleteCanary/AutoCompleteCanary.tsx
Owners: @gizeasy, @N1MBER

fix(DatePicker): fix labelPosition
  src/components/DatePicker/DatePicker.tsx
Owners: @gizeasy, @N1MBER

feat(Collapse): add content size tracking and new prop maxContentHeeight
  src/components/Collapse/Collapse.css
  src/components/Collapse/Collapse.tsx
  src/components/Collapse/__stand__/Collapse.dev.stand.mdx
  src/components/Collapse/__stand__/Collapse.variants.css
  src/components/Collapse/__stand__/Collapse.variants.tsx
  src/components/Collapse/types.ts
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

feat(Checkbox): add 's' and 'xs' size
  src/components/Checkbox/Checkbox.css
  src/components/Checkbox/Checkbox.tsx
  src/components/Checkbox/__stand__/Checkbox.dev.stand.mdx
  src/components/Checkbox/__stand__/examples/CheckboxExampleSize/CheckboxExampleSize.tsx
  src/components/Theme/_control/Theme_control_gpnDefault.css
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

feat(useComponentBreakpoints): add hook useComponentBreakpoints
  src/hooks/useBreakpoints/__stand__/useBreakpoints.stand.mdx
  src/hooks/useBreakpoints/__stories__/useBreakpoints.stories.mdx
  src/hooks/useBreakpoints/getLastPoint.ts
  src/hooks/useBreakpoints/index.ts
  src/hooks/useBreakpoints/isEq.ts
  src/hooks/useBreakpoints/mapping.ts
  src/hooks/useBreakpoints/types.ts
  src/hooks/useBreakpoints/useBreakpoints.ts
  src/hooks/useComponentBreakpoints/__stand__/useComponentBreakpoints.stand.mdx
  src/hooks/useComponentBreakpoints/__stand__/useComponentBreakpoints.stand.tsx
  src/hooks/useComponentBreakpoints/index.ts
  src/hooks/useComponentBreakpoints/useComponentBreakpoints.ts
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

fix(Table): make a nested rows mergable witout parent row
  src/components/Table/Table.tsx
Owners: @gizeasy, @N1MBER

fix(AutoComplete): fix size (#2786)
  src/components/AutoCompleteCanary/AutoCompleteCanary.tsx
Owners: @gizeasy, @N1MBER

fix(DatePicker): fix labelPosition (#2787)
  src/components/DatePicker/DatePicker.tsx
Owners: @gizeasy, @N1MBER

feat(Collapse): add content size tracking and new prop maxContentHeeight (#2789)
  src/components/Collapse/Collapse.css
  src/components/Collapse/Collapse.tsx
  src/components/Collapse/__stand__/Collapse.dev.stand.mdx
  src/components/Collapse/__stand__/Collapse.variants.css
  src/components/Collapse/__stand__/Collapse.variants.tsx
  src/components/Collapse/types.ts
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

Update isEq.ts
  src/hooks/useBreakpoints/isEq.ts
Owners: @gizeasy, @N1MBER

feat(useComponentBreakpoints): add hook (#2791)
  src/hooks/useBreakpoints/__stand__/useBreakpoints.stand.mdx
  src/hooks/useBreakpoints/__stories__/useBreakpoints.stories.mdx
  src/hooks/useBreakpoints/getLastPoint.ts
  src/hooks/useBreakpoints/index.ts
  src/hooks/useBreakpoints/isEq.ts
  src/hooks/useBreakpoints/mapping.ts
  src/hooks/useBreakpoints/types.ts
  src/hooks/useBreakpoints/useBreakpoints.ts
  src/hooks/useComponentBreakpoints/__stand__/useComponentBreakpoints.stand.mdx
  src/hooks/useComponentBreakpoints/__stand__/useComponentBreakpoints.stand.tsx
  src/hooks/useComponentBreakpoints/index.ts
  src/hooks/useComponentBreakpoints/useComponentBreakpoints.ts
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

.github/CODEOWNERS:

* @gizeasy @N1MBER 
*.md @arhayka @kolebayev
*.mdx @arhayka @kolebayev
*.css @kolebayev
