Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

docs(custom): header (#2533)
  src/components/Header/__stand__/Header.design.stand.mdx
  src/components/Header/__stand__/Header.dev.stand.mdx
  src/components/Header/__stand__/Header.image.svg
  src/components/Header/__stand__/Header.stand.mdx
  src/components/Header/__stand__/Header.stand.tsx
  src/components/Header/__stand__/examples/HeaderButtonExample/HeaderButtonExample.css
  src/components/Header/__stand__/examples/HeaderButtonExample/HeaderButtonExample.tsx
  src/components/Header/__stand__/examples/HeaderFullExample/HeaderFullExample.css
  src/components/Header/__stand__/examples/HeaderFullExample/HeaderFullExample.tsx
  src/components/Header/__stand__/examples/HeaderLoginExample/HeaderLoginExample.css
  src/components/Header/__stand__/examples/HeaderLoginExample/HeaderLoginExample.tsx
  src/components/Header/__stand__/examples/HeaderMenuExample/HeaderMenuExample.css
  src/components/Header/__stand__/examples/HeaderMenuExample/HeaderMenuExample.tsx
  src/components/Header/__stand__/examples/HeaderMinifyLoginExample/HeaderMinifyLoginExample.css
  src/components/Header/__stand__/examples/HeaderMinifyLoginExample/HeaderMinifyLoginExample.tsx
  src/components/Header/__stand__/examples/HeaderWithLogoExample/HeaderWithLogoExample.css
  src/components/Header/__stand__/examples/HeaderWithLogoExample/HeaderWithLogoExample.tsx
  src/components/Header/__stand__/examples/HeaderWithoutMenuExample/HeaderWithoutMenuExample.css
  src/components/Header/__stand__/examples/HeaderWithoutMenuExample/HeaderWithoutMenuExample.tsx
  src/components/Header/__stand__/examples/HeaderWithoutSearchExample/HeaderWithoutSearchExample.css
  src/components/Header/__stand__/examples/HeaderWithoutSearchExample/HeaderWithoutSearchExample.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): progressLine (#2534)
  src/components/ProgressLine/__stand__/ProgressLine.design.stand.mdx
  src/components/ProgressLine/__stand__/ProgressLine.dev.stand.mdx
  src/components/ProgressLine/__stand__/ProgressLine.image.svg
  src/components/ProgressLine/__stand__/ProgressLine.stand.mdx
  src/components/ProgressLine/__stand__/ProgressLine.stand.tsx
  src/components/ProgressLine/__stand__/examples/ProgressLineExampleMode/ProgressLineExampleMode.tsx
  src/components/ProgressLine/__stand__/examples/ProgressLineExampleSize/ProgressLineExampleSize.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): popover (#2535)
  src/components/Popover/__stand__/Popover.design.stand.mdx
  src/components/Popover/__stand__/Popover.dev.stand.mdx
  src/components/Popover/__stand__/Popover.image.svg
  src/components/Popover/__stand__/Popover.stand.mdx
  src/components/Popover/__stand__/Popover.stand.tsx
  src/components/Popover/__stand__/examples/PopoverExample/PopoverExample.css
  src/components/Popover/__stand__/examples/PopoverExample/PopoverExample.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): fieldgroup (#2525)
  src/components/FieldGroup/__stand__/FieldGroup.design.stand.mdx
  src/components/FieldGroup/__stand__/FieldGroup.dev.stand.mdx
  src/components/FieldGroup/__stand__/FieldGroup.image.svg
  src/components/FieldGroup/__stand__/FieldGroup.stand.mdx
  src/components/FieldGroup/__stand__/FieldGroup.stand.tsx
  src/components/FieldGroup/__stories__/examples/FieldGroupExample/FieldGroupExample.tsx
  src/components/FieldGroup/__stories__/examples/FieldGroupExampleForm/FieldGroupExampleForm.tsx
  src/components/FieldGroup/__stories__/examples/FieldGroupExampleSize/FieldGroupExampleSize.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): pagination (#2536)
  src/components/Pagination/__stand__/Pagination.design.stand.mdx
  src/components/Pagination/__stand__/Pagination.dev.stand.mdx
  src/components/Pagination/__stand__/Pagination.image.svg
  src/components/Pagination/__stand__/Pagination.stand.mdx
  src/components/Pagination/__stand__/Pagination.stand.tsx
  src/components/Pagination/__stand__/examples/PaginationExample/PaginationExample.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): informer (#2538)
  src/components/Informer/__stand__/Informer.design.stand.mdx
  src/components/Informer/__stand__/Informer.dev.stand.mdx
  src/components/Informer/__stand__/Informer.image.svg
  src/components/Informer/__stand__/Informer.stand.mdx
  src/components/Informer/__stand__/Informer.stand.tsx
  src/components/Informer/__stand__/examples/InformerExampleBasic/InformerExampleBasic.tsx
  src/components/Informer/__stand__/examples/InformerExampleIcon/InformerExampleIcon.tsx
  src/components/Informer/__stand__/examples/InformerExampleSize/InformerExampleSize.tsx
  src/components/Informer/__stand__/examples/InformerExampleText/InformerExampleText.tsx
  src/components/Informer/__stand__/examples/InformerExampleType/InformerExampleType.tsx
  src/components/Informer/__stand__/examples/InformerExampleView/InformerExampleView.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): modal (#2539)
  src/components/Modal/__stand__/Modal.design.stand.mdx
  src/components/Modal/__stand__/Modal.dev.stand.mdx
  src/components/Modal/__stand__/Modal.image.svg
  src/components/Modal/__stand__/Modal.stand.mdx
  src/components/Modal/__stand__/Modal.stand.tsx
  src/components/Modal/__stand__/examples/ModalExample/ModalExample.css
  src/components/Modal/__stand__/examples/ModalExample/ModalExample.tsx
  src/components/Modal/__stand__/examples/ModalExampleZIndex/ModalExampleZIndex.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): loader (#2540)
  src/components/Loader/__stand__/Loader.design.stand.mdx
  src/components/Loader/__stand__/Loader.dev.stand.mdx
  src/components/Loader/__stand__/Loader.image.svg
  src/components/Loader/__stand__/Loader.stand.mdx
  src/components/Loader/__stand__/Loader.stand.tsx
  src/components/Loader/__stand__/examples/LoaderExampleSize/LoaderExampleSize.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): choicegroup (#2503)
  src/components/ChoiceGroup/__stand__/ChoiceGroup.design.stand.mdx
  src/components/ChoiceGroup/__stand__/ChoiceGroup.dev.stand.mdx
  src/components/ChoiceGroup/__stand__/ChoiceGroup.image.svg
  src/components/ChoiceGroup/__stand__/ChoiceGroup.stand.mdx
  src/components/ChoiceGroup/__stand__/ChoiceGroup.stand.tsx
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleAdaptive/ChoiceGroupExampleAdaptive.tsx
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleAdaptive/ChoiceGroupExampleAdaptiveScroll.css
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleDisabled/ChoiceGroupExampleDisabled.tsx
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleForm/ChoiceGroupExampleForm.tsx
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleIcon/ChoiceGroupExampleIcon.tsx
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleMultiple/ChoiceGroupExampleMultiple.tsx
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleSize/ChoiceGroupExampleSize.tsx
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleSomeDisabled/ChoiseGroupExampleSomeDisabled.tsx
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleSwitch/ChoiceGroupExampleSwitch.tsx
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleText/ChoiceGroupExampleText.tsx
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleTextOverflow/ChoiceGroupExampleTextOverflow.tsx
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleView/ChoiceGroupExampleView.tsx
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleWidth/ChoiceGroupExampleWidth.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): collapse (#2505)
  src/components/Collapse/__stand__/Collapse.design.stand.mdx
  src/components/Collapse/__stand__/Collapse.dev.stand.mdx
  src/components/Collapse/__stand__/Collapse.image.svg
  src/components/Collapse/__stand__/Collapse.stand.mdx
  src/components/Collapse/__stand__/Collapse.stand.tsx
  src/components/Collapse/__stories__/examples/CollapseExampleBasic/CollapseExampleBasic.tsx
  src/components/Collapse/__stories__/examples/CollapseExampleIconCustomIcon/CollapseExampleIconCustomIcon.tsx
  src/components/Collapse/__stories__/examples/CollapseExampleIconDivider/CollapseExampleIconDivider.tsx
  src/components/Collapse/__stories__/examples/CollapseExampleIconPosition/CollapseExampleIconPosition.tsx
  src/components/Collapse/__stories__/examples/CollapseExampleIconRightSide/CollapseExampleIconRightSide.tsx
  src/components/Collapse/__stories__/examples/CollapseExampleSize/CollapseExampleSize.tsx
  src/components/Collapse/__stories__/examples/CollapseExampleSpace/CollapseExampleSpace.tsx
  src/components/Collapse/__stories__/examples/CollapseExampleView/CollapseExampleView.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): collapsegroup (#2506)
  src/components/CollapseGroup/__stand__/CollapseGroup.design.stand.mdx
  src/components/CollapseGroup/__stand__/CollapseGroup.dev.stand.mdx
  src/components/CollapseGroup/__stand__/CollapseGroup.image.svg
  src/components/CollapseGroup/__stand__/CollapseGroup.stand.mdx
  src/components/CollapseGroup/__stand__/CollapseGroup.stand.tsx
  src/components/CollapseGroup/__stories__/examples/CollapseGroupExampleControl/CollapseGroupExampleControl.tsx
  src/components/CollapseGroup/__stories__/examples/CollapseGroupExampleIsAccordion/CollapseGroupExampleIsAccordion.tsx
  src/components/CollapseGroup/__stories__/examples/CollapseGroupExampleOwnType/CollapseGroupExampleOwnType.tsx
  src/components/CollapseGroup/__stories__/examples/CollapseGroupExampleSimple/CollapseGroupExampleSimple.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): combobox (#2507)
  src/components/Combobox/__stand__/Combobox.design.stand.mdx
  src/components/Combobox/__stand__/Combobox.dev.stand.mdx
  src/components/Combobox/__stand__/Combobox.image.svg
  src/components/Combobox/__stand__/Combobox.stand.mdx
  src/components/Combobox/__stand__/Combobox.stand.tsx
  src/components/Combobox/__stories__/examples/ComboboxExampleCreate/ComboboxExampleCreate.tsx
  src/components/Combobox/__stories__/examples/ComboboxExampleCustomTypes/ComboboxExampleCustomTypes.tsx
  src/components/Combobox/__stories__/examples/ComboboxExampleDisabled/ComboboxExampleDisabled.tsx
  src/components/Combobox/__stories__/examples/ComboboxExampleDisabledItem/ComboboxExampleDisabledItem.tsx
  src/components/Combobox/__stories__/examples/ComboboxExampleForm/ComboboxExampleForm.tsx
  src/components/Combobox/__stories__/examples/ComboboxExampleGroups/ComboboxExampleGroups.tsx
  src/components/Combobox/__stories__/examples/ComboboxExampleItems/ComboboxExampleItems.tsx
  src/components/Combobox/__stories__/examples/ComboboxExampleLabel/ComboboxExampleLabel.tsx
  src/components/Combobox/__stories__/examples/ComboboxExampleMultiple/ComboboxExampleMultiple.tsx
  src/components/Combobox/__stories__/examples/ComboboxExampleOnInputChange/ComboboxExampleOnInputChange.tsx
  src/components/Combobox/__stories__/examples/ComboboxExamplePlaceholder/ComboboxExamplePlaceholder.tsx
  src/components/Combobox/__stories__/examples/ComboboxExampleRenderItem/ComboboxExampleRenderItem.tsx
  src/components/Combobox/__stories__/examples/ComboboxExampleRenderValue/ComboboxExampleRenderValue.tsx
  src/components/Combobox/__stories__/examples/ComboboxExampleSize/ComboboxExampleSize.tsx
  src/components/Combobox/__stories__/examples/ComboboxExampleStatus/ComboboxExampleStatus.tsx
  src/components/Combobox/__stories__/examples/ComboboxExampleView/ComboboxExampleView.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): tabsDeprecates (#2508)
  src/components/TabsDeprecated/__stand__/Tabs.image.svg
  src/components/TabsDeprecated/__stand__/TabsDeprecated.design.stand.mdx
  src/components/TabsDeprecated/__stand__/TabsDeprecated.dev.stand.mdx
  src/components/TabsDeprecated/__stand__/TabsDeprecated.stand.mdx
  src/components/TabsDeprecated/__stand__/TabsDeprecated.stand.tsx
  src/components/TabsDeprecated/__stand__/examples/TabsExample/TabsExample.tsx
  src/components/TabsDeprecated/__stand__/examples/TabsExampleFitModeDropdown/TabsExampleFitModeDropdown.tsx
  src/components/TabsDeprecated/__stand__/examples/TabsExampleFitModeScroll/TabsExampleFitModeScroll.tsx
  src/components/TabsDeprecated/__stand__/examples/TabsExampleIcon/TabsExampleIcon.tsx
  src/components/TabsDeprecated/__stand__/examples/TabsExampleLinePosition/TabsExampleLinePosition.tsx
  src/components/TabsDeprecated/__stand__/examples/TabsExampleRenderItem/TabsExampleRenderItem.tsx
  src/components/TabsDeprecated/__stand__/examples/TabsExampleSize/TabsExampleSize.tsx
  src/components/TabsDeprecated/__stand__/examples/TabsExampleView/TabsExampleView.tsx
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

docs(custom): checkbox-deprecated
  src/components/CheckboxGroupDeprecated/__stand__/CheckboxGroup.design.stand.mdx
  src/components/CheckboxGroupDeprecated/__stand__/CheckboxGroup.dev.stand.mdx
  src/components/CheckboxGroupDeprecated/__stand__/CheckboxGroup.image.svg
  src/components/CheckboxGroupDeprecated/__stand__/CheckboxGroup.stand.mdx
  src/components/CheckboxGroupDeprecated/__stand__/CheckboxGroup.stand.tsx
  src/components/CheckboxGroupDeprecated/__stand__/examples/CheckboxGroupExampleDirection/CheckboxGroupExampleDirection.tsx
  src/components/CheckboxGroupDeprecated/__stand__/examples/CheckboxGroupExampleDisabled/CheckboxGroupExampleDisabled.tsx
  src/components/CheckboxGroupDeprecated/__stand__/examples/CheckboxGroupExampleName/CheckboxGroupExampleName.tsx
  src/components/CheckboxGroupDeprecated/__stand__/examples/CheckboxGroupExampleSize/CheckboxGroupExampleSize.tsx
  src/components/CheckboxGroupDeprecated/__stand__/examples/CheckboxGroupExampleView/CheckboxGroupExampleView.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): switchGroupDeprecated (#2509)
  src/components/SwitchGroupDeprecated/__stand__/SwitchGroup.image.svg
  src/components/SwitchGroupDeprecated/__stand__/SwitchGroupDeprecated.design.stand.mdx
  src/components/SwitchGroupDeprecated/__stand__/SwitchGroupDeprecated.dev.stand.mdx
  src/components/SwitchGroupDeprecated/__stand__/SwitchGroupDeprecated.stand.mdx
  src/components/SwitchGroupDeprecated/__stand__/SwitchGroupDeprecated.stand.tsx
  src/components/SwitchGroupDeprecated/__stand__/examples/SwitchGroupExampleDirection/SwitchGroupExampleDirection.tsx
  src/components/SwitchGroupDeprecated/__stand__/examples/SwitchGroupExampleDisabled/SwitchGroupExampleDisabled.tsx
  src/components/SwitchGroupDeprecated/__stand__/examples/SwitchGroupExampleSize/SwitchGroupExampleSize.tsx
  src/components/SwitchGroupDeprecated/__stand__/examples/SwitchGroupExampleView/SwitchGroupExampleView.tsx
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

docs(custom): switchGroup (#2510)
  src/components/SwitchGroup/__stand__/SwitchGroup.design.stand.mdx
  src/components/SwitchGroup/__stand__/SwitchGroup.dev.stand.mdx
  src/components/SwitchGroup/__stand__/SwitchGroup.image.svg
  src/components/SwitchGroup/__stand__/SwitchGroup.stand.mdx
  src/components/SwitchGroup/__stand__/SwitchGroup.stand.tsx
  src/components/SwitchGroup/__stand__/examples/SwitchGroupExampleDirection/SwitchGroupExampleDirection.tsx
  src/components/SwitchGroup/__stand__/examples/SwitchGroupExampleDisabled/SwitchGroupExampleDisabled.tsx
  src/components/SwitchGroup/__stand__/examples/SwitchGroupExampleSize/SwitchGroupExampleSize.tsx
  src/components/SwitchGroup/__stand__/examples/SwitchGroupExampleView/SwitchGroupExampleView.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): switch (#2512)
  src/components/Switch/__stand__/Switch.dev.stand.mdx
  src/components/Switch/__stand__/Switch.image.svg
  src/components/Switch/__stand__/Switch.stand.mdx
  src/components/Switch/__stand__/Switch.stand.tsx
  src/components/Switch/__stand__/examples/SwitchExampleAlign/SwitchExampleAlign.tsx
  src/components/Switch/__stand__/examples/SwitchExampleName/SwitchExampleName.tsx
  src/components/Switch/__stand__/examples/SwitchExampleSize/SwitchExampleSize.tsx
  src/components/Switch/__stand__/examples/SwitchExampleStatus/SwitchExampleStatus.tsx
  src/components/Switch/__stand__/examples/SwitchExampleView/SwitchExampleView.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

Docs/steps deprecated (#2513)
  src/components/StepsDeprecated/__stand__/Steps.image.svg
  src/components/StepsDeprecated/__stand__/StepsDeprecated.design.stand.mdx
  src/components/StepsDeprecated/__stand__/StepsDeprecated.dev.stand.mdx
  src/components/StepsDeprecated/__stand__/StepsDeprecated.stand.mdx
  src/components/StepsDeprecated/__stand__/StepsDeprecated.stand.tsx
  src/components/StepsDeprecated/__stand__/examples/ExampleStepsAdaptive/ExampleStepsAdaptive.tsx
  src/components/StepsDeprecated/__stand__/examples/ExampleStepsCompleted/ExampleStepsCompleted.tsx
  src/components/StepsDeprecated/__stand__/examples/ExampleStepsContent/ExampleStepsContent.tsx
  src/components/StepsDeprecated/__stand__/examples/ExampleStepsDisabled/ExampleStepsDisabled.tsx
  src/components/StepsDeprecated/__stand__/examples/ExampleStepsSize/ExampleStepsSize.tsx
  src/components/StepsDeprecated/__stand__/examples/ExampleStepsSkipped/ExampleStepsSkipped.tsx
  src/components/StepsDeprecated/__stand__/examples/ExampleStepsValue/ExampleStepsValue.tsx
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

docs(custom): steps (#2514)
  src/components/Steps/__stand__/Steps.design.stand.mdx
  src/components/Steps/__stand__/Steps.dev.stand.mdx
  src/components/Steps/__stand__/Steps.image.svg
  src/components/Steps/__stand__/Steps.stand.mdx
  src/components/Steps/__stand__/Steps.stand.tsx
  src/components/Steps/__stand__/examples/ExampleStepsAdaptive/ExampleStepsAdaptive.tsx
  src/components/Steps/__stand__/examples/ExampleStepsCompleted/ExampleStepsCompleted.tsx
  src/components/Steps/__stand__/examples/ExampleStepsContent/ExampleStepsContent.tsx
  src/components/Steps/__stand__/examples/ExampleStepsDisabled/ExampleStepsDisabled.tsx
  src/components/Steps/__stand__/examples/ExampleStepsSize/ExampleStepsSize.tsx
  src/components/Steps/__stand__/examples/ExampleStepsSkipped/ExampleStepsSkipped.tsx
  src/components/Steps/__stand__/examples/ExampleStepsValue/ExampleStepsValue.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): add doc for SnackBar (#2515)
  src/components/SnackBar/__stand__/SnackBar.design.stand.mdx
  src/components/SnackBar/__stand__/SnackBar.dev.stand.mdx
  src/components/SnackBar/__stand__/SnackBar.image.svg
  src/components/SnackBar/__stand__/SnackBar.stand.mdx
  src/components/SnackBar/__stand__/SnackBar.stand.tsx
  src/components/SnackBar/__stand__/examples/SnackBarExampleAdaptive/SnackBarExampleAdaptive.tsx
  src/components/SnackBar/__stand__/examples/SnackBarExampleButtons/SnackBarExampleButtons.css
  src/components/SnackBar/__stand__/examples/SnackBarExampleButtons/SnackBarExampleButtons.tsx
  src/components/SnackBar/__stand__/examples/SnackBarExampleIcon/SnackBarExampleIcon.css
  src/components/SnackBar/__stand__/examples/SnackBarExampleIcon/SnackBarExampleIcon.tsx
  src/components/SnackBar/__stand__/examples/SnackBarExampleSimple/SnackBarExampleSimple.css
  src/components/SnackBar/__stand__/examples/SnackBarExampleSimple/SnackBarExampleSimple.tsx
  src/components/SnackBar/__stand__/examples/SnackBarExampleStatus/SnackBarExampleStatus.css
  src/components/SnackBar/__stand__/examples/SnackBarExampleStatus/SnackBarExampleStatus.tsx
  src/components/SnackBar/__stand__/examples/SnackBarExampleText/SnackBarExampleText.css
  src/components/SnackBar/__stand__/examples/SnackBarExampleText/SnackBarExampleText.tsx
  src/components/SnackBar/__stand__/examples/SnackBarExampleTimer/SnackBarExampleTimer.css
  src/components/SnackBar/__stand__/examples/SnackBarExampleTimer/SnackBarExampleTimer.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): slider (#2516)
  src/components/Slider/__stand__/Slider.design.stand.mdx
  src/components/Slider/__stand__/Slider.dev.stand.mdx
  src/components/Slider/__stand__/Slider.image.svg
  src/components/Slider/__stand__/Slider.stand.mdx
  src/components/Slider/__stand__/Slider.stand.tsx
  src/components/Slider/__stand__/examples/SliderExampleBasic/SliderExampleBasic.tsx
  src/components/Slider/__stand__/examples/SliderExampleContent/SliderExampleContent.tsx
  src/components/Slider/__stand__/examples/SliderExampleDisabled/SliderExampleDisabled.tsx
  src/components/Slider/__stand__/examples/SliderExampleLabel/SliderExampleLabel.tsx
  src/components/Slider/__stand__/examples/SliderExampleMinMax/SliderExampleMinMax.tsx
  src/components/Slider/__stand__/examples/SliderExampleRange/SliderExampleRange.tsx
  src/components/Slider/__stand__/examples/SliderExampleSize/SliderExampleSize.css
  src/components/Slider/__stand__/examples/SliderExampleSize/SliderExampleSize.tsx
  src/components/Slider/__stand__/examples/SliderExampleStatus/SliderExampleStatus.css
  src/components/Slider/__stand__/examples/SliderExampleStatus/SliderExampleStatus.tsx
  src/components/Slider/__stand__/examples/SliderExampleStep/SliderExampleStep.tsx
  src/components/Slider/__stand__/examples/SliderExampleTooltip/SliderExampleTooltip.tsx
  src/components/Slider/__stand__/examples/SliderExampleTooltipFormatter/SliderExampleTooltipFormatter.tsx
  src/components/Slider/__stand__/examples/SliderExampleView/SliderExampleView.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): select (#2519)
  src/components/Select/__stand__/Select.design.stand.mdx
  src/components/Select/__stand__/Select.dev.stand.mdx
  src/components/Select/__stand__/Select.image.svg
  src/components/Select/__stand__/Select.stand.mdx
  src/components/Select/__stand__/Select.stand.tsx
  src/components/Select/__stand__/examples/SelectExampleCustomTypes/SelectExampleCustomTypes.tsx
  src/components/Select/__stand__/examples/SelectExampleDisabled/SelectExampleDisabled.tsx
  src/components/Select/__stand__/examples/SelectExampleDisabledItem/SelectExampleDisabledItem.tsx
  src/components/Select/__stand__/examples/SelectExampleForm/SelectExampleForm.tsx
  src/components/Select/__stand__/examples/SelectExampleGroups/SelectExampleGroups.tsx
  src/components/Select/__stand__/examples/SelectExampleItems/SelectExampleItems.tsx
  src/components/Select/__stand__/examples/SelectExampleLabel/SelectExampleLabel.tsx
  src/components/Select/__stand__/examples/SelectExamplePlaceholder/SelectExamplePlaceholder.tsx
  src/components/Select/__stand__/examples/SelectExampleRenderItem/SelectExampleRenderItem.css
  src/components/Select/__stand__/examples/SelectExampleRenderItem/SelectExampleRenderItem.tsx
  src/components/Select/__stand__/examples/SelectExampleRenderValue/SelectExampleRenderValue.tsx
  src/components/Select/__stand__/examples/SelectExampleSize/SelectExampleSize.tsx
  src/components/Select/__stand__/examples/SelectExampleStatus/SelectExampleStatus.tsx
  src/components/Select/__stand__/examples/SelectExampleView/SelectExampleView.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): datepicker (#2520)
  src/components/DatePicker/__stand__/DatePicker.design.stand.mdx
  src/components/DatePicker/__stand__/DatePicker.dev.stand.mdx
  src/components/DatePicker/__stand__/DatePicker.image.svg
  src/components/DatePicker/__stand__/DatePicker.stand.mdx
  src/components/DatePicker/__stand__/DatePicker.stand.tsx
  src/components/DatePicker/__stories__/examples/DatePickerExampleAdditionalControls/DatePickerExampleAdditionalControls.tsx
  src/components/DatePicker/__stories__/examples/DatePickerExampleCaption/DatePickerExampleCaption.tsx
  src/components/DatePicker/__stories__/examples/DatePickerExampleOnError/DatePickerExampleOnError.tsx
  src/components/DatePicker/__stories__/examples/DatePickerExampleRequired/DatePickerExampleRequired.tsx
  src/components/DatePicker/__stories__/examples/DatePickerExampleStatus/DatePickerExampleStatus.tsx
  src/components/DatePicker/__stories__/examples/DatePickerExampleWithClearButton/DatePickerExampleWithClearButton.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): checkbox-deprecated (#2543)
  src/components/CheckboxGroupDeprecated/__stand__/CheckboxGroup.design.stand.mdx
  src/components/CheckboxGroupDeprecated/__stand__/CheckboxGroup.dev.stand.mdx
  src/components/CheckboxGroupDeprecated/__stand__/CheckboxGroup.image.svg
  src/components/CheckboxGroupDeprecated/__stand__/CheckboxGroup.stand.mdx
  src/components/CheckboxGroupDeprecated/__stand__/CheckboxGroup.stand.tsx
  src/components/CheckboxGroupDeprecated/__stand__/examples/CheckboxGroupExampleDirection/CheckboxGroupExampleDirection.tsx
  src/components/CheckboxGroupDeprecated/__stand__/examples/CheckboxGroupExampleDisabled/CheckboxGroupExampleDisabled.tsx
  src/components/CheckboxGroupDeprecated/__stand__/examples/CheckboxGroupExampleName/CheckboxGroupExampleName.tsx
  src/components/CheckboxGroupDeprecated/__stand__/examples/CheckboxGroupExampleSize/CheckboxGroupExampleSize.tsx
  src/components/CheckboxGroupDeprecated/__stand__/examples/CheckboxGroupExampleView/CheckboxGroupExampleView.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

Update SnackBarExampleTimer.css
  src/components/SnackBar/__stand__/examples/SnackBarExampleTimer/SnackBarExampleTimer.css
Owners: @kolebayev

docs(custom): chdeckboxgroup
  src/components/CheckboxGroup/__stand__/CheckboxGroup.dev.stand.mdx
  src/components/CheckboxGroup/__stand__/CheckboxGroup.stand.mdx
Owners: @arhayka, @kolebayev

docs(custom): withTooltip
  src/hocs/withTooltip/__stand__/examples/WithTooltipExampleMode/WithTooltipExampleMode.tsx
  src/hocs/withTooltip/__stand__/examples/WithTooltipExampleProps/WithTooltipExampleProps.tsx
  src/hocs/withTooltip/__stand__/examples/WithTooltipExampleSize/WithTooltipExampleSize.tsx
  src/hocs/withTooltip/__stand__/examples/WithTooltipExampleText/WithTooltipExampleText.tsx
  src/hocs/withTooltip/__stand__/withTooltip.dev.stand.mdx
  src/hocs/withTooltip/__stand__/withTooltip.stand.mdx
  src/hocs/withTooltip/__stand__/withTooltip.stand.tsx
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

docs(custom): useBreakpoints
  src/hooks/useBreakpoints/__stand__/useBreakpoints.dev.stand.mdx
  src/hooks/useBreakpoints/__stand__/useBreakpoints.stand.mdx
  src/hooks/useBreakpoints/__stand__/useBreakpoints.stand.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): useChoiceGroup
  src/hooks/useChoiceGroup/__stand__/useChocieGroup.stand.mdx
  src/hooks/useChoiceGroup/__stand__/useChoiceGroup.dev.stand.mdx
  src/hooks/useChoiceGroup/__stand__/useChoiceGroup.stand.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): useChoiceGroupIndexed
  src/hooks/useChoiceGroupIndexed/__stand__/useChoiceGroupIndexed.dev.stand.mdx
  src/hooks/useChoiceGroupIndexed/__stand__/useChoiceGroupIndexed.stand.mdx
  src/hooks/useChoiceGroupIndexed/__stand__/useChoiceGroupIndexed.stand.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): useClickOutside
  src/hooks/useClickOutside/__stand__/useClickOutside.dev.stand.mdx
  src/hooks/useClickOutside/__stand__/useClickOutside.stand.mdx
  src/hooks/useClickOutside/__stand__/useClickOutside.stand.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): useDebounce
  src/hooks/useDebounce/__stand__/examples/UseDebounceExample/UseDebounceExample.css
  src/hooks/useDebounce/__stand__/examples/UseDebounceExample/UseDebounceExample.tsx
  src/hooks/useDebounce/__stand__/useDebounce.dev.stand.mdx
  src/hooks/useDebounce/__stand__/useDebounce.stand.mdx
  src/hooks/useDebounce/__stand__/useDebounce.stand.tsx
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

docs(custom): useForkRef
  src/hooks/useForkRef/__stand__/useForkRef.dev.stand.mdx
  src/hooks/useForkRef/__stand__/useForkRef.stand.mdx
  src/hooks/useForkRef/__stand__/useForkRef.stand.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): useGlobalKeys
  src/hooks/useGlobalKeys/__stand__/useGlobalKeys.dev.stand.mdx
  src/hooks/useGlobalKeys/__stand__/useGlobalKeys.stand.mdx
  src/hooks/useGlobalKeys/__stand__/useGlobalKeys.stand.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): useHideElementsInLine
  src/hooks/useHideElementsInLine/__stand__/examples/ExampleUseHideElementsInLine/ExampleUseHideElementsInLine.css
  src/hooks/useHideElementsInLine/__stand__/examples/ExampleUseHideElementsInLine/ExampleUseHideElementsInLine.tsx
  src/hooks/useHideElementsInLine/__stand__/useHideElementsInLine.dev.stand.mdx
  src/hooks/useHideElementsInLine/__stand__/useHideElementsInLine.stand.mdx
  src/hooks/useHideElementsInLine/__stand__/useHideElementsInLine.stand.tsx
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

docs(custom): useRefs
  src/hooks/useRefs/__stand__/useRefs.dev.stand.mdx
  src/hooks/useRefs/__stand__/useRefs.stand.mdx
  src/hooks/useRefs/__stand__/useRefs.stand.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): useThemeVars
  src/hooks/useThemeVars/__stand__/useThemeVars.dev.stand.mdx
  src/hooks/useThemeVars/__stand__/useThemeVars.stand.mdx
  src/hooks/useThemeVars/__stand__/useThemeVars.stand.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): breadcrumbs_deprecated
  src/components/BreadcrumbsDeprecated/__stand__/Breadcrumbs.design.stand.mdx
  src/components/BreadcrumbsDeprecated/__stand__/Breadcrumbs.dev.stand.mdx
  src/components/BreadcrumbsDeprecated/__stand__/Breadcrumbs.image.svg
  src/components/BreadcrumbsDeprecated/__stand__/Breadcrumbs.stand.mdx
  src/components/BreadcrumbsDeprecated/__stand__/Breadcrumbs.stand.tsx
  src/components/BreadcrumbsDeprecated/__stand__/examples/BreadcrumbsExample/BreadcrumbsExample.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): breadcrumbs
  src/components/Breadcrumbs/__stand__/Breadcrumbs.design.stand.mdx
  src/components/Breadcrumbs/__stand__/Breadcrumbs.dev.stand.mdx
  src/components/Breadcrumbs/__stand__/Breadcrumbs.image.svg
  src/components/Breadcrumbs/__stand__/Breadcrumbs.stand.mdx
  src/components/Breadcrumbs/__stand__/Breadcrumbs.stand.tsx
  src/components/Breadcrumbs/__stand__/examples/BreadcrumbsExample/BreadcrumbsExample.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

feat(custom): standConfig
  src/stand/standConfig.ts
Owners: @gizeasy, @N1MBER

.github/CODEOWNERS:

* @gizeasy @N1MBER 
*.md @arhayka @kolebayev
*.mdx @arhayka @kolebayev
*.css @kolebayev
