Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @alyonurchick1, @linturaven

docs(ThemeToggler): implementation of editorial policy (#4072)
  src/components/ThemeToggler/__stand__/ThemeToggler.dev.stand.mdx
Owners: @alyonurchick1

tests (Pagination, BookmarkTabs): добавить тесты (#4079)
  src/components/BookmarkTabs/__tests__/BookmarkTabs.test.tsx
  src/components/BookmarkTabs/__tests__/BookmarkTabs.test.tsx__
  src/components/Pagination/PaginationArrow/PaginationArrow.tsx
  src/components/Pagination/__tests__/Pagination.test.tsx
Owners: @gizeasy

fix(ContextMenu): remove unused ref (#4083)
  src/components/ContextMenu/ContextMenu.tsx
  src/components/ContextMenu/ContextMenuLevels/ContextMenuLevels.tsx
Owners: @gizeasy

chore(eslint): remove unused eslint-plugin-id-match (#4092)
  .eslintrc.js
  package.json
  yarn.lock
Owners: @gizeasy

release: 5.26.0
  package.json
Owners: @gizeasy

changelog: 5.26.0
  CHANGELOG.md
Owners: @alyonurchick1

feat(FieldWrapper): add counterStatus prop
  src/components/FieldComponents/FieldWrapper/FieldWrapper.tsx
  src/components/FieldComponents/FieldWrapper/types.ts
  src/components/FieldComponents/__stand__/FieldComponents.stand.mdx
  src/components/FieldComponents/__stand__/examples/FieldWrapperExampleSimple/FieldWrapperExampleSimple.tsx
Owners: @gizeasy, @alyonurchick1

docs: return complex props (#4091)
  src/components/AutoCompleteCanary/__stand__/AutoComplete.dev.stand.mdx
  src/components/BadgeGroup/__stand__/BadgeGroup.dev.stand.mdx
  src/components/Breadcrumbs/__stand__/Breadcrumbs.dev.stand.mdx
  src/components/CheckboxGroup/__stand__/CheckboxGroup.dev.stand.mdx
  src/components/ChoiceGroup/__stand__/ChoiceGroup.dev.stand.mdx
  src/components/CollapseGroup/__stand__/CollapseGroup.dev.stand.mdx
  src/components/Combobox/__stand__/Combobox.dev.stand.mdx
  src/components/ContextMenu/__stand__/ContextMenu.dev.stand.mdx
  src/components/DatePicker/__stand__/DatePicker.dev.stand.mdx
  src/components/DateTime/__stand__/DateTime.dev.stand.mdx
  src/components/DragNDropField/__stand__/DragNDropField.dev.stand.mdx
  src/components/Grid/__stand__/Grid.dev.stand.mdx
  src/components/ListCanary/__stand__/List.dev.stand.mdx
  src/components/Pagination/__stand__/Pagination.dev.stand.mdx
  src/components/Picture/__stand__/Picture.dev.stand.mdx
  src/components/Popover/__stand__/Popover.dev.stand.mdx
  src/components/ProgressStepBar/__stand__/ProgressStepBar.dev.stand.mdx
  src/components/RadioGroup/__stand__/RadioGroup.dev.stand.mdx
  src/components/Select/__stand__/Select.dev.stand.mdx
  src/components/SelectCanary/__stand__/Select.dev.stand.mdx
  src/components/Slider/__stand__/Slider.dev.stand.mdx
  src/components/SnackBar/__stand__/SnackBar.dev.stand.mdx
  src/components/Steps/__stand__/Steps.dev.stand.mdx
  src/components/StepsCanary/__stand__/Steps.dev.stand.mdx
  src/components/SwitchGroup/__stand__/SwitchGroup.dev.stand.mdx
  src/components/Tabs/__stand__/Tabs.dev.stand.mdx
  src/components/TextField/__stand__/TextField.dev.stand.mdx
Owners: @alyonurchick1

feat(Banner): move prop types to separate constants
  src/components/Banner/Banner.tsx
Owners: @gizeasy

feat(Banner): add support for data attributes via otherProps
  src/components/Banner/Banner.tsx
Owners: @gizeasy

feat(Banner): add size modifier to component classes
  src/components/Banner/Banner.tsx
Owners: @gizeasy

fix(Banner): add key for icon in leftSlots
  src/components/Banner/Banner.tsx
Owners: @gizeasy

test(Banner): add comprehensive test coverage
  src/components/Banner/__tests__/Banner.test.tsx
Owners: @gizeasy

refactor(Banner): remove redundant as const from textSizeMap and controlSizeMap
  src/components/Banner/Banner.tsx
Owners: @gizeasy

refactor(Banner): simplify left slots rendering logic
  src/components/Banner/Banner.tsx
Owners: @gizeasy

feat(FieldWrapper): add counterStatus prop (#4093)
  src/components/FieldComponents/FieldWrapper/FieldWrapper.tsx
  src/components/FieldComponents/FieldWrapper/types.ts
  src/components/FieldComponents/__stand__/FieldComponents.stand.mdx
  src/components/FieldComponents/__stand__/examples/FieldWrapperExampleSimple/FieldWrapperExampleSimple.tsx
Owners: @gizeasy, @alyonurchick1

test(Banner): add tests (#4095)
  src/components/Banner/Banner.tsx
  src/components/Banner/__tests__/Banner.test.tsx
Owners: @gizeasy

docs(Select): make onChange prop required in documentation
  src/components/Select/__stand__/Select.dev.stand.mdx
Owners: @alyonurchick1

docs(Combobox): make onChange prop required in documentation
  src/components/Combobox/__stand__/Combobox.dev.stand.mdx
Owners: @alyonurchick1

feat(Sidebar): add components
  .husky/pre-commit
  .husky/pre-push
  src/components/Modal/Modal.css
  src/components/Modal/Modal.tsx
  src/components/Modal/ModalHeader/ModalHeader.css
  src/components/Modal/ModalLayout/ModalLayout.css
  src/components/Modal/ModalLayout/ModalLayout.tsx
  src/components/Modal/useModal.ts
  src/components/Sidebar/Sidebar.css
  src/components/Sidebar/Sidebar.tsx
  src/components/Sidebar/__stand__/Sidebar.variants.tsx
  src/components/Sidebar/__tests__/Sidebar.test.tsx
  src/components/Sidebar/index.ts
  src/components/Sidebar/types.ts
  src/components/Sidebar/useAnimateTimeout.ts
  src/components/Theme/_shadow/Theme_shadow_gpnDefault.css
Owners: @gizeasy, @linturaven

feat(Sidebar): add components
  .husky/pre-commit
  .husky/pre-push
  src/components/Modal/Modal.css
  src/components/Modal/Modal.tsx
  src/components/Modal/ModalHeader/ModalHeader.css
  src/components/Modal/ModalLayout/ModalLayout.css
  src/components/Modal/ModalLayout/ModalLayout.tsx
  src/components/Modal/types.ts
  src/components/Modal/useModal.ts
  src/components/Sidebar/Sidebar.css
  src/components/Sidebar/Sidebar.tsx
  src/components/Sidebar/__stand__/Sidebar.variants.css
  src/components/Sidebar/__stand__/Sidebar.variants.tsx
  src/components/Sidebar/__tests__/Sidebar.test.tsx
  src/components/Sidebar/index.ts
  src/components/Sidebar/types.ts
  src/components/Sidebar/useAnimateTimeout.ts
  src/components/Theme/_shadow/Theme_shadow_gpnDefault.css
Owners: @gizeasy, @linturaven

test(useDebounce): add tests
  src/hooks/useDebounce/__tests__/useDebounce.test.ts
Owners: @gizeasy

test(useGlobalKeys): add tests
  src/hooks/useGlobalKeys/__tests__/useGlobalKeys.test.ts
Owners: @gizeasy

test(useClickOutside): add tests
  src/hooks/useClickOutside/__tests__/useClickOutside.test.tsx
Owners: @gizeasy

test(useStyleProps): add tests
  src/hooks/useStyleProps/__tests__/useStyleProps.test.tsx
Owners: @gizeasy

test(hooks): add tests (#4100)
  src/hooks/useClickOutside/__tests__/useClickOutside.test.tsx
  src/hooks/useDebounce/__tests__/useDebounce.test.ts
  src/hooks/useGlobalKeys/__tests__/useGlobalKeys.test.ts
  src/hooks/useStyleProps/__tests__/useStyleProps.test.tsx
Owners: @gizeasy

docs(Combobox, Select): onСhange required (#4099)
  src/components/Combobox/__stand__/Combobox.dev.stand.mdx
  src/components/Select/__stand__/Select.dev.stand.mdx
Owners: @alyonurchick1

add docs
  .husky/pre-commit
  .husky/pre-push
  cspell.json
  src/components/Modal/Modal.css
  src/components/Modal/Modal.tsx
  src/components/Modal/ModalHeader/ModalHeader.css
  src/components/Modal/ModalLayout/ModalLayout.css
  src/components/RadioGroup/RadioGroup.tsx
  src/components/Sidebar/Sidebar.css
  src/components/Sidebar/Sidebar.tsx
  src/components/Sidebar/__stand__/Sidebar.dev.stand.mdx
  src/components/Sidebar/__stand__/Sidebar.stand.mdx
  src/components/Sidebar/__stand__/Sidebar.use.stand.mdx
  src/components/Sidebar/__stand__/Sidebar.variants.tsx
  src/components/Sidebar/__stand__/examples/ExampleSidebarCustomSize/ExampleSidebarCustomSize.css
  src/components/Sidebar/__stand__/examples/ExampleSidebarCustomSize/ExampleSidebarCustomSize.tsx
  src/components/Sidebar/__stand__/examples/ExampleSidebarGroups/ExampleSidebarGroups.css
  src/components/Sidebar/__stand__/examples/ExampleSidebarGroups/ExampleSidebarGroups.tsx
  src/components/Sidebar/__stand__/examples/ExampleSidebarGroupsTwo/ExampleSidebarGroupsTwo.css
  src/components/Sidebar/__stand__/examples/ExampleSidebarGroupsTwo/ExampleSidebarGroupsTwo.tsx
  src/components/Sidebar/__stand__/examples/ExampleSidebarNoOverlay/ExampleSidebarNoOverlay.tsx
  src/components/Sidebar/__stand__/examples/ExampleSidebarOpenClose/ExampleSidebarOpenClose.css
  src/components/Sidebar/__stand__/examples/ExampleSidebarOpenClose/ExampleSidebarOpenClose.tsx
  src/components/Sidebar/__stand__/examples/ExampleSidebarPosition/ExampleSidebarPosition.tsx
  src/components/Sidebar/__stand__/examples/ExampleSidebarSimple/ExampleSidebarSimple.tsx
  src/components/Sidebar/__stand__/examples/ExampleSidebarSize/ExampleSidebarSize.tsx
  src/components/Sidebar/__stand__/examples/SidebarExample/SidebarExample.css
  src/components/Sidebar/__stand__/examples/SidebarExample/SidebarExample.tsx
  src/components/Sidebar/__stand__/examples/cnSidebarExampleStaticModal/SidebarExampleStaticModal.css
  src/components/Sidebar/__stand__/examples/cnSidebarExampleStaticModal/cnSidebarExampleStaticModal.ts
  src/components/Sidebar/__stand__/examples/cnSidebarExampleStaticModal/index.ts
  src/components/Sidebar/__stand__/examples/images/Paranja.jpg
  src/components/Sidebar/types.ts
  src/components/Theme/_shadow/Theme_shadow_gpnDefault.css
Owners: @gizeasy, @linturaven, @alyonurchick1

docs: check tabs
  src/components/AutoComplete/__stand__/AutoComplete.dev.stand.mdx
  src/components/AutoCompleteCanary/__stand__/AutoComplete.dev.stand.mdx
  src/components/Button/__stand__/Button.dev.stand.mdx
  src/components/Card/__stand__/Card.dev.stand.mdx
  src/components/Checkbox/__stand__/Checkbox.dev.stand.mdx
  src/components/ChoiceGroup/__stand__/ChoiceGroup.dev.stand.mdx
  src/components/Collapse/__stand__/Collapse.dev.stand.mdx
  src/components/CollapseGroup/__stand__/CollapseGroup.dev.stand.mdx
  src/components/Combobox/__stand__/Combobox.dev.stand.mdx
  src/components/ContextMenu/__stand__/ContextMenu.dev.stand.mdx
  src/components/DatePicker/__stand__/DatePicker.dev.stand.mdx
  src/components/File/__stand__/File.dev.stand.mdx
  src/components/Informer/__stand__/Informer.dev.stand.mdx
  src/components/Popover/__stand__/Popover.dev.stand.mdx
  src/components/ProgressLine/__stand__/ProgressLine.dev.stand.mdx
  src/components/ProgressSpin/__stand__/ProgressSpin.dev.stand.mdx
  src/components/Radio/__stand__/Radio.dev.stand.mdx
  src/components/Spoiler/__stand__/Spoiler.dev.stand.mdx
Owners: @alyonurchick1

Update cspell.json
  cspell.json
Owners: @gizeasy

test(ListCanary): add tests
  src/components/ListCanary/__tests__/ListCanary.test.tsx
Owners: @gizeasy

test(Popover): add tests
  src/components/Popover/__tests__/Popover.test.tsx
Owners: @gizeasy

test(Tooltip): add tests
  src/components/Tooltip/__tests__/Tooltip.test.tsx
Owners: @gizeasy

feat(Notifications): init
  src/components/FlatSelect/FlatSelect.tsx
  src/components/FlatSelect/FlatSelectRoot/FlatSelectRoot.tsx
  src/components/Notifications/Notifications.css
  src/components/Notifications/Notifications.tsx
  src/components/Notifications/NotificationsActions/NotificationsActions.tsx
  src/components/Notifications/NotificationsActions/helpers.tsx
  src/components/Notifications/NotificationsActions/index.ts
  src/components/Notifications/NotificationsActions/types.ts
  src/components/Notifications/NotificationsItem/NotificationsItem.css
  src/components/Notifications/NotificationsItem/NotificationsItem.tsx
  src/components/Notifications/NotificationsItem/index.ts
  src/components/Notifications/NotificationsItem/types.ts
  src/components/Notifications/NotificationsItemFooter/NotificationsItemFooter.css
  src/components/Notifications/NotificationsItemFooter/NotificationsItemFooter.tsx
  src/components/Notifications/NotificationsItemFooter/helpers.ts
  src/components/Notifications/NotificationsItemFooter/index.ts
  src/components/Notifications/NotificationsItemFooter/types.ts
  src/components/Notifications/NotificationsList/NotificationsList.css
  src/components/Notifications/NotificationsList/NotificationsList.tsx
  src/components/Notifications/NotificationsList/helpers.ts
  src/components/Notifications/NotificationsList/index.ts
  src/components/Notifications/NotificationsList/types.ts
  src/components/Notifications/__mocks__/data.mock.ts
  src/components/Notifications/__stand__/Notifications.dev.stand.mdx
  src/components/Notifications/__stand__/Notifications.stand.mdx
  src/components/Notifications/__stand__/Notifications.stand.tsx
  src/components/Notifications/__stand__/Notifications.variants.css
  src/components/Notifications/__stand__/Notifications.variants.tsx
  src/components/Notifications/__stand__/examples/NotificationsExample/NotificationsExample.tsx
  src/components/Notifications/__stand__/examples/NotificationsItemExampleAction/NotificationsItemExampleAction.tsx
  src/components/Notifications/__stand__/examples/NotificationsItemExampleBadges/NotificationsItemExampleBadges.tsx
  src/components/Notifications/__stand__/examples/NotificationsItemExampleBasic/NotificationsItemExampleBasic.tsx
  src/components/Notifications/__stand__/examples/NotificationsItemExampleRead/NotificationsItemExampleRead.tsx
  src/components/Notifications/__stand__/examples/NotificationsItemExampleView/NotificationsItemExampleView.tsx
  src/components/Notifications/__stand__/examples/NotificationsListExample/NotificationsListExample.tsx
  src/components/Notifications/__stand__/examples/NotificationsListExampleActions/NotificationsListExampleActions.tsx
  src/components/Notifications/__stand__/examples/NotificationsListExampleGroups/NotificationsListExampleGroups.tsx
  src/components/Notifications/index.ts
  src/components/Notifications/types.ts
  src/utils/getItemClick.ts
Owners: @gizeasy, @linturaven, @alyonurchick1

test(Tooltip): remove extra type
  src/components/Tooltip/__tests__/Tooltip.test.tsx
Owners: @gizeasy

docs: check tabs (#4103)
  src/components/AutoComplete/__stand__/AutoComplete.dev.stand.mdx
  src/components/AutoCompleteCanary/__stand__/AutoComplete.dev.stand.mdx
  src/components/Button/__stand__/Button.dev.stand.mdx
  src/components/Card/__stand__/Card.dev.stand.mdx
  src/components/Checkbox/__stand__/Checkbox.dev.stand.mdx
  src/components/ChoiceGroup/__stand__/ChoiceGroup.dev.stand.mdx
  src/components/Collapse/__stand__/Collapse.dev.stand.mdx
  src/components/CollapseGroup/__stand__/CollapseGroup.dev.stand.mdx
  src/components/Combobox/__stand__/Combobox.dev.stand.mdx
  src/components/ContextMenu/__stand__/ContextMenu.dev.stand.mdx
  src/components/DatePicker/__stand__/DatePicker.dev.stand.mdx
  src/components/File/__stand__/File.dev.stand.mdx
  src/components/Informer/__stand__/Informer.dev.stand.mdx
  src/components/Popover/__stand__/Popover.dev.stand.mdx
  src/components/ProgressLine/__stand__/ProgressLine.dev.stand.mdx
  src/components/ProgressSpin/__stand__/ProgressSpin.dev.stand.mdx
  src/components/Radio/__stand__/Radio.dev.stand.mdx
  src/components/Spoiler/__stand__/Spoiler.dev.stand.mdx
Owners: @alyonurchick1

tests: add tests for ListCanary, Tooltip, Popover (#4105)
  src/components/ListCanary/__tests__/ListCanary.test.tsx
  src/components/Popover/__tests__/Popover.test.tsx
  src/components/Tooltip/__tests__/Tooltip.test.tsx
Owners: @gizeasy

Update Sidebar.dev.stand.mdx
  src/components/Sidebar/__stand__/Sidebar.dev.stand.mdx
Owners: @alyonurchick1

docs: removed unnecessary properties
  src/components/ListCanary/__stand__/List.dev.stand.mdx
  src/components/Popover/__stand__/Popover.dev.stand.mdx
  src/components/Tooltip/__stand__/Tooltip.dev.stand.mdx
Owners: @alyonurchick1

feat(Sidebar): refactor component (#4104)
  cspell.json
  src/components/Modal/Modal.css
  src/components/Modal/Modal.tsx
  src/components/Modal/ModalHeader/ModalHeader.css
  src/components/Modal/ModalLayout/ModalLayout.css
  src/components/Modal/ModalLayout/ModalLayout.tsx
  src/components/Modal/types.ts
  src/components/Modal/useModal.ts
  src/components/RadioGroup/RadioGroup.tsx
  src/components/Sidebar/Sidebar.css
  src/components/Sidebar/Sidebar.tsx
  src/components/Sidebar/__stand__/Sidebar.dev.stand.mdx
  src/components/Sidebar/__stand__/Sidebar.stand.mdx
  src/components/Sidebar/__stand__/Sidebar.use.stand.mdx
  src/components/Sidebar/__stand__/Sidebar.variants.css
  src/components/Sidebar/__stand__/Sidebar.variants.tsx
  src/components/Sidebar/__stand__/examples/ExampleSidebarCustomSize/ExampleSidebarCustomSize.css
  src/components/Sidebar/__stand__/examples/ExampleSidebarCustomSize/ExampleSidebarCustomSize.tsx
  src/components/Sidebar/__stand__/examples/ExampleSidebarGroups/ExampleSidebarGroups.css
  src/components/Sidebar/__stand__/examples/ExampleSidebarGroups/ExampleSidebarGroups.tsx
  src/components/Sidebar/__stand__/examples/ExampleSidebarGroupsTwo/ExampleSidebarGroupsTwo.css
  src/components/Sidebar/__stand__/examples/ExampleSidebarGroupsTwo/ExampleSidebarGroupsTwo.tsx
  src/components/Sidebar/__stand__/examples/ExampleSidebarNoOverlay/ExampleSidebarNoOverlay.tsx
  src/components/Sidebar/__stand__/examples/ExampleSidebarOpenClose/ExampleSidebarOpenClose.css
  src/components/Sidebar/__stand__/examples/ExampleSidebarOpenClose/ExampleSidebarOpenClose.tsx
  src/components/Sidebar/__stand__/examples/ExampleSidebarPosition/ExampleSidebarPosition.tsx
  src/components/Sidebar/__stand__/examples/ExampleSidebarSimple/ExampleSidebarSimple.tsx
  src/components/Sidebar/__stand__/examples/ExampleSidebarSize/ExampleSidebarSize.tsx
  src/components/Sidebar/__stand__/examples/SidebarExample/SidebarExample.css
  src/components/Sidebar/__stand__/examples/SidebarExample/SidebarExample.tsx
  src/components/Sidebar/__stand__/examples/cnSidebarExampleStaticModal/SidebarExampleStaticModal.css
  src/components/Sidebar/__stand__/examples/cnSidebarExampleStaticModal/cnSidebarExampleStaticModal.ts
  src/components/Sidebar/__stand__/examples/cnSidebarExampleStaticModal/index.ts
  src/components/Sidebar/__stand__/examples/images/Paranja.jpg
  src/components/Sidebar/__tests__/Sidebar.test.tsx
  src/components/Sidebar/index.ts
  src/components/Sidebar/types.ts
  src/components/Sidebar/useAnimateTimeout.ts
Owners: @gizeasy, @linturaven, @alyonurchick1

.github/CODEOWNERS:

* @gizeasy
*.md @alyonurchick1
*.mdx @alyonurchick1
*.css @linturaven
