Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @N1MBER, @BagenovA, @linturaven

.github/CODEOWNERS:

* @gizeasy @N1MBER 
*.md @BagenovA
*.mdx @BagenovA
*.css @linturaven

feat(TooltipCanary): added canary tooltip with animations (#3334)
  src/components/TooltipCanary/Tooltip.css
  src/components/TooltipCanary/TooltipCanary.tsx
  src/components/TooltipCanary/__stand__/Tooltip.dev.stand.mdx
  src/components/TooltipCanary/__stand__/Tooltip.image.svg
  src/components/TooltipCanary/__stand__/Tooltip.stand.mdx
  src/components/TooltipCanary/__stand__/Tooltip.stand.tsx
  src/components/TooltipCanary/__stand__/Tooltip.variants.tsx
  src/components/TooltipCanary/__stand__/examples/TooltipPosition/TooltipPosition.css
  src/components/TooltipCanary/__stand__/examples/TooltipPosition/TooltipPosition.tsx
  src/components/TooltipCanary/index.ts
  src/components/TooltipCanary/types.ts
Owners: @linturaven, @gizeasy, @N1MBER, @BagenovA

feat(BookmarkTabs): rewrite hover and focus to highlitedIndex (#3333)
  src/components/BookmarkTabsCanary/BookmarkTabsCanary.tsx
  src/components/BookmarkTabsCanary/BookmarkTabsTab/BookmarkTabsTab.css
  src/components/BookmarkTabsCanary/BookmarkTabsTab/BookmarkTabsTab.tsx
  src/components/BookmarkTabsCanary/__stand__/BookmarkTabs.dev.stand.mdx
  src/components/BookmarkTabsCanary/__stand__/examples/BookmarkTabsExampleRenderItem/BookmarkTabsExampleRenderItem.tsx
  src/components/BookmarkTabsCanary/types.ts
  src/components/BookmarkTabsCanary/useBookmarkTabs.ts
Owners: @gizeasy, @N1MBER, @linturaven, @BagenovA

docs(Combobox): fix examples with search value (#3345)
  src/components/Combobox/__stand__/Combobox.dev.stand.mdx
  src/components/Combobox/__stand__/examples/ComboboxExampleSearchValue/ComboboxExampleSearchValue.tsx
  src/components/ComboboxCanary/__stand__/Combobox.dev.stand.mdx
  src/components/ComboboxCanary/__stand__/examples/ComboboxExampleSearchValue/ComboboxExampleSearchValue.tsx
Owners: @BagenovA, @gizeasy, @N1MBER

fix(Responses): fix gap
  src/components/Responses403/Responses403.tsx
  src/components/ResponsesConnectionError/ResponsesConnectionError.tsx
  src/components/ResponsesDeleted/ResponsesDeleted.tsx
Owners: @gizeasy, @N1MBER

feat(TooltipCanary): replace a old tooltip with new canary version
  src/components/DatePicker/__stand__/DatePicker.dev.stand.mdx
  src/components/DatePicker/__stand__/examples/DatePickerExampleOnError/DatePickerExampleOnError.tsx
  src/components/DragNDropField/DragNDropFieldTooltip/DragNDropFieldTooltip.tsx
  src/components/ProgressStepBar/ProgressStepBarItem/ProgressStepBarItem.tsx
  src/components/Slider/SliderPoint/SliderPoint.tsx
  src/components/TooltipCanary/TooltipCanary.tsx
  src/components/TooltipCanary/types.ts
  src/hocs/withTooltip/withTooltip.tsx
Owners: @BagenovA, @gizeasy, @N1MBER

fix(PaginationCanary): fix component
  src/components/PaginationCanary/PaginationCanary.tsx
  src/components/PaginationCanary/PaginationItem/PaginationItem.css
  src/components/PaginationCanary/PaginationItem/PaginationItem.tsx
  src/components/PaginationCanary/PaginationList/PaginationList.tsx
  src/components/PaginationCanary/PaginationNumberInput/PaginationNumberInput.tsx
  src/components/PaginationCanary/__stand__/Pagination.variants.tsx
  src/components/PaginationCanary/helpers.ts
  src/components/PaginationCanary/types.ts
Owners: @gizeasy, @N1MBER, @linturaven

fix(Responses): fix
  src/components/Responses403/Responses403.tsx
  src/components/ResponsesConnectionError/ResponsesConnectionError.tsx
  src/components/ResponsesDeleted/ResponsesDeleted.tsx
Owners: @gizeasy, @N1MBER

feat(TooltipCanary): replace a old tooltip with new canary version (#3365)
  src/components/DatePicker/__stand__/DatePicker.dev.stand.mdx
  src/components/DatePicker/__stand__/examples/DatePickerExampleOnError/DatePickerExampleOnError.tsx
  src/components/DragNDropField/DragNDropFieldTooltip/DragNDropFieldTooltip.tsx
  src/components/ProgressStepBar/ProgressStepBarItem/ProgressStepBarItem.tsx
  src/components/Slider/SliderPoint/SliderPoint.tsx
  src/components/TooltipCanary/TooltipCanary.tsx
  src/components/TooltipCanary/types.ts
  src/hocs/withTooltip/withTooltip.tsx
Owners: @BagenovA, @gizeasy, @N1MBER

fix(Responses): fix discrepancies (#3363)
  src/components/Responses/Responses.css
  src/components/Responses/Responses.tsx
  src/components/Responses403/Responses403.tsx
  src/components/Responses500/Responses500.tsx
  src/components/Responses503/Responses503.tsx
  src/components/ResponsesConnectionError/ResponsesConnectionError.tsx
  src/components/ResponsesDeleted/ResponsesDeleted.tsx
Owners: @linturaven, @gizeasy, @N1MBER

docs(PaginationCanary): fix variant props
  src/components/PaginationCanary/__stand__/Pagination.variants.tsx
Owners: @gizeasy, @N1MBER

feat(Text): delete default props
  src/components/TextDeprecated/Text.css
  src/components/TextDeprecated/TextDeprecated.tsx
  src/components/TextDeprecated/__stand__/Text.dev.stand.mdx
  src/components/TextDeprecated/__stand__/Text.image.svg
  src/components/TextDeprecated/__stand__/Text.stand.mdx
  src/components/TextDeprecated/__stand__/Text.stand.tsx
  src/components/TextDeprecated/__stand__/Text.variants.tsx
  src/components/TextDeprecated/__stand__/examples/TextExampleAlign/TextExampleAlign.tsx
  src/components/TextDeprecated/__stand__/examples/TextExampleCombinedWeightAndStyle/TextExampleCombinedWeightAndStyle.tsx
  src/components/TextDeprecated/__stand__/examples/TextExampleCursor/TextExampleCursor.tsx
  src/components/TextDeprecated/__stand__/examples/TextExampleDecoration/TextExampleDecoration.tsx
  src/components/TextDeprecated/__stand__/examples/TextExampleFont/TextExampleFont.tsx
  src/components/TextDeprecated/__stand__/examples/TextExampleHeadingAndParagraph/TextExampleHeadingAndParagraph.tsx
  src/components/TextDeprecated/__stand__/examples/TextExampleLabelAndData/TextExampleLabelAndData.tsx
  src/components/TextDeprecated/__stand__/examples/TextExampleLineheight/TextExampleLineheight.tsx
  src/components/TextDeprecated/__stand__/examples/TextExampleSize/TextExampleSize.tsx
  src/components/TextDeprecated/__stand__/examples/TextExampleSpacing/TextExampleSpacing.tsx
  src/components/TextDeprecated/__stand__/examples/TextExampleStyle/TextExampleStyle.tsx
  src/components/TextDeprecated/__stand__/examples/TextExampleTransform/TextExampleTransform.tsx
  src/components/TextDeprecated/__stand__/examples/TextExampleTruncate/TextExampleTruncate.tsx
  src/components/TextDeprecated/__stand__/examples/TextExampleView/TextExampleView.tsx
  src/components/TextDeprecated/__stand__/examples/TextExampleWeight/TextExampleWeight.tsx
  src/components/TextDeprecated/__tests__/Text.test.tsx
  src/components/TextDeprecated/index.ts
Owners: @linturaven, @gizeasy, @N1MBER, @BagenovA

fix(PaginationCanary): fix logic
  src/components/PaginationCanary/Pagination.css
  src/components/PaginationCanary/PaginationArrow/PaginationArrow.css
  src/components/PaginationCanary/PaginationBase/PaginationBase.tsx
  src/components/PaginationCanary/PaginationCanary.tsx
  src/components/PaginationCanary/PaginationItem/PaginationItem.css
  src/components/PaginationCanary/PaginationItem/PaginationItem.tsx
  src/components/PaginationCanary/PaginationList/PaginationList.tsx
  src/components/PaginationCanary/__stand__/Pagination.variants.css
  src/components/PaginationCanary/__stand__/Pagination.variants.tsx
  src/components/PaginationCanary/helpers.ts
  src/components/PaginationCanary/usePaginationItems.tsx
  src/components/PaginationCanary/usePaginationKeys.tsx
Owners: @linturaven, @gizeasy, @N1MBER

feat(Attachment): add new prop 'withIcon'
  src/components/Attachment/Attachment.tsx
  src/components/Attachment/__stand__/Attachment.dev.stand.mdx
  src/components/Attachment/__stand__/Attachment.variants.tsx
  src/components/Attachment/__stand__/examples/AttachmentExampleWithIcon/AttachmentExampleWithIcon.tsx
  src/components/Attachment/types.ts
Owners: @gizeasy, @N1MBER, @BagenovA

fix(Tabs): fix recalculation in FitModeScrollWrapper
  src/components/Tabs/FitModeScrollWrapper/TabsFitModeScrollWrapper.tsx
Owners: @gizeasy, @N1MBER

feat(TextField): update mask
  package.json
  src/components/DatePicker/DatePickerFieldTypeDate/DatePickerFieldTypeDate.tsx
  src/components/DatePicker/DatePickerFieldTypeDate/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeDateTime/DatePickerFieldTypeDateTime.tsx
  src/components/DatePicker/DatePickerFieldTypeDateTime/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeMonth/DatePickerFieldTypeMonth.tsx
  src/components/DatePicker/DatePickerFieldTypeMonth/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeTime/DatePickerFieldTypeTime.tsx
  src/components/DatePicker/DatePickerFieldTypeTime/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeYear/DatePickerFieldTypeYear.tsx
  src/components/DatePicker/DatePickerFieldTypeYear/helpers.ts
  src/components/DatePicker/DatePickerMixRangeField/DatePickerMixRangeField.ts
  src/components/DatePicker/__stand__/DatePicker.variants.tsx
  src/components/EventInterceptor/propsHandlers/__tests__/useTextFieldEventsHandler.test.tsx
  src/components/TextField/TextField.tsx
  src/components/TextField/__stand__/TextField.dev.stand.mdx
  src/components/TextField/__stand__/examples/TextFieldExampleMask/TextFieldExampleMask.css
  src/components/TextField/__stand__/examples/TextFieldExampleMask/TextFieldExampleMask.tsx
  src/components/TextField/index.ts
  src/components/TextField/types.ts
  src/components/TextField/useIMask.ts
  src/stand/standPageDecoration.tsx
  yarn.lock
Owners: @gizeasy, @N1MBER, @BagenovA, @linturaven

refactor(BadgeGroup): update useHideElementsInLine
  src/components/BadgeGroup/BadgeGroup.css
  src/components/BadgeGroup/BadgeGroup.tsx
  src/hooks/useHideElementsInLineCanary/useHideElementsInLineCanary.ts
Owners: @linturaven, @gizeasy, @N1MBER

feat(AttachmentCanary): add new canary component
  src/components/AttachmentCanary/Attachment.css
  src/components/AttachmentCanary/AttachmentCanary.tsx
  src/components/AttachmentCanary/__stand__/Attachment.dev.stand.mdx
  src/components/AttachmentCanary/__stand__/Attachment.image.svg
  src/components/AttachmentCanary/__stand__/Attachment.stand.mdx
  src/components/AttachmentCanary/__stand__/Attachment.stand.tsx
  src/components/AttachmentCanary/__stand__/Attachment.use.stand.mdx
  src/components/AttachmentCanary/__stand__/Attachment.variants.css
  src/components/AttachmentCanary/__stand__/Attachment.variants.tsx
  src/components/AttachmentCanary/__stand__/examples/AttachmentExampleAs/AttachmentExampleAs.tsx
  src/components/AttachmentCanary/__stand__/examples/AttachmentExampleBasics/AttachmentExampleBasics.tsx
  src/components/AttachmentCanary/__stand__/examples/AttachmentExampleDescription/AttachmentExampleDescription.tsx
  src/components/AttachmentCanary/__stand__/examples/AttachmentExampleError/AttachmentExampleError.tsx
  src/components/AttachmentCanary/__stand__/examples/AttachmentExampleEvents/AttachmentExampleEvents.tsx
  src/components/AttachmentCanary/__stand__/examples/AttachmentExampleIcon/AttachmentExampleIcon.tsx
  src/components/AttachmentCanary/__stand__/examples/AttachmentExampleLoading/AttachmentExampleLoading.tsx
  src/components/AttachmentCanary/__stand__/examples/AttachmentExampleName/AttachmentExampleName.tsx
  src/components/AttachmentCanary/__stand__/examples/AttachmentExampleSize/AttachmentExampleSize.tsx
  src/components/AttachmentCanary/__stand__/examples/AttachmentExampleWithIcon/AttachmentExampleWithIcon.tsx
  src/components/AttachmentCanary/__tests__/Attachment.test.tsx
  src/components/AttachmentCanary/index.ts
  src/components/AttachmentCanary/types.ts
Owners: @linturaven, @gizeasy, @N1MBER, @BagenovA

feat(PictureCanary): update component
  src/components/PictureCanary/PictureCanary.tsx
  src/components/PictureCanary/__stand__/Picture.dev.stand.mdx
  src/components/PictureCanary/__stand__/Picture.variants.tsx
  src/components/PictureCanary/__stand__/examples/PictureExampleResizeMode/PictureExampleResizeMode.tsx
  src/components/PictureCanary/types.ts
  src/hooks/useBreakpointsCanary/__stand__/useBreakpoints.stand.mdx
  src/hooks/useBreakpointsCanary/__stand__/useBreakpoints.stand.tsx
  src/hooks/useBreakpointsCanary/addPrefix.ts
  src/hooks/useBreakpointsCanary/getLastPoint.ts
  src/hooks/useBreakpointsCanary/index.ts
  src/hooks/useBreakpointsCanary/mapping.ts
  src/hooks/useBreakpointsCanary/types.ts
  src/hooks/useBreakpointsCanary/useBreakpoints.ts
Owners: @gizeasy, @N1MBER, @BagenovA

feat(Loader): add new size to stable and canary version
  src/components/Loader/Loader.css
  src/components/Loader/Loader.tsx
  src/components/Loader/__stand__/Loader.dev.stand.mdx
  src/components/Loader/__stand__/examples/LoaderExampleSize/LoaderExampleSize.css
  src/components/Loader/__stand__/examples/LoaderExampleSize/LoaderExampleSize.tsx
  src/components/LoaderCanary/Loader.css
  src/components/LoaderCanary/__stand__/Loader.dev.stand.mdx
  src/components/LoaderCanary/__stand__/examples/LoaderExampleSize/LoaderExampleSize.tsx
  src/components/LoaderCanary/types.ts
Owners: @linturaven, @gizeasy, @N1MBER, @BagenovA

feat(CheckboxGroup): add new prop
  src/components/CheckboxGroup/CheckboxGroup.tsx
  src/components/CheckboxGroup/__stand__/CheckboxGroup.dev.stand.mdx
  src/components/CheckboxGroup/__stand__/CheckboxGroup.variants.tsx
  src/components/CheckboxGroup/__stand__/examples/CheckboxGroupExampleAlign/CheckboxGroupExampleAlign.tsx
  src/components/CheckboxGroup/__stand__/examples/CheckboxGroupExampleView/CheckboxGroupExampleView.tsx
  src/components/CheckboxGroup/types.ts
Owners: @gizeasy, @N1MBER, @BagenovA

feat(Selects): change clear icon and sizes
  src/components/Combobox/Combobox.tsx
  src/components/Combobox/helpers.ts
  src/components/ComboboxCanary/ComboboxCanary.tsx
  src/components/ComboboxCanary/helpers.ts
  src/components/Select/Select.tsx
  src/components/Select/helpers.ts
  src/components/SelectCanary/SelectCanary.tsx
  src/components/SelectCanary/helpers.ts
  src/components/SelectComponents/Select.css
  src/components/SelectComponentsCanary/Select.css
  src/components/UserSelect/UserSelect.tsx
  src/components/UserSelect/helpers.ts
  src/components/UserSelectCanary/UserSelectCanary.tsx
  src/components/UserSelectCanary/helpers.ts
Owners: @gizeasy, @N1MBER, @linturaven

fix docs
  src/components/TextField/__stand__/TextField.dev.stand.mdx
  src/components/TextField/__stand__/examples/TextFieldExampleMask/TextFieldExampleMask.tsx
Owners: @BagenovA, @gizeasy, @N1MBER

refactor(BadgeGroup): update useHideElementsInLine (#3376)
  src/components/BadgeGroup/BadgeGroup.css
  src/components/BadgeGroup/BadgeGroup.tsx
  src/hooks/useHideElementsInLineCanary/useHideElementsInLineCanary.ts
Owners: @linturaven, @gizeasy, @N1MBER

feat(Loader): add new size to stable and canary version (#3377)
  src/components/Loader/Loader.css
  src/components/Loader/Loader.tsx
  src/components/Loader/__stand__/Loader.dev.stand.mdx
  src/components/Loader/__stand__/examples/LoaderExampleSize/LoaderExampleSize.css
  src/components/Loader/__stand__/examples/LoaderExampleSize/LoaderExampleSize.tsx
  src/components/LoaderCanary/Loader.css
  src/components/LoaderCanary/__stand__/Loader.dev.stand.mdx
  src/components/LoaderCanary/__stand__/examples/LoaderExampleSize/LoaderExampleSize.tsx
  src/components/LoaderCanary/types.ts
Owners: @linturaven, @gizeasy, @N1MBER, @BagenovA

feat(Selects): change clear icon and sizes (#3379)
  src/components/Combobox/Combobox.tsx
  src/components/Combobox/helpers.ts
  src/components/ComboboxCanary/ComboboxCanary.tsx
  src/components/ComboboxCanary/helpers.ts
  src/components/Select/Select.tsx
  src/components/Select/helpers.ts
  src/components/SelectCanary/SelectCanary.tsx
  src/components/SelectCanary/helpers.ts
  src/components/SelectComponents/Select.css
  src/components/SelectComponentsCanary/Select.css
  src/components/UserSelect/UserSelect.tsx
  src/components/UserSelect/helpers.ts
  src/components/UserSelectCanary/UserSelectCanary.tsx
  src/components/UserSelectCanary/helpers.ts
Owners: @gizeasy, @N1MBER, @linturaven

feat(Text): delete default props (#3372)
  src/components/TextDeprecated/Text.css
  src/components/TextDeprecated/TextDeprecated.tsx
  src/components/TextDeprecated/__stand__/Text.dev.stand.mdx
  src/components/TextDeprecated/__stand__/Text.image.svg
  src/components/TextDeprecated/__stand__/Text.stand.mdx
  src/components/TextDeprecated/__stand__/Text.stand.tsx
  src/components/TextDeprecated/__stand__/Text.variants.tsx
  src/components/TextDeprecated/__stand__/examples/TextExampleAlign/TextExampleAlign.tsx
  src/components/TextDeprecated/__stand__/examples/TextExampleCombinedWeightAndStyle/TextExampleCombinedWeightAndStyle.tsx
  src/components/TextDeprecated/__stand__/examples/TextExampleCursor/TextExampleCursor.tsx
  src/components/TextDeprecated/__stand__/examples/TextExampleDecoration/TextExampleDecoration.tsx
  src/components/TextDeprecated/__stand__/examples/TextExampleFont/TextExampleFont.tsx
  src/components/TextDeprecated/__stand__/examples/TextExampleHeadingAndParagraph/TextExampleHeadingAndParagraph.tsx
  src/components/TextDeprecated/__stand__/examples/TextExampleLabelAndData/TextExampleLabelAndData.tsx
  src/components/TextDeprecated/__stand__/examples/TextExampleLineheight/TextExampleLineheight.tsx
  src/components/TextDeprecated/__stand__/examples/TextExampleSize/TextExampleSize.tsx
  src/components/TextDeprecated/__stand__/examples/TextExampleSpacing/TextExampleSpacing.tsx
  src/components/TextDeprecated/__stand__/examples/TextExampleStyle/TextExampleStyle.tsx
  src/components/TextDeprecated/__stand__/examples/TextExampleTransform/TextExampleTransform.tsx
  src/components/TextDeprecated/__stand__/examples/TextExampleTruncate/TextExampleTruncate.tsx
  src/components/TextDeprecated/__stand__/examples/TextExampleView/TextExampleView.tsx
  src/components/TextDeprecated/__stand__/examples/TextExampleWeight/TextExampleWeight.tsx
  src/components/TextDeprecated/__tests__/Text.test.tsx
  src/components/TextDeprecated/index.ts
Owners: @linturaven, @gizeasy, @N1MBER, @BagenovA

feat(TextField): update mask (#3375)
  package.json
  src/components/DatePicker/DatePickerFieldTypeDate/DatePickerFieldTypeDate.tsx
  src/components/DatePicker/DatePickerFieldTypeDate/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeDateTime/DatePickerFieldTypeDateTime.tsx
  src/components/DatePicker/DatePickerFieldTypeDateTime/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeMonth/DatePickerFieldTypeMonth.tsx
  src/components/DatePicker/DatePickerFieldTypeMonth/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeTime/DatePickerFieldTypeTime.tsx
  src/components/DatePicker/DatePickerFieldTypeTime/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeYear/DatePickerFieldTypeYear.tsx
  src/components/DatePicker/DatePickerFieldTypeYear/helpers.ts
  src/components/DatePicker/DatePickerMixRangeField/DatePickerMixRangeField.ts
  src/components/DatePicker/__stand__/DatePicker.variants.tsx
  src/components/EventInterceptor/propsHandlers/__tests__/useTextFieldEventsHandler.test.tsx
  src/components/TextField/TextField.tsx
  src/components/TextField/__stand__/TextField.dev.stand.mdx
  src/components/TextField/__stand__/examples/TextFieldExampleMask/TextFieldExampleMask.css
  src/components/TextField/__stand__/examples/TextFieldExampleMask/TextFieldExampleMask.tsx
  src/components/TextField/index.ts
  src/components/TextField/types.ts
  src/components/TextField/useIMask.ts
  src/stand/standPageDecoration.tsx
  yarn.lock
Owners: @gizeasy, @N1MBER, @BagenovA, @linturaven

fix
  src/components/DragNDropField/__stand__/examples/DragNDropFieldExampleAccept/DragNDropFieldExampleAccept.tsx
  src/components/Modal/__stand__/examples/ModalExample/ModalExample.tsx
Owners: @gizeasy, @N1MBER

release: 4.32.0
  CHANGELOG.md
  package.json
Owners: @BagenovA, @gizeasy, @N1MBER

fix(Tabs): fix keyboard navigation
  src/components/Tabs/FitModeDropdownWrapper/TabsFitModeDropdownWrapper.tsx
  src/components/Tabs/MoreItems/TabsMoreItems.css
  src/components/Tabs/MoreItems/TabsMoreItems.tsx
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/types.ts
Owners: @gizeasy, @N1MBER, @linturaven

fix(Pagination): fix types and number input
  src/components/PaginationCanary/PaginationBase/PaginationBase.tsx
  src/components/PaginationCanary/PaginationCanary.tsx
  src/components/PaginationCanary/PaginationList/PaginationList.tsx
  src/components/PaginationCanary/PaginationNumberInput/PaginationNumberInput.tsx
  src/components/PaginationCanary/__stand__/Pagination.dev.stand.mdx
  src/components/PaginationCanary/types.ts
Owners: @gizeasy, @N1MBER, @BagenovA

docs(CheckboxGroup): fix docs
  src/components/CheckboxGroup/__stand__/CheckboxGroup.dev.stand.mdx
Owners: @BagenovA

fix(AttachmentCanary): fix types
  src/components/AttachmentCanary/AttachmentCanary.tsx
  src/components/AttachmentCanary/__stand__/Attachment.dev.stand.mdx
  src/components/AttachmentCanary/__stand__/Attachment.use.stand.mdx
  src/components/AttachmentCanary/__stand__/Attachment.variants.tsx
  src/components/AttachmentCanary/__stand__/examples/AttachmentExampleAs/AttachmentExampleAs.tsx
  src/components/AttachmentCanary/__stand__/examples/AttachmentExampleBasics/AttachmentExampleBasics.tsx
  src/components/AttachmentCanary/__stand__/examples/AttachmentExampleDescription/AttachmentExampleDescription.tsx
  src/components/AttachmentCanary/__stand__/examples/AttachmentExampleError/AttachmentExampleError.tsx
  src/components/AttachmentCanary/__stand__/examples/AttachmentExampleEvents/AttachmentExampleEvents.tsx
  src/components/AttachmentCanary/__stand__/examples/AttachmentExampleIcon/AttachmentExampleIcon.tsx
  src/components/AttachmentCanary/__stand__/examples/AttachmentExampleLoading/AttachmentExampleLoading.tsx
  src/components/AttachmentCanary/__stand__/examples/AttachmentExampleName/AttachmentExampleName.tsx
  src/components/AttachmentCanary/__stand__/examples/AttachmentExampleSize/AttachmentExampleSize.tsx
  src/components/AttachmentCanary/__stand__/examples/AttachmentExampleWithPictogram/AttachmentExampleWithPictogram.tsx
  src/components/AttachmentCanary/types.ts
Owners: @gizeasy, @N1MBER, @BagenovA

chore(eslint): add ascii plugin and rules
  .eslintrc.js
  package.json
  src/components/ChoiceGroup/types.ts
  src/components/DateTime/helpers/getHandleSelectDate.ts
  src/components/DateTime/helpers/types.ts
  yarn.lock
Owners: @gizeasy, @N1MBER

Update ChoiceGroupDeprecated.tsx
  src/components/ChoiceGroupDeprecated/ChoiceGroupDeprecated.tsx
Owners: @gizeasy, @N1MBER

chore(eslint): add ascii plugin and rules (#3384)
  .eslintrc.js
  package.json
  src/components/ChoiceGroup/types.ts
  src/components/ChoiceGroupDeprecated/ChoiceGroupDeprecated.tsx
  src/components/DateTime/helpers/getHandleSelectDate.ts
  src/components/DateTime/helpers/types.ts
  yarn.lock
Owners: @gizeasy, @N1MBER

feat(CheckboxGroup): add new prop (#3378)
  src/components/CheckboxGroup/CheckboxGroup.tsx
  src/components/CheckboxGroup/__stand__/CheckboxGroup.dev.stand.mdx
  src/components/CheckboxGroup/__stand__/CheckboxGroup.variants.tsx
  src/components/CheckboxGroup/__stand__/examples/CheckboxGroupExampleAlign/CheckboxGroupExampleAlign.tsx
  src/components/CheckboxGroup/__stand__/examples/CheckboxGroupExampleView/CheckboxGroupExampleView.tsx
  src/components/CheckboxGroup/types.ts
Owners: @gizeasy, @N1MBER, @BagenovA

feat(AttachmentCanary): add new canary component (#3374)
  src/components/AttachmentCanary/Attachment.css
  src/components/AttachmentCanary/AttachmentCanary.tsx
  src/components/AttachmentCanary/__stand__/Attachment.dev.stand.mdx
  src/components/AttachmentCanary/__stand__/Attachment.image.svg
  src/components/AttachmentCanary/__stand__/Attachment.stand.mdx
  src/components/AttachmentCanary/__stand__/Attachment.stand.tsx
  src/components/AttachmentCanary/__stand__/Attachment.use.stand.mdx
  src/components/AttachmentCanary/__stand__/Attachment.variants.css
  src/components/AttachmentCanary/__stand__/Attachment.variants.tsx
  src/components/AttachmentCanary/__stand__/examples/AttachmentExampleAs/AttachmentExampleAs.tsx
  src/components/AttachmentCanary/__stand__/examples/AttachmentExampleBasics/AttachmentExampleBasics.tsx
  src/components/AttachmentCanary/__stand__/examples/AttachmentExampleDescription/AttachmentExampleDescription.tsx
  src/components/AttachmentCanary/__stand__/examples/AttachmentExampleError/AttachmentExampleError.tsx
  src/components/AttachmentCanary/__stand__/examples/AttachmentExampleEvents/AttachmentExampleEvents.tsx
  src/components/AttachmentCanary/__stand__/examples/AttachmentExampleIcon/AttachmentExampleIcon.tsx
  src/components/AttachmentCanary/__stand__/examples/AttachmentExampleLoading/AttachmentExampleLoading.tsx
  src/components/AttachmentCanary/__stand__/examples/AttachmentExampleName/AttachmentExampleName.tsx
  src/components/AttachmentCanary/__stand__/examples/AttachmentExampleSize/AttachmentExampleSize.tsx
  src/components/AttachmentCanary/__stand__/examples/AttachmentExampleWithPictogram/AttachmentExampleWithPictogram.tsx
  src/components/AttachmentCanary/__tests__/Attachment.test.tsx
  src/components/AttachmentCanary/index.ts
  src/components/AttachmentCanary/types.ts
Owners: @linturaven, @gizeasy, @N1MBER, @BagenovA

fix
  src/components/PictureCanary/PictureCanary.tsx
  src/components/PictureCanary/__stand__/Picture.dev.stand.mdx
  src/components/PictureCanary/__stand__/Picture.stand.mdx
  src/components/PictureCanary/__stand__/Picture.stand.tsx
  src/components/PictureCanary/__stand__/Picture.variants.tsx
  src/components/PictureCanary/__stand__/examples/PictureExample/PictureExample.tsx
  src/components/PictureCanary/__stand__/examples/PictureExampleGetImageSettings/PictureExampleGetImageSettings.tsx
  src/components/PictureCanary/__stand__/examples/PictureExampleResizeMode/PictureExampleResizeMode.tsx
  src/components/PictureCanary/helper.ts
  src/components/PictureCanary/types.ts
Owners: @gizeasy, @N1MBER, @BagenovA

fix(fix): fix
  src/components/Combobox/__stand__/examples/ComboboxExampleSearchValue/ComboboxExampleSearchValue.tsx
  src/components/ComboboxCanary/ComboboxCanary.tsx
  src/components/ComboboxCanary/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeDate/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeDateTime/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeMonth/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeTime/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeYear/helpers.ts
  src/components/SelectCanary/SelectCanary.tsx
  src/components/UserSelectCanary/UserSelectCanary.tsx
Owners: @gizeasy, @N1MBER
