Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

docs(components): tag (#2495)
  src/components/Tag/__stand__/Tag.design.stand.mdx
  src/components/Tag/__stand__/Tag.dev.stand.mdx
  src/components/Tag/__stand__/Tag.image.svg
  src/components/Tag/__stand__/Tag.stand.mdx
  src/components/Tag/__stand__/Tag.stand.tsx
  src/components/Tag/__stand__/examples/TagExampleGroup/TagExampleGroup.tsx
  src/components/Tag/__stand__/examples/TagExampleIcon/TagExampleIcon.tsx
  src/components/Tag/__stand__/examples/TagExampleMode/TagExampleMode.tsx
  src/components/Tag/__stand__/examples/TagExampleSize/TagExampleSize.tsx
  src/components/Tag/__stand__/examples/TagExampleText/TagExampleText.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): add card (#2497)
  src/components/Card/__stand__/Card.design.stand.mdx
  src/components/Card/__stand__/Card.dev.stand.mdx
  src/components/Card/__stand__/Card.image.svg
  src/components/Card/__stand__/Card.stand.mdx
  src/components/Card/__stand__/Card.stand.tsx
  src/components/Card/__stories__/examples/CardExample/CardExample.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): collapse
  src/components/Collapse/__stand__/Collapse.design.stand.mdx
  src/components/Collapse/__stand__/Collapse.dev.stand.mdx
  src/components/Collapse/__stand__/Collapse.image.svg
  src/components/Collapse/__stand__/Collapse.stand.mdx
  src/components/Collapse/__stand__/Collapse.stand.tsx
  src/components/Collapse/__stories__/examples/CollapseExampleBasic/CollapseExampleBasic.tsx
  src/components/Collapse/__stories__/examples/CollapseExampleIconCustomIcon/CollapseExampleIconCustomIcon.tsx
  src/components/Collapse/__stories__/examples/CollapseExampleIconDivider/CollapseExampleIconDivider.tsx
  src/components/Collapse/__stories__/examples/CollapseExampleIconPosition/CollapseExampleIconPosition.tsx
  src/components/Collapse/__stories__/examples/CollapseExampleIconRightSide/CollapseExampleIconRightSide.tsx
  src/components/Collapse/__stories__/examples/CollapseExampleSize/CollapseExampleSize.tsx
  src/components/Collapse/__stories__/examples/CollapseExampleSpace/CollapseExampleSpace.tsx
  src/components/Collapse/__stories__/examples/CollapseExampleView/CollapseExampleView.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): collapsegroup
  src/components/CollapseGroup/__stand__/CollapseGroup.design.stand.mdx
  src/components/CollapseGroup/__stand__/CollapseGroup.dev.stand.mdx
  src/components/CollapseGroup/__stand__/CollapseGroup.image.svg
  src/components/CollapseGroup/__stand__/CollapseGroup.stand.mdx
  src/components/CollapseGroup/__stand__/CollapseGroup.stand.tsx
  src/components/CollapseGroup/__stories__/examples/CollapseGroupExampleControl/CollapseGroupExampleControl.tsx
  src/components/CollapseGroup/__stories__/examples/CollapseGroupExampleIsAccordion/CollapseGroupExampleIsAccordion.tsx
  src/components/CollapseGroup/__stories__/examples/CollapseGroupExampleOwnType/CollapseGroupExampleOwnType.tsx
  src/components/CollapseGroup/__stories__/examples/CollapseGroupExampleSimple/CollapseGroupExampleSimple.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): combobox
  src/components/Combobox/__stand__/Combobox.design.stand.mdx
  src/components/Combobox/__stand__/Combobox.dev.stand.mdx
  src/components/Combobox/__stand__/Combobox.image.svg
  src/components/Combobox/__stand__/Combobox.stand.mdx
  src/components/Combobox/__stand__/Combobox.stand.tsx
  src/components/Combobox/__stories__/examples/ComboboxExampleCreate/ComboboxExampleCreate.tsx
  src/components/Combobox/__stories__/examples/ComboboxExampleCustomTypes/ComboboxExampleCustomTypes.tsx
  src/components/Combobox/__stories__/examples/ComboboxExampleDisabled/ComboboxExampleDisabled.tsx
  src/components/Combobox/__stories__/examples/ComboboxExampleDisabledItem/ComboboxExampleDisabledItem.tsx
  src/components/Combobox/__stories__/examples/ComboboxExampleForm/ComboboxExampleForm.tsx
  src/components/Combobox/__stories__/examples/ComboboxExampleGroups/ComboboxExampleGroups.tsx
  src/components/Combobox/__stories__/examples/ComboboxExampleItems/ComboboxExampleItems.tsx
  src/components/Combobox/__stories__/examples/ComboboxExampleLabel/ComboboxExampleLabel.tsx
  src/components/Combobox/__stories__/examples/ComboboxExampleMultiple/ComboboxExampleMultiple.tsx
  src/components/Combobox/__stories__/examples/ComboboxExampleOnInputChange/ComboboxExampleOnInputChange.tsx
  src/components/Combobox/__stories__/examples/ComboboxExamplePlaceholder/ComboboxExamplePlaceholder.tsx
  src/components/Combobox/__stories__/examples/ComboboxExampleRenderItem/ComboboxExampleRenderItem.tsx
  src/components/Combobox/__stories__/examples/ComboboxExampleRenderValue/ComboboxExampleRenderValue.tsx
  src/components/Combobox/__stories__/examples/ComboboxExampleSize/ComboboxExampleSize.tsx
  src/components/Combobox/__stories__/examples/ComboboxExampleStatus/ComboboxExampleStatus.tsx
  src/components/Combobox/__stories__/examples/ComboboxExampleView/ComboboxExampleView.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

fix(custom): text
  src/components/Text/__stand__/Text.dev.stand.mdx
Owners: @arhayka, @kolebayev

docs(custom): tabs
  src/components/Tabs/__stand__/Tabs.dev.stand.mdx
  src/components/Tabs/__stand__/examples/TabsExample/TabsExample.tsx
  src/components/Tabs/__stand__/examples/TabsExampleFitModeDropdown/TabsExampleFitModeDropdown.tsx
  src/components/Tabs/__stand__/examples/TabsExampleFitModeScroll/TabsExampleFitModeScroll.tsx
  src/components/Tabs/__stand__/examples/TabsExampleIcon/TabsExampleIcon.tsx
  src/components/Tabs/__stand__/examples/TabsExampleLinePosition/TabsExampleLinePosition.tsx
  src/components/Tabs/__stand__/examples/TabsExampleRenderItem/TabsExampleRenderItem.tsx
  src/components/Tabs/__stand__/examples/TabsExampleSize/TabsExampleSize.tsx
  src/components/Tabs/__stand__/examples/TabsExampleView/TabsExampleView.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

fix(custom): table
  src/components/Table/__stand__/examples/TableExampleOnSortBy/TableExampleOnSortBy.tsx
  src/components/Table/__stand__/examples/WithAdditionalClassName/WithAdditionalClassName.tsx
  src/components/Table/__stand__/examples/WithHandleCellClick.tsx
Owners: @gizeasy, @N1MBER

docs(custom): tabsDeprecates
  src/components/TabsDeprecated/__stand__/Tabs.image.svg
  src/components/TabsDeprecated/__stand__/TabsDeprecated.design.stand.mdx
  src/components/TabsDeprecated/__stand__/TabsDeprecated.dev.stand.mdx
  src/components/TabsDeprecated/__stand__/TabsDeprecated.stand.mdx
  src/components/TabsDeprecated/__stand__/TabsDeprecated.stand.tsx
  src/components/TabsDeprecated/__stand__/examples/TabsExample/TabsExample.tsx
  src/components/TabsDeprecated/__stand__/examples/TabsExampleFitModeDropdown/TabsExampleFitModeDropdown.tsx
  src/components/TabsDeprecated/__stand__/examples/TabsExampleFitModeScroll/TabsExampleFitModeScroll.tsx
  src/components/TabsDeprecated/__stand__/examples/TabsExampleIcon/TabsExampleIcon.tsx
  src/components/TabsDeprecated/__stand__/examples/TabsExampleLinePosition/TabsExampleLinePosition.tsx
  src/components/TabsDeprecated/__stand__/examples/TabsExampleRenderItem/TabsExampleRenderItem.tsx
  src/components/TabsDeprecated/__stand__/examples/TabsExampleSize/TabsExampleSize.tsx
  src/components/TabsDeprecated/__stand__/examples/TabsExampleView/TabsExampleView.tsx
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

docs(custom): switchGroupDeprecated
  src/components/SwitchGroupDeprecated/__stand__/SwitchGroup.image.svg
  src/components/SwitchGroupDeprecated/__stand__/SwitchGroupDeprecated.design.stand.mdx
  src/components/SwitchGroupDeprecated/__stand__/SwitchGroupDeprecated.dev.stand.mdx
  src/components/SwitchGroupDeprecated/__stand__/SwitchGroupDeprecated.stand.mdx
  src/components/SwitchGroupDeprecated/__stand__/SwitchGroupDeprecated.stand.tsx
  src/components/SwitchGroupDeprecated/__stand__/examples/SwitchGroupExampleDirection/SwitchGroupExampleDirection.tsx
  src/components/SwitchGroupDeprecated/__stand__/examples/SwitchGroupExampleDisabled/SwitchGroupExampleDisabled.tsx
  src/components/SwitchGroupDeprecated/__stand__/examples/SwitchGroupExampleSize/SwitchGroupExampleSize.tsx
  src/components/SwitchGroupDeprecated/__stand__/examples/SwitchGroupExampleView/SwitchGroupExampleView.tsx
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

docs(custom): switchGroup
  src/components/SwitchGroup/__stand__/SwitchGroup.design.stand.mdx
  src/components/SwitchGroup/__stand__/SwitchGroup.dev.stand.mdx
  src/components/SwitchGroup/__stand__/SwitchGroup.image.svg
  src/components/SwitchGroup/__stand__/SwitchGroup.stand.mdx
  src/components/SwitchGroup/__stand__/SwitchGroup.stand.tsx
  src/components/SwitchGroup/__stand__/examples/SwitchGroupExampleDirection/SwitchGroupExampleDirection.tsx
  src/components/SwitchGroup/__stand__/examples/SwitchGroupExampleDisabled/SwitchGroupExampleDisabled.tsx
  src/components/SwitchGroup/__stand__/examples/SwitchGroupExampleSize/SwitchGroupExampleSize.tsx
  src/components/SwitchGroup/__stand__/examples/SwitchGroupExampleView/SwitchGroupExampleView.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): contextmenu
  src/components/ContextMenu/__stand__/ContextMenu.design.stand.mdx
  src/components/ContextMenu/__stand__/ContextMenu.dev.stand.mdx
  src/components/ContextMenu/__stand__/ContextMenu.image.svg
  src/components/ContextMenu/__stand__/ContextMenu.stand.mdx
  src/components/ContextMenu/__stand__/ContextMenu.stand.tsx
  src/components/ContextMenu/__stories__/examples/ContextMenuExampleDefault/ContextMenuExampleDefault.tsx
  src/components/ContextMenu/__stories__/examples/ContextMenuExampleLabel/ContextMenuExampleLabel.tsx
  src/components/ContextMenu/__stories__/examples/ContextMenuExampleSide/ContextMenuExampleSide.tsx
  src/components/ContextMenu/__stories__/examples/ContextMenuExampleSize/ContextMenuExampleSize.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): switch
  src/components/Switch/__stand__/Switch.dev.stand.mdx
  src/components/Switch/__stand__/Switch.image.svg
  src/components/Switch/__stand__/Switch.stand.mdx
  src/components/Switch/__stand__/Switch.stand.tsx
  src/components/Switch/__stand__/examples/SwitchExampleAlign/SwitchExampleAlign.tsx
  src/components/Switch/__stand__/examples/SwitchExampleName/SwitchExampleName.tsx
  src/components/Switch/__stand__/examples/SwitchExampleSize/SwitchExampleSize.tsx
  src/components/Switch/__stand__/examples/SwitchExampleStatus/SwitchExampleStatus.tsx
  src/components/Switch/__stand__/examples/SwitchExampleView/SwitchExampleView.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): stepsDeprecated
  src/components/StepsDeprecated/__stand__/Steps.image.svg
  src/components/StepsDeprecated/__stand__/StepsDeprecated.design.stand.mdx
  src/components/StepsDeprecated/__stand__/StepsDeprecated.dev.stand.mdx
  src/components/StepsDeprecated/__stand__/StepsDeprecated.stand.mdx
  src/components/StepsDeprecated/__stand__/StepsDeprecated.stand.tsx
  src/components/StepsDeprecated/__stand__/examples/ExampleStepsAdaptive/ExampleStepsAdaptive.tsx
  src/components/StepsDeprecated/__stand__/examples/ExampleStepsCompleted/ExampleStepsCompleted.tsx
  src/components/StepsDeprecated/__stand__/examples/ExampleStepsContent/ExampleStepsContent.tsx
  src/components/StepsDeprecated/__stand__/examples/ExampleStepsDisabled/ExampleStepsDisabled.tsx
  src/components/StepsDeprecated/__stand__/examples/ExampleStepsSize/ExampleStepsSize.tsx
  src/components/StepsDeprecated/__stand__/examples/ExampleStepsSkipped/ExampleStepsSkipped.tsx
  src/components/StepsDeprecated/__stand__/examples/ExampleStepsValue/ExampleStepsValue.tsx
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

fix(custom):
  src/components/StepsDeprecated/__stand__/StepsDeprecated.dev.stand.mdx
Owners: @arhayka, @kolebayev

docs(custom): steps
  src/components/Steps/__stand__/Steps.design.stand.mdx
  src/components/Steps/__stand__/Steps.dev.stand.mdx
  src/components/Steps/__stand__/Steps.image.svg
  src/components/Steps/__stand__/Steps.stand.mdx
  src/components/Steps/__stand__/Steps.stand.tsx
  src/components/Steps/__stand__/examples/ExampleStepsAdaptive/ExampleStepsAdaptive.tsx
  src/components/Steps/__stand__/examples/ExampleStepsCompleted/ExampleStepsCompleted.tsx
  src/components/Steps/__stand__/examples/ExampleStepsContent/ExampleStepsContent.tsx
  src/components/Steps/__stand__/examples/ExampleStepsDisabled/ExampleStepsDisabled.tsx
  src/components/Steps/__stand__/examples/ExampleStepsSize/ExampleStepsSize.tsx
  src/components/Steps/__stand__/examples/ExampleStepsSkipped/ExampleStepsSkipped.tsx
  src/components/Steps/__stand__/examples/ExampleStepsValue/ExampleStepsValue.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): add doc for SnackBar
  src/components/SnackBar/__stand__/SnackBar.design.stand.mdx
  src/components/SnackBar/__stand__/SnackBar.dev.stand.mdx
  src/components/SnackBar/__stand__/SnackBar.image.svg
  src/components/SnackBar/__stand__/SnackBar.stand.mdx
  src/components/SnackBar/__stand__/SnackBar.stand.tsx
  src/components/SnackBar/__stand__/examples/SnackBarExampleAdaptive/SnackBarExampleAdaptive.tsx
  src/components/SnackBar/__stand__/examples/SnackBarExampleButtons/SnackBarExampleButtons.css
  src/components/SnackBar/__stand__/examples/SnackBarExampleButtons/SnackBarExampleButtons.tsx
  src/components/SnackBar/__stand__/examples/SnackBarExampleIcon/SnackBarExampleIcon.css
  src/components/SnackBar/__stand__/examples/SnackBarExampleIcon/SnackBarExampleIcon.tsx
  src/components/SnackBar/__stand__/examples/SnackBarExampleSimple/SnackBarExampleSimple.css
  src/components/SnackBar/__stand__/examples/SnackBarExampleSimple/SnackBarExampleSimple.tsx
  src/components/SnackBar/__stand__/examples/SnackBarExampleStatus/SnackBarExampleStatus.css
  src/components/SnackBar/__stand__/examples/SnackBarExampleStatus/SnackBarExampleStatus.tsx
  src/components/SnackBar/__stand__/examples/SnackBarExampleText/SnackBarExampleText.css
  src/components/SnackBar/__stand__/examples/SnackBarExampleText/SnackBarExampleText.tsx
  src/components/SnackBar/__stand__/examples/SnackBarExampleTimer/SnackBarExampleTimer.css
  src/components/SnackBar/__stand__/examples/SnackBarExampleTimer/SnackBarExampleTimer.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

fix(custom): switch
  src/components/Switch/__stand__/Switch.dev.stand.mdx
Owners: @arhayka, @kolebayev

docs(custom): slider
  src/components/Slider/__stand__/Slider.design.stand.mdx
  src/components/Slider/__stand__/Slider.dev.stand.mdx
  src/components/Slider/__stand__/Slider.image.svg
  src/components/Slider/__stand__/Slider.stand.mdx
  src/components/Slider/__stand__/Slider.stand.tsx
  src/components/Slider/__stand__/examples/SliderExampleBasic/SliderExampleBasic.tsx
  src/components/Slider/__stand__/examples/SliderExampleContent/SliderExampleContent.tsx
  src/components/Slider/__stand__/examples/SliderExampleDisabled/SliderExampleDisabled.tsx
  src/components/Slider/__stand__/examples/SliderExampleLabel/SliderExampleLabel.tsx
  src/components/Slider/__stand__/examples/SliderExampleMinMax/SliderExampleMinMax.tsx
  src/components/Slider/__stand__/examples/SliderExampleRange/SliderExampleRange.tsx
  src/components/Slider/__stand__/examples/SliderExampleSize/SliderExampleSize.css
  src/components/Slider/__stand__/examples/SliderExampleSize/SliderExampleSize.tsx
  src/components/Slider/__stand__/examples/SliderExampleStatus/SliderExampleStatus.css
  src/components/Slider/__stand__/examples/SliderExampleStatus/SliderExampleStatus.tsx
  src/components/Slider/__stand__/examples/SliderExampleStep/SliderExampleStep.tsx
  src/components/Slider/__stand__/examples/SliderExampleTooltip/SliderExampleTooltip.tsx
  src/components/Slider/__stand__/examples/SliderExampleTooltipFormatter/SliderExampleTooltipFormatter.tsx
  src/components/Slider/__stand__/examples/SliderExampleView/SliderExampleView.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): skeleton
  src/components/Skeleton/__stand__/Skeleton.design.stand.mdx
  src/components/Skeleton/__stand__/Skeleton.dev.stand.mdx
  src/components/Skeleton/__stand__/Skeleton.image.svg
  src/components/Skeleton/__stand__/Skeleton.stand.mdx
  src/components/Skeleton/__stand__/Skeleton.stand.tsx
  src/components/Skeleton/__stand__/examples/SkeletonExampleAvatar/SkeletonExampleAvatar.css
  src/components/Skeleton/__stand__/examples/SkeletonExampleAvatar/SkeletonExampleAvatar.tsx
  src/components/Skeleton/__stand__/examples/SkeletonExampleImageAndText.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): sidebar
  src/components/Sidebar/__stand__/Sidebar.design.stand.mdx
  src/components/Sidebar/__stand__/Sidebar.dev.stand.mdx
  src/components/Sidebar/__stand__/Sidebar.image.svg
  src/components/Sidebar/__stand__/Sidebar.stand.mdx
  src/components/Sidebar/__stand__/Sidebar.stand.tsx
  src/components/Sidebar/__stand__/examples/SidebarExample/SidebarExample.css
  src/components/Sidebar/__stand__/examples/SidebarExample/SidebarExample.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): select
  src/components/Select/__stand__/Select.design.stand.mdx
  src/components/Select/__stand__/Select.dev.stand.mdx
  src/components/Select/__stand__/Select.image.svg
  src/components/Select/__stand__/Select.stand.mdx
  src/components/Select/__stand__/Select.stand.tsx
  src/components/Select/__stand__/examples/SelectExampleCustomTypes/SelectExampleCustomTypes.tsx
  src/components/Select/__stand__/examples/SelectExampleDisabled/SelectExampleDisabled.tsx
  src/components/Select/__stand__/examples/SelectExampleDisabledItem/SelectExampleDisabledItem.tsx
  src/components/Select/__stand__/examples/SelectExampleForm/SelectExampleForm.tsx
  src/components/Select/__stand__/examples/SelectExampleGroups/SelectExampleGroups.tsx
  src/components/Select/__stand__/examples/SelectExampleItems/SelectExampleItems.tsx
  src/components/Select/__stand__/examples/SelectExampleLabel/SelectExampleLabel.tsx
  src/components/Select/__stand__/examples/SelectExamplePlaceholder/SelectExamplePlaceholder.tsx
  src/components/Select/__stand__/examples/SelectExampleRenderItem/SelectExampleRenderItem.css
  src/components/Select/__stand__/examples/SelectExampleRenderItem/SelectExampleRenderItem.tsx
  src/components/Select/__stand__/examples/SelectExampleRenderValue/SelectExampleRenderValue.tsx
  src/components/Select/__stand__/examples/SelectExampleSize/SelectExampleSize.tsx
  src/components/Select/__stand__/examples/SelectExampleStatus/SelectExampleStatus.tsx
  src/components/Select/__stand__/examples/SelectExampleView/SelectExampleView.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): text (#2494)
  src/components/Text/__stand__/Text.design.stand.mdx
  src/components/Text/__stand__/Text.dev.stand.mdx
  src/components/Text/__stand__/Text.image copy.svg
  src/components/Text/__stand__/Text.image.svg
  src/components/Text/__stand__/Text.stand.mdx
  src/components/Text/__stand__/Text.stand.tsx
  src/components/Text/__stand__/examples/TextExampleAlign/TextExampleAlign.tsx
  src/components/Text/__stand__/examples/TextExampleCombinedWeightAndStyle/TextExampleCombinedWeightAndStyle.tsx
  src/components/Text/__stand__/examples/TextExampleCursor/TextExampleCursor.tsx
  src/components/Text/__stand__/examples/TextExampleDecoration/TextExampleDecoration.tsx
  src/components/Text/__stand__/examples/TextExampleHeadingAndParagraph/TextExampleHeadingAndParagraph.tsx
  src/components/Text/__stand__/examples/TextExampleLabelAndData/TextExampleLabelAndData.tsx
  src/components/Text/__stand__/examples/TextExampleLineheight/TextExampleLineheight.tsx
  src/components/Text/__stand__/examples/TextExampleSize/TextExampleSize.tsx
  src/components/Text/__stand__/examples/TextExampleSpacing/TextExampleSpacing.tsx
  src/components/Text/__stand__/examples/TextExampleStyle/TextExampleStyle.tsx
  src/components/Text/__stand__/examples/TextExampleTransform/TextExampleTransform.tsx
  src/components/Text/__stand__/examples/TextExampleTruncate/TextExampleTruncate.tsx
  src/components/Text/__stand__/examples/TextExampleView/TextExampleView.tsx
  src/components/Text/__stand__/examples/TextExampleWeight/TextExampleWeight.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): tabs (#2496)
  src/components/Tabs/__stand__/Tabs.design.stand.mdx
  src/components/Tabs/__stand__/Tabs.dev.stand.mdx
  src/components/Tabs/__stand__/Tabs.image.svg
  src/components/Tabs/__stand__/Tabs.stand.mdx
  src/components/Tabs/__stand__/Tabs.stand.tsx
  src/components/Tabs/__stand__/examples/TabsExample/TabsExample.tsx
  src/components/Tabs/__stand__/examples/TabsExampleFitModeDropdown/TabsExampleFitModeDropdown.tsx
  src/components/Tabs/__stand__/examples/TabsExampleFitModeScroll/TabsExampleFitModeScroll.tsx
  src/components/Tabs/__stand__/examples/TabsExampleIcon/TabsExampleIcon.tsx
  src/components/Tabs/__stand__/examples/TabsExampleLinePosition/TabsExampleLinePosition.tsx
  src/components/Tabs/__stand__/examples/TabsExampleRenderItem/TabsExampleRenderItem.tsx
  src/components/Tabs/__stand__/examples/TabsExampleSize/TabsExampleSize.tsx
  src/components/Tabs/__stand__/examples/TabsExampleView/TabsExampleView.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): datepicker
  src/components/DatePicker/__stand__/DatePicker.design.stand.mdx
  src/components/DatePicker/__stand__/DatePicker.dev.stand.mdx
  src/components/DatePicker/__stand__/DatePicker.image.svg
  src/components/DatePicker/__stand__/DatePicker.stand.mdx
  src/components/DatePicker/__stand__/DatePicker.stand.tsx
  src/components/DatePicker/__stories__/examples/DatePickerExampleAdditionalControls/DatePickerExampleAdditionalControls.tsx
  src/components/DatePicker/__stories__/examples/DatePickerExampleCaption/DatePickerExampleCaption.tsx
  src/components/DatePicker/__stories__/examples/DatePickerExampleOnError/DatePickerExampleOnError.tsx
  src/components/DatePicker/__stories__/examples/DatePickerExampleRequired/DatePickerExampleRequired.tsx
  src/components/DatePicker/__stories__/examples/DatePickerExampleStatus/DatePickerExampleStatus.tsx
  src/components/DatePicker/__stories__/examples/DatePickerExampleWithClearButton/DatePickerExampleWithClearButton.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): table (#2498)
  src/components/Table/__stand__/Table.design.stand.mdx
  src/components/Table/__stand__/Table.dev.stand.mdx
  src/components/Table/__stand__/Table.image.svg
  src/components/Table/__stand__/Table.stand.mdx
  src/components/Table/__stand__/Table.stand.tsx
  src/components/Table/__stand__/examples/TableExampleAlign/TableExampleAlign.tsx
  src/components/Table/__stand__/examples/TableExampleBasic/TableExampleBasic.tsx
  src/components/Table/__stand__/examples/TableExampleBorder/TableExampleBorder.tsx
  src/components/Table/__stand__/examples/TableExampleFilter/TableExampleFilter.tsx
  src/components/Table/__stand__/examples/TableExampleIsResizable/TableExampleIsResizable.tsx
  src/components/Table/__stand__/examples/TableExampleMerge/TableExampleMerge.tsx
  src/components/Table/__stand__/examples/TableExampleOnSortBy/TableExampleOnSortBy.tsx
  src/components/Table/__stand__/examples/TableExampleRenderCell/TableExampleRenderCell.tsx
  src/components/Table/__stand__/examples/TableExampleSize/TableExampleSize.tsx
  src/components/Table/__stand__/examples/TableExampleSort/TableExampleSort.tsx
  src/components/Table/__stand__/examples/TableExampleZebraStriped/TableExampleZebraStriped.tsx
  src/components/Table/__stand__/examples/WithAdditionalClassName/WithAdditionalClassName.css
  src/components/Table/__stand__/examples/WithAdditionalClassName/WithAdditionalClassName.tsx
  src/components/Table/__stand__/examples/WithHandleCellClick.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): datetime
  src/components/DateTime/__stand__/DateTime.design.stand.mdx
  src/components/DateTime/__stand__/DateTime.dev.stand.mdx
  src/components/DateTime/__stand__/DateTime.image.svg
  src/components/DateTime/__stand__/DateTime.stand.mdx
  src/components/DateTime/__stand__/DateTime.stand.tsx
  src/components/DateTime/__stories__/examples/DateTimeExampleDateMin/DateTimeExampleDateMin.tsx
  src/components/DateTime/__stories__/examples/DateTimeExampleEvents/DateTimeExampleEvents.tsx
  src/components/DateTime/__stories__/examples/DateTimeExampleLocale/DateTimeExampleLocale.tsx
  src/components/DateTime/__stories__/examples/DateTimeExampleMultiplicity/DateTimeExampleMultiplicity.tsx
  src/components/DateTime/__stories__/examples/DateTimeExampleView/DateTimeExampleView.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): responses
  src/components/Responses/__stand__/Responses.design.stand.mdx
  src/components/Responses/__stand__/Responses.dev.stand.mdx
  src/components/Responses/__stand__/Responses.image.svg
  src/components/Responses/__stand__/Responses.stand.mdx
  src/components/Responses/__stand__/Responses.stand.tsx
  src/components/Responses/__stand__/examples/ResponsesExample/ResponsesExample.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): drgndropfield
  src/components/DragNDropField/__stand__/DragNDropField.design.stand.mdx
  src/components/DragNDropField/__stand__/DragNDropField.dev.stand.mdx
  src/components/DragNDropField/__stand__/DragNDropField.image.svg
  src/components/DragNDropField/__stand__/DragNDropField.stand.mdx
  src/components/DragNDropField/__stand__/DragNDropField.stand.tsx
  src/components/DragNDropField/__stories__/examples/DragNDropFieldExampleAccept/DragNDropFieldExampleAccept.tsx
  src/components/DragNDropField/__stories__/examples/DragNDropFieldExampleErrorMessages/DragNDropFieldExampleErrorMessages.tsx
  src/components/DragNDropField/__stories__/examples/DragNDropFieldExampleMaxSize/DragNDropFieldExampleMaxSize.tsx
  src/components/DragNDropField/__stories__/examples/DragNDropFieldExampleMultiple/DragNDropFieldExampleMultiple.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): radioGroupDeprecated
  src/components/RadioGroupDeprecated/__stand__/RadioGroup.image.svg
  src/components/RadioGroupDeprecated/__stand__/RadioGroupDeprecated.design.stand.mdx
  src/components/RadioGroupDeprecated/__stand__/RadioGroupDeprecated.dev.stand.mdx
  src/components/RadioGroupDeprecated/__stand__/RadioGroupDeprecated.stand.mdx
  src/components/RadioGroupDeprecated/__stand__/RadioGroupDeprecated.stand.tsx
  src/components/RadioGroupDeprecated/__stand__/examples/RadioGroupExampleAlign/RadioGroupExampleAlign.tsx
  src/components/RadioGroupDeprecated/__stand__/examples/RadioGroupExampleDisabled/RadioGroupExampleDisabled.tsx
  src/components/RadioGroupDeprecated/__stand__/examples/RadioGroupExampleSize/RadioGroupExampleSize.tsx
  src/components/RadioGroupDeprecated/__stand__/examples/RadioGroupExampleUse/RadioGroupExampleUse.tsx
  src/components/RadioGroupDeprecated/__stand__/examples/RadioGroupExampleView/RadioGroupExampleView.tsx
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

docs(custom): fieldgroup
  src/components/FieldGroup/__stand__/FieldGroup.design.stand.mdx
  src/components/FieldGroup/__stand__/FieldGroup.dev.stand.mdx
  src/components/FieldGroup/__stand__/FieldGroup.image.svg
  src/components/FieldGroup/__stand__/FieldGroup.stand.mdx
  src/components/FieldGroup/__stand__/FieldGroup.stand.tsx
  src/components/FieldGroup/__stories__/examples/FieldGroupExample/FieldGroupExample.tsx
  src/components/FieldGroup/__stories__/examples/FieldGroupExampleForm/FieldGroupExampleForm.tsx
  src/components/FieldGroup/__stories__/examples/FieldGroupExampleSize/FieldGroupExampleSize.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): radioGroup
  src/components/RadioGroup/__stand__/RadioGroup.design.stand.mdx
  src/components/RadioGroup/__stand__/RadioGroup.dev.stand.mdx
  src/components/RadioGroup/__stand__/RadioGroup.image.svg
  src/components/RadioGroup/__stand__/RadioGroup.stand.mdx
  src/components/RadioGroup/__stand__/RadioGroup.stand.tsx
  src/components/RadioGroup/__stand__/examples/RadioGroupExampleAlign/RadioGroupExampleAlign.tsx
  src/components/RadioGroup/__stand__/examples/RadioGroupExampleDisabled/RadioGroupExampleDisabled.tsx
  src/components/RadioGroup/__stand__/examples/RadioGroupExampleSize/RadioGroupExampleSize.tsx
  src/components/RadioGroup/__stand__/examples/RadioGroupExampleUse/RadioGroupExampleUse.tsx
  src/components/RadioGroup/__stand__/examples/RadioGroupExampleView/RadioGroupExampleView.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): radio
  src/components/Radio/__stand__/Radio.design.stand.mdx
  src/components/Radio/__stand__/Radio.dev.stand.mdx
  src/components/Radio/__stand__/Radio.image.svg
  src/components/Radio/__stand__/Radio.stand.mdx
  src/components/Radio/__stand__/Radio.stand.tsx
  src/components/Radio/__stand__/examples/RadioExampleAlign/RadioExampleAlign.tsx
  src/components/Radio/__stand__/examples/RadioExampleSize/RadioExampleSize.tsx
  src/components/Radio/__stand__/examples/RadioExampleStatus/RadioExampleStatus.tsx
  src/components/Radio/__stand__/examples/RadioExampleUse/RadioExampleUse.tsx
  src/components/Radio/__stand__/examples/RadioExampleView/RadioExampleView.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): file
  src/components/File/__stand__/File.design.stand.mdx
  src/components/File/__stand__/File.dev.stand.mdx
  src/components/File/__stand__/File.image.svg
  src/components/File/__stand__/File.stand.mdx
  src/components/File/__stand__/File.stand.tsx
  src/components/File/__stand__/examples/FileExampleExtension/FileExampleExtension.tsx
  src/components/File/__stand__/examples/FileExampleLoading/FileExampleLoading.tsx
  src/components/File/__stand__/examples/FileExampleSize/FileExampleSize.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

fix(custom): fix
  src/components/Checkbox/__stand__/Checkbox.dev.stand.mdx
  src/components/Checkbox/__stand__/Checkbox.stand.mdx
  src/components/Checkbox/__stand__/examples/CheckboxExampleAlign/CheckboxExampleAlign.tsx
  src/components/Checkbox/__stand__/examples/CheckboxExampleName/CheckboxExampleName.tsx
  src/components/Checkbox/__stand__/examples/CheckboxExampleSize/CheckboxExampleSize.tsx
  src/components/Checkbox/__stand__/examples/CheckboxExampleStatus/CheckboxExampleStatus.tsx
  src/components/Checkbox/__stand__/examples/CheckboxExampleView/CheckboxExampleView.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): progressStepBar
  src/components/ProgressStepBar/__stand__/ProgressStepBar.design.stand.mdx
  src/components/ProgressStepBar/__stand__/ProgressStepBar.dev.stand.mdx
  src/components/ProgressStepBar/__stand__/ProgressStepBar.image.svg
  src/components/ProgressStepBar/__stand__/ProgressStepBar.stand.mdx
  src/components/ProgressStepBar/__stand__/ProgressStepBar.stand.tsx
  src/components/ProgressStepBar/__stand__/examples/ProgressStepBarExampleActive/ProgressStepBarExampleActive.tsx
  src/components/ProgressStepBar/__stand__/examples/ProgressStepBarExampleAdaptive/ProgressStepBarExampleAdaptive.tsx
  src/components/ProgressStepBar/__stand__/examples/ProgressStepBarExampleContent/ProgressStepBarExampleContent.css
  src/components/ProgressStepBar/__stand__/examples/ProgressStepBarExampleContent/ProgressStepBarExampleContent.tsx
  src/components/ProgressStepBar/__stand__/examples/ProgressStepBarExampleDirection/ProgressStepBarExampleDirection.tsx
  src/components/ProgressStepBar/__stand__/examples/ProgressStepBarExampleProgress/ProgressStepBarExampleProgress.tsx
  src/components/ProgressStepBar/__stand__/examples/ProgressStepBarExampleSize/ProgressStepBarExampleSize.tsx
  src/components/ProgressStepBar/__stand__/examples/ProgressStepBarExampleTooltip/ProgressStepBarExampleTooltip.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): grid
  src/components/Grid/__stand__/Grid.design.stand.mdx
  src/components/Grid/__stand__/Grid.dev.stand.mdx
  src/components/Grid/__stand__/Grid.image.svg
  src/components/Grid/__stand__/Grid.stand.mdx
  src/components/Grid/__stand__/Grid.stand.tsx
  src/components/Grid/__stand__/examples/GridExampleAlign/GridExampleAlign.css
  src/components/Grid/__stand__/examples/GridExampleAlign/GridExampleAlign.tsx
  src/components/Grid/__stand__/examples/GridExampleBreakpoints/GridExampleBreakpoints.css
  src/components/Grid/__stand__/examples/GridExampleBreakpoints/GridExampleBreakpoints.tsx
  src/components/Grid/__stand__/examples/GridExampleCols/GridExampleCols.css
  src/components/Grid/__stand__/examples/GridExampleCols/GridExampleCols.tsx
  src/components/Grid/__stand__/examples/GridExampleGap/GridExampleGap.css
  src/components/Grid/__stand__/examples/GridExampleGap/GridExampleGap.tsx
  src/components/Grid/__stand__/examples/GridItemExampleBreakpoints/GridItemExampleBreakpoints.css
  src/components/Grid/__stand__/examples/GridItemExampleBreakpoints/GridItemExampleBreakpoints.tsx
  src/components/Grid/__stand__/examples/GridItemExampleCol/GridItemExampleCol.css
  src/components/Grid/__stand__/examples/GridItemExampleCol/GridItemExampleCol.tsx
  src/components/Grid/__stand__/examples/GridItemExampleColStart/GridItemExampleColStart.css
  src/components/Grid/__stand__/examples/GridItemExampleColStart/GridItemExampleColStart.tsx
  src/components/Grid/__stand__/examples/GridItemExampleOrder/GridItemExampleOrder.css
  src/components/Grid/__stand__/examples/GridItemExampleOrder/GridItemExampleOrder.tsx
  src/components/Grid/__stand__/examples/GridItemExampleRow/GridItemExampleRow.css
  src/components/Grid/__stand__/examples/GridItemExampleRow/GridItemExampleRow.tsx
  src/components/Grid/__stand__/examples/GridItemExampleRowStart/GridItemExampleRowStart.css
  src/components/Grid/__stand__/examples/GridItemExampleRowStart/GridItemExampleRowStart.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

fix(custom): radioGroupDeprecated
  src/components/RadioGroupDeprecated/__stand__/examples/RadioGroupExampleDisabled/RadioGroupExampleDisabled.tsx
  src/components/RadioGroupDeprecated/__stand__/examples/RadioGroupExampleSize/RadioGroupExampleSize.tsx
  src/components/RadioGroupDeprecated/__stand__/examples/RadioGroupExampleUse/RadioGroupExampleUse.tsx
  src/components/RadioGroupDeprecated/__stand__/examples/RadioGroupExampleView/RadioGroupExampleView.tsx
Owners: @gizeasy, @N1MBER

docs(custom): checkbox (#2500)
  src/components/Checkbox/__stand__/Checkbox.design.stand.mdx
  src/components/Checkbox/__stand__/Checkbox.dev.stand.mdx
  src/components/Checkbox/__stand__/Checkbox.image.svg
  src/components/Checkbox/__stand__/Checkbox.stand.mdx
  src/components/Checkbox/__stand__/Checkbox.stand.tsx
  src/components/Checkbox/__stand__/examples/CheckboxExampleAlign/CheckboxExampleAlign.tsx
  src/components/Checkbox/__stand__/examples/CheckboxExampleName/CheckboxExampleName.tsx
  src/components/Checkbox/__stand__/examples/CheckboxExampleSize/CheckboxExampleSize.tsx
  src/components/Checkbox/__stand__/examples/CheckboxExampleStatus/CheckboxExampleStatus.tsx
  src/components/Checkbox/__stand__/examples/CheckboxExampleView/CheckboxExampleView.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): filefield
  src/components/FileField/__stand__/FileField.design.stand.mdx
  src/components/FileField/__stand__/FileField.dev.stand.mdx
  src/components/FileField/__stand__/FileField.image.svg
  src/components/FileField/__stand__/FileField.stand.mdx
  src/components/FileField/__stand__/FileField.stand.tsx
  src/components/FileField/__stand__/examples/FileFieldExampleRenderProp/FileFieldExampleRenderProp.tsx
  src/components/FileField/__stand__/examples/FileFieldExampleWithoutRenderProp/FileFieldExampleWithoutRenderProp.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

.github/CODEOWNERS:

* @gizeasy @N1MBER 
*.md @arhayka @kolebayev
*.mdx @arhayka @kolebayev
*.css @kolebayev
