Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @alyonurchick1, @linturaven

.github/CODEOWNERS:

* @gizeasy
*.md @alyonurchick1
*.mdx @alyonurchick1
*.css @linturaven

test(DatePickerFieldTypeDateTime/helpers): remove deprecated multiplicity test logic
  src/components/DatePicker/__tests__/DatePickerFieldTypeDateTime/DatePicker_field_type_dateTime_helpers.test.tsx
Owners: @gizeasy

feat(DateTime): add isTypeWithTime helper for time-enabled types
  src/components/DateTime/helpers/index.ts
Owners: @gizeasy

feat(DateTime): add time configuration support and stop multiplicity propagation
  src/components/DateTime/DateTime.tsx
Owners: @gizeasy

refactor(DateTimeTypeTime): stop using deprecated multiplicity props
  src/components/DateTime/DateTimeTypeTime/DateTimeTypeTime.tsx
Owners: @gizeasy

refactor(DateTimeTypeTime/helpers): stop using deprecated multiplicity props
  src/components/DateTime/DateTimeTypeTime/helpers.ts
Owners: @gizeasy

docs(DateTime): update timeOptions examples with priority demonstration
  src/components/DateTime/__stand__/examples/DateTimeExampleTimeOptions/DateTimeExampleTimeOptions.tsx
Owners: @gizeasy

docs(DateTime): clarify time configuration priority
  src/components/DateTime/__stand__/DateTime.dev.stand.mdx
Owners: @alyonurchick1

refactor(DateTimeTypeDateTime): stop using deprecated multiplicity props
  src/components/DateTime/DateTimeTypeDateTime/DateTimeTypeDateTime.tsx
Owners: @gizeasy

refactor(DateTimeTypeDateTime): stop using deprecated multiplicity props
  src/components/DateTime/DateTimeTypeDateTime/useOnChange.ts
Owners: @gizeasy

fix(DateTimeTypeTime/helpers): handle skipped time units in first valid date
  src/components/DateTime/DateTimeTypeTime/helpers.ts
Owners: @gizeasy

fix(DateTimeTypeDateTime/useOnChange): add tracking of timeOptions, minDate, maxDate and disableDates in useOnChange
  src/components/DateTime/DateTimeTypeDateTime/useOnChange.ts
Owners: @gizeasy

docs(DateTime): update examples to use timeOptions instead of multiplicity props
  src/components/DateTime/__stand__/DateTime.variants.tsx
Owners: @gizeasy

docs(DateTime): update timeOptions example
  src/components/DateTime/__stand__/DateTime.dev.stand.mdx
  src/components/DateTime/__stand__/examples/DateTimeExampleTimeOptions/DateTimeExampleTimeOptions.tsx
Owners: @alyonurchick1, @gizeasy

docs(DatePicker): update timeOptions example
  src/components/DatePicker/__stand__/DatePicker.dev.stand.mdx
  src/components/DatePicker/__stand__/examples/DatePickerExampleTimeOptions/DatePickerExampleTimeOptions.tsx
Owners: @alyonurchick1, @gizeasy

docs(DatePicker): add adaptive columns in examples
  src/components/DatePicker/__stand__/examples/DatePickerExampleMulti/DatePickerExampleMulti.tsx
  src/components/DatePicker/__stand__/examples/DatePickerExampleTimeOptions/DatePickerExampleTimeOptions.tsx
Owners: @gizeasy

docs(DateTime): add adaptive columns in example
  src/components/DateTime/__stand__/examples/DateTimeExampleTimeOptions/DateTimeExampleTimeOptions.tsx
Owners: @gizeasy

docs(DatePicker): update examples to use timeOptions
  src/components/DatePicker/__stand__/DatePicker.variants.tsx
Owners: @gizeasy

fix(DateTimeTypeTime): correct spelling error
  src/components/DateTime/DateTimeTypeTime/helpers.ts
Owners: @gizeasy

docs(DatePicker): correct spelling error
  src/components/DatePicker/__stand__/DatePicker.dev.stand.mdx
Owners: @alyonurchick1

docs(DateTime): correct spelling error
  src/components/DateTime/__stand__/DateTime.dev.stand.mdx
Owners: @alyonurchick1

fix(DatePicker): crash when switching from range to single date mode
  src/components/DatePicker/__stand__/DatePicker.variants.tsx
Owners: @gizeasy

fix(DatePicker): fixed variants
  src/components/DateTime/__stand__/DateTime.variants.tsx
Owners: @gizeasy

refactor(DateTime): use isTypeWithTime in variants
  src/components/DateTime/__stand__/DateTime.variants.tsx
Owners: @gizeasy

feat(DatePicker): add type check for timeOptions visibility in variants
  src/components/DatePicker/__stand__/DatePicker.variants.tsx
Owners: @gizeasy

test: add tests for ProgressLine, useForkRef, useMouseLeave (#4116)
  src/components/ProgressLine/__tests__/ProgressLine.test.tsx
  src/components/ProgressSpin/__tests__/ProgressSpin.test.tsx
  src/components/SnackBar/__tests__/SnackBar.test.tsx
  src/components/Spoiler/__tests__/Spoiler.test.tsx
  src/components/Steps/__tests__/Steps.test.tsx
  src/hooks/useForkRef/__tests__/useForkRef.test.tsx
  src/hooks/useMouseLeave/__tests__/useMouseLeave.test.tsx
Owners: @gizeasy

feat(DateTime): add time options key generator with customizable formatting
  src/components/DateTime/helpers/getTimeOptionsKey.ts
Owners: @gizeasy

feat(DateTime): add disable dates key generator with range support
  src/components/DateTime/helpers/getDisableDatesKey.ts
Owners: @gizeasy

refactor(DateTime): improve timeOptions memoization with stable key serialization
  src/components/DateTime/DateTime.tsx
Owners: @gizeasy

refactor(DateTimeTypeTime): improve timeOptions memoization with stable key serialization
  src/components/DateTime/DateTimeTypeTime/helpers.ts
Owners: @gizeasy

refactor(DateTimeTypeDateTime): optimize useOnChange hook with stable dependencies for time and date constraints
  src/components/DateTime/DateTimeTypeDateTime/useOnChange.ts
Owners: @gizeasy

refactor(DatePicker): improve timeOptions memoization with stable key serialization
  src/components/DatePicker/DatePicker.tsx
Owners: @gizeasy

feat(DatePicker): add new error type for time options validation in DatePicker
  src/components/DatePicker/types.ts
Owners: @gizeasy

feat(DatePicker): add time options validation helper
  src/components/DatePicker/helpers.ts
Owners: @gizeasy

feat(DatePickerFieldTypeTime): add time options validation in DatePicker field onAccept
  src/components/DatePicker/DatePickerFieldTypeTime/helpers.ts
Owners: @gizeasy

fix(DatePickerFieldTypeTime): remove console.log
  src/components/DatePicker/DatePickerFieldTypeTime/helpers.ts
Owners: @gizeasy

feat(DatePickerFieldTypeDateTime): add time options validation onAccept
  src/components/DatePicker/DatePickerFieldTypeDateTime/helpers.ts
Owners: @gizeasy

fix(DatePicker): spelling error
  src/components/DatePicker/helpers.ts
Owners: @gizeasy

fix(DatePickerFieldTypeTime): spelling error and onAccept dependency
  src/components/DatePicker/DatePickerFieldTypeTime/helpers.ts
Owners: @gizeasy

fix(DatePickerFieldTypeDateTime): spelling error and onAccept dependency
  src/components/DatePicker/DatePickerFieldTypeDateTime/helpers.ts
Owners: @gizeasy

docs(Badge): add missing `view=tinted` docs
  src/components/Badge/__stand__/Badge.dev.stand.mdx
  src/components/Badge/__stand__/examples/BadgeExampleView/BadgeExampleView.tsx
Owners: @alyonurchick1, @gizeasy
