Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @alyonurchick1, @linturaven

.github/CODEOWNERS:

* @gizeasy
*.md @alyonurchick1
*.mdx @alyonurchick1
*.css @linturaven

feat(Tabs): make scroll buttons optional (#3494)
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/TabsFitModeScrollWrapper/TabsFitModeScrollWrapper.tsx
  src/components/Tabs/__stand__/Tabs.dev.stand.mdx
  src/components/Tabs/__stand__/Tabs.variants.tsx
  src/components/Tabs/types.ts
Owners: @gizeasy, @alyonurchick1

fix(BookmarkTabs): hide scrollbar (#3516)
  src/components/BookmarkTabs/BookmarkTabs.tsx
Owners: @gizeasy

fix(ProgressStepBar): fix adaptation failure (#3517)
  src/components/ProgressStepBar/ProgressStepBar.tsx
Owners: @gizeasy

docs: fix-tooltip
  src/components/Tooltip/__stand__/Tooltip.dev.stand.mdx
  src/components/Tooltip/__stand__/Tooltip.stand.mdx
Owners: @alyonurchick1

fix(DatePicker): fix disable failure
  src/components/DatePicker/DatePickerTypeDate/DatePickerTypeDate.tsx
  src/components/DatePicker/DatePickerTypeDateRange/DatePickerTypeDateRange.tsx
  src/components/DatePicker/DatePickerTypeDateTime/DatePickerTypeDateTime.tsx
  src/components/DatePicker/DatePickerTypeDateTimeRange/DatePickerTypeDateTimeRange.tsx
  src/components/DatePicker/DatePickerTypeMonth/DatePickerTypeMonth.tsx
  src/components/DatePicker/DatePickerTypeMonthRange/DatePickerTypeMonthRange.tsx
  src/components/DatePicker/DatePickerTypeTime/DatePickerTypeTime.tsx
  src/components/DatePicker/DatePickerTypeYear/DatePickerTypeYear.tsx
  src/components/DatePicker/DatePickerTypeYearRange/DatePickerTypeYearRange.tsx
  src/components/DatePicker/useCalendarVisible.ts
  src/hooks/useFlag/useFlag.ts
Owners: @gizeasy

fix(DateTime): fix button colour
  src/components/DateTime/DateTimeItem/DateTimeItem.tsx
Owners: @gizeasy

docs(Tooltip): fix docs (#3522)
  src/components/Tooltip/__stand__/Tooltip.dev.stand.mdx
  src/components/Tooltip/__stand__/Tooltip.stand.mdx
Owners: @alyonurchick1

fix(DatePicker): fix disabled style
  src/components/DatePicker/DatePickerTypeDate/DatePickerTypeDate.tsx
  src/components/DatePicker/DatePickerTypeDateRange/DatePickerTypeDateRange.tsx
  src/components/DatePicker/DatePickerTypeDateTime/DatePickerTypeDateTime.tsx
  src/components/DatePicker/DatePickerTypeDateTimeRange/DatePickerTypeDateTimeRange.tsx
  src/components/DatePicker/DatePickerTypeMonth/DatePickerTypeMonth.tsx
  src/components/DatePicker/DatePickerTypeMonthRange/DatePickerTypeMonthRange.tsx
  src/components/DatePicker/DatePickerTypeTime/DatePickerTypeTime.tsx
  src/components/DatePicker/DatePickerTypeYearRange/DatePickerTypeYearRange.tsx
Owners: @gizeasy

docs(Theme): fixed example
  src/components/Theme/__stand__/Theme.dev.stand.mdx
  src/components/Theme/__stand__/examples/ThemeExampleRoot/ThemeExampleRoot.tsx
Owners: @alyonurchick1, @gizeasy

docs(Theme): fixed example (#3541)
  src/components/Theme/__stand__/Theme.dev.stand.mdx
  src/components/Theme/__stand__/examples/ThemeExampleRoot/ThemeExampleRoot.tsx
Owners: @alyonurchick1, @gizeasy

feat(Spoiler): add default state (opened or closed)
  src/components/Spoiler/Spoiler.tsx
  src/components/Spoiler/__stand__/Spoiler.dev.stand.mdx
  src/components/Spoiler/types.ts
Owners: @gizeasy, @alyonurchick1

fix(DateTime): fix DateTimeItem selected color
  src/components/DateTime/DateTimeItem/DateTimeItem.css
Owners: @linturaven

feat(Spoiler): fix spoiler opened logic
  src/components/Spoiler/Spoiler.tsx
  src/components/Spoiler/__stand__/Spoiler.dev.stand.mdx
Owners: @gizeasy, @alyonurchick1

fix(DatePicker): fix disable failure and fix button colour (#3527)
  src/components/DatePicker/DatePickerTypeDate/DatePickerTypeDate.tsx
  src/components/DatePicker/DatePickerTypeDateRange/DatePickerTypeDateRange.tsx
  src/components/DatePicker/DatePickerTypeDateTime/DatePickerTypeDateTime.tsx
  src/components/DatePicker/DatePickerTypeDateTimeRange/DatePickerTypeDateTimeRange.tsx
  src/components/DatePicker/DatePickerTypeMonth/DatePickerTypeMonth.tsx
  src/components/DatePicker/DatePickerTypeMonthRange/DatePickerTypeMonthRange.tsx
  src/components/DatePicker/DatePickerTypeTime/DatePickerTypeTime.tsx
  src/components/DatePicker/DatePickerTypeYear/DatePickerTypeYear.tsx
  src/components/DatePicker/DatePickerTypeYearRange/DatePickerTypeYearRange.tsx
  src/components/DatePicker/useCalendarVisible.ts
  src/components/DateTime/DateTimeItem/DateTimeItem.css
  src/components/DateTime/DateTimeItem/DateTimeItem.tsx
  src/hooks/useFlag/useFlag.ts
Owners: @gizeasy, @linturaven

fix(DatePicker): fixed inputRef
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/DatePickerAdditionalControls/DatePickerAdditionalControls.tsx
  src/components/DatePicker/DatePickerDropdown/DatePickerDropdown.tsx
  src/components/DatePicker/DatePickerFieldTypeDate/DatePickerFieldTypeDate.tsx
  src/components/DatePicker/DatePickerFieldTypeDateRange/DatePickerFieldTypeDateRange.tsx
  src/components/DatePicker/DatePickerFieldTypeDateTime/DatePickerFieldTypeDateTime.tsx
  src/components/DatePicker/DatePickerFieldTypeDateTimeRange/DatePickerFieldTypeDateTimeRange.tsx
  src/components/DatePicker/DatePickerFieldTypeMonthRange/DatePickerFieldTypeMonthRange.tsx
  src/components/DatePicker/DatePickerFieldTypeTime/DatePickerFieldTypeTime.tsx
  src/components/DatePicker/DatePickerFieldTypeYear/DatePickerFieldTypeYear.tsx
  src/components/DatePicker/DatePickerFieldTypeYearRange/DatePickerFieldTypeYearRange.tsx
  src/components/DatePicker/DatePickerTypeDate/DatePickerTypeDate.tsx
  src/components/DatePicker/DatePickerTypeDateRange/DatePickerTypeDateRange.tsx
  src/components/DatePicker/DatePickerTypeDateTime/DatePickerTypeDateTime.tsx
  src/components/DatePicker/DatePickerTypeDateTimeRange/DatePickerTypeDateTimeRange.tsx
  src/components/DatePicker/DatePickerTypeMonth/DatePickerTypeMonth.tsx
  src/components/DatePicker/DatePickerTypeMonthRange/DatePickerTypeMonthRange.tsx
  src/components/DatePicker/DatePickerTypeTime/DatePickerTypeTime.tsx
  src/components/DatePicker/DatePickerTypeYear/DatePickerTypeYear.tsx
  src/components/DatePicker/DatePickerTypeYearRange/DatePickerTypeYearRange.tsx
Owners: @gizeasy

fix(DatePicker): fixed inputRef (#3549)
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/DatePickerAdditionalControls/DatePickerAdditionalControls.tsx
  src/components/DatePicker/DatePickerDropdown/DatePickerDropdown.tsx
  src/components/DatePicker/DatePickerFieldTypeDate/DatePickerFieldTypeDate.tsx
  src/components/DatePicker/DatePickerFieldTypeDateRange/DatePickerFieldTypeDateRange.tsx
  src/components/DatePicker/DatePickerFieldTypeDateTime/DatePickerFieldTypeDateTime.tsx
  src/components/DatePicker/DatePickerFieldTypeDateTimeRange/DatePickerFieldTypeDateTimeRange.tsx
  src/components/DatePicker/DatePickerFieldTypeMonthRange/DatePickerFieldTypeMonthRange.tsx
  src/components/DatePicker/DatePickerFieldTypeTime/DatePickerFieldTypeTime.tsx
  src/components/DatePicker/DatePickerFieldTypeYear/DatePickerFieldTypeYear.tsx
  src/components/DatePicker/DatePickerFieldTypeYearRange/DatePickerFieldTypeYearRange.tsx
  src/components/DatePicker/DatePickerTypeDate/DatePickerTypeDate.tsx
  src/components/DatePicker/DatePickerTypeDateRange/DatePickerTypeDateRange.tsx
  src/components/DatePicker/DatePickerTypeDateTime/DatePickerTypeDateTime.tsx
  src/components/DatePicker/DatePickerTypeDateTimeRange/DatePickerTypeDateTimeRange.tsx
  src/components/DatePicker/DatePickerTypeMonth/DatePickerTypeMonth.tsx
  src/components/DatePicker/DatePickerTypeMonthRange/DatePickerTypeMonthRange.tsx
  src/components/DatePicker/DatePickerTypeTime/DatePickerTypeTime.tsx
  src/components/DatePicker/DatePickerTypeYear/DatePickerTypeYear.tsx
  src/components/DatePicker/DatePickerTypeYearRange/DatePickerTypeYearRange.tsx
Owners: @gizeasy

fix(DatePicker): fixed a bug in field clearing
  src/components/DatePicker/DatePickerFieldTypeDate/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeDateTime/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeMonth/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeTime/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeYear/helpers.ts
  src/components/DatePicker/helpers.ts
Owners: @gizeasy

fix(DatePicker): fixed a bug in field clearing (#3551)
  src/components/DatePicker/DatePickerFieldTypeDate/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeDateTime/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeMonth/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeTime/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeYear/helpers.ts
  src/components/DatePicker/helpers.ts
Owners: @gizeasy

fix(Slider): fixed onChange event when mounting a component
  src/components/Slider/useSlider/helper.ts
  src/components/Slider/useSlider/useSlider.ts
Owners: @gizeasy

fix(Slider): fixed onChange event when mounting a component (#3557)
  src/components/Slider/useSlider/helper.ts
  src/components/Slider/useSlider/useSlider.ts
Owners: @gizeasy

chore(deps): update stands
  package.json
  yarn.lock
Owners: @gizeasy

feat(Chips): add disabled and getItemDisabled props and styles
  src/components/Chips/Chips.tsx
  src/components/Chips/ChipsChoice/ChipsChoice.tsx
  src/components/Chips/ChipsChoice/types.ts
  src/components/Chips/ChipsItem/ChipsItem.css
  src/components/Chips/ChipsItem/ChipsItem.tsx
  src/components/Chips/__mocks__/mock.data.ts
  src/components/Chips/__stand__/Chips.dev.stand.mdx
  src/components/Chips/__stand__/variants/ChipsChoiceVariants.tsx
  src/components/Chips/__stand__/variants/ChipsItemVariant.tsx
  src/components/Chips/__stand__/variants/ChipsVariants.tsx
  src/components/Chips/helpers.ts
  src/components/Chips/types.ts
Owners: @gizeasy, @linturaven, @alyonurchick1

feat(Chips): itemDisabled check optimization
  src/components/Chips/Chips.tsx
Owners: @gizeasy

feat(Spoiler): add onOpenButtonClick
  src/components/Spoiler/Spoiler.tsx
  src/components/Spoiler/__stand__/Spoiler.dev.stand.mdx
  src/components/Spoiler/types.ts
Owners: @gizeasy, @alyonurchick1

docs(chips): update
  src/components/Chips/__stand__/Chips.dev.stand.mdx
Owners: @alyonurchick1

feat(Spoiler): mutableRef and useCallback for handleClick
  src/components/Spoiler/Spoiler.tsx
Owners: @gizeasy

feat(Spoiler): add default state (opened or closed) (#3546)
  src/components/Spoiler/Spoiler.tsx
  src/components/Spoiler/__stand__/Spoiler.dev.stand.mdx
  src/components/Spoiler/types.ts
Owners: @gizeasy, @alyonurchick1

feat(Chips): add disabled and getItemDisabled props and styles (#3565)
  src/components/Chips/Chips.tsx
  src/components/Chips/ChipsChoice/ChipsChoice.tsx
  src/components/Chips/ChipsChoice/types.ts
  src/components/Chips/ChipsItem/ChipsItem.css
  src/components/Chips/ChipsItem/ChipsItem.tsx
  src/components/Chips/__mocks__/mock.data.ts
  src/components/Chips/__stand__/Chips.dev.stand.mdx
  src/components/Chips/__stand__/variants/ChipsChoiceVariants.tsx
  src/components/Chips/__stand__/variants/ChipsItemVariant.tsx
  src/components/Chips/__stand__/variants/ChipsVariants.tsx
  src/components/Chips/helpers.ts
  src/components/Chips/types.ts
Owners: @gizeasy, @linturaven, @alyonurchick1

docs(chips): update (#3566)
  src/components/Chips/__stand__/Chips.dev.stand.mdx
Owners: @alyonurchick1

fix(Swith): fixed align circle
  src/components/Switch/Switch.css
Owners: @linturaven

feat(TextField): add onClear
  src/components/TextField/TextField.tsx
  src/components/TextField/__stand__/TextField.dev.stand.mdx
  src/components/TextField/__stand__/examples/TextFieldExampleMask/TextFieldExampleMask.tsx
  src/components/TextField/types.ts
Owners: @gizeasy, @alyonurchick1

fix(DateTimePicker): fixed clearButton logic
  src/components/DatePicker/DatePickerFieldTypeDate/DatePickerFieldTypeDate.tsx
  src/components/DatePicker/DatePickerFieldTypeDate/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeDateTime/DatePickerFieldTypeDateTime.tsx
  src/components/DatePicker/DatePickerFieldTypeDateTime/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeMonth/DatePickerFieldTypeMonth.tsx
  src/components/DatePicker/DatePickerFieldTypeMonth/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeTime/DatePickerFieldTypeTime.tsx
  src/components/DatePicker/DatePickerFieldTypeTime/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeYear/DatePickerFieldTypeYear.tsx
  src/components/DatePicker/DatePickerFieldTypeYear/helpers.ts
  src/components/DatePicker/helpers.ts
Owners: @gizeasy

docs(TextField): fix misprint
  src/components/TextField/__stand__/TextField.dev.stand.mdx
Owners: @alyonurchick1

Update Combobox.dev.stand.mdx
  src/components/Combobox/__stand__/Combobox.dev.stand.mdx
Owners: @alyonurchick1

feat(ChoiceGroup): add title for truncate
  src/components/ChoiceGroup/ChoiceGroup.tsx
  src/components/ChoiceGroup/Item/ChoiceGroup-Item.tsx
Owners: @gizeasy

fix(Swith): fixed align circle (#3590)
  src/components/Switch/Switch.css
Owners: @linturaven

docs(TextField, Combobox): fix misprint (#3595)
  src/components/Combobox/__stand__/Combobox.dev.stand.mdx
  src/components/TextField/__stand__/TextField.dev.stand.mdx
Owners: @alyonurchick1

feat(ChoiceGroup): add title for truncate (#3596)
  src/components/ChoiceGroup/ChoiceGroup.tsx
  src/components/ChoiceGroup/Item/ChoiceGroup-Item.tsx
Owners: @gizeasy

fix: docs
  src/components/TextField/__stand__/TextField.dev.stand.mdx
Owners: @alyonurchick1

feat(TextField): add onClear (#3593)
  src/components/TextField/TextField.tsx
  src/components/TextField/__stand__/TextField.dev.stand.mdx
  src/components/TextField/__stand__/examples/TextFieldExampleMask/TextFieldExampleMask.tsx
  src/components/TextField/types.ts
Owners: @gizeasy, @alyonurchick1
