Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @N1MBER, @BagenovA, @linturaven

.github/CODEOWNERS:

* @gizeasy @N1MBER 
*.md @BagenovA
*.mdx @BagenovA
*.css @linturaven

feat(Picture): added a new canary component (#3316)
  src/components/Grid/__stand__/Grid.dev.stand.mdx
  src/components/PictureCanary/PictureCanary.tsx
  src/components/PictureCanary/__mocks__/images/Dark/1000 dark.png
  src/components/PictureCanary/__mocks__/images/Dark/1000 dark@2x.png
  src/components/PictureCanary/__mocks__/images/Dark/1000 dark@3x.png
  src/components/PictureCanary/__mocks__/images/Dark/300 dark.png
  src/components/PictureCanary/__mocks__/images/Dark/300 dark@2x.png
  src/components/PictureCanary/__mocks__/images/Dark/300 dark@3x.png
  src/components/PictureCanary/__mocks__/images/Dark/700 dark.png
  src/components/PictureCanary/__mocks__/images/Dark/700 dark@2x.png
  src/components/PictureCanary/__mocks__/images/Dark/700 dark@3x.png
  src/components/PictureCanary/__mocks__/images/Default/1000 default.png
  src/components/PictureCanary/__mocks__/images/Default/1000 default@2x.png
  src/components/PictureCanary/__mocks__/images/Default/1000 default@3x.png
  src/components/PictureCanary/__mocks__/images/Default/300 default.png
  src/components/PictureCanary/__mocks__/images/Default/300 default@2x.png
  src/components/PictureCanary/__mocks__/images/Default/300 default@3x.png
  src/components/PictureCanary/__mocks__/images/Default/700 default.png
  src/components/PictureCanary/__mocks__/images/Default/700 default@2x.png
  src/components/PictureCanary/__mocks__/images/Default/700 default@3x.png
  src/components/PictureCanary/__mocks__/images/Display/1000 display.png
  src/components/PictureCanary/__mocks__/images/Display/1000 display@2x.png
  src/components/PictureCanary/__mocks__/images/Display/1000 display@3x.png
  src/components/PictureCanary/__mocks__/images/Display/300 display.png
  src/components/PictureCanary/__mocks__/images/Display/300 display@2x.png
  src/components/PictureCanary/__mocks__/images/Display/300 display@3x.png
  src/components/PictureCanary/__mocks__/images/Display/700 display.png
  src/components/PictureCanary/__mocks__/images/Display/700 display@2x.png
  src/components/PictureCanary/__mocks__/images/Display/700 display@3x.png
  src/components/PictureCanary/__stand__/Picture.dev.stand.mdx
  src/components/PictureCanary/__stand__/Picture.stand.mdx
  src/components/PictureCanary/__stand__/Picture.stand.tsx
  src/components/PictureCanary/__stand__/Picture.variants.tsx
  src/components/PictureCanary/__stand__/examples/PictureExample/PictureExample.tsx
  src/components/PictureCanary/__stand__/examples/PictureExampleGetImageSettings/PictureExampleGetImageSettings.tsx
  src/components/PictureCanary/__stand__/examples/PictureExampleResizeMode/PictureExampleResizeMode.css
  src/components/PictureCanary/__stand__/examples/PictureExampleResizeMode/PictureExampleResizeMode.tsx
  src/components/PictureCanary/helper.ts
  src/components/PictureCanary/index.ts
  src/components/PictureCanary/types.ts
Owners: @BagenovA, @gizeasy, @N1MBER, @linturaven

fix(Pagination): fix docs
  src/components/PaginationCanary/__stand__/Pagination.dev.stand.mdx
Owners: @BagenovA

fix(Tabs): fix navigation
  src/components/Tabs/MoreItems/TabsMoreItems.tsx
Owners: @gizeasy, @N1MBER

fix(Pagination): rewrite arrow types
  src/components/PaginationCanary/PaginationCanary.tsx
  src/components/PaginationCanary/__stand__/Pagination.dev.stand.mdx
  src/components/PaginationCanary/types.ts
Owners: @gizeasy, @N1MBER, @BagenovA

fix
  src/components/CheckboxGroup/__stand__/CheckboxGroup.variants.tsx
  src/components/CheckboxGroup/__stand__/examples/CheckboxGroupExampleAlign/CheckboxGroupExampleAlign.tsx
Owners: @gizeasy, @N1MBER

fix(DragNDropField): fixed DragNDropFieldTooltip
  src/components/DragNDropField/DragNDropFieldTooltip/DragNDropFieldTooltip.tsx
Owners: @gizeasy, @N1MBER

fix(DragNDropField): fixed DragNDropFieldTooltip (#3391)
  src/components/DragNDropField/DragNDropFieldTooltip/DragNDropFieldTooltip.tsx
Owners: @gizeasy, @N1MBER

fix(useHideElementsInLine): remove console.log
  src/hooks/useHideElementsInLineCanary/useHideElementsInLineCanary.ts
Owners: @gizeasy, @N1MBER

fix(Tabs): fix keyboard navigation (#3383)
  src/components/Tabs/FitModeDropdownWrapper/TabsFitModeDropdownWrapper.tsx
  src/components/Tabs/FitModeScrollWrapper/TabsFitModeScrollWrapper.tsx
  src/components/Tabs/MoreItems/TabsMoreItems.css
  src/components/Tabs/MoreItems/TabsMoreItems.tsx
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/types.ts
Owners: @gizeasy, @N1MBER, @linturaven

fix(useHideElementsInLine): remove console.log (#3392)
  src/hooks/useHideElementsInLineCanary/useHideElementsInLineCanary.ts
Owners: @gizeasy, @N1MBER

feat(PaginationCanary): added new canary component (#3355)
  src/components/PaginationCanary/Pagination.css
  src/components/PaginationCanary/PaginationArrow/PaginationArrow.css
  src/components/PaginationCanary/PaginationArrow/PaginationArrow.tsx
  src/components/PaginationCanary/PaginationArrow/index.ts
  src/components/PaginationCanary/PaginationBase/PaginationBase.css
  src/components/PaginationCanary/PaginationBase/PaginationBase.tsx
  src/components/PaginationCanary/PaginationBase/index.ts
  src/components/PaginationCanary/PaginationCanary.tsx
  src/components/PaginationCanary/PaginationItem/PaginationItem.css
  src/components/PaginationCanary/PaginationItem/PaginationItem.tsx
  src/components/PaginationCanary/PaginationItem/index.ts
  src/components/PaginationCanary/PaginationList/PaginationList.css
  src/components/PaginationCanary/PaginationList/PaginationList.tsx
  src/components/PaginationCanary/PaginationList/index.ts
  src/components/PaginationCanary/PaginationNumberInput/PaginationNumberInput.css
  src/components/PaginationCanary/PaginationNumberInput/PaginationNumberInput.tsx
  src/components/PaginationCanary/PaginationNumberInput/index.ts
  src/components/PaginationCanary/__stand__/Pagination.dev.stand.mdx
  src/components/PaginationCanary/__stand__/Pagination.image.svg
  src/components/PaginationCanary/__stand__/Pagination.stand.mdx
  src/components/PaginationCanary/__stand__/Pagination.stand.tsx
  src/components/PaginationCanary/__stand__/Pagination.variants.css
  src/components/PaginationCanary/__stand__/Pagination.variants.tsx
  src/components/PaginationCanary/__stand__/examples/PaginationBaseExample/PaginationBaseExample.tsx
  src/components/PaginationCanary/__stand__/examples/PaginationBaseExampleCustom/PaginationBaseExampleCustom.tsx
  src/components/PaginationCanary/__stand__/examples/PaginationExample/PaginationExample.tsx
  src/components/PaginationCanary/__stand__/examples/PaginationExampleAdaptivity/PaginationExampleAdaptivity.tsx
  src/components/PaginationCanary/__stand__/examples/PaginationExampleArrows/PaginationExampleArrows.tsx
  src/components/PaginationCanary/__stand__/examples/PaginationExampleFirstLastItem/PaginationExampleFirstLastItem.tsx
  src/components/PaginationCanary/__stand__/examples/PaginationExampleForm/PaginationExampleForm.tsx
  src/components/PaginationCanary/__stand__/examples/PaginationExampleHotKeys/PaginationExampleHotKeys.tsx
  src/components/PaginationCanary/__stand__/examples/PaginationExampleOuterMostArrows/PaginationExampleOuterMostArrows.tsx
  src/components/PaginationCanary/__stand__/examples/PaginationExampleSize/PaginationExampleSize.tsx
  src/components/PaginationCanary/__stand__/examples/PaginationExampleType/PaginationExampleType.tsx
  src/components/PaginationCanary/__stand__/examples/PaginationExampleVisibleCount/PaginationExampleVisibleCount.tsx
  src/components/PaginationCanary/helpers.ts
  src/components/PaginationCanary/index.ts
  src/components/PaginationCanary/types.ts
  src/components/PaginationCanary/usePaginationItems.tsx
  src/components/PaginationCanary/usePaginationKeys.tsx
Owners: @linturaven, @gizeasy, @N1MBER, @BagenovA

fix(Tabs): fix vertical view
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/TabsFitModeDropdownWrapper/TabsFitModeDropdownWrapper.css
  src/components/Tabs/TabsFitModeDropdownWrapper/TabsFitModeDropdownWrapper.tsx
  src/components/Tabs/TabsFitModeDropdownWrapper/__tests__/useFittingItems.ts
  src/components/Tabs/TabsFitModeDropdownWrapper/useFittingItems.ts
  src/components/Tabs/TabsFitModeScrollWrapper/TabsFitModeScrollWrapper.css
  src/components/Tabs/TabsFitModeScrollWrapper/TabsFitModeScrollWrapper.tsx
  src/components/Tabs/TabsFitModeScrollWrapper/__test__/helpers.test.ts
  src/components/Tabs/TabsLine/TabsLine.css
  src/components/Tabs/TabsLine/TabsLine.tsx
  src/components/Tabs/TabsListWrapper/TabsListWrapper.tsx
  src/components/Tabs/TabsListWrapper/index.ts
  src/components/Tabs/TabsMoreItems/TabsMoreItems.css
  src/components/Tabs/TabsMoreItems/TabsMoreItems.tsx
  src/components/Tabs/TabsTab/TabsTab.css
  src/components/Tabs/TabsTab/TabsTab.tsx
  src/components/Tabs/helpers.tsx
  src/components/Tabs/index.ts
Owners: @gizeasy, @N1MBER, @linturaven

feat(PaginationCanary): refactor component
  src/components/PaginationCanary/PaginationNumberInput/PaginationNumberInput.css
  src/components/PaginationCanary/PaginationNumberInput/PaginationNumberInput.tsx
  src/components/PaginationCanary/types.ts
  src/components/Tabs/MoreItems/TabsMoreItems.tsx
Owners: @linturaven, @gizeasy, @N1MBER

fix(Skeleton): fix proxying props
  src/components/Skeleton/SkeletonBrick/SkeletonBrick.tsx
  src/components/Skeleton/SkeletonCircle/SkeletonCircle.tsx
  src/components/Skeleton/SkeletonText/SkeletonText.tsx
Owners: @gizeasy, @N1MBER

fix(Tabs): fix vertical view (#3394)
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/TabsFitModeDropdownWrapper/TabsFitModeDropdownWrapper.css
  src/components/Tabs/TabsFitModeDropdownWrapper/TabsFitModeDropdownWrapper.tsx
  src/components/Tabs/TabsFitModeDropdownWrapper/__tests__/useFittingItems.ts
  src/components/Tabs/TabsFitModeDropdownWrapper/useFittingItems.ts
  src/components/Tabs/TabsFitModeScrollWrapper/TabsFitModeScrollWrapper.css
  src/components/Tabs/TabsFitModeScrollWrapper/TabsFitModeScrollWrapper.tsx
  src/components/Tabs/TabsFitModeScrollWrapper/__test__/helpers.test.ts
  src/components/Tabs/TabsLine/TabsLine.css
  src/components/Tabs/TabsLine/TabsLine.tsx
  src/components/Tabs/TabsListWrapper/TabsListWrapper.tsx
  src/components/Tabs/TabsListWrapper/index.ts
  src/components/Tabs/TabsMoreItems/TabsMoreItems.css
  src/components/Tabs/TabsMoreItems/TabsMoreItems.tsx
  src/components/Tabs/TabsTab/TabsTab.css
  src/components/Tabs/TabsTab/TabsTab.tsx
  src/components/Tabs/helpers.tsx
  src/components/Tabs/index.ts
Owners: @gizeasy, @N1MBER, @linturaven

feat(Skeleton): add HTMLAttributes (#3396)
  src/components/Grid/__stand__/Grid.dev.stand.mdx
  src/components/Skeleton/SkeletonBrick/SkeletonBrick.tsx
  src/components/Skeleton/SkeletonCircle/SkeletonCircle.tsx
  src/components/Skeleton/SkeletonText/SkeletonText.tsx
Owners: @BagenovA, @gizeasy, @N1MBER

release: 4.33.0
  package.json
Owners: @gizeasy, @N1MBER

changelog: 4.33.0
  CHANGELOG.md
Owners: @BagenovA

fix(Tabs): fixed error at empty items
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/TabsListWrapper/TabsListWrapper.tsx
Owners: @gizeasy, @N1MBER

fix(Tabs): fixed error at empty items (#3398)
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/TabsListWrapper/TabsListWrapper.tsx
Owners: @gizeasy, @N1MBER

release: 4.33.1
  package.json
Owners: @gizeasy, @N1MBER

changelog: 4.33.1
  CHANGELOG.md
Owners: @BagenovA

Update useResizableContent.stand.mdx
  src/hooks/useResizableContentCanary/__stand__/useResizableContent.stand.mdx
Owners: @BagenovA

Update useStyleProps.stand.mdx
  src/hooks/useStyleProps/__stand__/useStyleProps.stand.mdx
Owners: @BagenovA

fix
  src/hooks/useHideElementsInLine/__stand__/useHideElementsInLine.stand.tsx
  src/hooks/useHideElementsInLineDepricated/__stand__/useHideElementsInLine.stand.tsx
  src/hooks/useStyleProps/__stand__/useStyleProps.stand.tsx
  src/hooks/useVirtualScroll/__stand__/useVirtualScroll.stand.tsx
Owners: @gizeasy, @N1MBER

fix
  src/hooks/useThemeVars/__stand__/useThemeVars.stand.mdx
  src/hooks/useThemeVars/__stand__/useThemeVars.stand.tsx
  src/hooks/useThemeVars/helpers.ts
  src/hooks/useThemeVars/index.ts
  src/hooks/useThemeVars/useThemeVars.ts
Owners: @BagenovA, @gizeasy, @N1MBER

fix
  package.json
  yarn.lock
Owners: @gizeasy, @N1MBER

Docs: fix typos (#3399)
  src/hooks/useResizableContentCanary/__stand__/useResizableContent.stand.mdx
  src/hooks/useStyleProps/__stand__/useStyleProps.stand.mdx
Owners: @BagenovA

update deps
  package.json
  yarn.lock
Owners: @gizeasy, @N1MBER

fix: typo
  src/hooks/useStyleProps/__stand__/useStyleProps.stand.mdx
  src/hooks/useThemeVars/__stand__/useThemeVars.stand.mdx
Owners: @BagenovA

fix: typo (#3404)
  src/hooks/useStyleProps/__stand__/useStyleProps.stand.mdx
  src/hooks/useThemeVars/__stand__/useThemeVars.stand.mdx
Owners: @BagenovA

fix
  .github/workflows/deploy.yml
  .github/workflows/tests.yml
Owners: @gizeasy, @N1MBER

feat(hooks):add block body scroll hook
  src/hooks/useBlockBodyScroll/index.ts
  src/hooks/useBlockBodyScroll/useBlockBodyScroll.ts
Owners: @gizeasy, @N1MBER

Исправила стилистику
  src/components/ChipsCanary/__stand__/Chips.stand.tsx
Owners: @gizeasy, @N1MBER

feat(test): test
  .gitattributes
Owners: @gizeasy, @N1MBER

docs(Chips): test
  .eslintrc.js
Owners: @gizeasy, @N1MBER

chore(.eslintrc): edit config
  .eslintrc.js
Owners: @gizeasy, @N1MBER

feat: docs
  .eslintrc.js
  package.json
  src/docs/start/start.stand.mdx
  yarn.lock
Owners: @gizeasy, @N1MBER, @BagenovA

fix(DatePicker): fixed mask
  package.json
  src/components/DatePicker/DatePickerFieldTypeDate/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeDateTime/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeMonth/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeTime/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeYear/helpers.ts
Owners: @gizeasy, @N1MBER

Update package.json
  package.json
Owners: @gizeasy, @N1MBER
