Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @alyonurchick1, @linturaven

fix(DatePicker): fixed clearButton logic (#3594)
  src/components/DatePicker/DatePickerFieldTypeDate/DatePickerFieldTypeDate.tsx
  src/components/DatePicker/DatePickerFieldTypeDate/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeDateTime/DatePickerFieldTypeDateTime.tsx
  src/components/DatePicker/DatePickerFieldTypeDateTime/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeMonth/DatePickerFieldTypeMonth.tsx
  src/components/DatePicker/DatePickerFieldTypeMonth/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeTime/DatePickerFieldTypeTime.tsx
  src/components/DatePicker/DatePickerFieldTypeTime/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeYear/DatePickerFieldTypeYear.tsx
  src/components/DatePicker/DatePickerFieldTypeYear/helpers.ts
  src/components/DatePicker/helpers.ts
Owners: @gizeasy

feat(UserSelect): edit disable style
  src/components/UserSelect/UserSelectItem/UserSelectItem.css
  src/components/UserSelect/UserSelectItem/UserSelectItem.tsx
Owners: @linturaven, @gizeasy

fix(Badge): fixed spaces
  src/components/Badge/Badge.css
  src/components/Badge/Badge.tsx
  src/components/Badge/__stand__/Badge.variants.tsx
Owners: @linturaven, @gizeasy

fix(TextField): fixed ClearButton for type number
  src/components/TextField/TextField.tsx
Owners: @gizeasy

feat(DragNDropFieldCanary): create new DragNDropField component
  package.json
  src/components/DragNDropFieldCanary/DragNDropField.css
  src/components/DragNDropFieldCanary/DragNDropFieldCanary.tsx
  src/components/DragNDropFieldCanary/DragNDropFieldContent/DragNDropFieldContent.css
  src/components/DragNDropFieldCanary/DragNDropFieldContent/DragNDropFieldContent.tsx
  src/components/DragNDropFieldCanary/DragNDropFieldContent/__tests__/formatFileRequirements.ts
  src/components/DragNDropFieldCanary/DragNDropFieldContent/formatFileRequirements.ts
  src/components/DragNDropFieldCanary/DragNDropFieldInformer/DragNDropFieldInformer.tsx
  src/components/DragNDropFieldCanary/DragNDropFieldInformer/Informer.css
  src/components/DragNDropFieldCanary/DragNDropFieldInformer/index.ts
  src/components/DragNDropFieldCanary/__stand__/DragNDropField.dev.stand.mdx
  src/components/DragNDropFieldCanary/__stand__/DragNDropField.image.svg
  src/components/DragNDropFieldCanary/__stand__/DragNDropField.stand.mdx
  src/components/DragNDropFieldCanary/__stand__/DragNDropField.stand.tsx
  src/components/DragNDropFieldCanary/__stand__/DragNDropField.variants.tsx
  src/components/DragNDropFieldCanary/__stand__/DragNDropFieldVariants.css
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleAccept/DragNDropFieldExampleAccept.tsx
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleAccept/images/wrong_file_format.png
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleChildren/DragNDropFieldExampleChildren.tsx
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleErrorMessages/DragNDropFieldExampleErrorMessages.tsx
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleMaxSize/DragNDropFieldExampleMaxSize.tsx
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleMaxSize/images/too_big_file.png
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleMultiple/DragNDropFieldExampleMultiple.tsx
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleMultiple/images/too_many_files.png
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleOnDropFiles/DragNDropFieldExampleOnDropFiles.tsx
  src/components/DragNDropFieldCanary/__tests__/formatFileSize.test.ts
  src/components/DragNDropFieldCanary/__tests__/getErrorsList.test.ts
  src/components/DragNDropFieldCanary/formatFileSize.ts
  src/components/DragNDropFieldCanary/getErrorsList.ts
  src/components/DragNDropFieldCanary/index.ts
  src/components/DragNDropFieldCanary/locale.ts
  src/components/DragNDropFieldCanary/types.ts
Owners: @gizeasy, @linturaven, @alyonurchick1

feat(UserSelect): edit disable style (#3597)
  src/components/UserSelect/UserSelectItem/UserSelectItem.css
  src/components/UserSelect/UserSelectItem/UserSelectItem.tsx
Owners: @linturaven, @gizeasy

fix(Badge): fixed spaces (#3598)
  src/components/Badge/Badge.css
  src/components/Badge/Badge.tsx
  src/components/Badge/__stand__/Badge.variants.tsx
Owners: @linturaven, @gizeasy

fix(TextField): fixed ClearButton for type number (#3599)
  src/components/TextField/TextField.tsx
Owners: @gizeasy

feat(DragNDropField): ts-nocheck
  src/components/DragNDropField/DragNDropField.tsx
  src/components/DragNDropFieldCanary/DragNDropFieldContent/__tests__/formatFileRequirements.ts
  src/components/DragNDropFieldCanary/__stand__/DragNDropField.dev.stand.mdx
  src/components/DragNDropFieldCanary/__stand__/DragNDropField.stand.mdx
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleAccept/DragNDropFieldExampleAccept.tsx
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleAccept/images/wrong_file_format.png
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleChildren/DragNDropFieldExampleChildren.tsx
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleErrorMessages/DragNDropFieldExampleErrorMessages.tsx
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleMaxSize/DragNDropFieldExampleMaxSize.tsx
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleMaxSize/images/too_big_file.png
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleMultiple/DragNDropFieldExampleMultiple.tsx
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleMultiple/images/too_many_files.png
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleOnDropFiles/DragNDropFieldExampleOnDropFiles.tsx
  src/components/DragNDropFieldCanary/__tests__/formatFileSize.test.ts
  src/components/DragNDropFieldCanary/__tests__/getErrorsList.test.ts
Owners: @gizeasy, @alyonurchick1

feat(DragNDropFieldCanary): fix typings, styles, change render logic
  src/components/DragNDropFieldCanary/DragNDropFieldCanary.tsx
  src/components/DragNDropFieldCanary/DragNDropFieldContent/DragNDropFieldContent.tsx
  src/components/DragNDropFieldCanary/DragNDropFieldContent/formatFileRequirements.ts
  src/components/DragNDropFieldCanary/DragNDropFieldInformer/DragNDropFieldInformer.css
  src/components/DragNDropFieldCanary/DragNDropFieldInformer/DragNDropFieldInformer.tsx
  src/components/DragNDropFieldCanary/__stand__/DragNDropFieldVariants.css
  src/components/DragNDropFieldCanary/locale.ts
  src/components/DragNDropFieldCanary/types.ts
Owners: @gizeasy, @linturaven

fix(Table): fix docs
  src/components/Table/__stand__/Table.dev.stand.mdx
Owners: @alyonurchick1

fix(Table): fix docs (#3607)
  src/components/Table/__stand__/Table.dev.stand.mdx
Owners: @alyonurchick1

feat(DragNDropField): add formating accept for new react-dropzone
  src/components/DragNDropField/DragNDropField.tsx
  src/components/DragNDropField/formatAccept.ts
  src/components/DragNDropFieldCanary/__stand__/DragNDropField.variants.tsx
Owners: @gizeasy

feat(DragNDropField): add documentation for DragDropField
  src/components/DragNDropFieldCanary/DragNDropFieldCanary.tsx
  src/components/DragNDropFieldCanary/DragNDropFieldContent/DragNDropFieldContent.css
  src/components/DragNDropFieldCanary/DragNDropFieldContent/DragNDropFieldContent.tsx
  src/components/DragNDropFieldCanary/DragNDropFieldInformer/DragNDropFieldInformer.css
  src/components/DragNDropFieldCanary/DragNDropFieldInformer/DragNDropFieldInformer.tsx
  src/components/DragNDropFieldCanary/__stand__/DragNDropField.dev.stand.mdx
  src/components/DragNDropFieldCanary/__stand__/DragNDropField.variants.tsx
  src/components/DragNDropFieldCanary/__stand__/DragNDropFieldVariants.css
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleAccept/DragNDropFieldExampleAccept.tsx
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleChildren/DragNDropFieldExampleChildren.tsx
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleErrorMessages/DragNDropFieldExampleErrorMessages.tsx
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleInformer/DragNDropFieldExampleInformer.tsx
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleMaxSize/DragNDropFieldExampleMaxSize.tsx
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleMultiple/DragNDropFieldExampleMultiple.tsx
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleOnDropAccepted/DragNDropFieldExampleOnDropAccepted.css
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleOnDropAccepted/DragNDropFieldExampleOnDropAccepted.tsx
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleOnDropRejected/DragNDropFieldExampleOnDropRejected.css
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleOnDropRejected/DragNDropFieldExampleOnDropRejected.tsx
  src/components/DragNDropFieldCanary/getErrorsList.ts
  src/components/DragNDropFieldCanary/locale.ts
  src/components/DragNDropFieldCanary/types.ts
Owners: @gizeasy, @linturaven, @alyonurchick1

fix(DragNDropField): fix Locale imports
  src/components/DragNDropFieldCanary/DragNDropFieldContent/formatFileRequirements.ts
  src/components/DragNDropFieldCanary/formatFileSize.ts
Owners: @gizeasy

fix(DatePicker): fix calling onDropdownOpen on mount event (#3559)
  src/components/DatePicker/useCalendarVisible.ts
Owners: @gizeasy

fix(DatePicker): fix calling onDropdownOpen on mount event (#3559)
  src/components/DatePicker/useCalendarVisible.ts
Owners: @gizeasy

fix(DatePicker): fix calling onDropdownOpen on mount event (#3559)
  src/components/DatePicker/useCalendarVisible.ts
Owners: @gizeasy

fix(DatePicker): fix calling onDropdownOpen on mount event (#3559) (#3629)
  src/components/DatePicker/useCalendarVisible.ts
Owners: @gizeasy

feat(DragNDropField): add onDrop, fix accept examples, minor style fix
  src/components/DragNDropFieldCanary/DragNDropFieldCanary.tsx
  src/components/DragNDropFieldCanary/DragNDropFieldContent/formatFileRequirements.ts
  src/components/DragNDropFieldCanary/DragNDropFieldInformer/DragNDropFieldInformer.css
  src/components/DragNDropFieldCanary/__stand__/DragNDropField.dev.stand.mdx
  src/components/DragNDropFieldCanary/__stand__/DragNDropField.variants.tsx
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleAccept/DragNDropFieldExampleAccept.tsx
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleCallback/DragNDropFieldExampleCallback.tsx
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleOnDropRejected/DragNDropFieldExampleOnDropRejected.tsx
  src/components/DragNDropFieldCanary/types.ts
Owners: @gizeasy, @linturaven, @alyonurchick1

chore(builder): fix build for Windows OS
  scripts/generateReExports.js
  scripts/helpers/generateReExportsFonts/index.js
  scripts/helpers/index.js
  scripts/helpers/join.js
  scripts/preBuild.js
Owners: @gizeasy

feat(DragNDropField): documentation review
  src/components/DragNDropFieldCanary/__stand__/DragNDropField.dev.stand.mdx
  src/components/DragNDropFieldCanary/__stand__/DragNDropField.stand.mdx
  src/components/DragNDropFieldCanary/__stand__/DragNDropField.stand.tsx
Owners: @alyonurchick1, @gizeasy

Update DragNDropField.dev.stand.mdx
  src/components/DragNDropFieldCanary/__stand__/DragNDropField.dev.stand.mdx
Owners: @alyonurchick1

Update DragNDropField.dev.stand.mdx
  src/components/DragNDropFieldCanary/__stand__/DragNDropField.dev.stand.mdx
Owners: @alyonurchick1

Update DragNDropField.dev.stand.mdx
  src/components/DragNDropFieldCanary/__stand__/DragNDropField.dev.stand.mdx
Owners: @alyonurchick1

Update DragNDropField.stand.tsx
  src/components/DragNDropFieldCanary/__stand__/DragNDropField.stand.tsx
Owners: @gizeasy

Исправление по комментариям в PR
  src/components/DragNDropFieldCanary/__stand__/DragNDropField.dev.stand.mdx
  src/components/DragNDropFieldCanary/__stand__/DragNDropField.stand.mdx
  src/components/DragNDropFieldCanary/__stand__/DragNDropField.stand.tsx
Owners: @alyonurchick1, @gizeasy

ааа
  src/components/DragNDropFieldCanary/DragNDropFieldCanary.tsx
  src/components/DragNDropFieldCanary/DragNDropFieldContent/DragNDropFieldContent.tsx
  src/components/DragNDropFieldCanary/DragNDropFieldContent/index.ts
  src/components/DragNDropFieldCanary/__stand__/DragNDropField.dev.stand.mdx
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleAccept/DragNDropFieldExampleAccept.tsx
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleCallback/DragNDropFieldExampleCallback.tsx
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleChildren/DragNDropFieldExampleChildren.tsx
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleInformer/DragNDropFieldExampleInformer.tsx
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleMaxSize/DragNDropFieldExampleMaxSize.tsx
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleMultiple/DragNDropFieldExampleMultiple.tsx
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleOnDropAccepted/DragNDropFieldExampleOnDropAccepted.css
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleOnDropAccepted/DragNDropFieldExampleOnDropAccepted.tsx
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleWithInformer/DragNDropFieldExampleWithInformer.css
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleWithInformer/DragNDropFieldExampleWithInformer.tsx
  src/components/DragNDropFieldCanary/renderCildren.tsx
  src/components/DragNDropFieldCanary/types.ts
Owners: @gizeasy, @alyonurchick1, @linturaven

Косметические правки
  src/components/DragNDropFieldCanary/__stand__/DragNDropField.dev.stand.mdx
Owners: @alyonurchick1

chore(builder): fix build for Windows OS (#3632)
  scripts/generateReExports.js
  scripts/helpers/generateReExportsFonts/index.js
  scripts/helpers/index.js
  scripts/helpers/join.js
  scripts/preBuild.js
Owners: @gizeasy

feat(DragNDropFieldCanary): create new component (#3600)
  package.json
  src/components/DragNDropField/DragNDropField.tsx
  src/components/DragNDropField/formatAccept.ts
  src/components/DragNDropFieldCanary/DragNDropField.css
  src/components/DragNDropFieldCanary/DragNDropFieldCanary.tsx
  src/components/DragNDropFieldCanary/DragNDropFieldContent/DragNDropFieldContent.css
  src/components/DragNDropFieldCanary/DragNDropFieldContent/DragNDropFieldContent.tsx
  src/components/DragNDropFieldCanary/DragNDropFieldContent/formatFileRequirements.ts
  src/components/DragNDropFieldCanary/DragNDropFieldContent/index.ts
  src/components/DragNDropFieldCanary/DragNDropFieldInformer/DragNDropFieldInformer.css
  src/components/DragNDropFieldCanary/DragNDropFieldInformer/DragNDropFieldInformer.tsx
  src/components/DragNDropFieldCanary/DragNDropFieldInformer/index.ts
  src/components/DragNDropFieldCanary/__stand__/DragNDropField.dev.stand.mdx
  src/components/DragNDropFieldCanary/__stand__/DragNDropField.image.svg
  src/components/DragNDropFieldCanary/__stand__/DragNDropField.stand.mdx
  src/components/DragNDropFieldCanary/__stand__/DragNDropField.stand.tsx
  src/components/DragNDropFieldCanary/__stand__/DragNDropField.variants.tsx
  src/components/DragNDropFieldCanary/__stand__/DragNDropFieldVariants.css
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleAccept/DragNDropFieldExampleAccept.tsx
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleCallback/DragNDropFieldExampleCallback.tsx
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleChildren/DragNDropFieldExampleChildren.tsx
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleErrorMessages/DragNDropFieldExampleErrorMessages.tsx
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleInformer/DragNDropFieldExampleInformer.tsx
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleMaxSize/DragNDropFieldExampleMaxSize.tsx
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleMultiple/DragNDropFieldExampleMultiple.tsx
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleOnDropAccepted/DragNDropFieldExampleOnDropAccepted.css
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleOnDropAccepted/DragNDropFieldExampleOnDropAccepted.tsx
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleWithInformer/DragNDropFieldExampleWithInformer.css
  src/components/DragNDropFieldCanary/__stand__/examples/DragNDropFieldExampleWithInformer/DragNDropFieldExampleWithInformer.tsx
  src/components/DragNDropFieldCanary/formatFileSize.ts
  src/components/DragNDropFieldCanary/getErrorsList.ts
  src/components/DragNDropFieldCanary/index.ts
  src/components/DragNDropFieldCanary/locale.ts
  src/components/DragNDropFieldCanary/renderCildren.tsx
  src/components/DragNDropFieldCanary/types.ts
Owners: @gizeasy, @linturaven, @alyonurchick1

release: 5.3.0
  package.json
Owners: @gizeasy

changelog: 5.3.0
  CHANGELOG.md
Owners: @alyonurchick1

chore(builder): fix build
  scripts/generateReExports.js
Owners: @gizeasy

feat(DatePicker): add individual start-end placeholders for DatePicker in range formats
  src/components/DatePicker/DatePickerFieldTypeDateRange/DatePickerFieldTypeDateRange.tsx
  src/components/DatePicker/DatePickerFieldTypeDateRange/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeDateTimeRange/DatePickerFieldTypeDateTimeRange.tsx
  src/components/DatePicker/DatePickerFieldTypeDateTimeRange/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeMonthRange/DatePickerFieldTypeMonthRange.tsx
  src/components/DatePicker/DatePickerFieldTypeMonthRange/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeYearRange/DatePickerFieldTypeYearRange.tsx
  src/components/DatePicker/DatePickerFieldTypeYearRange/helpers.ts
  src/components/DatePicker/DatePickerTypeDateRange/DatePickerTypeDateRange.tsx
  src/components/DatePicker/DatePickerTypeDateTimeRange/DatePickerTypeDateTimeRange.tsx
  src/components/DatePicker/DatePickerTypeMonthRange/DatePickerTypeMonthRange.tsx
  src/components/DatePicker/DatePickerTypeYearRange/DatePickerTypeYearRange.tsx
  src/components/DatePicker/__stand__/DatePicker.dev.stand.mdx
  src/components/DatePicker/__stand__/examples/DatePickerExampleTwoFields/DatePickerExampleTwoFields.tsx
  src/components/DatePicker/types.ts
Owners: @gizeasy, @alyonurchick1

fix(button): add missing html form attribute
  src/components/Button/Button.tsx
Owners: @gizeasy

chore(button): rename htmlForm -> formId prop
  src/components/Button/Button.tsx
Owners: @gizeasy

fix(button): add missing html form attribute (#3664)
  src/components/Button/Button.tsx
Owners: @gizeasy

docs(ContextMenu): how-to-use
  src/components/ContextMenu/__stand__/ContextMenu.use.stand.mdx
  src/components/ContextMenu/__stand__/images/Frame3.image.svg
  src/components/ContextMenu/__stand__/images/Group8.image.svg
  src/components/ContextMenu/__stand__/images/group.image.svg
  src/components/ContextMenu/__stand__/images/hide.image.svg
  src/components/ContextMenu/__stand__/images/icons.image.svg
  src/components/ContextMenu/__stand__/images/submenu.image.svg
Owners: @alyonurchick1, @gizeasy

transparent background
  src/components/ContextMenu/__stand__/images/hide.image.svg
  src/components/ContextMenu/__stand__/images/submenu.image.svg
Owners: @gizeasy

.github/CODEOWNERS:

* @gizeasy
*.md @alyonurchick1
*.mdx @alyonurchick1
*.css @linturaven
