Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @alyonurchick1, @linturaven

chore(CI): run linters in github actions without autofix (#4155)
  package.json
  src/components/Theme/_font/Theme_font_gpnDefault.css
Owners: @gizeasy, @linturaven

docs(Tooltip): add doc for `container` prop
  src/components/Tooltip/__stand__/Tooltip.dev.stand.mdx
Owners: @alyonurchick1

docs(Tooltip): add doc for `container` prop (#4166)
  src/components/Tooltip/__stand__/Tooltip.dev.stand.mdx
Owners: @alyonurchick1

lint
  src/components/ColorPicker/ColorControl/ColorControl.css
  src/components/ColorPicker/ColorInputTypeChanger/ColorInputTypeChanger.css
  src/components/ColorPicker/ColorMarker/ColorMarker.css
  src/components/ColorPicker/ColorPicker/ColorPicker.css
  src/components/ColorPicker/ColorPickerAlpha/ColorPickerAlpha.css
  src/components/ColorPicker/ColorPickerHue/ColorPickerHue.css
  src/components/ColorPicker/ColorPickerInput/ColorPickerInput.css
  src/components/ColorPicker/ColorPickerInteractive/ColorPickerInteractive.css
  src/components/ColorPicker/ColorPickerPoint/ColorPickerPoint.css
  src/components/ColorPicker/ColorPickerRoot/ColorPickerRoot.css
  src/components/ColorPicker/ColorPickerSaturation/ColorPickerSaturation.css
  src/components/ColorPicker/__stand__/ColorPickerVariants.css
  src/components/Modal/ModalLayout/ModalLayout.css
Owners: @linturaven

Update convert.ts
  src/components/ColorPicker/utils/convert.ts
Owners: @gizeasy

chore(deps): update date-fns (#4165)
  package.json
  src/components/DatePicker/DatePickerDropdown/DatePickerDropdown.tsx
  src/components/DatePicker/DatePickerTypeDate/DatePickerTypeDate.tsx
  src/components/DatePicker/DatePickerTypeDateRange/DatePickerTypeDateRange.tsx
  src/components/DatePicker/DatePickerTypeDateTime/DatePickerTypeDateTime.tsx
  src/components/DatePicker/DatePickerTypeDateTimeRange/DatePickerTypeDateTimeRange.tsx
  src/components/DatePicker/DatePickerTypeMonth/DatePickerTypeMonth.tsx
  src/components/DatePicker/DatePickerTypeMonthRange/DatePickerTypeMonthRange.tsx
  src/components/DatePicker/__stand__/DatePicker.dev.stand.mdx
  src/components/DatePicker/__stand__/DatePicker.variants.tsx
  src/components/DatePicker/getChangeFnRange.ts
  src/components/DateTime/DateTime100YearSlider/DateTime100YearSlider.tsx
  src/components/DateTime/DateTime10YearSlider/DateTime10YearSlider.tsx
  src/components/DateTime/DateTimeTypeDate/DateTimeTypeDate.tsx
  src/components/DateTime/DateTimeTypeMonth/DateTimeTypeMonth.tsx
  src/components/DateTime/DateTimeTypeYear/DateTimeTypeYear.tsx
  src/components/DateTime/DateTimeYearSlider/DateTimeYearSlider.tsx
  src/components/DateTime/__stand__/DateTime.dev.stand.mdx
  src/components/DateTime/__stand__/DateTime.variants.tsx
  src/components/DateTime/__stand__/examples/DateTimeExampleDateMin/DateTimeExampleDateMin.tsx
  src/components/DateTime/__stand__/examples/DateTimeExampleEvents/DateTimeExampleEvents.tsx
  src/components/DateTime/__stand__/examples/DateTimeExampleLocale/DateTimeExampleLocale.tsx
  src/components/DateTime/__stand__/examples/DateTimeExampleView/DateTimeExampleView.tsx
  src/components/DateTime/__tests__/DateTime_type_date.test.tsx
  src/components/DateTime/__tests__/DateTime_type_dateTime.test.tsx
  src/components/DateTime/__tests__/DateTime_type_month.test.tsx
  src/components/DateTime/__tests__/getDaysOfMonth.test.ts
  src/components/DateTime/__tests__/getMonthsOfYear.test.ts
  src/components/DateTime/__tests__/getYearsOfDecade.test.ts
  src/components/DateTime/helpers/index.ts
  src/components/DateTime/helpers/types.ts
  src/components/Notification/helpers/defaultDateFormat.ts
  src/utils/date/index.ts
Owners: @gizeasy, @alyonurchick1

release: 5.32.0
  package.json
Owners: @gizeasy

changelog: 5.32.0
  CHANGELOG.md
Owners: @alyonurchick1

test(dragndrop): add explicit case-insensitive accept handling
  src/components/DragNDropField/__tests__/formatAccept.test.ts
  src/components/DragNDropField/formatAccept.ts
Owners: @gizeasy

feat(Attachment): re-export public types from component index
  src/components/Attachment/index.ts
Owners: @gizeasy

feat(EventInterceptor): re-export public types from component index
  src/components/EventInterceptor/index.ts
Owners: @gizeasy

feat(Loader): re-export public types from component index
  src/components/Loader/index.ts
Owners: @gizeasy

feat(Pagination): re-export public types from component index
  src/components/Pagination/index.ts
Owners: @gizeasy

feat(Picture): re-export public types from component index
  src/components/Picture/index.ts
Owners: @gizeasy

feat(ProgressLine): re-export public types from component index
  src/components/ProgressLine/index.ts
Owners: @gizeasy

refactor(ProgressStepBar): extract and export shared types via dedicated module
  src/components/ProgressStepBar/ProgressStepBar.tsx
  src/components/ProgressStepBar/ProgressStepBarItem/ProgressStepBarItem.tsx
  src/components/ProgressStepBar/ProgressStepBarLine/ProgressStepBarLine.tsx
  src/components/ProgressStepBar/__stand__/ProgressStepBar.variants.tsx
  src/components/ProgressStepBar/__tests__/ProgressStepBarItem.test.tsx
  src/components/ProgressStepBar/helpers.ts
  src/components/ProgressStepBar/index.ts
  src/components/ProgressStepBar/types.ts
Owners: @gizeasy

fix(useClickOutside): support shadow DOM click path (#4170)
  src/hooks/useClickOutside/__tests__/useClickOutside.test.tsx
  src/hooks/useClickOutside/useClickOutside.tsx
Owners: @gizeasy

chore(deps): remove unused tailwindcss dependency
  package.json
Owners: @gizeasy

chore(deps): remove unused tailwindcss dependency (#4172)
  package.json
Owners: @gizeasy

feat(Loader): re-export public types from component index
  src/components/Loader/index.ts
Owners: @gizeasy

refactor(ProgressStepBar): extract and export shared types via dedicated module
  src/components/ProgressStepBar/ProgressStepBar.tsx
  src/components/ProgressStepBar/ProgressStepBarItem/ProgressStepBarItem.tsx
  src/components/ProgressStepBar/ProgressStepBarLine/ProgressStepBarLine.tsx
  src/components/ProgressStepBar/__stand__/ProgressStepBar.variants.tsx
  src/components/ProgressStepBar/__tests__/ProgressStepBarItem.test.tsx
  src/components/ProgressStepBar/helpers.ts
  src/components/ProgressStepBar/index.ts
  src/components/ProgressStepBar/types.ts
Owners: @gizeasy

feat(Picture): re-export public types from component index
  src/components/Picture/index.ts
Owners: @gizeasy

feat(Attachment): re-export public types from component index
  src/components/Attachment/index.ts
Owners: @gizeasy

feat(EventInterceptor): re-export public types from component index
  src/components/EventInterceptor/index.ts
Owners: @gizeasy

feat(ProgressLine): re-export public types from component index
  src/components/ProgressLine/index.ts
Owners: @gizeasy

feat(Pagination): re-export public types from component index
  src/components/Pagination/index.ts
Owners: @gizeasy

Update ProgressStepBarItem.unit.tsx
  src/components/ProgressStepBar/__tests__/ProgressStepBarItem.unit.tsx
Owners: @gizeasy

Create mapping.unit.ts
  src/hooks/useBreakpoints/__tests__/mapping.unit.ts
Owners: @gizeasy

fix scoll to view
  src/components/AutoComplete/useAutoComplete.ts
  src/components/AutoCompleteCanary/useAutoComplete.ts
  src/components/FlatSelect/FlatSelectList/FlatSelectList.tsx
  src/components/FlatSelect/model/helpers.ts
  src/components/FlatSelect/model/model.tsx
  src/components/FlatSelect/useFlatSelect/helpers.ts
  src/components/FlatSelect/useFlatSelect/index.ts
  src/components/FlatSelect/useFlatSelect/useFlatSelect.tsx
  src/components/SelectCanary/model/model.ts
  src/components/SelectCanary/useSelect/helpers.ts
  src/components/SelectCanary/useSelect/useSelect.ts
  src/components/SelectComponents/useSelect/helpers.ts
  src/hooks/useSelect/helpers.ts
  src/utils/scrollIntoView.ts
Owners: @gizeasy

update reatom to v 1001
  package.json
  src/components/AutoCompleteCanary/useAutoComplete.ts
  src/components/SelectCanary/model/helpers.ts
  src/stand/standPageDecoration.tsx
Owners: @gizeasy

ввв
  src/stand/standPageDecoration.tsx
  src/utils/state/resizeObservedAtom/resizeObservedAtom.ts
  src/utils/state/virtualScrollEffect/helpers.ts
  src/utils/state/virtualScrollEffect/index.ts
  src/utils/state/virtualScrollEffect/useVirtualScroll.ts
  src/utils/state/virtualScrollEffect/virtualScrollEffect.ts
Owners: @gizeasy

xzcz
  src/utils/state/virtualScrollEffect/helpers.ts
  src/utils/state/virtualScrollEffect/virtualScrollEffect.ts
Owners: @gizeasy

fix(DatePicker): mask settings have been fixed for a more convenient experience
  src/components/DatePicker/DatePickerFieldTypeDate/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeMonth/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeYear/helpers.ts
  src/components/DatePicker/__tests__/DatePickerFieldTypeDateTime/DatePicker_field_type_dateTime_helpers.test.tsx
  src/components/DatePicker/__tests__/DatePickerFieldTypeTime/DatePicker_field_type_time_helpers.test.tsx
  src/components/DatePicker/__tests__/DatePicker_helpers.test.tsx
  src/components/DatePicker/helpers.ts
Owners: @gizeasy

fix(DatePicker): mask settings have been fixed for a more convenient experience (#4173)
  src/components/DatePicker/DatePickerFieldTypeDate/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeMonth/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeYear/helpers.ts
  src/components/DatePicker/__tests__/DatePickerFieldTypeDateTime/DatePicker_field_type_dateTime_helpers.test.tsx
  src/components/DatePicker/__tests__/DatePickerFieldTypeTime/DatePicker_field_type_time_helpers.test.tsx
  src/components/DatePicker/__tests__/DatePicker_helpers.test.tsx
  src/components/DatePicker/helpers.ts
Owners: @gizeasy

release: 5.33.0
  package.json
Owners: @gizeasy

changelog: 5.33.0
  CHANGELOG.md
Owners: @alyonurchick1

fix(deps): remove @consta/table
  package.json
Owners: @gizeasy

fix(deps): remove @consta/table (#4176)
  package.json
Owners: @gizeasy

changelog: 5.33.1
  CHANGELOG.md
  package.json
Owners: @alyonurchick1, @gizeasy

fix(Combobox): fix searchLabel and virtualScroll on React 19
  src/components/SelectComponents/SelectDropdown/SelectDropdown.tsx
  src/hooks/useVirtualScroll/helpers.ts
  src/utils/getGroups.ts
Owners: @gizeasy

.github/CODEOWNERS:

* @gizeasy
*.md @alyonurchick1
*.mdx @alyonurchick1
*.css @linturaven
