Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

.github/CODEOWNERS:

* @gizeasy @N1MBER 
*.md @arhayka @kolebayev
*.mdx @arhayka @kolebayev
*.css @kolebayev

fix(ProgressStepBar): fix line width for activeIndex
  src/components/ProgressStepBar/ProgressStepBarLine/ProgressStepBarLine.tsx
  src/components/ProgressStepBar/__stand__/ProgressStepBar.variants.tsx
  src/hooks/useScrollElements/useScrollElements.tsx
Owners: @gizeasy, @N1MBER

fix(TextField): hide browser eye on type='password'
  src/components/TextField/TextField.css
Owners: @kolebayev

fix(DateTime): fix month name
  src/components/DateTime/helpers/index.ts
Owners: @gizeasy, @N1MBER

fix(useFlag): rewrite toogle to toggle
  src/components/Breadcrumbs/BreadcrumbsItem/BreadcrumbsItem.tsx
  src/components/Breadcrumbs/BreadcrumbsMore/BreadcrumbsMore.tsx
  src/components/ContextMenu/__stand__/ContextMenu.variants.tsx
  src/components/ContextMenuDeprecated/__stand__/ContextMenu.dev.stand.mdx
  src/components/ContextMenuDeprecated/__stand__/examples/ContextMenuExampleGroups/ContextMenuExampleGroups.tsx
  src/components/ContextMenuDeprecated/__stand__/examples/ContextMenuExampleSide/ContextMenuExampleSide.tsx
  src/components/ContextMenuDeprecated/__stand__/examples/ContextMenuExampleSimple/ContextMenuExampleSimple.tsx
  src/components/ContextMenuDeprecated/__stand__/examples/ContextMenuExampleSize/ContextMenuExampleSize.tsx
  src/components/ContextMenuDeprecated/__stand__/examples/ContextMenuExampleSubMenu/ContextMenuExampleSubMenu.tsx
  src/components/Modal/__stand__/Modal.dev.stand.mdx
  src/components/Modal/__stand__/examples/ModalExampleZIndex/ModalExampleZIndex.tsx
  src/components/Popover/__stand__/Popover.variants.tsx
  src/components/Tabs/MoreItems/TabsMoreItems.tsx
  src/components/TabsDeprecated/MoreItems/TabsMoreItems.tsx
  src/components/TextField/TextField.tsx
  src/components/ThemeToggler/ThemeToggler.tsx
  src/components/Tooltip/__stand__/examples/TooltipPosition/TooltipPosition.tsx
  src/hooks/useFlag/useFlag.ts
  src/mixs/MixPopoverAnimate/__stand__/MixPopoverAnimate.stand.mdx
  src/mixs/MixPopoverAnimate/__stand__/examples/MixPopoverAnimateExample/MixPopoverAnimateExample.tsx
  src/mixs/MixPopoverAnimate/__stories__/MixPopoverAnimate.stories.mdx
  src/mixs/MixPopoverArrow/__stand__/MixPopoverArrow.stand.mdx
  src/mixs/MixPopoverArrow/__stand__/examples/MixPopoverArrowExample/MixPopoverArrowExample.tsx
  src/mixs/MixPopoverArrow/__stories__/MixPopoverArrow.stories.mdx
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

fix(DatePicker): fix field localization
  src/components/DatePicker/DatePickerFieldTypeDate/DatePickerFieldTypeDate.tsx
  src/components/DatePicker/DatePickerFieldTypeDate/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeDateRange/DatePickerFieldTypeDateRange.tsx
  src/components/DatePicker/DatePickerFieldTypeDateTime/DatePickerFieldTypeDateTime.tsx
  src/components/DatePicker/DatePickerFieldTypeDateTime/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeDateTimeRange/DatePickerFieldTypeDateTimeRange.tsx
  src/components/DatePicker/DatePickerFieldTypeMonth/DatePickerFieldTypeMonth.tsx
  src/components/DatePicker/DatePickerFieldTypeMonth/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeMonthRange/DatePickerFieldTypeMonthRange.tsx
  src/components/DatePicker/DatePickerFieldTypeTime/DatePickerFieldTypeTime.tsx
  src/components/DatePicker/DatePickerFieldTypeTime/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeYear/DatePickerFieldTypeYear.tsx
  src/components/DatePicker/DatePickerFieldTypeYear/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeYearRange/DatePickerFieldTypeYearRange.tsx
  src/components/DatePicker/DatePickerTypeDate/DatePickerTypeDate.tsx
  src/components/DatePicker/DatePickerTypeDateRange/DatePickerTypeDateRange.tsx
  src/components/DatePicker/DatePickerTypeDateTime/DatePickerTypeDateTime.tsx
  src/components/DatePicker/DatePickerTypeDateTimeRange/DatePickerTypeDateTimeRange.tsx
  src/components/DatePicker/DatePickerTypeMonth/DatePickerTypeMonth.tsx
  src/components/DatePicker/DatePickerTypeMonthRange/DatePickerTypeMonthRange.tsx
  src/components/DatePicker/DatePickerTypeTime/DatePickerTypeTime.tsx
  src/components/DatePicker/DatePickerTypeYear/DatePickerTypeYear.tsx
  src/components/DatePicker/DatePickerTypeYearRange/DatePickerTypeYearRange.tsx
Owners: @gizeasy, @N1MBER

docs(ContextMenu): add example of usage getItemOnClick
  src/components/ContextMenu/__stand__/ContextMenu.dev.stand.mdx
  src/components/ContextMenu/__stand__/examples/ContextMenuExampleOnClick/ContextMenuExampleOnClick.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

fix(DateTime): fix tests
  src/components/DateTime/__tests__/getMonthsOfYear.test.ts
Owners: @gizeasy, @N1MBER

docs(useComponentSize): correct mistakes
  src/hooks/useComponentSize/__stand__/useComponentSize.stand.mdx
Owners: @arhayka, @kolebayev

fix(Table): fix column width detecting (#2820)
  src/components/Table/Table.tsx
Owners: @gizeasy, @N1MBER

fix(TextField): hide browser eye on type='password' (#2833)
  src/components/TextField/TextField.css
Owners: @kolebayev

release: 4.6.2
  package.json
Owners: @gizeasy, @N1MBER

changelog: 4.6.2
  CHANGELOG.md
Owners: @arhayka, @kolebayev

docs(useComponentSize): add documentation for useComponentSize hook and also add sandbox for it (#2815)
  src/hooks/useComponentSize/__stand__/useComponentSize.stand.mdx
  src/hooks/useComponentSize/__stand__/useComponentSize.stand.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

fix(SnackBar): fix items animation
  src/components/SnackBar/SnackBar.css
  src/components/SnackBar/SnackBar.tsx
Owners: @kolebayev, @gizeasy, @N1MBER

fix(ProgressStepBar): fix line width for activeIndex (#2831)
  src/components/ProgressStepBar/ProgressStepBarLine/ProgressStepBarLine.tsx
  src/components/ProgressStepBar/__stand__/ProgressStepBar.variants.tsx
  src/hooks/useScrollElements/useScrollElements.tsx
Owners: @gizeasy, @N1MBER

fix(Snackbar, UserSelect): rewrite CssTransition to Transition (#2806)
  src/components/SnackBar/SnackBar.css
  src/components/SnackBar/SnackBar.tsx
  src/components/UserSelect/UserSelectItem/UserSelectItem.css
  src/components/UserSelect/UserSelectItem/UserSelectItem.tsx
Owners: @kolebayev, @gizeasy, @N1MBER

fix(DateTime): fix month name (#2835)
  src/components/DateTime/__tests__/getMonthsOfYear.test.ts
  src/components/DateTime/helpers/index.ts
Owners: @gizeasy, @N1MBER

docs(ContextMenu): add example of usage getItemOnClick (#2838)
  src/components/ContextMenu/__stand__/ContextMenu.dev.stand.mdx
  src/components/ContextMenu/__stand__/examples/ContextMenuExampleOnClick/ContextMenuExampleOnClick.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

fix(ProgressLine): fix classname
  src/components/ProgressLine/ProgressLine.tsx
Owners: @gizeasy, @N1MBER

Update jest.config.js
  jest.config.js
Owners: @gizeasy, @N1MBER

fix(Icons): fix tests for @consta/icons
  src/components/Breadcrumbs/__tests__/Breadcrumbs.test.tsx
  src/components/ContextMenu/__tests__/ContextMenu.test.tsx
Owners: @gizeasy, @N1MBER

fix(useFlag): marker toogle method as deprecatedd
  src/hooks/useFlag/useFlag.ts
Owners: @gizeasy, @N1MBER

fix(ProgressLine): fix classname (#2844)
  src/components/ProgressLine/ProgressLine.tsx
Owners: @gizeasy, @N1MBER

fix(useFlag): rewrite toogle to toggle (#2836)
  src/components/Breadcrumbs/BreadcrumbsItem/BreadcrumbsItem.tsx
  src/components/Breadcrumbs/BreadcrumbsMore/BreadcrumbsMore.tsx
  src/components/ContextMenu/__stand__/ContextMenu.variants.tsx
  src/components/ContextMenuDeprecated/__stand__/ContextMenu.dev.stand.mdx
  src/components/ContextMenuDeprecated/__stand__/examples/ContextMenuExampleGroups/ContextMenuExampleGroups.tsx
  src/components/ContextMenuDeprecated/__stand__/examples/ContextMenuExampleSide/ContextMenuExampleSide.tsx
  src/components/ContextMenuDeprecated/__stand__/examples/ContextMenuExampleSimple/ContextMenuExampleSimple.tsx
  src/components/ContextMenuDeprecated/__stand__/examples/ContextMenuExampleSize/ContextMenuExampleSize.tsx
  src/components/ContextMenuDeprecated/__stand__/examples/ContextMenuExampleSubMenu/ContextMenuExampleSubMenu.tsx
  src/components/Modal/__stand__/Modal.dev.stand.mdx
  src/components/Modal/__stand__/examples/ModalExampleZIndex/ModalExampleZIndex.tsx
  src/components/Popover/__stand__/Popover.variants.tsx
  src/components/Tabs/MoreItems/TabsMoreItems.tsx
  src/components/TabsDeprecated/MoreItems/TabsMoreItems.tsx
  src/components/TextField/TextField.tsx
  src/components/ThemeToggler/ThemeToggler.tsx
  src/components/Tooltip/__stand__/examples/TooltipPosition/TooltipPosition.tsx
  src/hooks/useFlag/useFlag.ts
  src/mixs/MixPopoverAnimate/__stand__/MixPopoverAnimate.stand.mdx
  src/mixs/MixPopoverAnimate/__stand__/examples/MixPopoverAnimateExample/MixPopoverAnimateExample.tsx
  src/mixs/MixPopoverAnimate/__stories__/MixPopoverAnimate.stories.mdx
  src/mixs/MixPopoverArrow/__stand__/MixPopoverArrow.stand.mdx
  src/mixs/MixPopoverArrow/__stand__/examples/MixPopoverArrowExample/MixPopoverArrowExample.tsx
  src/mixs/MixPopoverArrow/__stories__/MixPopoverArrow.stories.mdx
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

docs(useComponentSize): fix orthography
  src/hooks/useComponentSize/__stand__/useComponentSize.stand.mdx
Owners: @arhayka, @kolebayev

release: 4.6.3
  package.json
Owners: @gizeasy, @N1MBER

changelog: 4.6.3
  CHANGELOG.md
Owners: @arhayka, @kolebayev

fix(ListCanary): fix logic for list
  src/components/ListCanary/ListCanary.tsx
  src/components/ListCanary/ListItem/ListItem.css
  src/components/ListCanary/ListItem/ListItem.tsx
  src/components/ListCanary/ListWrapper/ListWrapper.tsx
  src/components/ListCanary/ListWrapper/index.tsx
  src/components/ListCanary/__stand__/List.dev.stand.mdx
  src/components/ListCanary/__stand__/List.variants.tsx
  src/components/ListCanary/__stand__/examples/ListExampleBasic/ListExampleBasic.tsx
  src/components/ListCanary/__stand__/examples/ListExampleCustomTypes/ListExampleCustomTypes.tsx
  src/components/ListCanary/__stand__/examples/ListExampleDisabled/ListExampleDisabled.tsx
  src/components/ListCanary/__stand__/examples/ListExampleDisabledItem/ListExampleDisabledItem.tsx
  src/components/ListCanary/__stand__/examples/ListExampleForm/ListExampleForm.css
  src/components/ListCanary/__stand__/examples/ListExampleForm/ListExampleForm.tsx
  src/components/ListCanary/__stand__/examples/ListExampleGroups/ListExampleGroups.tsx
  src/components/ListCanary/__stand__/examples/ListExampleItems/ListExampleItems.tsx
  src/components/ListCanary/__stand__/examples/ListExampleLoading/ListExampleLoading.tsx
  src/components/ListCanary/__stand__/examples/ListExampleMultiple/ListExampleMultiple.tsx
  src/components/ListCanary/__stand__/examples/ListExampleRenderItem/ListExampleRenderItem.tsx
  src/components/ListCanary/__stand__/examples/ListExampleSize/ListExampleSize.css
  src/components/ListCanary/__stand__/examples/ListExampleSize/ListExampleSize.tsx
  src/components/ListCanary/helper.ts
  src/components/ListCanary/index.tsx
  src/components/ListCanary/types.ts
Owners: @gizeasy, @N1MBER, @kolebayev, @arhayka

fix
  package.json
  yarn.lock
Owners: @gizeasy, @N1MBER

release: 4.6.4
  package.json
Owners: @gizeasy, @N1MBER

changelog: 4.6.4
  CHANGELOG.md
Owners: @arhayka, @kolebayev

fix(List): fix mistakes
  src/components/ListCanary/List.css
  src/components/ListCanary/ListGroupLabel/ListGroupLabel.css
  src/components/ListCanary/ListLoader/ListLoader.tsx
  src/components/ListCanary/MixList/MixList.css
  src/components/ListCanary/MixList/MixList.tsx
  src/components/ListCanary/MixList/index.tsx
  src/components/ListCanary/__stand__/List.dev.stand.mdx
  src/components/ListCanary/__stand__/List.variants.tsx
  src/components/ListCanary/__stand__/examples/ListAddItemExample/ListAddItemExample.tsx
  src/components/ListCanary/__stand__/examples/ListExampleBasic/ListExampleBasic.tsx
  src/components/ListCanary/__stand__/examples/ListExampleCustomTypes/ListExampleCustomTypes.tsx
  src/components/ListCanary/__stand__/examples/ListExampleDisabled/ListExampleDisabled.tsx
  src/components/ListCanary/__stand__/examples/ListExampleDisabledItem/ListExampleDisabledItem.tsx
  src/components/ListCanary/__stand__/examples/ListExampleForm/ListExampleForm.tsx
  src/components/ListCanary/__stand__/examples/ListExampleGroups/ListExampleGroups.tsx
  src/components/ListCanary/__stand__/examples/ListExampleItems/ListExampleItems.tsx
  src/components/ListCanary/__stand__/examples/ListExampleLoading/ListExampleLoading.tsx
  src/components/ListCanary/__stand__/examples/ListExampleRenderItem/ListExampleRenderItem.tsx
  src/components/ListCanary/__stand__/examples/ListExampleSize/ListExampleSize.tsx
  src/components/ListCanary/__stand__/examples/ListGroupLabelExample/ListGroupLabelExample.tsx
  src/components/ListCanary/__stand__/examples/ListItemExample/ListItemExample.tsx
  src/components/ListCanary/__stand__/examples/ListLoaderExample/ListLoaderExample.tsx
  src/components/ListCanary/helper.ts
  src/components/ListCanary/index.tsx
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

fix(List): fix examples and list item
  src/components/ListCanary/ListItem/ListItem.css
  src/components/ListCanary/ListItem/ListItem.tsx
  src/components/ListCanary/__stand__/List.dev.stand.mdx
  src/components/ListCanary/__stand__/List.stand.mdx
  src/components/ListCanary/__stand__/List.stand.tsx
  src/components/ListCanary/__stand__/examples/ListExampleForm/ListExampleForm.tsx
  src/components/ListCanary/__stand__/examples/ListExampleSize/ListExampleSize.tsx
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

fix(List): fix hover for list item
  src/components/ListCanary/ListCanary.tsx
  src/components/ListCanary/ListItem/ListItem.css
  src/components/ListCanary/__stand__/List.variants.tsx
Owners: @gizeasy, @N1MBER, @kolebayev

fix(List): fix docs and group example
  src/components/ListCanary/__stand__/List.dev.stand.mdx
  src/components/ListCanary/__stand__/List.stand.mdx
  src/components/ListCanary/__stand__/examples/ListGroupLabelExample/ListGroupLabelExample.css
  src/components/ListCanary/__stand__/examples/ListGroupLabelExample/ListGroupLabelExample.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

fix(List): remove form prop, add indent prop and fix mistakes in doc
  src/components/ListCanary/ListAddItem/ListAddItem.css
  src/components/ListCanary/ListCanary.tsx
  src/components/ListCanary/ListItem/ListItem.css
  src/components/ListCanary/ListLoader/ListLoader.css
  src/components/ListCanary/__stand__/List.dev.stand.mdx
  src/components/ListCanary/__stand__/List.variants.tsx
  src/components/ListCanary/__stand__/examples/ListExampleIndent/ListExampleIndent.tsx
  src/components/ListCanary/types.ts
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

feat(Radio): add `s`, `xs` sizes
  src/components/Radio/Radio.css
  src/components/Radio/Radio.tsx
  src/components/Radio/__stand__/Radio.dev.stand.mdx
  src/components/Radio/__stand__/examples/RadioExampleSize/RadioExampleSize.tsx
  src/components/RadioGroup/RadioGroup.css
  src/components/RadioGroup/__stand__/RadioGroup.dev.stand.mdx
  src/components/RadioGroup/__stand__/RadioGroup.variants.tsx
  src/components/RadioGroup/__stand__/examples/RadioGroupExampleSize/RadioGroupExampleSize.tsx
  src/components/RadioGroup/types.ts
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

fix
  src/components/Radio/__stand__/Radio.dev.stand.mdx
  src/components/RadioGroup/__stand__/RadioGroup.dev.stand.mdx
Owners: @arhayka, @kolebayev

fix
  src/components/Radio/__stand__/Radio.dev.stand.mdx
  src/components/RadioGroup/__stand__/RadioGroup.dev.stand.mdx
Owners: @arhayka, @kolebayev

feat(Radio): add `s`, `xs` sizes (#2859)
  src/components/Radio/Radio.css
  src/components/Radio/Radio.tsx
  src/components/Radio/__stand__/Radio.dev.stand.mdx
  src/components/Radio/__stand__/examples/RadioExampleSize/RadioExampleSize.tsx
  src/components/RadioGroup/RadioGroup.css
  src/components/RadioGroup/__stand__/RadioGroup.dev.stand.mdx
  src/components/RadioGroup/__stand__/RadioGroup.variants.tsx
  src/components/RadioGroup/__stand__/examples/RadioGroupExampleSize/RadioGroupExampleSize.tsx
  src/components/RadioGroup/types.ts
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka
