Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

chore(package): update stand version
  package.json
Owners: @gizeasy, @N1MBER

dd
  yarn.lock
Owners: @gizeasy, @N1MBER

docs: add variants
  src/components/Badge/__stand__/Badge.dev.stand.mdx
  src/components/Badge/__stand__/Badge.stand.mdx
  src/components/Badge/__stand__/Badge.variants.tsx
  src/components/Badge/__stand__/examples/BadgeExampleForm/BadgeExampleForm.tsx
  src/components/Badge/__stand__/examples/BadgeExampleIcon/BadgeExampleIcon.tsx
  src/components/Badge/__stand__/examples/BadgeExampleMinified/BadgeExampleMinified.tsx
  src/components/Badge/__stand__/examples/BadgeExampleSize/BadgeExampleSize.tsx
  src/components/Badge/__stand__/examples/BadgeExampleStatus/BadgeExampleStatus.tsx
  src/components/Badge/__stand__/examples/BadgeExampleUse/BadgeExampleUse.tsx
  src/components/Badge/__stand__/examples/BadgeExampleView/BadgeExampleView.tsx
  src/components/Breadcrumbs/__stand__/Breadcrumbs.variants.tsx
  src/components/BreadcrumbsDeprecated/__stand__/Breadcrumbs.variants.tsx
  src/components/Button/__stand__/Button.variants.tsx
  src/components/Card/__stand__/Card.variants.tsx
  src/components/Checkbox/__stand__/Checkbox.variants.tsx
  src/components/CheckboxGroup/__stand__/CheckboxGroup.variants.tsx
  src/components/CheckboxGroupDeprecated/__stand__/CheckboxGroup.variants.tsx
  src/components/ChoiceGroup/__stand__/ChoiceGroup.variants.tsx
  src/components/ChoiceGroupDeprecated/__stand__/ChoiceGroup.variants.tsx
  src/components/Collapse/__stand__/Collapse.variants.tsx
  src/components/CollapseGroup/__stand__/CollapseGroup.variants.tsx
  src/components/Combobox/__stand__/Combobox.variants.css
  src/components/Combobox/__stand__/Combobox.variants.tsx
  src/components/ContextMenu/__stand__/ContextMenu.variants.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

Update Collapse.variants.tsx
  src/components/Collapse/__stand__/Collapse.variants.tsx
Owners: @gizeasy, @N1MBER

fix: fixed variants
  src/components/Badge/__stand__/Badge.variants.tsx
  src/components/Breadcrumbs/__stand__/Breadcrumbs.variants.css
  src/components/Breadcrumbs/__stand__/Breadcrumbs.variants.tsx
  src/components/Button/__stand__/Button.variants.tsx
  src/components/Card/__stand__/Card.variants.tsx
  src/components/CheckboxGroup/__stand__/CheckboxGroup.variants.tsx
  src/components/ChoiceGroup/__stand__/ChoiceGroup.variants.tsx
  src/components/ChoiceGroupDeprecated/__stand__/ChoiceGroup.variants.tsx
  src/components/Collapse/CollapseIcon/CollapseIcon.css
  src/components/Collapse/CollapseIcon/CollapseIcon.tsx
  src/components/Combobox/__stand__/Combobox.variants.css
  src/components/Combobox/__stand__/Combobox.variants.tsx
  src/components/ContextMenu/__stand__/ContextMenu.variants.css
  src/components/ContextMenu/__stand__/ContextMenu.variants.tsx
Owners: @gizeasy, @N1MBER, @kolebayev

fix
  node_modules/@consta/stand/package.json
  package.json
  src/components/Breadcrumbs/__stand__/Breadcrumbs.variants.css
  src/components/Breadcrumbs/__stand__/Breadcrumbs.variants.tsx
  yarn.lock
Owners: @gizeasy, @N1MBER, @kolebayev

docs: add variants (#2641)
  node_modules/@consta/stand/package.json
  package.json
  src/components/Badge/__stand__/Badge.dev.stand.mdx
  src/components/Badge/__stand__/Badge.stand.mdx
  src/components/Badge/__stand__/Badge.variants.tsx
  src/components/Badge/__stand__/examples/BadgeExampleForm/BadgeExampleForm.tsx
  src/components/Badge/__stand__/examples/BadgeExampleIcon/BadgeExampleIcon.tsx
  src/components/Badge/__stand__/examples/BadgeExampleMinified/BadgeExampleMinified.tsx
  src/components/Badge/__stand__/examples/BadgeExampleSize/BadgeExampleSize.tsx
  src/components/Badge/__stand__/examples/BadgeExampleStatus/BadgeExampleStatus.tsx
  src/components/Badge/__stand__/examples/BadgeExampleUse/BadgeExampleUse.tsx
  src/components/Badge/__stand__/examples/BadgeExampleView/BadgeExampleView.tsx
  src/components/Breadcrumbs/__stand__/Breadcrumbs.variants.css
  src/components/Breadcrumbs/__stand__/Breadcrumbs.variants.tsx
  src/components/BreadcrumbsDeprecated/__stand__/Breadcrumbs.variants.tsx
  src/components/Button/__stand__/Button.variants.tsx
  src/components/Card/__stand__/Card.variants.tsx
  src/components/Checkbox/__stand__/Checkbox.variants.tsx
  src/components/CheckboxGroup/__stand__/CheckboxGroup.variants.tsx
  src/components/CheckboxGroupDeprecated/__stand__/CheckboxGroup.variants.tsx
  src/components/ChoiceGroup/__stand__/ChoiceGroup.variants.tsx
  src/components/ChoiceGroupDeprecated/__stand__/ChoiceGroup.variants.tsx
  src/components/Collapse/CollapseIcon/CollapseIcon.css
  src/components/Collapse/CollapseIcon/CollapseIcon.tsx
  src/components/Collapse/__stand__/Collapse.variants.tsx
  src/components/CollapseGroup/__stand__/CollapseGroup.variants.tsx
  src/components/Combobox/__stand__/Combobox.variants.css
  src/components/Combobox/__stand__/Combobox.variants.tsx
  src/components/ContextMenu/__stand__/ContextMenu.variants.css
  src/components/ContextMenu/__stand__/ContextMenu.variants.tsx
  yarn.lock
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

docs: add new variants
  node_modules/@consta/stand/package.json
  src/components/DatePicker/__stand__/DatePicker.dev.stand.mdx
  src/components/DatePicker/__stand__/DatePicker.variants.tsx
  src/components/DateTime/__stand__/DateTime.variants.tsx
  src/components/FieldGroup/__stand__/FieldGroup.variants.tsx
  src/components/File/__stand__/File.variants.tsx
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

Update FieldGroup.variants.tsx
  src/components/FieldGroup/__stand__/FieldGroup.variants.tsx
Owners: @gizeasy, @N1MBER

fix: fix
  node_modules/@consta/stand/package.json
  package.json
  src/components/DatePicker/__stand__/DatePicker.variants.css
  src/components/DatePicker/__stand__/DatePicker.variants.tsx
  yarn.lock
Owners: @gizeasy, @N1MBER, @kolebayev

docs: add variants
  src/components/Informer/__stand__/Informer.variants.tsx
  src/components/Layout/__stand__/Layout.variants.css
  src/components/Layout/__stand__/Layout.variants.tsx
  src/components/Loader/__stand__/Loader.variants.tsx
  src/components/Modal/__stand__/Modal.variants.css
  src/components/Modal/__stand__/Modal.variants.tsx
  src/components/Pagination/__stand__/Pagination.variants.css
  src/components/Pagination/__stand__/Pagination.variants.tsx
  src/components/ProgressLine/__stand__/ProgressLine.variants.tsx
  src/components/ProgressSpin/__stand__/ProgressSpin.variants.tsx
  src/components/ProgressStepBar/__stand__/ProgressStepBar.variants.tsx
  src/components/Radio/__stand__/Radio.variants.tsx
  src/components/RadioGroup/__stand__/RadioGroup.variants.tsx
  src/components/RadioGroupDeprecated/__stand__/RadioGroupDeprecated.variants.tsx
  src/components/Responses/__stand__/Responses.variants.tsx
Owners: @gizeasy, @N1MBER, @kolebayev

docs: add new variants
  src/components/Button/__stand__/Button.variants.tsx
  src/components/Modal/__stand__/Modal.variants.tsx
  src/components/Popover/__stand__/Popover.variants.css
  src/components/Popover/__stand__/Popover.variants.tsx
  src/components/Responses/__stand__/Responses.variants.tsx
  src/components/Select/__stand__/Select.variants.css
  src/components/Select/__stand__/Select.variants.tsx
  src/components/Sidebar/__stand__/Sidebar.variants.css
  src/components/Sidebar/__stand__/Sidebar.variants.tsx
  src/components/Skeleton/__stand__/Skeleton.variants.tsx
  src/components/Slider/__stand__/Slider.variants.tsx
  src/components/SnackBar/__stand__/SnackBar.variants.tsx
  src/components/Steps/__stand__/Steps.variants.css
  src/components/Steps/__stand__/Steps.variants.tsx
  src/components/StepsDeprecated/__stand__/StepsDeprecated.variants.css
  src/components/StepsDeprecated/__stand__/StepsDeprecated.variants.tsx
  src/components/Switch/__stand__/Switch.variants.tsx
  src/components/SwitchGroup/__stand__/SwitchGroup.variants.tsx
  src/components/SwitchGroupDeprecated/__stand__/SwitchGroupDeprecated.variants.tsx
  src/components/Tabs/__stand__/Tabs.variants.tsx
  src/components/TabsDeprecated/__stand__/TabsDeprecated.variants.tsx
  src/components/Tag/__stand__/Tag.variants.tsx
  src/components/Text/__stand__/Text.variants.tsx
  src/components/TextField/__stand__/TextField.variants.tsx
  src/components/ThemeToggler/__stand__/ThemeToggler.variants.css
  src/components/ThemeToggler/__stand__/ThemeToggler.variants.tsx
  src/components/Timer/__stand__/Timer.variants.tsx
  src/components/Tooltip/__stand__/Tooltip.variants.css
  src/components/Tooltip/__stand__/Tooltip.variants.tsx
  src/components/User/__stand__/User.variants.tsx
  src/components/UserSelect/__stand__/UserSelect.variants.css
  src/components/UserSelect/__stand__/UserSelect.variants.tsx
Owners: @gizeasy, @N1MBER, @kolebayev

fix(chore): fix git ignore
  .gitignore
  node_modules/@consta/stand/package.json
Owners: @gizeasy, @N1MBER

feat(stand): update @consta/stand version
  package.json
  src/components/Collapse/__stand__/Collapse.variants.tsx
  src/components/Combobox/__stand__/Combobox.variants.tsx
  src/components/ContextMenu/__stand__/ContextMenu.variants.tsx
  src/components/DatePicker/__stand__/DatePicker.variants.tsx
  src/components/DateTime/__stand__/DateTime.variants.tsx
  src/components/ProgressStepBar/__stand__/ProgressStepBar.variants.tsx
  src/components/Responses/__stand__/Responses.variants.tsx
  src/components/Select/__stand__/Select.variants.tsx
  src/components/Slider/__stand__/Slider.variants.tsx
  src/components/Tag/__stand__/Tag.variants.tsx
  src/components/Text/__stand__/Text.variants.tsx
  src/components/TextField/__stand__/TextField.variants.tsx
  src/components/Tooltip/__stand__/Tooltip.variants.tsx
  src/components/User/__stand__/User.variants.tsx
  src/components/UserSelect/__stand__/UserSelect.variants.tsx
  yarn.lock
Owners: @gizeasy, @N1MBER

feat(stand): update @consta/stand version
  package.json
  src/components/Collapse/__stand__/Collapse.variants.tsx
  src/components/Combobox/__stand__/Combobox.variants.tsx
  src/components/ContextMenu/__stand__/ContextMenu.variants.tsx
  src/components/DatePicker/__stand__/DatePicker.variants.tsx
  src/components/DateTime/__stand__/DateTime.variants.tsx
  src/components/ProgressStepBar/__stand__/ProgressStepBar.variants.tsx
  src/components/Responses/__stand__/Responses.variants.tsx
  src/components/Select/__stand__/Select.variants.tsx
  src/components/Slider/__stand__/Slider.variants.tsx
  src/components/Tag/__stand__/Tag.variants.tsx
  src/components/Text/__stand__/Text.variants.tsx
  src/components/TextField/__stand__/TextField.variants.tsx
  src/components/Tooltip/__stand__/Tooltip.variants.tsx
  src/components/User/__stand__/User.variants.tsx
  src/components/UserSelect/__stand__/UserSelect.variants.tsx
  yarn.lock
Owners: @gizeasy, @N1MBER

chore(stand): update @consta/stand
  package.json
  src/stand/standConfig.ts
  yarn.lock
Owners: @gizeasy, @N1MBER

feat(theme): add font inter to theme
  package.json
  scripts/generateReExports.js
  scripts/generateReExportsConfig.js
  scripts/helpers/index.js
  src/components/Theme/_font/Inter-Black.woff
  src/components/Theme/_font/Inter-Black.woff2
  src/components/Theme/_font/Inter-Bold.woff
  src/components/Theme/_font/Inter-Bold.woff2
  src/components/Theme/_font/Inter-ExtraBold.woff
  src/components/Theme/_font/Inter-ExtraBold.woff2
  src/components/Theme/_font/Inter-ExtraLight.woff
  src/components/Theme/_font/Inter-ExtraLight.woff2
  src/components/Theme/_font/Inter-Light.woff
  src/components/Theme/_font/Inter-Light.woff2
  src/components/Theme/_font/Inter-Medium.woff
  src/components/Theme/_font/Inter-Medium.woff2
  src/components/Theme/_font/Inter-Regular.woff
  src/components/Theme/_font/Inter-Regular.woff2
  src/components/Theme/_font/Inter-SemiBold.woff
  src/components/Theme/_font/Inter-SemiBold.woff2
  src/components/Theme/_font/Inter-Thin.woff
  src/components/Theme/_font/Inter-Thin.woff2
  src/components/Theme/_font/Theme_font_gpnDefault.css
  src/fonts/inter/index.tsx
  src/fonts/inter/inter.css
Owners: @gizeasy, @N1MBER, @kolebayev

docs: edit imports
  src/components/BreadcrumbsDeprecated/__stand__/Breadcrumbs.dev.stand.mdx
  src/components/CheckboxGroupDeprecated/__stand__/CheckboxGroup.dev.stand.mdx
  src/components/CheckboxGroupDeprecated/__stand__/CheckboxGroup.stand.mdx
  src/components/ChoiceGroupDeprecated/__stand__/ChoiceGroup.dev.stand.mdx
  src/components/ContextMenuDeprecated/__stand__/ContextMenu.dev.stand.mdx
  src/components/ContextMenuDeprecated/__stand__/ContextMenu.stand.mdx
  src/components/FieldGroup/__stand__/FieldGroup.dev.stand.mdx
  src/components/Layout/__stand__/Layout.dev.stand.mdx
  src/components/ProgressStepBar/__stand__/ProgressStepBar.dev.stand.mdx
  src/components/Slider/__stand__/Slider.dev.stand.mdx
  src/components/Steps/__stand__/Steps.dev.stand.mdx
  src/components/SwitchGroupDeprecated/__stand__/SwitchGroupDeprecated.dev.stand.mdx
  src/components/Theme/__stand__/Theme.dev.stand.mdx
  src/components/Theme/__stand__/Theme.stand.mdx
  src/components/UserSelect/__stand__/UserSelect.stand.mdx
Owners: @arhayka, @kolebayev

chore(deps): update @consta/stand
  package.json
  src/stand/standConfig.ts
  yarn.lock
Owners: @gizeasy, @N1MBER

changelog: 4.0.1
  CHANGELOG.md
Owners: @arhayka, @kolebayev

deps: move mix-loader to devDependencies
  package.json
Owners: @gizeasy, @N1MBER

feat(Table): add new props to table props and table row for expands rows
  src/components/Table/RowsCollapse/TableRowsCollapse.tsx
  src/components/Table/Table.tsx
  src/components/Table/__stand__/Table.dev.stand.mdx
  src/components/Table/__stand__/examples/TableExampleExpandable/TableExampleExpandable.tsx
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

feat(Table): add new props to table props and table row for expands rows (#2667)
  src/components/Table/RowsCollapse/TableRowsCollapse.tsx
  src/components/Table/Table.tsx
  src/components/Table/__stand__/Table.dev.stand.mdx
  src/components/Table/__stand__/examples/TableExampleExpandable/TableExampleExpandable.tsx
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

chore(deps): remove mdx-loader
  package.json
Owners: @gizeasy, @N1MBER

chore(deps): remove mdx-loader (#2669)
  package.json
Owners: @gizeasy, @N1MBER

release: 4.1.0
  package.json
Owners: @gizeasy, @N1MBER

changelog: 4.1.0
  CHANGELOG.md
Owners: @arhayka, @kolebayev

docs(common): add table comparison
  src/docs/tableComparison/components/AboutData/AboutData.css
  src/docs/tableComparison/components/AboutData/AboutData.tsx
  src/docs/tableComparison/tableComparison.stand.mdx
  src/docs/tableComparison/tableComparison.stand.tsx
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

docs(common): fix right menu in tableComparison
  src/docs/tableComparison/tableComparison.stand.mdx
Owners: @arhayka, @kolebayev

feat(Variants): add missing variants for Table, DragNDropField, FileField, Grid and Header
  src/components/DragNDropField/__stand__/DragNDropField.variants.tsx
  src/components/DragNDropField/__stand__/DragNDropFieldVariants.css
  src/components/FileField/__stand__/FileField.variants.tsx
  src/components/Grid/__stand__/Grid.variants.tsx
  src/components/Grid/__stand__/GridVariants.css
  src/components/Header/__stand__/Header.variants.tsx
  src/components/Header/__stand__/HeaderVariants.css
  src/components/Table/__stand__/Table.variants.tsx
  src/components/Table/__stand__/TableVariants.css
  src/components/Table/__stand__/variants/TableVariantBasic/TableVariantBasic.tsx
  src/components/Table/__stand__/variants/TableVariantCustomRows/TableVariantCustomRows.tsx
  src/components/Table/__stand__/variants/TableVariantSortByData/TableVariantSortByData.tsx
  src/components/Table/__stand__/variants/TableVariantWithActiveRowContent/TableVariantWithActiveRowContent.tsx
  src/components/Table/__stand__/variants/TableVariantWithBagde/TableVariantWithBagde.tsx
  src/components/Table/__stand__/variants/TableVariantWithBigData/TableVariantWithBigData.tsx
  src/components/Table/__stand__/variants/TableVariantWithCheckboxHeader/TableVariantWithCheckboxHeader.tsx
  src/components/Table/__stand__/variants/TableVariantWithCollapcingRows/TableVariantWithCollapcingRows.tsx
  src/components/Table/__stand__/variants/TableVariantWithCustomFilters/TableVariantWithCustomFilters.tsx
  src/components/Table/__stand__/variants/TableVariantWithCustomRowsPlaceholder/TableVariantWithCustomRowsPlaceholder.tsx
  src/components/Table/__stand__/variants/TableVariantWithCustomTagLabelFunction/TableVariantWithCustomTagLabelFunction.tsx
  src/components/Table/__stand__/variants/TableVariantWithGetAdditionalClassName/TableVariantWithGetAdditionalClassName.tsx
  src/components/Table/__stand__/variants/TableVariantWithHandleCellClickExample/TableVariantWithHandleCellClickExample.tsx
  src/components/Table/__stand__/variants/TableVariantWithHiddenColumn/TableVariantWithHiddenColumn.tsx
  src/components/Table/__stand__/variants/TableVariantWithIcon/TableVariantWithIcon.tsx
  src/components/Table/__stand__/variants/TableVariantWithMergedByCustomCallbackCells/TableVariantWithMergedByCustomCallbackCells.tsx
  src/components/Table/__stand__/variants/TableVariantWithMergedCells/TableVariantWithMergedCells.tsx
  src/components/Table/__stand__/variants/TableVariantWithMultiLevelHeaders/TableVariantWithMultiLevelHeaders.tsx
  src/components/Table/__stand__/variants/TableVariantWithOnRowHover/TableVariantWithOnRowHover.tsx
  src/components/Table/__stand__/variants/TableVariantWithRowActions/TableVariantWithRowActions.tsx
  src/components/Table/__stand__/variants/TableVariantWithStickyColumn/TableVariantWithStickyColumn.tsx
  src/components/Table/__stand__/variants/TableVariantWithStickyHeader/TableVariantWithStickyHeader.tsx
  src/components/Table/__stand__/variants/useVariants/useVariants.ts
Owners: @gizeasy, @N1MBER, @kolebayev

docs(aboutConsta): change links
  src/docs/aboutConsta/components/AboutData/AboutData.css
  src/docs/aboutConsta/components/AboutData/AboutData.tsx
Owners: @kolebayev, @gizeasy, @N1MBER

docs: versions, links, readme
  README.md
  docs/common/sla/sla.stories.mdx
  src/components/Card/__stand__/Card.stand.mdx
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleAdaptive/ChoiceGroupExampleAdaptiveScroll.css
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleTextOverflow/ChoiceGroupExampleTextOverflow.tsx
  src/components/CollapseGroup/__stand__/CollapseGroup.dev.stand.mdx
  src/components/Combobox/__stand__/Combobox.stand.mdx
  src/components/DatePicker/__stand__/DatePicker.stand.mdx
  src/components/File/__stand__/File.dev.stand.mdx
  src/components/Grid/__stand__/Grid.dev.stand.mdx
  src/components/Header/__stand__/Header.dev.stand.mdx
  src/components/Responses/__stand__/Responses.stand.mdx
  src/components/Steps/__stand__/Steps.dev.stand.mdx
  src/components/TextField/__stand__/TextField.dev.stand.mdx
  src/components/TextField/__stand__/examples/TextFieldExampleFocus/TextFieldExampleFocus.tsx
  src/components/Theme/__stand__/Theme.dev.stand.mdx
  src/components/UserSelect/__stand__/UserSelect.stand.mdx
  src/docs/connectTheme/connectTheme.stand.mdx
  src/docs/principle/principles.stand.mdx
  src/hocs/withTooltip/__stand__/withTooltip.stand.tsx
  src/hooks/useBreakpoints/__stand__/useBreakpoints.stand.tsx
  src/hooks/useChoiceGroup/__stand__/useChoiceGroup.stand.tsx
  src/hooks/useChoiceGroupIndexed/__stand__/useChoiceGroupIndexed.stand.tsx
  src/hooks/useClickOutside/__stand__/useClickOutside.stand.tsx
  src/hooks/useDebounce/__stand__/useDebounce.stand.tsx
  src/hooks/useForkRef/__stand__/useForkRef.stand.tsx
  src/hooks/useGlobalKeys/__stand__/useGlobalKeys.stand.mdx
  src/hooks/useGlobalKeys/__stand__/useGlobalKeys.stand.tsx
  src/hooks/useHideElementsInLine/__stand__/useHideElementsInLine.stand.tsx
  src/hooks/useRefs/__stand__/useRefs.stand.tsx
  src/hooks/useThemeVars/__stand__/useThemeVars.stand.mdx
  src/hooks/useThemeVars/__stand__/useThemeVars.stand.tsx
  src/icons/Icon/__stand__/Icon.stand.tsx
  src/mixs/MixCard/__stand__/MixCard.stand.tsx
  src/mixs/MixPopoverAnimate/__stand__/MixPopoverAnimate.stand.tsx
  src/mixs/MixPopoverArrow/__stand__/MixPopoverArrow.stand.mdx
  src/mixs/MixPopoverArrow/__stand__/MixPopoverArrow.stand.tsx
  src/mixs/MixSpace/__stand__/MixSpace.stand.tsx
  src/uiKit/components/ComponentsGridWithData/data/additionalData.ts
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

feat(AutoComplete): add new Component
  src/components/AutoComplete/AutoComplete.tsx
  src/components/AutoComplete/__mocks__/data.mock.ts
  src/components/AutoComplete/__stand__/AutoComplete.dev.stand.mdx
  src/components/AutoComplete/__stand__/AutoComplete.stand.mdx
  src/components/AutoComplete/__stand__/AutoComplete.stand.tsx
  src/components/AutoComplete/__stand__/AutoComplete.variants.tsx
  src/components/AutoComplete/__stand__/examples/AutoCompleteExampleBasic/AutoCompleteExampleBasic.tsx
  src/components/AutoComplete/__stand__/examples/AutoCompleteExampleDisabled/AutoCompleteExampleDisabled.tsx
  src/components/AutoComplete/__stand__/examples/AutoCompleteExampleForm/AutoCompleteExampleForm.tsx
  src/components/AutoComplete/__stand__/examples/AutoCompleteExampleGroups/AutoCompleteExampleGroups.tsx
  src/components/AutoComplete/__stand__/examples/AutoCompleteExampleItems/AutoCompleteExampleItems.tsx
  src/components/AutoComplete/__stand__/examples/AutoCompleteExampleLabel/AutoCompleteExampleLabel.tsx
  src/components/AutoComplete/__stand__/examples/AutoCompleteExamplePlaceholder/AutoCompleteExamplePlaceholder.tsx
  src/components/AutoComplete/__stand__/examples/AutoCompleteExampleRenderItem/AutoCompleteExampleRenderItem.css
  src/components/AutoComplete/__stand__/examples/AutoCompleteExampleRenderItem/AutoCompleteExampleRenderItem.tsx
  src/components/AutoComplete/__stand__/examples/AutoCompleteExampleSize/AutoCompleteExampleSize.tsx
  src/components/AutoComplete/__stand__/examples/AutoCompleteExampleStatus/AutoCompleteExampleStatus.tsx
  src/components/AutoComplete/__stand__/examples/AutoCompleteExampleType/AutoCompleteExampleType.tsx
  src/components/AutoComplete/__stand__/examples/AutoCompleteExampleView/AutoCompleteExampleView.tsx
  src/components/AutoComplete/helpers.ts
  src/components/AutoComplete/types.ts
  src/hooks/useSelect/useSelect.ts
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

fix(Variants): fix useSelect usage
  src/components/Grid/__stand__/Grid.variants.tsx
  src/components/Table/__stand__/variants/useVariants/useVariants.ts
Owners: @gizeasy, @N1MBER

docs(File): add block for extensions with icon
  src/components/File/__stand__/File.dev.stand.mdx
Owners: @arhayka, @kolebayev

fix(SelectItem): fix height of item with empty row
  src/components/SelectComponents/SelectItem/SelectItem.css
Owners: @kolebayev

docs(Layout): fix border on layout examples
  src/components/Layout/__stand__/Layout.variants.css
  src/components/Layout/__stand__/examples/LayoutExampleAnchor/LayoutExampleAnchor.css
  src/components/Layout/__stand__/examples/LayoutExampleBasic/LayoutExampleBasic.css
  src/components/Layout/__stand__/examples/LayoutExampleDirection/LayoutExampleDirection.css
  src/components/Layout/__stand__/examples/LayoutExampleDirection/LayoutExampleDirection.tsx
  src/components/Layout/__stand__/examples/LayoutExampleFixed/LayoutExampleFixed.css
  src/components/Layout/__stand__/examples/LayoutExampleRowFixed/LayoutExampleRowFixed.css
Owners: @kolebayev, @gizeasy, @N1MBER

docs(Filee): edit txt
  src/components/File/__stand__/File.dev.stand.mdx
Owners: @arhayka, @kolebayev

docs(File): add block for extensions with icon (#2702)
  src/components/File/__stand__/File.dev.stand.mdx
Owners: @arhayka, @kolebayev

fix(Select): fix height of item with empty row (#2704)
  src/components/SelectComponents/SelectItem/SelectItem.css
Owners: @kolebayev

.github/CODEOWNERS:

* @gizeasy @N1MBER 
*.md @arhayka @kolebayev
*.mdx @arhayka @kolebayev
*.css @kolebayev
