Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @alyonurchick1, @linturaven

chore: fixed build
  package.json
Owners: @gizeasy

fix(UserSelect): исправление обрезания ФИО значения
  src/components/UserSelect/UserSelect.tsx
  src/components/UserSelect/UserSelectValue/UserSelectValue.css
Owners: @gizeasy, @linturaven

fix
  src/components/UserSelect/UserSelect.tsx
  src/components/UserSelect/UserSelectValue/UserSelectValue.css
Owners: @gizeasy, @linturaven

fix(UserSelect): correction of name circumcision (#3942)
  src/components/UserSelect/UserSelectValue/UserSelectValue.css
Owners: @linturaven

release: 5.20.2
  package.json
Owners: @gizeasy

changelog: 5.20.2
  CHANGELOG.md
Owners: @alyonurchick1

test(AvatarGroup): add tests
  src/components/Avatar/__tests__/Avatar.test.tsx
  src/components/AvatarGroup/__tests__/AvatarGroup.test.tsx
Owners: @gizeasy

feat(ThemeToggler): added animation for switching icons
  src/components/ThemeToggler/ThemeToggler.tsx
Owners: @gizeasy

test(AvatarGroup): add tests
  src/components/AvatarGroup/__tests__/AvatarGroup.test.tsx
Owners: @gizeasy

feat(ThemeToggler): added animation for switching icons (#3945)
  src/components/ThemeToggler/ThemeToggler.tsx
Owners: @gizeasy

test(AvatarGroup): add tests (#3946)
  src/components/Avatar/__tests__/Avatar.test.tsx
  src/components/AvatarGroup/__tests__/AvatarGroup.test.tsx
Owners: @gizeasy

fix(FieldWrapper): change gap for size=s
  src/components/FieldComponents/FieldWrapper/helpers.ts
Owners: @gizeasy

fix(FieldWrapper): change gap for size=s (#3947)
  src/components/FieldComponents/FieldWrapper/helpers.ts
Owners: @gizeasy

test(Badge): add tests
  src/components/Badge/__tests__/Badge.test.tsx
  src/components/Badge/__tests__/getBgColor.test.ts
  src/components/Badge/__tests__/getBorderColor.test.ts
  src/components/Badge/__tests__/getDegreeMixing.test.ts
  src/components/Badge/__tests__/getHorizontalPadding.test.ts
  src/components/Badge/__tests__/getMinifiedBorderSize.test.ts
  src/components/Badge/__tests__/getSize.test.ts
  src/components/Badge/__tests__/getTextColor.test.ts
  src/components/Badge/__tests__/getTextSize.test.ts
Owners: @gizeasy

test(Badge): add tests (#3948)
  src/components/Badge/__tests__/Badge.test.tsx
  src/components/Badge/__tests__/getBgColor.test.ts
  src/components/Badge/__tests__/getBorderColor.test.ts
  src/components/Badge/__tests__/getDegreeMixing.test.ts
  src/components/Badge/__tests__/getHorizontalPadding.test.ts
  src/components/Badge/__tests__/getMinifiedBorderSize.test.ts
  src/components/Badge/__tests__/getSize.test.ts
  src/components/Badge/__tests__/getTextColor.test.ts
  src/components/Badge/__tests__/getTextSize.test.ts
Owners: @gizeasy

test(BadgeGroup): add tests
  src/components/BadgeGroup/BadgeGroup.tsx
  src/components/BadgeGroup/__tests__/BadgeGroup.test.tsx
Owners: @gizeasy

test(BadgeGroup): add tests (#3949)
  src/components/BadgeGroup/BadgeGroup.tsx
  src/components/BadgeGroup/__tests__/BadgeGroup.test.tsx
Owners: @gizeasy

fix(BookmarkTabs): fixed style
  src/components/BookmarkTabs/BookmarkTabsTab/BookmarkTabsTab.css
  src/components/BookmarkTabs/__stand__/examples/BookmarkTabsExampleAs/BookmarkTabsExampleAs.tsx
  src/components/BookmarkTabs/__tests__/BookmarkTabs.test.tsx__
Owners: @linturaven, @gizeasy

test(Breadcrumbs): add tests
  src/components/BadgeGroup/__tests__/BadgeGroup.test.tsx
  src/components/Breadcrumbs/BreadcrumbsFitModeScroll/BreadcrumbsFitModeScroll.tsx
  src/components/Breadcrumbs/BreadcrumbsItem/BreadcrumbsItem.tsx
  src/components/Breadcrumbs/__tests__/Breadcrumbs.test.tsx
  src/components/Breadcrumbs/helpers.ts
  src/components/Breadcrumbs/types.ts
Owners: @gizeasy

test(Breadcrumbs): add tests (#3962)
  src/components/BadgeGroup/__tests__/BadgeGroup.test.tsx
  src/components/Breadcrumbs/BreadcrumbsFitModeScroll/BreadcrumbsFitModeScroll.tsx
  src/components/Breadcrumbs/BreadcrumbsItem/BreadcrumbsItem.tsx
  src/components/Breadcrumbs/__tests__/Breadcrumbs.test.tsx
  src/components/Breadcrumbs/helpers.ts
  src/components/Breadcrumbs/types.ts
Owners: @gizeasy

release: 5.21.0
  package.json
Owners: @gizeasy

changelog: 5.21.0
  CHANGELOG.md
Owners: @alyonurchick1

Update Attachment.dev.stand.mdx
  src/components/Attachment/__stand__/Attachment.dev.stand.mdx
Owners: @alyonurchick1

test(Button): updating tests
  src/components/Button/__tests__/Button.test.tsx
Owners: @gizeasy

test(Card): add tests
  src/components/Card/Card.tsx
  src/components/Card/__tests__/Card.test.tsx
Owners: @gizeasy

test(Card): add tests
  src/components/Card/Card.tsx
  src/components/Card/__tests__/Card.test.tsx
Owners: @gizeasy

test(Button): updating tests
  src/components/Button/__tests__/Button.test.tsx
Owners: @gizeasy

test(Checkbox): update tests
  src/components/Checkbox/__tests__/Checkbox.test.tsx
Owners: @gizeasy

test(Checkbox): update tests (#3965)
  src/components/Checkbox/__tests__/Checkbox.test.tsx
Owners: @gizeasy

test(Radio): update tests
  src/components/Radio/__tests__/Radio.test.tsx
Owners: @gizeasy

test(Swith): update tests
  src/components/Switch/Switch.tsx
  src/components/Switch/__tests__/Switch.test.tsx
  src/components/Switch/types.ts
Owners: @gizeasy

test(Radio): update tests (#3966)
  src/components/Radio/__tests__/Radio.test.tsx
Owners: @gizeasy

test(Switch): update tests (#3967)
  src/components/Switch/Switch.tsx
  src/components/Switch/__tests__/Switch.test.tsx
  src/components/Switch/types.ts
Owners: @gizeasy

fix(BookmarkTabs): fixed style (#3952)
  src/components/BookmarkTabs/BookmarkTabsTab/BookmarkTabsTab.css
  src/components/BookmarkTabs/__stand__/examples/BookmarkTabsExampleAs/BookmarkTabsExampleAs.tsx
  src/components/BookmarkTabs/__tests__/BookmarkTabs.test.tsx__
Owners: @linturaven, @gizeasy

release: 5.22.0
  package.json
Owners: @gizeasy

changelog: 5.22.0
  CHANGELOG.md
Owners: @alyonurchick1

Update AvatarGroup.dev.stand.mdx
  src/components/AvatarGroup/__stand__/AvatarGroup.dev.stand.mdx
Owners: @alyonurchick1

Update AvatarGroup.dev.stand.mdx
  src/components/AvatarGroup/__stand__/AvatarGroup.dev.stand.mdx
Owners: @alyonurchick1

Update AutoComplete.dev.stand.mdx
  src/components/AutoComplete/__stand__/AutoComplete.dev.stand.mdx
Owners: @alyonurchick1

Update Badge.dev.stand.mdx
  src/components/Badge/__stand__/Badge.dev.stand.mdx
Owners: @alyonurchick1

.github/CODEOWNERS:

* @gizeasy
*.md @alyonurchick1
*.mdx @alyonurchick1
*.css @linturaven
