Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @alyonurchick1, @linturaven

.github/CODEOWNERS:

* @gizeasy
*.md @alyonurchick1
*.mdx @alyonurchick1
*.css @linturaven

docs(AutoComplete): how-to-use (#3721)
  src/components/AutoComplete/__stand__/AutoComplete.use.stand.mdx
  src/components/AutoComplete/__stand__/images/Autocomplete_example_01.jpg
  src/components/AutoComplete/__stand__/images/Autocomplete_example_02.jpg
  src/components/AutoComplete/__stand__/images/Autocomplete_example_03.jpg
  src/components/AutoComplete/__stand__/images/data_input.image.png
  src/components/AutoComplete/__stand__/images/data_search.image.png
  src/components/AutoComplete/__stand__/images/start_example.image.png
Owners: @alyonurchick1, @gizeasy

docs(UserSelect): adit example for create (#3726)
  src/components/SelectComponents/useSelect/useSelect.ts
  src/components/UserSelect/__stand__/UserSelect.dev.stand.mdx
  src/components/UserSelect/__stand__/examples/UserSelectExampleMailInput/UserSelectExampleMailInput.tsx
  src/components/UserSelect/helpers.ts
Owners: @gizeasy, @alyonurchick1

fix(tabs): fix add tab from last selected (#3737)
  src/components/Tabs/TabsFitModeDropdownWrapper/useFittingItems.ts
Owners: @gizeasy

fix(withTooltip): typo (#3747)
  src/hocs/withTooltip/withTooltip.tsx
Owners: @gizeasy

docs(Combobox): add example: opening by focus (#3727)
  src/components/Combobox/__stand__/Combobox.dev.stand.mdx
  src/components/Combobox/__stand__/examples/ComboboxExampleOpenByFocus/ComboboxExampleOpenByFocus.tsx
Owners: @alyonurchick1, @gizeasy

docs(Select): how-to-use (#3710)
  src/components/Select/__stand__/Select.use.stand.mdx
  src/components/Select/__stand__/images/Select_example_01.jpg
  src/components/Select/__stand__/images/Select_example_02.jpg
  src/components/Select/__stand__/images/Select_example_03.jpg
  src/components/Select/__stand__/images/Select_example_04.jpg
Owners: @alyonurchick1, @gizeasy

release: 5.9.0
  package.json
Owners: @gizeasy

changelog: 5.9.0
  CHANGELOG.md
Owners: @alyonurchick1

ff
  src/components/Field/FieldClearButton/FieldClearButton.tsx
  src/components/Field/FieldControlLayout/FieldControlLayout.tsx
  src/components/Field/FieldControlLayout/helpers.ts
  src/components/Field/renderSide.tsx
  src/components/TextFieldCanary/TextField.css
  src/components/TextFieldCanary/TextField.tsx
  src/components/TextFieldCanary/TextFieldTypeText/TextFieldTypeText.tsx
  src/components/TextFieldCanary/__stand__/TextField.variants.tsx
  src/components/TextFieldCanary/index.ts
  src/components/TextFieldCanary/types.ts
  src/components/TextFieldCanary/useTextField.ts
Owners: @gizeasy, @linturaven

ggg
  src/components/Field/FieldInput/FieldInput.tsx
  src/components/Field/FieldTextArea/FieldTextArea.css
  src/components/Field/FieldTextArea/FieldTextArea.tsx
  src/components/Field/FieldTextArea/index.ts
  src/components/Field/FieldTextAreaWrapper/FieldTextAreaWrapper.css
  src/components/Field/FieldTextAreaWrapper/FieldTextAreaWrapper.tsx
  src/components/Field/FieldTextAreaWrapper/index.ts
  src/components/Field/index.ts
  src/components/TextFieldCanary/TextField.tsx
  src/components/TextFieldCanary/TextFieldTypeTextArea/TextFieldTypeTextArea.tsx
  src/components/TextFieldCanary/TextFieldTypeTextArea/index.ts
  src/components/TextFieldCanary/__stand__/TextField.variants.tsx
  src/components/TextFieldCanary/index.ts
Owners: @gizeasy, @linturaven

ddd
  src/components/Field/FieldControlLayout/FieldControlLayout.css
  src/components/Field/FieldControlLayout/FieldControlLayout.tsx
  src/components/Field/FieldTextArea/FieldTextArea.css
  src/components/Field/FieldTextArea/FieldTextArea.tsx
  src/components/TextFieldCanary/TextFieldTypeTextArea/TextFieldTypeTextArea.tsx
  src/components/TextFieldCanary/__stand__/TextField.variants.tsx
  src/hooks/useResizeObserved/useResizeObserved.ts
  src/mixs/MixScrollBar/MixScrollBar.css
  src/mixs/MixScrollBar/MixScrollBar.ts
  src/mixs/MixScrollBar/__stand__/examples/MixScrollBarExampleSize/MixScrollBarExampleSize.css
Owners: @linturaven, @gizeasy

fff
  src/components/Field/FieldButton/FieldButton.css
  src/components/Field/FieldButton/FieldButton.tsx
  src/components/Field/FieldClearButton/FieldClearButton.css
  src/components/Field/FieldClearButton/FieldClearButton.tsx
  src/components/Field/FieldControlLayout/FieldControlLayout.css
  src/components/Field/FieldControlLayout/FieldControlLayout.tsx
  src/components/Field/FieldControlLayout/helpers.ts
  src/components/Field/FieldControlLayout/maps.ts
  src/components/Field/FieldControlLayout/types.ts
  src/components/Field/FieldInput/FieldInput.css
  src/components/Field/FieldTextArea/FieldTextArea.css
  src/components/Field/FieldTextArea/FieldTextArea.tsx
  src/components/Field/FieldTextArea/index.ts
  src/components/Field/FieldToggleVisiblePasswordButton/FieldToggleVisiblePasswordButton.tsx
  src/components/Field/FieldToggleVisiblePasswordButton/index.ts
  src/components/Field/index.ts
  src/components/Field/renderSide.tsx
  src/components/TextFieldCanary/TextField.tsx
  src/components/TextFieldCanary/TextFieldTypePassword/TextFieldTypePassword.tsx
  src/components/TextFieldCanary/TextFieldTypePassword/index.ts
  src/components/TextFieldCanary/TextFieldTypeTextArea/TextFieldTypeTextArea.css
  src/components/TextFieldCanary/TextFieldTypeTextArea/TextFieldTypeTextArea.tsx
  src/components/TextFieldCanary/types.ts
  src/hooks/useResizeObserved/useResizeObserved.ts
  src/mixs/MixScrollBar/MixScrollBar.css
Owners: @linturaven, @gizeasy

ыыы
  src/components/Field/FieldButton/FieldButton.css
  src/components/Field/FieldButton/FieldButton.tsx
  src/components/Field/FieldButton/cnFieldButton.ts
  src/components/Field/FieldButton/index.ts
  src/components/Field/FieldButtonStyleReset/FieldButtonStyleReset.css
  src/components/Field/FieldButtonStyleReset/cnFieldButtonStyleReset.ts
  src/components/Field/FieldButtonStyleReset/index.ts
  src/components/Field/FieldControlLayout/FieldControlLayout.css
  src/components/Field/FieldControlLayout/FieldControlLayout.tsx
  src/components/Field/FieldControlLayout/cnFieldControlLayout.ts
  src/components/Field/FieldControlLayout/index.ts
  src/components/Field/FieldCounter/FieldCounter.tsx
  src/components/Field/FieldCounter/cnFieldCounter.ts
  src/components/Field/FieldCounter/index.ts
  src/components/Field/FieldInput/FieldInput.tsx
  src/components/Field/FieldInput/cnFieldInput.ts
  src/components/Field/FieldInput/index.ts
  src/components/Field/FieldLabel/FieldLabel.tsx
  src/components/Field/FieldLabel/cnFieldLabel.ts
  src/components/Field/FieldLabel/index.ts
  src/components/Field/FieldTextAreaWrapper/FieldTextAreaWrapper.css
  src/components/Field/FieldTextAreaWrapper/FieldTextAreaWrapper.tsx
  src/components/Field/FieldTextAreaWrapper/index.ts
  src/components/Field/index.ts
  src/components/TextFieldCanary/TextField.css
  src/components/TextFieldCanary/TextField.tsx
  src/components/TextFieldCanary/TextFieldTypeNumber/TextFieldTypeNumber.css
  src/components/TextFieldCanary/TextFieldTypeNumber/TextFieldTypeNumber.tsx
  src/components/TextFieldCanary/TextFieldTypeNumber/cnTextFieldTypeNumber.ts
  src/components/TextFieldCanary/TextFieldTypeNumber/helpers.ts
  src/components/TextFieldCanary/TextFieldTypeNumber/index.ts
  src/components/TextFieldCanary/TextFieldTypeTextArea/TextFieldTypeTextArea.tsx
  src/components/TextFieldCanary/__stand__/TextField.variants.tsx
  src/components/TextFieldCanary/index.ts
  src/components/TextFieldCanary/types.ts
  src/components/TextFieldCanary/useTextField.ts
  src/hooks/useSortSteps/useSortSteps.ts
Owners: @linturaven, @gizeasy

jj
  src/components/Field/FieldControlLayout/FieldControlLayout.tsx
  src/components/TextFieldCanary/TextFieldTypeNumber/TextFieldTypeNumber.css
  src/components/TextFieldCanary/TextFieldTypeNumber/TextFieldTypeNumber.tsx
  src/components/TextFieldCanary/TextFieldTypeNumber/helpers.ts
  src/components/TextFieldCanary/helpers.ts
  src/components/TextFieldCanary/useTextField.ts
Owners: @gizeasy, @linturaven

ddd
  src/components/Field/FieldArrayValueInlineControl/FieldArrayValueInlineControl.css
  src/components/Field/FieldArrayValueInlineControl/FieldArrayValueInlineControl.tsx
  src/components/Field/FieldArrayValueInlineControl/cnFieldArrayValueInlineControl.ts
  src/components/Field/FieldArrayValueInlineControl/index.ts
  src/components/Field/FieldArrayValueInlineControl/types.ts
  src/components/TextFieldCanary/TextField.tsx
  src/components/TextFieldCanary/TextFieldTypeNumber/TextFieldTypeNumber.tsx
  src/components/TextFieldCanary/TextFieldTypeText/TextFieldTypeText.tsx
  src/components/TextFieldCanary/TextFieldTypeTextArea/TextFieldTypeTextArea.tsx
  src/components/TextFieldCanary/TextFieldTypeTextArray/TextFieldTypeTextArray.tsx
  src/components/TextFieldCanary/TextFieldTypeTextArray/index.ts
  src/components/TextFieldCanary/__stand__/TextField.variants.tsx
  src/components/TextFieldCanary/types.ts
Owners: @linturaven, @gizeasy

ggg
  src/components/Field/FieldArrayValueInlineControl/FieldArrayValueInlineControl.css
  src/components/Field/FieldArrayValueInlineControl/FieldArrayValueInlineControl.tsx
  src/components/Field/FieldArrayValueInlineControl/types.ts
  src/components/Field/FieldArrayValueItem/FieldArrayValueItem.css
  src/components/Field/FieldArrayValueItem/FieldArrayValueItem.tsx
  src/components/Field/FieldArrayValueItem/index.ts
  src/components/Field/FieldButtonStyleReset/FieldButtonStyleReset.css
  src/components/Field/index.ts
  src/components/Tag/Tag.tsx
  src/components/TagBase/TagBase.tsx
  src/components/TextFieldCanary/TextField.tsx
  src/components/TextFieldCanary/TextFieldTypeTextArray/TextFieldTypeTextArray.tsx
  src/components/TextFieldCanary/__stand__/TextField.variants.tsx
  src/components/TextFieldCanary/types.ts
Owners: @linturaven, @gizeasy

dddd
  src/components/Field/FieldArrayValueInlineControl/FieldArrayValueInlineControl.tsx
  src/components/TextFieldCanary/TextFieldTypeNumber/TextFieldTypeNumber.tsx
  src/components/TextFieldCanary/TextFieldTypeNumber/helpers.ts
  src/components/TextFieldCanary/TextFieldTypeTextArray/TextFieldTypeTextArray.css
  src/components/TextFieldCanary/TextFieldTypeTextArray/TextFieldTypeTextArray.tsx
  src/components/TextFieldCanary/TextFieldTypeTextArray/cnTextFieldTypeTextArray.ts
  src/components/TextFieldCanary/__stand__/TextField.variants.tsx
  src/hooks/useKeys/useKeys.ts
  src/hooks/useKeysRef/useKeysRef.ts
Owners: @gizeasy, @linturaven

fix(TextField): fixed arrowUp and arrowDown handlers
  src/components/TextField/TextField.tsx
  src/components/TextField/helpers.ts
Owners: @gizeasy

fix(TextField): fixed arrowUp and arrowDown handlers (#3752)
  src/components/TextField/TextField.tsx
  src/components/TextField/helpers.ts
Owners: @gizeasy

release: 5.9.1
  package.json
Owners: @gizeasy

changelog: 5.9.1
  CHANGELOG.md
Owners: @alyonurchick1

feat(badge): add transparent view
  src/components/Badge/Badge.css
  src/components/Badge/Badge.tsx
Owners: @linturaven, @gizeasy

sss
  src/components/Field/FieldControlLayout/FieldControlLayout.tsx
  src/components/Field/FieldControlLayout/helpers.ts
  src/components/FieldGroup/getForm.ts
  src/components/FieldGroup/types.ts
  src/components/TextFieldCanary/TextFieldTypeNumber/TextFieldTypeNumber.tsx
  src/components/TextFieldCanary/TextFieldTypePassword/TextFieldTypePassword.tsx
  src/components/TextFieldCanary/TextFieldTypeText/TextFieldTypeText.tsx
  src/components/TextFieldCanary/TextFieldTypeTextArea/TextFieldTypeTextArea.tsx
  src/components/TextFieldCanary/TextFieldTypeTextArray/TextFieldTypeTextArray.tsx
  src/components/TextFieldCanary/__stand__/TextField.variants.tsx
  src/components/TextFieldCanary/index.ts
  src/hooks/useComponentSize/getElementSize.ts
  src/hooks/useComponentSize/useComponentSize.tsx
  src/hooks/useResizeObserved/getElementHeight.ts
  src/hooks/useResizeObserved/getElementSize.ts
  src/hooks/useResizeObserved/getElementWidth.ts
  src/hooks/useResizeObserved/index.ts
Owners: @gizeasy

fix: --font-weight-text-extralight value
  src/components/Theme/_size/Theme_size_gpnDefault.css
Owners: @linturaven

dd
  src/components/TextFieldCanary/TextFieldTypeNumber/TextFieldTypeNumber.tsx
  src/components/TextFieldCanary/TextFieldTypeNumber/helpers.ts
Owners: @gizeasy

ggg
  src/components/Field/FieldControlLayout/helpers.ts
  src/components/Field/FieldWrapper/FieldWrapper.css
  src/components/Field/FieldWrapper/FieldWrapper.tsx
  src/components/Field/FieldWrapper/cnFieldWrapper.ts
  src/components/Field/FieldWrapper/index.ts
  src/components/Field/__mocks__/variants.ts
  src/components/Field/__tests__/FieldControlLayout.test.tsx
  src/components/Field/__tests__/FieldControlLayoutHelpers.test.ts
  src/components/TextFieldCanary/TextFieldTypeNumber/TextFieldTypeNumber.tsx
  src/components/TextFieldCanary/TextFieldTypePassword/TextFieldTypePassword.tsx
  src/components/TextFieldCanary/TextFieldTypeText/TextFieldTypeText.tsx
  src/components/TextFieldCanary/TextFieldTypeTextArea/TextFieldTypeTextArea.tsx
  src/components/TextFieldCanary/__stand__/TextField.dev.stand.mdx
  src/components/TextFieldCanary/__stand__/TextField.stand.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleCaption/TextFieldExampleCaption.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleForm/TextFieldExampleForm.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleIncrementButtons/TextFieldExampleIncrementButtons.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleLabel/TextFieldExampleLabel.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleMask/TextFieldExampleMask.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleRequired/TextFieldExampleRequired.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleSize/TextFieldExampleSize.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleStatus/TextFieldExampleStatus.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleStepArray/TextFieldExampleStepArray.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleText/TextFieldExampleText.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleType/TextFieldExampleType.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleView/TextFieldExampleView.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleWithClearButton/TextFieldExampleWithClearButton.tsx
  src/components/TextFieldCanary/__tests__/TextField.test.tsx__
  src/components/TextFieldCanary/helpers.ts
  src/components/TextFieldCanary/types.ts
  src/components/TextFieldCanary/useTextField.ts
Owners: @gizeasy, @linturaven, @alyonurchick1

fix(ChoiceGroup): remove `pointer-events: none;` on ChoiceGroup-Item
  src/components/ChoiceGroup/ChoiceGroup.css
  src/components/ChoiceGroup/ChoiceGroup.tsx
  src/components/ChoiceGroup/Item/ChoiceGroup-Item.tsx
Owners: @linturaven, @gizeasy

fix(Slider): fixed onChande on input
  src/components/Slider/useSlider/useSlider.ts
Owners: @gizeasy

fix(Theme): changed --font-weight-text-extralight value (#3754)
  src/components/Theme/_size/Theme_size_gpnDefault.css
Owners: @linturaven

fix(ChoiceGroup): remove `pointer-events: none;` on ChoiceGroup-Item (#3763)
  src/components/ChoiceGroup/ChoiceGroup.css
  src/components/ChoiceGroup/ChoiceGroup.tsx
  src/components/ChoiceGroup/Item/ChoiceGroup-Item.tsx
Owners: @linturaven, @gizeasy

fix(Slider): fixed onChande on input (#3764)
  src/components/Slider/useSlider/useSlider.ts
Owners: @gizeasy

feat(Text): add _weight_extralight and _weight_extrabold
  src/components/Text/Text.css
  src/components/Text/Text.tsx
  src/components/Theme/_size/Theme_size_gpnDefault.css
Owners: @linturaven, @gizeasy

release: 5.9.2
  package.json
Owners: @gizeasy

changelog: 5.9.2
  CHANGELOG.md
Owners: @alyonurchick1

dd
  src/components/FieldComponents/FieldCaption/FieldCaption.tsx
  src/components/FieldComponents/FieldClearButton/FieldClearButton.tsx
  src/components/FieldComponents/FieldControlLayout/FieldControlLayout.css
  src/components/FieldComponents/FieldLabel/FieldLabel.tsx
  src/components/FieldComponents/FieldToggleVisiblePasswordButton/FieldToggleVisiblePasswordButton.tsx
  src/components/FieldComponents/FieldWrapper/FieldWrapper.tsx
  src/components/FieldComponents/__stand__/FieldComponents.stand.mdx
  src/components/FieldComponents/__stand__/examples/FieldButtonExampleSimple/FieldButtonExampleSimple.tsx
  src/components/FieldComponents/__stand__/examples/FieldCaptionExampleSimple/FieldCaptionExampleSimple.tsx
  src/components/FieldComponents/__stand__/examples/FieldClearButtonExampleSimple/FieldClearButtonExampleSimple.tsx
  src/components/FieldComponents/__stand__/examples/FieldControlLayoutExampleSimple/FieldControlLayoutExampleSimple.tsx
  src/components/FieldComponents/__stand__/examples/FieldCounterExampleSimple/FieldCounterExampleSimple.css
  src/components/FieldComponents/__stand__/examples/FieldCounterExampleSimple/FieldCounterExampleSimple.tsx
  src/components/FieldComponents/__stand__/examples/FieldInputExampleSimple/FieldInputExampleSimple.tsx
  src/components/FieldComponents/__stand__/examples/FieldLabelExampleSimple/FieldLabelExampleSimple.tsx
  src/components/FieldComponents/__stand__/examples/FieldToggleVisiblePasswordButtonExampleSimple/FieldToggleVisiblePasswordButtonExampleSimple.tsx
  src/components/FieldComponents/__stand__/examples/FieldWrapperExampleSimple/FieldWrapperExampleSimple.tsx
Owners: @gizeasy, @linturaven, @alyonurchick1

Update FieldButtonExampleSimple.tsx
  src/components/FieldComponents/__stand__/examples/FieldButtonExampleSimple/FieldButtonExampleSimple.tsx
Owners: @gizeasy

eeee
  src/components/TextFieldCanary/TextField.tsx
  src/components/TextFieldCanary/TextFieldTypeTextArea/TextFieldTypeTextArea.css
  src/components/TextFieldCanary/TextFieldTypeTextArea/TextFieldTypeTextArea.tsx
  src/components/TextFieldCanary/TextFieldTypeTextArray/TextFieldTypeTextArray.tsx
  src/components/TextFieldCanary/__stand__/TextField.dev.stand.mdx
  src/components/TextFieldCanary/__stand__/TextField.variants.tsx
  src/components/TextFieldCanary/types.ts
Owners: @gizeasy, @linturaven, @alyonurchick1

ddd
  src/components/FieldComponents/FieldToggleVisiblePasswordButton/FieldToggleVisiblePasswordButton.tsx
  src/components/TextFieldCanary/TextFieldTypeTextArea/TextFieldTypeTextArea.tsx
  src/components/TextFieldCanary/__stand__/TextField.dev.stand.mdx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleAutoFocus/TextFieldExampleAutoFocus.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleForm/TextFieldExampleForm.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleIncrementButtons/TextFieldExampleIncrementButtons.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleMask/TextFieldExampleMask.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleResize/TextFieldExampleResize.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleSize/TextFieldExampleSize.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleStepArray/TextFieldExampleStepArray.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleText/TextFieldExampleText.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleType/TextFieldExampleType.tsx
  src/components/TextFieldCanary/__stand__/examples/TextFieldExampleWithClearButton/TextFieldExampleWithClearButton.tsx
Owners: @gizeasy, @alyonurchick1

docs(badge): update badge docs
  src/components/Badge/__stand__/Badge.dev.stand.mdx
  src/components/Badge/__stand__/examples/BadgeExampleView/BadgeExampleView.tsx
Owners: @alyonurchick1, @gizeasy

docs(badge-group): update badge group docs
  src/components/BadgeGroup/__stand__/BadgeGroup.dev.stand.mdx
  src/components/BadgeGroup/__stand__/BadgeGroup.variants.tsx
  src/components/BadgeGroup/__stand__/examples/BadgeGroupExampleBasic/BadgeGroupExampleBasic.tsx
  src/components/BadgeGroup/__stand__/examples/BadgeGroupExampleFitMode/BadgeGroupExampleFitMode.tsx
  src/components/BadgeGroup/__stand__/examples/BadgeGroupExampleForm/BadgeGroupExampleForm.tsx
  src/components/BadgeGroup/__stand__/examples/BadgeGroupExampleItems/BadgeGroupExampleItems.tsx
  src/components/BadgeGroup/__stand__/examples/BadgeGroupExampleSize/BadgeGroupExampleSize.tsx
Owners: @alyonurchick1, @gizeasy
