Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tsvetta, @gizeasy, @nekitk, @c1n1k, @miocene, @fooontic, @kolebayev, @arhayka

.github/CODEOWNERS:

* @tsvetta @gizeasy @nekitk @c1n1k
*.md @miocene @fooontic @kolebayev @arhayka
*.mdx @miocene @fooontic @kolebayev @arhayka
*.css @miocene @fooontic @kolebayev

docs(Combobox): edit docs
  src/components/Combobox/__stories__/Combobox.mdx
Owners: @miocene, @fooontic, @kolebayev, @arhayka

test(ChoiceGroup): added new tests
  src/components/ChoiceGroup/__tests__/ChoiceGroup.test.tsx
Owners: @tsvetta, @gizeasy, @nekitk, @c1n1k

test(TextField): refactor onChange test
  src/components/TextField/__tests__/TextField.test.tsx
Owners: @tsvetta, @gizeasy, @nekitk, @c1n1k

docs(Theme): fix text
  src/components/Theme/__stories__/Theme.mdx
Owners: @miocene, @fooontic, @kolebayev, @arhayka

docs(Combobox): add docs (#467)
  src/components/Combobox/__stories__/Combobox.mdx
  src/components/Combobox/__stories__/examples/ComboboxExampleCreate/ComboboxExampleCreate.tsx
  src/components/Combobox/__stories__/examples/ComboboxExampleForm/ComboboxExampleForm.tsx
  src/components/Combobox/__stories__/examples/ComboboxExampleGroup/ComboboxExampleGroup.tsx
  src/components/Combobox/__stories__/examples/ComboboxExampleSize/ComboboxExampleSize.tsx
  src/components/Combobox/__stories__/examples/ComboboxExampleText/ComboboxExampleText.tsx
  src/components/Combobox/__stories__/examples/ComboboxExampleView/ComboboxExampleView.tsx
Owners: @miocene, @fooontic, @kolebayev, @arhayka, @tsvetta, @gizeasy, @nekitk, @c1n1k

test(Badge): added tests (#458)
  src/components/Badge/__tests__/Badge.test.tsx
Owners: @tsvetta, @gizeasy, @nekitk, @c1n1k

docs(Theme): update docs (#439)
  src/components/Theme/__stories__/Theme.mdx
Owners: @miocene, @fooontic, @kolebayev, @arhayka

docs(units):
  docs/common/units.mdx
Owners: @miocene, @fooontic, @kolebayev, @arhayka
