Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @alyonurchick1, @linturaven

Update ContextMenu.use.stand.mdx
  src/components/ContextMenu/__stand__/ContextMenu.use.stand.mdx
Owners: @alyonurchick1

release: 5.3.2
  package.json
Owners: @gizeasy

changelog: 5.3.2
  CHANGELOG.md
Owners: @alyonurchick1

feat(DatePicker): add individual start-end placeholders for DatePicker in range formats (#3662)
  src/components/DatePicker/DatePickerFieldTypeDateRange/DatePickerFieldTypeDateRange.tsx
  src/components/DatePicker/DatePickerFieldTypeDateRange/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeDateTimeRange/DatePickerFieldTypeDateTimeRange.tsx
  src/components/DatePicker/DatePickerFieldTypeDateTimeRange/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeMonthRange/DatePickerFieldTypeMonthRange.tsx
  src/components/DatePicker/DatePickerFieldTypeMonthRange/helpers.ts
  src/components/DatePicker/DatePickerFieldTypeYearRange/DatePickerFieldTypeYearRange.tsx
  src/components/DatePicker/DatePickerFieldTypeYearRange/helpers.ts
  src/components/DatePicker/DatePickerTypeDateRange/DatePickerTypeDateRange.tsx
  src/components/DatePicker/DatePickerTypeDateTimeRange/DatePickerTypeDateTimeRange.tsx
  src/components/DatePicker/DatePickerTypeMonthRange/DatePickerTypeMonthRange.tsx
  src/components/DatePicker/DatePickerTypeYearRange/DatePickerTypeYearRange.tsx
  src/components/DatePicker/__stand__/DatePicker.dev.stand.mdx
  src/components/DatePicker/__stand__/examples/DatePickerExampleTwoFields/DatePickerExampleTwoFields.tsx
  src/components/DatePicker/types.ts
Owners: @gizeasy, @alyonurchick1

feat(Switch/Checkbox/Radio): update checkmarks proportions
  src/components/Checkbox/Checkbox.css
  src/components/Radio/Radio.css
  src/components/Switch/Switch.css
  yarn.lock
Owners: @linturaven, @gizeasy

refactor(Switch/Checkbox/Radio): update top-margin when align top
  src/components/Checkbox/Checkbox.css
  src/components/Radio/Radio.css
  src/components/Switch/Switch.css
Owners: @linturaven

fix(caption): Убран левый отступ в компонентах
  src/components/DatePicker/DatePickerMixRangeField/DatePickerMixRangeField.css
  src/components/SelectComponents/Select.css
  src/components/TextField/TextField.css
Owners: @linturaven

fix(table): Добавлен sanitize для пользовательского ввода
  src/components/Table/TextFilter/TableTextFilter.tsx
Owners: @gizeasy

test(table): Добавлен тест для проверки sanitize
  src/components/Table/__tests__/Table.test.tsx
Owners: @gizeasy

fix(date-time): Добавлено округление даты до ближайшего в min-max
  src/components/DateTime/helpers/useCurrentVisibleDate.ts
Owners: @gizeasy

test(date-time): Добавлен тест, проверяющий правильность отображения
  src/components/DateTime/__tests__/DateTime_type_date.test.tsx
Owners: @gizeasy

docs(Tag): how-to-use
  src/components/Tag/__stand__/Tag.dev.stand.mdx
  src/components/Tag/__stand__/Tag.use.stand.mdx
  src/components/Tag/__stand__/images/chips.image.png
  src/components/Tag/__stand__/images/film.image.png
  src/components/Tag/__stand__/images/group.image.svg
Owners: @alyonurchick1, @gizeasy

change exp
  src/components/Tag/__stand__/Tag.use.stand.mdx
  src/components/Tag/__stand__/images/book.image.png
  src/components/Tag/__stand__/images/chips.image.png
Owners: @alyonurchick1, @gizeasy

Update Tag.use.stand.mdx
  src/components/Tag/__stand__/Tag.use.stand.mdx
Owners: @alyonurchick1

Update Tag.use.stand.mdx
  src/components/Tag/__stand__/Tag.use.stand.mdx
Owners: @alyonurchick1

Update Tag.use.stand.mdx
  src/components/Tag/__stand__/Tag.use.stand.mdx
Owners: @alyonurchick1

Update Tag.use.stand.mdx
  src/components/Tag/__stand__/Tag.use.stand.mdx
Owners: @alyonurchick1

Update ContextMenu.use.stand.mdx
  src/components/ContextMenu/__stand__/ContextMenu.use.stand.mdx
Owners: @alyonurchick1

fix(Table): added test to check sanitize (#3670)
  src/components/Table/TextFilter/TableTextFilter.tsx
  src/components/Table/__tests__/Table.test.tsx
Owners: @gizeasy

fix(tootip): Добавлен проброс nodeRef в Transition
  src/components/Tooltip/Tooltip.tsx
Owners: @gizeasy

fix(tootip): added ref forwarding to Transition (#3672)
  src/components/Tooltip/Tooltip.tsx
Owners: @gizeasy

fix(date-time): added rounding within min-max (#3673)
  src/components/DateTime/__tests__/DateTime_type_date.test.tsx
  src/components/DateTime/helpers/useCurrentVisibleDate.ts
Owners: @gizeasy

feat(Switch/Checkbox/Radio): update checkmarks proportions (#3667)
  src/components/Checkbox/Checkbox.css
  src/components/Radio/Radio.css
  src/components/Switch/Switch.css
  yarn.lock
Owners: @linturaven, @gizeasy

release: 5.4.0
  package.json
Owners: @gizeasy

changelog: 5.4.0
  CHANGELOG.md
Owners: @alyonurchick1

fix(Picture): edit examples
  src/components/Picture/Picture.tsx
  src/components/Picture/__stand__/Picture.dev.stand.mdx
  src/components/Picture/__stand__/Picture.variants.tsx
  src/components/Picture/__stand__/examples/PictureExample/PictureExample.tsx
  src/components/Picture/__stand__/examples/PictureExampleGetImageSettings/PictureExampleGetImageSettings.tsx
Owners: @gizeasy, @alyonurchick1

fix(useVirtualScroll): fixed calculate position and visible items
  src/components/AutoComplete/types.ts
  src/components/Combobox/__stand__/Combobox.dev.stand.mdx
  src/components/Combobox/__stand__/examples/ComboboxExampleIsLoading/ComboboxExampleIsLoading.tsx
  src/components/Combobox/helpers.ts
  src/components/Select/__stand__/Select.dev.stand.mdx
  src/components/Select/helpers.ts
  src/components/SelectComponents/SelectDropdown/SelectDropdown.tsx
  src/components/SelectComponents/useSelect/useSelect.ts
  src/components/UserSelect/helpers.ts
  src/hooks/useVirtualScroll/__stand__/examples/useVirtualScrollExample/useVirtualScrollExample.tsx
  src/hooks/useVirtualScroll/hellpers.ts
  src/hooks/useVirtualScroll/useVirtualScroll.ts
Owners: @gizeasy, @alyonurchick1

fix(Picture): edit examples (#3675)
  src/components/Picture/Picture.tsx
  src/components/Picture/__stand__/Picture.dev.stand.mdx
  src/components/Picture/__stand__/Picture.variants.tsx
  src/components/Picture/__stand__/examples/PictureExample/PictureExample.tsx
  src/components/Picture/__stand__/examples/PictureExampleGetImageSettings/PictureExampleGetImageSettings.tsx
Owners: @gizeasy, @alyonurchick1

fix(caption): removed left indentation in components (#3671)
  src/components/DatePicker/DatePickerMixRangeField/DatePickerMixRangeField.css
  src/components/SelectComponents/Select.css
  src/components/TextField/TextField.css
Owners: @linturaven

fix(useVirtualScroll): fixed calculate position and visible items (#3676)
  src/components/AutoComplete/types.ts
  src/components/Combobox/__stand__/Combobox.dev.stand.mdx
  src/components/Combobox/__stand__/examples/ComboboxExampleIsLoading/ComboboxExampleIsLoading.tsx
  src/components/Combobox/helpers.ts
  src/components/Select/__stand__/Select.dev.stand.mdx
  src/components/Select/helpers.ts
  src/components/SelectComponents/SelectDropdown/SelectDropdown.tsx
  src/components/SelectComponents/useSelect/useSelect.ts
  src/components/UserSelect/helpers.ts
  src/hooks/useVirtualScroll/__stand__/examples/useVirtualScrollExample/useVirtualScrollExample.tsx
  src/hooks/useVirtualScroll/hellpers.ts
  src/hooks/useVirtualScroll/useVirtualScroll.ts
Owners: @gizeasy, @alyonurchick1

release: 5.4.1
  package.json
Owners: @gizeasy

changelog: 5.4.1
  CHANGELOG.md
Owners: @alyonurchick1

fix(tooltip): Исправлена типизация tooltip
  src/hocs/withTooltip/withTooltip.tsx
Owners: @gizeasy

fix
  package.json
  yarn.lock
Owners: @gizeasy

release: 5.5.0
  package.json
Owners: @gizeasy

changelog: 5.5.0
  CHANGELOG.md
Owners: @alyonurchick1

feat(File): add .msg icon
  src/components/File/File.tsx
  src/fileIcons/FileIcon/FileIcon.css
  src/fileIcons/FileIcon/__stand__/FileIconsGallery/FileIconsGallery.tsx
  src/fileIcons/FileIconMsg/FileIconMsg.tsx
  src/fileIcons/FileIconMsg/FileIconMsg_size_m.svg
  src/fileIcons/FileIconMsg/FileIconMsg_size_m.tsx
  src/fileIcons/FileIconMsg/FileIconMsg_size_s.svg
  src/fileIcons/FileIconMsg/FileIconMsg_size_s.tsx
Owners: @gizeasy, @linturaven

release: 5.6.0
  package.json
Owners: @gizeasy

feat(File): add .msg icon (#3686)
  src/components/File/File.tsx
  src/fileIcons/FileIcon/FileIcon.css
  src/fileIcons/FileIcon/__stand__/FileIconsGallery/FileIconsGallery.tsx
  src/fileIcons/FileIconMsg/FileIconMsg.tsx
  src/fileIcons/FileIconMsg/FileIconMsg_size_m.svg
  src/fileIcons/FileIconMsg/FileIconMsg_size_m.tsx
  src/fileIcons/FileIconMsg/FileIconMsg_size_s.svg
  src/fileIcons/FileIconMsg/FileIconMsg_size_s.tsx
Owners: @gizeasy, @linturaven

fix(withTooltip): fix comment
  src/hocs/withTooltip/withTooltip.tsx
Owners: @gizeasy

.github/CODEOWNERS:

* @gizeasy
*.md @alyonurchick1
*.mdx @alyonurchick1
*.css @linturaven
