Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

.github/CODEOWNERS:

* @gizeasy @N1MBER 
*.md @arhayka @kolebayev
*.mdx @arhayka @kolebayev
*.css @kolebayev

fix(custom): radioGroup
  src/components/RadioGroup/__stand__/RadioGroup.stand.tsx
Owners: @gizeasy, @N1MBER

fix(custom): tabsDeprecated
  src/components/TabsDeprecated/__stand__/TabsDeprecated.stand.tsx
Owners: @gizeasy, @N1MBER

fix(custom): switchGroupDeprecated
  src/components/SwitchGroupDeprecated/__stand__/SwitchGroupDeprecated.stand.tsx
Owners: @gizeasy, @N1MBER

fix(custom): stepsDeprecatex
  src/components/StepsDeprecated/__stand__/StepsDeprecated.stand.tsx
Owners: @gizeasy, @N1MBER

fix(custom): radioGroupDeprecated
  src/components/RadioGroupDeprecated/__stand__/RadioGroupDeprecated.stand.tsx
Owners: @gizeasy, @N1MBER

docs(custom): progressSpin
  src/components/ProgressSpin/__stand__/ProgressSpin.design.stand.mdx
  src/components/ProgressSpin/__stand__/ProgressSpin.dev.stand.mdx
  src/components/ProgressSpin/__stand__/ProgressSpin.image.svg
  src/components/ProgressSpin/__stand__/ProgressSpin.stand.mdx
  src/components/ProgressSpin/__stand__/ProgressSpin.stand.tsx
  src/components/ProgressSpin/__stand__/examples/ProgressSpinExampleProgress/ProgressSpinExampleProgress.tsx
  src/components/ProgressSpin/__stand__/examples/ProgressSpinExampleSize/ProgressSpinExampleSize.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): header
  src/components/Header/__stand__/Header.design.stand.mdx
  src/components/Header/__stand__/Header.dev.stand.mdx
  src/components/Header/__stand__/Header.image.svg
  src/components/Header/__stand__/Header.stand.mdx
  src/components/Header/__stand__/Header.stand.tsx
  src/components/Header/__stand__/examples/HeaderButtonExample/HeaderButtonExample.css
  src/components/Header/__stand__/examples/HeaderButtonExample/HeaderButtonExample.tsx
  src/components/Header/__stand__/examples/HeaderFullExample/HeaderFullExample.css
  src/components/Header/__stand__/examples/HeaderFullExample/HeaderFullExample.tsx
  src/components/Header/__stand__/examples/HeaderLoginExample/HeaderLoginExample.css
  src/components/Header/__stand__/examples/HeaderLoginExample/HeaderLoginExample.tsx
  src/components/Header/__stand__/examples/HeaderMenuExample/HeaderMenuExample.css
  src/components/Header/__stand__/examples/HeaderMenuExample/HeaderMenuExample.tsx
  src/components/Header/__stand__/examples/HeaderMinifyLoginExample/HeaderMinifyLoginExample.css
  src/components/Header/__stand__/examples/HeaderMinifyLoginExample/HeaderMinifyLoginExample.tsx
  src/components/Header/__stand__/examples/HeaderWithLogoExample/HeaderWithLogoExample.css
  src/components/Header/__stand__/examples/HeaderWithLogoExample/HeaderWithLogoExample.tsx
  src/components/Header/__stand__/examples/HeaderWithoutMenuExample/HeaderWithoutMenuExample.css
  src/components/Header/__stand__/examples/HeaderWithoutMenuExample/HeaderWithoutMenuExample.tsx
  src/components/Header/__stand__/examples/HeaderWithoutSearchExample/HeaderWithoutSearchExample.css
  src/components/Header/__stand__/examples/HeaderWithoutSearchExample/HeaderWithoutSearchExample.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): progressLine
  src/components/ProgressLine/__stand__/ProgressLine.design.stand.mdx
  src/components/ProgressLine/__stand__/ProgressLine.dev.stand.mdx
  src/components/ProgressLine/__stand__/ProgressLine.image.svg
  src/components/ProgressLine/__stand__/ProgressLine.stand.mdx
  src/components/ProgressLine/__stand__/ProgressLine.stand.tsx
  src/components/ProgressLine/__stand__/examples/ProgressLineExampleMode/ProgressLineExampleMode.tsx
  src/components/ProgressLine/__stand__/examples/ProgressLineExampleSize/ProgressLineExampleSize.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

fix(custom):
  src/components/CheckboxGroup/__stand__/CheckboxGroup.dev.stand.mdx
  src/components/CheckboxGroup/__stand__/CheckboxGroup.stand.mdx
  src/components/CheckboxGroup/__stand__/examples/CheckboxGroupExampleDirection/CheckboxGroupExampleDirection.tsx
  src/components/CheckboxGroup/__stand__/examples/CheckboxGroupExampleDisabled/CheckboxGroupExampleDisabled.tsx
  src/components/CheckboxGroup/__stand__/examples/CheckboxGroupExampleName/CheckboxGroupExampleName.tsx
  src/components/CheckboxGroup/__stand__/examples/CheckboxGroupExampleSize/CheckboxGroupExampleSize.tsx
  src/components/CheckboxGroup/__stand__/examples/CheckboxGroupExampleView/CheckboxGroupExampleView.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): popover
  src/components/Popover/__stand__/Popover.design.stand.mdx
  src/components/Popover/__stand__/Popover.dev.stand.mdx
  src/components/Popover/__stand__/Popover.image.svg
  src/components/Popover/__stand__/Popover.stand.mdx
  src/components/Popover/__stand__/Popover.stand.tsx
  src/components/Popover/__stand__/examples/PopoverExample/PopoverExample.css
  src/components/Popover/__stand__/examples/PopoverExample/PopoverExample.tsx_
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

fix(custom):
  .husky/pre-commit
  .husky/pre-push
  src/components/CheckboxGroup/__stand__/examples/CheckboxGroupExampleSize/CheckboxGroupExampleSize.tsx
Owners: @gizeasy, @N1MBER

docs(custom): checkboxgroup (#2501)
  .husky/pre-commit
  .husky/pre-push
  src/components/CheckboxGroup/__stand__/CheckboxGroup.design.stand.mdx
  src/components/CheckboxGroup/__stand__/CheckboxGroup.dev.stand.mdx
  src/components/CheckboxGroup/__stand__/CheckboxGroup.image.svg
  src/components/CheckboxGroup/__stand__/CheckboxGroup.stand.mdx
  src/components/CheckboxGroup/__stand__/CheckboxGroup.stand.tsx
  src/components/CheckboxGroup/__stand__/examples/CheckboxGroupExampleDirection/CheckboxGroupExampleDirection.tsx
  src/components/CheckboxGroup/__stand__/examples/CheckboxGroupExampleDisabled/CheckboxGroupExampleDisabled.tsx
  src/components/CheckboxGroup/__stand__/examples/CheckboxGroupExampleName/CheckboxGroupExampleName.tsx
  src/components/CheckboxGroup/__stand__/examples/CheckboxGroupExampleSize/CheckboxGroupExampleSize.tsx
  src/components/CheckboxGroup/__stand__/examples/CheckboxGroupExampleView/CheckboxGroupExampleView.tsx
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

docs(custom): pagination
  src/components/Pagination/__stand__/Pagination.design.stand.mdx
  src/components/Pagination/__stand__/Pagination.dev.stand.mdx
  src/components/Pagination/__stand__/Pagination.image.svg
  src/components/Pagination/__stand__/Pagination.stand.mdx
  src/components/Pagination/__stand__/Pagination.stand.tsx
  src/components/Pagination/__stand__/examples/PaginationExample/PaginationExample.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

fix(custom): popover
  src/components/Popover/__stand__/examples/PopoverExample/PopoverExample.tsx
Owners: @gizeasy, @N1MBER

docs(custom): modal
  src/components/Modal/__stand__/Modal.design.stand.mdx
  src/components/Modal/__stand__/Modal.dev.stand.mdx
  src/components/Modal/__stand__/Modal.image.svg
  src/components/Modal/__stand__/Modal.stand.mdx
  src/components/Modal/__stand__/Modal.stand.tsx
  src/components/Modal/__stand__/examples/ModalExample/ModalExample.css
  src/components/Modal/__stand__/examples/ModalExample/ModalExample.tsx
  src/components/Modal/__stand__/examples/ModalExampleZIndex/ModalExampleZIndex.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): informer
  src/components/Informer/__stand__/Informer.design.stand.mdx
  src/components/Informer/__stand__/Informer.dev.stand.mdx
  src/components/Informer/__stand__/Informer.image.svg
  src/components/Informer/__stand__/Informer.stand.mdx
  src/components/Informer/__stand__/Informer.stand.tsx
  src/components/Informer/__stand__/examples/InformerExampleBasic/InformerExampleBasic.tsx
  src/components/Informer/__stand__/examples/InformerExampleIcon/InformerExampleIcon.tsx
  src/components/Informer/__stand__/examples/InformerExampleSize/InformerExampleSize.tsx
  src/components/Informer/__stand__/examples/InformerExampleText/InformerExampleText.tsx
  src/components/Informer/__stand__/examples/InformerExampleType/InformerExampleType.tsx
  src/components/Informer/__stand__/examples/InformerExampleView/InformerExampleView.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): loader
  src/components/Loader/__stand__/Loader.design.stand.mdx
  src/components/Loader/__stand__/Loader.dev.stand.mdx
  src/components/Loader/__stand__/Loader.image.svg
  src/components/Loader/__stand__/Loader.stand.mdx
  src/components/Loader/__stand__/Loader.stand.tsx
  src/components/Loader/__stand__/examples/LoaderExampleSize/LoaderExampleSize.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): contextmenu (#2511)
  src/components/ContextMenu/__stand__/ContextMenu.design.stand.mdx
  src/components/ContextMenu/__stand__/ContextMenu.dev.stand.mdx
  src/components/ContextMenu/__stand__/ContextMenu.image.svg
  src/components/ContextMenu/__stand__/ContextMenu.stand.mdx
  src/components/ContextMenu/__stand__/ContextMenu.stand.tsx
  src/components/ContextMenu/__stories__/examples/ContextMenuExampleDefault/ContextMenuExampleDefault.tsx
  src/components/ContextMenu/__stories__/examples/ContextMenuExampleLabel/ContextMenuExampleLabel.tsx
  src/components/ContextMenu/__stories__/examples/ContextMenuExampleSide/ContextMenuExampleSide.tsx
  src/components/ContextMenu/__stories__/examples/ContextMenuExampleSize/ContextMenuExampleSize.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

fix(custom): tabsDeprecated
  src/components/TabsDeprecated/__stand__/TabsDeprecated.stand.tsx
Owners: @gizeasy, @N1MBER

fix(custom): switchGroupDeprecated
  src/components/SwitchGroupDeprecated/__stand__/SwitchGroupDeprecated.dev.stand.mdx
  src/components/SwitchGroupDeprecated/__stand__/SwitchGroupDeprecated.stand.mdx
Owners: @arhayka, @kolebayev

fix(custom): switchGroup
  src/components/SwitchGroup/__stand__/SwitchGroup.dev.stand.mdx
  src/components/SwitchGroup/__stand__/SwitchGroup.stand.mdx
Owners: @arhayka, @kolebayev

docs(custom): skeleton (#2517)
  src/components/Skeleton/__stand__/Skeleton.design.stand.mdx
  src/components/Skeleton/__stand__/Skeleton.dev.stand.mdx
  src/components/Skeleton/__stand__/Skeleton.image.svg
  src/components/Skeleton/__stand__/Skeleton.stand.mdx
  src/components/Skeleton/__stand__/Skeleton.stand.tsx
  src/components/Skeleton/__stand__/examples/SkeletonExampleAvatar/SkeletonExampleAvatar.css
  src/components/Skeleton/__stand__/examples/SkeletonExampleAvatar/SkeletonExampleAvatar.tsx
  src/components/Skeleton/__stand__/examples/SkeletonExampleImageAndText.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): sidebar (#2518)
  src/components/Sidebar/__stand__/Sidebar.design.stand.mdx
  src/components/Sidebar/__stand__/Sidebar.dev.stand.mdx
  src/components/Sidebar/__stand__/Sidebar.image.svg
  src/components/Sidebar/__stand__/Sidebar.stand.mdx
  src/components/Sidebar/__stand__/Sidebar.stand.tsx
  src/components/Sidebar/__stand__/examples/SidebarExample/SidebarExample.css
  src/components/Sidebar/__stand__/examples/SidebarExample/SidebarExample.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): layout
  src/components/Layout/__stand__/Layout.design.stand.mdx
  src/components/Layout/__stand__/Layout.dev.stand.mdx
  src/components/Layout/__stand__/Layout.image.svg
  src/components/Layout/__stand__/Layout.stand.mdx
  src/components/Layout/__stand__/Layout.stand.tsx
  src/components/Layout/__stand__/examples/LayoutExampleAnchor/LayoutExampleAnchor.css
  src/components/Layout/__stand__/examples/LayoutExampleAnchor/LayoutExampleAnchor.tsx
  src/components/Layout/__stand__/examples/LayoutExampleBasic/LayoutExampleBasic.css
  src/components/Layout/__stand__/examples/LayoutExampleBasic/LayoutExampleBasic.tsx
  src/components/Layout/__stand__/examples/LayoutExampleDirection/LayoutExampleDirection.css
  src/components/Layout/__stand__/examples/LayoutExampleDirection/LayoutExampleDirection.tsx
  src/components/Layout/__stand__/examples/LayoutExampleFixed/LayoutExampleFixed.css
  src/components/Layout/__stand__/examples/LayoutExampleFixed/LayoutExampleFixed.tsx_
  src/components/Layout/__stand__/examples/LayoutExampleRowFixed/LayoutExampleRowFixed.css
  src/components/Layout/__stand__/examples/LayoutExampleRowFixed/LayoutExampleRowFixed.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): add doc for Layout
  src/components/Layout/__stand__/Layout.dev.stand.mdx
  src/components/Layout/__stories__/Layout.docs.mdx
Owners: @arhayka, @kolebayev

docs(custom): datetime (#2521)
  src/components/DateTime/__stand__/DateTime.design.stand.mdx
  src/components/DateTime/__stand__/DateTime.dev.stand.mdx
  src/components/DateTime/__stand__/DateTime.image.svg
  src/components/DateTime/__stand__/DateTime.stand.mdx
  src/components/DateTime/__stand__/DateTime.stand.tsx
  src/components/DateTime/__stories__/examples/DateTimeExampleDateMin/DateTimeExampleDateMin.tsx
  src/components/DateTime/__stories__/examples/DateTimeExampleEvents/DateTimeExampleEvents.tsx
  src/components/DateTime/__stories__/examples/DateTimeExampleLocale/DateTimeExampleLocale.tsx
  src/components/DateTime/__stories__/examples/DateTimeExampleMultiplicity/DateTimeExampleMultiplicity.tsx
  src/components/DateTime/__stories__/examples/DateTimeExampleView/DateTimeExampleView.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): fix doc
  src/components/ChoiceGroup/__stand__/ChoiceGroup.dev.stand.mdx
  src/components/ChoiceGroup/__stand__/ChoiceGroup.stand.mdx
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleAdaptive/ChoiceGroupExampleAdaptive.tsx
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleAdaptive/ChoiceGroupExampleAdaptiveScroll.css
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleDisabled/ChoiceGroupExampleDisabled.tsx
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleForm/ChoiceGroupExampleForm.tsx
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleIcon/ChoiceGroupExampleIcon.tsx
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleMultiple/ChoiceGroupExampleMultiple.tsx
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleSize/ChoiceGroupExampleSize.tsx
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleSomeDisabled/ChoiseGroupExampleSomeDisabled.tsx
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleSwitch/ChoiceGroupExampleSwitch.tsx
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleText/ChoiceGroupExampleText.tsx
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleTextOverflow/ChoiceGroupExampleTextOverflow.tsx
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleView/ChoiceGroupExampleView.tsx
  src/components/ChoiceGroup/__stand__/examples/ChoiceGroupExampleWidth/ChoiceGroupExampleWidth.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): responses (#2522)
  src/components/Responses/__stand__/Responses.design.stand.mdx
  src/components/Responses/__stand__/Responses.dev.stand.mdx
  src/components/Responses/__stand__/Responses.image.svg
  src/components/Responses/__stand__/Responses.stand.mdx
  src/components/Responses/__stand__/Responses.stand.tsx
  src/components/Responses/__stand__/examples/ResponsesExample/ResponsesExample.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): drgndropfield (#2523)
  src/components/DragNDropField/__stand__/DragNDropField.design.stand.mdx
  src/components/DragNDropField/__stand__/DragNDropField.dev.stand.mdx
  src/components/DragNDropField/__stand__/DragNDropField.image.svg
  src/components/DragNDropField/__stand__/DragNDropField.stand.mdx
  src/components/DragNDropField/__stand__/DragNDropField.stand.tsx
  src/components/DragNDropField/__stories__/examples/DragNDropFieldExampleAccept/DragNDropFieldExampleAccept.tsx
  src/components/DragNDropField/__stories__/examples/DragNDropFieldExampleErrorMessages/DragNDropFieldExampleErrorMessages.tsx
  src/components/DragNDropField/__stories__/examples/DragNDropFieldExampleMaxSize/DragNDropFieldExampleMaxSize.tsx
  src/components/DragNDropField/__stories__/examples/DragNDropFieldExampleMultiple/DragNDropFieldExampleMultiple.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): fix doc
  src/components/CheckboxGroup/__stand__/CheckboxGroup.dev.stand.mdx
  src/components/CheckboxGroup/__stand__/CheckboxGroup.stand.mdx
  src/components/CheckboxGroup/__stand__/examples/CheckboxGroupExampleDirection/CheckboxGroupExampleDirection.tsx
  src/components/CheckboxGroup/__stand__/examples/CheckboxGroupExampleDisabled/CheckboxGroupExampleDisabled.tsx
  src/components/CheckboxGroup/__stand__/examples/CheckboxGroupExampleName/CheckboxGroupExampleName.tsx
  src/components/CheckboxGroup/__stand__/examples/CheckboxGroupExampleSize/CheckboxGroupExampleSize.tsx
  src/components/CheckboxGroup/__stand__/examples/CheckboxGroupExampleView/CheckboxGroupExampleView.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

Update RadioGroupDeprecated.dev.stand.mdx
  src/components/RadioGroupDeprecated/__stand__/RadioGroupDeprecated.dev.stand.mdx
Owners: @arhayka, @kolebayev

docs(custom): radioGroupDeprecated (#2524)
  src/components/RadioGroupDeprecated/__stand__/RadioGroup.image.svg
  src/components/RadioGroupDeprecated/__stand__/RadioGroupDeprecated.design.stand.mdx
  src/components/RadioGroupDeprecated/__stand__/RadioGroupDeprecated.dev.stand.mdx
  src/components/RadioGroupDeprecated/__stand__/RadioGroupDeprecated.stand.mdx
  src/components/RadioGroupDeprecated/__stand__/RadioGroupDeprecated.stand.tsx
  src/components/RadioGroupDeprecated/__stand__/examples/RadioGroupExampleAlign/RadioGroupExampleAlign.tsx
  src/components/RadioGroupDeprecated/__stand__/examples/RadioGroupExampleDisabled/RadioGroupExampleDisabled.tsx
  src/components/RadioGroupDeprecated/__stand__/examples/RadioGroupExampleSize/RadioGroupExampleSize.tsx
  src/components/RadioGroupDeprecated/__stand__/examples/RadioGroupExampleUse/RadioGroupExampleUse.tsx
  src/components/RadioGroupDeprecated/__stand__/examples/RadioGroupExampleView/RadioGroupExampleView.tsx
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

Update RadioGroup.dev.stand.mdx
  src/components/RadioGroup/__stand__/RadioGroup.dev.stand.mdx
Owners: @arhayka, @kolebayev

docs(custom): radioGroup (#2526)
  src/components/RadioGroup/__stand__/RadioGroup.design.stand.mdx
  src/components/RadioGroup/__stand__/RadioGroup.dev.stand.mdx
  src/components/RadioGroup/__stand__/RadioGroup.image.svg
  src/components/RadioGroup/__stand__/RadioGroup.stand.mdx
  src/components/RadioGroup/__stand__/RadioGroup.stand.tsx
  src/components/RadioGroup/__stand__/examples/RadioGroupExampleAlign/RadioGroupExampleAlign.tsx
  src/components/RadioGroup/__stand__/examples/RadioGroupExampleDisabled/RadioGroupExampleDisabled.tsx
  src/components/RadioGroup/__stand__/examples/RadioGroupExampleSize/RadioGroupExampleSize.tsx
  src/components/RadioGroup/__stand__/examples/RadioGroupExampleUse/RadioGroupExampleUse.tsx
  src/components/RadioGroup/__stand__/examples/RadioGroupExampleView/RadioGroupExampleView.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): radio (#2527)
  src/components/Radio/__stand__/Radio.design.stand.mdx
  src/components/Radio/__stand__/Radio.dev.stand.mdx
  src/components/Radio/__stand__/Radio.image.svg
  src/components/Radio/__stand__/Radio.stand.mdx
  src/components/Radio/__stand__/Radio.stand.tsx
  src/components/Radio/__stand__/examples/RadioExampleAlign/RadioExampleAlign.tsx
  src/components/Radio/__stand__/examples/RadioExampleSize/RadioExampleSize.tsx
  src/components/Radio/__stand__/examples/RadioExampleStatus/RadioExampleStatus.tsx
  src/components/Radio/__stand__/examples/RadioExampleUse/RadioExampleUse.tsx
  src/components/Radio/__stand__/examples/RadioExampleView/RadioExampleView.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): file (#2528)
  src/components/File/__stand__/File.design.stand.mdx
  src/components/File/__stand__/File.dev.stand.mdx
  src/components/File/__stand__/File.image.svg
  src/components/File/__stand__/File.stand.mdx
  src/components/File/__stand__/File.stand.tsx
  src/components/File/__stand__/examples/FileExampleExtension/FileExampleExtension.tsx
  src/components/File/__stand__/examples/FileExampleLoading/FileExampleLoading.tsx
  src/components/File/__stand__/examples/FileExampleSize/FileExampleSize.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): progressStepBar (#2529)
  src/components/ProgressStepBar/__stand__/ProgressStepBar.design.stand.mdx
  src/components/ProgressStepBar/__stand__/ProgressStepBar.dev.stand.mdx
  src/components/ProgressStepBar/__stand__/ProgressStepBar.image.svg
  src/components/ProgressStepBar/__stand__/ProgressStepBar.stand.mdx
  src/components/ProgressStepBar/__stand__/ProgressStepBar.stand.tsx
  src/components/ProgressStepBar/__stand__/examples/ProgressStepBarExampleActive/ProgressStepBarExampleActive.tsx
  src/components/ProgressStepBar/__stand__/examples/ProgressStepBarExampleAdaptive/ProgressStepBarExampleAdaptive.tsx
  src/components/ProgressStepBar/__stand__/examples/ProgressStepBarExampleContent/ProgressStepBarExampleContent.css
  src/components/ProgressStepBar/__stand__/examples/ProgressStepBarExampleContent/ProgressStepBarExampleContent.tsx
  src/components/ProgressStepBar/__stand__/examples/ProgressStepBarExampleDirection/ProgressStepBarExampleDirection.tsx
  src/components/ProgressStepBar/__stand__/examples/ProgressStepBarExampleProgress/ProgressStepBarExampleProgress.tsx
  src/components/ProgressStepBar/__stand__/examples/ProgressStepBarExampleSize/ProgressStepBarExampleSize.tsx
  src/components/ProgressStepBar/__stand__/examples/ProgressStepBarExampleTooltip/ProgressStepBarExampleTooltip.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): grid (#2530)
  src/components/Grid/__stand__/Grid.design.stand.mdx
  src/components/Grid/__stand__/Grid.dev.stand.mdx
  src/components/Grid/__stand__/Grid.image.svg
  src/components/Grid/__stand__/Grid.stand.mdx
  src/components/Grid/__stand__/Grid.stand.tsx
  src/components/Grid/__stand__/examples/GridExampleAlign/GridExampleAlign.css
  src/components/Grid/__stand__/examples/GridExampleAlign/GridExampleAlign.tsx
  src/components/Grid/__stand__/examples/GridExampleBreakpoints/GridExampleBreakpoints.css
  src/components/Grid/__stand__/examples/GridExampleBreakpoints/GridExampleBreakpoints.tsx
  src/components/Grid/__stand__/examples/GridExampleCols/GridExampleCols.css
  src/components/Grid/__stand__/examples/GridExampleCols/GridExampleCols.tsx
  src/components/Grid/__stand__/examples/GridExampleGap/GridExampleGap.css
  src/components/Grid/__stand__/examples/GridExampleGap/GridExampleGap.tsx
  src/components/Grid/__stand__/examples/GridItemExampleBreakpoints/GridItemExampleBreakpoints.css
  src/components/Grid/__stand__/examples/GridItemExampleBreakpoints/GridItemExampleBreakpoints.tsx
  src/components/Grid/__stand__/examples/GridItemExampleCol/GridItemExampleCol.css
  src/components/Grid/__stand__/examples/GridItemExampleCol/GridItemExampleCol.tsx
  src/components/Grid/__stand__/examples/GridItemExampleColStart/GridItemExampleColStart.css
  src/components/Grid/__stand__/examples/GridItemExampleColStart/GridItemExampleColStart.tsx
  src/components/Grid/__stand__/examples/GridItemExampleOrder/GridItemExampleOrder.css
  src/components/Grid/__stand__/examples/GridItemExampleOrder/GridItemExampleOrder.tsx
  src/components/Grid/__stand__/examples/GridItemExampleRow/GridItemExampleRow.css
  src/components/Grid/__stand__/examples/GridItemExampleRow/GridItemExampleRow.tsx
  src/components/Grid/__stand__/examples/GridItemExampleRowStart/GridItemExampleRowStart.css
  src/components/Grid/__stand__/examples/GridItemExampleRowStart/GridItemExampleRowStart.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): filefield (#2531)
  src/components/FileField/__stand__/FileField.design.stand.mdx
  src/components/FileField/__stand__/FileField.dev.stand.mdx
  src/components/FileField/__stand__/FileField.image.svg
  src/components/FileField/__stand__/FileField.stand.mdx
  src/components/FileField/__stand__/FileField.stand.tsx
  src/components/FileField/__stand__/examples/FileFieldExampleRenderProp/FileFieldExampleRenderProp.tsx
  src/components/FileField/__stand__/examples/FileFieldExampleWithoutRenderProp/FileFieldExampleWithoutRenderProp.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(custom): progressSpin (#2532)
  src/components/ProgressSpin/__stand__/ProgressSpin.design.stand.mdx
  src/components/ProgressSpin/__stand__/ProgressSpin.dev.stand.mdx
  src/components/ProgressSpin/__stand__/ProgressSpin.image.svg
  src/components/ProgressSpin/__stand__/ProgressSpin.stand.mdx
  src/components/ProgressSpin/__stand__/ProgressSpin.stand.tsx
  src/components/ProgressSpin/__stand__/examples/ProgressSpinExampleProgress/ProgressSpinExampleProgress.tsx
  src/components/ProgressSpin/__stand__/examples/ProgressSpinExampleSize/ProgressSpinExampleSize.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER
