Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @alyonurchick1, @linturaven

changelog: 5.28.2
  CHANGELOG.md
Owners: @alyonurchick1

fix(TextField): fixed calculate padding
  src/components/FieldComponents/FieldControlLayout/FieldControlLayout.css
  src/components/FieldComponents/FieldControlLayout/FieldControlLayout.tsx
  src/components/FieldComponents/FieldControlLayout/__tests__/FieldControlLayout.test.tsx
  src/components/FieldComponents/FieldControlLayout/__tests__/FieldControlLayoutHelpers.test.ts
  src/components/FieldComponents/FieldControlLayout/helpers.ts
  src/components/TextFieldCanary/TextFieldTypeTextArea/TextFieldTypeTextArea.css
  src/components/TextFieldCanary/TextFieldTypeTextArray/TextFieldTypeTextArray.css
  src/components/TextFieldCanary/TextFieldTypeTextArray/TextFieldTypeTextArray.tsx
Owners: @linturaven, @gizeasy

fix
  src/components/TextFieldCanary/TextFieldTypeTextArea/TextFieldTypeTextArea.css
  src/components/TextFieldCanary/TextFieldTypeTextArea/TextFieldTypeTextArea.tsx
  src/components/TextFieldCanary/TextFieldTypeTextArray/TextFieldTypeTextArray.css
  src/components/TextFieldCanary/TextFieldTypeTextArray/TextFieldTypeTextArray.tsx
Owners: @linturaven, @gizeasy

fix(TextField): fixed calculate padding (#4136)
  src/components/FieldComponents/FieldControlLayout/FieldControlLayout.css
  src/components/FieldComponents/FieldControlLayout/FieldControlLayout.tsx
  src/components/FieldComponents/FieldControlLayout/__tests__/FieldControlLayout.test.tsx
  src/components/FieldComponents/FieldControlLayout/__tests__/FieldControlLayoutHelpers.test.ts
  src/components/FieldComponents/FieldControlLayout/helpers.ts
  src/components/TextFieldCanary/TextFieldTypeTextArea/TextFieldTypeTextArea.css
  src/components/TextFieldCanary/TextFieldTypeTextArea/TextFieldTypeTextArea.tsx
  src/components/TextFieldCanary/TextFieldTypeTextArray/TextFieldTypeTextArray.css
  src/components/TextFieldCanary/TextFieldTypeTextArray/TextFieldTypeTextArray.tsx
Owners: @linturaven, @gizeasy

release: 5.28.3
  package.json
Owners: @gizeasy

changelog: 5.28.3
  CHANGELOG.md
Owners: @alyonurchick1

fix(TextField): fixed children container width
  src/components/AutoCompleteCanary/__stand__/AutoComplete.variants.tsx
  src/components/FieldComponents/FieldControlLayout/FieldControlLayout.css
  src/components/TextFieldCanary/TextFieldTypeTextArray/TextFieldTypeTextArray.css
Owners: @gizeasy, @linturaven

fix(TextField): fixed children container width (#4137)
  src/components/AutoCompleteCanary/__stand__/AutoComplete.variants.tsx
  src/components/FieldComponents/FieldControlLayout/FieldControlLayout.css
  src/components/TextFieldCanary/TextFieldTypeTextArray/TextFieldTypeTextArray.css
Owners: @gizeasy, @linturaven

release: 5.28.4
  package.json
Owners: @gizeasy

changelog: 5.28.4
  CHANGELOG.md
Owners: @alyonurchick1

fix(TextField): fixed children container width
  CHANGELOG.md
  package.json
  src/components/AutoCompleteCanary/__stand__/AutoComplete.variants.tsx
  src/components/FieldComponents/FieldControlLayout/FieldControlLayout.css
  src/components/TextFieldCanary/TextFieldTypeTextArray/TextFieldTypeTextArray.css
Owners: @alyonurchick1, @gizeasy, @linturaven

fix(TextField): fixed children container width
  CHANGELOG.md
  package.json
  src/components/AutoCompleteCanary/__stand__/AutoComplete.variants.tsx
  src/components/FieldComponents/FieldControlLayout/FieldControlLayout.css
  src/components/TextFieldCanary/TextFieldTypeTextArray/TextFieldTypeTextArray.css
Owners: @alyonurchick1, @gizeasy, @linturaven

chore(eslint): remove unused deprecated typescript-eslint-parser
  package.json
  yarn.lock
Owners: @gizeasy

feat(TextField): rewrite TextAreaAutoSize and fixed some bugs
  package.json
  src/components/FieldComponents/FieldControlLayout/FieldControlLayout.tsx
  src/components/FieldComponents/FieldControlLayout/__tests__/FieldControlLayout.test.tsx
  src/components/FieldComponents/FieldControlLayout/__tests__/FieldControlLayoutHelpers.test.ts
  src/components/FieldComponents/FieldControlLayout/helpers.ts
  src/components/TextAreaAutoSize/TextAreaAutoSize.css
  src/components/TextAreaAutoSize/TextAreaAutoSize.tsx
  src/components/TextAreaAutoSize/index.ts
  src/components/TextField/TextField.tsx
  src/components/TextFieldCanary/TextFieldTypeTextArea/TextFieldTypeTextArea.css
  src/components/TextFieldCanary/TextFieldTypeTextArea/TextFieldTypeTextArea.tsx
  src/components/TextFieldCanary/__stand__/TextField.variants.tsx
  src/utils/objectCompare.ts
  src/utils/state/index.ts
Owners: @gizeasy, @linturaven

Update package.json
  package.json
Owners: @gizeasy

feat(TextField): rewrite TextAreaAutoSize and fixed some bugs (#4141)
  package.json
  src/components/FieldComponents/FieldControlLayout/FieldControlLayout.tsx
  src/components/FieldComponents/FieldControlLayout/__tests__/FieldControlLayout.test.tsx
  src/components/FieldComponents/FieldControlLayout/__tests__/FieldControlLayoutHelpers.test.ts
  src/components/FieldComponents/FieldControlLayout/helpers.ts
  src/components/TextAreaAutoSize/TextAreaAutoSize.css
  src/components/TextAreaAutoSize/TextAreaAutoSize.tsx
  src/components/TextAreaAutoSize/index.ts
  src/components/TextField/TextField.tsx
  src/components/TextFieldCanary/TextFieldTypeTextArea/TextFieldTypeTextArea.css
  src/components/TextFieldCanary/TextFieldTypeTextArea/TextFieldTypeTextArea.tsx
  src/components/TextFieldCanary/__stand__/TextField.variants.tsx
  src/utils/objectCompare.ts
  src/utils/state/index.ts
Owners: @gizeasy, @linturaven

init
  .husky/pre-commit
  .husky/pre-push
  package.json
  src/components/DatePickerLine/DatePickerLine.tsx
  src/components/DatePickerLine/__stand__/DatePicker.dev.stand.mdx
  src/components/DatePickerLine/__stand__/DatePicker.stand.mdx
  src/components/DatePickerLine/__stand__/DatePicker.stand.tsx
  src/components/DatePickerLine/__stand__/DatePickerLine.variants.tsx
  src/components/DatePickerLine/index.ts
Owners: @gizeasy, @alyonurchick1

init
  .husky/pre-commit
  .husky/pre-push
  src/components/AutoComplete/AutoComplete.tsx
  src/components/AutoComplete/types.ts
  src/components/AutoCompleteCanary/AutoCompleteTypeText/AutoCompleteTypeText.tsx
  src/components/AutoCompleteCanary/AutoCompleteTypeTextArray/AutoCompleteTypeTextArray.tsx
  src/components/AutoCompleteCanary/types.ts
  src/components/Combobox/Combobox.tsx
  src/components/Combobox/helpers.ts
  src/components/ContextMenu/ContextMenuLevel/ContextMenuLevel.tsx
  src/components/ContextMenu/ContextMenuLevelWrapper/ContextMenuLevelWrapper.tsx
  src/components/ContextMenu/types.ts
  src/components/DatePicker/DatePickerDropdown/DatePickerDropdown.tsx
  src/components/DatePicker/DatePickerTypeDate/DatePickerTypeDate.tsx
  src/components/DatePicker/DatePickerTypeDateRange/DatePickerTypeDateRange.tsx
  src/components/DatePicker/DatePickerTypeDateTime/DatePickerTypeDateTime.tsx
  src/components/DatePicker/DatePickerTypeDateTimeRange/DatePickerTypeDateTimeRange.tsx
  src/components/DatePicker/DatePickerTypeMonth/DatePickerTypeMonth.tsx
  src/components/DatePicker/DatePickerTypeMonthRange/DatePickerTypeMonthRange.tsx
  src/components/DatePicker/DatePickerTypeTime/DatePickerTypeTime.tsx
  src/components/DatePicker/DatePickerTypeYear/DatePickerTypeYear.tsx
  src/components/DatePicker/DatePickerTypeYearRange/DatePickerTypeYearRange.tsx
  src/components/DatePicker/types.ts
  src/components/FlatSelect/FlatSelectRoot/FlatSelectRoot.tsx
  src/components/FlatSelect/types.ts
  src/components/SelectComponents/SelectDropdown/SelectDropdown.tsx
Owners: @gizeasy

init
  .husky/pre-commit
  .husky/pre-push
  src/components/AutoComplete/AutoComplete.tsx
  src/components/AutoComplete/types.ts
  src/components/AutoCompleteCanary/AutoCompleteTypeText/AutoCompleteTypeText.tsx
  src/components/AutoCompleteCanary/AutoCompleteTypeTextArray/AutoCompleteTypeTextArray.tsx
  src/components/AutoCompleteCanary/types.ts
  src/components/Combobox/Combobox.tsx
  src/components/Combobox/helpers.ts
  src/components/ContextMenu/ContextMenuLevel/ContextMenuLevel.tsx
  src/components/ContextMenu/ContextMenuLevelWrapper/ContextMenuLevelWrapper.tsx
  src/components/ContextMenu/types.ts
  src/components/DatePicker/DatePickerDropdown/DatePickerDropdown.tsx
  src/components/DatePicker/DatePickerTypeDate/DatePickerTypeDate.tsx
  src/components/DatePicker/DatePickerTypeDateRange/DatePickerTypeDateRange.tsx
  src/components/DatePicker/DatePickerTypeDateTime/DatePickerTypeDateTime.tsx
  src/components/DatePicker/DatePickerTypeDateTimeRange/DatePickerTypeDateTimeRange.tsx
  src/components/DatePicker/DatePickerTypeMonth/DatePickerTypeMonth.tsx
  src/components/DatePicker/DatePickerTypeMonthRange/DatePickerTypeMonthRange.tsx
  src/components/DatePicker/DatePickerTypeTime/DatePickerTypeTime.tsx
  src/components/DatePicker/DatePickerTypeYear/DatePickerTypeYear.tsx
  src/components/DatePicker/DatePickerTypeYearRange/DatePickerTypeYearRange.tsx
  src/components/DatePicker/types.ts
  src/components/FlatSelect/FlatSelectRoot/FlatSelectRoot.tsx
  src/components/FlatSelect/types.ts
  src/components/Select/Select.tsx
  src/components/Select/helpers.ts
  src/components/SelectCanary/SelectDropdown/SelectDropdown.tsx
  src/components/SelectCanary/SelectMultiple/SelectMultiple.tsx
  src/components/SelectCanary/SelectPopover/SelectPopover.tsx
  src/components/SelectCanary/SelectSingle/SelectSingle.tsx
  src/components/SelectCanary/types.ts
  src/components/SelectComponents/SelectDropdown/SelectDropdown.tsx
  src/components/UserSelect/UserSelect.tsx
  src/components/UserSelect/helpers.ts
Owners: @gizeasy

docs
  src/components/AutoComplete/__stand__/AutoComplete.dev.stand.mdx
  src/components/AutoCompleteCanary/__stand__/AutoComplete.dev.stand.mdx
  src/components/Combobox/__stand__/Combobox.dev.stand.mdx
  src/components/ContextMenu/__stand__/ContextMenu.dev.stand.mdx
  src/components/DatePicker/DatePickerDropdown/DatePickerDropdown.tsx
  src/components/DatePicker/__stand__/DatePicker.dev.stand.mdx
  src/components/FlatSelect/__stand__/FlatSelect.dev.stand.mdx
  src/components/Select/__stand__/Select.dev.stand.mdx
  src/components/SelectCanary/__stand__/Select.dev.stand.mdx
  src/components/UserSelect/UserSelect.tsx
  src/components/UserSelect/__stand__/UserSelect.dev.stand.mdx
Owners: @alyonurchick1, @gizeasy

chore(eslint): remove unused deprecated typescript-eslint-parser (#4139)
  package.json
  yarn.lock
Owners: @gizeasy

chore(deps): remove unused deprecated react-test-renderer
  package.json
  yarn.lock
Owners: @gizeasy

chore(deps): update consta@stand
  package.json
  yarn.lock
Owners: @gizeasy

release: 5.29.0
  package.json
Owners: @gizeasy

changelog: 5.29.0
  CHANGELOG.md
Owners: @alyonurchick1

fix(DatePicke/helpers): handle time-only format without date
  src/components/DatePicker/helpers.ts
Owners: @gizeasy

test(DatePicker/helpers): add tests for getTimeOptionsByFormat for time-only and empty format
  src/components/DatePicker/__tests__/DatePicker_helpers.test.tsx
Owners: @gizeasy

test(DatePickerTypeTime): cover format without date and empty format cases
  src/components/DatePicker/__tests__/DatePickerTypeTime/DatePicker_type_time.test.tsx
Owners: @gizeasy

test(DatePickerTypeDateTime): cover format without date and empty format cases
  src/components/DatePicker/__tests__/DatePickerTypeDateTime/DatePicker_type_dateTime_unit.test.tsx
Owners: @gizeasy

fix(DatePicker): handle time-only format without date (#4148)
  src/components/DatePicker/__tests__/DatePickerTypeDateTime/DatePicker_type_dateTime_unit.test.tsx
  src/components/DatePicker/__tests__/DatePickerTypeTime/DatePicker_type_time.test.tsx
  src/components/DatePicker/__tests__/DatePicker_helpers.test.tsx
  src/components/DatePicker/helpers.ts
Owners: @gizeasy

release: 5.29.1
  package.json
Owners: @gizeasy

changelog: 5.29.1
  CHANGELOG.md
Owners: @alyonurchick1

refactor(UserSelect/helpers): extract size type and update related maps
  src/components/UserSelect/helpers.ts
Owners: @gizeasy

refactor(UserSelectValue): use UserSelectPropSize type for size props
  src/components/UserSelect/UserSelectValue/UserSelectValue.tsx
Owners: @gizeasy

refactor(UserSelectItem): use UserSelectPropSize type and Text component for labels
  src/components/UserSelect/UserSelectItem/UserSelectItem.tsx
Owners: @gizeasy

refactor(UserSelectItem): update CSS for Text component and label/subLabel layout
  src/components/UserSelect/UserSelectItem/UserSelectItem.css
Owners: @linturaven

fix(UserSelectItem): update line height and width style
  src/components/UserSelect/UserSelectItem/UserSelectItem.css
  src/components/UserSelect/UserSelectItem/UserSelectItem.tsx
Owners: @linturaven, @gizeasy

fix(UserSelect): fixed color
  src/components/UserSelect/UserSelectItem/UserSelectItem.css
  src/components/UserSelect/UserSelectItem/UserSelectItem.tsx
Owners: @linturaven, @gizeasy

fix(UserSelectItem): update line height
  src/components/UserSelect/UserSelectItem/UserSelectItem.css
  src/components/UserSelect/UserSelectItem/UserSelectItem.tsx
Owners: @linturaven, @gizeasy

fix(UserSelectValue): input overflow caused by user value text
  src/components/UserSelect/UserSelectValue/UserSelectValue.css
Owners: @linturaven

.github/CODEOWNERS:

* @gizeasy
*.md @alyonurchick1
*.mdx @alyonurchick1
*.css @linturaven
