Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

.github/CODEOWNERS:

* @gizeasy @N1MBER 
*.md @arhayka @kolebayev
*.mdx @arhayka @kolebayev
*.css @kolebayev

docs(DragNDropField): edit locale descriptoin (#2413)
  src/components/DragNDropField/__stories__/DragNDropField.docs.mdx
Owners: @arhayka, @kolebayev

docs(DatePicker): add withClearButton description (#2414)
  src/components/DatePickerCanary/__stories__/DatePicker.docs.mdx
  src/components/DatePickerCanary/__stories__/examples/DatePickerExampleWithClearButton/DatePickerExampleWithClearButton.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(review): add ProgressLine and FieldGroup (#2415)
  src/components/CheckboxGroup/__stories__/CheckboxGroup.docs.mdx
  src/components/ChoiceGroup/__stories__/ChoiceGroup.docs.mdx
  src/components/FieldGroup/__stories__/FieldGroup.docs.mdx
  src/components/ProgressLine/__stories__/ProgressLine.docs.mdx
  src/components/RadioGroup/__stories__/RadioGroup.docs.mdx
  src/components/Steps/__stories__/Steps.docs.mdx
  src/components/SwitchGroup/__stories__/SwitchGroup.docs.mdx
  src/components/Tabs/__stories__/Tabs.docs.mdx
  src/uiKit/components/ComponentsGridWithData/data/data.ts
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

Update copyPackageJsonForStoryBook.js
  builder/copyPackageJsonForStoryBook.js
Owners: @gizeasy, @N1MBER

chore(storybook): add automatization for publish stand (#2421)
  builder/copyPackageJsonForStoryBook.js
Owners: @gizeasy, @N1MBER

docs(TextField): add docs for increamentButton, withClearButton and type=password (#2417)
  src/components/TextField/__stories__/TextField.docs.mdx
  src/components/TextField/__stories__/TextField.stories.tsx
  src/components/TextField/__stories__/examples/TextFieldExampleIncrementButtons/TextFieldExampleIncrementButtons.tsx
  src/components/TextField/__stories__/examples/TextFieldExampleType/TextFieldExampleType.tsx
  src/components/TextField/__stories__/examples/TextFieldExampleWithClearButton/TextFieldExampleWithClearButton.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(ProgressLine): edit docs (#2418)
  src/components/ProgressLine/__stories__/ProgressLine.docs.mdx
  src/components/ProgressLine/__stories__/examples/ProgressLineExampleMode/ProgressLineExampleMode.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

release(3.26.1):
  package.json
Owners: @gizeasy, @N1MBER

chore(3.26.1):
  CHANGELOG.md
Owners: @arhayka, @kolebayev

adaptive and header
  package.json
  src/App.tsx
  src/componets/DocLayout/DocLayout.css
  src/componets/DocLayout/DocLayout.tsx
  src/componets/Link/Link.tsx
  src/containers/AppTheme/AppTheme.css
  src/containers/AppTheme/AppTheme.tsx
  src/containers/Header/Header.css
  src/containers/Header/Header.tsx
  src/containers/Header/index.ts
  src/containers/LibPage/LibPage.css
  src/containers/LibPage/LibPageCard/LibPageCard.tsx
  src/containers/LibPage/LibPageCard/NoImage.tsx
  src/containers/LibPageMenu/LibPageMenu.tsx
  src/exportAtoms/layout/index.ts
  src/hooks/index.ts
  src/hooks/useLink.ts
  src/index.tsx
  src/modules/theme/index.ts
  src/utils/types/type-guards.ts
  yarn.lock
Owners: @gizeasy, @N1MBER, @kolebayev

feat(Fonts): add new font weight
  src/components/Text/Text.css
  src/components/Text/Text.tsx
  src/components/Theme/_size/Theme_size_gpnDefault.css
Owners: @kolebayev, @gizeasy, @N1MBER

fix(Table): fix wrap text on cell
  src/components/Table/Cell/TableCell.css
  src/components/Table/Cell/TableCell.tsx
  src/components/Table/Table.tsx
  src/components/Table/__stories__/Table.docs.mdx
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

docs(Table): edit docs, add examples
  src/components/Table/__stories__/Table.docs.mdx
  src/components/Table/__stories__/examples/TableExampleCellWrap/TableExampleCellWrap.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

feat(Fonts): add new font weight
  src/components/Text/Text.css
  src/components/Text/Text.tsx
  src/components/Theme/_size/Theme_size_gpnDefault.css
Owners: @kolebayev, @gizeasy, @N1MBER

release(3.26.2):
  package.json
Owners: @gizeasy, @N1MBER

changelog(3.26.2):
  CHANGELOG.md
Owners: @arhayka, @kolebayev

docs(Badge): edit docs
  src/components/Badge/__stories__/Badge.docs.mdx
  src/components/Badge/__stories__/examples/BadgeExampleAs/BadgeExampleAs.tsx
  src/components/Badge/__stories__/examples/BadgeExampleStatus/BadgeExampleStatus.tsx
  src/components/Badge/__stories__/examples/BadgeExampleUse/BadgeExampleUse.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(Badge): add how to use
  src/components/Badge/__stories__/examples/BadgeExampleUse/BadgeExampleUse.tsx
Owners: @gizeasy, @N1MBER

docs(Popover): change examples
  CHANGELOG.md
  src/components/Popover/__stories__/Popover.docs.mdx
  src/components/Popover/__stories__/examples/PopoverExample/PopoverExample.css
  src/components/Popover/__stories__/examples/PopoverExample/PopoverExample.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

fix(Table): fix wrap text on cell (#2425)
  src/components/Table/Cell/TableCell.css
  src/components/Table/Cell/TableCell.tsx
  src/components/Table/Table.tsx
  src/components/Table/__stories__/Table.docs.mdx
  src/components/Table/__stories__/examples/TableExampleCellWrap/TableExampleCellWrap.tsx
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

docs(Badge): add how to use section (#2435)
  src/components/Badge/__stories__/Badge.docs.mdx
  src/components/Badge/__stories__/examples/BadgeExampleAs/BadgeExampleAs.tsx
  src/components/Badge/__stories__/examples/BadgeExampleStatus/BadgeExampleStatus.tsx
  src/components/Badge/__stories__/examples/BadgeExampleUse/BadgeExampleUse.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(Popover): change examples (#2437)
  src/components/Popover/__stories__/Popover.docs.mdx
  src/components/Popover/__stories__/examples/PopoverExample/PopoverExample.css
  src/components/Popover/__stories__/examples/PopoverExample/PopoverExample.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

release(3.26.3):
  package.json
Owners: @gizeasy, @N1MBER

changelog(3.26.3):
  CHANGELOG.md
Owners: @arhayka, @kolebayev

chore(husky): add husky hooks
  .husky/pre-commit
  .husky/pre-push
  .husky/prepare-commit-msg
  commitizen.js
  package.json
  yarn.lock
Owners: @gizeasy, @N1MBER

chore(commitizen): add commitizen
  .husky/prepare-commit-msg
Owners: @gizeasy, @N1MBER

docs(Button): add too big label example
  src/components/Button/__stories__/Button.docs.mdx
  src/components/Button/__stories__/examples/ButtonExampleName/ButtonExampleName.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(Button): fix example
  src/components/Button/__stories__/examples/ButtonExampleName/ButtonExampleName.tsx
Owners: @gizeasy, @N1MBER

docs(about): add important links
  docs/common/about/about.stories.mdx
  docs/common/about/components/AboutData/AboutData.css
  docs/common/about/components/AboutData/AboutData.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

fix(components): fixed for linter
  .eslintrc.js
  .lintstagedrc.json
  .prettierignore
  .stylelintrc.js
  common.d.ts
  package.json
  src/common.d.ts
  src/componets/DocLayout/DocLayout.css
  src/componets/Image/Image.tsx
  src/containers/Header/Header.css
  src/containers/LibPage/LibPage.css
  src/containers/LibPage/LibPageCard/LibPageCard.css
  src/containers/MDXProvider/MDXProvider.tsx
  src/containers/PortalMenu/PortalMenu.css
  src/containers/PortalMenu/PortalMenuItem/PortalMenuItem.css
  src/exportTypes/index.ts
  src/typography/Code/Code.css
  tsconfig.json
  yarn.lock
Owners: @gizeasy, @N1MBER, @kolebayev

chore(build): automatic folder creation
  helpers/prepareStands.js
Owners: @gizeasy, @N1MBER

docs(Breadcrumbs): fix misprint
  src/components/BreadcrumbsCanary/__stories__/Breadcrumbs.docs.mdx
Owners: @arhayka, @kolebayev

docs(Theme): add shadows description
  src/components/Theme/__stories__/Theme.docs.mdx
Owners: @arhayka, @kolebayev

docs(Theme): add shadows description (#2447)
  src/components/Theme/__stories__/Theme.docs.mdx
Owners: @arhayka, @kolebayev

docs(Breadcrumbs): fix misprint (#2445)
  src/components/BreadcrumbsCanary/__stories__/Breadcrumbs.docs.mdx
Owners: @arhayka, @kolebayev

docs(Button): add too big label example (#2442)
  src/components/Button/__stories__/Button.docs.mdx
  src/components/Button/__stories__/examples/ButtonExampleName/ButtonExampleName.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(about): fix link
  docs/common/about/components/AboutData/AboutData.tsx
Owners: @gizeasy, @N1MBER

docs(about): add important links (#2443)
  docs/common/about/about.stories.mdx
  docs/common/about/components/AboutData/AboutData.css
  docs/common/about/components/AboutData/AboutData.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

fix(common): many fixs
  package.json
  scripts/prepareStands.js
  scripts/standGenerate.js
  src/typography/Code/Code.css
  src/typography/Code/Code.tsx
  src/typography/Code/CodePresenter.tsx
  webpack.config.js
  yarn.lock
Owners: @gizeasy, @N1MBER, @kolebayev

release(3.26.4):
  package.json
Owners: @gizeasy, @N1MBER
