Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

.github/CODEOWNERS:

* @gizeasy @N1MBER 
*.md @arhayka @kolebayev
*.mdx @arhayka @kolebayev
*.css @kolebayev

chore(gh-actions): add deploy from v4 branch
  .github/workflows/deploy.yml
Owners: @gizeasy, @N1MBER

chore(gh-actions): add deploy from v4 branch (#2570)
  .github/workflows/deploy.yml
Owners: @gizeasy, @N1MBER

fix(modal): fix animate
  src/components/Modal/Modal.css
  src/components/Modal/Modal.tsx
  src/hocs/withTooltip/__stand__/withTooltip.dev.stand.mdx
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

docs(icon): add docs
  src/icons/Icon/__stand__/Icon.dev.stand.mdx
  src/icons/Icon/__stand__/Icon.stand.mdx
  src/icons/Icon/__stand__/Icon.stand.tsx
  src/icons/Icon/__stand__/examples/IconExampleSize/IconExampleSize.tsx
  src/icons/Icon/__stand__/examples/IconExampleView/IconExampleView.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

chore(jest.config): add alias parts
  jest.config.js
Owners: @gizeasy, @N1MBER

docs(icon): add grid for icons
  scripts/templates/Icons.stories.tsx.template
  src/icons/Icon/__stand__/Icon.stand.mdx
  src/icons/Icon/__stand__/IconGrid/IconGrid.css
  src/icons/Icon/__stand__/IconGrid/IconGrid.tsx
  src/icons/Icon/__stand__/IconGrid/IconGridItem/IconGridItem.css
  src/icons/Icon/__stand__/IconGrid/IconGridItem/IconGridItem.tsx
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

feat: sfgdg
  src/icons/Icon/__stand__/IconGrid/IconGrid.css
Owners: @kolebayev

docs(icon): add docs (#2571)
  jest.config.js
  scripts/templates/Icons.stories.tsx.template
  src/icons/Icon/__stand__/Icon.dev.stand.mdx
  src/icons/Icon/__stand__/Icon.stand.mdx
  src/icons/Icon/__stand__/Icon.stand.tsx
  src/icons/Icon/__stand__/IconGrid/IconGrid.css
  src/icons/Icon/__stand__/IconGrid/IconGrid.tsx
  src/icons/Icon/__stand__/IconGrid/IconGridItem/IconGridItem.css
  src/icons/Icon/__stand__/IconGrid/IconGridItem/IconGridItem.tsx
  src/icons/Icon/__stand__/examples/IconExampleSize/IconExampleSize.tsx
  src/icons/Icon/__stand__/examples/IconExampleView/IconExampleView.tsx
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

docs(mixs): add mixs docs
  src/mixs/MixCard/__stand__/MixCard.stand.mdx
  src/mixs/MixCard/__stand__/MixCard.stand.tsx
  src/mixs/MixCard/__stand__/examples/MixCardExampleBorder/MixCardExampleBorder.css
  src/mixs/MixCard/__stand__/examples/MixCardExampleBorder/MixCardExampleBorder.tsx
  src/mixs/MixCard/__stand__/examples/MixCardExampleForm/MixCardExampleForm.css
  src/mixs/MixCard/__stand__/examples/MixCardExampleForm/MixCardExampleForm.tsx
  src/mixs/MixCard/__stand__/examples/MixCardExampleShadow/MixCardExampleShadow.css
  src/mixs/MixCard/__stand__/examples/MixCardExampleShadow/MixCardExampleShadow.tsx
  src/mixs/MixCard/__stand__/examples/MixCardExampleSpace/MixCardExampleSpace.tsx
  src/mixs/MixCard/__stand__/examples/MixCardExampleStates/MixCardExampleStates.css
  src/mixs/MixCard/__stand__/examples/MixCardExampleStates/MixCardExampleStates.tsx
  src/mixs/MixPopoverAnimate/__stand__/MixPopoverAnimate.stand.mdx
  src/mixs/MixPopoverAnimate/__stand__/MixPopoverAnimate.stand.tsx
  src/mixs/MixPopoverAnimate/__stand__/examples/MixPopoverAnimateExample/MixPopoverAnimateExample.css
  src/mixs/MixPopoverAnimate/__stand__/examples/MixPopoverAnimateExample/MixPopoverAnimateExample.tsx
  src/mixs/MixPopoverArrow/__stand__/MixPopoverArrow.stand.mdx
  src/mixs/MixPopoverArrow/__stand__/MixPopoverArrow.stand.tsx
  src/mixs/MixPopoverArrow/__stand__/examples/MixPopoverArrowExample/MixPopoverArrowExample.css
  src/mixs/MixPopoverArrow/__stand__/examples/MixPopoverArrowExample/MixPopoverArrowExample.tsx
  src/mixs/MixSpace/__stand__/MixSpace.stand.mdx
  src/mixs/MixSpace/__stand__/MixSpace.stand.tsx
  src/mixs/MixSpace/__stand__/examples/MixSpaceExample/MixSpaceExample.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(components): attachment, Avatar, AvatarGroup, Badge, Button
  src/components/Attachment/__stand__/Attachment.dev.stand.mdx
  src/components/Attachment/__stand__/Attachment.stand.mdx
  src/components/Attachment/__stand__/Attachment.stand.tsx
  src/components/Avatar/__stand__/Avatar.dev.stand.mdx
  src/components/Avatar/__stand__/Avatar.stand.mdx
  src/components/Avatar/__stand__/Avatar.stand.tsx
  src/components/Badge/__stand__/Badge.dev.stand.mdx
  src/components/Badge/__stand__/Badge.stand.mdx
  src/components/Button/__stand__/Button.dev.stand.mdx
  src/components/Button/__stand__/Button.stand.mdx
  src/components/Button/__stand__/examples/ButtonExampleAdaptive/ButtonExampleAdaptive.tsx
  src/components/Button/__stand__/examples/ButtonExampleBasic/ButtonExampleBasic.tsx
  src/components/Button/__stand__/examples/ButtonExampleForm/ButtonExampleForm.tsx
  src/components/Button/__stand__/examples/ButtonExampleIcon/ButtonExampleIcon.tsx
  src/components/Button/__stand__/examples/ButtonExampleLoading/ButtonExampleLoading.tsx
  src/components/Button/__stand__/examples/ButtonExampleName/ButtonExampleName.tsx
  src/components/Button/__stand__/examples/ButtonExampleSize/ButtonExampleSize.tsx
  src/components/Button/__stand__/examples/ButtonExampleView/ButtonExampleView.tsx
  src/components/Button/__stories__/examples/ButtonExampleName/ButtonExampleName.tsx
  src/uiKit/components/DocsExample/DocsExample.css
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

fix(components): fix aimate Sidebar, fix examples
  src/components/Modal/__stand__/examples/ModalExample/ModalExample.tsx
  src/components/Modal/__stand__/examples/ModalExampleZIndex/ModalExampleZIndex.tsx
  src/components/Sidebar/Sidebar.css
  src/components/Sidebar/Sidebar.tsx
  src/components/Sidebar/__stand__/examples/SidebarExample/SidebarExample.tsx
  src/hooks/useHideElementsInLine/__stand__/examples/ExampleUseHideElementsInLine/ExampleUseHideElementsInLine.css
  src/hooks/useHideElementsInLine/__stand__/useHideElementsInLine.dev.stand.mdx
Owners: @gizeasy, @N1MBER, @kolebayev, @arhayka

docs(mixs): add mixs docs (#2572)
  src/mixs/MixCard/__stand__/MixCard.stand.mdx
  src/mixs/MixCard/__stand__/MixCard.stand.tsx
  src/mixs/MixCard/__stand__/examples/MixCardExampleBorder/MixCardExampleBorder.css
  src/mixs/MixCard/__stand__/examples/MixCardExampleBorder/MixCardExampleBorder.tsx
  src/mixs/MixCard/__stand__/examples/MixCardExampleForm/MixCardExampleForm.css
  src/mixs/MixCard/__stand__/examples/MixCardExampleForm/MixCardExampleForm.tsx
  src/mixs/MixCard/__stand__/examples/MixCardExampleShadow/MixCardExampleShadow.css
  src/mixs/MixCard/__stand__/examples/MixCardExampleShadow/MixCardExampleShadow.tsx
  src/mixs/MixCard/__stand__/examples/MixCardExampleSpace/MixCardExampleSpace.tsx
  src/mixs/MixCard/__stand__/examples/MixCardExampleStates/MixCardExampleStates.css
  src/mixs/MixCard/__stand__/examples/MixCardExampleStates/MixCardExampleStates.tsx
  src/mixs/MixPopoverAnimate/__stand__/MixPopoverAnimate.stand.mdx
  src/mixs/MixPopoverAnimate/__stand__/MixPopoverAnimate.stand.tsx
  src/mixs/MixPopoverAnimate/__stand__/examples/MixPopoverAnimateExample/MixPopoverAnimateExample.css
  src/mixs/MixPopoverAnimate/__stand__/examples/MixPopoverAnimateExample/MixPopoverAnimateExample.tsx
  src/mixs/MixPopoverArrow/__stand__/MixPopoverArrow.stand.mdx
  src/mixs/MixPopoverArrow/__stand__/MixPopoverArrow.stand.tsx
  src/mixs/MixPopoverArrow/__stand__/examples/MixPopoverArrowExample/MixPopoverArrowExample.css
  src/mixs/MixPopoverArrow/__stand__/examples/MixPopoverArrowExample/MixPopoverArrowExample.tsx
  src/mixs/MixSpace/__stand__/MixSpace.stand.mdx
  src/mixs/MixSpace/__stand__/MixSpace.stand.tsx
  src/mixs/MixSpace/__stand__/examples/MixSpaceExample/MixSpaceExample.tsx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(components): fix links
  src/components/Badge/__stand__/Badge.stand.mdx
  src/components/Button/__stand__/Button.dev.stand.mdx
  src/components/Button/__stand__/examples/ButtonExampleName/ButtonExampleName.tsx
  src/components/CollapseGroup/__stories__/CollapseGroup.docs.mdx
  src/components/ContextMenu/__stand__/ContextMenu.dev.stand.mdx
  src/components/ContextMenuDeprecated/__stand__/ContextMenu.dev.stand.mdx
  src/components/DatePicker/__stand__/DatePicker.stand.mdx
  src/components/File/__stand__/File.dev.stand.mdx
  src/components/File/__stand__/File.stand.mdx
  src/components/FileField/__stand__/FileField.dev.stand.mdx
  src/components/FileField/__stand__/FileField.stand.mdx
  src/components/Grid/__stand__/Grid.dev.stand.mdx
  src/components/Grid/__stand__/Grid.stand.mdx
  src/components/Header/__stand__/Header.dev.stand.mdx
  src/components/Header/__stand__/Header.stand.mdx
  src/components/Informer/__stand__/Informer.dev.stand.mdx
  src/components/Informer/__stand__/Informer.stand.mdx
  src/components/Layout/__stand__/Layout.dev.stand.mdx
  src/components/Loader/__stand__/Loader.dev.stand.mdx
  src/components/Modal/__stand__/Modal.dev.stand.mdx
  src/components/Pagination/__stand__/Pagination.dev.stand.mdx
  src/components/Popover/__stand__/Popover.dev.stand.mdx
  src/components/ProgressLine/__stand__/ProgressLine.dev.stand.mdx
  src/components/ProgressLine/__stand__/ProgressLine.stand.mdx
  src/components/ProgressSpin/__stand__/ProgressSpin.dev.stand.mdx
  src/components/ProgressStepBar/__stand__/ProgressStepBar.dev.stand.mdx
  src/components/Radio/__stand__/Radio.stand.mdx
  src/components/Skeleton/__stand__/Skeleton.dev.stand.mdx
  src/components/SnackBar/__stand__/SnackBar.stand.mdx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

chore(stand): upgrade stand version
  package.json
Owners: @gizeasy, @N1MBER

docs(stand): upgrate stand version
  package.json
  yarn.lock
Owners: @gizeasy, @N1MBER

chore(stand): upgrade stand version
  package.json
  yarn.lock
Owners: @gizeasy, @N1MBER

feat(standconfig): add standPageDecoration
  src/stand/standConfig.tsx
Owners: @gizeasy, @N1MBER

docs(Button): fix misprint, describe icon size
  src/components/Button/__stories__/Button.docs.mdx
Owners: @arhayka, @kolebayev

feat(Tabs): add xs size and fix colors (#2481)
  src/components/Tabs/Line/TabsLine.css
  src/components/Tabs/Tab/TabsTab.css
  src/components/Tabs/Tab/TabsTab.tsx
  src/components/Tabs/Tabs.css
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/__stories__/Tabs.docs.mdx
  src/components/Tabs/__stories__/examples/TabsExampleSize/TabsExampleSize.tsx
  src/components/TabsCanary/Line/TabsLine.css
  src/components/TabsCanary/Tab/TabsTab.css
  src/components/TabsCanary/Tab/TabsTab.tsx
  src/components/TabsCanary/Tabs.css
  src/components/TabsCanary/__stories__/Tabs.docs.mdx
  src/components/TabsCanary/__stories__/examples/TabsExampleSize/TabsExampleSize.tsx
  src/components/TabsCanary/types.ts
Owners: @kolebayev, @gizeasy, @N1MBER, @arhayka

docs(Button): fix misprint, describe icon size (#2590)
  src/components/Button/__stories__/Button.docs.mdx
Owners: @arhayka, @kolebayev

release: 3.29.0
  package.json
Owners: @gizeasy, @N1MBER

changelog: 3.29.0
  CHANGELOG.md
Owners: @arhayka, @kolebayev

docs(components): fix links
  src/components/Badge/__stories__/Badge.docs.mdx
  src/components/Button/__stand__/Button.dev.stand.mdx
  src/components/Collapse/__stand__/Collapse.dev.stand.mdx
  src/components/Combobox/__stand__/Combobox.stand.mdx
  src/components/DatePicker/__stand__/DatePicker.dev.stand.mdx
  src/components/Informer/__stand__/Informer.dev.stand.mdx
  src/components/Popover/__stand__/Popover.stand.mdx
  src/components/ProgressStepBar/__stand__/ProgressStepBar.dev.stand.mdx
  src/components/Slider/__stand__/Slider.dev.stand.mdx
  src/components/SnackBar/__stand__/SnackBar.dev.stand.mdx
  src/components/Table/__stand__/examples/TableExampleCellWrap/TableExampleCellWrap.tsx
  src/components/Tag/__stand__/Tag.dev.stand.mdx
Owners: @arhayka, @kolebayev, @gizeasy, @N1MBER

docs(abatargroup): change component image
  src/components/AvatarGroup/__stand__/AvatarGroup.image.svg
Owners: @gizeasy, @N1MBER

docs(abatargroup): change image filling
  src/components/AvatarGroup/__stand__/AvatarGroup.image.svg
Owners: @gizeasy, @N1MBER

chore(stand): update stand version
  package.json
  src/common.d.ts
  src/stand/description.mdx
  src/stand/standConfig.ts
  src/types/common.d.ts
  yarn.lock
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

dd
  src/stand/standConfig.ts
  src/stand/standPageDecoration.tsx
Owners: @gizeasy, @N1MBER

chore(stand): update stand version (#2618)
  package.json
  src/common.d.ts
  src/stand/description.mdx
  src/stand/standConfig.ts
  src/stand/standPageDecoration.tsx
  src/types/common.d.ts
  yarn.lock
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

fix
  package.json
  yarn.lock
Owners: @gizeasy, @N1MBER

fix(DragNDropField): DragNDropField className property now applies correctly;
  src/components/DragNDropField/DragNDropField.tsx
  src/components/DragNDropField/__stories__/DragNDropField.docs.mdx
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

fix(DragNDropField): added className property; (#2609)
  src/components/DragNDropField/DragNDropField.tsx
  src/components/DragNDropField/__stories__/DragNDropField.docs.mdx
Owners: @gizeasy, @N1MBER, @arhayka, @kolebayev

docs: add afterClose to Modal & Sidebar
  src/components/Modal/__stand__/Modal.dev.stand.mdx
  src/components/Sidebar/__stand__/Sidebar.dev.stand.mdx
Owners: @arhayka, @kolebayev

feat(sandbox): add sandbox links to six components
  src/components/Attachment/__stand__/Attachment.stand.tsx
  src/components/Avatar/__stand__/Avatar.stand.tsx
  src/components/AvatarGroup/__stand__/AvatarGroup.stand.tsx
  src/components/Badge/__stand__/Badge.stand.tsx
  src/components/Breadcrumbs/__stand__/Breadcrumbs.stand.tsx
  src/components/Button/__stand__/Button.stand.tsx
Owners: @gizeasy, @N1MBER

chore(deps): up stand version
  package.json
  yarn.lock
Owners: @gizeasy, @N1MBER

feat(variants): add variant
  package.json
  src/components/Attachment/__stand__/Attachment.variants.tsx
  yarn.lock
Owners: @gizeasy, @N1MBER

ff
  package.json
  yarn.lock
Owners: @gizeasy, @N1MBER

ff
  node_modules/@consta/stand/package.json
  package.json
  src/components/Attachment/__stand__/Attachment.variants.css
  src/components/Attachment/__stand__/Attachment.variants.tsx
  src/components/Avatar/__stand__/Avatar.variants.tsx
  src/components/AvatarGroup/AvatarGroup.css
  src/components/AvatarGroup/AvatarGroup.tsx
  src/components/AvatarGroup/__stand__/AvatarGroup.variants.tsx
  yarn.lock
Owners: @gizeasy, @N1MBER, @kolebayev

Update AvatarGroup.test.tsx
  src/components/AvatarGroup/__tests__/AvatarGroup.test.tsx
Owners: @gizeasy, @N1MBER

feat(variants): add variant (#2630)
  node_modules/@consta/stand/package.json
  package.json
  src/components/Attachment/__stand__/Attachment.variants.css
  src/components/Attachment/__stand__/Attachment.variants.tsx
  src/components/Avatar/__stand__/Avatar.variants.tsx
  src/components/AvatarGroup/AvatarGroup.css
  src/components/AvatarGroup/AvatarGroup.tsx
  src/components/AvatarGroup/__stand__/AvatarGroup.variants.tsx
  src/components/AvatarGroup/__tests__/AvatarGroup.test.tsx
  yarn.lock
Owners: @gizeasy, @N1MBER, @kolebayev

chore(package.jso): update stands version
  package.json
Owners: @gizeasy, @N1MBER
