Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @alyonurchick1, @linturaven

.github/CODEOWNERS:

* @gizeasy
*.md @alyonurchick1
*.mdx @alyonurchick1
*.css @linturaven

feat(FileCanary): add type
  src/components/FileCanary/types.ts
Owners: @gizeasy

feat(FileCanary): default config
  src/components/FileCanary/config.ts
Owners: @gizeasy

feat(FileCanary): add FileCanaryBase component with styles
  src/components/FileCanary/FileCanaryBase/FileCanaryBase.css
  src/components/FileCanary/FileCanaryBase/FileCanaryBase.tsx
Owners: @linturaven, @gizeasy

feat(FileCanary): add file component generator function
  src/components/FileCanary/fileCanaryGenerator.tsx
Owners: @gizeasy

feat(FileCanary): add default File componen
  src/components/FileCanary/FileCanary.tsx
  src/components/FileCanary/index.ts
Owners: @gizeasy

test(FileCanary): add unit tests
  src/components/FileCanary/__tests__/FileCanary.test.tsx
  src/components/FileCanary/__tests__/FileCanaryBase/FileCanaryBase.test.tsx
  src/components/FileCanary/__tests__/ fileCanaryGenerator.test.tsx
Owners: @gizeasy

docs(FileCanary): add stand examples
  src/components/FileCanary/__stand__/examples/FileExampleAllExtensions/FileExampleAllExtensions.css
  src/components/FileCanary/__stand__/examples/FileExampleAllExtensions/FileExampleAllExtensions.tsx
  src/components/FileCanary/__stand__/examples/FileExampleColorOverride/FileExampleColorOverride.css
  src/components/FileCanary/__stand__/examples/FileExampleColorOverride/FileExampleColorOverride.tsx
  src/components/FileCanary/__stand__/examples/FileExampleConfigOverride/FileExampleConfigOverride.css
  src/components/FileCanary/__stand__/examples/FileExampleConfigOverride/FileExampleConfigOverride.tsx
  src/components/FileCanary/__stand__/examples/FileExampleExtension/FileExampleExtension.tsx
  src/components/FileCanary/__stand__/examples/FileExampleSize/FileExampleSize.tsx
Owners: @linturaven, @gizeasy

docs(FileCanary): add documentation
  src/components/FileCanary/__stand__/File.dev.stand.mdx
  src/components/FileCanary/__stand__/File.image.svg
  src/components/FileCanary/__stand__/File.stand.mdx
  src/components/FileCanary/__stand__/File.stand.tsx
  src/components/FileCanary/__stand__/File.variants.tsx
Owners: @alyonurchick1, @gizeasy

refactor(FileCanary): update color var in css for user override
  src/components/FileCanary/FileCanaryBase/FileCanaryBase.css
Owners: @linturaven

docs(FileCanary): update color override example
  src/components/FileCanary/__stand__/examples/FileExampleColorOverride/FileExampleColorOverride.css
  src/components/FileCanary/__stand__/examples/FileExampleColorOverride/FileExampleColorOverride.tsx
Owners: @linturaven, @gizeasy

docs(FileCanary): update dev docs
  src/components/FileCanary/__stand__/File.dev.stand.mdx
Owners: @alyonurchick1

fix(FileCanary): spelling
  src/components/FileCanary/__stand__/File.dev.stand.mdx
  src/components/FileCanary/__stand__/examples/FileExampleConfigOverride/FileExampleConfigOverride.tsx
Owners: @alyonurchick1, @gizeasy

feat(FileCanary): add generic types
  src/components/FileCanary/FileCanaryBase/FileCanaryBase.css
  src/components/FileCanary/FileCanaryBase/FileCanaryBase.tsx
  src/components/FileCanary/fileCanaryGenerator.tsx
  src/components/FileCanary/types.ts
Owners: @linturaven, @gizeasy

test(FileCanary): add tests for generic props
  src/components/FileCanary/__tests__/FileCanary.test.tsx
  src/components/FileCanary/__tests__/FileCanaryBase/FileCanaryBase.test.tsx
  src/components/FileCanary/__tests__/ fileCanaryGenerator.test.tsx
Owners: @gizeasy

docs(FileCanary): add as and ref properties into table
  src/components/FileCanary/__stand__/File.dev.stand.mdx
Owners: @alyonurchick1

chore: update consta/icons version
  package.json
  yarn.lock
Owners: @gizeasy

fix(FileCanary): update icon name
  src/components/FileCanary/config.ts
Owners: @gizeasy

test(GileCanary): fix unknown prop
  src/components/FileCanary/__tests__/FileCanary.test.tsx
  src/components/FileCanary/__tests__/FileCanaryBase/FileCanaryBase.test.tsx
Owners: @gizeasy

fix(FileCanary): extension spell
  cspell.json
Owners: @gizeasy

chore: remove consta icons from dev deps
  package.json
Owners: @gizeasy

refactor(FileCanary): fileGenerator example rename custom extension
  src/components/FileCanary/__stand__/File.dev.stand.mdx
Owners: @alyonurchick1

docs(FileCanary): update color override example
  src/components/FileCanary/__stand__/File.dev.stand.mdx
Owners: @alyonurchick1

refactor(FileCanary): move otherProps before explicit props
  src/components/FileCanary/fileCanaryGenerator.tsx
Owners: @gizeasy

refactor(FileCanary): set border radius variable from theme
  src/components/FileCanary/FileCanaryBase/FileCanaryBase.css
Owners: @linturaven

refactor(FileCanary): remove theme
  src/components/FileCanary/FileCanaryBase/FileCanaryBase.css
  src/components/FileCanary/FileCanaryBase/FileCanaryBase.tsx
Owners: @linturaven, @gizeasy

refactor(FileCanary): update letter-spacing
  src/components/FileCanary/FileCanaryBase/FileCanaryBase.css
Owners: @linturaven

refactor(FileCanary): remove drawio extension
  src/components/FileCanary/config.ts
Owners: @gizeasy

test(FileCanary): rename custom extension
  src/components/FileCanary/__tests__/FileCanary.test.tsx
Owners: @gizeasy

feat(FileCanary): create file canary component (#4158)
  cspell.json
  package.json
  src/components/FileCanary/FileCanary.tsx
  src/components/FileCanary/FileCanaryBase/FileCanaryBase.css
  src/components/FileCanary/FileCanaryBase/FileCanaryBase.tsx
  src/components/FileCanary/__stand__/File.dev.stand.mdx
  src/components/FileCanary/__stand__/File.image.svg
  src/components/FileCanary/__stand__/File.stand.mdx
  src/components/FileCanary/__stand__/File.stand.tsx
  src/components/FileCanary/__stand__/File.variants.tsx
  src/components/FileCanary/__stand__/examples/FileExampleAllExtensions/FileExampleAllExtensions.css
  src/components/FileCanary/__stand__/examples/FileExampleAllExtensions/FileExampleAllExtensions.tsx
  src/components/FileCanary/__stand__/examples/FileExampleColorOverride/FileExampleColorOverride.css
  src/components/FileCanary/__stand__/examples/FileExampleColorOverride/FileExampleColorOverride.tsx
  src/components/FileCanary/__stand__/examples/FileExampleConfigOverride/FileExampleConfigOverride.css
  src/components/FileCanary/__stand__/examples/FileExampleConfigOverride/FileExampleConfigOverride.tsx
  src/components/FileCanary/__stand__/examples/FileExampleExtension/FileExampleExtension.tsx
  src/components/FileCanary/__stand__/examples/FileExampleSize/FileExampleSize.tsx
  src/components/FileCanary/__tests__/FileCanary.test.tsx
  src/components/FileCanary/__tests__/FileCanaryBase/FileCanaryBase.test.tsx
  src/components/FileCanary/__tests__/ fileCanaryGenerator.test.tsx
  src/components/FileCanary/config.ts
  src/components/FileCanary/fileCanaryGenerator.tsx
  src/components/FileCanary/index.ts
  src/components/FileCanary/types.ts
  src/components/Theme/_font/Silkscreen-Regular.woff
  src/components/Theme/_font/Silkscreen-Regular.woff2
  src/components/Theme/_font/Theme_font_gpnDefault.css
  yarn.lock
Owners: @gizeasy, @linturaven, @alyonurchick1

test(hooks): add tests for `useFlag` `useKeys` `usePrevious` `useTimer`
  src/hooks/useFlag/__tests__/useFlag.test.ts
  src/hooks/useKeys/__tests__/useKeys.test.tsx
  src/hooks/usePrevious/__tests__/usePrevious.test.ts
  src/hooks/useTimer/__tests__/useTimer.test.ts
Owners: @gizeasy

test(hooks): add tests for `useFlag` `useKeys` `usePrevious` `useTimer` (#4159)
  src/hooks/useFlag/__tests__/useFlag.test.ts
  src/hooks/useKeys/__tests__/useKeys.test.tsx
  src/hooks/usePrevious/__tests__/usePrevious.test.ts
  src/hooks/useTimer/__tests__/useTimer.test.ts
Owners: @gizeasy

release: 5.31.0
  package.json
Owners: @gizeasy

changelog: 5.31.0
  CHANGELOG.md
Owners: @alyonurchick1

test(FieldControlLayout): add test
  .husky/pre-commit
  .husky/pre-push
  cspell.json
  src/components/ColorPicker/ColorControl/types.ts
  src/components/ColorPicker/ColorInputTypeChanger/ColorInputTypeChanger.tsx
  src/components/ColorPicker/ColorMarker/ColorMarker.tsx
  src/components/ColorPicker/ColorPicker/ColorPicker.tsx
  src/components/ColorPicker/ColorPicker/types.ts
  src/components/ColorPicker/ColorPickerAlpha/ColorPickerAlpha.tsx
  src/components/ColorPicker/ColorPickerInput/helpers.ts
  src/components/ColorPicker/ColorPickerInteractive/ColorPickerInteractive.tsx
  src/components/ColorPicker/ColorPickerPoint/ColorPickerPoint.tsx
  src/components/ColorPicker/__stand__/ColorPicker.dev.stand.mdx
  src/components/ColorPicker/__stand__/ColorPicker.variants.tsx
  src/components/ColorPicker/__stand__/examples/ColorPickerExample/ColorPickerExample.tsx
  src/components/ColorPicker/__tests__/ColorControl.test.tsx
  src/components/ColorPicker/__tests__/ColorMarker.test.tsx
  src/components/ColorPicker/__tests__/ColorPalette.test.tsx
  src/components/ColorPicker/__tests__/ColorPicker.test.tsx
  src/components/ColorPicker/__tests__/ColorPickerAlpha.test.tsx
  src/components/ColorPicker/__tests__/ColorPickerBase.test.tsx
  src/components/ColorPicker/__tests__/ColorPickerHue.test.tsx
  src/components/ColorPicker/__tests__/ColorPickerInput.test.tsx
  src/components/ColorPicker/__tests__/ColorPickerInteractive.test.tsx
  src/components/ColorPicker/__tests__/ColorPickerPoint.test.tsx
  src/components/ColorPicker/__tests__/ColorPickerRoot.test.tsx
  src/components/ColorPicker/__tests__/ColorPickerSaturation.test.tsx
  src/components/ColorPicker/__tests__/clamp.test.ts
  src/components/ColorPicker/__tests__/compare.test.ts
  src/components/ColorPicker/__tests__/convert.test.ts
  src/components/ColorPicker/__tests__/format.test.ts
  src/components/ColorPicker/__tests__/useColorManipulation.test.ts
  src/components/ColorPicker/__tests__/useEventCallback.test.ts
  src/components/ColorPicker/hooks/useEventCallback.ts
  src/components/ColorPicker/index.ts
  src/components/ColorPicker/utils/compare.ts
  src/components/FieldComponents/FieldControlLayout/__tests__/FieldControlLayout.test.tsx
  src/components/FieldComponents/FieldControlLayout/__tests__/FieldControlLayoutHelpers.test.ts
Owners: @gizeasy, @alyonurchick1

fix(DragNDropField): make accept prop case-insensitive
  src/components/DragNDropField/formatAccept.ts
Owners: @gizeasy

fix(Combobox): fix useSelect max depth bug
  src/components/Combobox/__tests__/Combobox.test.tsx
  src/components/SelectComponents/useSelect/useSelect.ts
Owners: @gizeasy

chore(deps): update date-fns
  package.json
  yarn.lock
Owners: @gizeasy

chore(deps): update date-fns
  src/components/DatePicker/DatePickerDropdown/DatePickerDropdown.tsx
  src/components/DatePicker/DatePickerTypeDate/DatePickerTypeDate.tsx
  src/components/DatePicker/DatePickerTypeDateRange/DatePickerTypeDateRange.tsx
  src/components/DatePicker/DatePickerTypeDateTime/DatePickerTypeDateTime.tsx
  src/components/DatePicker/DatePickerTypeDateTimeRange/DatePickerTypeDateTimeRange.tsx
  src/components/DatePicker/DatePickerTypeMonth/DatePickerTypeMonth.tsx
  src/components/DatePicker/DatePickerTypeMonthRange/DatePickerTypeMonthRange.tsx
  src/components/DatePicker/__stand__/DatePicker.dev.stand.mdx
  src/components/DatePicker/__stand__/DatePicker.variants.tsx
  src/components/DatePicker/getChangeFnRange.ts
  src/components/DateTime/DateTime100YearSlider/DateTime100YearSlider.tsx
  src/components/DateTime/DateTime10YearSlider/DateTime10YearSlider.tsx
  src/components/DateTime/DateTimeTypeDate/DateTimeTypeDate.tsx
  src/components/DateTime/DateTimeTypeMonth/DateTimeTypeMonth.tsx
  src/components/DateTime/DateTimeTypeYear/DateTimeTypeYear.tsx
  src/components/DateTime/DateTimeYearSlider/DateTimeYearSlider.tsx
  src/components/DateTime/__stand__/DateTime.dev.stand.mdx
  src/components/DateTime/__stand__/DateTime.variants.tsx
  src/components/DateTime/__stand__/examples/DateTimeExampleDateMin/DateTimeExampleDateMin.tsx
  src/components/DateTime/__stand__/examples/DateTimeExampleEvents/DateTimeExampleEvents.tsx
  src/components/DateTime/__stand__/examples/DateTimeExampleLocale/DateTimeExampleLocale.tsx
  src/components/DateTime/__stand__/examples/DateTimeExampleView/DateTimeExampleView.tsx
  src/components/DateTime/__tests__/DateTime_type_date.test.tsx
  src/components/DateTime/__tests__/DateTime_type_dateTime.test.tsx
  src/components/DateTime/__tests__/DateTime_type_month.test.tsx
  src/components/DateTime/__tests__/getDaysOfMonth.test.ts
  src/components/DateTime/__tests__/getMonthsOfYear.test.ts
  src/components/DateTime/__tests__/getYearsOfDecade.test.ts
  src/components/DateTime/helpers/index.ts
  src/components/DateTime/helpers/types.ts
  src/components/Notification/helpers/defaultDateFormat.ts
  src/utils/date/index.ts
Owners: @gizeasy, @alyonurchick1

test(Combobox): remove test
  src/components/Combobox/__tests__/Combobox.test.tsx
Owners: @gizeasy

fix(Combobox/UserSelect): fix `Maximum update depth exceeded` (#4164)
  src/components/SelectComponents/useSelect/useSelect.ts
Owners: @gizeasy
