Repository consta-design-system/uikit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tsvetta, @gizeasy, @nekitk, @miocene, @fooontic, @kolebayev, @arhayka

feat(Table): add Tag
  src/components/Table/SelectedOption/TableSelectedOption.css
  src/components/Table/SelectedOption/TableSelectedOption.tsx
  src/components/Table/SelectedOptionsList/TableSelectedOptionsList.tsx
Owners: @miocene, @fooontic, @kolebayev, @tsvetta, @gizeasy, @nekitk

fix(combobox): исправить типы
  src/components/Combobox/__stories__/Combobox.stories.tsx
Owners: @tsvetta, @gizeasy, @nekitk

feat(Table): add Tag (#394)
  src/components/Table/SelectedOption/TableSelectedOption.css
  src/components/Table/SelectedOption/TableSelectedOption.tsx
  src/components/Table/SelectedOptionsList/TableSelectedOptionsList.tsx
Owners: @miocene, @fooontic, @kolebayev, @tsvetta, @gizeasy, @nekitk

feat(Tag): add mode info (#391)
  src/components/Tag/Tag.css
  src/components/Tag/Tag.tsx
  src/components/Tag/__stories__/Tag.stories.tsx
  src/components/Tag/__tests__/Tag.test.tsx
  src/components/TagBase/TagBase.css
  src/components/TagBase/TagBase.tsx
  src/components/TagBase/__tests__/TagBase.test.tsx
Owners: @miocene, @fooontic, @kolebayev, @tsvetta, @gizeasy, @nekitk

fix(multiselect): заблокировать всплытие события клика при удалении тега
  src/components/MultiCombobox/MultiCombobox.tsx
Owners: @tsvetta, @gizeasy, @nekitk

fix
  src/components/Combobox/__stories__/Combobox.stories.tsx
  tsconfig.json
Owners: @tsvetta, @gizeasy, @nekitk

docs(start): add docs start
  docs/common/about.mdx
  docs/common/developers/commits-style.mdx
  docs/common/developers/contributors.mdx
  docs/common/developers/file-structure/file-structure-components.mdx
  docs/common/developers/file-structure/file-structure.mdx
  docs/common/developers/review.mdx
  docs/common/start.mdx
Owners: @miocene, @fooontic, @kolebayev, @arhayka

fix(ChoiceGroup): fix import in doc example (#388)
  src/components/ChoiceGroup/__stories__/ChoiceGroup.mdx
Owners: @miocene, @fooontic, @kolebayev, @arhayka

feat(Table): add modifier zebraStriped
  src/components/Table/Table.css
  src/components/Table/Table.tsx
  src/components/Table/__stories__/Table.stories.tsx
Owners: @miocene, @fooontic, @kolebayev, @tsvetta, @gizeasy, @nekitk

feat(Popover): add new positions (#379)
  src/components/Popover/Popover.tsx
  src/components/Popover/__tests__/helpers.test.ts
  src/components/Popover/helpers.ts
  src/components/Tooltip/Tooltip.css
Owners: @tsvetta, @gizeasy, @nekitk, @miocene, @fooontic, @kolebayev

fix(whitepaper): whitepaper affected documentation styles, fixed text weight (#384)
  src/utils/whitepaper/whitepaper.css
Owners: @miocene, @fooontic, @kolebayev

refactor(multicombobox):
  src/components/MultiCombobox/MultiCombobox.tsx
Owners: @tsvetta, @gizeasy, @nekitk

fix(multicombobox): удалить файл
  src/components/BasicSelect/types.ts
  src/components/MultiCombobox/__stories__/MultiCombobox.mdx
Owners: @tsvetta, @gizeasy, @nekitk, @miocene, @fooontic, @kolebayev, @arhayka

fix
  src/components/Table/__stories__/Table.stories.tsx
Owners: @tsvetta, @gizeasy, @nekitk

fix(multicombobox): изменить направления для выпадающего блока
  src/components/MultiCombobox/__stories__/MultiCombobox.stories.tsx
  src/components/SelectComponents/SelectDropdown/SelectDropdown.tsx
Owners: @tsvetta, @gizeasy, @nekitk

fix(multicombobox): исправить выбор активной опции
  src/components/SelectComponents/SelectDropdown/SelectDropdown.tsx
Owners: @tsvetta, @gizeasy, @nekitk

fix(TextField): fix sides styles
  src/components/TextField/TextField.css
  src/components/TextField/TextField.tsx
Owners: @miocene, @fooontic, @kolebayev, @tsvetta, @gizeasy, @nekitk

docs(start): add docs start (#393)
  docs/common/about.mdx
  docs/common/developers/commits-style.mdx
  docs/common/developers/contributors.mdx
  docs/common/developers/file-structure/file-structure-components.mdx
  docs/common/developers/file-structure/file-structure.mdx
  docs/common/developers/review.mdx
  docs/common/start.mdx
Owners: @miocene, @fooontic, @kolebayev, @arhayka

feat(Table): add modifier zebraStriped (#386)
  src/components/Table/Table.css
  src/components/Table/Table.tsx
  src/components/Table/__stories__/Table.stories.tsx
Owners: @miocene, @fooontic, @kolebayev, @tsvetta, @gizeasy, @nekitk

fix(TextField): fix sides styles (#385)
  src/components/TextField/TextField.css
  src/components/TextField/TextField.tsx
Owners: @miocene, @fooontic, @kolebayev, @tsvetta, @gizeasy, @nekitk

release(1.9.0):
  package.json
Owners: @tsvetta, @gizeasy, @nekitk

changelog(1.9.0):
  CHANGELOG.md
Owners: @miocene, @fooontic, @kolebayev, @arhayka

refactor(components): multicombobox
  src/components/MultiCombobox/MultiCombobox.tsx
  src/components/MultiCombobox/__stories__/MultiCombobox.stories.tsx
  src/components/SelectComponents/Select.css
Owners: @tsvetta, @gizeasy, @nekitk, @miocene, @fooontic, @kolebayev

chore(builder): add README.md, CHANGELOG.md to build
  builder/build.js
  builder/helpers.js
  package.json
Owners: @tsvetta, @gizeasy, @nekitk

Add units doc page
  docs/common/units.mdx
Owners: @miocene, @fooontic, @kolebayev, @arhayka

Update units.mdx
  docs/common/units.mdx
Owners: @miocene, @fooontic, @kolebayev, @arhayka

fix(multicombobox): добавить удаление скрытого блока
  src/components/MultiCombobox/MultiCombobox.tsx
Owners: @tsvetta, @gizeasy, @nekitk

refactor(types): enumeration in types as arrays
  src/components/Avatar/Avatar.tsx
  src/components/Avatar/__stories__/Avatar.mdx
  src/components/Avatar/__stories__/Avatar.stories.tsx
  src/components/Avatar/__tests__/Avatar.test.tsx
  src/components/Badge/Badge.tsx
  src/components/Badge/__stories__/Badge.stories.tsx
  src/components/Button/Button.tsx
  src/components/Button/__stories__/Button.stories.tsx
  src/components/Button/__tests__/Button.test.tsx
  src/components/Checkbox/Checkbox.tsx
  src/components/Checkbox/__stories__/Checkbox.stories.tsx
  src/components/Informer/Informer.tsx
  src/components/Informer/__stories__/Informer.stories.tsx
  src/components/Loader/Loader.tsx
  src/components/Loader/__stories__/Loader.mdx
  src/components/Loader/__stories__/Loader.stories.tsx
  src/components/ProgressSpin/ProgressSpin.tsx
  src/components/ProgressSpin/__stories__/ProgressSpin.mdx
  src/components/ProgressSpin/__stories__/ProgressSpin.stories.tsx
  src/components/Radio/Radio.tsx
  src/components/SnackBar/Item/SnackBar-Item.tsx
  src/components/SnackBar/SnackBar.tsx
  src/components/SnackBar/__tests__/SnackBar.test.tsx
  src/components/Switch/Switch.tsx
  src/components/Switch/__stories__/Switch.stories.tsx
  src/components/Tabs/Tabs.tsx
  src/components/TagBase/TagBase.tsx
  src/components/Text/Text.tsx
  src/components/Text/__stories__/Text.stories.tsx
  src/components/TextField/TextField.tsx
  src/components/TextField/__stories__/TextField.stories.tsx
  src/components/Timer/Timer.tsx
  src/components/User/User.tsx
  src/components/User/__stories__/User.stories.tsx
Owners: @tsvetta, @gizeasy, @nekitk, @miocene, @fooontic, @kolebayev, @arhayka

.github/CODEOWNERS:

* @tsvetta @gizeasy @nekitk
*.md @miocene @fooontic @kolebayev @arhayka
*.mdx @miocene @fooontic @kolebayev @arhayka
*.css @miocene @fooontic @kolebayev
