Repository consta-design-system/uikit, pull requests merged in 2021-12, with the labels that each got.

#1688 docs(workflow): add workflow description
  docs/common/about.stories.mdx
  docs/common/start.stories.mdx
  docs/common/workflow.stories.mdx
Labels: docs

#1816 feat(ProgressStepBar): change example on playground and also change label prop to optional
  src/components/ProgressStepBarCanary/ProgressStepBarItem/ProgressStepBarItem.css
  src/components/ProgressStepBarCanary/ProgressStepBarItem/ProgressStepBarItem.tsx
  src/components/ProgressStepBarCanary/__stories__/ProgressStepBar.stories.tsx
  src/components/ProgressStepBarCanary/helpers.ts
Labels: 🔥🔥 priority

#1803 docs (units): remove slash before $
  docs/common/units.stories.mdx
Labels: docs

#1835 docs(Attachment): docs review
  src/components/Attachment/__stories__/Attachment.docs.mdx
Labels: docs

#1844 feat(MixSpace): add new values for padding & margin
  src/mixs/MixSpace/MixSpace.css
  src/mixs/MixSpace/MixSpace.tsx
  src/mixs/MixSpace/__stories__/MixSpace.stories.mdx
Labels: feature

#1846 docs(Collapse): docs review
  src/components/Collapse/__mocks__/mock.data.ts
  src/components/Collapse/__stories__/Collapse.docs.mdx
  src/components/Collapse/__stories__/Collapse.stories.tsx
Labels: docs

#1845 docs(Informer): docs review
  src/components/Informer/__stories__/Informer.docs.mdx
  src/components/Informer/__stories__/Informer.stories.tsx
Labels: docs

#1855 fix(TextField): fix bug with non-working autofocus
  src/components/Table/NumberFilter/TableNumberFilter.tsx
  src/components/TextField/TextField.tsx
Labels: bug

#1863 docs(useBreakpoints): edit docs
  src/hooks/useBreakpoints/__stories__/useBreakpoints.stories.mdx
Labels: docs

#1867 fix(SnackBar): fix warning with findDOMNode
  src/components/SnackBar/Item/SnackBar-Item.tsx
  src/components/SnackBar/SnackBar.tsx
Labels: bug

#1864 docs(Table): edit docs, add examples
  src/components/Table/__stories__/Table.docs.mdx
  src/components/Table/__stories__/Table.stories.tsx
  src/components/Table/__stories__/examples/TableExampleAlign/TableExampleAlign.tsx
  src/components/Table/__stories__/examples/TableExampleBasic/TableExampleBasic.tsx
  src/components/Table/__stories__/examples/TableExampleBorder/TableExampleBorder.tsx
  src/components/Table/__stories__/examples/TableExampleFilter/TableExampleFilter.tsx
  src/components/Table/__stories__/examples/TableExampleIsResizable/TableExampleIsResizable.tsx
  src/components/Table/__stories__/examples/TableExampleMerge/TableExampleMerge.tsx
  src/components/Table/__stories__/examples/TableExampleOnSortBy/TableExampleOnSortBy.tsx
  src/components/Table/__stories__/examples/TableExampleRenderCell/TableExampleRenderCell.tsx
  src/components/Table/__stories__/examples/TableExampleSize/TableExampleSize.tsx
  src/components/Table/__stories__/examples/TableExampleSort/TableExampleSort.tsx
  src/components/Table/__stories__/examples/TableExampleZebraStriped/TableExampleZebraStriped.tsx
Labels: docs

#1876 feat(DatePicker): add label and caption props, update docs and playground
  src/components/DatePickerCanary/__stories__/DatePicker.docs.mdx
  src/components/DatePickerCanary/__stories__/DatePicker.stories.tsx
  src/components/DatePickerCanary/__stories__/examples/DatePickerExampleCaption/DatePickerExampleCaption.tsx
  src/components/DatePickerCanary/__stories__/examples/DatePickerExampleLabel/DatePickerExampleLabel.tsx
  src/components/DatePickerCanary/__stories__/examples/DatePickerExampleRequired/DatePickerExampleRequired.tsx
  src/components/DatePickerCanary/__stories__/examples/DatePickerExampleStatus/DatePickerExampleStatus.tsx
  src/components/DatePickerCanary/helpers.ts
Labels: feature

#1871 docs(common): write docs about new components creation
  docs/common/about/about.stories.mdx
  docs/common/addComponent/addComponent.stories.mdx
  docs/common/addComponent/components/addComponentData/AddComponentData.css
  docs/common/addComponent/components/addComponentData/AddComponentData.tsx
  docs/common/work/workflow.stories.mdx
Labels: docs

#1894 docs(review): add images
  src/components/Card/__stories__/Card.image.svg
  src/components/ChoiceGroup/__stories__/ChoiceGroup.image.svg
  src/components/ContextMenu/__stories__/ContextMenu.image.svg
  src/components/File/__stories__/File.image.svg
  src/components/FileField/__stories__/FileField.image.svg
  src/components/Grid/__stories__/Grid.image.svg
  src/components/Header/__stories__/Header.image.svg
  src/components/Informer/__stories__/Informer.image.svg
  src/components/LayoutCanary/__stories__/Layout.image.svg
  src/components/Pagination/__stories__/Pagination.image.svg
  src/components/Popover/__stories__/Popover.image.svg
  src/components/ProgressSpin/__stories__/ProgressSpin.image.svg
  src/components/ProgressStepBarCanary/__stories__/ProgressStepBar.image.svg
  src/components/Skeleton/__stories__/Skeleton.image.svg
  src/components/Steps/__stories__/Steps.image.svg
  src/components/Table/__stories__/Table.image.svg
  src/components/Text/__stories__/Text.image.svg
  src/components/TextField/__stories__/TextField.image.svg
  src/uiKit/components/ComponentsGridWithData/data/data.ts
  src/uiKit/components/ComponentsGridWithData/data/images/CardImage.tsx
  src/uiKit/components/ComponentsGridWithData/data/images/ChoiceGroupImage.tsx
  src/uiKit/components/ComponentsGridWithData/data/images/ContextMenuImage.tsx
  src/uiKit/components/ComponentsGridWithData/data/images/FileFieldImage.tsx
  src/uiKit/components/ComponentsGridWithData/data/images/FileImage.tsx
  src/uiKit/components/ComponentsGridWithData/data/images/GridImage.tsx
  src/uiKit/components/ComponentsGridWithData/data/images/HeaderImage.tsx
  src/uiKit/components/ComponentsGridWithData/data/images/InformerImage.tsx
  src/uiKit/components/ComponentsGridWithData/data/images/LayoutImage.tsx
  src/uiKit/components/ComponentsGridWithData/data/images/PaginationImage.tsx
  src/uiKit/components/ComponentsGridWithData/data/images/PopoverImage.tsx
  src/uiKit/components/ComponentsGridWithData/data/images/ProgressSpinImage.tsx
  src/uiKit/components/ComponentsGridWithData/data/images/ProgressStepBarImage.tsx
  src/uiKit/components/ComponentsGridWithData/data/images/SkeletonImage.tsx
  src/uiKit/components/ComponentsGridWithData/data/images/StepsImage.tsx
  src/uiKit/components/ComponentsGridWithData/data/images/TableImage.tsx
  src/uiKit/components/ComponentsGridWithData/data/images/TextFieldImage.tsx
  src/uiKit/components/ComponentsGridWithData/data/images/TextImage.tsx
Labels: docs
