Repository consta-design-system/uikit, pull requests merged in 2021-10, with the labels that each got.

#1606 Feat/field label
  src/components/Combobox/__stories__/Combobox.docs.mdx
  src/components/Combobox/__stories__/Combobox.stories.tsx
  src/components/Combobox/__stories__/examples/ComboboxExampleLabel/ComboboxExampleLabel.tsx
  src/components/Combobox/helpers.ts
  src/components/FieldCaption/FieldCaption.tsx
  src/components/FieldLabel/FieldLabel.tsx
  src/components/Header/__tests__/HeaderSearchBar.test.tsx
  src/components/Select/__stories__/Select.docs.mdx
  src/components/Select/__stories__/Select.stories.tsx
  src/components/Select/__stories__/examples/SelectExampleLabel/SelectExampleLabel.tsx
  src/components/Select/helpers.ts
  src/components/SelectComponents/Select.css
  src/components/SelectComponents/SelectContainer/SelectContainer.css
  src/components/SelectComponents/SelectContainer/SelectContainer.tsx
  src/components/SelectComponents/__tests__/Container.test.tsx
  src/components/SelectComponents/__tests__/SelectContainer.test.tsx
  src/components/Text/Text.tsx
  src/components/TextField/TextField.css
  src/components/TextField/TextField.tsx
  src/components/TextField/__stories__/TextField.docs.mdx
  src/components/TextField/__stories__/TextField.stories.tsx
  src/components/TextField/__stories__/examples/TextFieldExampleCaption/TextFieldExampleCaption.tsx
  src/components/TextField/__stories__/examples/TextFieldExampleLabel/TextFieldExampleLabel.css
  src/components/TextField/__stories__/examples/TextFieldExampleLabel/TextFieldExampleLabel.tsx
  src/components/TextField/__tests__/TextField.test.tsx
  src/components/TextField/helpers.ts
  src/components/UserSelect/__stories__/UserSelect.docs.mdx
  src/components/UserSelect/__stories__/UserSelect.stories.tsx
  src/components/UserSelect/__stories__/examples/UserSelectExampleLabel/UserSelectExampleLabel.tsx
  src/components/UserSelect/helpers.ts
Labels: feature, 🔥🔥🔥 priority

#1618 fix(SnackBar): fix bug with not working autoclose in playground
  src/components/SnackBar/__stories__/SnackBar.stories.tsx
Labels: bug

#1619 docs(RadioGroup): add align example
  src/components/RadioGroup/__mocks__/data.mock.ts
  src/components/RadioGroup/__stories__/RadioGroup.docs.mdx
  src/components/RadioGroup/__stories__/examples/RadioGroupExampleAlign/RadioGroupExampleAlign.tsx
Labels: docs

#1625 feat(Collapse): add divider from label to body
  src/components/Collapse/Collapse.css
  src/components/Collapse/Collapse.tsx
Labels: feature

#1626 docs(Modal): edit docs and examples
  src/components/Modal/__stories__/Modal.docs.mdx
  src/components/Modal/__stories__/Modal.stories.tsx
  src/components/Modal/__stories__/examples/ModalExample/ModalExample.tsx
Labels: docs

#1622 docs(Combobox): docs review
  src/components/Combobox/__mocks__/data.mock.ts
  src/components/Combobox/__stories__/Combobox.docs.mdx
  src/components/Combobox/__stories__/Combobox.stories.tsx
Labels: docs

#1637 docs(Table): docs review
  src/components/Table/__stories__/Table.docs.mdx
  src/components/Table/__stories__/Table.stories.tsx
Labels: docs

#1640 docs(Layout): edit docs
  src/components/LayoutCanary/__stories__/Layout.docs.mdx
  src/components/LayoutCanary/__stories__/examples/LayoutExampleBasic/LayoutExampleBasic.tsx
  src/components/LayoutCanary/__stories__/examples/LayoutExampleDirection/LayoutExampleDirection.tsx
Labels: docs

#1643 Feat/progress step bar
  src/components/ProgressStepBarCanary/ProgressStepBar.css
  src/components/ProgressStepBarCanary/ProgressStepBarCanary.tsx
  src/components/ProgressStepBarCanary/ProgressStepBarItem/ProgressStepBarItem.css
  src/components/ProgressStepBarCanary/ProgressStepBarItem/ProgressStepBarItem.tsx
  src/components/ProgressStepBarCanary/ProgressStepBarLine/ProgressStepBarLine.css
  src/components/ProgressStepBarCanary/ProgressStepBarLine/ProgressStepBarLine.tsx
  src/components/ProgressStepBarCanary/__stories__/ProgressStepBar.docs.mdx
  src/components/ProgressStepBarCanary/__stories__/ProgressStepBar.stories.tsx
  src/components/ProgressStepBarCanary/__stories__/examples/ProgressStepBarExampleContent/ProgressStepBarExampleContent.css
  src/components/ProgressStepBarCanary/__stories__/examples/ProgressStepBarExampleContent/ProgressStepBarExampleContent.tsx
  src/components/ProgressStepBarCanary/__stories__/examples/ProgressStepBarExampleDirection/ProgressStepBarExampleDirection.tsx
  src/components/ProgressStepBarCanary/__stories__/examples/ProgressStepBarExampleProgress/ProgressStepBarExampleProgress.tsx
  src/components/ProgressStepBarCanary/__stories__/examples/ProgressStepBarExampleSize/ProgressStepBarExampleSize.tsx
  src/components/ProgressStepBarCanary/__stories__/examples/ProgressStepBarExampleTooltip/ProgressStepBarExampleTooltip.tsx
  src/components/ProgressStepBarCanary/helpers.ts
Labels: feature
