Repository consta-design-system/uikit, pull requests merged in 2021-09, with the labels that each got.

#1470 docs(common): add how to docs, edit common docs
  docs/common/developers/commits-style.stories.mdx
  docs/common/developers/contributors.stories.mdx
  docs/common/developers/docs.stories.mdx
  docs/common/developers/file-structure/file-structure-components.stories.mdx
  docs/common/developers/issues.stories.mdx
  docs/common/developers/review.stories.mdx
  docs/common/howToGo.stories.mdx
  docs/common/units.stories.mdx
Labels: docs

#1489 feat(Table): add onRowClick callback
  src/components/Table/Table.tsx
  src/components/Table/__stories__/Table.docs.mdx
  src/components/Table/__stories__/Table.stories.tsx
Labels: feature, 🔥🔥🔥 priority

#1526 fix(User): исправить опечатку
  src/components/User/__stories__/User.stories.tsx
Labels: bug

#1522 docs(Switch): docs review
  src/components/Switch/__stories__/Switch.docs.mdx
  src/components/Switch/__stories__/Switch.stories.tsx
  src/components/Switch/__stories__/examples/SwitchExampleName/SwitchExampleName.tsx
Labels: docs

#1521 docs(Select): docs review
  src/components/Select/__mocks__/data.mock.ts
  src/components/Select/__stories__/Select.docs.mdx
  src/components/Select/__stories__/Select.stories.tsx
Labels: docs

#1520 docs(MultiComboboxDepecated): docs review
  src/components/MultiComboboxDeprecated/__stories__/MultiCombobox.docs.mdx
  src/components/MultiComboboxDeprecated/__stories__/MultiCombobox.stories.tsx
  src/components/MultiComboboxDeprecated/__stories__/examples/MultiComboboxExample/MultiComboboxExample.tsx
Labels: docs

#1519 docs(FileField): docs review
  src/components/FileField/__stories__/FileField.docs.mdx
Labels: docs

#1517 docs(ContextMenu): docs review
  src/components/ContextMenu/__stories__/ContextMenu.docs.mdx
  src/components/ContextMenu/__stories__/ContextMenu.stories.tsx
Labels: docs

#1516 docs(ChoiceGroup): docs review
  src/components/ChoiceGroup/__stories__/ChoiceGroup.docs.mdx
  src/components/ChoiceGroup/__stories__/examples/ChoiceGroupExampleText/ChoiceGroupExampleText.tsx
Labels: docs

#1512 docs(ComboboxDeprecated): docs review
  src/components/ComboboxDeprecated/__mocks__/data.mock.ts
  src/components/ComboboxDeprecated/__stories__/Combobox.docs.mdx
  src/components/ComboboxDeprecated/__stories__/Combobox.stories.tsx
  src/components/ComboboxDeprecated/__stories__/examples/ComboboxExampleText/ComboboxExampleText.tsx
Labels: docs

#1511 docs(Checkbox): docs review
  src/components/Checkbox/__stories__/Checkbox.docs.mdx
Labels: docs

#1510 docs(Button): docs review
  src/components/Button/__stories__/Button.docs.mdx
  src/components/Button/__stories__/Button.stories.tsx
Labels: docs

#1509 docs(BasicSelect): docs review
  src/components/BasicSelectDeprecated/__stories__/BasicSelect.docs.mdx
  src/components/BasicSelectDeprecated/__stories__/BasicSelect.stories.tsx
  src/components/BasicSelectDeprecated/__stories__/examples/BasicSelectExampleText/BasicSelectExampleText.tsx
Labels: docs

#1507 docs(Theme): rewrite docs
  src/components/Theme/__stories__/Theme.docs.mdx
  src/components/Theme/__stories__/examples/ThemeExampleColors/ThemeExampleColors.tsx
Labels: docs

#1454 docs(thematization): rewrite docs about theme
  docs/thematization/howToConnectTheme.stories.mdx
  docs/thematization/howToCreateYourPreset.stories.mdx
  docs/thematization/whatAreThemes.stories.mdx
Labels: docs

#1528 feat(TabsFitModeScrollWrapper): add native scroll
  src/components/Tabs/FitModeScrollWrapper/TabsFitModeScrollWrapper.css
Labels: feature

#1508 Feat/card
  src/components/Card/Card.tsx
  src/components/Card/__stories__/Card.docs.mdx
  src/components/Card/__stories__/Card.stories.tsx
  src/components/Card/__stories__/examples/CardExample/CardExample.tsx
  src/mixs/MixCard/MixCard.css
  src/mixs/MixCard/MixCard.tsx
Labels: feature

#1532 Docs/mixins
  src/components/Card/__stories__/Card.docs.mdx
  src/components/Table/__stories__/Table.docs.mdx
  src/mixs/MixCard/__stories__/MixCard.docs.mdx
  src/mixs/MixCard/__stories__/MixCard.stories.tsx
  src/mixs/MixCard/__stories__/examples/MixCardExample/MixCardExample.tsx
  src/mixs/MixCard/__stories__/examples/MixCardExampleForm/MixCardExampleForm.css
  src/mixs/MixCard/__stories__/examples/MixCardExampleForm/MixCardExampleForm.tsx
  src/mixs/MixCard/__stories__/examples/MixCardExampleStates/MixCardExampleStates.css
  src/mixs/MixCard/__stories__/examples/MixCardExampleStates/MixCardExampleStates.tsx
Labels: docs

#1562 docs(MixCard): edit docs, add examples
  src/mixs/MixCard/__stories__/MixCard.stories.mdx
  src/mixs/MixCard/__stories__/examples/MixCardExample/MixCardExample.tsx
  src/mixs/MixCard/__stories__/examples/MixCardExampleShadow/MixCardExampleShadow.css
  src/mixs/MixCard/__stories__/examples/MixCardExampleShadow/MixCardExampleShadow.tsx
  src/mixs/MixCard/__stories__/examples/MixCardExampleSpace/MixCardExampleSpace.tsx
Labels: docs

#1573 docs(common): rewrite main page
  docs/common/about.stories.mdx
Labels: docs

#1554 Feat/layout
  src/components/LayoutCanary/Layout.css
  src/components/LayoutCanary/Layout.tsx
  src/components/LayoutCanary/__mocks__/mock.data.ts
  src/components/LayoutCanary/__stories__/Layout.docs.mdx
  src/components/LayoutCanary/__stories__/Layout.stories.tsx
  src/components/LayoutCanary/__stories__/LayoutStories.css
  src/components/LayoutCanary/__stories__/examples/LayoutExampleAnchor/LayoutExampleAnchor.css
  src/components/LayoutCanary/__stories__/examples/LayoutExampleAnchor/LayoutExampleAnchor.tsx
  src/components/LayoutCanary/__stories__/examples/LayoutExampleBasic/LayoutExampleBasic.css
  src/components/LayoutCanary/__stories__/examples/LayoutExampleBasic/LayoutExampleBasic.tsx
  src/components/LayoutCanary/__stories__/examples/LayoutExampleDirection/LayoutExampleDirection.css
  src/components/LayoutCanary/__stories__/examples/LayoutExampleDirection/LayoutExampleDirection.tsx
  src/components/LayoutCanary/__stories__/examples/LayoutExampleFixed/LayoutExampleFixed.css
  src/components/LayoutCanary/__stories__/examples/LayoutExampleFixed/LayoutExampleFixed.tsx
  src/components/LayoutCanary/__stories__/examples/LayoutExampleRowFixed/LayoutExampleRowFixed.css
  src/components/LayoutCanary/__stories__/examples/LayoutExampleRowFixed/LayoutExampleRowFixed.tsx
  src/components/LayoutCanary/__tests__/UseFixed.test.tsx
  src/components/LayoutCanary/useFixed.ts
Labels: feature, 🔥🔥🔥 priority

#1613 docs(Card): edit docs
  src/components/Card/__stories__/Card.docs.mdx
  src/components/Card/__stories__/examples/CardExampleForm/CardExampleForm.tsx
  src/components/Card/__stories__/examples/CardExampleShadow/CardExampleShadow.tsx
  src/components/Card/__stories__/examples/CardExampleSpace/CardExampleSpace.tsx
  src/components/Card/__stories__/examples/CardExampleState/CardExampleState.tsx
Labels: docs
