Repository consta-design-system/uikit, pull requests merged in 2022-01, with the labels that each got.

#1918 docs(Timer): docs reivew
  src/components/Timer/__stories__/Timer.docs.mdx
Labels: docs

#1917 docs(SnackBar): docs review
  src/components/SnackBar/__stories__/SnackBar.docs.mdx
Labels: docs

#1915 docs(ProgressSpin): docs review
  src/components/ProgressSpin/__stories__/ProgressSpin.docs.mdx
Labels: docs

#1913 docs(Loader): docs review
  src/components/Loader/__stories__/Loader.docs.mdx
Labels: docs

#1912 docs(Popover): docs review
  src/components/Popover/__stories__/Popover.docs.mdx
  src/components/Popover/__stories__/Popover.stories.tsx
Labels: docs

#1909 docs(Badge): docs review
  src/components/Badge/__stories__/Badge.docs.mdx
  src/components/Badge/__stories__/Badge.stories.tsx
Labels: docs

#1914 docs(ThemeToggler): docs review
  src/components/ThemeToggler/__stories__/ThemeToggler.docs.mdx
Labels: docs

#1919 docs(Sidebar): docs review
  src/components/Sidebar/__stories__/Sidebar.docs.mdx
  src/components/Sidebar/__stories__/Sidebar.stories.tsx
  src/components/Sidebar/__stories__/examples/SidebarExample/SidebarExample.tsx
Labels: docs

#1927 refactor(mixCard): added usage of cnMixSpace for padding
  src/mixs/MixCard/MixCard.css
  src/mixs/MixCard/MixCard.tsx
Labels: improvement

#1932 fix(DatePicker): fix bug with incorrect popover position
  src/components/DatePickerCanary/DatePickerFieldTypeDate/DatePickerFieldTypeDate.tsx
  src/components/TextField/TextField.tsx
  src/components/TextField/__stories__/TextField.docs.mdx
  src/components/TextField/helpers.ts
Labels: 🔥🔥 priority, improvement

#1882 feat(DatePicker): add addtional controls to datepicker / dateTime
  src/components/DatePickerCanary/DatePickerCanary.tsx
  src/components/DatePickerCanary/DatePickerDropdown/DatePickerDropdown.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeDateRange/helpers.ts
  src/components/DatePickerCanary/DatePickerTypeDate/DatePickerTypeDate.tsx
  src/components/DatePickerCanary/DatePickerTypeDateRange/DatePickerTypeDateRange.tsx
  src/components/DatePickerCanary/__stories__/DatePicker.docs.mdx
  src/components/DatePickerCanary/__stories__/DatePicker.stories.tsx
  src/components/DatePickerCanary/__stories__/examples/DatePickerExampleAdditionalControls/DatePickerExampleAdditionalControls.tsx
  src/components/DatePickerCanary/helpers.ts
  src/components/DateTimeCanary/DateTimeAdditionalControls/DateTimeAdditionalControls.css
  src/components/DateTimeCanary/DateTimeAdditionalControls/DateTimeAdditionalControls.tsx
  src/components/DateTimeCanary/DateTimeTypeDate/DateTimeTypeDate.tsx
  src/components/DateTimeCanary/DateTimeTypeDateTime/DateTimeTypeDateTime.tsx
  src/components/DateTimeCanary/DateTimeTypeMonth/DateTimeTypeMonth.tsx
  src/components/DateTimeCanary/DateTimeTypeTime/DateTimeTypeTime.tsx
  src/components/DateTimeCanary/DateTimeTypeYear/DateTimeTypeYear.tsx
  src/components/DateTimeCanary/__stories__/DateTime.docs.mdx
  src/components/DateTimeCanary/__stories__/DateTime.stories.tsx
  src/components/DateTimeCanary/helpers/types.ts
Labels: feature

#1969 docs(import): add import react to all missing examples
  README.md
  docs/common/start.stories.mdx
  docs/thematization/howToConnectTheme.stories.mdx
Labels: docs

#1979 fix(Table): fix bug with render function
  src/components/Table/__stories__/Table.stories.tsx
Labels: bug, 🔥🔥 priority

#1971 docs(review): add images for charts & section
  src/components/SliderCanary/__stories__/Slider.image.svg
  src/uiKit/components/ComponentsGridWithData/data/additionalData.ts
  src/uiKit/components/ComponentsGridWithData/data/data.ts
  src/uiKit/components/ComponentsGridWithData/data/images/SliderImage.tsx
  src/uiKit/components/ComponentsGridWithData/data/imagesForAdditionalData/AreaImage.tsx
  src/uiKit/components/ComponentsGridWithData/data/imagesForAdditionalData/BarImage.tsx
  src/uiKit/components/ComponentsGridWithData/data/imagesForAdditionalData/BulletImage.tsx
  src/uiKit/components/ComponentsGridWithData/data/imagesForAdditionalData/ColumnImage.tsx
  src/uiKit/components/ComponentsGridWithData/data/imagesForAdditionalData/DualAxesImage.tsx
  src/uiKit/components/ComponentsGridWithData/data/imagesForAdditionalData/FeedbackFormImage.tsx
  src/uiKit/components/ComponentsGridWithData/data/imagesForAdditionalData/GaugeImage.tsx
  src/uiKit/components/ComponentsGridWithData/data/imagesForAdditionalData/HistogramImage.tsx
  src/uiKit/components/ComponentsGridWithData/data/imagesForAdditionalData/LineImage.tsx
  src/uiKit/components/ComponentsGridWithData/data/imagesForAdditionalData/PieImage.tsx
  src/uiKit/components/ComponentsGridWithData/data/imagesForAdditionalData/RadarImage.tsx
  src/uiKit/components/ComponentsGridWithData/data/imagesForAdditionalData/ScatterImage.tsx
  src/uiKit/components/ComponentsGridWithData/data/imagesForAdditionalData/StatsImage.tsx
  src/uiKit/components/ComponentsGridWithData/data/imagesForAdditionalData/WaterfallImage.tsx
Labels: docs
