Repository consta-design-system/uikit, pull requests merged in 2022-04, with the labels that each got.

#2175 test(ContextMenuCanary): add tests to ContextMenuCanary
  src/components/ContextMenuCanary/__tests__/ContextMenu.test.tsx
Labels: test

#2173 fix(ContextMenuCanary): fix timeout on close inner levels
  src/components/ContextMenuCanary/ContextMenuLevel/ContextMenuLevel.tsx
  src/components/ContextMenuCanary/ContextMenuLevels/ContextMenuLevels.tsx
Labels: bug

#2182 docs(Button): add adaptive section
  src/components/Button/__stories__/Button.docs.mdx
  src/components/Button/__stories__/examples/ButtonExampleAdaptive/ButtonExampleAdaptive.tsx
Labels: docs

#2186 docs(ChoiceGroup): add adaptive section
  src/components/ChoiceGroup/ChoiceGroup.css
  src/components/ChoiceGroup/ChoiceGroup.tsx
  src/components/ChoiceGroup/__stories__/ChoiceGroup.docs.mdx
  src/components/ChoiceGroup/__stories__/examples/ChoiceGroupExampleAdaptive/ChoiceGroupExampleAdaptive.tsx
  src/components/ChoiceGroup/__stories__/examples/ChoiceGroupExampleAdaptive/ChoiceGroupExampleAdaptiveScroll.css
  src/components/ChoiceGroup/__stories__/examples/ChoiceGroupExampleTextOverflow/ChoiceGroupExampleTextOverflow.tsx
Labels: docs

#2188 docs(ContextMenu): fix examples
  src/components/ContextMenuCanary/__stories__/ContextMenu.docs.mdx
  src/components/ContextMenuCanary/__stories__/examples/ContextMenuExampleOutsideClick/ContextMenuExampleOutsideClick.tsx
Labels: docs

#2199 docs(common): change links to vercel
  README.md
  docs/common/about/principles.stories.mdx
  docs/common/addComponent/addComponent.stories.mdx
  docs/common/developers/contributors-design.stories.mdx
  docs/common/developers/design.stories.mdx
  docs/common/developers/docs.stories.mdx
  docs/common/repos/components/ReposData/ReposData.tsx
  docs/common/sla/sla.stories.mdx
  docs/common/work/howToGo.stories.mdx
  docs/common/work/issues.stories.mdx
  src/icons/Icon/__stories__/Icons.stories.tsx
  src/icons/IconFacebook/IconFacebook_size_m.tsx
  src/icons/IconFacebook/IconFacebook_size_s.tsx
  src/icons/IconInstagram/IconInstagram_size_m.tsx
  src/icons/IconInstagram/IconInstagram_size_s.tsx
  src/icons/IconVkontakte/IconVkontakte_size_m.tsx
  src/icons/IconVkontakte/IconVkontakte_size_s.tsx
  src/icons/IconYandexDzen/IconYandexDzen_size_m.tsx
  src/icons/IconYandexDzen/IconYandexDzen_size_s.tsx
  src/icons/IconYoutube/IconYoutube_size_m.tsx
  src/icons/IconYoutube/IconYoutube_size_s.tsx
  src/uiKit/components/ComponentsGridWithData/data/additionalData.ts
  src/uiKit/components/ComponentsGridWithData/data/data.ts
Labels: docs

#2183 feat(BreadcrumbsCanary): add inner submenu
  src/components/BreadcrumbsCanary/BreadcrumbsCanary.tsx
  src/components/BreadcrumbsCanary/BreadcrumbsFitModeDropdown/BreadcrumbsFitModeDropdown.tsx
  src/components/BreadcrumbsCanary/BreadcrumbsItem/BreadcrumbsItem.css
  src/components/BreadcrumbsCanary/BreadcrumbsItem/BreadcrumbsItem.tsx
  src/components/BreadcrumbsCanary/BreadcrumbsMore/BreadcrumbsMore.tsx
  src/components/BreadcrumbsCanary/__stories__/Breadcrumbs.docs.mdx
  src/components/BreadcrumbsCanary/__stories__/Breadcrumbs.stories.tsx
  src/components/BreadcrumbsCanary/__stories__/examples/BreadcrumbsExample/BreadcrumbsExample.tsx
  src/components/BreadcrumbsCanary/helpers.ts
  src/components/BreadcrumbsCanary/types.ts
  src/components/ContextMenuCanary/__stories__/ContextMenu.docs.mdx
  src/components/ContextMenuCanary/types.ts
Labels: feature

#2206 docs(review): add gantt picture
  src/uiKit/components/ComponentsGridWithData/data/additionalData.ts
  src/uiKit/components/ComponentsGridWithData/data/data.ts
  src/uiKit/components/ComponentsGridWithData/data/imagesForAdditionalData/GanttImage.tsx
Labels: docs

#2232 fix(SelectDropdown): fix bug with items index
  src/components/SelectComponents/SelectDropdown/SelectDropdown.tsx
Labels: bug

#2226 docs: change links to the landing
  README.md
  docs/common/about/about.stories.mdx
  docs/common/sla/sla.stories.mdx
  docs/common/work/issues.stories.mdx
Labels: docs

#2222 docs(Grid): add adaptive section
  src/components/Grid/__stories__/Grid.docs.mdx
Labels: docs

#2224 docs(Layout): add adaptive section
  src/components/LayoutCanary/__stories__/Layout.docs.mdx
Labels: docs

#2225 docs(Pagination): add adaptive section
  src/components/Pagination/__stories__/Pagination.docs.mdx
  src/components/Pagination/__stories__/examples/PaginationExample/PaginationExample.tsx
Labels: docs

#2236 fix(Table): fix lazyload
  src/components/Table/Table.tsx
Labels: bug

#2239 docs(Responses): add adaptive section
  src/components/Responses/__stories__/Responses.docs.mdx
  src/components/Responses/__stories__/examples/ResponsesExample/ResponsesExample.tsx
  src/components/ResponsesExit/ResponsesExit.tsx
Labels: docs

#2245 docs(global): remove gpn
  README.md
  docs/common/about/about.stories.mdx
  docs/common/about/principles.stories.mdx
  docs/common/developers/docs.stories.mdx
  docs/common/sla/sla.stories.mdx
  src/components/Text/__stories__/Text.docs.mdx
  src/components/Text/__stories__/examples/TextExampleAlign/TextExampleAlign.tsx
  src/components/Text/__stories__/examples/TextExampleDecoration/TextExampleDecoration.tsx
  src/components/Text/__stories__/examples/TextExampleLabelAndData/TextExampleLabelAndData.tsx
  src/components/Text/__stories__/examples/TextExampleLineheight/TextExampleLineheight.tsx
  src/components/Text/__stories__/examples/TextExampleSize/TextExampleSize.tsx
  src/components/Text/__stories__/examples/TextExampleSpacing/TextExampleSpacing.tsx
  src/components/Text/__stories__/examples/TextExampleStyle/TextExampleStyle.tsx
  src/components/Text/__stories__/examples/TextExampleTransform/TextExampleTransform.tsx
  src/components/Text/__stories__/examples/TextExampleView/TextExampleView.tsx
  src/components/Text/__stories__/examples/TextExampleWeight/TextExampleWeight.tsx
Labels: docs

#2237 docs(common): add SVG parameters to create icon docs
  docs/common/developers/createIcons.stories.mdx
  docs/common/icons/icons.stories.mdx
Labels: docs

#2253 docs(DatePicker): add docs for type Range fields
  src/components/DatePickerCanary/__stories__/DatePicker.docs.mdx
  src/components/DatePickerCanary/__stories__/examples/DatePickerExampleTwoFields/DatePickerExampleTwoFields.tsx
Labels: docs

#2254 Feat/date picker type year
  src/components/DatePickerCanary/DatePickerCanary.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeYear/DatePickerFieldTypeYear.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeYear/helpers.ts
  src/components/DatePickerCanary/DatePickerFieldTypeYearRange/DatePickerFieldTypeYearRange.tsx
  src/components/DatePickerCanary/DatePickerFieldTypeYearRange/helpers.ts
  src/components/DatePickerCanary/DatePickerTypeYear/DatePickerTypeYear.tsx
  src/components/DatePickerCanary/DatePickerTypeYearRange/DatePickerTypeYearRange.tsx
  src/components/DatePickerCanary/__stories__/DatePicker.docs.mdx
  src/components/DatePickerCanary/__stories__/DatePicker.stories.tsx
  src/components/DatePickerCanary/__stories__/examples/DatePickerExampleType/DatePickerExampleType.tsx
  src/components/DatePickerCanary/__tests__/DatePicker_type_year.test.tsx
  src/components/DatePickerCanary/__tests__/DatePicker_type_yearRange.test.tsx
  src/components/DatePickerCanary/helpers.ts
  src/components/DatePickerCanary/types.ts
Labels: feature

#2256 docs(Combobox): verify examples
  src/components/Combobox/__stories__/Combobox.docs.mdx
Labels: docs

#2257 fix(TableSelectedOptionsList): add ellipsis to filter list
  src/components/Table/SelectedOptionsList/TableSelectedOptionsList.css
Labels: bug
