Repository consta-design-system/uikit, pull requests merged in 2022-07, with the labels that each got.

#2424 feat(Fonts): add new font weight
  src/components/Text/Text.css
  src/components/Text/Text.tsx
  src/components/Theme/_size/Theme_size_gpnDefault.css
Labels: feature

#2425 fix(Table): fix wrap text on cell
  src/components/Table/Cell/TableCell.css
  src/components/Table/Cell/TableCell.tsx
  src/components/Table/Table.tsx
  src/components/Table/__stories__/Table.docs.mdx
  src/components/Table/__stories__/examples/TableExampleCellWrap/TableExampleCellWrap.tsx
Labels: bug, feature

#2435 docs(Badge): add how to use section
  src/components/Badge/__stories__/Badge.docs.mdx
  src/components/Badge/__stories__/examples/BadgeExampleAs/BadgeExampleAs.tsx
  src/components/Badge/__stories__/examples/BadgeExampleStatus/BadgeExampleStatus.tsx
  src/components/Badge/__stories__/examples/BadgeExampleUse/BadgeExampleUse.tsx
Labels: docs

#2447 docs(Theme): add shadows description
  src/components/Theme/__stories__/Theme.docs.mdx
Labels: docs

#2445 docs(Breadcrumbs): fix misprint
  src/components/BreadcrumbsCanary/__stories__/Breadcrumbs.docs.mdx
Labels: docs

#2442 docs(Button): add too big label example
  src/components/Button/__stories__/Button.docs.mdx
  src/components/Button/__stories__/examples/ButtonExampleName/ButtonExampleName.tsx
Labels: docs

#2443 docs(about): add important links
  docs/common/about/about.stories.mdx
  docs/common/about/components/AboutData/AboutData.css
  docs/common/about/components/AboutData/AboutData.tsx
Labels: docs
