Repository consta-design-system/uikit, pull requests merged in 2022-06, with the labels that each got.

#2344 docs(Header): add links to other headers
  src/components/Header/__stories__/Header.docs.mdx
Labels: docs

#2345 docs(Table): add links to other tables
  src/components/Table/__stories__/Table.docs.mdx
Labels: docs

#2346 docs(Responses): add link to gpn-responses
  src/components/Responses/__stories__/Responses.docs.mdx
Labels: docs

#2360 docs(DragNDropField): edit docs for local
  src/components/DragNDropField/__stories__/DragNDropField.docs.mdx
Labels: docs

#2364 Docs/grid
  src/components/Grid/__stories__/Grid.docs.mdx
Labels: docs

#2383 feat(ProgressLine): add ProgressLine component
  src/components/ProgressLine/ProgressLine.css
  src/components/ProgressLine/ProgressLine.tsx
  src/components/ProgressLine/__stories__/ProgressLine.docs.mdx
  src/components/ProgressLine/__stories__/ProgressLine.stories.tsx
  src/components/ProgressLine/__stories__/examples/ProgressLineExampleMode/ProgressLineExampleMode.tsx
  src/components/ProgressLine/__stories__/examples/ProgressLineExampleSize/ProgressLineExampleSize.tsx
  src/components/ProgressLine/types.ts
  src/components/ProgressSpin/ProgressSpin.tsx
  src/components/ProgressSpin/__stories__/ProgressSpin.docs.mdx
  src/components/ProgressSpin/__stories__/ProgressSpin.stories.tsx
  src/components/ProgressSpin/__stories__/examples/ProgressSpinExampleProgress/ProgressSpinExampleProgress.tsx
  src/components/ProgressSpin/__stories__/examples/ProgressSpinExampleSize/ProgressSpinExampleSize.tsx
  src/components/ProgressSpin/__tests__/ProgressSpin.test.tsx
Labels: feature

#2395 fix(User): fix word wrap
  src/components/User/User.css
Labels: bug

#2394 Feat/text field
  src/components/TextField/TextField.tsx
  src/components/TextField/__stories__/TextField.docs.mdx
  src/components/TextField/types.ts
Labels: feature

#2382 fix(Slider): fix work of slider on a big and small values
  src/components/SliderCanary/SliderCanary.tsx
  src/components/SliderCanary/SliderLine/SliderLine.css
  src/components/SliderCanary/SliderPoint/SliderPoint.css
  src/components/SliderCanary/useSlider/helper.ts
  src/components/SliderCanary/useSlider/useSlider.ts
  src/components/SliderCanary/useSliderStationing.ts
Labels: bug

#2416 feat(MixCard): add border prop to mixin
  src/components/Card/Card.tsx
  src/components/Card/__stories__/Card.docs.mdx
  src/components/Card/__stories__/Card.stories.tsx
  src/components/Card/__stories__/examples/CardExampleBorder/CardExampleBorder.tsx
  src/mixs/MixCard/MixCard.css
  src/mixs/MixCard/MixCard.tsx
  src/mixs/MixCard/__stories__/MixCard.stories.mdx
  src/mixs/MixCard/__stories__/examples/MixCardExampleBorder/MixCardExampleBorder.css
  src/mixs/MixCard/__stories__/examples/MixCardExampleBorder/MixCardExampleBorder.tsx
Labels: feature

#2413 docs(DragNDropFiel): edit locale descriptoin
  src/components/DragNDropField/__stories__/DragNDropField.docs.mdx
Labels: docs

#2414 docs(DatePicker): add withClearButton description
  src/components/DatePickerCanary/__stories__/DatePicker.docs.mdx
  src/components/DatePickerCanary/__stories__/examples/DatePickerExampleWithClearButton/DatePickerExampleWithClearButton.tsx
Labels: docs

#2417 docs(TextField): add docs for incrementButton, withClearButton and type=password
  src/components/TextField/__stories__/TextField.docs.mdx
  src/components/TextField/__stories__/TextField.stories.tsx
  src/components/TextField/__stories__/examples/TextFieldExampleIncrementButtons/TextFieldExampleIncrementButtons.tsx
  src/components/TextField/__stories__/examples/TextFieldExampleType/TextFieldExampleType.tsx
  src/components/TextField/__stories__/examples/TextFieldExampleWithClearButton/TextFieldExampleWithClearButton.tsx
Labels: docs
